@if (display$ | async; as display) {
  @if (display.length > 0) {
    <div fxLayout="row" fxLayoutGap="5px" class="display-container">
      @for (tab of display; track tab) {
        <div fxLayout="column" fxLayoutGap="1px">
          @for (row of tab; track row) {
            <div fxLayout="row" fxLayoutGap="1px">
              @for (slot of row; track slot) {
                @if (slot) {
                  <img src="./assets/icons/slot_full.png" alt="">
                } @else {
                  <img src="./assets/icons/slot_empty.png" alt="">
                }
              }
            </div>
          }
        </div>
      }
    </div>
  } @else {
    {{'INVENTORY.Unknown_position' | translate}}
  }
}
