.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .title-and-desc {
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;

        mat-panel-title {
            display: flex;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 0 0 auto;
            width: 25%;
            .title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            mat-icon {
                margin-left: 5px;
            }
            &.mobile {
                .title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: .8em;
                }
                width: 100%;
            }
        }

        mat-panel-description {
            flex-grow: 1;
            overflow: hidden;
            .description {
                display: flex;
                align-items: center;
                flex: 1 1 auto;
                overflow: hidden;
                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .author-avatar {
                    border-radius: 50%;
                    height: 30px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.buttons {
    flex: 0 0 auto;
    margin-right: 10px;
    display: flex !important;
    &.mobile {
        justify-content: center;
        margin: 5px 0;
    }
}

.mat-expansion-panel {
    background: inherit;
    color: inherit;
}

.mat-list .mat-list-item {
    color: inherit;
}

.odd {
    background-color: rgba(123, 123, 123, .2);
}
