<mat-expansion-panel #panel [expanded]="expanded">
    <mat-expansion-panel-header (click)="panel.expanded?opened.emit():closed.emit()">
        <mat-panel-title>
            {{list.name}} - {{list.recipes===undefined?0:list.recipes.length}} <span style="margin-left: 4px;">{{'items' | translate}}</span>
        </mat-panel-title>
        <mat-panel-description>
            <p class="description" fxShow fxHide.lt-sm>{{list.note}}</p>
        </mat-panel-description>
        <div class="buttons">
            <button mat-icon-button ngxClipboard [cbContent]="getLink()" (click)="$event.stopPropagation()"
                    matTooltip="{{'Share' | translate}}" matTooltipPosition="above" (cbOnSuccess)="showCopiedNotification()">
                <mat-icon>share</mat-icon>
            </button>
            <!--<input type="text" #uri readonly hidden value="{{getLink()}}">-->
            <button mat-icon-button routerLink="/list/{{list.$key}}" (click)="$event.stopPropagation()">
                <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!readonly" (click)="ondelete.emit(); $event.stopPropagation()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel-header>
    <mat-list *ngIf="expanded">
        <app-recipe *ngFor="let recipe of list.recipes"
                    [recipe]="recipe"
                    (ondelete)="onrecipedelete.emit({recipe: recipe})"
                    (onedit)="onedit.emit({recipe: recipe, amount:$event})"
                    [readonly]="readonly">
        </app-recipe>
    </mat-list>
</mat-expansion-panel>
