<mat-expansion-panel #panel [expanded]="expanded" [ngClass]="{'odd': odd}">
    <mat-expansion-panel-header (click)="handleClick(panel)">
        <div class="header-container">
            <div class="title-and-desc">
                <mat-panel-title [ngClass]="{'mobile': isMobile()}">
                    <span [ngClass]="{'title':true}">
                        {{list.name}} - {{list.recipes===undefined?0:list.recipes.length}}&nbsp;{{'items' | translate}}
                    </span>
                    <mat-icon *ngIf="list.ephemeral" matTooltip="{{'Ephemeral_list' | translate}}"
                              matTooltipPosition="above">
                        access_time
                    </mat-icon>
                </mat-panel-title>
                <mat-panel-description fxShow fxHide.lt-sm>
                    <div class="description">
                        <img *ngIf="author | async as authorData" [src]="authorData?.avatar" class="author-avatar"
                             [matTooltip]="authorData?.name" matTooltipPosition="above"
                             routerLink="/profile/{{list.authorId}}">
                        <span>{{list.note}}</span>
                    </div>
                </mat-panel-description>
            </div>
            <div class="buttons">
                <app-comments-button *ngIf="list.public" [name]="list.name" [list]="list"
                                     [isOwnList]="list.authorId === authorUid"
                                     color="null" (click)="$event.stopPropagation()">
                </app-comments-button>
                <button mat-icon-button *ngIf="buttons" ngxClipboard [cbContent]="getLink()"
                        (click)="$event.stopPropagation()"
                        matTooltip="{{'Share' | translate}}" matTooltipPosition="above"
                        (cbOnSuccess)="showCopiedNotification()">
                    <mat-icon>share</mat-icon>
                </button>
                <!--<input type="text" #uri readonly hidden value="{{getLink()}}">-->
                <button mat-icon-button *ngIf="buttons" routerLink="/list/{{list.$key}}"
                        (click)="$event.stopPropagation()">
                    <mat-icon>playlist_play</mat-icon>
                </button>
                <button mat-icon-button *ngIf="!readonly && buttons"
                        (click)="ondelete.emit(); $event.stopPropagation()">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button *ngIf="copyButton" (click)="$event.stopPropagation();forkList()"
                        [matTooltip]="'LIST.Copied_x_times' | translate:{'count': list.forks}"
                        matTooltipPosition="above">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </div>
        </div>
    </mat-expansion-panel-header>
    <mat-list *ngIf="expanded">
        <app-recipe *ngFor="let recipe of list.recipes"
                    [recipe]="recipe"
                    (ondelete)="onrecipedelete.emit({recipe: recipe})"
                    (onedit)="onedit.emit({recipe: recipe, amount:$event})"
                    [readonly]="readonly">
        </app-recipe>
    </mat-list>
</mat-expansion-panel>
