
.spacer {
    flex: 1 1 auto;
}

.buttons {
    margin-right: 10px;
    display: inline-flex !important;
    min-width: 100px;
}

mat-panel-title {
    display: flex;
    align-items: center;
    max-width: 350px;
    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 330px;
        &.mobile {
            width: 160px;
        }
        display: inline-block;
    }
    mat-icon {
        margin-left: 5px;
    }
}

.description {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    .author-avatar {
        border-radius: 50%;
        height: 30px;
        margin-right: 5px;
    }
    &.mobile {
        max-width: 100px;
    }
}

.mat-expansion-panel {
    background: inherit;
    color: inherit;
}

.mat-list .mat-list-item {
    color: inherit;
}
