
.spacer {
    flex: 1 1 auto;
}

.buttons {
    margin-right: 10px;
    display: inline-flex !important;
    min-width: 120px;
}

mat-panel-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
}

.description {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    .author-avatar {
        border-radius: 50%;
        height: 30px;
        margin-right: 5px;
    }
    &.mobile {
        max-width: 100px;
    }
}

.mat-expansion-panel {
    background: inherit;
    color: inherit;
}

.mat-list .mat-list-item {
    color: inherit;
}
