<nz-card [nzTitle]="'DB.FISH.Used_as_mooch_for' | translate" [nzLoading]="loading$ | async" [class.card-with-list]="!(loading$ | async)" fxFlex="1 1 auto">
  @if ((mooches$ | async).length) {
    @for (itemId of mooches$ | async; track itemId; let last = $last) {
      <div
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="space-between center"
        [class.border-bottom]="!last"
        class="list-row"
        >
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start center">
          <app-item-icon [itemId]="itemId" [icon]="itemId | lazyIcon" width="32"></app-item-icon>
          <span><app-i18n-name [id]="itemId" content="items"></app-i18n-name></span>
        </div>
      </div>
    }
  } @else {
    <div class="no-data">
      @if (loading$ | async) {
        <nz-spin></nz-spin>
      } @else {
        <nz-empty [nzNotFoundContent]="contentTpl"></nz-empty>
      }
      <ng-template #contentTpl>
        <span>{{ 'DB.FISH.No_known_mooch_usage' | translate }}</span>
      </ng-template>
    </div>
  }
</nz-card>
