<div fxLayout="column" fxLayoutGap="5px">
  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
    <div fxLayout="column">
      <div>
        {{node.map | mapName | i18n}} @if (node.type !== -10) {
        <span>- lvl {{node.level}}</span>
      }
      @if (!hideDbButton && node.id) {
        @switch (node.type) {
          @case (-5) {
            <app-db-button [id]="node.id" type="fishing-spot"></app-db-button>
          }
          @case (4) {
            <app-db-button [id]="node.id" type="spearfishing-spot"></app-db-button>
          }
          @default {
            <app-db-button [id]="node.id" type="node"></app-db-button>
          }
        }
      }
    </div>
    <div>X: {{node.x | number:'1.1-1':translate.currentLang}}, Y: {{node.y | number:'1.1-1':translate.currentLang}}</div>
    <div class="flex-row-wrap gap-2">
      @if (node.ephemeral) {
        <nz-tag class="custom-tag" [style.border-color]="'#108ee9'">
          {{'Ephemeral_tag' | translate}}
        </nz-tag>
      }
      @if (node.legendary) {
        <nz-tag class="custom-tag" [style.border-color]="'#108ee9'">
          {{'GATHERING_LOCATIONS.Legendary' | translate}}
        </nz-tag>
      }
      @if (node.matchingItemIsHidden) {
        <nz-tag class="custom-tag" [style.border-color]="'#108ee9'">
          {{'GATHERING_LOCATIONS.Hidden_item' | translate}}
        </nz-tag>
      }
      @if (node.perceptionReq) {
        <nz-tag class="custom-tag" [style.border-color]="'#10e94d'">
          <app-i18n-name content="baseParams" [id]="73"></app-i18n-name> >= {{node.perceptionReq}}
        </nz-tag>
      }
      @if (node.snagging) {
        <img [nzTooltipTitle]="'GATHERING_LOCATIONS.Snagging' | translate" alt="" nz-tooltip
          src="./assets/icons/status/snagging.png">
        }
      @if (node.mLure) {
        <img [nzTooltipTitle]="3973 | i18nRow: 'statuses' | i18n" alt="" nz-tooltip
             [src]="3973 | lazyRow:'statuses':'icon' | async | xivapiIcon"> >= {{node.mLure}}
      }
      @if (node.aLure) {
        <img [nzTooltipTitle]="3972 | i18nRow: 'statuses' | i18n" alt="" nz-tooltip
             [src]="3972 | lazyRow:'statuses':'icon' | async | xivapiIcon"> >= {{node.aLure}}
      }
      </div>
      @if (node.folklore) {
        <div class="flex-row gap-5 align-center">
          <img [src]="node.folklore | lazyIcon" alt="" class="item-icon">
          <app-i18n-name content="items" [id]="node.folklore"></app-i18n-name>
        </div>
      }
    </div>
  </div>
  @if (node.matchingItemSublime) {
    <div nz-tooltip [nzTooltipTitle]="'GATHERING_LOCATIONS.Sublime_item_explain' | translate">
      {{'GATHERING_LOCATIONS.Sublime_item' | translate}}:
      <br><img [src]="node.matchingItemSublime | lazyIcon" alt="" class="item-icon">&nbsp;<app-i18n-name content="items" [id]="node.matchingItemSublime"></app-i18n-name>
      &nbsp;<img src="./assets/icons/svg/collectable.svg" class="collectable-icon" alt="collectability"> 1000
    </div>
  }
  <div fxLayout="row wrap" fxLayoutGap="5px">
    @if (node.oceanFishingTime !== undefined && node.oceanFishingTime !== null) {
      <span>
        {{'ALLAGAN_REPORTS.Ocean_fishing_time' | translate}}: {{('OCEAN_FISHING.' + OceanFishingTime[node.oceanFishingTime]) | translate}}
      </span>
    }
    @if (node.spawns !== undefined) {
      <span>
        @for (time of node.spawns; track time) {
          <i>
            {{time | hourDisplay}} - {{(time + node.duration / 60) % 24 | floor:2 | hourDisplay}}
          </i>
        }
      </span>
    }
  </div>
  @if (!hideTimers) {
    @for (generatedAlarm of alarms; track trackByAlarm($index, generatedAlarm)) {
      @if ((generatedAlarm | alarmDisplay | async); as alarm) {
        @if (alarm.remainingTime !== undefined) {
          <div
            fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          @if (generatedAlarm.fishEyes) {
            <img nz-tooltip [nzTooltipTitle]="'GATHERING_LOCATIONS.Fish_eyes' | translate"
              [src]="762 | lazyRow:'statuses':'icon' | async | xivapiIcon"
              alt="" class="fish-eyes-alarm">
          }
          @if (showAlarmsIntegration) {
            <app-alarm-button [alarm]="alarm.alarm" (toggleAlarm)="toggleAlarm($event)" (addAlarmWithGroup)="toggleAlarm($event, $event.group)"
            [alarmGroups]="alarmGroups$ | async" [showPosition]="false"></app-alarm-button>
          }
        </div>
      }
    }
  }
}
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
  @if (node.weathersFrom !== undefined) {
    <div fxLayout="row wrap" fxLayoutGap="5px">
      @for (weather of node.weathersFrom; track weather) {
        <div>
          <img [nzTooltipTitle]="weather | i18nRow:'weathers' | i18n" [src]="weather | weatherIcon" alt="{{weather | i18nRow:'weathers' | i18n}}"
            nz-tooltip>
        </div>
      }
    </div>
  }
  @if (node.weathersFrom !== undefined) {
    <div>
      <i nz-icon nzType="right" theme="outline"></i>
    </div>
  }
  @if (node.weathers !== undefined) {
    <div fxLayout="row wrap" fxLayoutGap="5px">
      @for (weather of node.weathers; track weather) {
        <div>
          <img [nzTooltipTitle]="weather | i18nRow:'weathers' | i18n" [src]="weather | weatherIcon" alt="{{weather | i18nRow:'weathers' | i18n}}"
            nz-tooltip>
        </div>
      }
    </div>
  }
</div>
</div>
