<h2 mat-dialog-title>{{data.item.id | itemName | i18n}}</h2>
<div mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="{{'Requires' | translate}}" *ngIf="data.item.requires !== undefined">
            <mat-list>
                <mat-list-item *ngFor="let requirement of data.item.requires">
                    <img mat-list-avatar [src]="getRequirementDetails(requirement)?.icon | icon"
                         alt="{{getRequirementDetails(requirement)?.id | itemName | i18n}}">
                    <div mat-line>{{getRequirementDetails(requirement)?.id | itemName | i18n}}</div>
                    <p mat-line>x{{requirement.amount * (data.item.amount_needed - data.item.done)}}</p>
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label="{{'Used_for' | translate}}" *ngIf="getRequiredBy().length > 0">
            <mat-list>
                <mat-list-item *ngFor="let recipe of getRequiredBy()">
                    <img mat-list-avatar [src]="recipe.icon | icon"
                         alt="{{recipe.id | itemName | i18n}}">
                    <div mat-line>{{recipe.id | itemName | i18n}}</div>
                </mat-list-item>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</div>
