<h3 mat-dialog-title>
    {{'Registration' | translate}}
</h3>
<div mat-dialog-content>
    <form [formGroup]="form" (submit)="classicRegister()">
        <mat-form-field>
            <input type="text" required matInput placeholder="Email" formControlName="email">
            <mat-error></mat-error>
        </mat-form-field>
        <div formGroupName="passwords">
            <mat-form-field>
                <input type="password" required formControlName="password" matInput
                       placeholder="{{'Password' | translate}}">
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" required formControlName="password_check" matInput
                       placeholder="{{'Password_Confirmation' | translate}}">
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">{{'Submit' | translate}}</button>
    </form>
    <mat-divider></mat-divider>
    <div class="oauth">
        <button mat-raised-button color="primary" (click)="googleOauth()">{{'Google_register' | translate}}</button>
        <button mat-raised-button color="primary" (click)="facebookOauth()">{{'Facebook_register' | translate}}</button>
    </div>
    <mat-error *ngIf="error !== undefined">{{error | translate}}</mat-error>
</div>
