<ng-container *ngIf="gearset$ | async as gearset">
  <ng-container *ngIf="stats$ | async as stats">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px" class="page-title">
        <span class="gearset-name">{{gearset.name}}</span>
        <span class="companion-svg job-icon" [innerHTML]="gearset.job | jobUnicode"></span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex="1 1 auto" class="set-content">
        <nz-divider nzOrientation="left" [nzText]="'GEARSETS.Content' | translate"></nz-divider>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="flex-start center">
          <div fxFlexOrder="1" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column">
              <app-gearset-display-slot *ngFor="let row of gearsetSlotProperties" [gearset]="gearset" [propertyName]="row[0]"></app-gearset-display-slot>
            </div>
          </div>
          <div [fxFlexOrder]="2 | ifMobile: 3" fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutAlign="center center">
              <table>
                <thead>
                <tr>
                  <th class="table-cell">{{'GEARSETS.Stat_name' | translate}}</th>
                  <th class="table-cell">{{'GEARSETS.Value' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of stats">
                  <td class="table-cell">
                    {{row.id | baseParamName | i18n}}
                  </td>
                  <td class="amount table-cell">
                    {{row.value | number:'1.0-0':translate.currentLang}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <app-materias-needed-popup [gearset]="gearset"></app-materias-needed-popup>
          </div>
          <div [fxFlexOrder]="3 | ifMobile: 2" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column">
              <app-gearset-display-slot *ngFor="let row of gearsetSlotProperties" [gearset]="gearset" [propertyName]="row[1]"></app-gearset-display-slot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
