<div class="obtentions-container" [fxFlex]="flex" fxLayout="row wrap" [fxLayoutAlign]="layoutAlign" fxLayoutGap="2px">
  <ng-container *ngFor="let source of sources; trackBy: trackByItemSource">
    <ng-container [ngSwitch]="source.type">
      <div *ngSwitchCase="dataTypes.DEPRECATED">
        <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#F5222DFF'"
           nz-tooltip [nzTooltipTitle]="'ALLAGAN_REPORTS.Deprecated' | translate">
        </i>
      </div>
      <button (click)="openGardeningPopup(item)" *ngSwitchCase="dataTypes.GARDENING" nz-button
              nz-tooltip
              nzShape="circle" nzTooltipTitle="{{'Gardening' | translate}}">
        <img class="img-icon gardening-icon" src="./assets/icons/Gardening.png">
      </button>
      <button (click)="openHuntingPopup(item)" *ngSwitchCase="dataTypes.DROPS" nz-button
              nz-tooltip
              nzShape="circle" nzTooltipTitle="{{'Hunting' | translate}}">
        <img alt="Drops" class="img-icon" src="https://www.garlandtools.org/db/images/Mob.png">
      </button>
      <button (click)="openTradesPopup(item)" *ngSwitchCase="dataTypes.TRADE_SOURCES"
              nz-button
              nz-tooltip nzShape="circle" nzTooltipTitle="{{'Trade' | translate}}">
        <span *ngIf="source.data | tradeIcon as icon; else gtFallBack">
          <app-item-icon width="24" disableClick="true" tooltipDisabled="true" [itemId]="icon"></app-item-icon>
        </span>
        <ng-template #gtFallBack>
          <img src="https://www.garlandtools.org/db/images/marker/Shop.png" class="img-icon round-icon">
        </ng-template>
      </button>
      <button (click)="openInstancesPopup(item)" *ngSwitchCase="dataTypes.INSTANCES"
              nz-button
              nz-tooltip nzShape="circle" nzTooltipTitle="{{source.data[0].name | i18n}}">
        <img [src]="source.data[0] | lazyRow:'instances':'icon' | async | xivapiIcon" class="img-icon round-icon">
      </button>
      <button (click)="openMogstationPopup(item)" *ngSwitchCase="dataTypes.MOGSTATION"
              nz-button
              nz-tooltip nzShape="circle" [nzTooltipTitle]="'Mogstation' | translate">
        <img class="img-icon round-icon" src="https://cache.secure.square-enix.com/account/content/mogstation/favicon.ico">
      </button>
      <button (click)="openQuestPopup(item)" *ngSwitchCase="dataTypes.QUESTS"
              nz-button
              nz-tooltip nzShape="circle" [nzTooltipTitle]="'Quests' | translate">
        <img class="img-icon round-icon" src="./assets/icons/quest.png">
      </button>
      <button (click)="openAchievementsPopup(item)" *ngSwitchCase="dataTypes.ACHIEVEMENTS"
              nz-button
              nz-tooltip nzShape="circle" [nzTooltipTitle]="'DB.Achievements' | translate">
        <img class="img-icon round-icon" [src]="source.data[0] | lazyRow:'achievements':'icon' | async | xivapiIcon">
      </button>
      <button (click)="openReducedFromPopup(item)" *ngSwitchCase="dataTypes.REDUCED_FROM"
              nz-button
              nz-tooltip nzShape="circle" nzTooltipTitle="{{'Reduction' | translate}}">
        <img class="img-icon round-icon" src="https://www.garlandtools.org/db/images/item/Reduce.png">
      </button>
      <button (click)="openDesynthsPopup(item)" *ngSwitchCase="dataTypes.DESYNTHS"
              nz-button
              nz-tooltip nzShape="circle" nzTooltipTitle="{{'Desynth' | translate}}">
        <i nzIconfont="icon-vectorcombine" nz-icon></i>
      </button>
      <button (click)="openVendorsPopup(item)" *ngSwitchCase="dataTypes.VENDORS"
              [nzTooltipTitle]="'Vendors' | translate"
              nz-button nz-tooltip nzShape="circle">
        <img alt="Gil" class="img-icon" src="https://xivapi.com/i/065000/065002.png">
      </button>
      <button (click)="openVoyagesPopup(item)" *ngSwitchCase="dataTypes.VOYAGES"
              [nzTooltipTitle]="'Voyages' | translate"
              nz-button nz-tooltip nzShape="circle">
        <img alt="Voyages" class="img-icon" src="https://www.garlandtools.org/db/images/Voyage.png">
      </button>
      <button (click)="openVenturesPopup(item)" *ngSwitchCase="dataTypes.VENTURES"
              [nzTooltipTitle]="'Retainer_ventures' | translate"
              nz-button nz-tooltip nzShape="circle">
        <img [src]="21072 | lazyIcon" alt="Ventures" class="img-icon round-icon">
      </button>
      <button (click)="openTreasuresPopup(item)" *ngSwitchCase="dataTypes.TREASURES"
              [nzTooltipTitle]="'Treasures' | translate"
              nz-button nz-tooltip nzShape="circle">
        <img alt="Treasures" class="img-icon round-icon" src="./assets/icons/chest_open.png">
      </button>
      <button (click)="openFatesPopup(item)" *ngSwitchCase="dataTypes.FATES"
              [nzTooltipTitle]="'Fates' | translate"
              nz-button nz-tooltip nzShape="circle">
        <img [src]="source.data[0].id | lazyRow:'fates':'icon' | async | xivapiIcon" alt="Fates" class="img-icon round-icon">
      </button>
      <ng-container *ngSwitchCase="dataTypes.CRAFTED_BY">
        <div *ngFor="let craft of source.data; trackBy: trackByCraft"
             [fxLayoutGap]="source.data.length > 1?'0px':'5px'"
             [fxLayout]="source.data.length > 1?'column':'row'"
             fxLayoutAlign="center center">
          <ng-container *ngIf="craft.job > 0">
            <button (click)="overlay?null:openSimulator(craft.id, item, craft)" *ngIf="craft.icon !== ''" [nzShape]="'circle'"
                    nz-button>
              <span [innerHTML]="craft.job | jobUnicode" class="craft-icon companion-svg"></span>
            </button>
            <div>{{craft.lvl}}</div>
            <div *ngIf="craft.stars_tooltip !== undefined">{{craft.stars_tooltip}}</div>
          </ng-container>
          <ng-container *ngIf="craft.isIslandRecipe">
            <img src="./assets/icons/island.png" alt="Island Recipe" class="img-icon" nz-tooltip [nzTooltipTitle]="'ITEMS.Island_recipe' | translate">
          </ng-container>
          <app-company-workshop-tree-button *ngIf="craft.job == 0" [recipeId]="craft.id"></app-company-workshop-tree-button>
        </div>
      </ng-container>
      <div *ngSwitchCase="dataTypes.GATHERED_BY" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2px">
        <button (click)="openGatheredByPopup(item)" nz-button nzShape="circle" nz-tooltip [nzTooltipTitle]="'LIST_DETAILS.SOURCES.Gatherable' | translate">
          <img class="gathering-icon" [class.small]="source.data.type === -10" src="{{source.data.type | nodeTypeIcon: source.data.nodes[0]?.limited}}">
        </button>
        <div *ngIf="!source.data.nodes[0].isIslandNode">{{source.data.level}}</div>
        <div *ngIf="source.data.stars_tooltip !== undefined">{{source.data.stars_tooltip}}</div>
      </div>
    </ng-container>
  </ng-container>
</div>
