<div *ngFor="let drop of details; index as i" class="flex-column gap-10">
  <div class="flex-row space-between">
    <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
      <div>{{drop.id | i18nRow:'mobs' | i18n}}</div>
      <app-db-button [id]="drop.id % 100000" type="mob"></app-db-button>
    </div>
    <div class="flex-column align-end justify-end">
      <div>{{drop.zoneid | i18nRow:'places' | i18n}}</div>
      <app-map-position *ngIf="drop?.position" [mapId]="drop.mapid" [marker]="drop?.position"
                        [zoneId]="drop.zoneid" [additionalMarkers]="getMarkers(drop) | async"></app-map-position>
      <div *ngIf="drop.mapid | closestAetheryte: drop?.position | async as aetheryte"
           class="closest-tp">
        <img alt="" class="aetheryte-icon"
             src="./assets/icons/Aetheryte.png"> {{aetheryte?.nameid | i18nRow:'places' | i18n}}
      </div>
    </div>
  </div>
  <app-map *ngIf="i <= 2" [mapId]="drop.mapid" [markers]="getMarkers(drop) | async"
           [zoneId]="drop.zoneid" [additionalMarkers]=""></app-map>
</div>
