.help-dialog-container {
	margin: -24px;

	h2 {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0;
        text-align: center;
        font-size: 23px;
	}

	::ng-deep .mat-list .mat-list-item {
		height: auto;
	}

	::ng-deep .mat-dialog-content {
		display: block;
		padding: 14px;
		margin: 0;
		max-height: 65vh;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	.close {
		background-color: rgba(66, 66, 66, 0.1);
		width: 200px;
		margin: 0 auto;
	}
}
