<div *ngIf="list$ | async as list" fxLayout="column" fxLayoutGap="10px">
  <h3>{{list?.name}} - {{"Pricing" | translate}}</h3>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <button nz-button nzType="primary" (click)="close.emit()">
      <i nz-icon type="arrow-left"></i>
      {{"Back_to_list" | translate}}
    </button>

    <label nz-checkbox [(ngModel)]="settings.expectToSellEverything">
      {{'PRICING.Expect_to_sell_everything' | translate}}
    </label>
  </div>

  <nz-card>
    <nz-card-meta [nzTitle]="'Spending' | translate"
                  nzDescription="{{getSpendingTotal(list) | number:'1.0-0'}} gil"></nz-card-meta>
    <nz-collapse>
      <nz-collapse-panel *ngIf="list.items.length > 0" [nzHeader]="'TODO' | translate" [nzActive]="true">
        <nz-list [nzDataSource]="list.items" [nzRenderItem]="pricingRow">
          <ng-template #pricingRow let-row>
            <app-pricing-row [item]="row" [listId]="list.$key"
                             [preCraft]="row.craftedBy && row.craftedBy.length > 0"
                             (save)="save(list)"></app-pricing-row>
          </ng-template>
        </nz-list>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>

  <nz-card>
    <nz-card-meta [nzTitle]="'Earning' | translate"
                  nzDescription="{{getTotalEarnings(list.finalItems, list) | number:'1.0-0'}} gil"></nz-card-meta>
    <nz-collapse>
      <nz-collapse-panel *ngIf="list.finalItems.length > 0" [nzHeader]="'TODO' | translate">
        <nz-list [nzDataSource]="list.finalItems" [nzRenderItem]="earningRow">
          <ng-template #earningRow let-row>
            <app-pricing-row [item]="row" [listId]="list.$key"
                             [craftCost]="getCraftCost(row)"
                             (save)="save(list)" [earning]="true"></app-pricing-row>
          </ng-template>
        </nz-list>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>

  <nz-alert nzType="success" nzMessage="{{'Benefits' | translate}}: {{getBenefits(list) | number:'1.0-0'}} gil">
  </nz-alert>
</div>
