<div *ngIf="list$ | async as list" fxLayout="column" fxLayoutGap="10px">
  <h3>{{list?.name}} - {{"Pricing" | translate}}</h3>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <button nz-button nzType="primary" (click)="close.emit()">
      <i nz-icon type="arrow-left"></i>
      {{'Back_to_list' | translate}}
    </button>

    <label nz-checkbox [(ngModel)]="settings.expectToSellEverything" (ngModelChange)="updateCosts(list)">
      {{'PRICING.Expect_to_sell_everything' | translate}}
    </label>
  </div>

  <nz-card>
    <nz-card-meta [nzTitle]="'Spending' | translate"
                  nzDescription="{{spendingTotal | number:'1.0-0'}} gil"></nz-card-meta>
    <nz-collapse class="collapse-container" *ngIf="list.items.length > 0">
      <nz-collapse-panel *ngIf="crystals$ | async as crystals" [nzHeader]="header">
        <ng-template #header>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="panel-header">
            <div>{{'Crystals' | translate}}</div>
            <div>
              <button nz-button nz-popconfirm nzType="primary"
                      *ngIf="loggedIn$ | async"
                      class="fill-prices-button"
                      (nzOnConfirm)="fillMbCosts(crystals)"
                      (click)="$event.stopPropagation()"
                      [nzTitle]="'PRICING.Autofill_panel_prices_warning' | translate: {time: (crystals.length / 2 | ceil)}">
                {{'PRICING.Autofill_panel_prices' | translate}}
              </button>
              <button nz-button ngxClipboard nz-tooltip nzShape="circle"
                      (click)="$event.stopPropagation()"
                      [nzTitle]="'PRICING.Copy_panel_as_text' | translate"
                      [cbContent]="getSpendingText(crystals, list)" (cbOnSuccess)="afterCopy()">
                <i nz-icon type="copy"></i>
              </button>
            </div>
          </div>
        </ng-template>
        <app-pricing-row *ngFor="let row of crystals; trackBy: trackByItemFn; let odd = odd" [odd]="odd"
                         [item]="row" [listId]="list.$key"
                         (save)="save(list)" (priceChange)="updateCosts(list)"></app-pricing-row>
      </nz-collapse-panel>

      <nz-collapse-panel *ngIf="items$ | async as items" [nzHeader]="header">
        <ng-template #header>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="panel-header">
            <div>{{'Other' | translate}}</div>
            <div>
              <button nz-button nz-popconfirm nzType="primary"
                      *ngIf="loggedIn$ | async"
                      class="fill-prices-button"
                      (nzOnConfirm)="fillMbCosts(items)"
                      (click)="$event.stopPropagation()"
                      [nzTitle]="'PRICING.Autofill_panel_prices_warning' | translate: {time: (items.length / 2 | ceil)}">
                {{'PRICING.Autofill_panel_prices' | translate}}
              </button>
              <button nz-button ngxClipboard nz-tooltip nzShape="circle"
                      (click)="$event.stopPropagation()"
                      [nzTitle]="'PRICING.Copy_panel_as_text' | translate"
                      [cbContent]="getSpendingText(items, list)" (cbOnSuccess)="afterCopy()">
                <i nz-icon type="copy"></i>
              </button>
            </div>
          </div>
        </ng-template>
        <app-pricing-row *ngFor="let row of items; trackBy: trackByItemFn; let odd = odd" [odd]="odd"
                         [item]="row" [listId]="list.$key"
                         (save)="save(list)" (priceChange)="updateCosts(list)"></app-pricing-row>
      </nz-collapse-panel>

      <nz-collapse-panel *ngIf="preCrafts$ | async as preCrafts" [nzHeader]="header">
        <ng-template #header>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="panel-header">
            <div>{{'Pre_crafts' | translate}}</div>
            <div>
              <button nz-button nz-popconfirm nzType="primary"
                      *ngIf="loggedIn$ | async"
                      class="fill-prices-button"
                      (nzOnConfirm)="fillMbCosts(preCrafts)"
                      (click)="$event.stopPropagation()"
                      [nzTitle]="'PRICING.Autofill_panel_prices_warning' | translate: {time: (preCrafts.length / 2 | ceil)}">
                {{'PRICING.Autofill_panel_prices' | translate}}
              </button>
              <button nz-button ngxClipboard nz-tooltip nzShape="circle"
                      (click)="$event.stopPropagation()"
                      [nzTitle]="'PRICING.Copy_panel_as_text' | translate"
                      [cbContent]="getSpendingText(preCrafts, list)" (cbOnSuccess)="afterCopy()">
                <i nz-icon type="copy"></i>
              </button>
            </div>
          </div>
        </ng-template>

        <app-pricing-row *ngFor="let row of preCrafts; trackBy: trackByItemFn; let odd = odd" [odd]="odd"
                         [craftCost]="getCraftCost(row)" [item]="row" [listId]="list.$key"
                         [preCraft]="true" (save)="save(list)" (priceChange)="updateCosts(list)"></app-pricing-row>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>

  <nz-card>
    <nz-card-meta [nzTitle]="title"
                  nzDescription="{{getTotalEarnings(list.finalItems, list) | number:'1.0-0'}} gil"></nz-card-meta>
    <ng-template #title>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>{{'Earning' | translate}}</div>
        <button nz-button ngxClipboard nz-tooltip nzShape="circle"
                [nzTitle]="'PRICING.Copy_earnings_as_text' | translate"
                [cbContent]="getEarningText(list.finalItems, list)" (cbOnSuccess)="afterCopy()">
          <i nz-icon type="copy"></i>
        </button>
      </div>
    </ng-template>
    <nz-collapse class="collapse-container">
      <nz-collapse-panel *ngIf="list.finalItems.length > 0" [nzHeader]="header">
        <ng-template #header>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{'Items' | translate}}</div>
            <button nz-button nz-popconfirm nzType="primary"
                    *ngIf="loggedIn$ | async"
                    class="fill-prices-button"
                    (nzOnConfirm)="fillMbCosts(list.finalItems, true)"
                    (click)="$event.stopPropagation()"
                    [nzTitle]="'PRICING.Autofill_panel_prices_warning' | translate: {time: (list.finalItems.length / 2 | ceil)}">
              {{'PRICING.Autofill_panel_prices' | translate}}
            </button>
          </div>
        </ng-template>
        <app-pricing-row *ngFor="let row of list.finalItems; trackBy: trackByItemFn;let odd = odd" [odd]="odd"
                         [item]="row" [listId]="list.$key"
                         [craftCost]="getCraftCost(row)"
                         (save)="save(list)" [earning]="true"></app-pricing-row>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>

  <nz-alert *ngIf="getBenefits(list) as benefits" [nzType]="benefits >= 0 ? 'success' : 'error'"
            nzMessage="{{'Benefits' | translate}}: {{ benefits | number:'1.0-0'}} gil">
  </nz-alert>
</div>
