<ng-container *ngIf="xivapiNode$ | async as xivapiNode; else loader">
  <div [style.padding]="'0 50px' | ifMobile: '0'" fxLayout="column" fxLayoutGap="10px">
    <div class="top-bar" fxFlex="1 1 auto" fxLayout="row" fxLayout.lt-md="column"
         fxLayoutAlign="flex-start flex-start" fxLayoutGap="5px" fxLayoutGap.lt-md="10px">
      <div class="top-left-block" fxFlex="0 0 300px" fxFlex.lt-md="1 1 auto" fxLayout="column"
           fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div class="icon-block" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <img
            [src]="(xivapiNode.IsLimited?xivapiNode.GatheringType.IconOff : xivapiNode.GatheringType.IconMain) | xivapiIcon"
            class="img-icon" fxFlex="0 0 auto">
          <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
            <h2 *ngIf="xivapiNode.GatheringPoints && xivapiNode.GatheringPoints[0]?.PlaceName; else otherName"
                class="item-name">{{xivapiNode.GatheringPoints[0]?.PlaceName | xivapiI18n}}</h2>
            <ng-template #otherName>
              <h2 *ngIf="xivapiNode.mappyData" class="item-name">{{xivapiNode.mappyData.zoneid | placeName | i18n}}</h2>
            </ng-template>
            <div class="item-kind">
              Lvl {{xivapiNode.GatheringLevel}} <span
              [innerHTML]="xivapiNode.GatheringType | xivapiI18n"></span>
            </div>
            <div *ngIf="xivapiNode.GamePatch" class="patch">
              {{xivapiNode.GamePatch | xivapiI18n}}
              <app-db-button [id]="xivapiNode.GamePatch.ID" type="patch"></app-db-button>
            </div>
          </div>
        </div>
        <div *ngIf="links$ | async as links" class="links" fxLayout="row" fxLayoutAlign="flex-start center"
             fxLayoutGap="5px">
          <a *ngFor="let link of links" [href]="link.url" [nzTitle]="link.title" nz-tooltip target="_blank">
            <img [alt]="link.title" [src]="link.icon" class="link-icon">
          </a>
        </div>
      </div>
      <div fxFlex="1 1 auto">
      </div>
    </div>
    <div class="details-container" fxLayout="row wrap" fxLayoutGap="5px">
      <div class="details-block">
        <div class="detail-name">{{'DB.Limited' | translate}}</div>
        <div class="detail-value">{{(xivapiNode.IsLimited === 0 ? 'No' : 'Yes') | translate}}</div>
      </div>
      <div *ngIf="xivapiNode.IsLimited && xivapiNode.gtNode" class="details-block">
        <div class="detail-name">{{'DB.NODE.Spawn_duration' | translate}}</div>
        <div class="detail-value">{{xivapiNode.gtNode.uptime / 60}}h</div>
      </div>
      <div *ngIf="xivapiNode.IsLimited && xivapiNode.gtNode" class="details-block">
        <div class="detail-name">{{'DB.NODE.Spawns' | translate}}</div>
        <div class="detail-value"><span *ngFor="let hour of xivapiNode.gtNode.time; let last = last">{{hour}}:00<span
          *ngIf="!last">, </span></span></div>
      </div>
      <div *ngIf="xivapiNode.IsLimited && xivapiNode.gtNode" class="details-block">
        <div class="detail-value">
          <ng-container>
            <div *ngIf="(generateAlarm(xivapiNode) | alarmDisplay | async) as alarm"
                 [class.played-timer]="alarm.played"
                 [class.spawned-timer]="alarm.spawned">
              {{ (alarm.spawned ? 'GATHERING_LOCATIONS.Spawned_for' : 'GATHERING_LOCATIONS.Will_spawn_in') | translate : { timer: (alarm.remainingTime | timer) } }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <app-db-comments *ngIf="settings.dbCommentsPosition === 'TOP'" [id]="xivapiNode.ID" type="node"></app-db-comments>
    <nz-divider [nzText]="'DB.Details' | translate" nzOrientation="left"></nz-divider>
    <div *ngIf="xivapiNode.mappyData as data" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px">
      <nz-card *ngIf="data.zoneid" [nzTitle]="title"
               class="details-card"
               fxFlex="1 1 30%"
               nzBordered="false">
        <ng-template #title>
          <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            {{data.zoneid | placeName | i18n}} - X:{{data.x | number}} Y:{{data.y | number}}
          </div>
        </ng-template>
        <app-map [mapId]="data.map"
                 [markers]="[{x: data.x, y: data.y}]"></app-map>
      </nz-card>
      <nz-card *ngIf="data.items.length > 0" [nzTitle]="title"
               class="details-card"
               fxFlex="1 1 auto"
               nzBordered="false">
        <ng-template #title>
          <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            {{'DB.NODE.Items' | translate}}
          </div>
        </ng-template>
        <nz-list [nzDataSource]="data.items" [nzItemLayout]="'horizontal'"
                 [nzRenderItem]="itemTemplate">
          <ng-template #itemTemplate let-item>
            <nz-list-item [nzContent]="more">
              <nz-list-item-meta
                [nzAvatar]="itemAvatar"
                [nzDescription]="description"
                [nzTitle]="title">
                <ng-template #description>
                  <div *ngIf="getGatheringItem(item) as gatheringItem">
                    Lvl {{gatheringItem.level}} <span
                    *ngIf="gatheringItem.stars">{{gatheringItem.stars | ingameStars}}</span>
                    <span *ngIf="getSlot(item, xivapiNode) as slot"> ({{'ALARMS.CUSTOM.Slot' | translate}} {{slot}}
                      )</span>
                  </div>
                </ng-template>
                <ng-template #itemAvatar>
                  <app-item-icon [icon]="item | lazyIcon" [itemId]="item"
                                 [width]="32"></app-item-icon>
                </ng-template>
                <ng-template #title>
                  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                    <div [appItemRarity]="item">{{item | itemName | i18n}}</div>
                    <nz-tag
                      *ngIf="getGatheringItem(item)?.hidden">{{'GATHERING_LOCATIONS.Hidden_item' | translate}}</nz-tag>
                  </div>
                </ng-template>
                <ng-template #more>
                  <div fxLayout="row" fxLayoutAlign="flex-start center">
                    <div *ngIf="xivapiNode.IsLimited && xivapiNode.gtNode">
                      <ng-container *ngIf="(generateAlarm(xivapiNode, item) | alarmDisplay | async) as alarm">
                        <div *ngIf="canCreateAlarm(alarm.alarm) | async; else alarmCreated" fxLayout="row"
                             fxLayoutGap="5px">
                          <button (click)="addAlarm(alarm.alarm)" [nzTitle]="'ALARMS.Add_alarm' | translate" nz-button nz-tooltip nzShape="circle"
                                  nzSize="small">
                            <i nz-icon nzType="clock-circle"></i>
                          </button>
                          <ng-container *ngIf="alarmGroups$ | async as groups">
                            <ng-container *ngIf="groups.length > 0">
                              <button *ngIf="alarmsLoaded$ | async" [nzBackdrop]="false" [nzDropdownMenu]="menu"
                                      [nzPlacement]="'bottomCenter'" nz-button
                                      nz-dropdown nzShape="circle" nzSize="small">
                                <i nz-icon nzType="folder-open"></i>
                              </button>
                              <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                  <li (click)="addAlarm(alarm.alarm, group)" *ngFor="let group of groups" nz-menu-item>
                                    {{group.name}}
                                  </li>
                                </ul>
                              </nz-dropdown-menu>
                            </ng-container>
                          </ng-container>
                        </div>
                        <ng-template #alarmCreated>
                          {{'ALARMS.Alarm_already_created' | translate}}
                        </ng-template>
                      </ng-container>
                    </div>
                    <nz-divider nzType="vertical"></nz-divider>
                    <app-db-button [id]="item" type="item"></app-db-button>
                  </div>
                </ng-template>
              </nz-list-item-meta>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-card>
      <ng-container *ngIf="bonuses$ | async as bonuses">
        <nz-card *ngIf="bonuses.length > 0" [nzTitle]="title"
                 class="details-card"
                 fxFlex="1 1 auto"
                 nzBordered="false">
          <ng-template #title>
            <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
              {{'DB.NODE.Possible_bonuses' | translate}}
            </div>
          </ng-template>
          <nz-list [nzDataSource]="bonuses" [nzItemLayout]="'horizontal'"
                   [nzRenderItem]="bonusTemplate">
            <ng-template #bonusTemplate let-bonus>
              <nz-list-item>
                <nz-list-item-meta
                  [nzDescription]="description"
                  [nzTitle]="bonus.bonus | i18n">
                  <ng-template #description>
                    {{'DB.NODE.Bonus_condition' | translate}}: {{bonus.condition | i18n}}
                  </ng-template>
                </nz-list-item-meta>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </nz-card>
      </ng-container>
    </div>
  </div>
  <app-db-comments *ngIf="settings.dbCommentsPosition === 'BOTTOM'" [id]="xivapiNode.ID" type="node"></app-db-comments>
</ng-container>
<ng-template #loader>
  <app-page-loader></app-page-loader>
</ng-template>
