<nz-card [nzTitle]="title"
         [nzLoading]="loading$ | async" [style.width.px]="600 + 48">
  <ng-template #title>
    <div fxLayout="row" fxLayoutAlign="space-between center" nz-tooltip [nzTooltipTitle]="'DB.FISH.Include_fisheyes_data' | translate">
      <div>{{'DB.FISH.Hour' | translate}}</div>
      <div>
        <img [src]="762 | lazyRow:'statuses':'icon' | async | xivapiIcon" alt="" class="fish-eyes">
        <nz-switch [ngModel]="fishEyes$ | async" (ngModelChange)="fishEyes$.next($event)"></nz-switch>
      </div>
    </div>
  </ng-template>
  <ngx-charts-bar-vertical
    [view]="[600, 300]"
    [scheme]="{ domain: [settings.theme.primary] }"
    [customColors]="fishCtx.highlightTime$ | async"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    barPadding="5"
    [results]="etimesChartData$ | async"
  ></ngx-charts-bar-vertical>
</nz-card>
