<nz-card [nzTitle]="'DB.Position' | translate" class="card-with-list expanded" [style.max-width.px]="360" [nzLoading]="loading">
  <app-map
    *ngIf="spot.customData.coords; else noPos"
    [hideDbButton]="true"
    [mapId]="spot.TerritoryType.MapTargetID"
    [markers]="[
      {
        x: spot.customData.coords.x,
        y: spot.customData.coords.y
      }
    ]"
  ></app-map>
  <ng-template #noPos>
    <nz-empty [nzNotFoundContent]="'DB.FISHING_SPOT.Position_unknown' | translate"></nz-empty>
  </ng-template>
</nz-card>
