<div fxLayout="column" fxLayoutGap="10px">
  <nz-alert [nzMessage]="'PROFILE.Autofill_stats_explain' | translate" nzType="info"></nz-alert>
  <nz-list
    [nzDataSource]="display$ | async"
    [nzRenderItem]="setTemplate"
    nzBordered
    nzSize="small"
  >
    <ng-template #setTemplate let-entry>
      <nz-list-item [class.job-done]="entry.done" [nzContent]="status">
        <ng-template #status>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <div>
              <i *ngIf="entry.done" nz-icon nzType="check"></i>
              <i *ngIf="!entry.done" nz-icon nzType="loading"></i>
            </div>
            <div>{{entry.job | i18nRow:'jobName' | i18n}}</div>
          </div>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
