<ng-container *ngIf="totalAmountInInventory$ | async as total">
  <nz-tag nz-dropdown [nzDropdownMenu]="containers" *ngIf="total.nq > 0 || total.hq > 0">
    <span>{{'INVENTORY.In_x_containers' | translate: { amount: total.containers.length } }}</span>
    <span *ngIf="total.nq">, {{'COMMON.Nq' | translate}}: {{total.nq}}</span>
    <span *ngIf="total.hq">, {{'COMMON.Hq' | translate}}: {{total.hq}}</span>
  </nz-tag>
  <nz-dropdown-menu #containers="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item *ngFor="let entry of amountInInventory$ | async;trackBy: trackByInventoryEntry"
          (click)="tooltip.hide();permissionLevel >= 20 ? addAmount(entry.amount) : null"
          #tooltip="nzTooltip"
          nz-tooltip [nzTooltipTitle]="positionTooltip">
        <ng-template #positionTooltip>
          <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
            <app-inventory-position [item]="entry.item"></app-inventory-position>
            <div>{{'INVENTORY.Click_to_add_to_progression' | translate}}</div>
          </div>
        </ng-template>
        {{entry.containerName}}: {{entry.amount}}
        <img *ngIf="entry.hq" alt="HQ" class="inventory-hq" src="./assets/icons/HQ.png"/>
      </li>
    </ul>
  </nz-dropdown-menu>
</ng-container>
