<div class="input-container">
    <span matTooltipPosition="above"
          matTooltip="{{'Missing_crafts_amount' | translate:{'amount': total - item.done} }}"
    class="needed">
        {{total - item.done}}
    </span>
    <mat-input-container>
        <input type="number" #input matInput [value]="item.done - item.used" [style.width]="getWidth() + 'px'" min="0">
    </mat-input-container>
    <span matTooltipPosition="above"
          matTooltip="{{'COMMON.Total' | translate}}">
        {{total - item.used}}
    </span>
    <span *ngIf="craftingAmountRequired" matTooltipPosition="above"
          matTooltip="{{'Required_crafts_amount' | translate}}">({{craftingAmount}})</span>
</div>
