<a routerLink="/profile/{{userId}}" (click)="$event.stopPropagation()">
  <nz-badge *ngIf="character$ | async as character; else anonymous" [nzStatus]="status$ | async" [class.flex]="flex">
    <img [src]="character.Avatar" alt="" nz-tooltip
         [nzTitle]="tooltip"
         [style.width.px]="width" class="avatar">
    <ng-template #tooltip>
      {{messageKey ? (messageKey | translate:{name: character.Name}) : character.Name }}
      <span *ngIf="(status$ | async) === 'error'">({{'Not_verified' | translate}})</span>
    </ng-template>
  </nz-badge>
  <ng-template #anonymous>
    <i nz-icon type="user" nz-tooltip
       [style.width.px]="width"
       [nzTitle]="messageKey ? (messageKey | translate:{name: 'Anonymous' | translate}) : 'Anonymous' | translate">
    </i>
  </ng-template>
</a>
