<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
  <table>
    <thead>
    <tr>
      <th>{{'GEARSETS.Stat_name' | translate}}</th>
      <th class="value">{{'GEARSETS.Value' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of getDisplay()">
      <td>{{('GEARSETS.STAT_DISPLAY.' + row.name) | translate}}</td>
      <td class="value">{{row.value | floor:2 | number:'1.0-2':translate.currentLang}}{{row.suffix}}</td>
    </tr>
    </tbody>
  </table>
</div>
