<div *ngIf="myLists$ | async as myLists">
  <nz-list [nzDataSource]="myLists" [nzRenderItem]="list" [nzHeader]="header">
    <ng-template #list let-list>
      <nz-list-item [nzActions]="[pickOwnList]">
        <nz-list-item-meta [nzTitle]="list.name" [nzDescription]="list.description">
        </nz-list-item-meta>
      </nz-list-item>
      <ng-template #pickOwnList>
        <button nz-button [nzType]="'primary'" [nzShape]="'circle'" (click)="pickList(list)"><i
          nz-icon type="check"></i></button>
      </ng-template>
    </ng-template>
    <ng-template #header><i nz-icon type="solution"></i>&nbsp;{{'LISTS.Your_lists' | translate}}</ng-template>
  </nz-list>
</div>
<div>
  <nz-list *ngFor="let workshopDisplay of workshops$ | async; trackBy: trackByWorkshopDisplay"
           [nzDataSource]="workshopDisplay.lists" [nzRenderItem]="workshopList" [nzHeader]="workshopHeader">
    <ng-template #workshopList let-list>
      <nz-list-item [nzActions]="[pickOwnList]">
        <nz-list-item-meta [nzTitle]="list.name" [nzDescription]="list.description">
        </nz-list-item-meta>
      </nz-list-item>
      <ng-template #pickOwnList>
        <button nz-button [nzType]="'primary'" [nzShape]="'circle'" (click)="pickList(list)"><i
          nz-icon type="check"></i></button>
      </ng-template>
    </ng-template>
    <ng-template #workshopHeader><i nz-icon type="folder-open"></i>&nbsp;{{workshopDisplay.workshop.name}}
    </ng-template>
  </nz-list>
</div>
<nz-list [nzDataSource]="listsWithWriteAccess$ | async" [nzRenderItem]="sharedList" [nzHeader]="headerSharedLists">
  <ng-template #sharedList let-list>
    <nz-list-item [nzActions]="[pickSharedList]">
      <nz-list-item-meta [nzTitle]="list.name" [nzDescription]="list.description">
      </nz-list-item-meta>
    </nz-list-item>
    <ng-template #pickSharedList>
      <button nz-button [nzType]="'primary'" [nzShape]="'circle'" (click)="pickList(list)"><i
        nz-icon type="check"></i></button>
    </ng-template>
  </ng-template>
  <ng-template #headerSharedLists><i nz-icon type="edit"></i>&nbsp;{{'LISTS.Shared_lists' | translate}}
  </ng-template>
</nz-list>
<nz-divider [nzText]="'Or' | translate"></nz-divider>
<button nz-button [nzType]="'primary'" class="new-list-button" (click)="pickNewList()" nzBlock>
  <i nz-icon type="plus"></i>&nbsp;{{'New_List' | translate}}
</button>
