<form (ngSubmit)="submit()" [formGroup]="form" nz-form>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="name" nzRequired>{{'ALARMS.CUSTOM.Name' | translate}}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input formControlName="name" id="name" nz-input required>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">{{'ALARMS.CUSTOM.Spawn' | translate}}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-input-group class="spawn-input" nzAddOnAfter=":00">
        <nz-input-number mouseWheel [nzMax]="SPAWN_VALIDATOR.max" [nzMin]="SPAWN_VALIDATOR.min" [nzStep]="1" class="input-number-with-addon" formControlName="spawn"
                         (mouseWheelUp)="adjust('spawn', 1)" (mouseWheelDown)="adjust('spawn', -1)"
                         id="spawn"></nz-input-number>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">{{'ALARMS.CUSTOM.Spawns_twice' | translate}}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <label [nzTooltipTitle]="'ALARMS.CUSTOM.Spawns_twice_description' | translate" formControlName="spawnsTwice" nz-checkbox
             nz-tooltip></label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">{{'ALARMS.CUSTOM.Duration' | translate}}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-input-number mouseWheel [nzMax]="DURATION_VALIDATOR.max" [nzMin]="DURATION_VALIDATOR.min" formControlName="duration"
                       (mouseWheelUp)="adjust('duration', 1)" (mouseWheelDown)="adjust('duration', -1)">
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">{{'ALARMS.CUSTOM.Type' | translate}}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-select formControlName="type">
        <nz-option [nzLabel]="('ALARMS.CUSTOM.TYPE.'+(0 | nodeTypeName)) | translate" [nzValue]="0">
        </nz-option>
        <nz-option [nzLabel]="('ALARMS.CUSTOM.TYPE.'+(1 | nodeTypeName)) | translate" [nzValue]="1">
        </nz-option>
        <nz-option [nzLabel]="('ALARMS.CUSTOM.TYPE.'+(2 | nodeTypeName)) | translate" [nzValue]="2">
        </nz-option>
        <nz-option [nzLabel]="('ALARMS.CUSTOM.TYPE.'+(3 | nodeTypeName)) | translate" [nzValue]="3">
        </nz-option>
        <nz-option [nzLabel]="('ALARMS.CUSTOM.TYPE.'+(4 | nodeTypeName)) | translate" [nzValue]="4">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>{{'ALARMS.CUSTOM.Map' | translate}}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-select *ngIf="maps$ | async as maps; else loading" formControlName="mapId" nzAllowClear nzShowSearch>
        <nz-option *ngFor="let map of maps" [nzLabel]="map.PlaceName.ID | i18nRow:'places' | i18n"
                   [nzValue]="map.ID"></nz-option>
      </nz-select>
      <ng-template #loading>
        <nz-spin></nz-spin>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">{{'ALARMS.CUSTOM.Weather' | translate}}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-select formControlName="weathers" nzAllowClear nzMode="multiple">
        <nz-option *ngFor="let weather of mapWeathers$ | async" [nzLabel]="weather | i18nRow:'weathers' | i18n"
                   [nzValue]="weather"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">{{'ALARMS.CUSTOM.Weather_from' | translate}}</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-select formControlName="weathersFrom" nzAllowClear nzMode="multiple">
        <nz-option *ngFor="let weather of mapWeathers$ | async" [nzLabel]="weather | i18nRow:'weathers' | i18n"
                   [nzValue]="weather"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">X</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-input-number mouseWheel [nzMax]="X_VALIDATOR.max"  [nzMin]="X_VALIDATOR.min" formControlName="x"
                       (mouseWheelUp)="adjust('x', 1)" (mouseWheelDown)="adjust('x', -1)">
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">Y</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-input-number mouseWheel [nzMax]="Y_VALIDATOR.max" [nzMin]="Y_VALIDATOR.min" formControlName="y"
                       (mouseWheelUp)="adjust('y', 1)" (mouseWheelDown)="adjust('y', -1)">
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <button [disabled]="!form.valid" nz-button nzType="primary" type="submit">
    {{'Submit' | translate}}
  </button>
</form>
