<nz-alert *ngIf="error; else content" nzType="error" nzShowIcon
          [nzMessage]="'MARKETBOARD.Error' | translate"></nz-alert>
<ng-template #content>
  <div fxLayout="column" fxLayoutGap="15px">
    <nz-table #pricesTable nzSize="small" *ngIf="prices$ | async as prices" [nzData]="prices" [nzLoading]="loading">
      <thead nzSingleSort (nzSortChange)="sort($event)">
      <tr>
        <th nzShowSort nzSortKey="Quantity">{{'MARKETBOARD.Amount' | translate}}</th>
        <th nzShowSort nzSortKey="Server">{{'MARKETBOARD.Server' | translate}}</th>
        <th nzShowSort nzSortKey="IsHQ">{{'MARKETBOARD.HQ' | translate}}</th>
        <th nzShowSort nzSortKey="PriceTotal">{{'MARKETBOARD.Total_price' | translate}}</th>
        <th nzShowSort nzSortKey="PricePerUnit">{{'MARKETBOARD.Unit_price' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of pricesTable.data">
        <td>{{row.Quantity}}</td>
        <td>{{row.Server}}</td>
        <td><img src="./assets/icons/HQ.png" alt="HQ" *ngIf="row.IsHQ" class="hq-icon"></td>
        <td>{{row.PriceTotal | number}}</td>
        <td>{{row.PricePerUnit | number}}</td>
      </tr>
      </tbody>
    </nz-table>
    <div *ngIf="showHistory">
      <h3>{{'MARKETBOARD.History' | translate}}</h3>
      <nz-table #historyTable nzSize="small" *ngIf="history$ | async as history" [nzData]="history"
                [nzLoading]="loadingHistory">
        <thead>
        <tr>
          <th>{{'MARKETBOARD.Purchase_date' | translate}}</th>
          <th>{{'MARKETBOARD.Amount' | translate}}</th>
          <th>{{'MARKETBOARD.Server' | translate}}</th>
          <th>{{'MARKETBOARD.HQ' | translate}}</th>
          <th>{{'MARKETBOARD.Total_price' | translate}}</th>
          <th>{{'MARKETBOARD.Unit_price' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of historyTable.data">
          <td>{{row.PurchaseDate | date:'short'}}</td>
          <td>{{row.Quantity}}</td>
          <td>{{row.Server}}</td>
          <td><img src="./assets/icons/HQ.png" alt="HQ" *ngIf="row.IsHQ" class="hq-icon"></td>
          <td>{{row.PriceTotal | number}}</td>
          <td>{{row.PricePerUnit | number}}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
    <a *ngIf="server$ | async as server" href="http://mogboard.com/market/{{itemId}}"
       target="_blank">{{'MARKETBOARD.More_on_mogboard' | translate}}</a>
  </div>
</ng-template>
