<mat-list-item [class.odd]="odd" class="list-item" [class.ignored]="item.usePrice">
  <div mat-list-avatar class="icon" *ngIf="!isMobile()">
    <img mat-list-avatar src="{{item.icon | icon}}" alt="{{item.id | itemName | i18n}}">
  </div>
  <p mat-line class="item-name">
    <app-copyable-name [name]="item.id | itemName | i18n" (afterCopy)="afterNameCopy($event)"
                       [tooltip]="'Copy_item_name_to_clipboard' | translate">
      {{item.id | itemName | i18n}}
    </app-copyable-name>
    <mat-icon *ngIf="_craftCost !== undefined"
              matTooltip="{{'Minimal_craft_cost' | translate}}: {{_craftCost | number:'1.0-0'}} gil"
              matTooltipPosition="above">
      attach_money
    </mat-icon>
  </p>

  <mat-icon *ngIf="price.fromVendor" class="from-vendor" matTooltip="{{'PRICING.From_vendor' | translate}}"
            matTooltipPosition="above">group
  </mat-icon>

  <mat-slide-toggle [(ngModel)]="item.usePrice" (change)="save.emit()"></mat-slide-toggle>

  <mat-checkbox *ngIf="preCraft" [(ngModel)]="customPrice" (change)="saveCustomPrice()"></mat-checkbox>

  <div class="amount-group">
    <div class="field-group" matLine>
      <mat-form-field class="nofix price">
        <span matPrefix>NQ &nbsp;</span>
        <input matInput type="number" lang="en-150" min="0" [disabled]="preCraft && !customPrice"
               [(ngModel)]="price.nq" (ngModelChange)="savePrice()">
      </mat-form-field>
      <mat-form-field class="nofix amount">
        <span matPrefix>x &nbsp;</span>
        <input matInput type="number" min="0" [max]="item.amount" [readonly]="isCrystal()"
               [(ngModel)]="amount.nq" (ngModelChange)="changeNQ()">
      </mat-form-field>
    </div>
    <div class="field-group" matLine *ngIf="!isCrystal()">
      <mat-form-field class="nofix price">
        <span matPrefix>HQ &nbsp;</span>
        <input matInput type="number" lang="en-150" min="0" [disabled]="preCraft && !customPrice"
               [(ngModel)]="price.hq" (ngModelChange)="savePrice()">
      </mat-form-field>
      <mat-form-field class="nofix amount">
        <span matPrefix>x &nbsp;</span>
        <input matInput type="number" lang="en-150" min="0" [max]="item.amount"
               [(ngModel)]="amount.hq" (ngModelChange)="changeHQ()">
      </mat-form-field>
    </div>
  </div>
</mat-list-item>
