<div [class.ignored]="!item.usePrice" nz-row fxLayout="row wrap" [class.odd]="odd" class="row-container">
  <div nz-col nzXs="24" nzMd="6" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
    <label nz-checkbox [(ngModel)]="item.usePrice" (ngModelChange)="save.emit()"></label>
    <app-item-icon [icon]="item.icon" [itemName]="item.id | itemName| i18n" [itemId]="item.id"
                   [width]="24"></app-item-icon>
    <span class="item-name" ngxClipboard [cbContent]="item.id | itemName | i18n" nz-tooltip
          *ngIf="settings.preferredCopyType === 'classic'"
          [nzTitle]="'Copy_item_name_to_clipboard' | translate"
          (cbOnSuccess)="afterNameCopy($event.content)">
        {{item.id | itemName | i18n}}
      </span>
    <span class="item-name" ngxClipboard cbContent="/isearch &quot;{{item.id | itemName | i18n}}&quot;" nz-tooltip
          *ngIf="settings.preferredCopyType === 'isearch'"
          [nzTitle]="'Copy_isearch' | translate"
          (cbOnSuccess)="afterNameCopy($event.content)">
        {{item.id | itemName | i18n}}
      </span>
    <i *ngIf="_craftCost !== undefined"
       nz-tooltip
       nzTitle="{{'Minimal_craft_cost' | translate}}: {{_craftCost | number:'1.0-0'}} gil"
       class="material-icons">
      attach_money
    </i>
    <i *ngIf="price.fromVendor" class="from-vendor material-icons" nz-tooltip
       nzTitle="{{'PRICING.From_vendor' | translate}}">
      group
    </i>
    <i class="material-icons" nz-tooltip
       *ngIf="priceFromCrafting"
       nzTitle="{{'PRICING.From_crafting' | translate}}">gavel</i>
    <i *ngIf="vendorPrice?.nq > 0 && vendorPrice?.nq < price?.nq" nz-icon type="warning" theme="twotone" nz-tooltip
       [twoToneColor]="'#eb4141'"
       nzTitle="{{'PRICING.Cheaper_at_vendor' | translate: {price: vendorPrice?.nq } }}">
    </i>
    <app-marketboard-icon [itemId]="item.id" [showHistory]="true"></app-marketboard-icon>
  </div>
  <div nz-col nzXs="24" nzMd="10">

  </div>
  <div nz-col nzXs="24" nzMd="8" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="5px">
    <label nz-checkbox *ngIf="preCraft" [(ngModel)]="customPrice" (ngModelChange)="saveCustomPrice()"></label>
    <div class="amount-group" fxLayout="row" fxLayoutGap="5px">
      <div fxLayout="row">
        <nz-input-group nzCompact nzSize="small" [nzAddOnBefore]="addonBeforeNQ">
          <ng-template #addonBeforeNQ>
            <div nz-tooltip class="server-span">NQ<span *ngIf="price.fromMB && price.nqServer"> ({{price.nqServer}}
              )</span></div>
          </ng-template>
          <input nz-input class="price" type="number" lang="en-150" min="0" [disabled]="preCraft && !customPrice"
                 [(ngModel)]="price.nq" (ngModelChange)="savePrice()">
        </nz-input-group>
        <nz-input-group nzCompact nzSize="small" [nzAddOnBefore]="'x'">
          <input nz-input class="amount" type="number" min="0" [max]="item.amount"
                 [readonly]="isCrystal()"
                 [(ngModel)]="amount.nq" (ngModelChange)="changeNQ()">
        </nz-input-group>
      </div>
      <div *ngIf="!isCrystal()" fxLayout="row">
        <nz-input-group nzCompact nzSize="small" [nzAddOnBefore]="addonBeforeHQ">
          <ng-template #addonBeforeHQ>
            <div nz-tooltip class="server-span">HQ<span *ngIf="price.fromMB && price.hqServer"> ({{price.hqServer}}
              )</span></div>
          </ng-template>
          <input nz-input class="price" type="number" lang="en-150" min="0" [disabled]="preCraft && !customPrice"
                 [(ngModel)]="price.hq" (ngModelChange)="savePrice()">
        </nz-input-group>
        <nz-input-group nzCompact nzSize="small" [nzAddOnBefore]="'x'">
          <input nz-input class="amount" type="number" lang="en-150" min="0" [max]="item.amount"
                 [(ngModel)]="amount.hq" (ngModelChange)="changeHQ()">
        </nz-input-group>
      </div>
    </div>
  </div>
</div>
