service-account.json
service-account-beta.json
lists.json
ssr/output
functions/dist
*.log
apps/client/src/app/core/data/lazy-files-list.ts
# See http://help.github.com/ignore-files/ for more about ignoring files.

apps/client/src/environments/version.ts
apps/client/src/environments/patch-notes.ts

# compiled output
/release
/dist
/tmp
/out-tsc

# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.ignore
.vimrc

# IDE - VSCode
.vs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/apps/data-extraction/build/
/apps/data-extraction/input/*
/apps/data-extraction/csv/*
/apps/client/src/assets/tc-loader.js
/ssr/dist/
/functions/lib/
