<h3 mat-dialog-title>{{'LIST_DETAILS.List_finished' | translate}}</h3>
<div mat-dialog-content></div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close="delete" color="accent">
        <mat-icon>delete</mat-icon>
        {{'Delete' | translate}}
    </button>
    <button mat-raised-button mat-dialog-close="reset" color="primary">
        <mat-icon>replay</mat-icon>
        {{'Reset_progression' | translate}}
    </button>
    <button mat-button mat-dialog-close color="warn">{{'Close' | translate}}</button>
</div>
