.container {
    .selection {
        width: 100%;
        mat-form-field {
            width: 100%;
        }
    }
    .controls {
        display: flex;
        justify-content: flex-end;
        mat-form-field {
            flex: 1 1 auto;
        }
    }
    .rows {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        div {
            margin: 5px 0;
            &.odd {
                background-color: rgba(123, 123, 123, .2);
            }
        }
    }
}
