<h2 mat-dialog-title>{{item.id | itemName | i18n}}</h2>
<!--If we're loading the informations, simply show a spinner-->
<div mat-dialog-content *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div mat-dialog-content *ngIf="!loading" class="content">
  <div class="icon-container">
    <img src="{{item.icon | icon}}" alt="{{item.id | itemName | i18n}}" class="item-icon">
  </div>
  <h3>Spots</h3>
  <div *ngFor="let spot of fish.spots" class="spot-row">
        <span class="place-name">{{getNode(spot.spot).zoneid | placeName | i18n}} - {{getNode(spot.spot).areaid | placeName |
            i18n}}</span>
    <br>
    <!--<span class="place-coords"><app-map-position [marker]="getNode(spot.spot)"-->
                                                 <!--[zoneId]="getNode(spot.spot).zoneid"></app-map-position></span>-->
    <div class="schedule" *ngIf="spot.during !== undefined">
      <mat-icon class="schedule-icon">schedule</mat-icon>
      {{spot.during.start}} - {{spot.during.end}}
    </div>
    <mat-list *ngIf="spot.weather !== undefined" class="weather-icons" dense>
      <h4 mat-subheader>Weather</h4>
      <mat-list-item *ngFor="let weather of spot.weather">
        <img mat-list-avatar class="weather-icon"
             src="https://www.garlandtools.org/db/icons/weather/{{weather}}.png"
             alt="{{weather}}">
        <p mat-line>{{getWeatherName(weather) | i18n}}</p>
      </mat-list-item>
    </mat-list>
    <mat-list *ngIf="spot.bait !== undefined" class="baits" dense>
      <h4 mat-subheader>Baits</h4>
      <mat-list-item *ngFor="let bait of spot.bait">
        <img mat-list-avatar src="{{getBaitIcon(bait) | icon}}" alt="">
        <p mat-line>{{bait | itemName | i18n}}</p>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
  </div>
</div>
