<ng-container *ngIf="xivapiMob$ | async as xivapiMob; else loader">
  <div [style.padding]="'0 25px' | ifMobile: '0'" fxLayout="column" fxLayoutGap="10px">
    <div class="top-bar" fxFlex="1 1 auto" fxLayout="row" fxLayout.lt-md="column"
         fxLayoutAlign="flex-start flex-start" fxLayoutGap="5px" fxLayoutGap.lt-md="10px">
      <div class="top-left-block" fxFlex="0 0 300px" fxFlex.lt-md="1 1 auto" fxLayout="column"
           fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div class="icon-block" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <img [src]="xivapiMob.Icon | xivapiIcon" alt="{{xivapiMob.ID | i18nRow:'mobs' | i18n}}"
               class="larger-img-icon">
          <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
            <h2 class="item-name">{{xivapiMob.ID | i18nRow:'mobs' | i18n}}</h2>
            <div *ngIf="xivapiMob.GamePatch" class="patch">
              {{xivapiMob.GamePatch | xivapiL12n: 'patchs' | i18n}}
              <app-db-button [id]="xivapiMob.GamePatch.ID" type="patch"></app-db-button>
            </div>
          </div>
        </div>
        <div *ngIf="links$ | async as links" class="links" fxLayout="row" fxLayoutAlign="flex-start center"
             fxLayoutGap="5px">
          <a *ngFor="let link of links" [href]="link.url" [nzTooltipTitle]="link.title" nz-tooltip target="_blank">
            <img [alt]="link.title" [src]="link.icon" class="link-icon">
          </a>
        </div>
      </div>
      <div fxFlex="1 1 auto">
      </div>
      <app-i18n-display fxFlex="0 0 300px" fxFlex.lt-md="1 1 auto" fxLayout="column" fxLayoutGap="5px"
           [value]="xivapiMob.ID | i18nRow:'mobs'"></app-i18n-display>
    </div>
    <app-db-comments *ngIf="settings.dbCommentsPosition === 'TOP'" [id]="xivapiMob.ID" type="mob"></app-db-comments>

    <nz-divider [nzText]="'DB.Details' | translate" nzOrientation="left"></nz-divider>
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px">
      <nz-card *ngFor="let spawn of spawns$ | async" [nzTitle]="title"
               class="details-card"
               fxFlex="1 1 30%"
               nzBordered="false">
        <ng-template #title>
          <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            {{spawn.zoneid | i18nRow:'places' | i18n}}<span
            *ngIf="spawn.level"> - {{'DB.Level' | translate}} {{spawn.level}}</span>
          </div>
        </ng-template>
        <app-map *ngIf="spawn?.positions" [mapId]="spawn.map" [markers]="spawn?.positions"></app-map>
      </nz-card>
      <ng-container *ngIf="drops$ | async as drops">
        <nz-card *ngIf="drops.length > 0" [nzTitle]="title"
                 class="details-card"
                 fxFlex="1 1 auto"
                 nzBordered="false">
          <ng-template #title>
            <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
              {{'DB.MOB.Known_drops' | translate}}
            </div>
          </ng-template>
          <nz-list [nzDataSource]="drops" [nzItemLayout]="'horizontal'"
                   [nzRenderItem]="dropTemplate">
            <ng-template #dropTemplate let-item>
              <nz-list-item [nzContent]="more">
                <nz-list-item-meta
                  [nzAvatar]="itemAvatar"
                  [nzTitle]="item | itemName | i18n">
                  <ng-template #itemAvatar>
                    <app-item-icon [icon]="item | lazyIcon" [itemId]="item"
                                   [width]="32"></app-item-icon>
                  </ng-template>
                  <div>{{item | itemName | i18n}}</div>
                  <ng-template #more>
                    <app-db-button [id]="item" type="item"></app-db-button>
                  </ng-template>
                </nz-list-item-meta>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </nz-card>
      </ng-container>
    </div>
  </div>
  <app-db-comments *ngIf="settings.dbCommentsPosition === 'BOTTOM'" [id]="xivapiMob.ID" type="mob"></app-db-comments>
</ng-container>
<ng-template #loader>
  <app-page-loader></app-page-loader>
</ng-template>
