<div class="post">
  <div class="post-banner" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px">
    <app-user-avatar [userId]="post.author"></app-user-avatar>
    <div fxLayout="column">
      <h1 class="post-title">{{post.title}}</h1>
      <i>{{post.author | characterName | async}}, {{post.date | date:'short':translate.currentLang}}</i>
    </div>
  </div>
  <div (click)="handleClick($event)" class="post-content">
    <markdown [data]="post.content"></markdown>
  </div>
  <div class="post-footer" fxLayout="row">
    <a class="patreon button" fxFlex="1 1 auto" href="https://www.patreon.com/bePatron?u=702160" target="_blank">
      <img alt="patreon logo" class="patreon-logo"
           src="https://c5.patreon.com/external/logo/downloads_logomark_color_on_coral.png">
      <span class="patreon-button-text">
      {{"SEARCH_INTRO.Support_patreon" | translate}}
      </span>
    </a>
  </div>
</div>
