<nz-list [nzDataSource]="ventures" [nzRenderItem]="ventureTemplate">
  <ng-template #ventureTemplate let-venture>
    <nz-list-item [nzContent]="content">
      <nz-list-item-meta
        [nzTitle]="venture.name ? (venture.job | i18nRow:'jobAbbr' | i18n) || (DOWM | i18n): (venture.id | i18nRow:'ventures' | i18n)"
        nzDescription="Lv. {{venture.lvl}}">
      </nz-list-item-meta>
      <ng-template #content>
        <div fxLayout="column">
          <div *ngFor="let threshold of venture.amountsDetails" fxLayout="row" fxLayoutAlign="flex-end center"
               fxLayoutGap="5px">
            <div>{{threshold.name | translate}} {{threshold.stat}}</div>
            <i nz-icon nzType="right"></i>
            <div>x{{threshold.quantity}}
              <span [nzTooltipTitle]="'Requires_x_ventures' | translate: {amount: (item.amount - item.done) / threshold.quantity | ceil}"
                    nz-tooltip>
                ({{((item.amount - item.done) / threshold.quantity) | ceil }})
              </span>
            </div>
          </div>
        </div>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>
