<h3 mat-dialog-title>
    {{'Login' | translate}}
</h3>
<div mat-dialog-content>
    <form [formGroup]="form" (submit)="classicLogin()">
        <mat-input-container>
            <input type="text" required mdInput placeholder="Email" formControlName="email">
        </mat-input-container>
        <mat-input-container>
            <input type="password" required formControlName="password" mdInput
                   placeholder="{{'Password' | translate}}">
            <mat-error></mat-error>
        </mat-input-container>
        <mat-error *ngIf="error">{{'Invalid_credentials' | translate}}</mat-error>
        <mat-error *ngIf="notVerified">{{'Not_verified' | translate}}</mat-error>
        <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">{{'Submit' | translate}}</button>
        <button mat-button color="warn" class="forgot-password" type="button" (click)="openForgotPasswordPopup()">
            {{"Forgot_password" | translate}}
        </button>
    </form>
    <mat-divider></mat-divider>
    <div class="oauth">
        <button mat-raised-button color="primary" (click)="googleOauth()">{{'Google_login' | translate}}</button>
        <button mat-raised-button color="primary" (click)="facebookOauth()">{{'Facebook_login' | translate}}</button>
    </div>
</div>
