<div *ngIf="rank > 0 && rank < maxRank" nz-popover
     [nzPopoverTitle]="voyageRankTitle"
     [nzPopoverContent]="voyageRankContent">
  {{ rank }} / {{ maxRank }}
</div>

<ng-template #voyageRankTitle>
  <div style="text-align: center">{{ 'VOYAGE_TRACKER.RANK_DETAILS.Experience_Points' | translate }}</div>
</ng-template>

<ng-template #voyageRankContent>
  <div fxLaout="column">
    <div style="text-align: center">{{ currentExperience }} / {{ totalExperienceForNextRank }}</div>
    <div>
      <nz-progress [nzPercent]="rankUpPercent()"></nz-progress>
    </div>
  </div>
</ng-template>
