<div class="item-row" [class.odd]="odd" nz-row>
  <div class="block left-block" nz-col nzXs="24" nzMd="6">
    <div class="icon">
      <app-item-icon [icon]="item.icon" [itemName]="item.id | itemName| i18n" [itemId]="item.id"
                     [width]="24"></app-item-icon>
    </div>
    <span class="item-name" ngxClipboard [cbContent]="item.id | itemName | i18n" nz-tooltip
          [nzTitle]="'Copy_item_name_to_clipboard' | translate"
          (cbOnSuccess)="success('Item_name_copied', {itemname: $event.content})">
      {{item.id | itemName | i18n}}
    </span>
  </div>
  <div class="block center-block" nz-col nzXs="24" nzMd="8">
    <div class="timers" *ngIf="item.alarms && item.alarms.length > 0" fxLayout="row wrap" fxLayoutGap="5px">
      <div *ngFor="let alarm of item.alarms">
        <nz-button-group *ngIf="alarm | alarmDisplay | async as display">
          <button nz-button [nzSize]="'small'" [nzType]="display.spawned?'primary':'default'"
                  [nzGhost]="!display.registered"
                  (click)="toggleAlarm(display)">
            <i class="anticon anticon-clock-circle-o" *ngIf="!display.registered"></i>
            <i class="anticon anticon-close-circle-o" *ngIf="display.registered"></i>
            {{display.remainingTime | timer}}
            <span *ngIf="display.alarm.slot">({{display.alarm.slot}})</span>
            <img [src]="display.alarm.type | nodeTypeIcon" alt="" class="node-type-icon">
          </button>
          <ng-container *ngIf="alarmGroups$ | async as alarmGroups">
            <nz-dropdown *ngIf="!display.registered && alarmGroups.length > 0" [nzPlacement]="'bottomCenter'">
              <button nz-button [nzSize]="'small'" nz-dropdown>
                <i class="anticon anticon-ellipsis"></i>
              </button>
              <ul nz-menu>
                <li nz-menu-item *ngFor="let group of alarmGroups" (click)="addAlarmWithGroup(alarm, group)">
                  {{group.name}}
                </li>
              </ul>
            </nz-dropdown>
          </ng-container>
        </nz-button-group>
      </div>
    </div>
  </div>
  <div class="block books-and-input-block" nz-col nzXs="24" nzMd="6">
    <div class="masterbooks">
      <app-item-icon *ngFor="let masterbook of item.masterbooks" [icon]="masterbook.icon"
                     [itemName]="masterbook.id | itemName| i18n" [itemId]="masterbook.id"
                     nz-tooltip [nzTitle]="masterbook.id | itemName | i18n"
                     [width]="24"></app-item-icon>
    </div>
    <div class="amount-input">
      <nz-input-number [nzMin]="0" [nzSize]="'small'" [nzMax]="item.amount" [nzStep]="1" [ngModel]="item.done"
                       (ngModelChange)="itemDoneChanged($event)"></nz-input-number>
      <button nz-button [nzSize]="'small'" [nzShape]="'circle'" [nzType]="'primary'" class="done-button">
        <i class="anticon anticon-check"></i>
      </button>
    </div>
  </div>
  <div class="item-obtention" nz-col nzXs="24" nzMd="4">
    <button nz-button [nzShape]="'circle'" [nzSize]="'small'" [nzGhost]="true">A</button>
    <button nz-button [nzShape]="'circle'" [nzSize]="'small'" [nzGhost]="true">A</button>
    <button nz-button [nzShape]="'circle'" [nzSize]="'small'" [nzGhost]="true">A</button>
    <button nz-button [nzShape]="'circle'" [nzSize]="'small'" [nzGhost]="true">A</button>
    <button nz-button [nzShape]="'circle'" [nzSize]="'small'" [nzGhost]="true">A</button>
    <button nz-button [nzShape]="'circle'" [nzSize]="'small'" [nzGhost]="true">A</button>
    <button nz-button [nzShape]="'circle'" [nzSize]="'small'" [nzGhost]="true">A</button>
  </div>
</div>

