<div class="item-row" [class.odd]="odd" nz-row fxLayout="row wrap" [class.done]="item.amount <= item.done"
     [class.craftable]="canBeCrafted$ | async" [class.has-all-ingredients]="hasAllBaseIngredients$ | async">
  <div class="block left-block" nz-col [nzSm]="item.alarms && item.alarms.length > 0?12:6" nzXs="24" nzMd="8">
    <div class="icon" *ngIf="!item.custom">
      <app-item-icon [icon]="item.icon" [itemName]="item.id | itemName: item | i18n" [itemId]="item.id"
                     [width]="24"></app-item-icon>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
      <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="center flex-start">
          <div>
      <span class="item-name" ngxClipboard [cbContent]="item.id | itemName: item | i18n" nz-tooltip
            *ngIf="settings.preferredCopyType === 'classic'"
            [nzTitle]="'Copy_item_name_to_clipboard' | translate"
            (cbOnSuccess)="success('Item_name_copied', {itemname: $event.content})">
        {{item.id | itemName: item | i18n}}
      </span>
            <span class="item-name" ngxClipboard cbContent="/isearch &quot;{{item.id | itemName: item | i18n}}&quot;"
                  nz-tooltip
                  *ngIf="settings.preferredCopyType === 'isearch'"
                  [nzTitle]="'Copy_isearch' | translate"
                  (cbOnSuccess)="success('Item_name_copied', {itemname: $event.content})">
        {{item.id | itemName: item | i18n}}
      </span>
            <span *ngIf="requiredForFinalCraft$ | async as requiredForFinal">
        <img src="./assets/icons/HQ.png" alt="" nz-tooltip
             [nzTitle]="'Required_for_final_craft' | translate:{amount: requiredForFinal}"/>
      </span>
            <span class="needed" *ngIf="item.amount > item.done">x{{item.amount - item.done}}<span
              *ngIf="item.amount !== item.amount_needed">({{((item.amount - item.done) / item.yield) | ceil}})</span>
      </span>
          </div>
        </div>
        <app-user-avatar class="working-on-it" *ngIf="item.workingOnIt !== undefined" messageKey="Is_working_on_it"
                         [userId]="item.workingOnIt" [width]="24"></app-user-avatar>

        <div fxLayout="row" class="menu-buttons" fxLayoutGap="5px">
          <app-marketboard-icon *ngIf="isButton(itemRowTypes.MARKET_BOARD_INFORMATIONS)" [itemId]="item.id"
                                [showHistory]="finalItem"></app-marketboard-icon>
          <ng-container *ngIf="isButton(itemRowTypes.COPY_NAME_NOT_FAVORITE)">
            <button nz-button nzSize="small" nzShape="circle" ngxClipboard
                    cbContent="/isearch &quot;{{item.id | itemName: item | i18n}}&quot;"
                    *ngIf="settings.preferredCopyType === 'classic'"
                    nz-tooltip [nzTitle]="'Copy_isearch' | translate"
                    (cbOnSuccess)="success('Item_name_copied', {itemname: $event.content})">
              <i nz-icon type="copy"></i>
            </button>
            <button nz-button nzSize="small" nzShape="circle" ngxClipboard [cbContent]="item.id | itemName: item | i18n"
                    *ngIf="settings.preferredCopyType === 'isearch'"
                    nz-tooltip [nzTitle]="'Copy_item_name_to_clipboard' | translate"
                    (cbOnSuccess)="success('Item_name_copied', {itemname: $event.content})">
              <i nz-icon type="copy"></i>
            </button>
          </ng-container>

          <ng-container *ngIf="isButton(itemRowTypes.COMMENTS)">
            <ng-container *ngIf="listsFacade.selectedList$ | async as list">
              <button nz-button nzSize="small" nzShape="circle" nz-tooltip [nzTitle]="'COMMENTS.Title' | translate"
                      *ngIf="userId$ | async as userId"
                      (click)="openCommentsPopup(list, list.authorId === userId)">
                <nz-badge [nzDot]="commentBadge$ | async">
                  <i nz-icon type="message"></i>
                </nz-badge>
              </button>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="isButton(itemRowTypes.ADD_ALL_ALARMS)">
            <button nz-button nzSize="small" nzShape="circle" (click)="addAllAlarms()"
                    *ngIf="item.alarms !== undefined && item.alarms.length > 0"
                    nz-tooltip [nzTitle]="'LIST_DETAILS.Add_all_item_alarms' | translate">
              <i nz-icon type="bell"></i>
            </button>
          </ng-container>

          <ng-container *ngIf="isButton(itemRowTypes.WORK_ON_IT)">
            <ng-container *ngIf="userId$ | async as userId">
              <button nz-button nzSize="small" nzShape="circle" (click)="setWorkingOnIt(userId)" nz-tooltip
                      [nzTitle]="'Work_on_it' | translate"
                      *ngIf="item.workingOnIt === undefined && loggedIn$ | async">
                <i nz-icon type="user-add"></i>
              </button>
              <button nz-button nzSize="small" nzShape="circle" nzType="danger" (click)="removeWorkingOnIt()" nz-tooltip
                      [nzTitle]="'Remove_work_on_it' | translate"
                      *ngIf="item.workingOnIt !== undefined && (userId === item.workingOnIt || (team$ | async)?.leader === userId)">
                <i nz-icon type="user-delete"></i>
              </button>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="isButton(itemRowTypes.REQUIREMENTS)">
            <button nz-button nzSize="small" nzShape="circle" (click)="openRequirementsPopup()" nz-tooltip
                    [nzTitle]="'Requirements_for_craft' | translate">
              <i nz-icon type="bars"></i>
            </button>
          </ng-container>

          <ng-container *ngIf="isButton(itemRowTypes.ADD_TAG) && settings.itemTagsEnabled">
            <button nz-button nzSize="small" nzShape="circle" nz-tooltip [nzTitle]="'LIST_DETAILS.New_tag' | translate"
                    (click)="showTagInput()">
              <i nz-icon type="tag"></i>
            </button>
          </ng-container>

          <ng-container *ngIf="!isButton(itemRowTypes.ASSIGN_TEAM_MEMBER)">
            <ng-container *ngIf="userId$ | async as userId">
              <ng-container *ngIf="team$ | async as team">
                <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomLeft'" class="item-options"
                             *ngIf="team.leader === userId || (!team.notFound && team.isOfficer(userId))">
                  <button nz-dropdown nzSize="small"
                          (click)="$event.stopPropagation()"
                          nz-tooltip [nzTitle]="'TEAMS.Assign_team_member' | translate"
                          nz-button [nzShape]="'circle'">
                    <i nz-icon type="team"></i>
                  </button>
                  <ul nz-menu class="team-members">
                    <ng-container *ngFor="let member of team.members">
                      <li nz-menu-item *ngIf="member | characterName | async as charName"
                          (click)="assignTeamMember(team, member)">{{charName}}
                      </li>
                    </ng-container>
                  </ul>
                </nz-dropdown>
              </ng-container>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="isButton(itemRowTypes.EDIT_AMOUNT)">
            <button nz-button nzSize="small" nzShape="circle" *ngIf="finalItem && (permissionLevel$ | async) >= 30"
                    (click)="changeAmount()" nz-tooltip [nzTitle]="'Edit_amount' | translate">
              <i nz-icon type="diff"></i>
            </button>
          </ng-container>

          <ng-container *ngIf="isButton(itemRowTypes.MARK_HQ)">
            <button nz-button nzSize="small" nzShape="circle"
                    *ngIf=" (permissionLevel$ | async) >= 30 &&(requiredForFinalCraft$ | async) === 0 && !item.requiredAsHQ"
                    (click)="item.requiredAsHQ = true; saveItem()"
                    nz-tooltip [nzTitle]="'Mark_HQ' | translate">
              <i nz-icon type="highlight"></i>
            </button>

            <button nz-button nzSize="small" nzShape="circle" nzType="danger"
                    *ngIf="((requiredForFinalCraft$ | async) >= 0 || item.requiredAsHQ) && (permissionLevel$ | async) >= 30"
                    (click)="item.requiredAsHQ = false; saveItem()"
                    nz-tooltip [nzTitle]="'Unmark_HQ' | translate">
              <i nz-icon type="highlight"></i>
            </button>
          </ng-container>

          <ng-container *ngIf="isButton(itemRowTypes.ADD_TO_ANOTHER_LIST)">
            <button nz-button nzSize="small" nzShape="circle" nz-tooltip
                    [nzTitle]="'LIST_DETAILS.Add_to_another_list' | translate"
                    (click)="addToList(item)">
              <i nz-icon type="plus"></i>
            </button>
          </ng-container>

          <ng-container *ngIf="isButton(itemRowTypes.REMOVE_ITEM) && finalItem && (permissionLevel$ | async) >= 30">
            <button nz-button nzSize="small" nzShape="circle"
                    nzType="danger"
                    [nzTitle]="'Confirmation' | translate"
                    nz-popconfirm
                    (nzOnConfirm)="removeItem()">
              <i nz-icon type="delete"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="showLogCompletionButton$ | async">
            <button nz-button nzSize="small" nzShape="circle"
                    *ngIf="isButton(itemRowTypes.MARK_AS_DONE_IN_LOG)"
                    [nzTitle]="'LOG_TRACKER.Mark_as_done_external' | translate"
                    nz-tooltip
                    (click)="markAsDoneInLog(item)">
              <i nz-icon type="file-done"></i>
            </button>
          </ng-container>

          <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomLeft'" class="item-options">
            <button nz-dropdown nzSize="small" [disabled]="(permissionLevel$ | async) < 20"
                    (click)="$event.stopPropagation()"
                    nz-button [nzShape]="'circle'">
              <nz-badge [nzDot]="(commentBadge$ | async) && !isButton(itemRowTypes.COMMENTS)">
                <i nz-icon type="ellipsis"></i>
              </nz-badge>
            </button>
            <ul nz-menu *ngIf="userId$ | async as userId">
              <ng-container *ngIf="!isButton(itemRowTypes.COPY_NAME_NOT_FAVORITE)">
                <li nz-menu-item ngxClipboard cbContent="/isearch &quot;{{item.id | itemName: item | i18n}}&quot;"
                    *ngIf="settings.preferredCopyType === 'classic'"
                    (cbOnSuccess)="success('Item_name_copied', {itemname: $event.content})">
                  {{'Copy_isearch' | translate}}
                </li>
                <li nz-menu-item ngxClipboard [cbContent]="item.id | itemName: item | i18n"
                    *ngIf="settings.preferredCopyType === 'isearch'"
                    (cbOnSuccess)="success('Item_name_copied', {itemname: $event.content})">
                  {{'Copy_item_name_to_clipboard' | translate}}
                </li>
              </ng-container>

              <ng-container *ngIf="!isButton(itemRowTypes.MARKET_BOARD_INFORMATIONS)">
                <li nz-menu-item (click)="openMarketboardDialog()">
                  {{'MARKETBOARD.Title' | translate}}
                </li>
              </ng-container>

              <ng-container *ngIf="!isButton(itemRowTypes.COMMENTS)">
                <ng-container *ngIf="listsFacade.selectedList$ | async as list">
                  <li nz-menu-item *ngIf="userId$ | async as userId"
                      (click)="openCommentsPopup(list, list.authorId === userId)">
                    <nz-badge [nzDot]="commentBadge$ | async">
                      {{'COMMENTS.Title' | translate}}
                    </nz-badge>
                  </li>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="!isButton(itemRowTypes.ADD_ALL_ALARMS)">
                <li nz-menu-item (click)="addAllAlarms()"
                    *ngIf="item.alarms !== undefined && item.alarms.length > 0">
                  {{'LIST_DETAILS.Add_all_item_alarms' | translate}}
                </li>
              </ng-container>

              <ng-container *ngIf="!isButton(itemRowTypes.WORK_ON_IT)">
                <li nz-menu-item (click)="setWorkingOnIt(userId)"
                    *ngIf="item.workingOnIt === undefined && loggedIn$ | async">
                  {{'Work_on_it' | translate}}
                </li>
                <li nz-menu-item (click)="removeWorkingOnIt()"
                    *ngIf="item.workingOnIt !== undefined && (userId === item.workingOnIt || (team$ | async)?.leader === userId)">
                  {{'Remove_work_on_it' | translate}}
                </li>
              </ng-container>

              <ng-container *ngIf="!isButton(itemRowTypes.REQUIREMENTS)">
                <li nz-menu-item (click)="openRequirementsPopup()">{{'Requirements_for_craft' | translate}}</li>
              </ng-container>
              <ng-container *ngIf="!isButton(itemRowTypes.ASSIGN_TEAM_MEMBER)">
                <ng-container *ngIf="team$ | async as team">
                  <li nz-submenu *ngIf="team.leader === userId || (!team.notFound && team.isOfficer(userId))">
                    <span title>{{'TEAMS.Assign_team_member' | translate}}</span>
                    <ul nz-menu class="team-members">
                      <ng-container *ngFor="let member of team.members">
                        <li nz-menu-item *ngIf="member | characterName | async as charName"
                            (click)="assignTeamMember(team, member)">{{charName}}
                        </li>
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="!isButton(itemRowTypes.EDIT_AMOUNT)">
                <li nz-menu-item *ngIf="finalItem && (permissionLevel$ | async) >= 30"
                    (click)="changeAmount()">
                  {{'Edit_amount' | translate}}
                </li>
              </ng-container>
              <ng-container *ngIf="!isButton(itemRowTypes.MARK_HQ)">
                <li nz-menu-item
                    *ngIf=" (permissionLevel$ | async) >= 30 &&(requiredForFinalCraft$ | async) === 0 && !item.requiredAsHQ"
                    (click)="item.requiredAsHQ = true; saveItem()">
                  {{'Mark_HQ' | translate}}
                </li>
                <li nz-menu-item
                    *ngIf="((requiredForFinalCraft$ | async) >= 0 || item.requiredAsHQ) && (permissionLevel$ | async) >= 30"
                    (click)="item.requiredAsHQ = false; saveItem()">
                  {{'Unmark_HQ' | translate}}
                </li>
              </ng-container>
              <ng-container *ngIf="!isButton(itemRowTypes.ADD_TO_ANOTHER_LIST)">
                <li nz-menu-item (click)="addToList(item)">
                  {{'LIST_DETAILS.Add_to_another_list' | translate}}
                </li>
              </ng-container>
              <ng-container
                *ngIf="!isButton(itemRowTypes.REMOVE_ITEM) && finalItem && (permissionLevel$ | async) >= 30">
                <li nz-menu-item (click)="removeItem()">
                  {{'LIST_DETAILS.LAYOUT_DIALOG.ITEMS.REMOVE_ITEM' | translate}}
                </li>
              </ng-container>

              <ng-container *ngIf="!isButton(itemRowTypes.ADD_TAG) && settings.itemTagsEnabled">
                <li nz-menu-item (click)="showTagInput()">
                  {{'LIST_DETAILS.New_tag' | translate}}
                </li>
              </ng-container>

              <ng-container *ngIf="showLogCompletionButton$ | async">
                <li nz-menu-item (click)="markAsDoneInLog(item)" *ngIf="!isButton(itemRowTypes.MARK_AS_DONE_IN_LOG)">
                  {{'LOG_TRACKER.Mark_as_done_external' | translate}}
                </li>
              </ng-container>
            </ul>
          </nz-dropdown>
          <ng-container *ngIf="missingBooks$ | async as missingBooks">
            <button nz-button nzGhost nzSize="small" nzShape="circle" nzType="danger"
                    *ngIf="missingBooks?.length > 0 && missingBooks.length === item.masterbooks?.length"
                    class="missing-masterbooks"
                    nz-tooltip [nzTitle]="'LIST_DETAILS.Missing_masterbook' | translate"
                    (click)="checkMasterbooks(missingBooks)">
              <i nz-icon type="warning"></i>
            </button>
          </ng-container>
        </div>
      </div>

      <div *ngIf="settings.itemTagsEnabled && (loggedIn$ | async)">
        <nz-tag
          *ngFor="let tag of itemTags$ | async"
          [nzMode]="'closeable'"
          (nzAfterClose)="removeTag(tag)"
        >
          {{ tag }}
        </nz-tag>
        <input
          #inputElement
          nz-input
          nzSize="small"
          *ngIf="tagInputVisible"
          type="text"
          [(ngModel)]="newTag"
          style="width: 78px;"
          (blur)="addTag()"
          (keydown.enter)="addTag()"
          (input)="tagInput$.next($event.target?.value)"
          [nzAutocomplete]="tagsComplete"
        />
        <nz-autocomplete nzBackfill #tagsComplete>
          <nz-auto-option *ngFor="let option of availableTags$ | async" [nzValue]="option">
            {{ option }}
          </nz-auto-option>
        </nz-autocomplete>
      </div>
    </div>
  </div>
  <div class="block center-block" nz-col nzXs="24" nzSm="12" nzMd="7"
       [class.empty]="!alarms || alarms.length < 0">
    <div class="timers" fxLayout="row wrap" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
      <div *ngFor="let alarm of alarms; trackBy: trackByAlarm">
        <nz-button-group *ngIf="alarm | alarmDisplay | async as display">
          <button nz-button [nzSize]="'small'" [nzType]="display.spawned?'primary':'default'"
                  nz-tooltip [nzTitle]="display.alarm.zoneId | placeName | i18n"
                  [nzGhost]="!display.registered"
                  (click)="toggleAlarm(display)">
            <i nz-icon type="bell" *ngIf="!display.registered"></i>
            <i nz-icon type="close-circle-o" *ngIf="display.registered"></i>
            {{display.remainingTime | timer}}
            <span *ngIf="display.alarm.slot">({{display.alarm.slot}})</span>
            <img [src]="display.alarm.type | nodeTypeIcon" alt="" class="node-type-icon">
          </button>
          <ng-container *ngIf="alarmGroups$ | async as alarmGroups">
            <nz-dropdown *ngIf="!display.registered && alarmGroups.length > 0" [nzPlacement]="'bottomCenter'">
              <button nz-button [nzSize]="'small'" nz-dropdown>
                <i nz-icon type="ellipsis"></i>
              </button>
              <ul nz-menu>
                <li nz-menu-item *ngFor="let group of alarmGroups" (click)="addAlarmWithGroup(alarm, group)">
                  {{group.name}}
                </li>
              </ul>
            </nz-dropdown>
          </ng-container>
        </nz-button-group>
      </div>
      <nz-tag
        *ngIf="moreAlarmsAvailable > 0"
        class="more-badge">{{'ALARMS.More_available' | translate: { amount: moreAlarmsAvailable } }}</nz-tag>
    </div>
    <div *ngIf="layout?.showCraftableAmount && item.craftedBy !== undefined && item.craftedBy.length > 0">
      <div *ngIf="craftableAmount$ | async as craftableAmount" class="craftable-amount">
        {{'LIST_DETAILS.Amount_craftable' | translate:{ amount: craftableAmount } }}
      </div>
    </div>
  </div>
  <div class="block books-and-input-block" nz-col nzXs="24" nzSm="12" nzMd="6">
    <div class="masterbooks">
      <app-item-icon *ngFor="let masterbook of item.masterbooks" [icon]="masterbook.id | lazyIcon"
                     [itemName]="masterbook.id | itemName| i18n" [itemId]="masterbook.id"
                     nz-tooltip [nzTitle]="masterbook.id | itemName | i18n"
                     [width]="24" [disableClick]="+item.masterbooks[0].id !== item.masterbooks[0].id"></app-item-icon>
    </div>
    <div class="amount-input">
      <span nz-tooltip [nzTitle]="'LIST_DETAILS.Add_from_external' | translate"
            *ngIf="item.requires !== undefined && item.requires.length > 0">
        <button nz-button nzSize="small" nz-popover
                [disabled]="(permissionLevel$ | async) < 20"
                [nzContent]="externalCalc" nzTrigger="click">
          <i nz-icon type="select"></i>
          <ng-template #externalCalc>
            <nz-input-number [nzMin]="0" [nzStep]="1"
                             [ngModel]="0" #numberInput
                             nzAutoFocus></nz-input-number>
            <button nz-button (click)="add(numberInput.value, true)" nzType="primary">+</button>
            <button nz-button (click)="remove(numberInput.value, true)" nzType="warn">-</button>
          </ng-template>
        </button>
      </span>
      <span nz-tooltip [nzTitle]="'LIST_DETAILS.Add_remove_amount' | translate">
        <button nz-button nzSize="small" nz-popover [nzTitle]="'LIST_DETAILS.Add_remove_amount' | translate"
                [disabled]="(permissionLevel$ | async) < 20"
                [nzContent]="calculator" nzTrigger="click">
          <i nz-icon type="calculator"></i>
          <ng-template #calculator>
            <nz-input-number [nzMin]="0" [nzStep]="1"
                             [ngModel]="0" #numberInput
                             (keypress.enter)="add(numberInput.value)"
                             nzAutoFocus></nz-input-number>
            <button nz-button (click)="add(numberInput.value)" nzType="primary">+</button>
            <button nz-button (click)="remove(numberInput.value)" nzType="warn">-</button>
          </ng-template>
        </button>
      </span>
      <nz-input-number [nzMin]="0" [nzMax]="item.amount" [nzSize]="'small'" [nzStep]="1"
                       [disabled]="(permissionLevel$ | async) < 20"
                       (keypress.enter)="itemDoneChanged(input.ngModel)"
                       #input
                       [ngModel]="settings.displayRemaining? item.done - item.used : item.done"
                       (ngModelChange)="itemDoneChanged($event)"></nz-input-number>
      <span class="amount-max" *ngIf="!settings.displayRemaining">
        /{{item.amount}} <span *ngIf="item.amount_needed !== item.amount">({{item.amount_needed}})</span>
      </span>
      <span class="amount-max" *ngIf="settings.displayRemaining">
        /{{item.amount - item.used}} <span *ngIf="item.amount_needed !== item.amount">({{item.amount_needed}})</span>
      </span>
      <button nz-button [disabled]="(permissionLevel$ | async) < 20" [nzSize]="'small'" [nzShape]="'circle'"
              [nzType]="'primary'" class="done-button"
              *ngIf="item.amount > item.done; else done" (click)="markAsDone()">
        <i nz-icon type="check"></i>
      </button>
      <ng-template #done>
        <i nz-icon type="check" class="done-icon" (click)="resetDone()"></i>
      </ng-template>
    </div>
  </div>
  <div class="item-obtention" nz-col nzXs="24" nzSm="6" nzMd="3">
    <div fxLayout="row wrap" fxLayoutGap="2px" fxFlex="0 1 auto" fxLayoutAlign="flex-start flex-start"
         class="obtentions-container">
      <a href="{{item.gardening | ffxivgardening | i18n}}"
         target="_blank"
         nz-tooltip
         nzTitle="{{'LIST_DETAILS.Open_in_ffxivgardening' | translate}}"
         *ngIf="item.gardening">
        <img src="./assets/icons/Gardening.png" class="img-icon gardening-icon">
      </a>
      <button nz-button nz-tooltip nzTitle="{{'Hunting' | translate}}" nzShape="circle"
              *ngIf="item.drops !== undefined && item.drops.length > 0" (click)="openHuntingPopup()">
        <img class="img-icon" src="https://www.garlandtools.org/db/images/Mob.png" alt="Drops">
      </button>
      <button nz-button nzShape="circle" *ngIf="item.tradeSources !== undefined && item.tradeSources.length > 0"
              nzTitle="{{'Trade' | translate}}" nz-tooltip (click)="openTradesPopup()">
        <img class="img-icon round-icon"
             [src]="item.tradeSources | tradeIcon | icon: 'https://www.garlandtools.org/db/images/Shop.png'">
      </button>
      <button nz-button nzShape="circle" *ngIf="item.instances !== undefined && item.instances.length > 0"
              nzTitle="{{item.instances[0].name | i18n}}" nz-tooltip (click)="openInstancesPopup()">
        <img class="img-icon round-icon" [src]="item.instances[0].icon | instanceIcon">
      </button>
      <button nz-button nzShape="circle" *ngIf="item.reducedFrom !== undefined && item.reducedFrom.length > 0"
              nzTitle="{{'Reduction' | translate}}" nz-tooltip (click)="openReducedFromPopup()">
        <img class="img-icon round-icon" src="https://www.garlandtools.org/db/images/Reduce.png">
      </button>
      <button nz-button nzShape="circle" *ngIf="item.desynths !== undefined && item.desynths.length > 0"
              nzTitle="{{'Desynth' | translate}}" nz-tooltip (click)="openDesynthsPopup()">
        <i nz-icon iconfont="icon-vectorcombine"></i>
      </button>
      <button nz-button nzShape="circle" *ngIf="item.vendors !== undefined && item.vendors.length > 0"
              nz-tooltip [nzTitle]="'Vendors' | translate" (click)="openVendorsPopup()">
        <img class="img-icon" src="https://xivapi.com/i/065000/065002.png" alt="Gil">
      </button>
      <button nz-button nzShape="circle" *ngIf="item.voyages !== undefined && item.voyages.length > 0"
              nz-tooltip [nzTitle]="'Voyages' | translate" (click)="openVoyagesPopup()">
        <img class="img-icon" src="https://www.garlandtools.org/db/images/Voyage.png" alt="Voyages">
      </button>
      <button nz-button nzShape="circle" *ngIf="item.ventures !== undefined && item.ventures.length > 0"
              nz-tooltip [nzTitle]="'Retainer_ventures' | translate" (click)="openVenturesPopup()">
        <img class="img-icon round-icon" [src]="21072 | lazyIcon" alt="Ventures">
      </button>
      <button nz-button nzShape="circle" *ngIf="item.treasures !== undefined && item.treasures.length > 0"
              nz-tooltip [nzTitle]="'Treasures' | translate" (click)="openTreasuresPopup()">
        <img class="img-icon round-icon" src="./assets/icons/chest_open.png" alt="Treasures">
      </button>
      <button nz-button nzShape="circle" *ngIf="item.fates !== undefined && item.fates.length > 0"
              nz-tooltip [nzTitle]="'Fates' | translate" (click)="openFatesPopup()">
        <img class="img-icon round-icon" [src]="(item.fates[0].id | fate).icon | xivapiIcon" alt="Fates">
      </button>
      <div *ngFor="let craft of item.craftedBy; trackBy: trackByCraft"
           [fxLayout]="item.craftedBy.length > 1?'column':'row'"
           [fxLayoutGap]="item.craftedBy.length > 1?'0px':'5px'"
           fxLayoutAlign="center center">
        <button nz-button [nzShape]="'circle'" (click)="openSimulator(craft.recipeId)"
                *ngIf="craft.icon !== ''">
          <img [src]="craft.icon" alt="" class="img-icon">
        </button>
        <div>{{craft.level}}</div>
        <div *ngIf="craft.stars_tooltip !== undefined">{{craft.stars_tooltip}}</div>
      </div>
      <div *ngIf="item.gatheredBy !== undefined" fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="center center">
        <button nz-button nzShape="circle" (click)="openGatheredByPopup()">
          <img class="img-icon gathering-icon" src="{{item.gatheredBy.icon}}">
        </button>
        <div>{{item.gatheredBy.level}}</div>
        <div *ngIf="item.gatheredBy.stars_tooltip !== undefined">{{item.gatheredBy.stars_tooltip}}</div>
      </div>
    </div>
  </div>
</div>
