@import '../../../../theme';

.item-row {
  padding: 2px 5px;
  width: 100%;
  display: flex;
  align-items: center;
  .icon {
    margin-right: 5px;
  }
  .item-name {
    cursor: pointer;
  }
  .node-type-icon {
    width: 16px;
  }
  .img-icon {
    width: 24px;
  }
  .gathering-icon {
    margin-top: -5px;
  }
  .round-icon {
    border-radius: 50%;
    margin-top: -3px;
  }
  &.done {
    background-color: rgba(94, 255, 91, 0.15);
    opacity: .6;
    &.odd {
      background-color: rgba(94, 255, 91, 0.2);
    }
  }

  &.craftable {
    background-color: rgba(19, 168, 255, 0.5);
    &.odd {
      background-color: rgba(19, 168, 255, .3);
    }
  }

  &.has-all-ingredients {
    border: 2px dashed rgba(19, 168, 255, .3);
  }
}

.odd {
  background-color: rgba(77, 77, 77, .5);
}

.block {
  display: flex;
}

.left-block {
  @media @mobile {
    justify-content: center;
    margin: 5px 0;
  }
}

.center-block {
  justify-content: center;
  @media @mobile {
    margin: 5px 0;
    &.empty {
      margin: 0;
    }
  }
}

.books-and-input-block {
  justify-content: flex-end;
  @media @mobile {
    justify-content: center;
    margin: 5px 0;
  }
}

.item-obtention {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.done-button {
  margin-left: 5px;
}

.done-icon {
  width: 24px;
  margin-left: 5px;
}

.masterbooks {
  margin-right: 5px;
}

.timers {
  ::ng-deep {
    .ant-btn-sm {
      line-height: 24px;
    }
  }
}
