<div fxLayout="column" fxLayoutGap="12px" class="payout-container">
  <div fxLayout="column" fxLayoutGap="8px">
    <h3 fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">{{ 'CACTPOT_SOLVER.Payout_Title' | translate}}</h3>

    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center start" class="payout-grid">
      <!-- Left column -->
      <div fxFlex="0 1 auto" fxLayout="column" fxLayoutGap="1px" class="payout-column">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="payout-header">
          <span>Sum</span>
          <span>MGP</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" 
             class="payout-row" 
             *ngFor="let entry of leftColumn">
          <span class="sum">{{ entry.sum }}</span>
          <span class="mgp">{{ entry.mgp }}</span>
        </div>
      </div>
      
      <!-- Rechte Spalte -->
      <div fxFlex="0 1 auto" fxLayout="column" fxLayoutGap="1px" class="payout-column">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="payout-header">
          <span>Sum</span>
          <span>MGP</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" 
             class="payout-row" 
             *ngFor="let entry of rightColumn">
          <span class="sum">{{ entry.sum }}</span>
          <span class="mgp">{{ entry.mgp }}</span>
        </div>
      </div>
    </div>
  </div>
</div>