<div *ngIf="requires$ | async as requires">
  <nz-list [nzDataSource]="requires"
           *ngIf="requires.length > 0"
           [nzHeader]="'Requires' | translate"
           [nzRenderItem]="requirement">
    <ng-template #requirement let-req>
      <nz-list-item class="item-row" [class.done]="req.amount <= req.done" [class.craftable]="req.canBeCrafted">
        <nz-list-item-meta [nzAvatar]="itemIcon" [nzTitle]="req.id | itemName | i18n"
                           nzDescription="x{{req.reqAmount * ((item.amount_needed - item.done / item.yield) | ceil)}}({{req.reqAmount}} x {{((item.amount_needed - item.done / item.yield) | ceil)}})">
        </nz-list-item-meta>
        <ng-template #itemIcon>
          <app-item-icon [icon]="req.icon" [itemId]="req.id" [width]="32"></app-item-icon>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
<div *ngIf="requiredBy$ | async as requiredBy">
  <nz-list [nzDataSource]="requiredBy"
           *ngIf="requiredBy.length > 0"
           [nzHeader]="'Used_for' | translate"
           [nzRenderItem]="requiredByRow">
    <ng-template #requiredByRow let-req>
      <nz-list-item class="item-row" [class.done]="req.amount <= req.done" [class.craftable]="req.canBeCrafted">
        <nz-list-item-meta [nzAvatar]="itemIcon" [nzTitle]="req.id | itemName | i18n"></nz-list-item-meta>
        <ng-template #itemIcon>
          <app-item-icon [icon]="req.icon" [itemId]="req.id" [width]="32"></app-item-icon>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
