<div *ngIf="requires$ | async as requires">
  <nz-list *ngIf="requires.length > 0"
           [nzDataSource]="requires"
           [nzHeader]="'Requires' | translate"
           [nzRenderItem]="requirement">
    <ng-template #requirement let-req>
      <nz-list-item [class.craftable]="req.canBeCrafted" [class.done]="req.amount <= req.done" class="item-row" [nzContent]="inventoryInformations">
        <nz-list-item-meta [nzAvatar]="itemIcon" [nzTitle]="req.id | itemName | i18n"
                           nzDescription="x{{req.reqAmount * ((item.amount_needed - item.done / item.yield) | ceil)}}({{req.reqAmount}} x {{((item.amount_needed - item.done / item.yield) | ceil)}})">
        </nz-list-item-meta>
        <ng-template #itemIcon>
          <app-item-icon [icon]="req.icon" [itemId]="req.id" [width]="32"></app-item-icon>
        </ng-template>
      </nz-list-item>
      <ng-template #inventoryInformations>
        <div class="amount-in-inventories" fxLayout="row wrap"     fxLayoutGap="5px">
          <nz-tag *ngFor="let entry of req.inventoryEntries;trackBy: trackByInventoryEntry">
            {{entry.isRetainer ? entry.containerName : (('INVENTORY.BAG.' + entry.containerName) | translate)}}
            : {{entry.amount}}
            <img *ngIf="entry.hq" alt="HQ" class="inventory-hq" src="./assets/icons/HQ.png"/>
          </nz-tag>
        </div>
      </ng-template>
    </ng-template>
  </nz-list>
</div>
<div *ngIf="requiredBy$ | async as requiredBy">
  <nz-list *ngIf="requiredBy.length > 0"
           [nzDataSource]="requiredBy"
           [nzHeader]="'Used_for' | translate"
           [nzRenderItem]="requiredByRow">
    <ng-template #requiredByRow let-req>
      <nz-list-item [class.craftable]="req.canBeCrafted" [class.done]="req.amount <= req.done" class="item-row">
        <nz-list-item-meta [nzAvatar]="itemIcon" [nzTitle]="req.id | itemName | i18n"></nz-list-item-meta>
        <ng-template #itemIcon>
          <app-item-icon [icon]="req.icon" [itemId]="req.id" [width]="32"></app-item-icon>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
