@import "../../../../styles";

a.patreon {
  background-color: #F96854;
  margin: 10px 0;
  color: white;
  padding-right: 20px;
  text-decoration: none;

  img.patreon-logo {
    width: 48px;
  }
}

.list-container {
  padding: 0 10%;
  @media @mobile {
    padding: 0;
  }
}
