<div fxLayout="column" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
  <h1>{{'SEARCH_INTRO.Slogan' | translate}}</h1>
  <h2 *ngIf="counter$ | async as counter">{{'SEARCH_INTRO.Lists_created_counter' | translate: {amount: counter} }}</h2>
  <a href="https://www.patreon.com/bePatron?u=702160" target="_blank" class="patreon"> <img
    src="https://c5.patreon.com/external/logo/downloads_logomark_color_on_coral.png" alt="patreon logo"
    class="patreon-logo">{{"SEARCH_INTRO.Support_patreon" | translate}}</a>
  <a href="https://donorbox.org/ffxiv-teamcraft-funding" target="_blank" nz-button nzType="primary">
    {{"SEARCH_INTRO.Donation_button" | translate}}
  </a>
</div>
<div fxLayout="column" fxLayoutAlign="flex-start" class="list-container">
  <h3>Start now !</h3>
  <nz-list>
    <nz-list-item>
      <nz-list-item-meta [nzAvatar]="featureIcon">
        <ng-template #featureIcon>

        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </nz-list>
  <ul>
    <li>blablablablablabalbalbalbalablab Search page</li>
    <li>balbalbalbalabalbalbabalbabalablab Simulator</li>
    <li>dpakzdpazndpaknzdpazndpakzndpazd Teams</li>
    <li>nodakndokanzdoanzdoazdoa Macro translator</li>
    <li>daodoazhdoazdoazgda alarms</li>
  </ul>
</div>
