<div fxLayout="column" fxLayoutAlign="flex-start stretch" fxLayoutGap="10px" class="intro-container">
  <h1 fxFlexAlign="center">{{'SEARCH_INTRO.Slogan' | translate}}</h1>
  <h2 fxFlexAlign="center"
      *ngIf="counter$ | async as counter">{{'SEARCH_INTRO.Lists_created_counter' | translate: {amount: counter | number:'1.0-0':translate.currentLang} }}</h2>
  <nz-divider class="intro-divider"></nz-divider>
  <div nz-row [nzGutter]="[10, 10]" class="buttons">
    <div nz-col [nzXs]="24" [nzXl]="12">
      <div class="buttons-section">
        <div>
          <a class="button guides-button custom-button-color" href="https://guides.ffxivteamcraft.com" nz-button target="_blank">
            <img src="./assets/guides_logo.png" alt="TC Guides" class="guides-logo">
            {{"Check_guides" | translate}}
          </a>
        </div>
        <div>
          <a class="button discord-button custom-button-color" href="https://discord.gg/r6qxt6P" nz-button target="_blank">
            <i class="fab fa-discord"></i>
            {{"Join_discord_server" | translate}}
          </a>
        </div>
        <div>
          <a class="button" href="https://github.com/ffxiv-teamcraft/ffxiv-teamcraft/releases/latest" nz-button nzType="primary" target="_blank"
             *ngIf="!platform.isDesktop()">
            <i nz-icon nzType="download" nzTheme="outline"></i>
            {{"Download_desktop_app" | translate}}
          </a>
        </div>
      </div>
    </div>

    <div nz-col [nzXs]="0" [nzXl]="4">
      <!-- JUST A SPACER-->
    </div>
    <div nz-col [nzXs]="24" [nzXl]="8">
      <div class="buttons-section end">
        <div>
          <a class="button" href="https://tipeee.com/ffxiv-teamcraft/" nz-button target="_blank">
            {{"SEARCH_INTRO.Donation_button" | translate}}
          </a>
        </div>
        <div>
          <a class="button" href="https://ffxiv-teamcraft.redbubble.com/" nz-button target="_blank">
            {{"SEARCH_INTRO.Buy_merch" | translate}}
          </a>
        </div>
      </div>
    </div>

  </div>
  <div fxFlex="1 1 auto" nz-row [nzGutter]="[10, 10]">
    <div nz-col [nzMd]="24" [nzXXl]="16">
      <nz-card [nzTitle]="'SEARCH_INTRO.Features_header' | translate">

        <nz-list [nzDataSource]="features" [nzRenderItem]="featureRow"
                 nzSplit="false">
          <ng-template #featureRow let-feature>
            <nz-list-item [nzActions]="[navigateTo]">
              <nz-list-item-meta [nzDescription]="('SEARCH_INTRO.DESCRIPTION.'+feature.description) | translate"
                                 [nzTitle]="feature.title | translate" [nzAvatar]="avatarTpl">
              </nz-list-item-meta>
              <ng-template #avatarTpl>
                <div class="feature-icon">
                  <ng-container [ngSwitch]="feature.icon.type">
                    <i *ngSwitchCase="SidebarIconType.ANTD" nz-icon [nzType]="feature.icon.content"></i>
                    <i *ngSwitchCase="SidebarIconType.ANTD_ICONFONT" nz-icon [nzIconfont]="feature.icon.content"></i>
                    <i *ngSwitchCase="SidebarIconType.COMPANION_SVG" class="companion-svg anticon" [innerHTML]="feature.icon.content"></i>
                    <i *ngSwitchCase="SidebarIconType.CUSTOM_FONT" class="teamcraft-svg anticon" [innerHTML]="feature.icon.content"></i>
                    <span *ngSwitchCase="SidebarIconType.CUSTOM" [innerHTML]="feature.icon.content"></span>
                  </ng-container>
                </div>
              </ng-template>
              <ng-template #navigateTo>
                <a pirschEvent="Clicked home page feature button" [meta]="feature.link" [routerLink]="feature.link" nz-button nzType="primary">
                  <i nz-icon nzType="select"></i> {{'SEARCH_INTRO.Open_feature' | translate}}
                </a>
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-card>
    </div>
    <div nz-col [nzMd]="24" [nzXXl]="8">
      <nz-card [nzTitle]="'SEARCH_INTRO.Featured_guides' | translate">
        <div class="flex-column gap-5">
          <div class="guide-row" [class.with-border]="!last" *ngFor="let guide of guides$ | async; last as last">
            <img src="{{guide.banner}}" alt="{{guide.title}}" class="guide-banner">
            <div class="flex-column gap-2">
              <h3>{{guide.title}}</h3>
              <div nz-typography nzEllipsis [nzEllipsisRows]="2" class="guide-description">{{guide.description}}</div>
              <a nz-button nzSize="small" nzType="primary" nzBlock href="https://guides.ffxivteamcraft.com/guide/{{guide.slug}}"
                 pirschEvent="homepage guide click">
                {{'SEARCH_INTRO.Open_in_guides' | translate}}
              </a>
            </div>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
</div>
