<!--This page is not translated because blog posts are meant to be in english only, and this is an admin-only page.-->
<nz-alert *ngIf="users$ | async as users" nzMessage="Ready to send to {{users.length}} users" nzType="info"></nz-alert>
<form [formGroup]="form" nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input formControlName="title" nz-input/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>slug</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input formControlName="slug" nz-input/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <textarea formControlName="description" nz-input rows="2"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Message</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzExtra]="extra">
      <textarea formControlName="message" nz-input rows="20"></textarea>
      <ng-template #extra>
        <a href="https://jfcere.github.io/ngx-markdown/" target="_blank">Cheat sheet</a>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button (nzOnConfirm)="submit()" [disabled]="!form.valid || !(users$ | async)" [nzPopconfirmTitle]="'Confirmation' | translate"
              nz-button nz-popconfirm
              nzType="primary">
        Submit
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-divider nzOrientation="left" nzText="Preview"></nz-divider>
<app-blog-post *ngIf="preview$ | async as preview" [post]="preview"></app-blog-post>
