<h2 md-dialog-title>{{data | i18n}}</h2>
<div md-dialog-content>
    <md-list *ngFor="let tradeSource of data.tradeSources">
        <h3 md-subheader>{{tradeSource.npcName | i18n}} - {{tradeSource.zoneName | i18n}}</h3>
        <md-list-item *ngFor="let trade of tradeSource.trades">
            <div class="trade-part">
                <img src="{{trade.currencyIcon}}" class="currency">
                {{trade.currencyAmount}}
            </div>
            <md-icon>arrow_forward</md-icon>
            <div class="trade-part">
                <div class="itemParent">
                    <img src="{{trade.itemIcon}}" class="item currency">
                    <img *ngIf="trade.itemHQ" src="https://www.garlandtools.org/db/images/HQOverlay.png"
                         class="overlay currency">
                </div>
            </div>
            {{trade.itemAmount}}
        </md-list-item>
    </md-list>
</div>
