<h3 mat-dialog-title>{{"LISTS.Merge_lists" | translate}}</h3>
<div mat-dialog-content>
    <mat-input-container>
        <input type="text" matInput [(ngModel)]="listName" required placeholder="{{'List_name' | translate}}">
    </mat-input-container>
    <mat-selection-list #selectedLists>
        <mat-list-option *ngFor="let list of data.lists" checkboxPosition="before" [value]="list">
            {{list.name}}
        </mat-list-option>
    </mat-selection-list>
</div>
<div mat-dialog-actions>
    <button mat-button color="accent"
            [disabled]="selectedLists.selectedOptions.selected.length < 2 || listName.length < 1"
            (click)="merge()">
        {{"Confirm" | translate}}
    </button>
    <button mat-button mat-dialog-close color="warn">{{"Cancel" | translate}}</button>
</div>
