<md-expansion-panel [expanded]="expanded" (opened)="opened.emit()">
    <md-expansion-panel-header>
        <md-panel-title>
            {{list.name}} - {{list.recipes===undefined?0:list.recipes.length}} <span style="margin-left: 4px;">{{'items' | translate}}</span>
        </md-panel-title>
        <div class="spacer"></div>
        <div class="buttons">
            <button md-icon-button ngxClipboard [cbContent]="getLink()" (click)="$event.stopPropagation()"
                    mdTooltip="{{'Share' | translate}}" mdTooltipPosition="above" (cbOnSuccess)="showCopiedNotification()">
                <md-icon>share</md-icon>
            </button>
            <!--<input type="text" #uri readonly hidden value="{{getLink()}}">-->
            <button md-icon-button routerLink="/list/{{authorUid}}/{{list.$key}}" (click)="$event.stopPropagation()">
                <md-icon>open_in_new</md-icon>
            </button>
            <button md-icon-button *ngIf="!readonly" (click)="ondelete.emit(); $event.stopPropagation()">
                <md-icon>delete</md-icon>
            </button>
        </div>
    </md-expansion-panel-header>
    <md-list>
        <app-recipe *ngFor="let recipe of list.recipes"
                    [recipe]="recipe"
                    (ondelete)="onrecipedelete.emit({recipe: recipe})"
                    (onedit)="onedit.emit({recipe: recipe, amount:$event})"
                    [readonly]="readonly">
        </app-recipe>
    </md-list>
</md-expansion-panel>
