<div *ngIf="optimizedPath$ | async as path">
  <div #container class="navigation-container">
    <app-map [mapId]="mapId"></app-map>
    <svg class="navigation-svg" style="width:100%;height:100%;">
      <defs>
        <marker id="walkarrow" markerHeight="6" markerWidth="6" orient="auto" refX="10" refY="5" viewBox="0 0 10 10">
          <path d="M 0 0 L 10 5 L 0 10 z" fill="red"/>
        </marker>
        <marker id="walkarrow" markerHeight="6" markerWidth="6" orient="auto" refX="10" refY="5" viewBox="0 0 10 10">
          <path d="M 0 0 L 10 5 L 0 10 z" fill="blue"/>
        </marker>
      </defs>
      <g *ngFor="let step of path; let i = index">
        <line *ngIf="i > 0 && map !== undefined && containerRef !== undefined"
              [attr.marker-end]="'url('+(step.isTeleport?'#tparrow':'#walkarrow')+')'"
              [attr.stroke]="step.isTeleport?'blue':'red'"
              [attr.x1]="getPositionPercent(path[i-1]).x" [attr.x2]="getPositionPercent(step).x" [attr.y1]="getPositionPercent(path[i-1]).y"
              [attr.y2]="getPositionPercent(step).y"
              stroke-width="2">
        </line>
      </g>
    </svg>
  </div>
  <nz-list [nzDataSource]="path" [nzHeader]="'NAVIGATION.Steps' | translate" [nzRenderItem]="stepTemplate">
    <ng-template #stepTemplate let-step>
      <nz-list-item [nzContent]="rowContent">
        <nz-list-item-meta [nzAvatar]="avatar" [nzTitle]="stepTitle"
                           [nzDescription]="description">
          <ng-template #description>
            X: {{step.x | number:'1.1-1'}} - Y: {{step.y | number:'1.1-1'}} <span *ngIf="step.fate">({{step.fate | i18nRow:'fates' | i18n}})</span><span *ngIf="step.monster">({{step.monster | i18nRow:'mobs' | i18n}})</span>
          </ng-template>
          <ng-template #stepTitle>
            <span [clipboard]="step.name | i18n" nz-tooltip [nzTooltipTitle]="'COMMON.Copy_to_clipboard' | translate">{{step.name | i18n}}</span>&nbsp;<img *ngIf="step.type === 'Gathering'" class="node-type-icon"
                                                                                       [src]="step.gatheringType | nodeTypeIcon">
          </ng-template>
          <ng-template #rowContent>
            <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="5px">
              <div *ngIf="step.type !== undefined && markedAsDone.indexOf(step) === -1">
                {{('NAVIGATION.STEP.' + step.type) | translate: {
                amount: step.item_amount,
                total: step.total_item_amount
              } }}
              </div>
              <button (click)="markStepAsDone(step)" *ngIf="step.type !== undefined && markedAsDone.indexOf(step) === -1" nz-button nzShape="circle"
                      nzSize="small"
                      nzType="primary">
                <i nz-icon nzType="check"></i>
              </button>
            </div>
          </ng-template>
          <ng-template #avatar>
            <img *ngIf="step.isTeleport" alt="" src="./assets/icons/Aetheryte.png">
            <img *ngIf="!step.isTeleport && step.itemId !== undefined && !step.fate" alt="" class="item-icon"
                 src="{{step.itemId | lazyIcon}}">
            <i *ngIf="!step.isTeleport && step.itemId === undefined" class="material-icons">location_on</i>
            <img *ngIf="step.fate" [src]="step.fate | lazyRow:'fates':'icon' | async | xivapiIcon" class="item-icon">
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
