<div class="top-part" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
  <div class="search-box" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
    <ng-container *ngIf="false | ifMobile: true">
      <ng-container *ngTemplateOutlet="searchType"></ng-container>
    </ng-container>
    <nz-input-group [nzAddOnBefore]="searchType | ifMobile: null" [nzSuffix]="suffixTemplate">
      <input #searchInput (input)="!settings.disableSearchDebounce?query$.next(searchInput.value):null"
             (keydown.enter)="query$.next(searchInput.value)"
             (ngModelChange)="!settings.disableSearchDebounce?query$.next($event):null" [ngModel]="query$.value"
             [nzAutocomplete]="settings.disableSearchHistory?emptyFill:auto"
             autofocus
             class="search-input"
             nz-input
             placeholder="{{'Search_placeholder' | translate:{type: ('SEARCH_TYPES.' + (searchType$ | async)) | translate} }}"
             type="text">
      <ng-template #suffixTemplate>
        <i
          (click)="query$.next('')"
          *ngIf="query$ | async"
          class="ant-input-clear-icon"
          nz-icon
          nz-tooltip
          nzTheme="fill"
          nzType="close-circle"
        ></i>
      </ng-template>
    </nz-input-group>
    <button (cbOnSuccess)="afterShareLinkCopied()" [cbContent]="getShareUrl()" [nzTitle]="'ITEMS.Share_url' | translate" ngxClipboard nz-button
            nz-tooltip>
      <i nz-icon nzType="share-alt"></i>
    </button>
    <nz-autocomplete #emptyFill></nz-autocomplete>
    <nz-autocomplete #auto nzBackfill>
      <nz-auto-option *ngFor="let option of autocomplete$ | async" [nzValue]="option">
        {{ option }}
      </nz-auto-option>
    </nz-autocomplete>
    <ng-template #searchType>
      <nz-select (ngModelChange)="searchType$.next($event);resetFilters()" [ngModel]="searchType$ | async"
                 class="search-type"
                 nzShowSearch>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.ANY) | translate"
                   [nzValue]="searchTypes.ANY"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.ITEM) | translate" [nzValue]="searchTypes.ITEM"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.RECIPE) | translate"
                   [nzValue]="searchTypes.RECIPE"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.INSTANCE) | translate"
                   [nzValue]="searchTypes.INSTANCE"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.QUEST) | translate"
                   [nzValue]="searchTypes.QUEST"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.NPC) | translate" [nzValue]="searchTypes.NPC"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.LEVE) | translate" [nzValue]="searchTypes.LEVE"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.MONSTER) | translate"
                   [nzValue]="searchTypes.MONSTER"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.LORE) | translate" [nzValue]="searchTypes.LORE"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.FATE) | translate" [nzValue]="searchTypes.FATE"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.MAP) | translate" [nzValue]="searchTypes.MAP"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.ACTION) | translate"
                   [nzValue]="searchTypes.ACTION"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.STATUS) | translate"
                   [nzValue]="searchTypes.STATUS"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.TRAIT) | translate"
                   [nzValue]="searchTypes.TRAIT"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.ACHIEVEMENT) | translate"
                   [nzValue]="searchTypes.ACHIEVEMENT"></nz-option>
        <nz-option [nzLabel]="('SEARCH_TYPES.'+searchTypes.FISHING_SPOT) | translate"
                   [nzValue]="searchTypes.FISHING_SPOT"></nz-option>
      </nz-select>
    </ng-template>
  </div>
  <div class="search-tip" fxLayout="row" fxLayoutAlign="center center">{{'SEARCH.Search_tip' | translate}}</div>
  <div *ngIf="searchType$ | async as searchType" class="filters">
    <nz-collapse
      *ngIf="searchType === searchTypes.ITEM || searchType === searchTypes.RECIPE
      || searchType === searchTypes.INSTANCE || searchType === searchTypes.LEVE
      || searchType === searchTypes.ACTION || searchType === searchTypes.TRAIT">
      <nz-collapse-panel [nzHeader]="'Filters' | translate">
        <form (ngSubmit)="submitFilters()" *ngIf="searchType === searchTypes.ITEM || searchType === searchTypes.RECIPE" [formGroup]="itemFiltersform"
              nz-form>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
               fxLayoutAlign.lt-md="center center">
            <!--Ilvl filter-->
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label nzFor="ilvl">{{'filters/ilvl' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-input-group class="level-range" nzCompact>
                  <nz-input-number [nzMax]="999" [nzMin]="0" [nzPrecision]="0" formControlName="ilvlMin"
                                   id="ilvl"></nz-input-number>
                  <input disabled nz-input placeholder="-" type="text">
                  <nz-input-number [nzMax]="999" [nzMin]="1" [nzPrecision]="0"
                                   formControlName="ilvlMax"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <!--Elvl filter (equipment level)-->
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label nzFor="elvl">{{'filters/lvl' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-input-group class="level-range" nzCompact>
                  <nz-input-number [nzMax]="80" [nzMin]="0" [nzPrecision]="0" formControlName="elvlMin"
                                   id="elvl"></nz-input-number>
                  <input disabled nz-input placeholder="-" type="text">
                  <nz-input-number [nzMax]="80" [nzMin]="1" [nzPrecision]="0"
                                   formControlName="elvlMax"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <!--Clvl filter (crafter level)-->
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label nzFor="clvl">{{'filters/craft_lvl' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-input-group class="level-range" nzCompact>
                  <nz-input-number [nzMax]="80" [nzMin]="0" [nzPrecision]="0" formControlName="clvlMin"
                                   id="clvl"></nz-input-number>
                  <input disabled nz-input placeholder="-" type="text">
                  <nz-input-number [nzMax]="80" [nzMin]="1" [nzPrecision]="0"
                                   formControlName="clvlMax"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
               fxLayoutAlign.lt-md="center center">
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label>{{'filters/worn_by' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-select class="filter-select" formControlName="jobCategories" nzAllowClear nzMode="multiple"
                           nzShowSearch>
                  <nz-option *ngFor="let jobId of availableJobs" [nzLabel]="jobId | jobName | i18n"
                             [nzValue]="jobId">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label>{{'filters/crafted_by' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-select class="filter-select" formControlName="craftJob" nzAllowClear nzShowSearch>
                  <nz-option *ngFor="let job of availableCraftJobs" [nzLabel]="job.id | jobAbbr | i18n"
                             [nzValue]="job.id" nzCustomContent>
                    <img alt="" class="job-icon" src="https://garlandtools.org/db/images/{{job.abbreviation}}.png">
                    {{job.id | jobAbbr | i18n}}
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label>{{'filters/item_category' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-select class="filter-select" formControlName="itemCategories" nzAllowClear nzMode="multiple"
                           nzShowSearch>
                  <nz-option *ngFor="let uiCategory of uiCategories$ | async" [nzLabel]="uiCategory.name | i18n"
                             [nzValue]="uiCategory.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div *ngIf="searchType === searchTypes.ITEM || searchType === searchTypes.RECIPE" fxLayout="row" fxLayout.lt-md="column"
               fxLayoutAlign="space-between center"
               fxLayoutAlign.lt-md="center center" fxLayoutGap="10px" style="margin-bottom:10px">
            <div formArrayName="stats" fxFlex="1 0 45%" fxLayout="column" fxLayoutAlign="center center"
                 fxLayoutGap="10px">
              <nz-form-label>{{'filters/stats' | translate}}</nz-form-label>
              <nz-form-item *ngFor="let item of itemFiltersform.get('stats').controls; let i = index;"
                            [formGroupName]="i" [nzFlex]="true" class="stat-filter-row" fxFlex="1 1 auto"
                            fxLayout="row" fxLayoutAlign="center center">
                <nz-form-control>
                  <nz-select class="filter-select" formControlName="name"
                             nzShowSearch>
                    <nz-option *ngFor="let stat of availableStats" [nzLabel]="stat | i18n"
                               [nzValue]="stat.filterName">
                    </nz-option>
                  </nz-select>
                  <nz-input-group class="level-range" nzCompact>
                    <nz-input-number [nzMin]="0" [nzPrecision]="0" class="min-input"
                                     formControlName="min"></nz-input-number>
                    <input disabled nz-input placeholder="-" type="text">
                    <nz-input-number [nzMin]="1" [nzPrecision]="0"
                                     formControlName="max"></nz-input-number>
                  </nz-input-group>
                  <button (click)="$event.preventDefault();removeFilter('stats', i)" [nzBlock]="false | ifMobile:true" nz-button
                          nzType="danger"><i nz-icon nzType="delete"></i>
                  </button>
                </nz-form-control>
              </nz-form-item>
              <button (click)="$event.preventDefault();addFilter('stats')" nz-button
                      nzBlock>{{'SEARCH.Add_stat_filter' | translate}}</button>
            </div>
            <div formArrayName="bonuses" fxFlex="1 0 45%" fxLayout="column" fxLayoutAlign="center center"
                 fxLayoutGap="10px">
              <nz-form-label>{{'filters/bonuses' | translate}}</nz-form-label>
              <nz-form-item *ngFor="let item of itemFiltersform.get('bonuses').controls; let i = index;"
                            [formGroupName]="i" [nzFlex]="true" class="stat-filter-row" fxFlex="1 1 auto"
                            fxLayout="row" fxLayoutAlign="center center">
                <nz-form-control>
                  <nz-select class="filter-select" formControlName="name"
                             nzShowSearch>
                    <nz-option *ngFor="let stat of availableStats" [nzLabel]="stat | i18n"
                               [nzValue]="stat.filterName">
                    </nz-option>
                  </nz-select>
                  <nz-input-group class="level-range" nzCompact>
                    <nz-input-number [nzMin]="0" [nzPrecision]="0" class="min-input"
                                     formControlName="min"></nz-input-number>
                    <input disabled nz-input placeholder="-" type="text">
                    <nz-input-number [nzMin]="1" [nzPrecision]="0"
                                     formControlName="max"></nz-input-number>
                  </nz-input-group>
                  <button (click)="$event.preventDefault();removeFilter('bonuses', i)" [nzBlock]="false | ifMobile:true" nz-button
                          nzType="danger"><i nz-icon nzType="delete"></i>
                  </button>
                </nz-form-control>
              </nz-form-item>
              <button (click)="$event.preventDefault();addFilter('bonuses')" nz-button
                      nzBlock>{{'SEARCH.Add_bonus_stat_filter' | translate}}</button>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px">
            <button (click)="resetFilters()" nz-button nzBlock nzType="dashed" type="button">
              <i nz-icon nzType="reload"></i> {{'ITEMS.Reset_filters' | translate}}
            </button>
            <button nz-button nzBlock nzType="primary" type="submit">
              <i nz-icon nzType="filter"></i> {{'ITEMS.Apply_filters' | translate}}
            </button>
          </div>
        </form>
        <form (ngSubmit)="submitFilters()" *ngIf="searchType === searchTypes.INSTANCE" [formGroup]="instanceFiltersForm"
              nz-form>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
               fxLayoutAlign.lt-md="center center">
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label nzFor="reqlvl">{{'SEARCH_FILTERS.Level' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-input-group class="level-range" nzCompact>
                  <nz-input-number [nzMax]="80" [nzMin]="0" [nzPrecision]="0" formControlName="lvlMin"
                                   id="reqlvl"></nz-input-number>
                  <input disabled nz-input placeholder="-" type="text">
                  <nz-input-number [nzMax]="80" [nzMin]="1" [nzPrecision]="0"
                                   formControlName="lvlMax"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div fxLayout="column" fxLayoutGap="5px">
            <button (click)="resetFilters()" nz-button nzBlock nzType="dashed" type="button">
              <i nz-icon nzType="reload"></i> {{'ITEMS.Reset_filters' | translate}}
            </button>
            <button nz-button nzBlock nzType="primary" type="submit">
              <i nz-icon nzType="filter"></i> {{'ITEMS.Apply_filters' | translate}}
            </button>
          </div>
        </form>
        <form (ngSubmit)="submitFilters()" *ngIf="searchType === searchTypes.LEVE" [formGroup]="leveFiltersForm"
              nz-form>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
               fxLayoutAlign.lt-md="center center">
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label>{{'SEARCH_FILTERS.Leve_level' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-input-group class="level-range" nzCompact>
                  <nz-input-number [nzMax]="80" [nzMin]="0" [nzPrecision]="0"
                                   formControlName="lvlMin"></nz-input-number>
                  <input disabled nz-input placeholder="-" type="text">
                  <nz-input-number [nzMax]="80" [nzMin]="1" [nzPrecision]="0"
                                   formControlName="lvlMax"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label>{{'SEARCH_FILTERS.Leve_job' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-select class="filter-select" formControlName="jobCategory" nzAllowClear nzShowSearch>
                  <nz-option *ngFor="let category of availableLeveJobCategories" [nzLabel]="category | jobCategoryName | i18n"
                             [nzValue]="category">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div fxLayout="column" fxLayoutGap="5px">
            <button (click)="resetFilters()" nz-button nzBlock nzType="dashed" type="button">
              <i nz-icon nzType="reload"></i> {{'ITEMS.Reset_filters' | translate}}
            </button>
            <button nz-button nzBlock nzType="primary" type="submit">
              <i nz-icon nzType="filter"></i> {{'ITEMS.Apply_filters' | translate}}
            </button>
          </div>
        </form>
        <form (ngSubmit)="submitFilters()" *ngIf="searchType === searchTypes.ACTION" [formGroup]="actionFilterForm"
              nz-form>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
               fxLayoutAlign.lt-md="center center">
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label>{{'SEARCH_FILTERS.Level' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-input-group class="level-range" nzCompact>
                  <nz-input-number [nzMax]="80" [nzMin]="0" [nzPrecision]="0"
                                   formControlName="lvlMin"></nz-input-number>
                  <input disabled nz-input placeholder="-" type="text">
                  <nz-input-number [nzMax]="80" [nzMin]="1" [nzPrecision]="0"
                                   formControlName="lvlMax"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label>{{'SEARCH_FILTERS.Job' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-select class="filter-select" formControlName="jobCategory" nzAllowClear
                           nzShowSearch>
                  <nz-option *ngFor="let category of availableJobs" [nzLabel]="category | jobAbbr | i18n"
                             [nzValue]="category">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div fxLayout="column" fxLayoutGap="5px">
            <button (click)="resetFilters()" nz-button nzBlock nzType="dashed" type="button">
              <i nz-icon nzType="reload"></i> {{'ITEMS.Reset_filters' | translate}}
            </button>
            <button nz-button nzBlock nzType="primary" type="submit">
              <i nz-icon nzType="filter"></i> {{'ITEMS.Apply_filters' | translate}}
            </button>
          </div>
        </form>
        <form (ngSubmit)="submitFilters()" *ngIf="searchType === searchTypes.TRAIT" [formGroup]="traitFilterForm"
              nz-form>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
               fxLayoutAlign.lt-md="center center">
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label>{{'SEARCH_FILTERS.Level' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-input-group class="level-range" nzCompact>
                  <nz-input-number [nzMax]="80" [nzMin]="0" [nzPrecision]="0"
                                   formControlName="lvlMin"></nz-input-number>
                  <input disabled nz-input placeholder="-" type="text">
                  <nz-input-number [nzMax]="80" [nzMin]="1" [nzPrecision]="0"
                                   formControlName="lvlMax"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item [nzFlex]="true" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
              <nz-form-label>{{'SEARCH_FILTERS.Job' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-select class="filter-select" formControlName="jobCategory" nzAllowClear nzShowSearch>
                  <nz-option *ngFor="let category of availableJobs" [nzLabel]="category | jobAbbr | i18n"
                             [nzValue]="category">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div fxLayout="column" fxLayoutGap="5px">
            <button (click)="resetFilters()" nz-button nzBlock nzType="dashed" type="button">
              <i nz-icon nzType="reload"></i> {{'ITEMS.Reset_filters' | translate}}
            </button>
            <button nz-button nzBlock nzType="primary" type="submit">
              <i nz-icon nzType="filter"></i> {{'ITEMS.Apply_filters' | translate}}
            </button>
          </div>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div class="order-boxes" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div>{{'SEARCH.Sort_by' | translate}}</div>
    <nz-select (ngModelChange)="sortBy$.next($event)" [ngModel]="sortBy$ | async" nzAllowClear>
      <nz-option *ngFor="let entry of possibleSortEntries$ | async" [nzLabel]="('SEARCH.SORT_BY.'+entry.label) | translate"
                 [nzValue]="entry.field"></nz-option>
    </nz-select>
    <nz-select (ngModelChange)="sortOrder$.next($event)" [ngModel]="sortOrder$ | async">
      <nz-option [nzLabel]="'SEARCH.Sort_asc' | translate" nzValue="asc"></nz-option>
      <nz-option [nzLabel]="'SEARCH.Sort_desc' | translate" nzValue="desc"></nz-option>
    </nz-select>
  </div>
</div>
<div *ngIf="(searchType$ | async) === searchTypes.LEVE" fxLayout="row" fxLayoutAlign="center center">
  <i>{{'SEARCH_TYPES.Leve_info_message' | translate}}</i>
</div>
<div *ngIf="showIntro">
  <app-search-intro></app-search-intro>
</div>
<ng-container *ngIf="searchType$ | async as searchType">
  <div *ngIf="results$ | async as results">
    <div *ngIf="searchType === searchTypes.ITEM || searchType === searchTypes.RECIPE  || searchType === searchTypes.ANY"
         class="addition-buttons">
      <label [(ngModel)]="allSelected" (ngModelChange)="selectAll(results, $event)" nz-checkbox>{{'Select_all' |
        translate}}</label>
      <button (click)="addSelectedItemsToList(results)" nz-button>{{'LISTS.Add_selection' | translate}}</button>
    </div>
    <nz-alert *ngIf="results.length >= 100" [nzMessage]="'ITEMS.Too_many_results_warning' | translate" class="dark" nzShowIcon
              nzType="warning"></nz-alert>
    <div *ngIf="patch$ | async as patch" class="patch" fxLayout="column" fxLayoutAlign="center center">
      <a fxLayout="column" fxLayoutAlign="center center" routerLink="/db/{{translate.currentLang}}/patch/{{patch.ID}}">
        <img *ngIf="patch.Banner; else patchName" [alt]="patch | xivapiI18n" [src]="patch.Banner" class="patch-banner">
        <ng-template #patchName><h3 [innerHTML]="patch | xivapiI18n"></h3></ng-template>
        <div>{{'DB.PATCH.Open_patch_page' | translate}}</div>
      </a>
    </div>
    <div class="results">
      <app-page-loader [loading]="loading">
        <ng-container *ngFor="let row of results; trackBy: trackByItem; let odd = odd">
          <div *ngIf="row.type === searchTypes.ITEM || row.type === searchTypes.RECIPE" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="space-between center"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
              <div class="checkbox">
                <label [(ngModel)]="row.selected" (ngModelChange)="updateAllSelected(results)"
                       nz-checkbox></label>
              </div>
              <div class="avatar">
                <app-item-icon [icon]="row.icon" [itemId]="row.itemId" [width]="32"></app-item-icon>
              </div>
              <div fxLayout="column">
                <div [appItemRarity]="+row.itemId" class="item-name">{{+row.itemId | itemName | i18n}}
                  <app-marketboard-icon [itemId]="row.itemId" [showHistory]="true"></app-marketboard-icon>
                  <app-db-button [id]="row.itemId" type="item"></app-db-button>
                </div>
                <div *ngIf="row.recipe !== undefined && row.recipe.job > 0" class="description">
                  <img alt="{{row.recipe.job | jobAbbr | i18n}}"
                       class="job-icon small"
                       src="https://garlandtools.org/db/images/{{(row.recipe.job | jobAbbr)?.en}}.png">
                  lvl{{row.recipe.lvl}} <span
                  *ngIf="row.recipe.stars !== undefined">{{getStars(row.recipe.stars)}}</span>
                </div>
                <div *ngIf="row.recipe === undefined || row.recipe.job <= 0" class="result-type">
                  {{('SEARCH_TYPES.' + row.type) | translate}}
                </div>
              </div>
            </div>
            <div class="inputs-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center"
                 fxLayoutGap="10px" fxLayoutGap.lt-md="10px" nz-row>
              <div [nzMd]="15" [nzXs]="24" class="input-box" fxLayout="row" fxLayoutAlign="center center" nz-col>
                <nz-input-group [nzAddOnBefore]="row.recipe !== undefined?addCrafts:null" [nzCompact]="true"
                                class="amount-input">
                  <input [(ngModel)]="row.amount" nz-input type="number">
                  <ng-template #addCrafts>
                    <label [(ngModel)]="row.addCrafts" nz-checkbox>
                      {{'Collectable_flag' | translate}}
                    </label>
                  </ng-template>
                </nz-input-group>
              </div>
              <div [nzMd]="9" [nzXs]="24" class="actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px"
                   nz-col>
                <button (click)="addItemsToList([row])" [nzShape]="'circle'" [nzTitle]="'ITEMS.Add_to_list' | translate" [nzType]="'primary'"
                        nz-button nz-tooltip>
                  <i nz-icon nzType="plus"></i>
                </button>
                <button (click)="createQuickList(row)" [nzShape]="'circle'" [nzTitle]="'Quick_list_create' | translate" [nzType]="'primary'"
                        nz-button nz-tooltip>
                  <i nz-icon nzType="clock-circle-o"></i>
                </button>
                <button (click)="openInSimulator(row.itemId, row.recipe.recipeId)" *ngIf="row.recipe !== undefined" [nzShape]="'circle'"
                        [nzTitle]="'SIMULATOR.Simulate_tooltip' | translate" [nzType]="'primary'"
                        nz-button
                        nz-tooltip>
                  <i class="material-icons">gavel</i>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.INSTANCE" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <a routerLink="/db/{{translate.currentLang}}/instance/{{row.id}}">
              <img *ngIf="row.banner" [src]="row.banner | xivapiIcon" alt="" class="instance-banner">
            </a>
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <img [src]="row.icon | xivapiIcon" alt="">
                <div>{{row.id | instanceName | i18n}}</div>
                <app-db-button [id]="row.id" type="instance"></app-db-button>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
                <div class="instance-level">lvl {{row.level}}</div>
              </div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.QUEST" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <a routerLink="/db/{{translate.currentLang}}/quest/{{row.id}}">
              <img *ngIf="row.banner" [src]="row.banner | xivapiIcon" alt="" class="instance-banner">
            </a>
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <img [src]="row.icon | xivapiIcon" alt="" class="quest-icon">
                <div>{{row.id | questName | i18n}}</div>
                <app-db-button [id]="row.id" type="quest"></app-db-button>
              </div>
              <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.NPC" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <a routerLink="/db/{{translate.currentLang}}/npc/{{row.id}}">
              <img [src]="row.icon | xivapiIcon" alt="" class="quest-icon">
            </a>
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutAlign="flex-start flex-start" fxLayoutGap="5px">
                  <div fxLayout="column">
                    <div>{{row.id | npcName | i18n}}</div>
                    <div fxLayout="row" fxLayoutGap="5px">
                      <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
                      <div><span
                        *ngIf="(row.id | npcName)?.position as npcPosition">{{npcPosition.zoneid | placeName | i18n}}
                        - X: {{npcPosition.x}} Y: {{npcPosition.y}} </span>
                        <i *ngIf="(row.title | i18n) !== 'missing name'">{{row.title | i18n}}</i></div>
                    </div>
                  </div>
                  <app-db-button [id]="row.id" type="npc"></app-db-button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.MONSTER" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <a routerLink="/db/{{translate.currentLang}}/mob/{{row.id}}">
              <img [src]="row.icon | xivapiIcon" alt="" class="quest-icon">
            </a>
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutAlign="flex-start flex-start" fxLayoutGap="5px">
                  <div fxLayout="column">
                    <div>{{row.id | mobName | i18n}}</div>
                    <div fxLayout="row" fxLayoutGap="5px">
                      <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
                      <div *ngIf="row.zoneid">{{row.zoneid | placeName | i18n}}</div>
                    </div>
                  </div>
                  <app-db-button [id]="row.id" type="mob"></app-db-button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.LEVE" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <a routerLink="/db/{{translate.currentLang}}/leve/{{row.id}}">
              <img *ngIf="row.banner" [src]="row.banner | xivapiIcon" alt="" class="instance-banner">
            </a>
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <img [src]="row.icon | xivapiIcon" alt="" class="quest-icon">
                <div>{{row.id | leveName | i18n}}</div>
                <app-db-button [id]="row.id" type="leve"></app-db-button>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
                <div>{{row.job | i18n}} {{row.level}}</div>
              </div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.MAP" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <img [src]="'/c/PlaceName.png' | xivapiIcon" alt="" class="quest-icon">
                <div>{{row.zoneid | placeName | i18n}}</div>
                <app-db-button [id]="row.id" type="map"></app-db-button>
              </div>
              <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.LORE" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <img [src]="row.Data.Icon | xivapiIcon" alt="" class="job-icon">
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutAlign="flex-start flex-start" fxLayoutGap="5px">
                  <div fxLayout="column">
                    <div [innerHTML]="(row.Data | xivapiI18n) || row.Source"></div>
                    <span [innerHTML]="row | xivapiI18n: 'Text'"></span>
                  </div>
                  <app-db-button *ngIf="row.Data.showButton"
                                 [id]="row.SourceID"
                                 [type]="row.Source.toLowerCase()"></app-db-button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.FATE" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <img [src]="row.icon | xivapiIcon" alt="" class="quest-icon" fxFlex="0 0 auto">
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div><b>{{(row.id | fate).name | i18n}}</b> - lvl{{row.level}}</div>
                <app-db-button [id]="row.id" type="fate"></app-db-button>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
                <div>{{(row.id | fate).description | i18n}}</div>
              </div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.ACTION" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <img [src]="row.icon | xivapiIcon" alt="" class="quest-icon" fxFlex="0 0 auto">
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div fxLayout="column">
                  <div>{{row.id | actionName | i18n}}</div>
                  <div fxLayout="row" fxLayoutGap="5px">
                    <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
                    <div>
                      <i *ngIf="row.job">Lvl {{row.level}} {{row.job | xivapiI18n}}</i>
                    </div>
                  </div>
                </div>
                <app-db-button [id]="row.id" type="action"></app-db-button>
              </div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.STATUS" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <img [src]="row.icon | xivapiIcon" alt="" fxFlex="0 0 auto">
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div fxLayout="column">
                  <div>{{row.data | xivapiI18n}}</div>
                  <div fxLayout="row" fxLayoutGap="5px">
                    <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
                    <div>
                      <i>{{row.data | xivapiI18n: 'Description'}}</i>
                    </div>
                  </div>
                </div>
                <app-db-button [id]="row.id" type="status"></app-db-button>
              </div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.TRAIT" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <img [src]="row.icon | xivapiIcon" alt="" class="quest-icon" fxFlex="0 0 auto">
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div fxLayout="column">
                  <div>{{row.id | traitName | i18n}}</div>
                  <div fxLayout="row" fxLayoutGap="5px">
                    <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
                    <div>
                      <i *ngIf="row.job">Lvl {{row.level}} {{row.job | xivapiI18n}}</i>
                    </div>
                  </div>
                </div>
                <app-db-button [id]="row.id" type="trait"></app-db-button>
              </div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.ACHIEVEMENT" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <img [src]="row.icon | xivapiIcon" alt="" class="quest-icon" fxFlex="0 0 auto">
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div fxLayout="column">
                  <div>{{row.id | achievementName | i18n}}</div>
                  <div fxLayout="row" fxLayoutGap="5px">
                    <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
                  </div>
                </div>
                <app-db-button [id]="row.id" type="achievement"></app-db-button>
              </div>
            </div>
          </div>
          <div *ngIf="row.type === searchTypes.FISHING_SPOT" [class.odd]="odd"
               class="result-row"
               fxLayout="row"
               fxLayout.lt-md="column"
               fxLayoutAlign="flex-start flex-start"
               fxLayoutAlign.lt-md="center center"
               fxLayoutGap="5px">
            <img src="./assets/icons/classjob/fisher.png" alt="" class="quest-icon" fxFlex="0 0 auto">
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div fxLayout="column">
                  <div fxLayout="row" fxLayoutGap="5px">
                    <div>{{row.spot.zoneId | placeName | i18n}} - {{row.spot.placeId | placeName | i18n}}</div>
                    <app-db-button [id]="row.id" type="fishing-spot"></app-db-button>
                  </div>
                  <div fxLayout="row" fxLayoutGap="5px">
                    <div class="result-type">{{('SEARCH_TYPES.' + row.type) | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </app-page-loader>
      <div *ngIf="results.length === 0">
        <app-fullpage-message *ngIf="searchType === searchTypes.ITEM || searchType === searchTypes.RECIPE  || searchType === searchTypes.ANY"
                              height="300px">{{'No_items_found' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.INSTANCE"
                              height="300px">{{'No_instances_found' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.QUEST"
                              height="300px">{{'No_quests_found' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.NPC"
                              height="300px">{{'No_npcs_found' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.LEVE"
                              height="300px">{{'LEVEQUESTS.No_results' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.MONSTER"
                              height="300px">{{'No_mobs_found' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.LORE"
                              height="300px">{{'No_lore_entries' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.FATE"
                              height="300px">{{'No_fates_found' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.MAP"
                              height="300px">{{'No_maps_found' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.ACTION"
                              height="300px">{{'No_actions_found' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.STATUS"
                              height="300px">{{'No_statuses_found' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.TRAIT"
                              height="300px">{{'No_traits_found' | translate}}</app-fullpage-message>
        <app-fullpage-message *ngIf="searchType === searchTypes.ACHIEVEMENT"
                              height="300px">{{'No_achievements_found' | translate}}</app-fullpage-message>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #notificationRef let-notification>
  <div class="ant-notification-notice-content ant-notification-notice-with-icon">
    <span class="ant-notification-notice-icon"><i class="ant-notification-notice-icon-success" nz-icon
                                                  nzType="check-circle"></i></span>
    <div>
      <div class="ant-notification-notice-message">{{'COMMON.Success' | translate}}</div>
      <div class="ant-notification-notice-description">
        <span *ngIf="itemsAdded === 1">{{'Recipe_Added' | translate: { listname: modifiedList.name } }}</span>
        <span *ngIf="itemsAdded !== 1">{{'Recipes_Added' | translate: {
          itemcount: itemsAdded,
          listname: modifiedList.name
        } }}</span>
      </div>
      <span class="ant-notification-notice-btn">
            <a (click)="notification.close();" nz-button nzType="primary" routerLink="/list/{{modifiedList.$key}}">
              <span>{{'Open' | translate}}</span>
            </a>
          </span>
    </div>
  </div>
</ng-template>
