@import '../../../../common';

:host ::ng-deep {

  .ant-input-group-addon {
    font-weight: 600;
    font-size: 16px;
  }

  .with-addon-before {
    width: 100%;

    .ant-select-selector {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }
  }

  .filters {
    transition: all 0.3s;
    max-height: 0;

    &.expanded {
      max-height: 1800px;
      padding-top: 20px;
    }

    .left-side-filters {
      .ant-input-group-addon {
        width: 150px;
        padding: 0 !important;
      }

      nz-input-group {
        font-size: 18px;
      }
    }

    .ant-card {
      background: rgba(255, 255, 255, 0.1);

      .ant-card-head {
        background: unset;
        min-height: unset;

        .ant-card-head-title {
          padding: 8px 0;
        }
      }
    }
  }

  .ant-input-clear-icon {
    color: var(--interact-color);
  }

  .ant-list-item {
    @media @mobile {
      justify-content: center;
    }

    .ant-list-item-meta {
      align-items: center;
      @media @mobile {
        margin: 0 10px 8px 0;
      }

      .ant-list-item-meta-title {
        white-space: nowrap;
      }
    }

    .ant-list-item-action {
      @media @mobile {
        margin: auto;
      }
    }

    .ant-notification-notice {
      margin-bottom: 0 !important;
    }

    .ant-list-item-content {
      @media @mobile {
        justify-content: center;
        margin-bottom: 10px;
      }
    }
  }
}

.patch-banner {
  max-width: 600px;
  @media @mobile {
    max-width: 80vw;
  }
}

.search-box-container {
  font-weight: 600;
  width: 80%;
  margin: auto;
  border-radius: 4px;
  background-color: var(--topbar-color);

  @media @mobile {
    width: 90%;
  }

  @media @large-desktop {
    width: 1450px;
  }

  .search-box {
    padding: 24px 32px 20px;

    .search-language {
      @media @mobile {
        width: 150px;
      }

    }

    .header {
      @media @mobile, @tablet {
        row-gap: 10px;
      }
      @media @mobile {
        flex-wrap: wrap;
      }
    }

    .input {

      .ant-input-affix-wrapper {
        background-color: white !important;
        color: var(--interact-color);
      }

      .search-input {
        background-color: white;
        color: var(--interact-color);
        font-weight: 600;
        font-size: 18px;
      }
    }

    .search-label {
      font-size: 24px;
    }
  }

  .search-box-footer {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-top: 1px solid var(--primary-color);
    padding: 8px 14px;
  }
}

app-search-job-picker {
  font-weight: normal;
}

.form-row {
  height: 100px;
}

.search-tip {
  font-style: italic;
  font-size: 11px;
}

.result-type {
  opacity: .8;
}

.order-boxes {
  padding: 10px;

  > nz-select {
    min-width: 200px;
  }
}

.search-type {
  min-width: 100px;
}

nz-form-item {
  display: flex;
  align-items: center;
}

.filter-select {
  width: 200px !important;
}

.patch-select {
  min-width: 85px !important;
}

.filter-select-compact {
  width: 150px !important;

  @media @tablet {
    width: 205px !important;
  }
}

.stat-selector {
  width: 100%;
}

.input-box {
  ::ng-deep {
    input {
      max-width: 120px;
    }
  }
}

.inputs-container {
  @media @mobile {
    width: 100%;
  }
  @media @tablet {
    width: 100%;
  }
}

.job-icon {
  font-size: 28px;
}

.icon {
  width: 24px;
  height: 24px;
}

.add-stat-button {
  background-color: var(--interact-color);
}

.stats-header {
  text-align: center;
}

.input-range {

  &.with-addon-before {
    .ant-input-number:first-child {
      border-radius: 0;
    }
  }

  .ant-input-number {
    width: 47.5%;
    background-color: var(--interact-color);
    text-align: center;

    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  input:disabled {
    width: 5%;
    box-sizing: content-box;
    text-align: center;
    font-weight: 800;
    pointer-events: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.search-title {
  white-space: nowrap;
}

.nothing-here {
  height: 100%;
  opacity: .6;
}

.stats-form-container {
  height: 100%;
  width: 100%;
}

.stats-filters-container {
  border-radius: 4px;

  .stats-filter-tab {
    padding: 16px;
  }
}

.filters {
  overflow: hidden;
  width: 100%;
}

.addition-buttons {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.results {
  width: 100%;
  padding: 20px 50px;
  @media @mobile {
    padding: 20px 10px;
  }
  @media @large-desktop {
    width: 1450px;
  }
}

.selection {
  padding: 0 50px;
  width: 100%;
  @media @mobile {
    padding: 0 10px;
  }

  .selection-row {
    position: relative;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;

    .delete-icon {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .selection-buttons {
    width: 100%;

    > button:first-child {
      margin-right: 10px;
    }
  }
}


.instance-banner {
  width: 220px;
}
