<div class="top-part">
  <div class="search-box">
    <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
      <input class="search-input" type="text" placeholder="{{'ITEMS.Item_name' | translate}}" #searchInput nz-input
             [ngModel]="query$.value"
             (keyup)="query$.next(searchInput.value)">
    </nz-input-group>
    <ng-template #addOnAfterTemplate>
      <label nz-checkbox [(ngModel)]="settings.recipesOnlySearch"
             (ngModelChange)="onlyRecipes$.next($event)">{{'ITEMS.Only_recipes' | translate}}</label>
    </ng-template>
  </div>
  <div class="filters">
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'Filters' | translate">
        <form nz-form>
          <nz-form-item>
            <nz-form-label>
              Work in Progress
            </nz-form-label>
          </nz-form-item>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
<div *ngIf="showIntro">
  TODO Intro
</div>
<div *ngIf="results$ | async as results">
  <div class="results">
    <app-page-loader [loading]="loading">
      <nz-list [nzDataSource]="results" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="inputBox" [nzActions]="[addToList]">
            <ng-template #inputBox>
              <nz-input-group [nzAddOnBefore]="addCrafts"  class="amount-input">
                <input type="number" [(ngModel)]="item.amount" nz-input>
                <ng-template #addCrafts>
                  <label nz-checkbox [(ngModel)]="item.addCrafts" *ngIf="item.recipe !== undefined">{{'ITEMS.Crafts_amount'
                    | translate}}</label>
                </ng-template>
              </nz-input-group>
            </ng-template>
            <ng-template #addToList>
              <button nz-button [nzType]="'primary'" [nzShape]="'circle'" nz-tooltip [nzTitle]="'ITEMS.Add_to_list' | translate">
                <i class="anticon anticon-plus"></i>
              </button>
            </ng-template>
            <nz-list-item-meta
              [nzTitle]="item.itemId | itemName | i18n"
              [nzAvatar]="item.icon | icon">
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </app-page-loader>
  </div>
  <div *ngIf="results.length === 0">
    <app-fullpage-message>{{'No_items_found' | translate}}</app-fullpage-message>
  </div>
</div>
