.search-box {
  width: 50%;
  margin: auto;
  @media screen and (max-width: 640px) {
    width: 90%;
  }
}

.filters {
  width: 80%;
  margin: 10px auto auto;
}

.results {
  padding: 20px 50px;
  @media screen and (max-width: 640px) {
    padding: 20px 10px;
  }
  .amount-input {
    width: 200px;
  }
}

.new-list-button {
  width: 100%;
}
