<div class="top-part">
  <div class="search-box">
    <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
      <input class="search-input" type="text" placeholder="{{'ITEMS.Item_name' | translate}}" #searchInput nz-input
             [ngModel]="query$.value"
             (keyup)="query$.next(searchInput.value)">
    </nz-input-group>
    <ng-template #addOnAfterTemplate>
      <label nz-checkbox [ngModel]="onlyRecipes$ | async"
             (ngModelChange)="onlyRecipes$.next($event)">{{'ITEMS.Only_recipes' | translate}}</label>
    </ng-template>
  </div>
  <div class="filters">
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'Filters' | translate" #filtersPanel>
        <form nz-form [formGroup]="form" (ngSubmit)="submitFilters()">
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
               fxLayoutAlign.lt-md="center center">
            <!--Ilvl filter-->
            <nz-form-item [nzFlex]="true" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
              <nz-form-label nzFor="ilvl">{{'filters/ilvl' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-input-group nzCompact class="level-range">
                  <nz-input-number [nzMin]="0" [nzMax]="999" [nzPrecision]="0" id="ilvl"
                                   formControlName="ilvlMin"></nz-input-number>
                  <input type="text" disabled nz-input placeholder="-">
                  <nz-input-number [nzMin]="1" [nzMax]="999" [nzPrecision]="0"
                                   formControlName="ilvlMax"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <!--Elvl filter (equipment level)-->
            <nz-form-item [nzFlex]="true" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
              <nz-form-label nzFor="elvl">{{'filters/lvl' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-input-group nzCompact class="level-range">
                  <nz-input-number [nzMin]="0" [nzMax]="69" [nzPrecision]="0" id="elvl"
                                   formControlName="elvlMin"></nz-input-number>
                  <input type="text" disabled nz-input placeholder="-">
                  <nz-input-number [nzMin]="1" [nzMax]="70" [nzPrecision]="0"
                                   formControlName="elvlMax"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <!--Clvl filter (crafter level)-->
            <nz-form-item [nzFlex]="true" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
              <nz-form-label nzFor="clvl">{{'filters/craft_lvl' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-input-group nzCompact class="level-range">
                  <nz-input-number [nzMin]="0" [nzMax]="69" [nzPrecision]="0" id="clvl"
                                   formControlName="clvlMin"></nz-input-number>
                  <input type="text" disabled nz-input placeholder="-">
                  <nz-input-number [nzMin]="1" [nzMax]="70" [nzPrecision]="0"
                                   formControlName="clvlMax"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
               fxLayoutAlign.lt-md="center center">
            <nz-form-item [nzFlex]="true" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
              <nz-form-label>{{'filters/worn_by' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="jobCategories" nzMode="multiple" nzAllowClear>
                  <nz-option *ngFor="let category of availableJobCategories" [nzValue]="category.id"
                             [nzLabel]="category.id | jobAbbr | i18n" nzCustomContent>
                    <img src="https://garlandtools.org/db/images/{{category.abbreviation}}.png" alt="" class="job-icon">
                    {{category.id | jobAbbr | i18n}}
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item [nzFlex]="true" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
              <nz-form-label>{{'filters/crafted_by' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="craftJob" nzAllowClear>
                  <nz-option *ngFor="let job of availableCraftJobs" [nzValue]="job.id"
                             [nzLabel]="job.id | jobAbbr | i18n" nzCustomContent>
                    <img src="https://garlandtools.org/db/images/{{job.abbreviation}}.png" alt="" class="job-icon">
                    {{job.id | jobAbbr | i18n}}
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item [nzFlex]="true" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
              <nz-form-label>{{'filters/item_category' | translate}}</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="itemCategory" nzShowSearch nzAllowClear>
                  <nz-option *ngFor="let uiCategory of uiCategories$ | async" [nzValue]="uiCategory.id"
                             [nzLabel]="uiCategory.name | i18n">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <button nz-button nzType="primary" nzBlock type="submit">
            <i nz-icon type="filter"></i> {{'ITEMS.Apply_filters' | translate}}
          </button>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
<div *ngIf="showIntro">
  TODO Intro
</div>
<div *ngIf="results$ | async as results">
  <div class="addition-buttons">
    <label nz-checkbox [(ngModel)]="allSelected" (ngModelChange)="selectAll(results, $event)">{{'Select_all' |
      translate}}</label>
    <button nz-button (click)="addSelectedItemsToList(results)">{{'LISTS.Add_selection' | translate}}</button>
  </div>
  <div class="results">
    <app-page-loader [loading]="loading">
      <nz-list [nzDataSource]="results" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="inputBox"
                        [nzActions]="[addToList, createQuickListAction, openInSimulatorAction]">
            <label nz-checkbox class="select-box" [(ngModel)]="item.selected"
                   (ngModelChange)="updateAllSelected(results)"></label>
            <ng-template #inputBox>
              <nz-input-group [nzAddOnBefore]="addCrafts" [nzCompact]="true" class="amount-input">
                <input type="number" [(ngModel)]="item.amount" nz-input>
                <ng-template #addCrafts>
                  <label nz-checkbox [(ngModel)]="item.addCrafts" *ngIf="item.recipe !== undefined">
                    {{'ITEMS.Crafts_amount' | translate}}
                  </label>
                </ng-template>
              </nz-input-group>
            </ng-template>
            <ng-template #addToList>
              <button nz-button [nzType]="'primary'" [nzShape]="'circle'" nz-tooltip
                      [nzTitle]="'ITEMS.Add_to_list' | translate" (click)="addItemsToList([item])">
                <i nz-icon type="plus"></i>
              </button>
            </ng-template>
            <ng-template #createQuickListAction>
              <button nz-button [nzType]="'primary'" [nzShape]="'circle'" nz-tooltip
                      [nzTitle]="'Quick_list_create' | translate" (click)="createQuickList(item)">
                <i nz-icon type="clock-circle-o"></i>
              </button>
            </ng-template>
            <ng-template #openInSimulatorAction>
              <button nz-button nzDisabled [nzType]="'primary'" [nzShape]="'circle'" nz-tooltip
                      [nzTitle]="'Quick_list_create' | translate" (click)="createQuickList(item)">
                <i class="material-icons">gavel</i>
              </button>
            </ng-template>
            <nz-list-item-meta
              [nzTitle]="title"
              [nzAvatar]="item.icon | icon">
              <ng-template #title>
                <div fxLayout="row">
                  <div>{{item.itemId | itemName | i18n}}</div>
                  <app-marketboard-icon [itemId]="item.itemId"></app-marketboard-icon>
                </div>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </app-page-loader>
  </div>
  <div *ngIf="results.length === 0">
    <app-fullpage-message height="300px">{{'No_items_found' | translate}}</app-fullpage-message>
  </div>
</div>

<ng-template #notificationRef let-notification>
  <div class="ant-notification-notice-content ant-notification-notice-with-icon">
    <i class="ant-notification-notice-icon ant-notification-notice-icon-success" nz-icon nzType="check-circle"></i>
    <div>
      <div class="ant-notification-notice-message">{{'COMMON.Success' | translate}}</div>
      <div class="ant-notification-notice-description">
        <span *ngIf="itemsAdded === 1">{{'Recipe_Added' | translate: {listname: modifiedList.name} }}</span>
        <span *ngIf="itemsAdded !== 1">{{'Recipes_Added' | translate: {itemcount: itemsAdded, listname: modifiedList.name} }}</span>
      </div>
      <span class="ant-notification-notice-btn">
            <a nz-button nzType="primary" (click)="notification.close();" routerLink="/list/{{modifiedList.$key}}">
              <span>{{'Open' | translate}}</span>
            </a>
          </span>
    </div>
  </div>
</ng-template>
