<h1>{{'SETTINGS.title' | translate}}</h1>
<div class="settings-row">
    <mat-form-field>
        <mat-select [(ngModel)]="settings.baseLink" class="select-box" placeholder="{{'SETTINGS.link_base' | translate}}">
            <mat-option *ngFor="let row of linkBases" [value]="row.value">{{row.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div fxHide fxShow.gt-sm>
    <mat-checkbox [(ngModel)]="settings.compactLists">{{'SETTINGS.compact_lists' | translate}}</mat-checkbox>
</div>
<div>
    <mat-checkbox [(ngModel)]="settings.lightTheme">{{'SETTINGS.light_theme' | translate}}
    </mat-checkbox>
</div>
