<div class="toolbar">
  <button nz-button [nzShape]="'circle'" [nzType]="'primary'" (click)="createList()">
    <i class="anticon anticon-file-add"></i>
  </button>
</div>
<app-page-loader [loading]="loading$ | async">
  <div *ngIf="lists$ | async as lists">
    <div droppable class="list-drop" (onDrop)="setListIndex($event.dragData, 0, lists)"></div>
    <div *ngFor="let list of lists; trackBy: trackByList; let i = index">
      <div draggable [dragData]="list">
        <app-list-panel [list]="list"></app-list-panel>
      </div>
      <div droppable class="list-drop" (onDrop)="setListIndex($event.dragData, i, lists)"></div>
    </div>
  </div>
</app-page-loader>
