.list-icon {
  width: 32px !important;
  height: 32px !important;
}

.row-name {
  display: flex;
  flex-grow: 1;
  margin-right: 10px;
}

.row-content {
  display: inline-flex !important;
  align-items: center;
}

.checkboxes {
  float: right;
}
