<table class="grid-table" *ngIf="table$ | async as table">
  <thead>
    <tr class="grid-header-line">
      <th class="empty-head"></th>
      <th *ngFor="let header of table.data; let last = last; let i = index" class="grid-cell grid-header" [class.last]="last">
        <ng-container *ngIf="colIconRender; else itemIconRender">
          <ng-container *ngTemplateOutlet="colIconRender; context: { $implicit: header.rowId }"></ng-container>
        </ng-container>
        <ng-template #itemIconRender>
          <app-item-icon [itemId]="header.rowId" width="32"></app-item-icon>
        </ng-template>
      </th>
    </tr>
  </thead>
  <tbody class="grid-body">
    <tr *ngFor="let row of table.colDefs; let i = index">
      <td class="grid-cell grid-sider">
        <ng-container *ngTemplateOutlet="rowIconRender; context: { $implicit: row.colId }"></ng-container>
      </td>
      <td
        *ngFor="let col of table.data; let headerIndex = index; let last = last"
        class="grid-cell"
        [class.not-highlighted]="(activeFish$ | async) >= 0 && (activeFish$ | async) !== col.rowId"
        [class.last]="last"
        [style.background-color]="util.getHighlightColor(col.valuesByColId[row.colId] / table.totals[row.colId]) | async"
        (mouseenter)="activeFishChange.next(col.rowId)"
        (mouseleave)="activeFishChange.next(undefined)"
      >
        <span *ngIf="col.valuesByColId[row.colId]" nz-tooltip [nzTooltipTitle]="amountTooltip">
          <ng-template #amountTooltip>
            {{ col.valuesByColId[row.colId] | number: '1.0-2':translate.currentLang }} / {{ table.totals[row.colId] | number: '1.0-1':translate.currentLang }}
          </ng-template>
          {{ (100 * col.valuesByColId[row.colId]) / table.totals[row.colId] | number: '1.0-1':translate.currentLang }}%
        </span>
      </td>
    </tr>
  </tbody>
</table>
