@if (table$ | async; as table) {
  <table class="grid-table">
    <thead>
      <tr class="grid-header-line">
        <th class="empty-head"></th>
        @for (header of table.data; track header; let last = $last; let i = $index) {
          <th class="grid-cell grid-header" [class.last]="last">
            @if (colIconRender) {
              <ng-container *ngTemplateOutlet="colIconRender; context: { $implicit: header.rowId }"></ng-container>
            } @else {
              <app-item-icon [itemId]="header.rowId" width="32"></app-item-icon>
            }
          </th>
        }
      </tr>
    </thead>
    <tbody class="grid-body">
      @for (row of table.colDefs; track row; let i = $index) {
        <tr>
          <td class="grid-cell grid-sider">
            <ng-container *ngTemplateOutlet="rowIconRender; context: { $implicit: row.colId, total: table.totals[row.colId], percent: table.totals[row.colId] / table.totals.records }"></ng-container>
          </td>
          @for (col of table.data; track col; let headerIndex = $index; let last = $last) {
            <td
              class="grid-cell"
              [class.not-highlighted]="(activeFish$ | async) >= 0 && (activeFish$ | async) !== col.rowId"
              [class.last]="last"
              [style.background-color]="util.getHighlightColor(col.valuesByColId[row.colId] / table.totals[row.colId]) | async"
              (mouseenter)="activeFishChange.next(col.rowId)"
              (mouseleave)="activeFishChange.next(undefined)"
              >
              @if (col.valuesByColId[row.colId]) {
                <span nz-tooltip [nzTooltipTitle]="amountTooltip">
                  <ng-template #amountTooltip>
                    {{ col.valuesByColId[row.colId] | number: '1.0-2':translate.currentLang }} / {{ table.totals[row.colId] | number: '1.0-1':translate.currentLang }}
                  </ng-template>
                  {{ (100 * col.valuesByColId[row.colId]) / table.totals[row.colId] | number: '1.0-1':translate.currentLang }}%
                </span>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
}
