<div fxLayout="row">
  <div fxFlex="0 0 20%" fxLayoutAlign="flex-start center">
    <div>{{ vessel?.name }}</div>
  </div>
  <div fxFlex="0 0 20%" fxLayoutAlign="center center">
    @if (vessel?.returnTime > 0) {
      {{ vessel?.returnTime * 1000 | date:'short':null:settings.dateFormat }}
    } @else {
      -
    }
  </div>
  <div fxFlex="0 0 20%" fxLayoutAlign="center center">
    @if (!isVesselBack(vessel)) {
      <i nz-icon nzType="field-time" nzTheme="outline" class="task-icon"></i>
      {{ remainingTime$ | async | timer:true }}
    } @else {
      @if (isVesselCompleted(vessel)) {
        <i nz-icon nzType="check-circle" nzTheme="outline" class="task-icon complete"></i>
        {{'VOYAGE_TRACKER.Voyage_complete' | translate}}
      } @else {
        -
      }
    }
  </div>
  <div fxFlex="0 0 90px" fxLayoutAlign="center center">
    <app-vessel-rank-column [rank]="vessel?.rank"
      [currentExperience]="vessel?.currentExperience"
      [totalExperienceForNextRank]="vessel?.totalExperienceForNextRank"
      [maxRank]="maxRank"
    ></app-vessel-rank-column>
  </div>
  <div fxFlex="0 0 120px" fxLayoutAlign="center center">
    <app-vessel-build-column [type]="vessel?.vesselType"
      [name]="vessel?.name"
      [rank]="vessel?.rank"
      [parts]="vessel?.parts"
    ></app-vessel-build-column>
  </div>
  <div fxFlex="0" fxLayoutAlign="center center" style="text-align: center">
    <app-vessel-voyage-column [vessel]="vessel"></app-vessel-voyage-column>
  </div>
</div>
