<mat-expansion-panel [expanded]="expanded" (opened)="opened.emit()" (closed)="closed.emit()">
    <mat-expansion-panel-header>
        <mat-panel-title>{{title}}</mat-panel-title>
        <button mat-icon-button
                matTooltip="{{'LIST.Total_price' | translate}}"
                matTooltipPosition="above"
                *ngIf="hasVendors"
                (click)="$event.stopPropagation();showTotalPrice()">
            <mat-icon>local_atm</mat-icon>
        </button>
        <button mat-icon-button ngxClipboard
                *ngIf="data !== null"
                matTooltip="{{'LIST.Copy_as_text' | translate}}"
                matTooltipPosition="above"
                (click)="$event.stopPropagation()"
                [cbContent]="getTextExport()"
                class="export-button">
            <mat-icon>content_copy</mat-icon>
        </button>
    </mat-expansion-panel-header>
    <!--DEFAULT LIST-->
    <mat-list dense *ngIf="!showTier && !zoneBreakdown">
        <div *ngFor="let row of data; trackBy: trackByFn; let i = index">
            <app-item (update)="update.emit()"
                      [user]="user" (done)="done.emit($event)" *ngIf="!row.hidden"
                      [item]="row" [list]="list" [recipe]="recipe"
                      [even]="i%2!=0" [preCraft]="row.craftedBy !== undefined && !recipe"
                      [permissions]="permissions"></app-item>
        </div>
    </mat-list>
    <!--ZONE BREAKDOWN LIST-->
    <mat-list dense *ngIf="zoneBreakdown && !showTier">
        <div *ngFor="let row of zoneBreakdownData?.rows; trackBy: trackByZoneFn">
            <div *ngIf="row.items.length > 0">
                <div class="subheader">
                    <span mat-subheader>{{getLocation(row.zoneId) | i18n}}</span>
                    <button mat-icon-button
                            *ngIf="hasNavigationMap(row)"
                            (click)="openNavigationMap(row)"
                            matTooltip="{{'NAVIGATION.Title' | translate}}"
                            matTooltipPosition="above">
                        <i class="fas fa-map"></i>
                    </button>
                </div>
                <mat-divider class="zone-divider"></mat-divider>
                <div *ngFor="let item of row.items; trackBy: trackByFn; let i = index"
                     [ngClass]="{compact: settings.compactLists}">
                    <app-item [list]="list"
                              [user]="user"
                              (update)="update.emit()"
                              (done)="done.emit($event)"
                              *ngIf="!item.hidden"
                              [item]="item"
                              [showTimer]="true"
                              [even]="i%2!=0"
                              [recipe]="recipe"
                              [preCraft]="item.craftedBy !== undefined && !recipe"
                              [permissions]="permissions"></app-item>
                </div>
            </div>
        </div>
    </mat-list>
    <!--TIER LIST-->
    <mat-list dense *ngIf="showTier && !zoneBreakdown">
        <mat-list *ngFor="let tier of tiers; trackBy: trackByTierFn; let tierNumber = index;">
            <div *ngIf="tier.length > 0">
                <h3 mat-subheader>{{'Precraft_tier' | translate}} {{tierNumber + 1}}</h3>
                <mat-divider></mat-divider>
                <div *ngFor="let row of tier; trackBy: trackByFn; let i = index"
                     [ngClass]="{compact: settings.compactLists}">
                    <app-item (update)="update.emit()" (done)="done.emit($event)" *ngIf="!row.hidden"
                              [user]="user"
                              [item]="row" [list]="list" [recipe]="recipe"
                              [even]="i%2!=0" [preCraft]="row.craftedBy !== undefined && !recipe"
                              [permissions]="permissions"></app-item>
                </div>
            </div>
        </mat-list>
    </mat-list>
</mat-expansion-panel>
