<app-page-loader *ngIf="loading$ | async; else items">
</app-page-loader>
<div *ngIf="display$ | async as display">
  <div class="toolbar" fxLayout="row wrap" fxLayoutGap="5px">
    <button nz-button [nzShape]="'circle'" [nzType]="'primary'" (click)="createCustomItem()" nz-tooltip
            [nzTitle]="'New_List' | translate">
      <i nz-icon type="file-add"></i>
    </button>
    <button nz-button [nzShape]="'circle'" [nzType]="'primary'" (click)="createFolder()" nz-tooltip
            [nzTitle]="'WORKSHOP.Add_workshop' | translate">
      <i nz-icon type="folder-add"></i>
    </button>
    <button nz-button [nzShape]="'circle'" [nzType]="'primary'" nz-tooltip (click)="importItems()"
            [nzTitle]="'LISTS.IMPORT.Title' | translate">
      <i nz-icon type="download"></i>
    </button>
  </div>

  <div *ngIf="display.otherItems.length === 0 && display.folders.length === 0">
    <app-fullpage-message height="300px">{{'CUSTOM_ITEMS.No_items' | translate}}</app-fullpage-message>
  </div>
</div>

<ng-template #itemDisplay let-item>
  <nz-collapse>
    <nz-collapse-panel [nzHeader]="header">
      <ng-template #header>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>{{item.name}}</div>
          <div class="buttons" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
            <button nz-button nz-popconfirm [nzTitle]="'Confirm' | translate"
                    nzShape="circle" nzSize="small"
                    nzType="danger"
                    (nzOnConfirm)="deleteCustomItem(item.$key)">
              <i nz-icon type="delete"></i>
            </button>
          </div>
        </div>
      </ng-template>
    </nz-collapse-panel>
  </nz-collapse>
</ng-template>
