<app-page-loader *ngIf="loading$ | async; else pageContent">
</app-page-loader>
<ng-template #pageContent>
  <div *ngIf="display$ | async as display">
    <div class="toolbar" fxLayout="row wrap" fxLayoutGap="5px">
      <button (click)="createCustomItem()" [nzShape]="'circle'" [nzTooltipTitle]="'CUSTOM_ITEMS.New_item' | translate" [nzType]="'primary'" nz-button
              nz-tooltip>
        <i nz-icon nzType="file-add"></i>
      </button>
      <button (click)="createFolder()" [nzShape]="'circle'" [nzTooltipTitle]="'CUSTOM_ITEMS.New_folder' | translate" [nzType]="'primary'" nz-button
              nz-tooltip>
        <i nz-icon nzType="folder-add"></i>
      </button>
      <button (click)="importItems()" [nzShape]="'circle'" [nzTooltipTitle]="'CUSTOM_ITEMS.Import_items' | translate" [nzType]="'primary'" nz-button
              nz-tooltip>
        <i nz-icon nzType="download"></i>
      </button>
      <button (click)="exportMultipleItems(display)" [nzShape]="'circle'" [nzTooltipTitle]="'CUSTOM_ITEMS.Export_items' | translate" [nzType]="'primary'" nz-button
              nz-tooltip>
        <i nz-icon nzType="upload"></i>
      </button>
    </div>
    <div *ngIf="display.otherItems.length === 0 && display.folders.length === 0; else itemsDisplay">
      <app-fullpage-message height="300px">{{'CUSTOM_ITEMS.No_items' | translate}}</app-fullpage-message>
    </div>
    <ng-template #itemsDisplay>
      <div fxLayout="column" fxLayoutGap="20px">
        <div (drop)="setItemIndex($event.value, $event.dropIndex, display.otherItems, undefined)" class="ngx-dnd-container"
             fxLayout="column" fxLayoutGap="10px"
             ngxDroppable="item">
          <div *ngFor="let item of display.otherItems; trackBy: trackByKey" [model]="item"
               class="ngx-dnd-item"
               ngxDraggable="item">
            <ng-container *ngTemplateOutlet="itemDisplay;context:{$implicit: item}"></ng-container>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <div (drop)="setFolderIndex($event.value, $event.dropIndex, display.folders)" class="ngx-dnd-container"
               fxLayout="column" fxLayoutGap="10px"
               ngxDroppable="folder">
            <div *ngFor="let folderDisplay of display.folders; trackBy: trackByFolderKey" [model]="folderDisplay.folder"
                 class="ngx-dnd-item"
                 ngxDraggable="folder">
              <nz-collapse>
                <nz-collapse-panel [nzHeader]="folderHeader">
                  <ng-template #folderHeader>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <i nz-icon nzType="folder"></i>
                        <div>{{folderDisplay.folder.name}}</div>
                        <button (click)="$event.stopPropagation();renameFolder(folderDisplay.folder)" [nzTooltipTitle]="'CUSTOM_ITEMS.Rename_folder' | translate"
                                nz-button
                                nz-tooltip
                                nzShape="circle"
                                nzSize="small">
                          <i nz-icon nzType="edit"></i>
                        </button>
                      </div>
                      <div class="buttons" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
                        <button (click)="$event.stopPropagation()" (nzOnConfirm)="deleteCustomItemFolder(folderDisplay.folder.$key)" [nzPopconfirmTitle]="'Confirmation' | translate"
                                nz-button
                                nz-popconfirm
                                nzShape="circle"
                                nzDanger>
                          <i nz-icon nzType="delete"></i>
                        </button>
                      </div>
                    </div>
                  </ng-template>
                  <div (drop)="setItemIndex($event.value, $event.dropIndex, display.otherItems, folderDisplay.folder.$key)" class="ngx-dnd-container folder-items-container"
                       fxLayout="column" fxLayoutGap="10px"
                       ngxDroppable="item">
                    <div *ngFor="let item of folderDisplay.items; trackBy: trackByKey" [model]="item"
                         class="ngx-dnd-item"
                         ngxDraggable="item">
                      <ng-container *ngTemplateOutlet="itemDisplay;context:{$implicit: item}"></ng-container>
                    </div>
                  </div>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </div>

        </div>
      </div>
    </ng-template>
    <ng-template #itemDisplay let-item>
      <nz-collapse>
        <nz-collapse-panel [nzHeader]="header">
          <ng-template #header>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>{{item.name}}<span *ngIf="item.dirty">*</span></div>
              <div class="buttons" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
                <button (click)="$event.stopPropagation();exportItems([item], display)" [nzTooltipTitle]="'CUSTOM_ITEMS.Export_item' | translate" nz-button
                        nz-tooltip
                        nzShape="circle">
                  <i nz-icon nzType="export"></i>
                </button>
                <button (click)="$event.stopPropagation()" [nzPopoverContent]="calculator" [nzPopoverTitle]="'CUSTOM_ITEMS.Add_to_list' | translate"
                        nz-button nz-popover
                        nzShape="circle"
                        nzPopoverTrigger="click" nzType="primary">
                  <i nz-icon nzType="plus"></i>
                  <ng-template #calculator>
                    <div fxLayout="row" fxLayoutGap="5px">
                      <nz-input-number #numberInput (keypress.enter)="addToList(item, numberInput.value);"
                                       [ngModel]="1" [nzMin]="1"
                                       [nzStep]="1"
                                       nzAutoFocus></nz-input-number>
                      <button (click)="addToList(item, numberInput.value);" nz-button nzType="primary">
                        <i nz-icon nzType="caret-right"></i>
                      </button>
                    </div>
                  </ng-template>
                </button>
                <button (click)="$event.stopPropagation()" (nzOnConfirm)="deleteCustomItem(item.$key)" [nzPopconfirmTitle]="'Confirmation' | translate"
                        nz-button
                        nz-popconfirm
                        nzShape="circle"
                        nzDanger>
                  <i nz-icon nzType="delete"></i>
                </button>
              </div>
            </div>
          </ng-template>
          <div class="item-form" fxLayout="column" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
              <h2>{{'CUSTOM_ITEMS.Details' | translate}}</h2>
              <div>
                <button  [nzDropdownMenu]="menu" [nzTooltipTitle]="'CUSTOM_ITEMS.Add_details' | translate" [nzTrigger]="'click'" nz-button
                        nz-dropdown nz-tooltip nzShape="circle"
                        nzSize="small">
                  <i nz-icon nzType="plus"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li (nzClick)="addCraft(item)"
                        *ngIf="item.craftedBy === undefined || item.craftedBy.length === 0"
                        nz-menu-item>{{'CUSTOM_ITEMS.DETAILS.CRAFT.Title' | translate}}</li>
                    <li (nzClick)="addGathering(item)"
                        *ngIf="item.gatheredBy === undefined"
                        nz-menu-item>{{'CUSTOM_ITEMS.DETAILS.GATHERING.Title' | translate}}</li>
                    <li (nzClick)="addAlarm(item)"
                        nz-menu-item>{{'CUSTOM_ITEMS.DETAILS.ALARMS.Title' | translate}}</li>
                    <li (nzClick)="addVendor(item)"
                        nz-menu-item>{{'CUSTOM_ITEMS.DETAILS.VENDORS.Title' | translate}}</li>
                    <li (nzClick)="addTrade(item)"
                        nz-menu-item>{{'CUSTOM_ITEMS.DETAILS.TRADES.Title' | translate}}</li>
                    <li (nzClick)="addReduction(item)"
                        nz-menu-item>{{'CUSTOM_ITEMS.DETAILS.REDUCTION.Title' | translate}}</li>
                    <li (nzClick)="addIngredient(item)"
                        nz-menu-item>{{'CUSTOM_ITEMS.DETAILS.Requirements' | translate}}</li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
              <nz-form-item>
                <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.ID' | translate}}</nz-form-label>
                <nz-form-control>
                  <nz-input-number [(ngModel)]="item.realItemId" (ngModelChange)="item.dirty = true"
                                   [nzMin]="0"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.Name' | translate}}</nz-form-label>
                <nz-form-control>
                  <input [(ngModel)]="item.name" (ngModelChange)="item.dirty = true; autoCompleteItemID($event, item)" nz-input
                         type="text">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div *ngIf="item.craftedBy !== undefined && item.craftedBy.length > 0">
              <nz-divider [nzText]="gatheringHeader" nzOrientation="left">
                <ng-template #gatheringHeader>
                  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                    <div>{{'CUSTOM_ITEMS.DETAILS.CRAFT.Title' | translate}}</div>
                    <button (nzOnConfirm)="deleteCraft(item)" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button nz-popconfirm
                            nzShape="circle" nzSize="small"
                            nzDanger><i nz-icon nzType="delete"></i></button>
                  </div>
                </ng-template>
              </nz-divider>
              <div fxLayout="column" fxLayoutAlign="flex-start flex-start" fxLayoutGap="10px">
                <div *ngIf="item.craftedBy[0] as craft" fxLayout="column">
                  <nz-alert *ngIf="item.requires === undefined || item.requires.length === 0" [nzMessage]="'CUSTOM_ITEMS.DETAILS.CRAFT.No_requirement_warning' | translate"
                            nzShowIcon
                            nzType="warning"
                  ></nz-alert>
                  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                    <nz-form-item>
                      <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.CRAFT.Job' | translate}}</nz-form-label>
                      <nz-form-control>
                        <nz-select [(ngModel)]="craft.jobId" (ngModelChange)="item.dirty = true" class="job-select">
                          <nz-option *ngFor="let job of availableCraftJobs" [nzLabel]="job.id | i18nRow:'jobAbbr' | i18n"
                                     [nzValue]="job.id" nzCustomContent>
                            <img alt="" class="job-icon"
                                 src="https://garlandtools.org/db/images/{{job.abbreviation}}.png">
                            {{job.id | i18nRow:'jobAbbr' | i18n}}
                          </nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.Level' | translate}}</nz-form-label>
                      <nz-form-control>
                        <nz-input-number [(ngModel)]="craft.level" (ngModelChange)="item.dirty = true" [nzMin]="1"
                                         [nzStep]="1"></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.Stars' | translate}}</nz-form-label>
                      <nz-form-control>
                        <nz-select [(ngModel)]="craft.stars_tooltip" (ngModelChange)="item.dirty = true">
                          <nz-option [nzLabel]="'CUSTOM_ITEMS.DETAILS.None' | translate" [nzValue]="''">
                          </nz-option>
                          <nz-option [nzLabel]="'★'" [nzValue]="'★'">
                          </nz-option>
                          <nz-option [nzLabel]="'★★'" [nzValue]="'★★'">
                          </nz-option>
                          <nz-option [nzLabel]="'★★★'" [nzValue]="'★★★'">
                          </nz-option>
                          <nz-option [nzLabel]="'★★★★'" [nzValue]="'★★★★'">
                          </nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.Yields' | translate}}</nz-form-label>
                      <nz-form-control>
                        <nz-input-number [(ngModel)]="item.yield" (ngModelChange)="item.dirty = true" [nzMin]="1"
                                         [nzStep]="1"></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="item.requires !== undefined && item.requires.length > 0">
              <nz-divider [nzText]="'CUSTOM_ITEMS.DETAILS.Requirements' | translate" nzOrientation="left"></nz-divider>
              <div fxLayout="column" fxLayoutAlign="flex-start flex-start" fxLayoutGap="5px">
                <div fxLayout="column" fxLayoutGap="5px">
                  <div *ngFor="let ingredient of item.requires, trackBy: trackByRequirement" fxLayout="row"
                       fxLayoutAlign="flex-start center"
                       fxLayoutGap="5px">
                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                      <input [(ngModel)]="ingredient.amount" (ngModelChange)="item.dirty = true" nz-input type="text">
                    </nz-input-group>
                    <ng-template #addOnBeforeTemplate>
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <div *ngIf="ingredient.custom">{{ingredient.id | customItemName | async}}</div>
                        <div *ngIf="!ingredient.custom">{{ingredient.id | itemName | i18n}}</div>
                      </div>
                    </ng-template>
                    <button (nzOnConfirm)="deleteIngredient(ingredient, item)" [nzPopconfirmTitle]="'Confirmation' | translate"
                            nz-button
                            nz-popconfirm
                            nzShape="circle"
                            nzSize="small" nzDanger>
                      <i nz-icon nzType="delete"></i>
                    </button>
                  </div>
                  <button (click)="addIngredient(item)" nz-button nzType="dashed">
                    <i nz-icon nzType="plus"></i>{{'CUSTOM_ITEMS.DETAILS.Add_requirement' | translate}}
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="item.gatheredBy !== undefined">
              <nz-divider [nzText]="gatheringHeader" nzOrientation="left">
                <ng-template #gatheringHeader>
                  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                    <div>{{'CUSTOM_ITEMS.DETAILS.GATHERING.Title' | translate}}</div>
                    <button (nzOnConfirm)="deleteGathering(item)" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button nz-popconfirm
                            nzShape="circle" nzSize="small"
                            nzDanger><i nz-icon nzType="delete"></i></button>
                  </div>
                </ng-template>
              </nz-divider>
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                <nz-form-item>
                  <nz-form-label
                  >{{'CUSTOM_ITEMS.DETAILS.GATHERING.Type' | translate}}</nz-form-label>
                  <nz-form-control>
                    <nz-select [(ngModel)]="item.gatheredBy.type" (ngModelChange)="item.dirty = true">
                      <nz-option [nzLabel]="('ALARMS.CUSTOM.TYPE.'+(0 | nodeTypeName)) | translate" [nzValue]="0">
                      </nz-option>
                      <nz-option [nzLabel]="('ALARMS.CUSTOM.TYPE.'+(1 | nodeTypeName)) | translate" [nzValue]="1">
                      </nz-option>
                      <nz-option [nzLabel]="('ALARMS.CUSTOM.TYPE.'+(2 | nodeTypeName)) | translate" [nzValue]="2">
                      </nz-option>
                      <nz-option [nzLabel]="('ALARMS.CUSTOM.TYPE.'+(3 | nodeTypeName)) | translate" [nzValue]="3">
                      </nz-option>
                      <nz-option [nzLabel]="('ALARMS.CUSTOM.TYPE.'+(4 | nodeTypeName)) | translate" [nzValue]="4">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.Level' | translate}}</nz-form-label>
                  <nz-form-control>
                    <nz-input-number [(ngModel)]="item.gatheredBy.level" (ngModelChange)="item.dirty = true" [nzMin]="1"
                                     [nzStep]="1"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                  >{{'CUSTOM_ITEMS.DETAILS.Stars' | translate}}</nz-form-label>
                  <nz-form-control>
                    <nz-select [(ngModel)]="item.gatheredBy.stars_tooltip" (ngModelChange)="item.dirty = true">
                      <nz-option [nzLabel]="'CUSTOM_ITEMS.DETAILS.None' | translate" [nzValue]="''">
                      </nz-option>
                      <nz-option [nzLabel]="'★'" [nzValue]="'★'">
                      </nz-option>
                      <nz-option [nzLabel]="'★★'" [nzValue]="'★★'">
                      </nz-option>
                      <nz-option [nzLabel]="'★★★'" [nzValue]="'★★★'">
                      </nz-option>
                      <nz-option [nzLabel]="'★★★★'" [nzValue]="'★★★★'">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>{{'ALARMS.CUSTOM.Map' | translate}}</nz-form-label>
                  <nz-form-control>
                    <nz-select (ngModelChange)="item.dirty = true" *ngIf="maps$ | async as maps; else loading"
                               [(ngModel)]="item.gatheredBy.nodes[0].mapid"
                               class="maps-select" nzAllowClear nzShowSearch>
                      <nz-option *ngFor="let map of maps" [nzLabel]="map.PlaceName | xivapiL12n: 'places' | i18n"
                                 [nzValue]="map.ID"></nz-option>
                    </nz-select>
                    <ng-template #loading>
                      <nz-spin></nz-spin>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>X</nz-form-label>
                  <nz-form-control>
                    <nz-input-number [(ngModel)]="item.gatheredBy.nodes[0].coords[0]" (ngModelChange)="item.dirty = true"
                                     [nzMin]="0"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>Y</nz-form-label>
                  <nz-form-control>
                    <nz-input-number [(ngModel)]="item.gatheredBy.nodes[0].coords[1]" (ngModelChange)="item.dirty = true"
                                     [nzMin]="0"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label
                  >{{'CUSTOM_ITEMS.DETAILS.GATHERING.Slot' | translate}}</nz-form-label>
                  <nz-form-control>
                    <nz-select [(ngModel)]="item.gatheredBy.nodes[0].slot" (ngModelChange)="item.dirty = true"
                               class="slot-select">
                      <nz-option [nzLabel]="'?'" [nzValue]="'?'">
                      </nz-option>
                      <nz-option [nzLabel]="1" [nzValue]="1"></nz-option>
                      <nz-option [nzLabel]="2" [nzValue]="2"></nz-option>
                      <nz-option [nzLabel]="3" [nzValue]="3"></nz-option>
                      <nz-option [nzLabel]="4" [nzValue]="4"></nz-option>
                      <nz-option [nzLabel]="5" [nzValue]="5"></nz-option>
                      <nz-option [nzLabel]="6" [nzValue]="6"></nz-option>
                      <nz-option [nzLabel]="7" [nzValue]="7"></nz-option>
                      <nz-option [nzLabel]="8" [nzValue]="8"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div *ngIf="item.alarms !== undefined && item.alarms.length > 0">
              <nz-divider [nzText]="'CUSTOM_ITEMS.DETAILS.ALARMS.Title' | translate" nzOrientation="left"></nz-divider>
              <nz-list [nzDataSource]="item.alarms"
                       [nzRenderItem]="alarmTemplate">
                <ng-template #alarmTemplate let-alarm>
                  <nz-list-item [nzActions]="[editAlarmAction, deleteAlarmAction]" [nzContent]="alarmContent">
                    <ng-template #alarmContent>
                      <app-map-position [mapId]="alarm.mapId" [marker]="alarm.coords"></app-map-position>
                    </ng-template>
                    <ng-template #editAlarmAction>
                      <button (click)="editAlarm(item, alarm)" [nzTooltipTitle]="'Edit' | translate" nz-button nz-tooltip nzShape="circle"
                              nzSize="small">
                        <i nz-icon nzType="edit"></i>
                      </button>
                    </ng-template>
                    <ng-template #deleteAlarmAction>
                      <button (nzOnConfirm)="deleteAlarm(item, alarm)" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button nz-popconfirm nz-tooltip
                              nzShape="circle"
                              nzSize="small" nzDanger>
                        <i nz-icon nzType="delete"></i>
                      </button>
                    </ng-template>
                    <nz-list-item-meta
                      [nzDescription]="alarmDescription"
                      [nzTitle]="alarmTitle">
                      <ng-template #alarmTitle>
                        {{alarm.name}} ({{alarm.slot || '?'}})
                      </ng-template>
                      <ng-template #alarmDescription>
                        <div fxLayout="row" fxLayoutAlign="flex-start center">
                          <div *ngFor="let spawn of alarm.spawns; let last = last">
                            {{spawn}}:00 - {{(spawn + alarm.duration) % 24}}:00<span *ngIf="!last">/</span>
                          </div>
                          <div *ngIf="alarm.weathersFrom !== undefined" fxLayout="row wrap" fxLayoutGap="5px">
                            <div *ngFor="let weather of alarm.weathersFrom">
                              <img [nzTooltipTitle]="weather | i18nRow:'weathers' | i18n" [src]="weather | weatherIcon" alt="{{weather | i18nRow:'weathers' | i18n}}"
                                   nz-tooltip>
                            </div>
                          </div>
                          <div *ngIf="alarm.weathersFrom !== undefined">
                            <i nz-icon nzType="right" theme="outline"></i>
                          </div>
                          <div *ngIf="alarm.weathers !== undefined" fxLayout="row wrap" fxLayoutGap="5px">
                            <div *ngFor="let weather of alarm.weathers">
                              <img [nzTooltipTitle]="weather | i18nRow:'weathers' | i18n" [src]="weather | weatherIcon" alt="{{weather | i18nRow:'weathers' | i18n}}"
                                   nz-tooltip>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </nz-list-item-meta>
                  </nz-list-item>
                </ng-template>
              </nz-list>
            </div>
            <div *ngIf="item.vendors !== undefined && item.vendors.length > 0">
              <nz-divider [nzText]="'CUSTOM_ITEMS.DETAILS.VENDORS.Title' | translate" nzOrientation="left"></nz-divider>
              <div fxLayout="column" fxLayoutAlign="flex-start flex-start" fxLayoutGap="10px">
                <div *ngFor="let vendor of item.vendors; trackBy: trackByVendor" fxLayout="column">
                  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                    <nz-form-item>
                      <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.VENDORS.Npc_name' | translate}}</nz-form-label>
                      <nz-form-control>
                        <input [ngModel]="vendor.npcId | i18nRow:'npcs' | i18n" disabled nz-input type="text">
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.VENDORS.Price' | translate}}</nz-form-label>
                      <nz-form-control>
                        <nz-input-number [(ngModel)]="vendor.price" (ngModelChange)="item.dirty = true" [nzMin]="0"
                                         [nzStep]="1"></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label>{{'ALARMS.CUSTOM.Map' | translate}}</nz-form-label>
                      <nz-form-control>
                        <nz-select (ngModelChange)="item.dirty = true" *ngIf="maps$ | async as maps; else loading"
                                   [(ngModel)]="vendor.mapId"
                                   class="maps-select" nzAllowClear nzShowSearch>
                          <nz-option *ngFor="let map of maps" [nzLabel]="map.PlaceName | xivapiL12n: 'places' | i18n"
                                     [nzValue]="map.ID"></nz-option>
                        </nz-select>
                        <ng-template #loading>
                          <nz-spin></nz-spin>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label>X</nz-form-label>
                      <nz-form-control>
                        <nz-input-number [(ngModel)]="vendor.coords.x" (ngModelChange)="item.dirty = true"
                                         [nzMin]="0"></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label>Y</nz-form-label>
                      <nz-form-control>
                        <nz-input-number [(ngModel)]="vendor.coords.y" (ngModelChange)="item.dirty = true"
                                         [nzMin]="0"></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label class="fake-form-label"></nz-form-label>
                      <nz-form-control>
                        <button (nzOnConfirm)="deleteVendor(item, vendor)" [nzPopconfirmTitle]="'Confirmation' | translate"
                                nz-button
                                nz-popconfirm nzDanger>
                          <i nz-icon nzType="delete"></i> {{'CUSTOM_ITEMS.DETAILS.VENDORS.Delete_vendor' | translate}}
                        </button>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="item.tradeSources !== undefined && item.tradeSources.length > 0">
              <nz-divider [nzText]="'CUSTOM_ITEMS.DETAILS.TRADES.Title' | translate" nzOrientation="left"></nz-divider>
              <div fxLayout="column" fxLayoutAlign="flex-start flex-start" fxLayoutGap="10px">
                <div *ngFor="let tradeSource of item.tradeSources; trackBy: trackByTradeSource" fxLayout="column">
                  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                    <nz-form-item>
                      <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.TRADES.Npc_name' | translate}}</nz-form-label>
                      <nz-form-control>
                        <input [ngModel]="tradeSource.npcs[0].id | i18nRow:'npcs' | i18n" disabled nz-input type="text">
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.TRADES.Shop_name' | translate}}</nz-form-label>
                      <nz-form-control>
                        <input [(ngModel)]="tradeSource.shopName" (ngModelChange)="item.dirty = true" nz-input
                               type="text">
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label>{{'ALARMS.CUSTOM.Map' | translate}}</nz-form-label>
                      <nz-form-control>
                        <nz-select (ngModelChange)="item.dirty = true" *ngIf="maps$ | async as maps; else loading"
                                   [(ngModel)]="tradeSource.npcs[0].mapId"
                                   class="maps-select" nzAllowClear nzShowSearch>
                          <nz-option *ngFor="let map of maps" [nzLabel]="map.PlaceName | xivapiL12n: 'places' | i18n"
                                     [nzValue]="map.ID"></nz-option>
                        </nz-select>
                        <ng-template #loading>
                          <nz-spin></nz-spin>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label>X</nz-form-label>
                      <nz-form-control>
                        <nz-input-number [(ngModel)]="tradeSource.npcs[0].coords.x" (ngModelChange)="item.dirty = true"
                                         [nzMin]="0"></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label>Y</nz-form-label>
                      <nz-form-control>
                        <nz-input-number [(ngModel)]="tradeSource.npcs[0].coords.y" (ngModelChange)="item.dirty = true"
                                         [nzMin]="0"></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label class="fake-form-label"></nz-form-label>
                      <nz-form-control>
                        <button (nzOnConfirm)="deleteTrade(item, tradeSource)" [nzPopconfirmTitle]="'Confirmation' | translate"
                                nz-button
                                nz-popconfirm nzDanger>
                          <i nz-icon nzType="delete"></i> {{'CUSTOM_ITEMS.DETAILS.TRADES.Delete_trade' | translate}}
                        </button>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div *ngFor="let trade of tradeSource.trades" fxLayout="row" fxLayout.lt-sm="column"
                       fxLayoutGap="5px">
                    <nz-form-item>
                      <nz-form-label>{{'CUSTOM_ITEMS.DETAILS.TRADES.Trade_details' | translate}}</nz-form-label>
                      <div fxLayout="column" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <div fxLayout="column" fxLayoutGap="5px">
                          <div *ngFor="let currency of trade.currencies" fxLayout="row"
                               fxLayoutAlign="flex-start center"
                               fxLayoutGap="5px">
                            <nz-input-group [nzAddOnAfter]="addOnAfterTemplate" [nzAddOnBefore]="addOnBeforeTemplate">
                              <input [(ngModel)]="currency.amount" (ngModelChange)="item.dirty = true" nz-input
                                     type="text">
                            </nz-input-group>
                            <ng-template #addOnBeforeTemplate>
                              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                                <app-item-icon [icon]="currency.icon" [itemId]="currency.id"
                                               [width]="14"></app-item-icon>
                                <div>{{currency.id | itemName | i18n}}</div>
                              </div>
                            </ng-template>
                            <ng-template #addOnAfterTemplate>
                              <label [(ngModel)]="currency.hq" (ngModelChange)="item.dirty = true"
                                     nz-checkbox>{{'HQ' | translate}}</label>
                            </ng-template>
                            <button (nzOnConfirm)="deleteCurrency(item, trade, currency)" [nzPopconfirmTitle]="'Confirmation' | translate"
                                    nz-button
                                    nz-popconfirm
                                    nzShape="circle"
                                    nzSize="small" nzDanger>
                              <i nz-icon nzType="delete"></i>
                            </button>
                          </div>
                          <button (click)="addCurrency(item, trade)" nz-button nzType="dashed">
                            <i nz-icon nzType="plus"></i>{{'CUSTOM_ITEMS.DETAILS.TRADES.Add_currency' | translate}}
                          </button>
                        </div>
                        <i nz-icon nzType="arrow-down"></i>
                        <nz-input-group [nzAddOnAfter]="addOnAfterTemplate" [nzAddOnBefore]="addOnBeforeTemplate">
                          <input [(ngModel)]="trade.items[0].amount" (ngModelChange)="item.dirty = true" nz-input
                                 type="number">
                        </nz-input-group>
                        <ng-template #addOnBeforeTemplate>
                          {{item.name}}
                        </ng-template>
                        <ng-template #addOnAfterTemplate>
                          <label [(ngModel)]="trade.items[0].hq" (ngModelChange)="item.dirty = true"
                                 nz-checkbox>{{'HQ' | translate}}</label>
                        </ng-template>
                      </div>
                    </nz-form-item>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="item.reducedFrom !== undefined && item.reducedFrom.length > 0">
              <nz-divider [nzText]="'CUSTOM_ITEMS.DETAILS.REDUCTION.Title' | translate"
                          nzOrientation="left"></nz-divider>
              <nz-list [nzDataSource]="item.reducedFrom"
                       [nzRenderItem]="reductionTemplate">
                <ng-template #reductionTemplate let-reduction>
                  <nz-list-item [nzActions]="[deleteReductionAction]">
                    <ng-template #deleteReductionAction>
                      <button (nzOnConfirm)="deleteReduction(item, reduction)" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button nz-popconfirm nz-tooltip
                              nzShape="circle"
                              nzSize="small" nzDanger>
                        <i nz-icon nzType="delete"></i>
                      </button>
                    </ng-template>
                    <nz-list-item-meta [nzAvatar]="reduction.obj.c | icon"
                                       [nzTitle]="reduction.obj.i | itemName | i18n"></nz-list-item-meta>
                  </nz-list-item>
                </ng-template>
              </nz-list>
            </div>
            <button (click)="updateCustomItem(item)" [disabled]="!item.dirty" class="save-button" nz-button nzBlock
                    nzType="primary">
              {{'CUSTOM_ITEMS.Save' | translate}}
            </button>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </ng-template>
  </div>
</ng-template>

<ng-template #notificationRef let-notification>
  <div class="ant-notification-notice-content ant-notification-notice-with-icon">
    <span class="ant-notification-notice-icon"><i class="ant-notification-notice-icon-success" nz-icon
                                                  nzType="check-circle"></i></span>
    <div>
      <div class="ant-notification-notice-message">{{'COMMON.Success' | translate}}</div>
      <div class="ant-notification-notice-description">
        <span>{{'Recipe_Added' | translate: { listname: modifiedList.name } }}</span>
      </div>
      <span class="ant-notification-notice-btn">
            <a (click)="notification.close();" nz-button nzType="primary" routerLink="/list/{{modifiedList.$key}}">
              <span>{{'Open' | translate}}</span>
            </a>
          </span>
    </div>
  </div>
</ng-template>
