<input #searchInput (keyup)="query$.next(searchInput.value)" nz-input nzAutoFocus
       placeholder="{{'CUSTOM_ITEMS.NPC_PICKER.Npc_name' | translate}}" type="text">
<nz-list [nzDataSource]="results$ | async" [nzLoading]="loading" [nzRenderItem]="npcTemplate">
  <ng-template #npcTemplate let-npc>
    <nz-list-item [nzContent]="content">
      <nz-list-item-meta [nzDescription]="description"
                         [nzTitle]="npc.id | i18nRow:'npcs' | i18n">
        <ng-template #description>
          <div *ngIf="npc?.position !== null" fxLayout="row">
            <div>{{npc?.position?.zoneid | i18nRow:'places' | i18n}}</div>
            <app-map-position [mapId]="npc?.position?.map" [marker]="npc?.position"
                              [zoneId]="npc?.position?.zoneid"></app-map-position>
          </div>
        </ng-template>
      </nz-list-item-meta>
      <ng-template #content>
        <button (click)="pick(npc)" [nzShape]="'circle'" [nzType]="'primary'" nz-button>
          <i nz-icon nzType="check"></i>
        </button>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>
