<input type="text" placeholder="{{'CUSTOM_ITEMS.NPC_PICKER.Npc_name' | translate}}" #searchInput nz-input
       (keyup)="query$.next(searchInput.value)" nzAutoFocus>
<nz-list [nzLoading]="loading" [nzRenderItem]="npcTemplate" [nzDataSource]="results$ | async">
  <ng-template #npcTemplate let-npc>
    <nz-list-item [nzContent]="content">
      <nz-list-item-meta [nzTitle]="npc.id | npcName | i18n"
                         [nzDescription]="description">
        <ng-template #description>
          <div *ngIf="npc.position !== null" fxLayout="row">
            <div>{{npc.position.zoneid | placeName | i18n}}</div>
            <app-map-position [zoneId]="npc.position.zoneid" [marker]="npc.position"
                              [mapId]="npc.position.map"></app-map-position>
          </div>
        </ng-template>
      </nz-list-item-meta>
      <ng-template #content>
        <button nz-button [nzType]="'primary'" [nzShape]="'circle'" (click)="pick(npc)">
          <i nz-icon type="check"></i>
        </button>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>
