:host {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .list-count {
        font-style: italic;
        opacity: .8;
    }
    a.patreon {
        background-color: #F96854;
        margin-bottom: 10px;
        img.patreon-logo {
            width: 48px;
        }
    }
    a {
        align-self: center;
    }
    .bottom-cards {
        margin-top: 50px;
        .bottom-card {
            height: 100%;
        }
    }
}
