:host {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .list-count {
        font-style: italic;
        opacity: .8;
    }
    a.patreon {
        background-color: #F96854;
        margin-bottom: 10px;
        img.patreon-logo {
            width: 48px;
        }
    }
    a {
        align-self: center;
    }
}

app-donation-button {
    margin-bottom: 25px;
}

.get-started {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .get-started-card {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-bottom: 50px;
        mat-card-content {
            flex: 1 1 auto;
        }
    }
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    mat-card {
        a {
            margin-bottom: 25px;
        }
    }
}
