<h3 mat-dialog-title>{{"ALARMS.Add_alarm" | translate}}</h3>
<div mat-dialog-content>
    <mat-form-field>
        <input type="text" matInput #searchInput [(ngModel)]="itemName" placeholder="{{'Item_name' | translate}}">
    </mat-form-field>
    <mat-list dense>
        <mat-list-item *ngFor="let row of results | async">
            <img mat-list-avatar src="{{row.icon | icon}}" alt="" [appXivdbTooltip]="row.itemId">
            <span matLine>{{row.itemId | itemName | i18n}}</span>
            <button mat-mini-fab (click)="close(row.nodes)">
                <mat-icon>alarm_add</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
    <mat-error *ngIf="(results | async)?.length === 0">{{"No_items_found" | translate}}</mat-error>
</div>
