<div class="flex-column gap-10">
  <app-lazy-scroll [data]="elements" [rowTemplate]="rowTpl">
    <ng-template #rowTpl let-element>
      <div class="flex-row align-center gap-10">
        <label (ngModelChange)="setSelection(element, $event)" [ngModel]="false" nz-checkbox></label>
        <div class="flex-column">
          <b>{{ element.name | async }}</b>
          <i>{{ element.description }}</i>
        </div>
      </div>
    </ng-template>
  </app-lazy-scroll>

  @if (elements.length === 0) {
    <nz-empty [nzNotFoundContent]="'COMMON.Empty_list' | translate"></nz-empty>
  }

  <div>
    <button (click)="close()" nz-button>{{ 'Confirm' | translate }}
    </button>
  </div>
</div>
