@if (loading$ | async) {
  <app-page-loader></app-page-loader>
} @else {
  <div fxLayout="column" fxLayoutGap="10px">
    <div class="toolbar" fxLayout="row wrap" fxLayoutGap="5px">
      <button (click)="createTeam()" [nzTooltipTitle]="'TEAMS.Create_team' | translate" nz-button nz-tooltip nzShape="circle"
        nzType="primary">
        <i nz-icon nzType="usergroup-add"></i>
      </button>
    </div>
    @if (myTeams$ | async; as teams) {
      <div class="teams" fxLayout="column" fxLayoutGap="10px">
        @for (team of teams; track trackByTeam($index, team)) {
          <nz-collapse>
            <nz-collapse-panel [nzActive]="team.$key === params.state" [nzHeader]="header">
              <ng-template #header>
                <div class="team-header" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                  <div>{{team.name}}</div>
                  @if (team.leader === (userId$ | async)) {
                    <button (click)="$event.stopPropagation();renameTeam(team)" nz-button nzShape="circle"
                      nzSize="small">
                      <i nz-icon nzType="edit"></i>
                    </button>
                  }
                  <div class="spacer"></div>
                  <i>{{team.$key}}</i>
                  &nbsp;
                  @if (team.leader === (userId$ | async)) {
                    <button (click)="$event.stopPropagation()" (nzOnConfirm)="deleteTeam(team)" [nzShape]="'circle'"
                      [nzPopconfirmTitle]="'TEAMS.Delete_confirmation' | translate"
                      nzDanger
                      nz-button nz-popconfirm>
                      <i nz-icon nzType="delete"></i>
                    </button>
                  }
                </div>
              </ng-template>
              @if ((userId$ | async) === team.leader) {
                <div fxLayout="column" fxLayoutGap="5px">
                  <div class="team-settings" fxLayout="row" fxLayoutGap="10px">
                    @if (team.webhook) {
                      <button (nzOnConfirm)="clearHook(team)" nz-button
                        nz-popconfirm [nzPopconfirmTitle]="'Confirmation' | translate" nzDanger>
                        {{'TEAMS.Disable_discord_updates' | translate}}
                      </button>
                    }
                    @if (team.webhook === undefined) {
                      <button (click)="discordOauth(team)" nz-button nzType="primary">
                        {{'TEAMS.Enable_discord_updates' | translate }}
                      </button>
                    }
                    <span>{{'COMMON.Language' | translate }}:</span>
                    <nz-select [(ngModel)]="team.language" (ngModelChange)="updateTeam(team)">
                      <nz-option [nzLabel]="'en'" [nzValue]="'en'"></nz-option>
                      <nz-option [nzLabel]="'fr'" [nzValue]="'fr'"></nz-option>
                      <nz-option [nzLabel]="'de'" [nzValue]="'de'"></nz-option>
                      <nz-option [nzLabel]="'ja'" [nzValue]="'ja'"></nz-option>
                      <nz-option [nzLabel]="'pt'" [nzValue]="'pt'"></nz-option>
                      <nz-option [nzLabel]="'br'" [nzValue]="'br'"></nz-option>
                      <nz-option [nzLabel]="'es'" [nzValue]="'es'"></nz-option>
                      <nz-option [nzLabel]="'ko'" [nzValue]="'ko'"></nz-option>
                      <nz-option [nzLabel]="'zh'" [nzValue]="'zh'"></nz-option>
                    </nz-select>
                  </div>
                  @if (team.webhook !== undefined) {
                    <div fxLayout="column">
                      <h3>{{'TEAMS.Webhook_configuration' | translate}}</h3>
                      <div nz-row>
                        @for (row of team.webhookSettings; track trackByPermission($index, row)) {
                          <div [nzMd]="12" [nzSm]="24"
                            nz-col>
                            <label [(ngModel)]="row.value"
                              (ngModelChange)="updateTeam(team)"
                            nz-checkbox>{{('TEAMS.PERMISSIONS.' + row.name) | translate}}</label>
                          </div>
                        }
                      </div>
                    </div>
                  }
                  @if (errorCode$.value; as errorCode) {
                    <nz-alert nzMessage="{{'TEAMS.Webhook_error' | translate}} {{errorCode}}"
                    nzShowIcon nzType="error"></nz-alert>
                  }
                  <div fxLayout="row" fxLayoutGap="5px">
                    @if (getInvites(team) | async; as invites) {
                      <nz-list [nzDataSource]="invites"
                        [nzHeader]="'TEAMS.Invites' | translate" [nzRenderItem]="inviteTemplate" nzSize="small">
                        <ng-template #inviteTemplate let-invite>
                          <nz-list-item [nzContent]="inviteContent">
                            <ng-template #inviteContent>
                              <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                                <div class="invite-url">{{('/teams/invite/' + invite.$key) | tcLink}}</div>
                                <button [clipboard]="('/teams/invite/'+invite.$key) | tcLink"
                                  [clipboardSuccessMessage]="'TEAMS.Invite_link_copied' | translate"
                                  [nzTooltipTitle]="'COMMON.Copy_to_clipboard' | translate"
                                  nz-button
                                  nz-tooltip
                                  nzShape="circle"
                                  nzSize="small">
                                  <i nz-icon nzType="copy"></i>
                                </button>
                                <div class="spacer"></div>
                                <div>{{'TEAMS.Invite_expires' | translate}}: {{invite.expires === undefined ? ('Never' |
                                  translate) : invite.expires | date:'short':null:settings.dateFormat}}
                                </div>
                                <button (click)="$event.stopPropagation()" (nzOnConfirm)="deleteInvite(invite)" [nzShape]="'circle'" [nzPopconfirmTitle]="'Confirmation' | translate"
                                  nzDanger nz-button
                                  nz-popconfirm nzSize="small">
                                  <i nz-icon nzType="delete"></i>
                                </button>
                              </div>
                            </ng-template>
                          </nz-list-item>
                        </ng-template>
                      </nz-list>
                    }
                  </div>
                  <div fxLayout="row" fxLayoutGap="5px">
                    <button (click)="createInvite(team, false)" nz-button nzType="primary">
                      <i nz-icon nzType="user-add"></i>
                      {{'TEAMS.Create_invite_one_day' | translate}}
                    </button>
                    <button (click)="createInvite(team, true)" nz-button nzType="primary">
                      <i nz-icon nzType="user-add"></i>
                      {{'TEAMS.Create_invite_infinite' | translate}}
                    </button>
                  </div>
                </div>
              }
              <nz-list [nzDataSource]="team.members" [nzRenderItem]="memberTemplate" [nzSize]="'small'">
                <ng-template #memberTemplate let-member>
                  @if (member | characterName | async; as characterName) {
                    <nz-list-item [nzContent]="content">
                      <nz-list-item-meta [nzAvatar]="avatar" [nzDescription]="(member === team.leader?'TEAMS.Leader':'TEAMS.Member') | translate"
                        [nzTitle]="characterNameTemplate">
                        <ng-template #characterNameTemplate>
                          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                            <div>{{characterName}}</div>
                            @if ((userId$ | async); as userId) {
                              <div>
                                @if (team.leader === member) {
                                  <nz-tag
                                  [nzColor]="'geekblue'">{{'TEAMS.Leader' | translate}}</nz-tag>
                                }
                                @if (!team.notFound && team.isOfficer(member)) {
                                  <nz-tag (nzOnClose)="removeOfficer(team, member)"
                                  [nzMode]="userId === team.leader?'closeable':'default'">{{'TEAMS.Officer' | translate}}</nz-tag>
                                }
                              </div>
                            }
                          </div>
                        </ng-template>
                        <ng-template #avatar>
                          <app-user-avatar [userId]="member"></app-user-avatar>
                        </ng-template>
                        <ng-template #content>
                          @if ((userId$ | async); as userId) {
                            <div fxLayout="row" fxLayoutAlign="center center">
                              @if (userId === team.leader && !team.notFound && !team.isOfficer(member) && member !== team.leader) {
                                <button (click)="addOfficer(team, member)"
                                  [nzShape]="'circle'" [nzTooltipTitle]="'TEAMS.Promote_officer' | translate"
                                  nz-button
                                  nz-tooltip
                                  nzSize="small">
                                  <i nz-icon nzType="star"></i>
                                </button>
                              }
                              @if (userId === team.leader && !team.notFound && !team.isOfficer(member) && member !== team.leader) {
                                <nz-divider
                                nzType="vertical"></nz-divider>
                              }
                              @if (userId === team.leader || userId === member) {
                                <button (nzOnConfirm)="removeMember(team, member)" [nzShape]="'circle'"
                                  [nzPopconfirmTitle]="'Confirmation' | translate" nzDanger nz-button
                                  nz-popconfirm
                                  nzSize="small">
                                  <i nz-icon nzType="delete"></i>
                                </button>
                              }
                            </div>
                          }
                        </ng-template>
                      </nz-list-item-meta>
                    </nz-list-item>
                  }
                </ng-template>
              </nz-list>
            </nz-collapse-panel>
          </nz-collapse>
        }
        @if (teams.length === 0) {
          <app-fullpage-message height="300px">
            {{'TEAMS.No_teams' | translate}}
          </app-fullpage-message>
        }
      </div>
    }
  </div>
}
