<app-page-loader *ngIf="loading$ | async; else mainTemplate"></app-page-loader>
<ng-template #mainTemplate>
  <div fxLayout="column" fxLayoutGap="10px">
    <div class="toolbar" fxLayout="row wrap" fxLayoutGap="5px">
      <button nz-button nzShape="circle" nzType="primary" nz-tooltip [nzTitle]="'TEAMS.Create_team' | translate"
              (click)="createTeam()">
        <i nz-icon nzType="usergroup-add"></i>
      </button>
    </div>
    <div class="teams" *ngIf="myTeams$ | async as teams" fxLayout="column" fxLayoutGap="10px">
      <nz-collapse *ngFor="let team of teams; trackBy: trackByTeam">
        <nz-collapse-panel [nzHeader]="header" [nzActive]="team.$key === params.state">
          <ng-template #header>
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" class="team-header">
              <div>{{team.name}}</div>
              <button nz-button nzShape="circle" nzSize="small" (click)="$event.stopPropagation();renameTeam(team)"
                      *ngIf="team.leader === (userId$ | async)">
                <i nz-icon nzType="edit"></i>
              </button>
              <div class="spacer"></div>
              <button (click)="$event.stopPropagation()" nz-button [nzShape]="'circle'" [nzType]="'danger'"
                      nz-popconfirm
                      *ngIf="team.leader === (userId$ | async)"
                      [nzTitle]="'TEAMS.Delete_confirmation' | translate" (nzOnConfirm)="deleteTeam(team)">
                <i nz-icon nzType="delete"></i>
              </button>
            </div>
          </ng-template>
          <div *ngIf="(userId$ | async) === team.leader" fxLayout="column" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutGap="10px" class="team-settings">
              <button *ngIf="team.webhook" nz-button nzType="danger"
                      nz-popconfirm (nzOnConfirm)="clearHook(team)">
                {{'TEAMS.Disable_discord_updates' | translate}}
              </button>
              <button *ngIf="team.webhook === undefined" (click)="discordOauth(team)" nz-button nzType="primary">
                {{'TEAMS.Enable_discord_updates' | translate }}
              </button>
              <span>{{'COMMON.Language' | translate }}:</span>
              <nz-select [(ngModel)]="team.language" (ngModelChange)="updateTeam(team)">
                <nz-option [nzLabel]="'en'" [nzValue]="'en'"></nz-option>
                <nz-option [nzLabel]="'fr'" [nzValue]="'fr'"></nz-option>
                <nz-option [nzLabel]="'de'" [nzValue]="'de'"></nz-option>
                <nz-option [nzLabel]="'ja'" [nzValue]="'ja'"></nz-option>
                <nz-option [nzLabel]="'pt'" [nzValue]="'pt'"></nz-option>
                <nz-option [nzLabel]="'br'" [nzValue]="'es'"></nz-option>
                <nz-option [nzLabel]="'es'" [nzValue]="'es'"></nz-option>
                <nz-option [nzLabel]="'ko'" [nzValue]="'ko'"></nz-option>
                <nz-option [nzLabel]="'zh'" [nzValue]="'zh'"></nz-option>
              </nz-select>
            </div>
            <div *ngIf="team.webhook !== undefined" fxLayout="column">
              <h3>{{'TEAMS.Webhook_configuration' | translate}}</h3>
              <div nz-row>
                <div nz-col [nzMd]="12" [nzSm]="24"
                     *ngFor="let row of team.webhookSettings; trackBy: trackByPermission">
                  <label nz-checkbox
                         [(ngModel)]="row.value"
                         (ngModelChange)="updateTeam(team)">{{('TEAMS.PERMISSIONS.' + row.name) | translate}}</label>
                </div>
              </div>
            </div>
            <nz-alert nzType="error" *ngIf="errorCode$.value as errorCode"
                      nzMessage="{{'TEAMS.Webhook_error' | translate}} {{errorCode}}" nzShowIcon></nz-alert>
            <div fxLayout="row" fxLayoutGap="5px">
              <nz-list *ngIf="getInvites(team) | async as invites" [nzRenderItem]="inviteTemplate"
                       [nzDataSource]="invites" nzSize="small" [nzHeader]="'TEAMS.Invites' | translate">
                <ng-template #inviteTemplate let-invite>
                  <nz-list-item [nzContent]="inviteContent">
                    <ng-template #inviteContent>
                      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" fxFlex="1 1 auto">
                        <div class="invite-url">{{('/teams/invite/' + invite.$key) | tcLink}}</div>
                        <button nz-button nzShape="circle" nzSize="small" nz-tooltip ngxClipboard
                                [cbContent]="('/teams/invite/'+invite.$key) | tcLink"
                                (cbOnSuccess)="success('TEAMS.Invite_link_copied')"
                                [nzTitle]="'COMMON.Copy_to_clipboard' | translate">
                          <i nz-icon nzType="copy"></i>
                        </button>
                        <div class="spacer"></div>
                        <div>{{'TEAMS.Invite_expires' | translate}}: {{invite.expires === undefined ? ('Never' |
                          translate) : invite.expires | date:'short'}}
                        </div>
                        <button (click)="$event.stopPropagation()" nz-button [nzShape]="'circle'" [nzType]="'danger'"
                                nz-popconfirm nzSize="small"
                                [nzTitle]="'Confirmation' | translate" (nzOnConfirm)="deleteInvite(invite)">
                          <i nz-icon nzType="delete"></i>
                        </button>
                      </div>
                    </ng-template>
                  </nz-list-item>
                </ng-template>
              </nz-list>
            </div>
            <div fxLayout="row" fxLayoutGap="5px">
              <button nz-button nzType="primary" (click)="createInvite(team, false)">
                <i nz-icon nzType="user-add"></i>
                {{'TEAMS.Create_invite_one_day' | translate}}
              </button>
              <button nz-button nzType="primary" (click)="createInvite(team, true)">
                <i nz-icon nzType="user-add"></i>
                {{'TEAMS.Create_invite_infinite' | translate}}
              </button>
            </div>
          </div>
          <nz-list [nzRenderItem]="memberTemplate" [nzDataSource]="team.members" [nzSize]="'small'">
            <ng-template #memberTemplate let-member>
              <nz-list-item [nzContent]="content" *ngIf="member | characterName | async as characterName">
                <nz-list-item-meta [nzAvatar]="avatar" [nzTitle]="characterNameTemplate"
                                   [nzDescription]="(member === team.leader?'TEAMS.Leader':'TEAMS.Member') | translate">
                  <ng-template #characterNameTemplate>
                    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
                      <div>{{characterName}}</div>
                      <div *ngIf="(userId$ | async) as userId">
                        <nz-tag *ngIf="team.leader === member"
                                [nzColor]="'geekblue'">{{'TEAMS.Leader' | translate}}</nz-tag>
                        <nz-tag [nzMode]="userId === team.leader?'closeable':'default'"
                                *ngIf="!team.notFound && team.isOfficer(member)"
                                (nzOnClose)="removeOfficer(team, member)">{{'TEAMS.Officer' | translate}}</nz-tag>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #avatar>
                    <app-user-avatar [userId]="member"></app-user-avatar>
                  </ng-template>
                  <ng-template #content>
                    <ng-container *ngIf="(userId$ | async) as userId">
                      <div fxLayout="row" fxLayoutAlign="center center">
                        <button nz-button [nzShape]="'circle'"
                                nz-tooltip nzSize="small"
                                *ngIf="userId === team.leader && !team.notFound && !team.isOfficer(member) && member !== team.leader"
                                [nzTitle]="'TEAMS.Promote_officer' | translate"
                                (click)="addOfficer(team, member)">
                          <i nz-icon nzType="star"></i>
                        </button>
                        <nz-divider nzType="vertical"
                                    *ngIf="userId === team.leader && !team.notFound && !team.isOfficer(member) && member !== team.leader"></nz-divider>
                        <button nz-button [nzShape]="'circle'" [nzType]="'danger'"
                                nz-popconfirm nzSize="small" *ngIf="userId === team.leader || userId === member"
                                [nzTitle]="'Confirmation' | translate"
                                (nzOnConfirm)="removeMember(team, member)">
                          <i nz-icon nzType="delete"></i>
                        </button>
                      </div>
                    </ng-container>
                  </ng-template>
                </nz-list-item-meta>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </nz-collapse-panel>
      </nz-collapse>
      <app-fullpage-message *ngIf="teams.length === 0" height="300px">
        {{'TEAMS.No_teams' | translate}}
      </app-fullpage-message>
    </div>
  </div>
</ng-template>
