<h1>{{"HOME_PAGE.title" | translate}}</h1>

<h3 class="list-count">{{(list_count | async)?.$value}} {{"HOME_PAGE.count" | translate}}</h3>

<p>{{"HOME_PAGE.p1" | translate}}</p>

<p>{{"HOME_PAGE.p2" | translate}}</p>

<p>{{"HOME_PAGE.p3" | translate}}</p>

<a href="https://www.patreon.com/bePatron?u=702160" md-raised-button class="patreon"> <img
    src="https://c5.patreon.com/external/logo/downloads_logomark_color_on_coral.png" alt="patreon logo"
    class="patreon-logo">{{"HOME_PAGE.support_patreon" | translate}}</a>

<h2>{{"HOME_PAGE.features" | translate}}</h2>

<md-expansion-panel class="accent">
    <md-expansion-panel-header>
        <md-panel-title>{{"HOME_PAGE.FEATURES.list_creation_title" | translate}}</md-panel-title>
        <md-panel-description>
            {{"HOME_PAGE.FEATURES.list_creation_content" | translate}}
        </md-panel-description>
    </md-expansion-panel-header>
    <img src="/assets/tutorial/add_recipe.gif" alt="add recipe gif">
</md-expansion-panel>

<md-expansion-panel class="accent">
    <md-expansion-panel-header>
        <md-panel-title>{{"HOME_PAGE.FEATURES.realtime_translations_title" | translate}}</md-panel-title>
        <md-panel-description>
            {{"HOME_PAGE.FEATURES.realtime_translations_content" | translate}}
        </md-panel-description>
    </md-expansion-panel-header>
    <img src="/assets/tutorial/realtime_translations.gif" alt="realtime translations gif">
</md-expansion-panel>

<md-expansion-panel class="accent">
    <md-expansion-panel-header>
        <md-panel-title>{{"HOME_PAGE.FEATURES.item_details_title" | translate}}</md-panel-title>
        <md-panel-description>
            {{"HOME_PAGE.FEATURES.item_details_content" | translate}}
        </md-panel-description>
    </md-expansion-panel-header>
    <img src="/assets/tutorial/item_details.gif" alt="item details gif">
</md-expansion-panel>

<md-expansion-panel class="accent">
    <md-expansion-panel-header>
        <md-panel-title>{{"HOME_PAGE.FEATURES.node_timers_title" | translate}}</md-panel-title>
        <md-panel-description>
            {{"HOME_PAGE.FEATURES.node_timers_content" | translate}}
        </md-panel-description>
    </md-expansion-panel-header>
    <img src="/assets/tutorial/node_timers.gif" alt="node timers gif">
</md-expansion-panel>

<md-expansion-panel class="accent">
    <md-expansion-panel-header>
        <md-panel-title>{{"HOME_PAGE.FEATURES.area_breakdown_title" | translate}}</md-panel-title>
        <md-panel-description>
            {{"HOME_PAGE.FEATURES.area_breakdown_content" | translate}}
        </md-panel-description>
    </md-expansion-panel-header>
    <img src="/assets/tutorial/area_breakdown.gif" alt="area breakdown gif">
</md-expansion-panel>

<md-expansion-panel class="accent">
    <md-expansion-panel-header>
        <md-panel-title>{{"HOME_PAGE.FEATURES.search_filters_title" | translate}}</md-panel-title>
        <md-panel-description>
            {{"HOME_PAGE.FEATURES.search_filters_content" | translate}}
        </md-panel-description>
    </md-expansion-panel-header>
    <img src="/assets/tutorial/search_filters.gif" alt="search filters gif">
</md-expansion-panel>

<md-expansion-panel class="accent">
    <md-expansion-panel-header>
        <md-panel-title>{{"HOME_PAGE.FEATURES.bulk_import_title" | translate}}</md-panel-title>
        <md-panel-description>
            {{"HOME_PAGE.FEATURES.bulk_import_content" | translate}}
        </md-panel-description>
    </md-expansion-panel-header>
    <img src="/assets/tutorial/bulk_import.gif" alt="bulk import gif">
</md-expansion-panel>

<h3>{{"HOME_PAGE.support_title" | translate}}</h3>

<p>{{"HOME_PAGE.support_content_discord" | translate}}</p>

<a md-raised-button href="https://discord.gg/r6qxt6P" target="_blank" color="accent">Discord</a>

<p>{{"HOME_PAGE.changelog" | translate}}</p>

<a md-raised-button href="https://github.com/Supamiu/ffxiv-teamcraft/blob/master/CHANGELOG.md" target="_blank" color="accent">Changelog</a>

<p>{{"HOME_PAGE.support_comtent_facebook" | translate}}</p>

<a md-raised-button href="https://facebook.com/FFXIVTeamcraft" target="_blank" color="accent">Facebook</a>

<h3>{{"HOME_PAGE.contribute_title" | translate}}</h3>

<p>{{"HOME_PAGE.contribute_content" | translate}}</p>

<a md-raised-button href="https://github.com/supamiu/ffxiv-teamcraft" target="_blank" color="accent">Github</a>
