<h2 mat-dialog-title>{{"LIST_DETAILS.Tags_popup" | translate}}</h2>
<div mat-dialog-content>
    <mat-selection-list (selectionChange)="setTag($event.option.value, $event.option.selected)">
        <mat-list-option [selected]="isChecked(tag)"
                         *ngFor="let tag of possibleTags"
                         [value]="tag">{{"LIST_TAGS."+tag |
            translate}}
        </mat-list-option>
    </mat-selection-list>
</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="tags" color="primary">{{"Ok" | translate}}</button>
    <button mat-raised-button color="warn" mat-dialog-close>{{"Cancel" | translate}}</button>
</div>
