<mat-list-item [ngClass]="{'primary-background': spawned, 'accent-background': !spawned && alerted}">
    <img mat-list-avatar src="{{alarm.icon | icon}}" alt="">
    <b mat-line>{{alarm.itemId | itemName | i18n}} <span *ngIf="alarm.slot">({{alarm.slot}})</span> </b>
    <p mat-line>{{timer}}</p>
    <button mat-icon-button (click)="openMap()"
            matTooltipPosition="above"
            matTooltip="{{alarm.zoneId | placeName | i18n}}">
        <mat-icon>my_location</mat-icon>
    </button>
</mat-list-item>
