.filter {
    display: flex;
    .mat-form-field {
        width: 100%;
    }
}

.search {
    width: 100%;
    mat-input-container {
        width: 100%;
    }
}

.loader-container {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.paginator {
    margin-top: 30px;
}
