<h2>{{'Public_lists' | translate}}</h2>

<div class="search">
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" placeholder="{{'List_name' | translate}}" #nameFilter [(ngModel)]="nameFilterValue">
    </mat-form-field>
</div>
<div class="filter">
    <mat-form-field>
        <mat-select (selectionChange)="tagFilter.next($event.value)"
                    multiple="true" #tagFilterSelect
                    placeholder="{{'Tag_filter' | translate}}">
            <mat-option *ngFor="let tag of tags" value="{{tag}}">{{"LIST_TAGS."+tag | translate}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-icon-button (click)="tagFilterSelect.value = []; tagFilter.next([])">
        <mat-icon>refresh</mat-icon>
    </button>
</div>

<div class="loader-container" *ngIf="(lists | async) === null">
    <mat-spinner></mat-spinner>
</div>

<app-list-panel *ngFor="let list of lists | async;trackBy: trackByListsFn;let i = index" [list]="list"
                [authorUid]="list.authorId"
                [readonly]="true"
                [buttons]="false" (opened)="opened(list.$key)" (closed)="closed(list.$key)"
                [expanded]="expanded.indexOf(list.$key) > -1" [copyButton]="true" [odd]="i%2>0">
</app-list-panel>

<mat-paginator [length]="publicListsLength"
               [pageSize]="pageSize"
               [pageSizeOptions]="[10, 25, 50, 100]"
               (page)="paginator.next($event)"
               class="paginator"
               #paginatorRef>
</mat-paginator>
