@import "../../../theme";

.row {
    .spacer {
        flex: 1 1 auto;
    }
    .buttons {
        margin-right: 10px;
    }
    .mat-expansion-panel {
        background: inherit;
        color: inherit;
    }
    .mat-list .mat-list-item {
        color: inherit;
    }
}
