<form (submit)="createNewList()" #f="ngForm">
    <md-input-container>
        <input mdInput type="text" name="listname" placeholder="{{'List_name' | translate}}"
               [formControl]="newListFormControl" required>
        <md-error
            *ngIf="newListFormControl.hasError('required')">
            {{'Please_enter_a_name' | translate}}
        </md-error>
    </md-input-container>
    <button type="submit" md-raised-button color="accent">{{'Add_a_list' | translate}}</button>
</form>
<h3 class="mat-h3">{{'Lists' | translate}}</h3>

<div class="row" *ngFor="let list of lists | async">
    <md-expansion-panel [expanded]="true">
        <md-expansion-panel-header>
            {{list.name}} - {{list.recipes===undefined?0:list.recipes.length}} <span style="margin-left: 4px;">{{'items' | translate}}</span>
            <div class="spacer"></div>
            <div class="buttons">
                <button md-icon-button routerLink="/list/{{user.uid}}/{{list.$key}}">
                    <md-icon>open_in_new</md-icon>
                </button>
                <button md-icon-button (click)="delete(list.$key)">
                    <md-icon>delete</md-icon>
                </button>
            </div>
        </md-expansion-panel-header>
        <md-list>
            <app-recipe *ngFor="let recipe of list.recipes"
                        [recipe]="recipe"
                        (ondelete)="removeRecipe(recipe, list, list.$key)"
                        (onedit)="updateAmount(recipe, list, list.$key, $event)">
            </app-recipe>
        </md-list>
    </md-expansion-panel>
</div>
