<form (submit)="createNewList()" #f="ngForm">
    <md-input-container>
        <input mdInput type="text" name="listname" placeholder="{{'List_name' | translate}}"
               [formControl]="newListFormControl" required>
        <md-error
            *ngIf="newListFormControl.hasError('required')">
            {{'Please_enter_a_name' | translate}}
        </md-error>
    </md-input-container>
    <button type="submit" md-raised-button color="accent">{{'Add_a_list' | translate}}</button>
</form>
<h3 class="mat-h3">{{'Lists' | translate}}</h3>

<div class="row" *ngFor="let list of lists | async">
    <app-list-row [list]="list"
                  [expanded]="expanded.indexOf(list.$key) > -1"
                  (opened)="expanded.push(list.$key)"
                  (closed)="closed(list.$key)"
                  (onrecipedelete)="removeRecipe($event.recipe, list, list.$key)"
                  (onedit)="updateAmount($event.recipe, list, list.$key, $event.amount)"
                  (ondelete)="delete(list.$key)"
                  [authorUid]="user.uid"></app-list-row>
</div>
