defaults: &defaults
  working_directory: ~/ffxiv-teamcraft
  docker:
    - image: circleci/node:14.16.0-stretch-browsers-legacy


version: 2.1
orbs:
  win: circleci/windows@2.2.0
jobs:
  setup:
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - run:
          name: Show current branch
          command: echo ${CIRCLE_BRANCH}
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install local dependencies
          command: yarn install --immutable
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - persist_to_workspace:
          root: ~/
          paths:
            - ffxiv-teamcraft/*
            - .cache/*


  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Lint code and JSON
          command: yarn run lint


  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Testing
          command: yarn run test
      - run:
          name: Codecov upload
          command: yarn run codecov


  build:
    <<: *defaults
    resource_class: large
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Building
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
                yarn run build:prod
            else
                yarn run build:beta
            fi
          no_output_timeout: 30m
      - persist_to_workspace:
          root: ~/
          paths:
            - ffxiv-teamcraft/dist/*
            - .cache/*


  deploy-hosting:
    docker:
      - image: google/cloud-sdk
        auth:
          username: _json_key
          password: $GCLOUD_SERVICE_KEY
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Updating Cloud Run
          command: gcloud builds submit --tag gcr.io/ffxivteamcraft/ssr && gcloud beta run deploy --image gcr.io/ffxivteamcraft/ssr
      - run:
          name: Deploying web
          command: ./node_modules/.bin/firebase deploy -P default --only hosting --token "$FIREBASE_TOKEN"

  release-desktop:
    executor: win/default
    working_directory: ~/ffxiv-teamcraft
    steps:
      - attach_workspace:
          at: ~/
      - restore_cache:
          keys:
            - v2-deps-{ .Branch }-{ checksum "yarn.lock" }
      - run:
          name: Reinstalling dependencies for windows
          command: yarn install --immutable
      - run:
          name: Deploying desktop on github
          no_output_timeout: 30m
          command: yarn run electron:setup:publish
      - persist_to_workspace:
          root: ~/
          paths:
            - ffxiv-teamcraft/release/*


  deploy-staging:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Deploying web
          command: ./node_modules/.bin/firebase deploy -P beta --only hosting --token "$FIREBASE_TOKEN"


  deploy-cdn:
    <<: *defaults
    steps:
      - add_ssh_keys:
          fingerprints:
            - "96:02:36:2b:33:81:70:ce:37:3d:f8:9b:e5:ac:65:30"
      - attach_workspace:
          at: ~/
      - run:
          name: Deploying cdn to OVH server
          command: bash tools/cdn/deploy.sh


workflows:
  version: 2
  flow:
    jobs:
      - setup
      - lint:
          requires:
            - setup
      - test:
          requires:
            - setup
      - build:
          requires:
            - lint
      - deploy-cdn:
          requires:
            - build
          filters:
            branches:
              only: master
      - deploy-hosting:
          requires:
            - deploy-cdn
          filters:
            branches:
              only: master
      - release-desktop:
          requires:
            - lint
          filters:
            branches:
              only: master
      - deploy-staging:
          requires:
            - build
          filters:
            branches:
              only: staging

