<div *ngIf="fishTrain$ | async as fishTrain; else loadingTpl">
  <app-fullpage-message *ngIf="fishTrain.notFound">
    {{'FISH_TRAIN.Not_found' | translate}}
  </app-fullpage-message>
  <div *ngIf="display$ | async as display">
    <nz-page-header>
      <nz-page-header-title>{{'FISH_TRAIN.Details_title' | translate:{ id: display.$key } }}</nz-page-header-title>
      <nz-page-header-subtitle>{{'FISH_TRAIN.Departure' | translate:{ time: display.start | date:'short' } }}
        , {{'FISH_TRAIN.Terminus' | translate:{ time: display.stop | date:'short' } }}</nz-page-header-subtitle>
      <nz-page-header-tags>
        <nz-tag class="custom-tag" [style.border-color]="'#f50'" *ngIf="display.stopped">{{'FISH_TRAIN.Stopped' | translate}}</nz-tag>
        <nz-tag class="custom-tag" [style.border-color]="'#108ee9'" *ngIf="display.running">{{'FISH_TRAIN.Running' | translate}}</nz-tag>
        <nz-tag *ngIf="display.waiting">{{'FISH_TRAIN.Waiting' | translate}}</nz-tag>
      </nz-page-header-tags>
      <nz-page-header-extra>
        <ng-container *ngIf="!display.stopped">
          <nz-space>
            <button nz-button nzType="primary" *ngIf="!display.currentTrain" (click)="boardTrain(display.$key)">
              {{'FISH_TRAIN.Board_train' | translate}}
            </button>
            <button nz-button nzDanger *ngIf="display.currentTrain?.$key === display.$key" (click)="leaveTrain(display.$key)">
              {{'FISH_TRAIN.Leave_train' | translate}}
            </button>
            <button nz-button nzType="primary" *ngIf="display.currentTrain && platform.isDesktop()" (click)="openFishingOverlay()">
              {{'FISH_TRAIN.Open_fishing_overlay' | translate}}
            </button>
          </nz-space>
        </ng-container>
      </nz-page-header-extra>
    </nz-page-header>
    <div nz-row [nzGutter]="[10,10]">
      <div nz-col [nzXs]="24" [nzXl]="12" [nzXXl]="6">
        <div class="details-column route">
          <h3>{{'FISH_TRAIN.Route' | translate}}</h3>
          <nz-steps nzDirection="vertical" [nzCurrent]="display.currentIndex">
            <nz-step *ngFor="let fish of display.stops;index as i;last as last;trackById"
                     [nzIcon]="iconTpl" [nzTitle]="titleTpl" [nzSubtitle]="subtitleTpl" [nzDescription]="descriptionTpl">
              <ng-template #iconTpl>
                <app-item-icon [disableClick]="true"
                               [itemId]="fish.id"
                               [width]="30"
                               [class.inactive-step-icon]="fish.id !== display.current?.id"></app-item-icon>
              </ng-template>
              <ng-template #titleTpl>
                <app-i18n-name content="items" [id]="fish.id"></app-i18n-name>
                <span *ngIf="fish.start - display.time > 0">
                  ({{'FISH_TRAIN.Departure_in' | translate: { time: ((fish.start - display.time) / 1000) | timer:true } }})
                </span>
                &nbsp;
                <button nz-button nzSize="small"
                        *ngIf="display.running && display.currentIndex <= i && fish.start - display.time < 120000"
                        nzType="primary" [clipboard]="getMacro"
                        [clipboardFnArgs]="[fish, 'Next_position_macro']"
                        nz-tooltip [nzTooltipTitle]="'FISH_TRAIN.Copy_move_macro' | translate">
                  <span nz-icon nzType="copy" nzTheme="outline"></span>
                </button>
                &nbsp;
                <nz-tag *ngIf="last" class="custom-tag" [style.border-color]="'#f50'">{{'FISH_TRAIN.Terminus_tag' | translate}}</nz-tag>
              </ng-template>
              <ng-template #subtitleTpl>
                <app-map-position flex="row wrap" [mapId]="fish.node.map"
                                  [marker]="fish.node" showMapName="true"></app-map-position>
              </ng-template>
              <ng-template #descriptionTpl>
                <app-fishing-bait [baits]="fish.node.baits" flex="row" [iconWidth]="24"></app-fishing-bait>
              </ng-template>
            </nz-step>
          </nz-steps>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzXl]="12" [nzXXl]="6" *ngIf="display.current">
        <div class="details-column">
          <h3>{{'FISH_TRAIN.Current_fish' | translate}}</h3>
          <nz-card [nzCover]="coverTpl" [nzActions]="[copyMacroTpl]">
            <nz-card-meta [nzTitle]="titleTpl" [nzAvatar]="avatarTpl" [nzDescription]="descriptionTpl">
              <ng-template #avatarTpl>
                <app-item-icon [itemId]="display.current.id" [width]="32"></app-item-icon>
              </ng-template>
              <ng-template #titleTpl>
                <app-i18n-name content="items" [id]="display.current.id"></app-i18n-name>
              </ng-template>
              <ng-template #descriptionTpl>
                {{display.current.node.map | mapName | i18n}} -
                <app-i18n-name content="places" [id]="display.current.node.zoneId"></app-i18n-name>
                - X:{{display.current.node.x}} - Y:{{display.current.node.y}}
              </ng-template>
            </nz-card-meta>
            <nz-divider></nz-divider>
            <div nz-row>
              <div nz-col [nzSpan]="24" class="current-details-block">
                <b>{{'FISH_TRAIN.Bait' | translate}}</b>
                <span class="details-content"><app-fishing-bait [baits]="display.current.node.baits" flex="row" [iconWidth]="24"></app-fishing-bait></span>
              </div>
              <div nz-col [nzSpan]="12" class="current-details-block">
                <b>{{'DB.FISH.Min_gathering' | translate}}</b><br>
                <span class="details-content">{{display.current.node.minGathering || 0}}</span>
              </div>
              <div nz-col [nzSpan]="12" class="current-details-block">
                <b>{{'DB.FISH.OVERLAY.Hookset' | translate}}</b><br>
                <span class="details-content flex-row gap-2 align-center">
                <img [src]="display.current.node.hookset | hooksetActionId | actionIcon | xivapiIcon" alt="" class="hookset-icon">
                <app-i18n-name content="actions" [id]="display.current.node.hookset | hooksetActionId"></app-i18n-name>
              </span>
              </div>
              <div nz-col [nzSpan]="12" class="current-details-block">
                <b>{{'DB.FISH.OVERLAY.Tug' | translate}}</b><br>
                <span class="details-content">
                {{('DB.FISH.TUG.' + ['Medium', 'Big', 'Light'][display.current.node.tug]) | translate}}
              </span>
              </div>
              <div nz-col [nzSpan]="12" class="current-details-block">
                <b>
                  <app-i18n-name content="statuses" [id]="761"></app-i18n-name>
                </b><br>
                <span class="details-content">
                {{(display.current.node.snagging ? 'Yes' : 'No') | translate}}
              </span>
              </div>
            </div>
          </nz-card>
          <ng-template #copyMacroTpl>
            <button nz-button nzType="primary"
                    nz-popover [nzPopoverTitle]="'FISH_TRAIN.Are_you_on_spot' | translate"
                    [nzPopoverContent]="popoverTpl"
                    [(nzPopoverVisible)]="macroPopoverShown"
                    nzPopoverTrigger="click">{{'FISH_TRAIN.Copy_macro' | translate}}</button>
            <ng-template #popoverTpl>
              <nz-space>
                <button *nzSpaceItem nz-button nzSize="small" nzType="primary"
                        (click)="macroPopoverShown = false"
                        [clipboard]="getMacro"
                        [clipboardFnArgs]="[display.current, 'Current_position_macro', true]">{{'Yes' | translate}}</button>
                <button *nzSpaceItem nz-button nzSize="small"
                        (click)="macroPopoverShown = false"
                        [clipboard]="getMacro"
                        [clipboardFnArgs]="[display.current, 'Current_position_macro']">{{'No' | translate}}</button>
              </nz-space>
            </ng-template>
          </ng-template>
          <ng-template #coverTpl>
            <app-map [mapId]="display.current.node.map"
                     [markers]="[{x: display.current.node.x, y: display.current.node.y}]"></app-map>
          </ng-template>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzXXl]="display.running ? 12 : 16">
        <div class="details-column stats">
          <h3>{{'FISH_TRAIN.Stats' | translate}}</h3>
          <nz-row>
            <nz-col [nzSpan]="6">
              <nz-statistic [nzValue]="display.passengers.length" [nzTitle]="'FISH_TRAIN.Passengers' | translate"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="6">
              <nz-statistic [nzValue]="display.gubalStats.count" [nzTitle]="'FISH_TRAIN.Total_reports' | translate"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="6">
              <nz-statistic nzSuffix="%" [nzValue]="display.accuracy" [nzTitle]="'FISH_TRAIN.Accuracy' | translate"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="6">
              <nz-statistic nzSuffix="/h" [nzValue]="display.rate" [nzTitle]="'FISH_TRAIN.Fishing_rate' | translate"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="24" *ngIf="true | ifMobile:false">
              <app-contribution-per-passenger [train]="display" [reports]="display.reports"></app-contribution-per-passenger>
            </nz-col>
          </nz-row>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingTpl>
  <app-page-loader></app-page-loader>
</ng-template>
