<div class="inventory-container" fxLayout="column" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
  <nz-switch
    (ngModelChange)="showFinalItems$.next($event)"
    [ngModel]="showFinalItems$ | async"
    [nzCheckedChildren]="checkedTemplate"
    [nzUnCheckedChildren]="unCheckedTemplate"
  ></nz-switch>
  <ng-template #checkedTemplate>{{'LIST.INVENTORY.Show_final_items' | translate}}</ng-template>
  <ng-template #unCheckedTemplate>{{'LIST.INVENTORY.Hide_final_items' | translate}}</ng-template>
  <div *ngFor="let tab of display$ | async" class="tab" fxLayout="row wrap" fxLayoutGap="5px">
    <div *ngFor="let slot of tab" [class.empty]="slot === undefined" class="slot" nz-tooltip
         [nzTooltipTitle]="slot?.id | itemName| i18n">
      <div *ngIf="slot !== undefined"
           [itemNameCopy]="slot?.id"
           [disableTooltip]="true"
           class="item-container">
        <img src="{{slot.id | lazyIcon}}">
        <span class="amount">{{slot.amount}}</span>
      </div>
    </div>
  </div>
</div>
