div {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    mat-select {
        margin: 20px 0;
    }
}

.custom-alarm {
    margin: 20px 0;
    .sound-preview {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
