<ng-container *ngIf="display$ | async as display">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <nz-select nzAllowClear
               (click)="$event.stopPropagation();"
               [nzPlaceHolder]="'INVENTORY.Filter_by_expansion' | translate"
               [(ngModel)]="selectedExpansion">
      <nz-option *ngFor="let e of getExpansions()" [nzValue]="e.exVersion" [nzLabel]="e.name | i18n"></nz-option>
    </nz-select>
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input [placeholder]="'INVENTORY.Search_for_an_item' | translate"
             #searchInput
             (input)="search$.next(searchInput.value)"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <div nz-tooltip [nzTooltipTitle]="'INVENTORY.Copy_to_clipboard' | translate">
      <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <i nz-icon nzType="copy"></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item [clipboard]="getInventoryJson" [clipboardFnArgs]="[display]" [clipboardSuccessMessage]="'INVENTORY.Copied_to_clipboard' | translate">
            JSON
          </li>
          <li nz-menu-item [clipboard]="getInventoryCsv" [clipboardFnArgs]="[display]" [clipboardSuccessMessage]="'INVENTORY.Copied_to_clipboard' | translate">
            CSV
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <button nz-button nzDanger nz-popconfirm [nzPopconfirmTitle]="'Confirmation' | translate"
            (nzOnConfirm)="deleteInventories()">{{'INVENTORY.Clean_all' | translate}}</button>
  </div>
  <div nz-row>
    <div *ngFor="let inventory of display; trackBy: trackByInventory" class="bag-container" nz-col nzMd="12" nzSm="24">
      <nz-spin [nzSpinning]="computingPrices[inventory.containerName]" *ngIf="inventory.items.length > 0">
        <nz-card [nzExtra]="extraTemplate"
                 [nzTitle]="title">
          <ng-template #title>
            <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
              <div>
                {{inventory.containerName}}
                ({{inventory.items.length}})
              </div>
              <div *ngIf="inventory.totalPrice" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <app-item-icon [icon]="1 | lazyIcon" [itemId]="1" [width]="32"></app-item-icon>
                <div>{{inventory.totalPrice | number:'1.0-0'}}</div>
              </div>
            </div>
          </ng-template>
          <ng-template #extraTemplate>
            <div fxLayout="row" fxLayoutGap="5px">
              <button [clipboard]="getClipboardContent"
                      [clipboardFnArgs]="[inventory]"
                      [clipboardSuccessMessage]="'INVENTORY.Copied_to_clipboard' | translate"
                      [nzTooltipTitle]="'INVENTORY.Copy_to_clipboard' | translate"
                      nz-button nz-tooltip
                      nzShape="circle"
                      nzSize="small">
                <i nz-icon nzType="copy"></i>
              </button>
              <button (click)="computePrices(inventory)" [disabled]="computingPrices[inventory.containerName]"
                      [nzTooltipTitle]="'INVENTORY.Estimate_total_price' | translate" nz-button
                      nz-tooltip nzShape="circle"
                      nzSize="small">
                <i nzIconfont="icon-dollar" nz-icon></i>
              </button>
              <button (nzOnConfirm)="deleteInventory(inventory)" nz-popconfirm
                      [nzPopconfirmTitle]="'Confirmation' | translate"
                      [nzTooltipTitle]="'INVENTORY.Reset_inventory' | translate" nz-button
                      nz-tooltip nzShape="circle" nzSize="small" nzDanger>
                <i nzType="delete" nz-icon></i>
              </button>
            </div>
          </ng-template>
          <div class="bag-container">
            <cdk-virtual-scroll-viewport class="bag" itemSize="65">
              <nz-list [nzItemLayout]="'horizontal'" nzSize="small">
                <nz-list-item *cdkVirtualFor="let item of inventory.items" [nzContent]="content" class="bag-item">
                  <nz-list-item-meta
                    [nzAvatar]="avatar"
                    [nzTitle]="title"
                    nzDescription="x{{item.quantity}}">
                    <ng-template #title>
                      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
                        <div>
                          {{item.itemId | itemName | i18n}}
                        </div>
                        <div>
                          <i nz-icon nzType="search" nzTheme="outline" nz-tooltip [nzTooltipTitle]="positionTooltip"></i>
                          <ng-template #positionTooltip>
                            <app-inventory-position [item]="item"></app-inventory-position>
                          </ng-template>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #avatar>
                      <app-item-icon [hq]="item.hq" [icon]="item.itemId | lazyIcon"
                                     [itemId]="item.itemId" width="32"></app-item-icon>
                    </ng-template>
                    <ng-template #content>
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
                        <div *ngIf="item.price" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                          <app-item-icon [icon]="1 | lazyIcon" [itemId]="1" [width]="32"></app-item-icon>
                          <div>{{item.price * item.quantity | number:'1.0-0'}} ({{item.price | number:'1.0-0'}} x {{item.quantity}})</div>
                        </div>
                        <app-db-button [id]="item.itemId" type="item"></app-db-button>
                      </div>
                    </ng-template>
                  </nz-list-item-meta>
                </nz-list-item>
              </nz-list>
            </cdk-virtual-scroll-viewport>
          </div>
        </nz-card>
      </nz-spin>
    </div>
  </div>
  <app-fullpage-message *ngIf="display.length === 0">
    {{'INVENTORY.Empty' | translate}}
  </app-fullpage-message>
</ng-container>

