<nz-collapse>
  <nz-collapse-panel [nzHeader]="panelHeader">
    <div (drop)="onListDrop($event.value, $event.dropIndex)" (remove)="removeList($event.value)" [removeOnSpill]="true"
         class="ngx-dnd-container lists-container"
         fxLayout="column" fxLayoutGap="5px" ngxDroppable="list">
      <div *ngFor="let list of lists; trackBy: trackByList" [model]="list" class="ngx-dnd-item list-panel"
           ngxDraggable="list">
        <app-list-panel [list]="list"></app-list-panel>
      </div>
    </div>
  </nz-collapse-panel>
  <ng-template #panelHeader>
    <div class="panel-header" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div>
        {{_workshop.name}} ({{lists.length}})
      </div>
      <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="2px" nz-col nzMd="4">
        <button (click)="$event.stopPropagation()" [clipboard]="getLink" [nzShape]="'circle'"
                [clipboardSuccessMessage]="'WORKSHOP.Share_link_copied' | translate"
                [nzTooltipTitle]="'LIST.BUTTONS.Share_description' | translate"
                nz-button nz-tooltip>
          <i nz-icon nzType="share-alt"></i>
        </button>
        <button (click)="$event.stopPropagation(); addLists()" *ngIf="(permissionLevel$ | async) >= 30" [nzShape]="'circle'"
                [nzTooltipTitle]="'WORKSHOP.Add_lists' | translate"
                [nzType]="'primary'"
                nz-button
                nz-tooltip>
          <i nz-icon nzType="plus"></i>
        </button>
        <a [nzShape]="'circle'"
                *ngIf="_workshop.listIds.length>1"
                (click)="$event.stopPropagation()"
                [nzTooltipTitle]="'LIST_AGGREGATE.Open_aggregate' | translate"
                routerLink="/list-aggregate/{{aggregatedIds}}/defaultLayout"
                [nzType]="'primary'"
                nz-button
                nz-tooltip>
          <i nz-icon nzType="folder-view"></i>
        </a>
        <button (nzOnConfirm)="deleteWorkshop()" [disabled]="(permissionLevel$ | async) < 30" [nzShape]="'circle'"
                [nzPopconfirmTitle]="'WORKSHOP.Delete_message' | translate"
                nzDanger nz-button nz-popconfirm>
          <i nz-icon nzType="delete"></i>
        </button>
        <button (click)="$event.stopPropagation()" [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" [nzShape]="'circle'"
                [nzTrigger]="'click'"
                nz-button nz-dropdown>
          <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li (click)="renameWorkshop()" [nzDisabled]="(permissionLevel$ | async) < 40" nz-menu-item>
              {{'WORKSHOP.Rename' | translate}}
            </li>
            <li (click)="openPermissionsPopup()" [nzDisabled]="(permissionLevel$ | async) < 40" nz-menu-item>
              {{'PERMISSIONS.Title' | translate}}
            </li>
            <ng-container *ngIf="(permissionLevel$ | async) >= 40">
              <ng-container *ngIf="user$ | async as user">
                <ng-container *ngIf="user.patron || user.admin">
                  <li (click)="createCustomLink(_workshop, user)" *ngIf="(customLink$ | async) === undefined; else copyLink"
                      [nzDisabled]="!user.nickname"
                      nz-menu-item>
                    {{'CUSTOM_LINKS.Add_link' | translate}}
                  </li>
                  <ng-template #copyLink>
                    <li *ngIf="customLink$ | async as link" [clipboard]="link.getUrl"
                        [clipboardSuccessMessage]="'CUSTOM_LINKS.Share_link_copied' | translate"
                        nz-menu-item>
                      {{'CUSTOM_LINKS.Copy_custom_link' | translate}}
                    </li>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ng-container>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </ng-template>
</nz-collapse>
