<nz-collapse>
  <nz-collapse-panel [nzHeader]="panelHeader">
    <div class="ngx-dnd-container lists-container" ngxDroppable="list" [removeOnSpill]="true" (remove)="removeList($event.value)"
         (drop)="onListDrop($event.value, $event.dropIndex)" fxLayout="column" fxLayoutGap="5px">
      <div class="ngx-dnd-item list-panel" *ngFor="let list of lists; trackBy: trackByList" ngxDraggable="list"
           [model]="list">
        <app-list-panel [list]="list"></app-list-panel>
      </div>
    </div>
  </nz-collapse-panel>
  <ng-template #panelHeader>
    <div class="panel-header" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div>
        {{_workshop.name}} ({{lists.length}})
      </div>
      <div nz-col nzMd="4" fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="flex-end center">
        <button nz-button (click)="$event.stopPropagation()" [nzShape]="'circle'" nz-tooltip
                [nzTitle]="'LIST.BUTTONS.Share_description' | translate"
                ngxClipboard [cbContent]="getLink()" (cbOnSuccess)="afterLinkCopy()">
          <i nz-icon nzType="share-alt"></i>
        </button>
        <button nz-button (click)="$event.stopPropagation(); addLists()" [nzShape]="'circle'" [nzType]="'primary'" nz-tooltip
                *ngIf="(permissionLevel$ | async) >= 30"
                [nzTitle]="'WORKSHOP.Add_lists' | translate">
          <i nz-icon nzType="plus"></i>
        </button>
        <button nz-button [nzType]="'danger'" [nzShape]="'circle'" [nzTitle]="'WORKSHOP.Delete_message' | translate"
                [disabled]="(permissionLevel$ | async) < 30" nz-popconfirm (nzOnConfirm)="deleteWorkshop()">
          <i nz-icon nzType="delete"></i>
        </button>
        <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
          <button nz-dropdown (click)="$event.stopPropagation()" nz-button [nzShape]="'circle'">
            <i nz-icon nzType="ellipsis"></i></button>
          <ul nz-menu>
            <li nz-menu-item [nzDisabled]="(permissionLevel$ | async) < 40" (click)="renameWorkshop()">
              {{'WORKSHOP.Rename' | translate}}
            </li>
            <li nz-menu-item [nzDisabled]="(permissionLevel$ | async) < 40" (click)="openPermissionsPopup()">
              {{'PERMISSIONS.Title' | translate}}
            </li>
            <ng-container *ngIf="(permissionLevel$ | async) >= 40">
              <ng-container *ngIf="user$ | async as user">
                <ng-container *ngIf="user.patron || user.admin">
                  <li nz-menu-item [nzDisabled]="!user.nickname"
                      (click)="createCustomLink(_workshop, user)"
                      *ngIf="(customLink$ | async) === undefined; else copyLink">
                    {{'CUSTOM_LINKS.Add_link' | translate}}
                  </li>
                  <ng-template #copyLink>
                    <li nz-menu-item *ngIf="customLink$ | async as link" ngxClipboard [cbContent]="link.getUrl()"
                        (cbOnSuccess)="afterCustomLinkCopy()">
                      {{'CUSTOM_LINKS.Copy_custom_link' | translate}}
                    </li>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ng-container>
          </ul>
        </nz-dropdown>
      </div>
    </div>
  </ng-template>
</nz-collapse>
