@if (vesselBuild$ | async; as vesselBuild) {
  @if (rank > 0) {
    <div nz-popover
      [nzPopoverTitle]="name"
      [nzPopoverContent]="vesselBuildDetails"
      >
      <div [ngClass]="conditionClass$ | async" class="condition">{{ vesselBuild?.abbreviation }} </div>
    </div>
  }
  <ng-template #vesselBuildDetails>
    <div fxLayout="column">
      <div><h4>{{ 'VOYAGE_TRACKER.BUILD_DETAILS.Title' | translate }}</h4></div>
      @for (item of fullNameParts$ | async; track item) {
        <div>{{ item }}</div>
      }
      <div>{{ 'VOYAGE_TRACKER.BUILD_DETAILS.Condition' | translate }}: {{ condition }}</div>
    </div>
    <hr>
      <div fxLayout="column">
        <div><h4>{{ 'VOYAGE_TRACKER.STATS_DETAILS.Title' | translate }}</h4></div>
        <div>{{ 'VOYAGE_TRACKER.STATS.Surveillance' | translate }}: {{ vesselBuild?.stats.surveillance }}</div>
        <div>{{ 'VOYAGE_TRACKER.STATS.Retrieval' | translate }}: {{ vesselBuild?.stats.retrieval }}</div>
        <div>{{ 'VOYAGE_TRACKER.STATS.Speed' | translate }}: {{ vesselBuild?.stats.speed }}</div>
        <div>{{ 'VOYAGE_TRACKER.STATS.Range' | translate }}: {{ vesselBuild?.stats.range }}</div>
        <div>{{ 'VOYAGE_TRACKER.STATS.Favor' | translate }}: {{ vesselBuild?.stats.favor }}</div>
      </div>
    </ng-template>
  }
