<mat-list-item [ngClass]="{'compact': settings.compactLists}">
    <div mat-list-avatar>
        <app-tooltip [id]="recipe.id">
            <a mat-list-avatar href="{{recipe.id | itemLink | i18n}}">
                <img mat-list-avatar src="{{recipe.icon | icon}}" alt="{{recipe.id | itemName | i18n}}">
            </a>
        </app-tooltip>
    </div>
    <h3 mat-line >{{recipe.id | itemName | i18n}}</h3>
    <app-amount-input class="amount"
                      [value]="recipe.amount"
                      min="1"
                      readonly="{{readonly}}"
                      (onchange)="onedit.emit($event)">
    </app-amount-input>
    <button mat-mini-fab *ngIf="!readonly" (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>
</mat-list-item>
