<div fxLayout="column">
  <div fxLayout="row" fxFlex="1 1 auto" fxLayoutAlign="center center">
    lvl {{item.gatheredBy.level}}{{item.gatheredBy.stars_tooltip}}
  </div>
  <nz-list [nzDataSource]="item.gatheredBy.nodes" [nzRenderItem]="nodeTemplate">
    <ng-template #nodeTemplate let-node>
      <nz-list-item [nzActions]="[openMap]">
        <nz-list-item-meta [nzTitle]="node.zoneid | placeName | i18n" [nzDescription]="description">
          <ng-template #description>
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutGap="5px">
                <span>{{node.areaid | placeName | i18n}} - lvl {{node.level}}</span>
                <nz-tag *ngIf="node.limitType !== undefined" nzColor="orange">
                  {{node.limitType | i18n}}
                </nz-tag>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="5px">
                <span *ngIf="node.slot !== undefined">Slot {{node.slot}}</span>
                <span *ngIf="node.time !== undefined">
                  <i *ngFor="let time of node.time">
                    {{time}}:00 - {{getDespawnTime(time, node.uptime)}}:00
                  </i>
                </span>
              </div>
              <div *ngIf="node.weathers !== undefined" fxLayout="column" fxLayoutGap="5px">
                <div *ngFor="let weather of node.weathers" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
                  <img [src]="weather | weatherIcon" alt="">
                  <div>
                    {{weather | weatherName | i18n}}
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #openMap>
            <div fxLayout="column" fxLayoutAlign="flex-end flex-end">
              <app-map-position [marker]="{x:node.coords[0], y: node.coords[1]}"
                                [zoneId]="node.zoneid" [mapId]="node.mapid"></app-map-position>
              <div
                *ngIf="node.zoneid | closestAetheryte: { x: node.coords[0], y: node.coords[1] } | async as aetheryte"
                class="closest-tp">
                <img src="./assets/icons/Aetheryte.png" alt="" class="aetheryte-icon"> {{aetheryte.nameid | placeName |
                i18n}}
              </div>
            </div>
            <ng-container *ngIf="node.baits !== undefined">
              <app-fishing-bait [baits]="node.baits"></app-fishing-bait>
            </ng-container>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
