<div fxLayout="column" fxLayoutGap="10px">
  <nz-card *ngFor="let tradeSource of tradeSources" fxFlex="1 1 auto" fxLayoutGap="5px">
    <nz-card-meta [nzTitle]="tradeSource.shopName">
    </nz-card-meta>
    <div *ngFor="let trade of tradeSource.trades" class="trades" fxLayout="column" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <div class="item-container" *ngFor="let currency of trade.currencies">
          <app-item-icon [width]="32" [icon]="currency.icon" [itemName]="currency.id | itemName | i18n"
                         [itemId]="currency.id" [hq]="currency.hq"></app-item-icon>
          <span>x{{currency.amount}}</span>
        </div>
        <i nz-icon type="arrow-right"></i>
        <div class="item-container" *ngFor="let tradeItem of trade.items">
          <app-item-icon [width]="32" [icon]="tradeItem.icon" [itemName]="tradeItem.id | itemName | i18n"
                         [itemId]="tradeItem.id" [hq]="tradeItem.hq"></app-item-icon>
          <span>x{{tradeItem.amount}}</span>
        </div>
      </div>
      <ng-container *ngIf="!fromExternalTrades">
        <div class="total-price" *ngIf="totalPrice(trade) as totalTradePrice" fxLayout="row" fxLayoutAlign="center center"
             fxLayoutGap="5px">
          <div>
            {{'LIST.Total_trade_price' | translate}}
          </div>
          <div class="item-container" *ngFor="let currency of totalTradePrice">
            <app-item-icon [width]="32" [icon]="currency.icon" [itemName]="currency.id | itemName | i18n"
                           [itemId]="currency.id" [hq]="currency.hq"></app-item-icon>
            <span>x{{currency.amount}}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <nz-list [nzRenderItem]="npcTemplate" [nzDataSource]="tradeSource.npcs">
      <ng-template #npcTemplate let-npc>
        <nz-list-item [nzContent]="npc.zoneId !== undefined?position:null">
          <nz-list-item-meta [nzTitle]="npc.id | npcName | i18n">
          </nz-list-item-meta>
          <ng-template #position>
            <div fxLayout="column" fxLayoutAlign="flex-end flex-end">
              <app-map-position [zoneId]="npc.zoneId" [marker]="npc.coords" [mapId]="npc.mapId"></app-map-position>
              <div
                *ngIf="npc.mapId | closestAetheryte: npc.coords | async as aetheryte"
                class="closest-tp">
                <img src="./assets/icons/Aetheryte.png" alt="" class="aetheryte-icon">
                {{(aetheryte.nameid || aetheryte.placenameid) | placeName | i18n}}
              </div>
            </div>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-card>
</div>
