@import "../../../../theme";

mat-slide-toggle {
    height: 40px;
}

.filter {
    display: flex;
}

.merge-button {
    margin: 10px 0;
}

.row {
    margin: 5px 0;
}

.top-section {
    display: flex;
}
