@import "../../../../theme";

mat-slide-toggle {
    height: 40px;
}

.import-external {
    margin-bottom: 10px;
}

.filter {
    display: flex;
    width: 100%;
    .mat-form-field {
        width: 100%;
    }
}

.workshop-name {
    display: inline-flex;
    align-items: center;
    button {
        margin-left: 10px;
    }
}

.merge-button {
    margin: 10px 0;
}

.odd {
    background-color: rgba(123, 123, 123, .2);
}

.row {
    margin: 5px 0;
}

.shared-lists {
    margin-top: 25px;
}

.workshop-row {
    display: flex;
    app-list-panel {
        flex-grow: 1;
        max-width: calc(100% - 40px);
    }
}

.top-section {
    display: flex;
}

.loader-container {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.full-width-button {
    margin-top: 20px;
    width: 100%;
}

.category {
    margin-top: 30px;
}

.divider {
    margin-bottom: 15px;
}
