<h3 md-dialog-title>Character informations</h3>
<div md-dialog-content>
    <form [formGroup]="form" (submit)="submit()">
        <md-input-container>
            <input mdInput placeholder="Character Name" formControlName="character" type="text" required>
            <md-error>Required</md-error>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Server Name" formControlName="server" type="text" required>
            <md-error>Required</md-error>
        </md-input-container>
        <md-error *ngIf="alreadyUsed">{{'Lodestone_already_used' | translate}}</md-error>
        <md-error *ngIf="!form.valid && !alreadyUsed">{{'Character_not_found' | translate}}</md-error>
        <button md-raised-button type="submit" [disabled]="!form.valid" color="primary">Confirm</button>
    </form>
</div>
