mat-expansion-panel {
    margin: 5px 0;
    mat-panel-title {
        flex: 0 0 200px;
        span {
            text-overflow: ellipsis;
        }
    }
}

.actions {
    margin-right: 10px;
    width: 88px;
    display: flex;
    justify-content: flex-end;
}

.price {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
