<nz-card [nzTitle]="'DB.FISH.Bite_times' | translate" [nzExtra]="baitSelector" [nzLoading]="loading$ | async">
  <ng-template #baitSelector>
    <nz-select *ngIf="baitIds$ | async as baits" [ngModel]="baitFilter$ | async" (ngModelChange)="setBaitId($event)" nzShowSearch class="bait-selector">
      <nz-option [nzValue]="-1" [nzLabel]="'DB.FISH.All_baits' | translate"></nz-option>
      <nz-option *ngFor="let bait of baits" [nzValue]="bait" [nzLabel]="bait | itemName | i18n"></nz-option>
    </nz-select>
  </ng-template>
  <div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" *ngFor="let color of colors; index as i">
        <div class="legend-box" style.background-color="rgba({{color}}, 0.3)" style.border="1px solid rgba({{color}}, 0.5)"></div>
        <div>{{'DB.FISH.TUG.' + ['Medium', 'Big', 'Light'][i] | translate}}</div>
      </div>
    </div>
    <chart type="horizontalBoxplot" *ngIf="biteTimesChartJSData$ | async as data" [data]="data" [options]="options"></chart>
  </div>
</nz-card>

