<nz-card [nzTitle]="'DB.FISH.Bite_times' | translate" [nzExtra]="baitSelector" [nzLoading]="loading$ | async">
  <ng-template #baitSelector>
    <nz-select *ngIf="baitIds$ | async as baits" [ngModel]="baitFilter$ | async" (ngModelChange)="setBaitId($event)" nzShowSearch class="bait-selector">
      <nz-option [nzValue]="-1" [nzLabel]="'DB.FISH.All_baits' | translate"></nz-option>
      <nz-option *ngFor="let bait of baits" [nzLabel]="bait | itemName | i18n"
                 [nzValue]="bait"
                 nzCustomContent>
        <div [title]="bait | itemName | i18n" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <img [src]="bait | lazyIcon" alt="" class="bait-icon">
          <div>
            {{bait | itemName | i18n}}
          </div>
        </div>
      </nz-option>
    </nz-select>
  </ng-template>
  <div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" *ngFor="let row of colors">
        <div class="legend-box" style.background-color="rgba({{row.color}}, 0.3)" style.border="1px solid rgba({{row.color}}, 0.5)"></div>
        <div>{{row.tug | tugName | translate}}</div>
      </div>
    </div>
    <ng-container  *ngIf="biteTimesChartJSData$ | async as data">
      <chart type="horizontalBoxplot" *ngIf="data.datasets.length > 0; else noData" [data]="data" [options]="options"></chart>
      <ng-template #noData>
        <nz-empty [nzNotFoundContent]="'DB.FISH.Not_enough_data_points' | translate"></nz-empty>
      </ng-template>
    </ng-container>
  </div>
</nz-card>

