<div fxLayout="row" fxLayoutAlign="space-between center">
  <h2>{{'INVENTORY_OPTIMIZER.Title' | translate}}</h2>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
    <button nz-button nzDanger nz-popconfirm [nzPopconfirmTitle]="'Confirmation' | translate"
            (nzOnConfirm)="resetInventory()">{{'INVENTORY.Clean_all' | translate}}</button>
    <nz-switch [(ngModel)]="showHidden" (ngModelChange)="reloader$.next(null)"></nz-switch>
    <div class="switch-label">{{'INVENTORY_OPTIMIZER.Show_hidden' | translate}}</div>
    <nz-switch [(ngModel)]="showIgnored" (ngModelChange)="reloader$.next(null)"></nz-switch>
    <div>{{'INVENTORY_OPTIMIZER.Show_ignored' | translate}}</div>
  </div>
</div>

<ng-container *ngIf="display$ | async as optimizations; else loader">
  <app-fullpage-message *ngIf="optimizations.length === 0">
    {{'INVENTORY_OPTIMIZER.No_optimizations' | translate}}
  </app-fullpage-message>
  <nz-spin [nzSpinning]="loading">
    <div fxLayout="column">
      <div *ngFor="let optimization of optimizations; trackBy: trackByTip">
        <nz-collapse>
          <nz-collapse-panel *ngIf="showHidden || !optimization.hidden" [nzHeader]="header">
            <ng-template #header>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>{{'INVENTORY_OPTIMIZER.' + optimization.type + '.Title' | translate}} ({{optimization.totalLength}})</div>

                <div [ngSwitch]="optimization.type">
                  <ng-container *ngSwitchCase="'HAS_TOO_FEW'">
                    <nz-input-group nzSearch nzSize="small" [nzAddOnAfter]="suffixButton" [nzAddOnBefore]="nzAddOnBefore">
                      <input type="number" nz-input min="1" [ngModel]="stackSizeThreshold" #stackSizeInput
                             (click)="$event.stopPropagation()"/>
                    </nz-input-group>
                    <ng-template #suffixButton>
                      <button nz-button
                              (click)="$event.stopPropagation(); stackSizeThreshold = +stackSizeInput.value"
                              nzType="primary"
                              nzSize="small"
                              nzSearch>{{'COMMON.Apply' | translate}}</button>
                    </ng-template>
                    <ng-template #nzAddOnBefore>
                      {{'INVENTORY_OPTIMIZER.HAS_TOO_FEW.Threshold_amount' | translate}}
                    </ng-template>
                  </ng-container>
                  <ng-container *ngSwitchCase="'CONSOLIDATE_STACKS'">
                    <span>{{'INVENTORY_OPTIMIZER.CONSOLIDATE_STACKS.Filter' | translate}}</span>
                    <nz-select nzAllowClear
                               nzSize="small"
                               (click)="$event.stopPropagation();"
                               [nzPlaceHolder]="'INVENTORY_OPTIMIZER.CONSOLIDATE_STACKS.Placeholder' | translate"
                               [(ngModel)]="selectedExpansion">
                      <nz-option *ngFor="let e of getExpansions()" [nzValue]="e.exVersion" [nzLabel]="e.name | i18n"></nz-option>
                    </nz-select>
                  </ng-container>
                  <ng-container *ngSwitchCase="'UNWANTED_MATERIALS'">
                    <nz-input-group nzSearch nzSize="small" [nzAddOnAfter]="suffixButton" [nzAddOnBefore]="nzAddOnBefore">
                      <input type="number" nz-input min="1" [ngModel]="minRecipeIlvl" #recipeIlvlInput
                             (click)="$event.stopPropagation()"/>
                    </nz-input-group>
                    <ng-template #suffixButton>
                      <button nz-button
                              (click)="$event.stopPropagation(); minRecipeIlvl = +recipeIlvlInput.value"
                              nzType="primary"
                              nzSize="small"
                              nzSearch>{{'COMMON.Apply' | translate}}</button>
                    </ng-template>
                    <ng-template #nzAddOnBefore>
                      {{'INVENTORY_OPTIMIZER.UNWANTED_MATERIALS.Recipe_ilvl' | translate}}
                    </ng-template>
                  </ng-container>
                  <ng-container *ngSwitchCase="'CAN_BE_BOUGHT'">
                    <nz-input-group nzSearch nzSize="small" [nzAddOnAfter]="suffixButton" [nzAddOnBefore]="maxPriceBefore">
                      <input type="number" nz-input min="1" [ngModel]="maximumVendorPrice" #maximumPriceInput
                             (click)="$event.stopPropagation()"/>
                    </nz-input-group>
                    <ng-template #suffixButton>
                      <button nz-button
                              (click)="$event.stopPropagation(); maximumVendorPrice = +maximumPriceInput.value"
                              nzType="primary"
                              nzSize="small"
                              nzSearch>{{'COMMON.Apply' | translate}}</button>
                    </ng-template>
                    <ng-template #maxPriceBefore>
                      {{'INVENTORY_OPTIMIZER.CAN_BE_BOUGHT.Max_price' | translate}}
                    </ng-template>
                  </ng-container>
                  <div class="optimizer-hide-button" fxFlex="0">
                    <button nz-button
                            *ngIf="!optimization.hidden; else removeHidden"
                            (click)="$event.stopPropagation();setHideOptimizer(optimization.type, true)"
                            nzShape="circle" nz-tooltip [nzTooltipTitle]="'INVENTORY_OPTIMIZER.Hide_optimizer' | translate"
                            nzDanger>
                      <i nz-icon nzType="eye-invisible"></i>
                    </button>
                    <ng-template #removeHidden>
                      <button nz-button
                              (click)="$event.stopPropagation();setHideOptimizer(optimization.type, false)"
                              nzShape="circle" nz-tooltip [nzTooltipTitle]="'INVENTORY_OPTIMIZER.Unhide_optimizer' | translate"
                              nzType="primary">
                        <i nz-icon nzType="eye"></i>
                      </button>
                    </ng-template>
                  </div>
                </div>
              </div>
            </ng-template>
            <nz-collapse>
              <ng-container *ngFor="let container of optimization.entries; trackBy: trackByEntry">
                <nz-collapse-panel
                  *ngIf="showIgnored || !container.ignored"
                  #panel
                  [nzHeader]="containerHeader">
                  <ng-template #containerHeader>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                      <div>{{container.isRetainer ? container.containerName : ('INVENTORY.BAG.' + container.containerName) | translate}}
                        ({{container.totalLength}})
                      </div>
                      <div>
                        <button nz-button
                                *ngIf="!container.ignored; else removeIgnore"
                                (click)="$event.stopPropagation();setIgnoreContainer(container.containerName, optimization.type, true)"
                                nzShape="circle" nz-tooltip [nzTooltipTitle]="'INVENTORY_OPTIMIZER.Ignore_container' | translate"
                                nzDanger>
                          <i nz-icon nzType="eye-invisible"></i>
                        </button>
                        <ng-template #removeIgnore>
                          <button nz-button
                                  (click)="$event.stopPropagation();setIgnoreContainer(container.containerName, optimization.type, false)"
                                  nzShape="circle" nz-tooltip nzType="primary"
                                  [nzTooltipTitle]="'INVENTORY_OPTIMIZER.Remove_ignore_container' | translate">
                            <i nz-icon nzType="eye"></i>
                          </button>
                        </ng-template>
                      </div>
                    </div>
                  </ng-template>
                  <ng-container *ngIf="panel.nzActive">
                    <nz-list [nzItemLayout]="'horizontal'">
                      <app-lazy-scroll rowSize="73" [rowTemplate]="rowTemplate" [displayedRows]="6" [data]="container.items">
                        <ng-template #rowTemplate let-entry>
                          <nz-list-item [nzActions]="(showIgnored && entry.ignored)?[removeIgnore]:[ignore]"
                                        *ngIf="showIgnored || !entry.ignored">
                            <ng-template #ignore>
                              <button nz-button
                                      (click)="setIgnoreItemOptimization(entry.item.itemId, optimization.type, true)"
                                      nzShape="circle" nz-tooltip [nzTooltipTitle]="'INVENTORY_OPTIMIZER.Ignore_item' | translate"
                                      nzDanger>
                                <i nz-icon nzType="eye-invisible"></i>
                              </button>
                            </ng-template>
                            <ng-template #removeIgnore>
                              <button nz-button
                                      (click)="setIgnoreItemOptimization(entry.item.itemId, optimization.type, false)"
                                      nzShape="circle" nz-tooltip nzType="primary"
                                      [nzTooltipTitle]="'INVENTORY_OPTIMIZER.Remove_ignore_item' | translate">
                                <i nz-icon nzType="eye"></i>
                              </button>
                            </ng-template>
                            <nz-list-item-meta
                              [nzTitle]="nzTitle"
                              [nzAvatar]="avatar"
                              [nzDescription]="('INVENTORY_OPTIMIZER.' + optimization.type + '.Message' | translate: entry.messageParams)"
                            >
                              <ng-template #avatar>
                                <app-item-icon
                                  [hq]="entry.item.hq"
                                  [icon]="entry.item.itemId | lazyIcon"
                                  [itemId]="entry.item.itemId"
                                  width="32"></app-item-icon>
                              </ng-template>
                              <ng-template #nzTitle>
                                <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                                  <div nz-tooltip
                                       [itemNameCopy]="entry.item.itemId"
                                       forceCopyMode="isearch"
                                       class="item-name">{{entry.item.itemId | itemName | i18n}} x{{entry.item.quantity}}</div>
                                  <div *ngIf="entry.item.hq">{{'Hq' | translate}}</div>
                                  <div>
                                    <i nz-icon nzType="search" nzTheme="outline" nz-tooltip [nzTooltipTitle]="positionTooltip"></i>
                                    <ng-template #positionTooltip>
                                      <app-inventory-position [item]="entry.item"></app-inventory-position>
                                    </ng-template>
                                  </div>
                                </div>
                              </ng-template>
                            </nz-list-item-meta>
                          </nz-list-item>
                        </ng-template>
                      </app-lazy-scroll>
                    </nz-list>
                  </ng-container>
                </nz-collapse-panel>
              </ng-container>
            </nz-collapse>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
  </nz-spin>
</ng-container>

<ng-template #loader>
  <app-page-loader></app-page-loader>
</ng-template>
