<div fxLayout="row" fxLayoutAlign="space-between center">
  <h2>{{'INVENTORY_OPTIMIZER.Title' | translate}}</h2>
  <div fxLayout="row" fxLayoutGap="5px">
    <nz-switch [(ngModel)]="showIgnored" (ngModelChange)="reloader$.next(null)"></nz-switch>
    <div>{{'INVENTORY_OPTIMIZER.Show_ignored' | translate}}</div>
  </div>
</div>

<ng-container *ngIf="display$ | async as optimizations; else loader">
  <app-fullpage-message *ngIf="optimizations.length === 0">
    {{'INVENTORY_OPTIMIZER.No_optimizations' | translate}}
  </app-fullpage-message>
  <nz-spin [nzSpinning]="loading">
    <div fxLayout="column" fxLayoutGap="10px">
      <nz-collapse *ngFor="let optimization of optimizations; trackBy: trackByTip">
        <nz-collapse-panel [nzHeader]="header" [nzExtra]="optimization.type === 'HAS_TOO_FEW' ? extraTooFewTpl : null">
          <ng-template #header>
            {{'INVENTORY_OPTIMIZER.' + optimization.type + '.Title' | translate}} ({{optimization.totalLength}})
          </ng-template>
          <ng-template #extraTooFewTpl>
            <nz-input-group nzSearch nzSize="small" [nzAddOnAfter]="suffixButton" [nzAddOnBefore]="nzAddOnBefore">
              <input type="number" nz-input min="1" [ngModel]="stackSizeThreshold" #stackSizeInput
                     (click)="$event.stopPropagation()"/>
            </nz-input-group>
            <ng-template #suffixButton>
              <button nz-button
                      (click)="$event.stopPropagation(); stackSizeThreshold = +stackSizeInput.value"
                      nzType="primary"
                      nzSize="small"
                      nzSearch>{{'COMMON.Apply' | translate}}</button>
            </ng-template>
            <ng-template #nzAddOnBefore>
              {{'INVENTORY_OPTIMIZER.HAS_TOO_FEW.Threshold_amount' | translate}}
            </ng-template>
          </ng-template>
          <nz-collapse>
            <ng-container *ngFor="let container of optimization.entries; trackBy: trackByEntry">
              <nz-collapse-panel
                *ngIf="showIgnored || !container.ignored"
                #panel
                [nzHeader]="containerHeader">
                <ng-template #containerHeader>
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>{{container.isRetainer ? container.containerName : ('INVENTORY.BAG.' + container.containerName) | translate}}
                      ({{container.totalLength}})
                    </div>
                    <div>
                      <button nz-button
                              *ngIf="!container.ignored; else removeIgnore"
                              (click)="$event.stopPropagation();setIgnoreContainer(container.containerName, optimization.type, true)"
                              nzShape="circle" nz-tooltip [nzTitle]="'INVENTORY_OPTIMIZER.Ignore_container' | translate"
                              nzType="danger">
                        <i nz-icon nzType="eye-invisible"></i>
                      </button>
                      <ng-template #removeIgnore>
                        <button nz-button
                                (click)="$event.stopPropagation();setIgnoreContainer(container.containerName, optimization.type, false)"
                                nzShape="circle" nz-tooltip nzType="primary"
                                [nzTitle]="'INVENTORY_OPTIMIZER.Remove_ignore_container' | translate">
                          <i nz-icon nzType="eye"></i>
                        </button>
                      </ng-template>
                    </div>
                  </div>
                </ng-template>
                <ng-container *ngIf="panel.nzActive">
                  <nz-list [nzDataSource]="container.items" [nzRenderItem]="entry" [nzItemLayout]="'horizontal'">
                    <ng-template #entry let-entry>
                      <nz-list-item [nzActions]="(showIgnored && entry.ignored)?[removeIgnore]:[ignore]"
                                    *ngIf="showIgnored || !entry.ignored">
                        <ng-template #ignore>
                          <button nz-button
                                  (click)="setIgnoreItemOptimization(entry.item.itemId, optimization.type, true)"
                                  nzShape="circle" nz-tooltip [nzTitle]="'INVENTORY_OPTIMIZER.Ignore_item' | translate"
                                  nzType="danger">
                            <i nz-icon nzType="eye-invisible"></i>
                          </button>
                        </ng-template>
                        <ng-template #removeIgnore>
                          <button nz-button
                                  (click)="setIgnoreItemOptimization(entry.item.itemId, optimization.type, false)"
                                  nzShape="circle" nz-tooltip nzType="primary"
                                  [nzTitle]="'INVENTORY_OPTIMIZER.Remove_ignore_item' | translate">
                            <i nz-icon nzType="eye"></i>
                          </button>
                        </ng-template>
                        <nz-list-item-meta
                          [nzTitle]="nzTitle"
                          [nzAvatar]="avatar"
                          [nzDescription]="('INVENTORY_OPTIMIZER.' + optimization.type + '.Message' | translate: entry.messageParams)"
                        >
                          <ng-template #avatar>
                            <app-item-icon
                              [hq]="entry.item.hq"
                              [icon]="entry.item.itemId | lazyIcon"
                              [itemId]="entry.item.itemId"
                              width="32"></app-item-icon>
                          </ng-template>
                          <ng-template #nzTitle>
                      <span (cbOnSuccess)="nameCopied('Item_name_copied', {itemname: $event.content})"
                            [nzTitle]="'Copy_isearch' | translate"
                            nz-tooltip
                            cbContent="/isearch &quot;{{entry.item.itemId | itemName | i18n}}&quot;"
                            class="item-name"
                            ngxClipboard>{{entry.item.itemId | itemName | i18n}}</span> x{{entry.item.quantity}}
                            <span
                              *ngIf="entry.item.hq">{{'Hq' | translate}}</span>
                          </ng-template>
                        </nz-list-item-meta>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
                </ng-container>
              </nz-collapse-panel>
            </ng-container>
          </nz-collapse>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </nz-spin>
</ng-container>

<ng-template #loader>
  <app-page-loader></app-page-loader>
</ng-template>
