<form nz-form [formGroup]="configForm" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzRequired
                   nzFor="hqTarget">{{'SIMULATOR.SOLVER.Hq_target' | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input type="number" nz-input formControlName="hqTarget"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox formControlName="safe">
        <span>{{'SIMULATOR.Safe_mode' | translate}}</span>
      </label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [nzLoading]="loading">
        {{'SIMULATOR.Solve_rotation' | translate}}
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
