@if (list$ | async; as listDetails) {
  <div fxLayout="column" fxLayoutGap="10px">
    <nz-select [(ngModel)]="listDetails.tags" [nzPlaceHolder]="'LIST_DETAILS.Tags_popup' | translate" fxFlex="1 1 auto"
      nzMode="multiple">
      @for (tag of tags; track tag) {
        <nz-option [nzLabel]="tag.label | translate" [nzValue]="tag.value">
        </nz-option>
      }
    </nz-select>
    <div fxLayout="row" fxLayoutGap="5px">
      <button (click)="confirm(listDetails)" nz-button nzType="primary">{{'Confirm' | translate}}</button>
      <button (click)="cancel(listDetails)" nz-button>{{'Cancel' | translate}}</button>
    </div>
  </div>
} @else {
  <app-page-loader></app-page-loader>
}
