<h3 mat-dialog-title>{{'WORKSHOP.List_selection_title' | translate:{workshopName: data.workshop.name} }}</h3>
<div mat-dialog-content>
    <mat-selection-list #selectedLists>
        <mat-list-option *ngFor="let list of data.lists" checkboxPosition="before" [value]="list.$key">{{list.name}}
        </mat-list-option>
    </mat-selection-list>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" [mat-dialog-close]="selectedLists.selectedOptions.selected">{{'Confirm' |
        translate}}
    </button>
    <button mat-button color="warn" mat-dialog-close>{{'Cancel' | translate}}</button>
</div>
