<div fxLayout="column" fxLayoutGap="10px">

  @if (!updateMode) {
    <nz-form-item>
      <nz-form-control>
        <input [(ngModel)]="gearsetName" [placeholder]="'Please_enter_a_name' | translate" nz-input
          type="text">
      </nz-form-control>
    </nz-form-item>
  }

  <nz-form-control>
    <nz-select class="job-select" [nzDisabled]="!gearsetName || updateMode" [(ngModel)]="job" nzShowSearch
      [nzPlaceHolder]="'GEARSETS.Pick_a_job' | translate">
      @for (job of availableJobs; track job) {
        <nz-option [nzLabel]="job | i18nRow:'jobName' | i18n"
          [nzValue]="job" nzCustomContent>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <div class="companion-svg job-icon" [innerHtml]="job | jobUnicode"></div>
            <div>{{job | i18nRow:'jobName' | i18n}}</div>
          </div>
        </nz-option>
      }
    </nz-select>
  </nz-form-control>

  @if (job) {
    <nz-alert nzType="info" [nzMessage]="'GEARSETS.Import_from_pcap_notice' | translate"></nz-alert>
  }
</div>
