<div fxLayout="column">
  @for (tip of data.tips; track tip; let last = $last) {
    <div>
      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="24px">
        <div>
          <div>
            @switch (tip.type) {
              @case (0) {
                <i [nzTwotoneColor]="'red'" nz-icon nzTheme="twotone" nzType="exclamation-circle"></i>
              }
              @case (1) {
                <i [nzTwotoneColor]="'yellow'" nz-icon nzTheme="twotone" nzType="warning"></i>
              }
              @case (2) {
                <i nz-icon nzTheme="twotone" nzType="info-circle"></i>
              }
            }
          </div>
        </div>
        <div>{{('SIMULATOR.ROTATION_TIPS.' + tip.message) | translate: tip.messageParams(data.result)}}</div>
      </div>
      @if (!last) {
        <nz-divider></nz-divider>
      }
    </div>
  }
</div>
