<ng-container *ngIf="garlandToolsItem$ | async as gtData; else loader">
  <ng-container *ngIf="data$ | async as data">
    <div *ngIf="xivapiItem$ | async as xivapiItem" [style.padding]="'0 25px' | ifMobile: '0'"
         fxLayout="column" fxLayoutGap="10px">
      <div class="top-bar" fxFlex="1 1 auto" fxLayout="row" fxLayout.lt-md="column"
           fxLayoutAlign="flex-start flex-start" fxLayoutGap="5px" fxLayoutGap.lt-md="10px">
        <div class="top-left-block" fxFlex="1 0 300px" fxFlex.lt-md="1 1 auto" fxLayout="column"
             fxLayoutAlign="space-between" fxLayoutGap.lt-md="10px">
          <div class="icon-block" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <img [src]="xivapiItem.Icon | xivapiIcon" alt="{{xivapiItem.ID | itemName | i18n}}" class="item-icon">
            <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
              <h2 [appItemRarity]="xivapiItem.ID" class="item-name">{{xivapiItem.ID | itemName | i18n}}</h2>
              <div *ngIf="xivapiItem.ItemKind" class="item-kind">{{xivapiItem.ItemKind | xivapiL12n: 'ItemKinds' | i18n}}
                <span *ngIf="xivapiItem.ItemSearchCategory"> > {{xivapiItem.ItemSearchCategory | xivapiL12n: 'ItemSearchCategories' | i18n}}</span>
              </div>
              <div *ngIf="xivapiItem.GamePatch" class="patch">
                {{xivapiItem.GamePatch | xivapiL12n: 'patchs' | i18n}}
                <app-db-button [id]="xivapiItem.GamePatch.ID" type="patch"></app-db-button>
              </div>
            </div>
          </div>
          <div *ngIf="data.craftedBy === undefined || data.craftedBy.length === 0">
            <div *ngIf="toSearchResult(data) as searchResult" fxFlex="0 0 150px" fxLayout="row" fxLayoutGap="5px">
              <nz-input-group [nzAddOnAfter]="addButton" [nzCompact]="true" class="amount-input">
                <input #amountInput (keydown.enter)="addItemsToList(searchResult, +amountInput.value)"
                       [ngModel]="1"
                       nz-input type="number">
              </nz-input-group>
              <ng-template #addButton>
                <i (click)="addItemsToList(searchResult, +amountInput.value)" [nzTooltipTitle]="'ITEMS.Add_to_list' | translate" nz-icon nz-tooltip
                   nzType="plus"></i>
              </ng-template>
              <button (click)="createQuickList(searchResult, +amountInput.value)" [nzShape]="'circle'" [nzTooltipTitle]="'Quick_list_create' | translate"
                      fxFlex="0 0 auto"
                      nz-button nz-tooltip>
                <i nz-icon nzType="clock-circle-o"></i>
              </button>
            </div>
          </div>
          <div *ngIf="links$ | async as links" class="links" fxLayout="row" fxLayoutAlign="flex-start center"
               fxLayoutGap="5px">
            <a *ngFor="let link of links" [href]="link.url" [nzTooltipTitle]="link.title" nz-tooltip target="_blank">
              <img [alt]="link.title" [src]="link.icon" class="link-icon">
            </a>
            <button (click)="openModelViewer(xivapiItem, gtData)" *ngIf="gtData.item.models?.length > 0"
                    [nzTooltipTitle]="'DB.3d_model_help' | translate" nz-button
                    nz-tooltip
                    nzShape="circle">
              <span>3D</span>
            </button>
            <app-marketboard-icon *ngIf="!xivapiItem.IsUntradable" [itemId]="xivapiItem.ID"
                                  [showHistory]="true"
                                  [size]="'small'"></app-marketboard-icon>
          </div>
          <div *ngIf="data.canBeGathered">
            <button nz-button *ngIf="!data.isDoneInLog" (click)="markAsDoneInLog(data.id)">{{'DB.ITEM.Mark_as_done_in_gathering_log' | translate}}</button>
          </div>
          <div class="allagan-reports-button">
            <a routerLink="/allagan-reports/{{itemId$ | async}}" nz-button nzType="primary">{{'ALLAGAN_REPORTS.Add_data_sources' | translate}}</a>
          </div>
        </div>
        <div fxFlex="1 1 auto">
          <p *ngIf="xivapiItem.Description" [innerHTML]="xivapiItem | xivapiL12n: 'itemDescriptions':'Description' | i18n | xivUIText"></p>
          <audio *ngIf="xivapiItem.ItemAction?.Type === 5845" controls controlslist="nodownload">
            <source src="https://www.garlandtools.org/files/orchestrion/{{xivapiItem.ItemAction.Data0}}.ogg"
                    type="audio/ogg">
          </audio>
          <img *ngIf="xivapiItem.IsFish" [src]="xivapiItem.ingameDrawing | xivapiIcon" alt="Ingame drawing">
        </div>
        <app-i18n-display fxFlex="0 0 300px" fxFlex.lt-md="1 1 auto" fxLayout="column" fxLayoutGap="5px"
                          [value]="xivapiItem | xivapiL12n: 'items'"></app-i18n-display>
      </div>
      <div class="details-container" fxLayout="column">
        <div class="main-attributes details" fxLayout="row wrap" fxLayoutGap="5px">
          <div *ngFor="let row of mainAttributes$ | async" class="details-block">
            <div *ngIf="!row.requiresPipe" class="detail-name">
              {{row.name | translate}}
            </div>
            <div *ngIf="row.requiresPipe" class="detail-name">
              {{row.name | i18n}}
            </div>
            <div class="detail-value">
              {{row.value}}
              <span *ngIf="xivapiItem.CanBeHq === 1 && row.valueHq && row.valueHq !== row.value" class="hq-value">
              (<img alt="HQ" src="./assets/icons/HQ.png">{{row.valueHq}})
            </span>
            </div>
          </div>
        </div>
        <div class="details" fxLayout="row wrap" fxLayoutGap="5px">
          <div *ngFor="let row of stats$ | async" class="details-block">
            <div *ngIf="!row.requiresPipe" class="detail-name">
              {{row.name | translate}}
            </div>
            <div *ngIf="row.requiresPipe" class="detail-name">
              {{row.name | i18n}}
            </div>
            <div class="detail-value">
              {{row.value}}
              <span *ngIf="xivapiItem.CanBeHq" class="hq-value">
            <span *ngIf="xivapiItem.ItemFood === undefined; else itemFoodHQ">(<img alt="HQ"
                                                                                   src="./assets/icons/HQ.png">{{row.valueHq}})</span>
              <ng-template #itemFoodHQ>
                <img alt="HQ" src="./assets/icons/HQ.png">{{row.valueHq}}
              </ng-template>
            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="details-container" fxLayout="row wrap" fxLayoutGap="5px">
        <div class="details-block">
          <div class="detail-name">{{'DB.Tradeable' | translate}}</div>
          <div class="detail-value">{{(xivapiItem.IsUntradable === 1 ? 'No' : 'Yes') | translate}}</div>
        </div>
        <div class="details-block">
          <div class="detail-name">{{'DB.Unique' | translate}}</div>
          <div class="detail-value">{{(xivapiItem.IsUnique === 1 ? 'Yes' : 'No') | translate}}</div>
        </div>
        <div *ngIf="gtData.item.equip" class="details-block">
          <div class="detail-name">{{'DB.Dyeable' | translate}}</div>
          <div class="detail-value">{{(xivapiItem.IsDyeable === 1 ? 'Yes' : 'No') | translate}}</div>
        </div>
        <div *ngIf="gtData.item.sockets" class="details-block">
          <div class="detail-name">{{'DB.Materia_sockets' | translate}}</div>
          <div class="detail-value">{{gtData.item.sockets}}</div>
        </div>
        <div *ngIf="gtData.item.equip" class="details-block">
          <div class="detail-name">{{'DB.Advanced_melding' | translate}}</div>
          <div class="detail-value">{{(xivapiItem.IsAdvancedMeldingPermitted === 1 ? 'Yes' : 'No') | translate}}</div>
        </div>
        <div *ngIf="gtData.item.equip" class="details-block">
          <div class="detail-name">{{'DB.Repair_job' | translate}}</div>
          <div class="detail-value">{{gtData.item.repair | i18nRow:'jobAbbr' | i18n}}</div>
        </div>
        <div *ngIf="xivapiItem.Salvage" class="details-block">
          <div class="detail-name">{{'DB.Salvage_level' | translate}}</div>
          <div class="detail-value">{{xivapiItem.Salvage.OptimalSkill}}</div>
        </div>
        <div *ngIf="gtData.item.sell_price" class="details-block">
          <div class="detail-name">{{'DB.Sells_for' | translate}}</div>
          <div class="detail-value">{{gtData.item.sell_price}}</div>
        </div>
      </div>
      <ng-container *ngIf="xivapiItem.IsFish;else classicItemDetails">
        <app-fish [usedForTpl]="usedForTpl" [obtentionTpl]="howToObtainTpl"></app-fish>
      </ng-container>
      <ng-template #usedForTpl>
        <div *ngIf="usedFor$ | async as usedFor">
          <nz-divider [nzText]="'DB.Used_for' | translate" nzOrientation="left"></nz-divider>
          <app-fullpage-message *ngIf="!xivapiItem.IsFish && usedFor.length === 0 && (xivapiItem.ID > 19 || xivapiItem.ID === 1)"
                                height="300px">
            {{'DB.Used_for_nothing' | translate}}
          </app-fullpage-message>
          <app-fullpage-message *ngIf="xivapiItem.ID < 19 && xivapiItem.ID > 1" height="300px">
            {{'DB.Crystal_used_for_everything' | translate}}
          </app-fullpage-message>
          <div fxLayout="row" fxLayoutGap="10px">
            <nz-card *ngFor="let row of usedFor" [fxFlex]="row.flex" [nzTitle]="title" class="details-card"
                     nzBordered="false">
              <ng-template #title>
                <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                  <img [alt]="row.title | translate" [src]="row.icon" class="img-icon">
                  <div>
                    {{row.title | translate}}
                  </div>
                </div>
              </ng-template>
              <div *ngIf="row.type === 1" fxLayout="column" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <img alt="" src="https://triad.raelys.com/images/cards/large/{{row.cardId}}.png">
                <a href="https://triad.raelys.com/cards/{{row.cardId}}"
                   target="_blank">{{'DB.Track_on_attt' | translate}}</a>
              </div>
              <div *ngIf="row.links" fxLayout="column" fxLayoutGap="5px">
                <app-lazy-scroll [rowTemplate]="rowTpl" [rowSize]="32" [displayedRows]="12" [data]="row.links">
                  <ng-template #rowTpl let-link>
                    <div *ngIf="link.itemId" fxLayout="column">
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <app-item-icon [icon]="link.itemId | lazyIcon" [itemId]="link.itemId" width="32"></app-item-icon>
                        <div fxLayout="column">
                          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                            <div [appItemRarity]="link.itemId">
                              {{link.itemId | itemName | i18n}}
                            </div>
                            <app-db-button [id]="link.itemId" type="item"></app-db-button>
                          </div>
                          <div *ngIf="link.recipes" fxLayout="row" fxLayoutAlign="flex-start center">
                            <div *ngFor="let recipe of link.recipes; let last=last" fxLayoutAlign="flex-start center"
                                 fxLayoutGap="5px">
                              <img *ngIf="((recipe.job | i18nRow:'jobAbbr').en | async) as icon" alt="" class="smaller-img-icon"
                                   src="https://garlandtools.org/db/images/{{icon}}.png">
                              <div>lvl {{recipe.lvl}} {{recipe.stars | ingameStars}}<span *ngIf="!last">,</span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </app-lazy-scroll>
              </div>
              <div *ngIf="row.masterpiece" fxLayout="row wrap" fxLayoutGap="10px">
                <div class="masterpiece-entry rowena">
                  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div class="masterpiece-rating">{{row.masterpiece.base.rating}}
                      - {{row.masterpiece.mid.rating - 1}}</div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <app-item-icon [icon]="row.masterpiece.reward | lazyIcon"
                                       [itemId]="row.masterpiece.reward"
                                       width="32"></app-item-icon>
                        <div>x{{row.masterpiece.base.scrip | number}}</div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <img alt="exp" class="img-icon" src="./assets/icons/exp.png">
                        <div nz-tooltip [nzTooltipTitle]="'DB.ITEM.Masterpiece_exp_tooltip' | translate">{{row.masterpiece.base.exp / 1000 | number}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="masterpiece-entry rowena">
                  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div class="masterpiece-rating">{{row.masterpiece.mid.rating}}
                      - {{row.masterpiece.high.rating - 1}}</div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <app-item-icon [icon]="row.masterpiece.reward | lazyIcon"
                                       [itemId]="row.masterpiece.reward"
                                       width="32"></app-item-icon>
                        <div>x{{row.masterpiece.mid.scrip | number}}</div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <img alt="exp" class="img-icon" src="./assets/icons/exp.png">
                        <div nz-tooltip [nzTooltipTitle]="'DB.ITEM.Masterpiece_exp_tooltip' | translate">{{row.masterpiece.mid.exp / 1000 | number}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="masterpiece-entry rowena">
                  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div class="masterpiece-rating">{{row.masterpiece.high.rating}} +</div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <app-item-icon [icon]="row.masterpiece.reward | lazyIcon"
                                       [itemId]="row.masterpiece.reward"
                                       width="32"></app-item-icon>
                        <div>x{{row.masterpiece.high.scrip | number}}</div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <img alt="exp" class="img-icon" src="./assets/icons/exp.png">
                        <div nz-tooltip [nzTooltipTitle]="'DB.ITEM.Masterpiece_exp_tooltip' | translate">{{row.masterpiece.high.exp / 1000 | number}}%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="row.ishgardRestoration" fxLayout="row wrap" fxLayoutGap="10px">
                <div class="masterpiece-entry">
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <div class="masterpiece-rating">{{row.ishgardRestoration.base.rating}}
                      - {{row.ishgardRestoration.mid.rating - 1}}</div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <app-item-icon [icon]="28063 | lazyIcon" [itemId]="28063" width="32"></app-item-icon>
                        <div>x{{row.ishgardRestoration.base.scrip | number}}</div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <img alt="exp" class="img-icon" src="./assets/icons/exp.png">
                        <div>x{{row.ishgardRestoration.base.exp | number}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="masterpiece-entry">
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <div class="masterpiece-rating">{{row.ishgardRestoration.mid.rating}}
                      - {{row.ishgardRestoration.high.rating - 1}}</div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <app-item-icon [icon]="28063 | lazyIcon" [itemId]="28063" width="32"></app-item-icon>
                        <div>x{{row.ishgardRestoration.mid.scrip | number}}</div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <img alt="exp" class="img-icon" src="./assets/icons/exp.png">
                        <div>x{{row.ishgardRestoration.mid.exp | number}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="masterpiece-entry">
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <div class="masterpiece-rating">{{row.ishgardRestoration.high.rating}}</div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <app-item-icon [icon]="28063 | lazyIcon" [itemId]="28063" width="32"></app-item-icon>
                        <div>x{{row.ishgardRestoration.high.scrip | number}}</div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <img alt="exp" class="img-icon" src="./assets/icons/exp.png">
                        <div>x{{row.ishgardRestoration.high.exp | number}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="row.trades" fxLayout="column" fxLayoutGap="5px">
                <app-lazy-scroll [data]="row.trades" [rowTemplate]="rowTpl" rowSize="651" displayedRows="1"></app-lazy-scroll>
                <ng-template #rowTpl let-source>
                  <nz-card [nzTitle]="source.shopName | i18n" class="trade-card">
                    <nz-table #basicTable [nzData]="source.trades">
                      <thead>
                      <tr>
                        <th>{{'DB.Currencies' | translate}}</th>
                        <th>{{'Items' | translate}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let trade of basicTable.data">
                        <td>
                          <div fxLayout="row wrap" fxLayoutGap="10px">
                            <div *ngFor="let currency of trade.currencies" class="item-container" fxLayout="row"
                                 fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                              <app-item-icon [hq]="currency.hq" [icon]="currency.icon"
                                             [itemId]="currency.id"
                                             [itemName]="currency.id | itemName | i18n" [width]="32"></app-item-icon>
                              <div>{{currency.id | itemName | i18n}} <span>x{{currency.amount}}</span></div>
                              <app-db-button [id]="currency.id" type="item"></app-db-button>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div fxLayout="row wrap" fxLayoutGap="10px">
                            <div *ngFor="let item of trade.items" class="item-container" fxLayout="row"
                                 fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                              <app-item-icon [hq]="item.hq" [icon]="item.icon" [itemId]="item.id"
                                             [itemName]="item.id | itemName | i18n" [width]="32"></app-item-icon>
                              <div>{{item.id | itemName | i18n}} <span>x{{item.amount}}</span></div>
                              <app-db-button [id]="item.id" type="item"></app-db-button>
                            </div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </nz-table>
                  </nz-card>
                </ng-template>
              </div>
              <div *ngIf="row.leves">
                <nz-list [nzDataSource]="row.leves" [nzItemLayout]="'horizontal'"
                         [nzRenderItem]="leveTemplate">
                  <ng-template #leveTemplate let-leve>
                    <nz-list-item [nzContent]="more">
                      <nz-list-item-meta
                        [nzAvatar]="leveAvatar"
                        [nzTitle]="leve.leveId | i18nRow:'leves' | i18n"
                        [nzDescription]="description">
                        <ng-template #description>
                          <span class="companion-svg job-icon" [innerHtml]="leve.job | jobUnicode"></span> lvl {{leve.level}} (x{{leve.amount}})
                        </ng-template>
                        <ng-template #leveAvatar>
                          <a routerLink="/db/{{translate.currentLang}}/leve/{{leve.leveId}}">
                            <img class="img-icon round-icon"
                                 src="./assets/icons/leve.png">
                          </a>
                        </ng-template>
                        <ng-template #more>
                          <app-db-button [id]="leve.leveId" type="leve"></app-db-button>
                        </ng-template>
                      </nz-list-item-meta>
                    </nz-list-item>
                  </ng-template>
                </nz-list>
              </div>
              <div *ngIf="row.quests">

                <app-lazy-scroll [data]="row.quests" [rowTemplate]="rowTpl" rowSize="56" displayedRows="5"></app-lazy-scroll>
                <ng-template #rowTpl let-quest>
                  <div class="quest-row" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <div>
                        <a routerLink="/db/{{translate.currentLang}}/quest/{{quest}}">
                          <img class="img-icon round-icon" src="./assets/icons/quest.png">
                        </a>
                      </div>
                      <div>
                        {{quest | i18nRow:'quests' | i18n}}
                      </div>
                    </div>
                    <app-db-button [id]="quest" type="quest"></app-db-button>
                  </div>
                </ng-template>
              </div>
              <div *ngIf="row.supply">
                <div fxLayout="column">
                  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                    <b>{{xivapiItem.ID | itemName | i18n}}</b>
                    <div>x{{row.supply.amount}}</div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                    <img alt="exp" class="img-icon" src="./assets/icons/exp.png">
                    <div>x{{row.supply.xp | number}}</div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                    <img [src]="20 | lazyIcon" alt="GC Seals" class="img-icon">
                    <div>x{{row.supply.seals}}</div>
                  </div>
                </div>
              </div>
            </nz-card>
          </div>
        </div>
      </ng-template>
      <ng-template #howToObtainTpl>
        <div fxLayout="column">
          <div *ngIf="xivapiItem.hasMoreDetails" fxLayout="column">
            <div>
              <nz-divider [nzText]="'DB.Details' | translate" nzOrientation="left"></nz-divider>
            </div>
            <nz-card *ngIf="xivapiItem.ItemSeries" [nzTitle]="title"
                     class="details-card" fxFlex="1 1 auto"
                     nzBordered="false">
              <ng-template #title>
                <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                  <img class="img-icon round-icon"
                       src="./assets/icons/ItemSeries.png">
                  <div>
                    {{'DB.ITEM.Item_series' | translate}}
                  </div>
                </div>
              </ng-template>
              <h3>{{xivapiItem.ItemSeries | xivapiI18n}}</h3>
              <ul>
                <app-lazy-scroll [data]="xivapiItem.ItemSeries.Content" [rowTemplate]="rowTpl" rowSize="56" displayedRows="10"></app-lazy-scroll>
                <ng-template #rowTpl let-item>
                  <li class="series-entry">
                    <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <app-item-icon [itemId]="item.itemId" [width]="24"></app-item-icon>
                      <div>{{item.itemId | itemName | i18n}}</div>
                    </div>
                    <ul *ngIf="item.bonuses">
                      <li *ngFor="let bonus of item.bonuses">{{'DB.ITEM.X_Equipped' | translate:{ amount: bonus.amountRequired } }}
                        {{bonus.baseParam | i18nRow:'baseParams' | i18n}} +{{bonus.value}}</li>
                    </ul>
                  </li>
                </ng-template>
              </ul>
            </nz-card>
          </div>
          <div>
            <nz-divider [nzText]="'DB.How_to_obtain' | translate" nzOrientation="left"></nz-divider>
          </div>
          <ng-container *ngIf="noData">
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
              <app-fullpage-message height="150px">
                {{'DB.No_known_way_to_obtain' | translate}}
              </app-fullpage-message>
              <div>
                <a routerLink="/allagan-reports/{{itemId$ | async}}" nz-button nzType="primary">
                  {{'ALLAGAN_REPORTS.Add_data_sources' | translate}}
                </a>
              </div>
            </div>
          </ng-container>
          <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px">
            <ng-container *ngFor="let source of data.sources">
              <ng-container [ngSwitch]="source.type">
                <div *ngSwitchCase="dataTypes.DEPRECATED" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" fxFlex="1 1 auto">
                  <app-fullpage-message height="150px">
                    {{'ALLAGAN_REPORTS.Deprecated' | translate}}
                  </app-fullpage-message>
                </div>
                <nz-card *ngSwitchCase="dataTypes.GARDENING" [nzTitle]="title" class="details-card" fxFlex="1 1 auto"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img class="img-icon" src="./assets/icons/Gardening.png">
                      <div>
                        {{'Gardening' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-gardening [item]="data" [details]="source.data"></app-gardening>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.DROPS" [nzTitle]="title" class="details-card" fxFlex="1 1 auto"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img alt="Drops" class="img-icon" src="https://www.garlandtools.org/db/images/Mob.png">
                      <div>
                        {{'Hunting' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-hunting [item]="data" [details]="source.data"></app-hunting>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.TRADE_SOURCES" [nzTitle]="title"
                         class="details-card" fxFlex="1 1 auto"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img class="img-icon round-icon"
                           src="https://www.garlandtools.org/db/images/marker/Shop.png">
                      <div>
                        {{'Trade' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-trades [dbDisplay]="true" [item]="data" [details]="source.data"></app-trades>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.TREASURES" [nzTitle]="title"
                         class="details-card" fxFlex="1 1 auto"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img class="img-icon round-icon"
                           src="./assets/icons/chest_open.png">
                      <div>
                        {{'Treasures' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-treasures [item]="data" [details]="source.data"></app-treasures>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.FATES" [nzTitle]="title"
                         class="details-card" fxFlex="1 1 60%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img [src]="source.data[0].id | lazyRow:'fates':'icon' | async | xivapiIcon"
                           class="img-icon round-icon">
                      <div>
                        {{'Fates' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-fates [item]="data" [details]="source.data"></app-fates>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.MOGSTATION" [nzTitle]="title"
                         class="details-card" fxFlex="1 1 60%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img src="https://cache.secure.square-enix.com/account/content/mogstation/favicon.ico"
                           class="img-icon round-icon">
                      <div>
                        {{'Mogstation' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-mogstation [item]="data" [details]="source.data"></app-mogstation>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.CRAFTED_BY" [nzTitle]="title"
                         class="details-card" fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img class="img-icon round-icon" src="./assets/icons/classjob/blacksmith.png">
                      <div>
                        {{'DB.Recipes' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <div class="recipes" fxLayout="column" fxLayoutGap="10px">
                    <nz-card *ngFor="let recipeSource of source.data" [nzActions]="recipeSource.job > 0 ?[addToList, openSimulator]: [addToList]"
                             fxLayoutGap="5px">
                      <nz-card-meta [nzTitle]="recipeTitle">
                        <ng-template #recipeTitle>
                          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px" *ngIf="getRecipe(recipeSource.id, gtData) | async as recipe">
                            <ng-container *ngIf="recipe.job > 0">
                              <div class="recipe-title" fxLayout="column">
                                <div fxLayout="row" fxLayoutGap="5px">
                                  <div><span class="companion-svg job-svg" [innerHTML]="recipe.job | jobUnicode"></span></div>
                                  <div>{{recipe.job | i18nRow:'jobAbbr' | i18n}}</div>
                                  <div>{{recipe.lvl}}{{recipe.stars_tooltip}}</div>
                                  <div *ngIf="recipe.craftsmanshipReq > 0">{{'DB.ITEM.Required_craftsmanship' | translate}}: {{recipe.craftsmanshipReq}}</div>
                                  <div *ngIf="recipe.controlReq > 0">{{'DB.ITEM.Required_control' | translate}}: {{recipe.controlReq}}</div>
                                </div>
                                <div *ngIf="recipeSource.masterbook" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                                  <app-item-icon [itemId]="recipeSource.masterbook.id" width="24"></app-item-icon>
                                  <div>{{recipeSource.masterbook.id | itemName | i18n}}</div>
                                </div>
                                <div fxLayout="row" fxLayoutGap="5px">
                                  <b>rlvl</b>:
                                  <div>{{recipe.rlvl}}</div>
                                </div>
                                <div fxLayout="row" fxLayoutGap="5px">
                                  <b>{{'SIMULATOR.Durability' | translate}}</b>:
                                  <div>{{recipe.durability}}</div>
                                </div>
                                <div fxLayout="row" fxLayoutGap="5px">
                                  <b>{{'SIMULATOR.Progress' | translate}}</b>:
                                  <div>{{recipe.progress}}</div>
                                </div>
                                <div fxLayout="row" fxLayoutGap="5px">
                                  <b>{{'SIMULATOR.Quality' | translate}}</b>:
                                  <div>{{recipe.quality}}</div>
                                </div>
                              </div>
                            </ng-container>
                            <ng-container *ngIf="recipe.isIslandRecipe">
                              <div class="recipe-title">
                                <img src="./assets/icons/island.png" alt="Island Recipe" class="job-icon small">
                                {{'ITEMS.Island_recipe' | translate}}
                              </div>
                            </ng-container>
                          </div>
                        </ng-template>
                      </nz-card-meta>
                      <div *ngIf="getRecipe(recipeSource.id, gtData) | async as craft" fxLayout="column" fxLayoutGap="5px">
                        <div *ngFor="let item of craft.ingredients">
                          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                            <app-item-icon [icon]="+item.id | lazyIcon" [itemId]="+item.id" width="32"></app-item-icon>
                            <div fxLayout="column">
                              <div [appItemRarity]="+item.id">
                                {{+item.id | itemName | i18n}}
                              </div>
                              <div>
                                x{{item.amount}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <ng-template #addToList>
                        <ng-container *ngIf="toSearchResult(data) as searchResult">
                          <nz-input-group [nzAddOnAfter]="addButton" [nzCompact]="true" class="amount-input">
                            <input #amountInput (keydown.enter)="addItemsToList(searchResult, +amountInput.value)"
                                   [ngModel]="1"
                                   nz-input type="number">
                          </nz-input-group>
                          <ng-template #addButton>
                            <i (click)="addItemsToList(searchResult, +amountInput.value)" [nzTooltipTitle]="'ITEMS.Add_to_list' | translate" nz-icon nz-tooltip
                               nzType="plus"></i>
                          </ng-template>
                        </ng-container>
                      </ng-template>
                      <ng-template #openSimulator>
                        <button (click)="openInSimulator(data, xivapiItem.ID, recipeSource.id)" nz-button>
                          {{'SIMULATOR.Simulate_tooltip' | translate}}
                        </button>
                      </ng-template>
                    </nz-card>
                  </div>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.GATHERED_BY" [nzTitle]="title"
                         class="details-card" fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img class="img-icon gathering-icon" src="{{source.data.type | nodeTypeIcon}}">
                      <div>
                        {{'DB.Gathering' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-gathered-by [item]="data" [details]="source.data" [showAlarmsIntegration]="true"></app-gathered-by>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.INSTANCES" [nzTitle]="title"
                         class="details-card"
                         fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img [src]="source.data[0].icon | lazyRow:'instances':'icon' | async" class="img-icon round-icon">
                      <div>
                        {{'DB.Dungeons' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-instances [item]="data" [details]="source.data"></app-instances>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.REDUCED_FROM" [nzTitle]="title"
                         class="details-card" fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img class="img-icon round-icon" src="https://www.garlandtools.org/db/images/item/Reduce.png">
                      <div>
                        {{'Reduction' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-reduced-from [item]="data" [details]="source.data"></app-reduced-from>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.DESYNTHS" [nzTitle]="title"
                         class="details-card" fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <i nzIconfont="icon-vectorcombine" nz-icon></i>
                      <div>
                        {{'Desynth' | translate}} ({{source.data.length}})
                      </div>
                    </div>
                  </ng-template>
                  <app-desynths [item]="data" [details]="source.data"></app-desynths>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.VENDORS" [nzTitle]="title" class="details-card"
                         fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img alt="Gil" class="img-icon" src="https://xivapi.com/i/065000/065002.png">
                      <div>
                        {{'Vendors' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-vendors [item]="data" [details]="source.data"></app-vendors>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.VOYAGES" [nzTitle]="title" class="details-card"
                         fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img alt="Voyages" class="img-icon" src="https://www.garlandtools.org/db/images/Voyage.png">
                      <div>
                        {{'Voyages' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-voyages [item]="data" [details]="source.data"></app-voyages>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.VENTURES" [nzTitle]="title" class="details-card"
                         fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img [src]="21072 | lazyIcon" alt="Ventures"
                           class="img-icon round-icon">
                      <div>
                        {{'Retainer_ventures' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-ventures [item]="data" [details]="source.data"></app-ventures>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.TRIPLE_TRIAD_DUELS" [nzTitle]="title"
                         class="details-card"
                         fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img alt="TT" class="img-icon round-icon" src="https://triad.raelys.com/images/logo.png">
                      <div>
                        {{'DB.Triple_triad_duels' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <nz-list [nzDataSource]="source.data" [nzItemLayout]="'horizontal'" [nzRenderItem]="duelTemplate">
                    <ng-template #duelTemplate let-duel>
                      <nz-list-item [nzContent]="duelContent">
                        <nz-list-item-meta
                          [nzDescription]="duelDescription"
                          [nzTitle]="duelTitle">
                          <ng-template #duelTitle>
                            <a [nzTooltipTitle]="'DB.More_on_attt_npc' | translate" href="https://triad.raelys.com/npcs/{{duel.atttNpcId}}" nz-tooltip
                               target="_blank">{{ duel.npcId | i18nRow:'npcs' | i18n }}</a>
                          </ng-template>
                          <ng-template #duelDescription>
                            <div fxLayout="column">
                              <div>
                                {{'DB.TT_Rules' | translate}}: <span *ngFor="let rule of duel.rules; let last = last"
                                                                     class="tt-rule">{{rule | i18nRow:'tripleTriadRules' | i18n}} <span
                                *ngIf="!last">,</span></span>
                              </div>
                              <div *ngIf="duel.unlockingQuestId">{{'DB.Unlocked_by_quest' | translate}}:
                                <b>{{duel.unlockingQuestId | i18nRow:'quests' | i18n}}</b></div>
                            </div>
                          </ng-template>
                          <ng-template #duelContent>
                            <app-map-position [mapId]="duel.mapId" [marker]="duel.coords"
                                              [zoneId]="duel.zoneId" showZoneName="true"></app-map-position>
                          </ng-template>
                        </nz-list-item-meta>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.ACHIEVEMENTS" [nzTitle]="title"
                         class="details-card"
                         fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img alt="TT" class="img-icon round-icon" src="https://xivapi.com/c/Title.png">
                      <div>
                        {{'DB.Achievements' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-achievements [item]="data" [details]="source.data"></app-achievements>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.TRIPLE_TRIAD_PACK" [nzTitle]="title"
                         class="details-card"
                         fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img alt="TT" class="img-icon round-icon" src="https://triad.raelys.com/images/logo.png">
                      <div>
                        {{'DB.Triple_triad_pack' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <nz-list [nzDataSource]="[source.data]" [nzItemLayout]="'horizontal'"
                           [nzRenderItem]="packTemplate">
                    <ng-template #packTemplate let-pack>
                      <nz-list-item>
                        <nz-list-item-meta
                          [nzAvatar]="packAvatar"
                          [nzDescription]="packDescription"
                          [nzTitle]="data.tripleTriadPack.id | itemName | i18n">
                          <ng-template #packAvatar>
                            <app-item-icon [icon]="data.tripleTriadPack.id | lazyIcon"
                                           [itemId]="data.tripleTriadPack.id"></app-item-icon>
                          </ng-template>
                          <ng-template #packDescription>
                            <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                              <app-item-icon [icon]="29 | lazyIcon" [itemId]="29" [width]="32"></app-item-icon>
                              <div>{{data.tripleTriadPack.price}}</div>
                            </div>
                          </ng-template>
                        </nz-list-item-meta>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
                </nz-card>
                <nz-card *ngSwitchCase="dataTypes.QUESTS" [nzTitle]="title"
                         class="details-card" fxFlex="1 1 30%"
                         nzBordered="false">
                  <ng-template #title>
                    <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                      <img class="img-icon round-icon" src="./assets/icons/quest.png">
                      <div>
                        {{'Quests' | translate}}
                      </div>
                    </div>
                  </ng-template>
                  <app-quests [item]="data" [details]="source.data"></app-quests>
                </nz-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-template>
      <ng-template #classicItemDetails>
        <app-db-comments *ngIf="settings.dbCommentsPosition === 'TOP'" [id]="xivapiItem.ID" type="item"></app-db-comments>
        <ng-container *ngTemplateOutlet="howToObtainTpl"></ng-container>
        <ng-container *ngTemplateOutlet="usedForTpl"></ng-container>
        <app-db-comments *ngIf="settings.dbCommentsPosition === 'BOTTOM'" [id]="xivapiItem.ID"
                         type="item"></app-db-comments>
      </ng-template>
    </div>
  </ng-container>
</ng-container>
<ng-template #loader>
  <app-page-loader></app-page-loader>
</ng-template>

<ng-template #notificationRef let-notification>
  <div class="ant-notification-notice-content ant-notification-notice-with-icon">
    <span class="ant-notification-notice-icon"><i class="ant-notification-notice-icon-success" nz-icon
                                                  nzType="check-circle"></i></span>
    <div>
      <div class="ant-notification-notice-message">{{'COMMON.Success' | translate}}</div>
      <div class="ant-notification-notice-description">
        <span *ngIf="itemsAdded === 1">{{'Recipe_Added' | translate: { listname: modifiedList.name } }}</span>
        <span *ngIf="itemsAdded !== 1">{{'Recipes_Added' | translate: {
          itemcount: itemsAdded,
          listname: modifiedList.name
        } }}</span>
      </div>
      <span class="ant-notification-notice-btn">
            <a (click)="notification.close();" nz-button nzType="primary" routerLink="/list/{{modifiedList.$key}}">
              <span>{{'Open' | translate}}</span>
            </a>
          </span>
    </div>
  </div>
</ng-template>
