:host ::ng-deep {

  .details-card {
    background-color: rgba(0, 0, 0, .4);
  }

  ::ng-deep .ant-card-head {
    background-color: rgba(0, 0, 0, .10) !important;
  }
}

.item-name {
  margin-bottom: 0;
}

.item-kind {
  opacity: .8;
}

.language-flag {
  height: 24px;
  width: 24px;
}

.card-header {
  height: 30px;
}

.top-bar {
  padding: 10px;
  background-color: rgba(0, 0, 0, .25);
}

.link-icon {
  height: 24px;
  width: auto;
}

.top-left-block {
  height: 111px;

  .icon-block {
    line-height: 20px;
  }
}

.img-icon {
  width: 32px;
  height: 32px;
}
