@import '../common-db';

.masterpiece-entry {
  padding: 20px 10px 10px;
  position: relative;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);

  &.rowena {
    padding: 10px 30px 10px;
  }

  .masterpiece-entry-title {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .masterpiece-rating {
    font-weight: bold;
  }
}

.series-entry {
  padding: 5px 0;
}

.quest-row {
  padding: 5px 10px;
}

.trade-card {
  margin: 10px;
  height: 631px;
}

.amount-input {
  width: 180px;
}

.job-svg {
  font-size: 20px;
}
