<ng-container *ngIf="garlandToolsItem$ | async as gtItem">
  <div fxLayout="column" fxLayoutGap="10px"
       *ngIf="xivapiItem$ | async as xivapiItem" [style.padding]="'0 50px' | ifMobile: '0'">
    <div fxLayout="row" fxLayoutAlign="space-between flex-start" fxFlex="1 1 auto" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
        <img [src]="xivapiItem.Icon | xivapiIcon" alt="{{xivapiItem.ID | itemName | i18n}}" class="item-icon">
        <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
          <h2 class="item-name">{{xivapiItem.ID | itemName | i18n}}</h2>
          <div class="item-kind">{{xivapiItem.ItemKind | xivapiI18n}}
            > {{xivapiItem.ItemSearchCategory | xivapiI18n}}</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
          <img src="/assets/icons/english.png" class="language-flag" alt="EN">
          <div>{{xivapiItem.Name_en}}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
          <img src="/assets/icons/german.png" class="language-flag" alt="DE">
          <div>{{xivapiItem.Name_de}}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
          <img src="/assets/icons/french.png" class="language-flag" alt="FR">
          <div>{{xivapiItem.Name_fr}}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
          <img src="/assets/icons/japanese.png" class="language-flag" alt="JA">
          <div>{{xivapiItem.Name_ja}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
