<md-list-item>
    <a md-list-avatar href="http://xivdb.com/item/{{item.id}}" target="_blank">
        <img md-list-avatar src="{{item.icon}}" alt="{{item.name}}">
    </a>
    <span md-line>
        {{item.name}}
        {{item.done}}/{{item.amount}}
    </span>

    <div class="done">
        <a md-mini-fab *ngIf="item.amount > item.done" (click)="setDone(item, item.amount)">
            <md-icon>check</md-icon>
        </a>
        <md-icon *ngIf="item.amount === item.done" color="accent">done</md-icon>
    </div>
    <div class="right">
        <span md-line *ngIf="item.craftedBy !== undefined">
            <img *ngFor="let craft of item.craftedBy" class="crafted-by"
                 mdTooltip="{{craft.level}} {{craft.stars_tooltip}}"
                 mdTooltipPosition="above" src="{{craft.icon}}">
        </span>
    </div>
</md-list-item>
