<md-list-item>
    <a md-list-avatar href="http://{{getXivdbDomain()}}.xivdb.com/item/{{item.id}}" target="_blank">
        <img md-list-avatar src="{{item.icon}}" alt="{{getName(item)}}">
    </a>
    <span md-line>
        {{getName(item)}}
    </span>

    <div class="masterbook">
        <span *ngIf="item.craftedBy !== undefined">
            <span *ngFor="let craft of item.craftedBy">
                <md-chip-list>
                    <md-chip color="primary" selected="true" *ngIf="craft.masterbook !== undefined">{{this.getName(craft.masterbook)}}</md-chip>
                </md-chip-list>
            </span>
        </span>
    </div>
    <div class="done">
    {{item.done}}/{{item.amount}}
    </div>
    <div class="done-check">
        <a md-mini-fab *ngIf="item.amount > item.done" (click)="setDone(item, item.amount)">
            <md-icon>check</md-icon>
        </a>
        <md-icon *ngIf="item.amount === item.done" color="accent">done</md-icon>
    </div>
    <div class="classes">
        <span md-line *ngIf="item.craftedBy !== undefined">
            <img *ngFor="let craft of item.craftedBy" class="crafted-by"
                 mdTooltip="{{craft.level}} {{craft.stars_tooltip}}"
                 mdTooltipPosition="above" src="{{craft.icon}}">
        </span>
        <button md-icon-button md-line *ngIf="item.gatheredBy !== undefined" (click)="openGatheredByDetails(item)">
            <img class="crafted-by"
                 mdTooltip="{{item.gatheredBy.level}} {{item.gatheredBy.stars_tooltip}}"
                 mdTooltipPosition="above" src="{{item.gatheredBy.icon}}">
        </button>
        <img *ngIf="item.gardening" class="crafted-by"
             mdTooltip="{{'Gardening' | translate}}"
             mdTooltipPosition="above" src="https://www.garlandtools.org/db/images/Leveling.png">
    </div>
</md-list-item>
