<nz-page-header>
  <nz-page-header-title>
    {{'FISH_TRAIN.List_title' | translate}}
  </nz-page-header-title>
  <nz-page-header-subtitle>
    {{'FISH_TRAIN.List_subtitle' | translate}}
  </nz-page-header-subtitle>
  <nz-page-header-extra>
    <a nz-button nzType="primary" href="https://ff14fish.carbuncleplushy.com/fishtrain.html" target="_blank">
      {{'FISH_TRAIN.Create_new' | translate}}
    </a>
  </nz-page-header-extra>
</nz-page-header>
<form [formGroup]="filtersForm" class="flex-column align-center justify-center gap-5">
  <nz-input-group [nzAddOnBefore]="selectTpl" nzSuffixIcon="search" class="filter-input">
    <ng-template #selectTpl>
      <nz-select class="dc-select" formControlName="datacenter" nzShowSearch>
        <nz-option [nzValue]="null" [nzLabel]="'COMMON.Any' | translate"></nz-option>
        <nz-option *ngFor="let datacenter of datacentersList$ | async" [nzLabel]="datacenter" [nzValue]="datacenter"></nz-option>
      </nz-select>
    </ng-template>
    <input formControlName="name"
           [placeholder]="'FISH_TRAIN.Name_filter_placeholder' | translate"
           autofocus nz-input type="text">
  </nz-input-group>
  <nz-segmented formControlName="status" *ngIf="runningOptions$ | async as runningOptions" [nzOptions]="runningOptions"></nz-segmented>
</form>
<div class="results flex-column gap-5" *ngIf="results$ | async as results">
  <app-lazy-scroll *ngIf="results.length > 0"  [data]="results" [trackBy]="trackByKey" [displayedRows]="8"
                   [rowTemplate]="trainRowTpl" [rowSize]="52"></app-lazy-scroll>
  <app-fullpage-message *ngIf="results.length === 0" height="300px">
    {{'FISH_TRAIN.No_trains_found' | translate}}
  </app-fullpage-message>
</div>
<ng-container *ngIf="userTrains$ | async as userTrains">
  <div class="user-trains" *ngIf="userTrains.length > 0">
    <nz-divider [nzText]="'FISH_TRAIN.Your_trains' | translate" nzOrientation="left"></nz-divider>
    <app-lazy-scroll [data]="userTrains" [trackBy]="trackByKey" [displayedRows]="8"
                     [rowTemplate]="trainRowTpl" [rowSize]="52"></app-lazy-scroll>
  </div>
</ng-container>

<ng-template #trainRowTpl let-train>
  <a nz-row nzAlign="middle" class="train-row" routerLink="/fish-train/{{train.$key}}">
    <div nz-col [nzSpan]="4">
      <app-user-avatar *ngIf="train.conductor" [userId]="train.conductor" messageKey="FISH_TRAIN.Train_conductor" [width]="32"></app-user-avatar>
      <nz-avatar *ngIf="!train.conductor" nzText="?" nz-tooltip [nzTooltipTitle]="'FISH_TRAIN.No_conductor' | translate"></nz-avatar>
      &nbsp;{{train.name || ('FISH_TRAIN.Details_title' | translate:{ id: train.$key })}}
    </div>
    <div nz-col [nzSpan]="3">
      <ng-container [ngSwitch]="train.status">
        <nz-tag class="custom-tag" [style.border-color]="'#f50'" *ngSwitchCase="FishTrainStatus.STOPPED">{{'FISH_TRAIN.Stopped' | translate}}</nz-tag>
        <nz-tag class="custom-tag" [style.border-color]="'#108ee9'" *ngSwitchCase="FishTrainStatus.RUNNING">{{'FISH_TRAIN.Running' | translate}}</nz-tag>
        <nz-tag *ngSwitchCase="FishTrainStatus.WAITING">{{'FISH_TRAIN.Waiting' | translate}}</nz-tag>
      </ng-container>
      <nz-tag class="custom-tag" [style.border-color]="'#f50'" *ngIf="!train.public"
              nz-tooltip [nzTooltipTitle]="'FISH_TRAIN.Private_display_explain' | translate">{{'COMMON.Private' | translate}}</nz-tag>
    </div>
    <div nz-col [nzSpan]="3">
      <nz-tag>{{'FISH_TRAIN.Fish_count' | translate: { amount: train.fish.length } }}</nz-tag>
      <nz-tag>{{train.passengers.length}} {{'FISH_TRAIN.Passengers' | translate | lowercase }}</nz-tag>
    </div>
    <div nz-col [nzSpan]="3">
      {{'FISH_TRAIN.Departure' | translate: { time: train.start | date:'short':null:translate.currentLang } }}
    </div>
    <div nz-col [nzSpan]="4">
      {{'FISH_TRAIN.Terminus' | translate: { time: train.end | date:'short':null:translate.currentLang } }}
    </div>
    <div nz-col [nzSpan]="2">
      <nz-tag>{{'MARKETBOARD.Server' | translate}}:&nbsp;{{train.world || '???'}}</nz-tag>
    </div>
    <div nz-col [nzSpan]="5">
      <div class="flex-row justify-end gap-5">
        <div>
          <a nz-button routerLink="/fish-train/{{train.$key}}" (click)="$event.stopPropagation()">
            {{'FISH_TRAIN.Open_details' | translate}}
          </a>
        </div>
        <div>
          <a nz-button href="https://ff14fish.carbuncleplushy.com/trainpass?tcid={{train.$key}}" target="_blank"
             (click)="$event.stopPropagation()">
            {{'FISH_TRAIN.Open_in_carbuncleplushy' | translate}}
          </a>
        </div>
      </div>
    </div>
  </a>
</ng-template>

