@if (result$ | async; as result) {
  <nz-divider [nzText]="'GEARSETS.Stats' | translate"></nz-divider>
  <div fxLayout="row" fxLayoutAlign="center center">
    <table>
      <thead>
        <tr>
          <th class="table-cell">{{'GEARSETS.Stat_name' | translate}}</th>
          <th class="table-cell">{{'GEARSETS.COMPARISON.Your_gearset' | translate}}</th>
          <th class="table-cell">{{'GEARSETS.COMPARISON.Other_gearset' | translate}}</th>
          <th class="table-cell">{{'GEARSETS.COMPARISON.Diff' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        @for (row of result.statsDifferences; track row) {
          <tr>
            <td class="table-cell first">
              {{row.id | i18nRow:'baseParams' | i18n}}
            </td>
            <td class="amount table-cell">
              {{row.values.a | number:'1.0-0':translate.currentLang}}
            </td>
            <td class="amount table-cell">
              {{row.values.b | number:'1.0-0':translate.currentLang}}
            </td>
            <td class="amount table-cell" [class.better]="row.values.a > row.values.b" [class.worse]="row.values.a < row.values.b">
              @if (row.values.a > row.values.b) {
                <span>+</span>
                }{{(row.values.a - row.values.b) | number:'1.0-0':translate.currentLang}}
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <nz-divider [nzText]="'GEARSETS.Materias' | translate"></nz-divider>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <table>
        <thead>
          <tr>
            <th class="table-cell">{{'GEARSETS.Materia' | translate}}</th>
            <th class="table-cell">{{'GEARSETS.COMPARISON.Your_gearset' | translate}}</th>
            <th class="table-cell">{{'GEARSETS.COMPARISON.Other_gearset' | translate}}</th>
            <th class="table-cell">{{'GEARSETS.COMPARISON.Diff' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          @for (row of result.materiasDifferences; track row) {
            <tr>
              <td class="table-cell first" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <app-item-icon [itemId]="row.id" width="24"></app-item-icon>
                <div>{{row.id | itemName | i18n}}</div>
              </td>
              <td class="amount table-cell">
                {{row.amounts.a | number:'1.0-0':translate.currentLang}}
              </td>
              <td class="amount table-cell">
                {{row.amounts.b | number:'1.0-0':translate.currentLang}}
              </td>
              <td class="amount table-cell" [class.better]="row.amounts.a < row.amounts.b" [class.worse]="row.amounts.a > row.amounts.b">
                @if (row.amounts.a > row.amounts.b) {
                  <span>+</span>
                  }{{(row.amounts.a - row.amounts.b) | number:'1.0-0':translate.currentLang}}
                </td>
              </tr>
            }
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th class="table-cell"></th>
              <th class="table-cell">{{'GEARSETS.COMPARISON.Your_gearset' | translate}}</th>
              <th class="table-cell">{{'GEARSETS.COMPARISON.Other_gearset' | translate}}</th>
              <th class="table-cell">{{'GEARSETS.COMPARISON.Diff' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell first">
                <b>{{'GEARSETS.COMPARISON.Avg_melding_chances' | translate}}</b>
              </td>
              <td class="amount table-cell">
                {{result.meldingChances.a | number:'1.0-2':translate.currentLang}}%
              </td>
              <td class="amount table-cell">
                {{result.meldingChances.b | number:'1.0-2':translate.currentLang}}%
              </td>
              <td class="amount table-cell" [class.better]="result.meldingChances.a > result.meldingChances.b"
                [class.worse]="result.meldingChances.a < result.meldingChances.b">
                @if (result.meldingChances.a > result.meldingChances.b) {
                  <span
                  >+</span>
                  }{{(result.meldingChances.a - result.meldingChances.b) | number:'1.0-2':translate.currentLang}}
                  %
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        @if (result.piecesDiff.length > 0) {
          <nz-divider [nzText]="'GEARSETS.Pieces' | translate"></nz-divider>
        }
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          @for (piece of result.piecesDiff; track piece) {
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <nz-divider nzOrientation="left" [nzText]="('GEARSETS.SLOT.' + piece.slotName) | translate"></nz-divider>
              <h3>{{'GEARSETS.COMPARISON.Your_gearset' | translate}}</h3>
              @if (piece.a) {
                <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
                  <app-item-icon [width]="24" [itemId]="piece.a.itemId" [hq]="piece.a.hq"></app-item-icon>
                  <div>{{piece.a.itemId | itemName | i18n}}</div>
                </div>
              } @else {
                {{'GEARSETS.Empty_slot' | translate}}
              }
              <h3>{{'GEARSETS.COMPARISON.Other_gearset' | translate}}</h3>
              @if (piece.b) {
                <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
                  <app-item-icon [width]="24" [itemId]="piece.b.itemId" [hq]="piece.b.hq"></app-item-icon>
                  <div>{{piece.b.itemId | itemName | i18n}}</div>
                </div>
              } @else {
                {{'GEARSETS.Empty_slot' | translate}}
              }
              <table>
                <thead>
                  <tr>
                    <th class="table-cell">{{'GEARSETS.Stat_name' | translate}}</th>
                    <th class="table-cell">{{'GEARSETS.COMPARISON.Your_gearset' | translate}}</th>
                    <th class="table-cell">{{'GEARSETS.COMPARISON.Other_gearset' | translate}}</th>
                    <th class="table-cell">{{'GEARSETS.COMPARISON.Diff' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  @for (row of piece.stats; track row) {
                    <tr>
                      <td class="table-cell first" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                        <div>{{row.id | i18nRow:'baseParams' | i18n}}</div>
                      </td>
                      <td class="amount table-cell">
                        {{row.a | number:'1.0-0':translate.currentLang}}
                      </td>
                      <td class="amount table-cell">
                        {{row.b | number:'1.0-0':translate.currentLang}}
                      </td>
                      <td class="amount table-cell" [class.better]="row.a > row.b" [class.worse]="row.a < row.b">
                        @if (row.a > row.b) {
                          <span>+</span>
                          }{{(row.a - row.b) | number:'1.0-0':translate.currentLang}}
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            }
          </div>
        } @else {
          <div fxLayout="column" fxLayoutGap="10px">
            @if (error) {
              <nz-alert [nzCloseable]="true" [nzMessage]="'GEARSETS.COMPARISON.Error_title' | translate"
              [nzDescription]="'GEARSETS.COMPARISON.Error_description' | translate" nzType="error"></nz-alert>
            }
            <nz-select [disabled]="loading" [(ngModel)]="comparisonType" [nzPlaceHolder]="'GEARSETS.COMPARISON.Type' | translate">
              @for (type of comparisonTypes; track type) {
                <nz-option [nzValue]="type" [nzLabel]="('GEARSETS.COMPARISON.'+ type) | translate"></nz-option>
              }
            </nz-select>
            @if (comparisonType === 'Ariyala') {
              <nz-form-item>
                <nz-form-control [nzValidateStatus]="importLinkSupported === false?'error':null" [nzExtra]="extraAriyala">
                  <input [disabled]="loading" [(ngModel)]="ariyalaLink" (ngModelChange)="updateLinkSupport()"
                    [placeholder]="'GEARSETS.COMPARISON.Paste_link_step_title' | translate" nz-input
                    type="text">
                  <ng-template #extraAriyala>
                    @if (importLinkSupported === false) {
                      <i>{{'GEARSETS.Link_not_supported' | translate}}</i>
                    }
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            }
            @if (comparisonType === 'External_gearset') {
              <nz-form-item>
                <nz-form-control [nzValidateStatus]="importLinkSupported === false?'error':null" [nzExtra]="extraExternal">
                  <input [disabled]="loading" [(ngModel)]="externalGearsetLink" (ngModelChange)="updateGearsetLinkSupported()"
                    [placeholder]="'GEARSETS.COMPARISON.Paste_link_step_title' | translate" nz-input
                    type="text">
                  <ng-template #extraExternal>
                    @if (importLinkSupported === false) {
                      <i>{{'GEARSETS.Link_not_supported' | translate}}</i>
                    }
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            }
            @if (comparisonType === 'Personal_gearset') {
              <nz-form-item>
                <nz-select [style.width.%]="100" [disabled]="loading" [(ngModel)]="personalGearset" (ngModelChange)="importLinkSupported = true"
                  [nzPlaceHolder]="'GEARSETS.COMPARISON.Pick_your_gearset' | translate">
                  @for (gearset of myGearsets$ | async; track gearset) {
                    <nz-option [nzValue]="gearset" [nzCustomContent]="true" [nzLabel]="gearset.name">
                      <span [innerHTML]="gearset.job | jobUnicode" class="companion-svg job-icon"></span>
                      {{gearset.name}}
                    </nz-option>
                  }
                </nz-select>
              </nz-form-item>
            }
            <button [disabled]="loading || !importLinkSupported" [nzLoading]="loading" nz-button nzType="primary" (click)="compare()" fxLayout="row"
              fxLayoutAlign="center center">
              <i nz-icon nzType="diff" nzTheme="outline"></i>
              <span>{{'GEARSETS.COMPARISON.Submit' | translate}}</span>
            </button>
          </div>
        }

