<mat-card *ngIf="workshop | async as workshopData">
    <mat-card-header *ngIf="author | async as authorCharacter">
        <img src="{{authorCharacter.avatar}}" alt="" mat-card-avatar routerLink="/profile/{{workshopData.authorId}}">
        <mat-card-title>{{workshopData.name}}</mat-card-title>
        <mat-card-subtitle>{{'WORKSHOP.Created_by' | translate : {name: authorCharacter.name} }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="lists | async as listsData">
        <app-list-panel
            *ngFor="let list of listsData; trackBy: trackByListsFn; let odd = odd"
            [list]="list"
            [readonly]="true"
            [authorUid]="list.authorId"
            [odd]="odd"></app-list-panel>
    </mat-card-content>
</mat-card>
