@import "../../../theme.scss";

:host {
    .even {
        background-color: rgba(123, 123, 123, .2);
    }

    // Item Column Defaults
    [class^=item-col] {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 50%;

        @include client-width('medium') {
            width: 100%;
        }

        .classes {
            width: 150px;
        }

        // Second column
        &.item-col-right {
            justify-content: flex-end;

            > div {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
    }
    .done-check {
        min-width: 40px;
        text-align: center;
    }
    .masterbook {
        text-align: center;
        margin-right: 10px;
    }
    .amount {
        margin-right: 10px;
    }
    .warning {
        margin-left: 3px;
    }
    .classes {
        button {
            display: inline-block;
        }
        .currency {
            width: 32px;
            margin-top: 5px;
        }
        div {
            vertical-align: middle;
            display: inline-block;
            img {
                margin: 0 2px;
            }
            .icon {
                width: 32px;
                border-radius: 32px;
            }
        }
        text-align: center;
    }
    .crafted-by {
        height: 30px;
    }
    .timer {
        margin-right: 10px;
        text-align: center;
        span {
            opacity: .8;
        }
    }
    .icon {
        position: relative;
        margin-right: 10px;
        .yield {
            position: absolute;
            bottom: -2px;
            right: -8px;
        }
    }

    // Mobile specific classes
    .mobile {
        .item-name {
            font-size: 14px;
        }
        .done {
            .amount {
                margin: 0;
            }
            .requirements {
                width: 32px;
                height: 32px;
            }
            .classes {
                display: inline-block;
                margin: 0;
                button {
                    width: 24px;
                    height: 24px;
                }
                .crafted-by {
                    height: 24px;
                }
                .currency {
                    width: 24px;
                    margin: 0;
                }
                .icon {
                    width: 24px;
                    border-radius: 24px;
                }
            }
        }
    }
}
