<div nz-row class="item-row" [class.selected]="isPieceSelected()">
  <div nz-col [nzMd]="nameColSize" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
    <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
      <label nz-checkbox [nzChecked]="isPieceSelected()"
             [nzDisabled]="!canEquip"
             (nzCheckedChange)="setGearsetPiece($event)"></label>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
        <app-item-icon [itemId]="item.ID" [hq]="equipmentPiece.hq" [width]="32 | ifMobile:24"></app-item-icon>
        <div class="ilvl">{{'TOOLTIP.Ilvl' | translate}} {{item.LevelItem}}</div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutGap="10px">
          <div>{{item | xivapiL12n: 'items' | i18n}}</div>
          <nz-switch [(ngModel)]="equipmentPiece.hq"
                     [nzDisabled]="item.CanBeHq === 0"
                     (ngModelChange)="updateHq($event)"
                     [nzCheckedChildren]="'COMMON.Hq' | translate"
                     [nzUnCheckedChildren]="'COMMON.Nq' | translate"></nz-switch>
        </div>
        <div fxLayout="row" (click)="triggerEditMaterias()" class="materias">
          <app-materia-slot-icon *ngFor="let materia of materias; let i = index;"
                                 nz-tooltip
                                 [nzTooltipTitle]="materia === 0 ? null : materia | itemName | i18n"
                                 [equipmentPiece]="equipmentPiece"
                                 [index]="i"></app-materia-slot-icon>
        </div>
      </div>
    </div>
  </div>
  <div nz-col [nzMd]="statColsSize" *ngFor="let stat of stats;let lastStat = last; trackBy: trackByStat" class="item-stat-row" [class.last]="lastStat">
    <span *ngIf="equipmentPiece | stat:stat.id:gearset | async as statValue"
          nz-tooltip
          [nzTooltipTitle]="statValue.bonus === 0 ? null :  statValue.value + ' + ' + statValue.bonus"
          [class.has-bonus]="statValue.bonus > 0">
      {{(statValue.total) > 0 ? (statValue.total) : '-'}}
    </span>
  </div>
</div>
