<div nz-row class="item-row" [class.selected]="isPieceSelected()">
  <div nz-col [nzMd]="nameColSize" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
    <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
      <label nz-checkbox [nzChecked]="isPieceSelected()"
        [nzDisabled]="!canEquip"
      (nzCheckedChange)="setGearsetPiece($event)"></label>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
        <app-item-icon [itemId]="item.itemId" [hq]="equipmentPiece.hq" [width]="32 | ifMobile:24"></app-item-icon>
        <div class="ilvl">{{'TOOLTIP.Ilvl' | translate}} {{item.ilvl}}</div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutGap="10px">
          <div>{{item | i18n}}</div>
          <nz-switch [(ngModel)]="equipmentPiece.hq"
            [nzDisabled]="(item.itemId | lazyRow:'hqFlags' | async) === 0"
            (ngModelChange)="updateHq($event)"
            [nzCheckedChildren]="'COMMON.Hq' | translate"
          [nzUnCheckedChildren]="'COMMON.Nq' | translate"></nz-switch>
        </div>
        <div fxLayout="row" (click)="triggerEditMaterias()" class="materias">
          @for (materia of materias; track i; let i = $index) {
            <app-materia-slot-icon
              nz-tooltip
              [nzTooltipTitle]="materia === 0 ? null : materia | itemName | i18n"
              [equipmentPiece]="equipmentPiece"
            [index]="i"></app-materia-slot-icon>
          }
        </div>
      </div>
    </div>
  </div>
  @for (stat of stats; track trackByStat($index, stat); let lastStat = $last) {
    <div nz-col [nzMd]="statColsSize" class="item-stat-row" [class.last]="lastStat">
      @if (equipmentPiece | stat:stat.id:gearset | async; as statValue) {
        <span
          nz-tooltip
          [nzTooltipTitle]="statValue.bonus === 0 ? null :  statValue.value + ' + ' + statValue.bonus"
          [class.has-bonus]="statValue.bonus > 0">
          {{(statValue.total) > 0 ? (statValue.total) : '-'}}
        </span>
      }
    </div>
  }
</div>
