.crafted-by {
  height: 25px;
  vertical-align: middle;
}

.mat-list-item {
  margin-bottom: 10px;

  &:hover {
    background: rgba(175, 175, 175, 0.04);
    cursor: pointer;
  }
}

.mat-divider {
  margin-top: 20px;
}
