<nz-divider nzOrientation="left" [nzText]="title">
  <ng-template #title>
    <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
      <div>{{'MAPPY.Dashboard' | translate}}</div>
      <div>
        <button nz-button nzSize="small" nzShape="circle" (click)="reloader$.next()">
          <i nz-icon nzType="reload" nzTheme="outline"></i>
        </button>
      </div>
    </div>
  </ng-template>
</nz-divider>

<div fxLayout="row" fxLayoutAlign="center center" class="missing-nodes-toggle" fxLayoutGap="5px">
  <nz-switch [ngModel]="onlyMissingNodes$ | async" (ngModelChange)="onlyMissingNodes$.next($event)"></nz-switch>
  <div>{{'MAPPY.Only_missing_nodes' | translate}}</div>
</div>

<div *ngIf="display$ | async as maps" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center flex-start">
  <div *ngFor="let map of maps">
    <nz-card [nzCover]="cover" [nzActions]="[openAction]">
      <ng-template #cover>
        <img [src]="map.image" alt="" class="map-cover">
      </ng-template>
      <nz-card-meta [nzTitle]="title" [nzDescription]="description">
        <ng-template #title>
          <i>{{map.id}}</i> - {{map.id | mapName | i18n}}
        </ng-template>
        <ng-template #description>
          <nz-tag class="custom-tag" [style.border-color]="map.updates?.BNPC && !map.old.BNPC ? '#87d068' : '#f50'">
            <span class="companion-svg">&#x0F202;</span>
            {{map.updates?.BNPC ? (map.updates?.BNPC * 1000 | date:'medium':null:translate.currentLang) : 'COMMON.Never' | translate}}
          </nz-tag>
          <nz-tag class="custom-tag" [style.border-color]="map.updates?.Node && !map.old.Node ? '#87d068' : '#f50'">
            <span class="companion-svg">&#x0F016;</span>
            {{map.updates?.Node ? (map.updates?.Node * 1000 | date:'medium':null:translate.currentLang) : 'COMMON.Never' | translate}}
          </nz-tag>
          <nz-tag [nzColor]="'#f50'" *ngIf="map.missingNodes > 0">{{'MAPPY.X_Missing_nodes' | translate:{ amount: map.missingNodes } }}</nz-tag>
        </ng-template>
        <ng-template #openAction>
          <a routerLink="/mappy/{{map.id}}">{{'MAPPY.Open_details' | translate}}</a>
        </ng-template>
      </nz-card-meta>
    </nz-card>
  </div>
</div>
