<p>
  {{'LIST.COMPLETION_POPUP.Content' | translate}}
</p>
<div fxLayout="row wrap" fxLayoutGap="5px">
  <button nz-button nzType="danger" nz-popconfirm [nzTitle]="'Confirmation' | translate" (nzOnConfirm)="clearList()">
    {{'LIST.COMPLETION_POPUP.Clear' | translate}}
  </button>
  <button nz-button nzType="danger" nz-popconfirm [nzTitle]="'Confirmation' | translate" (nzOnConfirm)="deleteList()">
    {{'LIST.COMPLETION_POPUP.Delete' | translate}}
  </button>
  <button nz-button nzType="primary" nz-popconfirm [nzTitle]="'Confirmation' | translate" (nzOnConfirm)="resetList()">
    {{'LIST.COMPLETION_POPUP.Reset' | translate}}
  </button>
  <button nz-button (click)="close()">
    {{'LIST.COMPLETION_POPUP.Nothing' | translate}}
  </button>
</div>
