<p>
  {{'LIST.COMPLETION_POPUP.Content' | translate}}
</p>
<div fxLayout="column" fxLayoutGap="5px">
  <button nzBlock (nzOnConfirm)="deleteList()" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button nz-popconfirm nzType="primary">
    <span nz-icon nzType="delete" nzTheme="outline"></span> {{'LIST.COMPLETION_POPUP.Delete' | translate}} ({{'COMMON.Recommended' | translate | lowercase}})
  </button>
  <button nzBlock (nzOnConfirm)="clearList()" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button nz-popconfirm>
    <span nz-icon nzType="clear" nzTheme="outline"></span> {{'LIST.COMPLETION_POPUP.Clear' | translate}}
  </button>
  <button nzBlock (nzOnConfirm)="archiveList()" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button nz-popconfirm>
    <span nz-icon nzType="file-zip" nzTheme="outline"></span> {{'LIST.COMPLETION_POPUP.Archive' | translate}}
  </button>
  <button nzBlock (nzOnConfirm)="resetList()" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button nz-popconfirm>
    <i nz-icon nzType="reload"></i> {{'LIST.COMPLETION_POPUP.Reset' | translate}}
  </button>
  <button nzBlock (click)="close()" nz-button>
    {{'LIST.COMPLETION_POPUP.Nothing' | translate}}
  </button>
</div>
