@import "../../../../common";

nz-card {
  @media @mobile {
    padding: 12px;
  }

  .ant-card-head {
    padding: 0 12px;

    .ant-card-head-title {
      padding: 8px 0;
    }
  }
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.tag-filter-select {
  min-width: 100px;
}
