<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <div>
      {{'CUSTOM_ITEMS.IMPORT.Format' | translate}}:
    </div>
    <nz-select [(ngModel)]="format">
      <nz-option [nzValue]="'TC'" nzLabel="Teamcraft">
      </nz-option>
    </nz-select>
  </div>
  <ng-container *ngIf="folders$ | async as folders">
    <div *ngIf="folders.length > 0" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div>
        {{'CUSTOM_ITEMS.IMPORT.Folder' | translate}}:
      </div>
      <nz-select [(ngModel)]="folder" [nzPlaceHolder]="'CUSTOM_ITEMS.IMPORT.No_folder' | translate" class="folder-select"
                 nzAllowClear>
        <nz-option *ngFor="let folder of folders" [nzLabel]="folder.name" [nzValue]="folder"></nz-option>
      </nz-select>
    </div>
  </ng-container>
  <nz-upload
    *ngIf="!hideUpload"
    [nzAccept]="getAccept()"
    [nzCustomRequest]="handleFile"
    nzType="drag">
    <div class="upload-content">
      <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
      </p>
      <p class="ant-upload-text">{{'CUSTOM_ITEMS.IMPORT.Drag_or_click' | translate}}</p>
    </div>
  </nz-upload>
  <div *ngIf="hideUpload && !error" class="state">
    <nz-spin *ngIf="state === 'PARSING'" [nzTip]="'CUSTOM_ITEMS.IMPORT.Parsing_file' | translate"
             class="spin"></nz-spin>
    <div *ngIf="state === 'SAVING'">
      <div>{{'CUSTOM_ITEMS.IMPORT.Saving_items' | translate:{ done: savingDone, todo: totalSaving } }}</div>
      <nz-progress [nzPercent]="(100 * savingDone / totalSaving) | number:'1.0-0'" class="progress"
                   nzStatus="active"></nz-progress>
    </div>
  </div>
  <nz-alert *ngIf="error" [nzDescription]="errorDetails" [nzMessage]="error | translate" nzShowIcon
            nzType="error"></nz-alert>
</div>
