<div class="input-container">
    <md-input-container>
        <md-icon mdPrefix>search</md-icon>
        <input class="filter" mdInput i18n-placeholder placeholder="Recipe name" #filter>
    </md-input-container>
</div>
<md-divider></md-divider>
<md-list>

    <span *ngIf="(recipes | async)?.length > 0">
            <md-list-item *ngFor="let recipe of recipes | async">
                <img md-list-avatar src="{{recipe.icon}}" alt="{{recipe.item_name}}">
                <h4 md-line>{{recipe.item_name}}</h4>
                <p md-line>{{recipe.class_name}} {{recipe.level_view}} <span [innerHtml]="recipe.stars_html"></span></p>
                <md-menu #appMenu="mdMenu">
                    <button md-menu-item (click)="addToNewList(recipe)"><md-icon>add</md-icon><span i18n>New List</span></button>
                    <button md-menu-item *ngFor="let list of lists | async"
                            (click)="addRecipe(recipe, list, list.$key)"><md-icon>playlist_play</md-icon><span>{{list.name}}</span></button>
                </md-menu>
                <button md-icon-button [mdMenuTriggerFor]="appMenu">
                    <md-icon>playlist_add</md-icon>
                </button>
            </md-list-item>
        </span>
    <div *ngIf="(recipes | async)?.length === 0 || (recipes | async) === null">
        <h4 class="no-recipe" i18n>No matching recipe</h4>
    </div>
</md-list>
