<div class="flex-column gap-10">
  @if (details.type !== -10) {
    <div class="flex-row align-center flex-auto justify-center">
      lvl {{details.level}}{{details.stars_tooltip}}
    </div>
  }
  <div class="flex-column gap-10">
    @for (node of details.nodes; track node; let last = $last) {
      <div class="flex-column gap-5">
        @if (node.video) {
          <div class="flex-row justify-center">
            <iframe width="300" height="169" [src]="node.video | tcYoutubeEmbed | nzSanitizer:'resourceUrl'" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    title="Youtube guide"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        }
        @if (node.id > 0) {
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <div [innerHTML]="node.zoneId | i18nRow:'places' | i18n | nzSanitizer:'html'"></div>
            <div>
              @switch (node.type) {
                @case (-5) {
                  <app-db-button [id]="node.id" type="fishing-spot"></app-db-button>
                }
                @case (4) {
                  <app-db-button [id]="node.id" type="spearfishing-spot"></app-db-button>
                }
                @default {
                  <app-db-button [id]="node.id" type="node"></app-db-button>
                }
              }
            </div>
          </div>
        }
        <div class="flex-column">
          <app-node-details [node]="node" [showAlarmsIntegration]="showAlarmsIntegration" [hideDbButton]="true"></app-node-details>
          @if (node.baits !== undefined) {
            <ng-container fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
              <app-fishing-bait [baits]="node.baits" flex="row"></app-fishing-bait>
            </ng-container>
          }
          @if (node.tug !== undefined) {
            <nz-tag>{{'DB.FISH.TUG.' + ['Medium', 'Big', 'Light'][node.tug] | translate}}</nz-tag>
          }
          @if (node.predators && node.predators.length > 0) {
            <div fxLayout="row" fxLayoutAlign="flex-start center"
              fxLayoutGap="10px">
              <img [nzTooltipTitle]="'GATHERING_LOCATIONS.Predators' | translate" alt="" nz-tooltip
                src="./assets/icons/status/predators.png">
                @for (predator of node.predators; track predator) {
                  <div fxLayout="row" fxLayoutAlign="flex-start center"
                    fxLayoutGap="5px">
                  <div>{{predator.amount}}x</div>
                  <app-item-icon [itemId]="predator.id" [width]="32"></app-item-icon>
                </div>
              }
            </div>
          }
        </div>
        @if (node.speed !== undefined) {
          <div>
            {{'ALLAGAN_REPORTS.Speed' | translate}}: {{('ALLAGAN_REPORTS.SPEEDS.' + SpearfishingSpeed[node.speed]) | translate}}
            <app-spearfishing-speed [speed]="node.speed"></app-spearfishing-speed>
          </div>
        }
        @if (node.shadowSize !== undefined) {
          <div>
            {{'ALLAGAN_REPORTS.Shadow_size' | translate}}: {{('ALLAGAN_REPORTS.SHADOWS.' + SpearfishingShadowSize[node.shadowSize]) | translate}}
          </div>
        }
        @if (node.minGathering) {
          <div>
            {{'DB.FISH.Min_gathering' | translate}}:&nbsp;{{node.minGathering}}
          </div>
        }
        <div fxLayout="row" fxLayoutAlign="center center">
          @if (node) {
            <app-map [mapId]="node.map"
            [markers]="[{x:node.x,y: node.y,iconImg: node.type | nodeTypeIcon: node.limited,iconType: 'img', radius: node.radius}]"></app-map>
          }
        </div>
        @if (!last) {
          <nz-divider></nz-divider>
        }
      </div>
    }
  </div>
</div>
