<h2 md-dialog-title>{{data.id | itemName | i18n}}</h2>
<div md-dialog-content>
    <md-list>
        <md-list-item *ngFor="let node of data.gatheredBy.nodes">
            <md-icon md-list-icon>location_on</md-icon>
            <b md-line>
                {{node.zoneid | placeName | i18n}}
            </b>
            <p md-line>
                {{node.areaid | placeName | i18n}}
            </p>
            <md-chip-list>
                <md-chip *ngIf="node.limitType !== undefined" selected="true" color="primary">
                    {{node.limitType | i18n}}
                </md-chip>
            </md-chip-list>
            <p md-line *ngIf="node.coords !== undefined">
                X:{{node.coords[0]}} Y:{{node.coords[1]}}
            </p>
            <p md-line *ngIf="node.x !== undefined && node.y !== undefined">
                X:{{node.x}} Y:{{node.y}}
            </p>
            <span>
            <b md-line *ngIf="node.slot !== undefined" selected="true" color="accent">Slot:{{node.slot}}</b>
            <span md-line *ngIf="node.time !== undefined">
                <i md-line *ngFor="let time of node.time">{{time}} - {{time + (node.uptime / 60)}}</i>
            </span>
        </span>
        </md-list-item>
    </md-list>
</div>
