.candidates-card {
    margin-top: 10px;
    .no-candidates {
        font-size: 25px;
        opacity: .7;
    }
}

.right-header {
    display: flex;
    align-items: center;
    .price {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}

.hire-button {
    width: auto;
    margin-left: 10px;
}

.mat-card-header-text {
    width: auto !important;
}

.card-actions {
    display: flex;
}

.card-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .payment-block {
        display: flex;
        flex-direction: column;
        .payment-history {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .payment-date {
                opacity: .8;
            }
            .total {
                align-self: flex-end;
                .total-row {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
    }
}

.item-name {
    display: flex;
    align-items: center;
}

.crafter-container {
    flex: 1 1 auto;
    .crafter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        > span {
            margin-right: 10px;
        }
    }
}

.candidates {
    margin-bottom: 20px;
}
