@import "../../../../theme";

.toolbar {
  display: flex;
  align-items: center;
  .right-toolbar {
    > button {
      margin-right: 5px;
    }
  }
}

.empty-group {
  ::ng-deep .ant-collapse-content-box {
    padding: 4px !important;
  }
}

.panel-drop-zone {
  min-height: 30px;
}

.panel-title {
  display: flex;
  align-items: center;
  padding-right: 12px;
  > button {
    margin-left: 5px;
  }
}

.card-title {
  display: flex;
  align-items: center;
  .node-type {
    width: 32px;
  }
}

.folklore {
  width: 32px;
  border-radius: 50%;
}

.alarm-note {
  display: flex;
  > button {
    margin-left: 4px;
    flex-shrink: 0;
  }
}

.note-button {
  float: right;
}

.alarms-container {
  min-height: 30px;
  width: 100%;
  border: 1px dashed rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  .ant-card {
    max-width: 475px;
    margin: 4px;
    &.spawned {
      background-color: fade(@text-color, 30%);
    }
    &.played {
      background-color: fade(@text-color, 10%);
    }
  }
  .ant-card-loading {
    width: 475px;
    @media only screen and (max-width: 600px) {
      width: 85vw;
    }
  }
}

.alarms {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.panel-container {
  .alarm-group-panel {
    width: 100%;
    .alarm-card-container {
      width: auto;
    }
  }
}

.drag-hint-border {
  border: 1px dashed @text-color;
}
