<div *ngIf="loaded$ | async; else loading">
  <div *ngIf="display$ | async as display">
    <div class="toolbar">
      <div class="right-toolbar" fxLayout="row" fxLayoutGap="5px">
        <a nz-button nz-tooltip nzShape="circle" nzTooltipTitle="{{'ALARMS.Add_alarm' | translate}}" nzType="primary"
           routerLink="/gathering-location">
          <i nz-icon nzType="bell"></i>
        </a>
        <button (click)="createGroup(display.groupedAlarms.length)" nz-button nz-tooltip nzShape="circle" nzTooltipTitle="{{'ALARMS.New_group' | translate}}"
                nzType="primary">
          <i nz-icon nzType="folder-add"></i>
        </button>
        <button (click)="regenerateAlarms()" nz-button nz-tooltip nzShape="circle" nzTooltipTitle="{{'ALARMS.Regenerate' | translate}}"
                nzType="primary">
          <i nz-icon nzType="cloud-sync" nzTheme="outline"></i>
        </button>
        <button (click)="showSettings()" tutorialStep="TUTORIAL.ALARMS.Settings" tutorialStepIndex="0" nz-button nz-tooltip nzShape="circle"
                nzTooltipTitle="{{'Timer_options' | translate}}">
          <i nz-icon nzType="setting"></i>
        </button>
        <button (click)="newCustomAlarm()" tutorialStep="TUTORIAL.ALARMS.Custom" tutorialStepIndex="1" nz-button nz-tooltip nzShape="circle"
                nzTooltipTitle="{{'ALARMS.CUSTOM.Title' | translate}}">
          <i nz-icon nzType="form"></i>
        </button>
        <button (nzOnConfirm)="deleteAllAlarms()"
                nz-button
                nz-popconfirm [nzPopconfirmTitle]="'Confirmation' | translate"
                nz-tooltip nzShape="circle"
                nzTooltipTitle="{{'ALARMS.Delete_all' | translate}}"
                nzDanger>
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </div>
      <div class="spacer"></div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <button (click)="openOverlay()" *ngIf="platform.isDesktop()" nz-button nz-tooltip nzShape="circle"
                nzTooltipTitle="{{'ALARMS.Open_overlay' | translate}}" nzType="primary">
          <i nz-icon nzType="desktop"></i>
        </button>
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <nz-switch [(ngModel)]="settings.alarmsMuted"></nz-switch>
            <div>{{'Mute_alarms' | translate}} </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="flex-start center" tutorialStep="TUTORIAL.ALARMS.Compact" tutorialStepIndex="2" fxLayoutGap="5px">
            <nz-switch [(ngModel)]="settings.compactAlarms"></nz-switch>
            <div>{{'Compact_display' | translate}} </div>
          </div>
        </div>
      </div>
    </div>

    <div class="alarms" [fxLayout]="settings.alarmGroupsBeforeNoGroup ? 'column-reverse' : 'column'">
      <div class="alarms-container" fxLayout="row wrap" fxLayoutGap="5px">
        <ng-container *ngTemplateOutlet="alarmsDisplay;context:{$implicit: display.noGroup}"></ng-container>
      </div>
      <ng-container *ngIf="activePanels$ | async as activePanels">
      <div (onDrop)="setGroupIndex(0, $event.dragData.group, display.groupedAlarms)" class="panel-drop-zone" dropScope="group"
           droppable></div>
      <div *ngFor="let group of display.groupedAlarms; trackBy: trackByGroup; let i = index" class="panel-container">
        <nz-collapse>
          <nz-collapse-panel [class.empty-group]="group.alarms.length === 0" [dragData]="group"
                             [nzActive]="activePanels[group.group.$key] || (activePanels[group.group.$key] === undefined && !group.group.muted)"
                             (nzActiveChange)="setPanelActive(group.group.$key, $event)"
                             [nzHeader]="panelTitle"
                             class="alarm-group-panel"
                             dragScope="group"
                             draggable>
            <div (onDrop)="setAlarmGroup($event.dragData, group.group.$key)" class="alarms-container" dropScope="alarm"
                 droppable
                 fxLayout="row wrap"
                 fxLayoutGap="5px">
              <ng-container *ngTemplateOutlet="alarmsDisplay;context:{$implicit: group.alarms, group: group.group}"></ng-container>
            </div>
          </nz-collapse-panel>
          <ng-template #panelTitle>
            <div class="panel-title" fxLayout="row wrap" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
              <div class="group-name">
                {{group.group.name}}
              </div>
              <button (click)="$event.stopPropagation()"
                      [clipboard]="getGroupLink(group.group.$key)"
                      [clipboardFnArgs]="[group.group.$key]"
                      [clipboardSuccessMessage]="'ALARMS.Group_link_copied' | translate"
                      nz-button
                      nzType="primary"
                      nzShape="circle"
                      nzSize="small">
                <i nz-icon nzType="share-alt"></i>
              </button>
              <button (click)="$event.stopPropagation();renameGroup(group.group)" nz-button nzGhost nzShape="circle"
                      nzSize="small">
                <i nz-icon nzType="edit"></i>
              </button>
              <button (click)="$event.stopPropagation();"
                      [nzDropdownMenu]="menu"
                      nz-button
                      nz-dropdown
                      nzGhost
                      nzTrigger="click"
                      nzDanger
                      nzShape="circle" nzSize="small"
              >
                <i nz-icon nzType="delete"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>
                    <a (nzOnConfirm)="deleteGroup(group.group)"
                       [nzPopconfirmTitle]="'ALARMS.Confirm_group_delete' | translate"
                       nz-popconfirm
                    >
                      {{'ALARMS.Delete_group' | translate}}
                    </a>
                  </li>
                  <li nz-menu-item>
                    <a (nzOnConfirm)="deleteGroupAndAlarms(group.group, group.alarms)"
                       [nzPopconfirmTitle]="'ALARMS.Confirm_group_delete_with_alarms' | translate"
                       nz-popconfirm
                    >
                      {{'ALARMS.Delete_group_and_alarms' | translate}}
                    </a>
                  </li>
                </ul>
              </nz-dropdown-menu>
              <button (click)="$event.stopPropagation(); addAlarmsToGroup(group.group)" [nzShape]="'circle'"
                      [nzTooltipTitle]="'ALARMS.Add_alarms_to_group' | translate"
                      [nzType]="'primary'" nz-button nz-tooltip
                      nzSize="small">
                <i nz-icon nzType="plus"></i>
              </button>
              <div class="spacer"></div>
              <nz-switch (click)="$event.stopPropagation();"
                         [(ngModel)]="group.group.enabled"
                         (ngModelChange)="updateGroupMuteState(group.group)"></nz-switch>
            </div>
          </ng-template>
        </nz-collapse>
        <div (onDrop)="setGroupIndex(i, $event.dragData.group, display.groupedAlarms)" class="panel-drop-zone" dropScope="group"
             droppable></div>
      </div>
      </ng-container>
    </div>
    <app-fullpage-message *ngIf="display.noGroup.length === 0 && display.groupedAlarms.length === 0" height="300px">
      {{'ALARMS.No_alarm' | translate}}
    </app-fullpage-message>
  </div>
</div>

<ng-template #loading>
  <app-page-loader></app-page-loader>
</ng-template>

<ng-template #alarmsDisplay let-alarms let-group="group">
  <ng-template #compactAlarmsTpl>
    <ng-container *ngTemplateOutlet="compactAlarms;context:{$implicit: group}"></ng-container>
  </ng-template>
  <ng-container *ngIf="!settings.compactAlarms; else compactAlarmsTpl">
    <ng-container *ngFor="let row of alarms; trackBy: trackByAlarm">
      <div [dragData]="row.alarm" class="alarm-card-container" dragScope="alarm" draggable fxFlex="1 1 20%"
           fxFlex.lt-md="1 1 auto">
        <nz-card [class.disabled]="!row.alarm.enabled"
                 [class.played]="row.played  && !row.spawned"
                 [class.spawned]="row.spawned"
                 [nzActions]="group ? [deleteAlarmTpl, removeFromGroup, copyMacro] : [deleteAlarmTpl, copyMacro]"
                 [nzCover]="row.alarm.mapId > 0 ? map : null"
                 class="alarm-card"
                 fxLayout="column">
          <nz-card-meta [nzAvatar]="itemIcon | ifMobile: null" [nzDescription]="cardDescription" [nzTitle]="cardTitle">
          </nz-card-meta>
          <ng-template #itemIcon>
            <div fxLayout="column" fxLayoutAlign="center center">
              <app-item-icon *ngIf="row.alarm.itemId; else customAlarmIcon" [icon]="row.alarm.itemId | lazyIcon"
                             [itemId]="row.alarm.itemId" [width]="32"></app-item-icon>
              <ng-template #customAlarmIcon>
                <nz-avatar [nzText]="row.alarm.name?row.alarm.name[0]:'?'"></nz-avatar>
              </ng-template>
              <nz-switch (click)="$event.stopPropagation();"
                         [(ngModel)]="row.alarm.enabled"
                         (ngModelChange)="alarmsFacade.updateAlarm(row.alarm)"
                         nzSize="small"></nz-switch>
            </div>
          </ng-template>
        </nz-card>
        <ng-template #cardTitle>
          <div class="card-title" fxLayout="row">
            <div class="name-slot-container" fxLayout="row">
          <span *ngIf="row.alarm.itemId; else customName" class="alarm-item-name"
                fxFlex="1 1 auto">{{row.alarm.itemId | itemName | i18n}}</span>
              <ng-template #customName>
                <span class="alarm-item-name" fxFlex="1 1 auto">{{row.alarm.name}}</span>
              </ng-template>
              <span *ngIf="row.alarm.slot" fxFlex="0 0 auto">({{row.alarm.slot}})</span>
            </div>
            <app-gathering-item-uses [itemId]="row.alarm.itemId"></app-gathering-item-uses>
            <img *ngIf="row.alarm.type !== null && row.alarm.type !== undefined" alt="" class="node-type" src="{{row.alarm.type | nodeTypeIcon: true}}">
          </div>
        </ng-template>
        <ng-template #cardDescription>
          <div fxLayout="row" fxLayoutGap="5px" *ngIf="row.alarm.ephemeral">
            <div>
              <i [nzTooltipTitle]="'GATHERING_LOCATIONS.Ephemeral_node' | translate" nz-icon nz-tooltip
                 nzType="clock-circle"></i>
            </div>
            <div>
              <i nz-icon *ngIf="row.alarm.ephemeral" nz-tooltip [nzTooltipTitle]="'GATHERING_LOCATIONS.Ephemeral_warning' | translate" nzType="warning"
                 nzTheme="outline"></i>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <app-map-position *ngIf="row.alarm.mapId > 0"
                              [mapId]="row.alarm.mapId"
                              [marker]="{x: row.alarm.coords.x, y: row.alarm.coords.y, iconType: 'img', iconImg: row.alarm.type ? (row.alarm.type | nodeTypeIcon: true) : null}"
                              [zoneId]="row.alarm.zoneId"></app-map-position>
            <app-db-button [type]="row.dbType" [id]="row.alarm.nodeId"></app-db-button>
            <app-item-icon *ngIf="row.alarm.folklore !== undefined" [itemId]="row.alarm.folklore" [width]="32"></app-item-icon>
            <img *ngIf="row.alarm.fishEyes" [nzTooltipTitle]="'GATHERING_LOCATIONS.Fish_eyes' | translate" alt="" nz-tooltip
                 src="./assets/icons/status/fish_eyes.png">
            <img *ngIf="row.alarm.snagging" [nzTooltipTitle]="'GATHERING_LOCATIONS.Snagging' | translate" alt="" nz-tooltip
                 src="./assets/icons/status/snagging.png">
          </div>
          <div>{{row.alarm.mapId | mapName | i18n}}</div>
          <div *ngIf="row.alarm.mapId | closestAetheryte:row.alarm.coords | async as aetheryte">
            {{aetheryte.nameid | i18nRow:'places' | i18n}}
          </div>
          <div>
            <span *ngFor="let spawn of row.alarm.spawns; last as last">
              {{spawn}}:00 - {{(spawn + row.alarm.duration) % 24}}:00<span *ngIf="!last">,&nbsp;</span>
            </span>
          </div>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <div [timerTooltip]="row.remainingTime">{{row.remainingTime | timer}}</div>
            <div *ngIf="row.alarm.nodeContent" [nzPopoverContent]="nodeContent"
                 [nzPopoverTitle]="'ALARMS.Node_content' | translate"
                 nz-popover>
              <ng-template #nodeContent>
                <ul>
                  <li *ngFor="let item of row.alarm.nodeContent">
                    {{(item.id || item) | itemName | i18n}} <span *ngIf="item.slot">({{item.slot}})</span>
                  </li>
                </ul>
              </ng-template>
              <i nz-icon nzType="question-circle" theme="outline">
              </i>
            </div>
          </div>
          <br>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <ng-container *ngIf="row.alarm.weathersFrom && row.alarm.weathersFrom.length > 0">
              <div fxLayout="row wrap" fxLayoutGap="5px">
                <div *ngFor="let weather of row.alarm.weathersFrom">
                  <img [nzTooltipTitle]="weather | i18nRow:'weathers' | i18n" [src]="weather | weatherIcon" alt="{{weather | i18nRow:'weathers' | i18n}}"
                       nz-tooltip>
                </div>
              </div>
              <div>
                <i nz-icon nzType="right" theme="outline"></i>
              </div>
            </ng-container>
            <div fxLayout="row wrap" fxLayoutGap="5px">
              <div *ngFor="let weather of row.alarm.weathers">
                <img [nzTooltipTitle]="weather | i18nRow:'weathers' | i18n" [src]="weather | weatherIcon" alt="{{weather | i18nRow:'weathers' | i18n}}"
                     nz-tooltip>
              </div>
            </div>
          </div>
          <div *ngIf="row.alarm.baits !== undefined" class="baits">
            <app-fishing-bait [baits]="row.alarm.baits"></app-fishing-bait>
          </div>
          <img *ngIf="row.alarm.hookset" [nzTooltipTitle]="row.alarm.hookset | hooksetActionId | actionName | i18n" class="gig-icon" nz-tooltip
               [src]="row.alarm.hookset | hooksetActionId | actionIcon | xivapiIcon">
          <div *ngIf="row.alarm.predators && row.alarm.predators.length > 0" fxLayout="row" fxLayoutAlign="flex-start center"
               fxLayoutGap="10px">
            <img [nzTooltipTitle]="'GATHERING_LOCATIONS.Predators' | translate" alt="" nz-tooltip
                 src="./assets/icons/status/predators.png">
            <div *ngFor="let predator of row.alarm.predators" fxLayout="row" fxLayoutAlign="flex-start center"
                 fxLayoutGap="5px">
              <div>{{predator.amount}}x</div>
              <app-item-icon [icon]="predator.id | lazyIcon" [itemId]="predator.id" [width]="32"></app-item-icon>
            </div>
          </div>
          <button (click)="addNote(row.alarm)" *ngIf="row.alarm.note === undefined || row.alarm.note.length === 0; else note" class="note-button"
                  nz-button nz-tooltip
                  nzGhost nzShape="circle" nzSize="small" nzTooltipTitle="{{'ALARMS.Add_note' | translate}}">
            <i nz-icon nzType="file-add"></i>
          </button>
          <ng-template #note>
            <div class="alarm-note">
              <div>{{row.alarm.note}}</div>
              <button (click)="editNote(row.alarm)" nz-button nz-tooltip
                      nzGhost nzShape="circle"
                      nzSize="small" nzTooltipTitle="{{'Edit' | translate}}">
                <i nz-icon nzType="edit"></i>
              </button>
            </div>
          </ng-template>
        </ng-template>
        <ng-template #map>
          <app-map *ngIf="row.alarm.mapId > 0" [mapId]="row.alarm.mapId"
                   [markers]="[{x: row.alarm.coords.x, y: row.alarm.coords.y, iconType: 'img', iconImg: row.alarm.type ? (row.alarm.type | nodeTypeIcon: true) : null}]"></app-map>
        </ng-template>
        <ng-template #deleteAlarmTpl>
          <i (nzOnConfirm)="deleteAlarm(row.alarm)" [nzTooltipTitle]="'ALARMS.Delete_alarm' | translate" nz-tooltip
             [nzPopconfirmTitle]="'Confirmation' | translate" nz-icon nz-popconfirm
             nzType="delete"></i>
        </ng-template>
        <ng-template #removeFromGroup>
          <span [nzTooltipTitle]="'ALARMS.Remove_from_group' | translate" nz-tooltip>
              <i nz-icon nzType="close" (nzOnConfirm)="removeAlarmFromGroup(row.alarm.$key, group)" nz-popconfirm
                 [nzPopconfirmTitle]="'Confirmation' | translate"></i>
          </span>
        </ng-template>
        <ng-template #copyMacro>
          <i [clipboard]="getIngameAlarmMacro"
             [clipboardFnArgs]="[row]"
             [clipboardSuccessMessage]="'ALARMS.Macro_copied' | translate"
             nz-icon nz-tooltip
             nzTooltipTitle="{{'SIMULATOR.Generate_ingame_macro' | translate}}"
             nzType="copy"></i>
        </ng-template>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #compactAlarms let-group>
    <div class="compact-alarms" fxLayout="column">
      <div *ngFor="let row of alarms; let last = last; trackBy: trackByAlarm" [class.disabled]="!row.alarm.enabled"
           [class.played]="row.played  && !row.spawned" [class.spawned]="row.spawned"
           [class.with-border]="!last && alarms.length > 0"
           [dragData]="row.alarm"
           class="compact-alarm-row" dragScope="alarm" draggable
           fxLayout="row"
           fxLayoutAlign="flex-start center"
           nz-row>
        <div nz-col nzMd="4">
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <nz-switch (click)="$event.stopPropagation();"
                       [(ngModel)]="row.alarm.enabled"
                       (ngModelChange)="alarmsFacade.updateAlarm(row.alarm)"
                       nzSize="small"></nz-switch>
            <app-item-icon *ngIf="row.alarm.itemId; else customAlarmIcon"
                           [itemId]="row.alarm.itemId" [width]="32"></app-item-icon>
            <ng-template #customAlarmIcon>
              <nz-avatar [nzText]="row.alarm.name?row.alarm.name[0]:'?'"></nz-avatar>
            </ng-template>
            <div class="text-col">
              <span *ngIf="row.alarm.itemId; else customName">{{row.alarm.itemId | itemName | i18n}}</span>
              <ng-template #customName>
                <span>{{row.alarm.name}}</span>
              </ng-template>
            </div>
          </div>
        </div>
        <div nz-col nzMd="1" fxLayout="row wrap">
          <app-gathering-item-uses [itemId]="row.alarm.itemId" [compact]="true"></app-gathering-item-uses>
          <img *ngIf="row.alarm.type !== undefined" alt="" class="node-type-compact"
               src="{{row.alarm.type | nodeTypeIcon: true}}">
          <div fxLayout="row" fxLayoutGap="5px" *ngIf="row.alarm.ephemeral">
            <div>
              <i [nzTooltipTitle]="'GATHERING_LOCATIONS.Ephemeral_node' | translate" nz-icon nz-tooltip
                 nzType="clock-circle"></i>
            </div>
            <div>
              <i nz-icon *ngIf="row.alarm.ephemeral" nz-tooltip [nzTooltipTitle]="'GATHERING_LOCATIONS.Ephemeral_warning' | translate" nzType="warning"
                 nzTheme="outline"></i>
            </div>
          </div>
          <img *ngIf="row.alarm.fishEyes" [src]="762 | lazyRow:'statuses':'icon' | async | xivapiIcon" alt="" class="fish-eyes" nz-tooltip
               [nzTooltipTitle]="'GATHERING_LOCATIONS.Fish_eyes' | translate">

          <img *ngIf="row.alarm.hookset" [nzTooltipTitle]="row.alarm.hookset | hooksetActionId | actionName | i18n" class="compact-gig-icon" nz-tooltip
               [src]="row.alarm.hookset | hooksetActionId | actionIcon | xivapiIcon">
          <app-item-icon *ngIf="row.alarm.folklore !== undefined" [itemId]="row.alarm.folklore" [width]="32"></app-item-icon>
          <img *ngIf="row.alarm.snagging" [nzTooltipTitle]="'GATHERING_LOCATIONS.Snagging' | translate" alt="" nz-tooltip
               src="./assets/icons/status/snagging.png">
        </div>
        <div nz-col nzMd="2">
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <div [timerTooltip]="row.remainingTime">{{row.remainingTime | timer}}</div>
            <div *ngIf="row.alarm.nodeContent" [nzPopoverContent]="nodeContent"
                 [nzPopoverTitle]="'ALARMS.Node_content' | translate"
                 nz-popover>
              <ng-template #nodeContent>
                <ul>
                  <li *ngFor="let item of row.alarm.nodeContent">
                    {{(item.id || item) | itemName | i18n}} <span *ngIf="item.slot">({{item.slot}})</span>
                  </li>
                </ul>
              </ng-template>
              <i nz-icon nzType="question-circle" theme="outline">
              </i>
            </div>
          </div>
        </div>
        <div *ngIf="row.alarm.baits !== undefined || row.alarm.predators && row.alarm.predators.length > 0" nz-col
             nzMd="3">
          <div *ngIf="row.alarm.baits !== undefined" class="baits">
            <app-fishing-bait [baits]="row.alarm.baits" [hideNames]="true" flex="row"></app-fishing-bait>
          </div>
          <div *ngIf="row.alarm.predators && row.alarm.predators.length > 0" fxLayout="row" fxLayoutAlign="flex-start center"
               fxLayoutGap="10px">
            <img [nzTooltipTitle]="'GATHERING_LOCATIONS.Predators' | translate" alt="" nz-tooltip
                 src="./assets/icons/status/predators.png">
            <div *ngFor="let predator of row.alarm.predators" fxLayout="row" fxLayoutAlign="flex-start center"
                 fxLayoutGap="5px">
              <div>{{predator.amount}}x</div>
              <app-item-icon [icon]="predator.id | lazyIcon" [itemId]="predator.id" [width]="32"></app-item-icon>
            </div>
          </div>
        </div>
        <div [nzMd]="row.alarm.baits || row.alarm.predators && row.alarm.predators.length > 0 ? 5 : 8" class="text-col"
             nz-col>
          <button (click)="addNote(row.alarm)" *ngIf="row.alarm.note === undefined || row.alarm.note.length === 0; else note" nz-button
                  nz-tooltip nzGhost
                  nzShape="circle" nzSize="small" nzTooltipTitle="{{'ALARMS.Add_note' | translate}}">
            <i nz-icon nzType="file-add"></i>
          </button>
          <ng-template #note>
            <div class="alarm-note">
              <div>{{row.alarm.note}}</div>
              <button (click)="editNote(row.alarm)" nz-button nz-tooltip
                      nzGhost nzShape="circle"
                      nzSize="small" nzTooltipTitle="{{'Edit' | translate}}">
                <i nz-icon nzType="edit"></i>
              </button>
            </div>
          </ng-template>
        </div>
        <div nz-col nzMd="6">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div *ngIf="row.alarm.mapId | closestAetheryte:row.alarm.coords | async as aetheryte">
              {{aetheryte.nameid | i18nRow:'places' | i18n}}
            </div>

            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
              <app-map-position [mapId]="row.alarm.mapId"
                                [marker]="{x: row.alarm.coords.x, y: row.alarm.coords.y, iconType: 'img', iconImg: row.alarm.type | nodeTypeIcon: true}"
                                [showZoneName]="true"
                                [zoneId]="row.alarm.zoneId"
                                flex="column"></app-map-position>

              <app-db-button [type]="row.dbType" [id]="row.alarm.nodeId"></app-db-button>
            </div>

          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="5px" nz-col nzMd="1">
          <button [clipboard]="getIngameAlarmMacro"
                  [clipboardFnArgs]="[row]"
                  [clipboardSuccessMessage]="'ALARMS.Macro_copied' | translate"
                  nz-button nz-tooltip
                  nzShape="circle"
                  nzTooltipTitle="{{'SIMULATOR.Generate_ingame_macro' | translate}}">
            <i nz-icon nzType="copy"></i>
          </button>
          <span [nzTooltipTitle]="'Delete' | translate" nz-tooltip>
            <button (nzOnConfirm)="deleteAlarm(row.alarm)" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button
                    nz-popconfirm nzShape="circle"
                    nzDanger>
              <i nz-icon nzType="delete"></i>
            </button>
          </span>
          <span [nzTooltipTitle]="'ALARMS.Remove_from_group' | translate" nz-tooltip *ngIf="group">
            <button (nzOnConfirm)="removeAlarmFromGroup(row.alarm.$key, group)" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button
                    nz-popconfirm nzShape="circle"
                    nzDanger>
              <i nz-icon nzType="close"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
