<div fxLayout="row" fxLayoutGap="5px" class="buttons">
  <button nz-button nzShape="circle" nzType="primary" nz-tooltip [nzTooltipTitle]="'COMMISSIONS.New_commission' | translate" (click)="createCommission()">
    <i nz-icon nzType="file-add"></i>
  </button>
</div>
@if (notifications$ | async; as notifications) {
  @if (notifications.length > 0) {
    <nz-alert nzType="info" nzCloseable nzShowIcon
      [nzCloseText]="'COMMISSIONS.Clear_notifications' | translate"
      (nzOnClose)="removeNotifications()"
      [nzMessage]="'COMMISSIONS.Updates' | translate" [nzDescription]="changes">
      <ng-template #changes>
        <ul>
          @for (notification of notifications; track notification) {
            <li>{{notification.content}}</li>
          }
        </ul>
      </ng-template>
    </nz-alert>
  }
}
@if (display$ | async; as display) {
  <div>
    <nz-divider nzOrientation="left" [nzText]="'COMMISSIONS.Your_commissions_as_client' | translate"></nz-divider>
    <div fxLayout="column" fxLayoutGap="5px">
      @if (display.commissionsAsClient.length === 0) {
        <app-fullpage-message
          fontSize="2rem"
        height="50px">{{'COMMISSIONS.No_commissions_as_client' | translate}}</app-fullpage-message>
      }
      @for (commission of display.commissionsAsClient; track commission) {
        <app-commission-panel [commission]="commission"></app-commission-panel>
      }
    </div>
    <nz-divider nzOrientation="left" [nzText]="'COMMISSIONS.Your_commissions_as_crafter' | translate"></nz-divider>
    <div fxLayout="column" fxLayoutGap="5px">
      @if (display.commissionsAsCrafter.length === 0) {
        <app-fullpage-message
          fontSize="2rem"
        height="50px">{{'COMMISSIONS.No_commissions_as_crafter' | translate}}</app-fullpage-message>
      }
      @for (commission of display.commissionsAsCrafter; track commission) {
        <app-commission-panel [commission]="commission"></app-commission-panel>
      }
    </div>
  </div>
} @else {
  <app-page-loader></app-page-loader>
}
