<div class="topbar">
    <h1>{{'SIMULATOR.Rotations' | translate}}</h1>
    <div class="spacer"></div>
    <div class="buttons">
        <button mat-mini-fab (click)="newFolder()" matTooltip="{{'SIMULATOR.New_rotation_folder' | translate}}">
            <mat-icon>create_new_folder</mat-icon>
        </button>
    </div>
</div>
<div *ngIf="rotations$ | async as rotations">
    <div *ngIf="rotations.nofolder.length > 0 || rotations.folders.length > 0; else noRotations">
        <div class="drop-zone" droppable (onDrop)="removeFolder($event.dragData)" [dropScope]="'rotation'">
            <div class="drop-overlay accent-background">
                <mat-icon>save_alt</mat-icon>
            </div>
            <div *ngFor="let rotation of rotations.nofolder; trackBy: trackByRotation"
                 draggable
                 [dragScope]="'rotation'"
                 [dragData]="rotation">
                <app-rotation-panel [rotation]="rotation"
                                    [linkButton]="linkButton"
                                    (editNameClick)="editRotationName(rotation)"
                                    (deleteClick)="deleteRotation(rotation.$key)"
                                    (linkClick)="openLinkPopup(rotation)"></app-rotation-panel>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div *ngFor="let folder of rotations.folders; trackBy: trackByFolder; let i = index">
            <div class="drop-zone folder-zone" droppable (onDrop)="setFolderIndex($event.dragData, i)"
                 [dropScope]="'folder'">
                <div class="drop-overlay accent-background">
                    <mat-icon>save_alt</mat-icon>
                </div>
            </div>
            <mat-expansion-panel class="folder" draggable [dragData]="folder.name" [dragScope]="'folder'">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="folder-icon">folder</mat-icon>
                        {{folder.name}}
                        <button mat-icon-button
                                (click)="$event.stopPropagation();renameFolder(folder.name, folder.rotations)">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                    </mat-panel-title>
                    <button mat-icon-button
                            (click)="$event.stopPropagation();deleteFolder(folder.name, folder.rotations)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-expansion-panel-header>
                <div class="drop-zone" droppable (onDrop)="onFolderDrop(folder.name, $event.dragData)"
                     [dropScope]="'rotation'">
                    <div class="drop-overlay accent-background">
                        <mat-icon>save_alt</mat-icon>
                    </div>
                    <div *ngFor="let rotation of folder.rotations; trackBy: trackByRotation"
                         draggable
                         [dragScope]="'rotation'"
                         [dragData]="rotation">
                        <app-rotation-panel
                            [linkButton]="linkButton"
                            [rotation]="rotation"
                            (editNameClick)="editRotationName(rotation)"
                            (deleteClick)="deleteRotation(rotation.$key)"
                            (linkClick)="openLinkPopup(rotation)"></app-rotation-panel>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="drop-zone folder-zone" droppable
             (onDrop)="setFolderIndex($event.dragData, rotations.folders.length - 1)"
             [dropScope]="'folder'">
            <div class="drop-overlay accent-background">
                <mat-icon>save_alt</mat-icon>
            </div>
        </div>
    </div>
    <ng-template #noRotations>
        <span class="no-rotations">{{'SIMULATOR.No_rotations' | translate}}</span>
    </ng-template>
    <button class="new-rotation" routerLink="/simulator/custom" mat-raised-button color="accent">
        {{'SIMULATOR.New_custom_rotation' | translate}}
    </button>
</div>
