.topbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.no-rotations {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    opacity: .7;
}

.new-rotation {
    margin-top: 25px;
    width: 100%;
}

mat-panel-title {
    display: flex;
    align-items: center;
}

.folder {
    .folder-icon {
        margin-right: 10px;
    }
}

.folder-zone {
    min-height: 20px;
    .mat-icon {
        font-size: 20px;
    }
}
