.content {
    margin-top: -16px;
    margin-bottom: -16px;
    min-width: 250px;
}

.mat-line.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.mat-line.amount {
    display: flex;
    div {
        flex: 1;
        &:nth-child(2) {
            text-align: right;
        }
    }
}
