<div class="input-container compact">
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input class="filter" matInput placeholder="{{'GATHERING_LOCATIONS.Gathering_name' | translate}}" #filter>
        <mat-hint align="end">
            <small>{{'Data_from_gt' | translate}}</small>
        </mat-hint>
    </mat-form-field>
</div>
<mat-grid-list [cols]="getCols()" *ngIf="result | async as results; else loading" rowHeight="4:5" gutterSize="5px">
    <div *ngFor="let row of results">
        <mat-grid-tile *ngFor="let node of row.nodes">
            <mat-card>
                <mat-card-header class="card-header">
                    <img mat-card-avatar [appXivdbTooltip]="row.obj.i" src="{{row.obj.c | icon}}" alt="">
                    <img class="class-icon" src="{{getClassIcon(node.type)}}" alt="">
                    <mat-card-title>
                        {{row.obj.i | itemName | i18n}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        <span class="place">{{node.zoneid | placeName | i18n}} - lvl {{node.level}}</span>
                        <span *ngIf="node.slot" class="slot">({{node.slot}})</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <div class="timed" *ngIf="node.timed">
                    <div [matTooltip]="'ALARMS.Alarm_already_created' | translate"
                         matTooltipPosition="above"
                         [matTooltipDisabled]="!alarmService.hasAlarm(node.itemId)">
                        <button mat-raised-button color="accent" (click)="createAlarm(node)"
                                [disabled]="alarmService.hasAlarm(node.itemId)">
                            <mat-icon>access_alarm</mat-icon>
                            {{'ALARMS.Add_alarm' | translate}}
                        </button>
                    </div>
                    <div class="spawns">
                        <span *ngFor="let spawn of getSpawns(node); let first = first">
                            <span *ngIf="!first"> / </span>
                            {{spawn}}
                        </span>
                    </div>
                </div>
                <div class="spacer" *ngIf="!node.timed"></div>
                <app-map [mapId]="node.zoneid" [markers]="[{x: node.x, y: node.y}]"></app-map>
                <div class="coords">X: {{node.x}} - Y: {{node.y}}</div>
            </mat-card>
        </mat-grid-tile>
    </div>

    <div *ngIf="results.length === 0">
        <h4 class="no-gathering">{{'GATHERING_LOCATIONS.No_items' | translate}}</h4>
    </div>
</mat-grid-list>
<ng-template #loading>
    <div class="loader-container" *ngIf="searching">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!searching">
        <h4 class="no-gathering">{{'GATHERING_LOCATIONS.No_items' | translate}}</h4>
    </div>
</ng-template>
