<div *ngIf="comments$ | async as comments">
  <nz-list [nzDataSource]="comments" [nzRenderItem]="commentTemplate" nzSize="small">
    <ng-template #commentTemplate let-comment>
      <nz-list-item [nzActions]="isAuthor?[delete]:null">
        <nz-list-item-meta [nzAvatar]="avatar" [nzDescription]="comment.date | date:'short'"
                           [nzTitle]="contentRef">
          <ng-template #contentRef>
            <p>{{comment.content}}</p>
          </ng-template>
          <ng-template #avatar>
            <app-user-avatar [userId]="comment.authorId" [width]="32"></app-user-avatar>
          </ng-template>
          <ng-template #delete>
            <button (nzOnConfirm)="deleteComment(comment.$key)" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button
                    nz-popconfirm nzShape="circle" nzDanger>
              <i nz-icon nzType="delete"></i>
            </button>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <nz-input-group *ngIf="userId$ | async as userId" [nzAddOnAfter]="suffix" nzSearch>
    <input (keydown.enter)="postComment(newCommentContent, userId)" [(ngModel)]="newCommentContent" nz-input
           type="text">
    <ng-template #suffix>
      <button (click)="postComment(newCommentContent, userId)" nz-button nzSearch nzType="primary">
        <i nz-icon nzType="message"></i>
      </button>
    </ng-template>
  </nz-input-group>
</div>
