<h2 mat-dialog-title>{{data.name}}</h2>
<div mat-dialog-content>
  <mat-list>
    <app-comment-row *ngFor="let comment of comments" [comment]="comment"
                     [canDelete]="comment.authorId === characterId || data.isOwnList"
                     (delete)="deleteComment(comment)"></app-comment-row>
  </mat-list>
  <form (submit)="addComment()" [formGroup]="control" #f="ngForm">
    <mat-form-field class="input-field">
            <textarea type="text" matInput placeholder="{{'Your_comment' | translate}}" formControlName="comment"
                      tabindex="-1" #input></textarea>
      <mat-hint align="end">{{input.value?.length || 0}}/140</mat-hint>
    </mat-form-field>
    <button mat-button class="submit-button" type="submit" [disabled]="!control.valid || comments?.length >= 10">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
