<div *ngIf="masterbooks$ | async as books" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2px">
  <label *ngFor="let book of books" [(ngModel)]="book.checked" nz-checkbox>
    {{book.id | itemName | i18n}}
  </label>
  <button (click)="checkAll(books)" nz-button>{{'Select_all' | translate}}</button>
  <div fxLayout="row" fxLayoutGap="5px">
    <button (click)="save(books)" nz-button nzType="primary">{{'COMMONave' | translate}}</button>
    <button (click)="cancel()" nz-button nzDanger>{{'Cancel' | translate}}</button>
  </div>
</div>
