.report-container {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: var(--topbar-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .7);
}

.round-icon {
  width: 32px;
  border-radius: 50%;
}
