@import "../theme.scss";

.spacer {
    flex: 1 1 auto;
}

.app-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    display: inline;
    mat-toolbar {
        display: flex;
        min-height: 64px;
        mat-menu {
            margin-left: 20px;
        }
        .version {
            opacity: .7;
        }
    }
    .light-text {
        color: white;
    }
    .announcement {
        text-align: center;
        a {
            color: green;
        }
    }
    mat-sidenav-container {
        display: block;
        height: calc(100% - 64px);
        mat-sidenav {
            width: 20%;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            .sidebar-element {
                padding: 20px;
                margin: 10px 0;
            }
            .social-icons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .icon {
                    width: 32px;
                }
            }
            .accent-background {
                padding: 15px 16px;
                font-size: 16px;
                .user {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .name {
                        margin-left: 5px;
                    }
                    img {
                        height: 48px;
                        border-radius: 48px;
                    }
                }
            }
            .report-bug {
                margin-bottom: 10px;
            }
        }
        .content {
            overflow: auto;
            .content-middle {
                padding: 10px;
                width: 70%;
                margin: auto;
                min-height: 20%;

                @include client-width('large') {
                    width: 90%;
                }

                @include client-width('medium') {
                    width: 100%;
                }

                @include client-width('small') {
                    width: 100%;
                }
            }
        }
    }
}
