@import "../theme.scss";

:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    md-toolbar {
        min-height: 64px;
        .spacer {
            flex: 1 1 auto;
        }
        .version {
            margin: 0 20px;
        }
    }
    .content {
        overflow: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 64px;
        .content-middle {
            padding: 20px;
            width: 60%;
            margin: auto;
            min-height: 20%;
        }
        .warning-message{
            text-align: center;
            color: mat-color(map-get($theme, warn));
        }
    }
}
