<div class="app-container {{settings.theme}}-theme mat-typography">
    <mat-toolbar color="primary">
        <button *ngIf="mobile" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>FFXIV Teamcraft</h1>

        <mat-menu #langMenu="matMenu" yPosition="above">
            <button mat-menu-item (click)="use('fr')">FR</button>
            <button mat-menu-item (click)="use('en')">EN</button>
            <button mat-menu-item (click)="use('de')">DE</button>
            <button mat-menu-item (click)="use('ja')">JA</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="langMenu" fxHide fxShow.gt-sm>
            {{locale | uppercase}}
        </button>
        <div class="spacer"></div>
        <button mat-icon-button [disabled]="helpService.currentHelp === undefined" (click)="openHelp()">
            <mat-icon>help</mat-icon>
        </button>
        <span class="version">{{version}}</span>
    </mat-toolbar>
    <mat-sidenav-container [autosize]="true">
        <mat-sidenav mode="{{mobile ? 'over':'side' }}" opened="{{!mobile}}" #sidenav [disableClose]="!mobile"
                     [ngClass]="{'compact': settings.compactSidebar}">
            <div class="accent-background" *ngIf="!settings.compactSidebar">
                <div class="user">
                    <mat-icon *ngIf="(authState | async)?.isAnonymous">person</mat-icon>
                    <img *ngIf="!((authState | async)?.isAnonymous)" src="{{userIcon}}"
                         routerLink="/profile/{{(authState | async)?.uid}}">
                    <span class="name" *ngIf="username === undefined">Loading...</span>
                    <span class="name">{{username}}</span>
                </div>
                <div *ngIf="(authState | async)?.isAnonymous">
                    <button mat-raised-button (click)="openLoginPopup()">{{'Login' | translate}}</button>
                    <button mat-raised-button (click)="openRegistrationPopup()">{{'Registration' | translate}}</button>
                </div>
                <button mat-raised-button *ngIf="!(authState | async)?.isAnonymous" (click)="disconnect()">
                    {{'Disconnect' | translate}}
                </button>
                <button mat-icon-button matTooltip="{{'Compact_sidebar_toggle' | translate}}"
                        matTooltipPosition="right" (click)="settings.compactSidebar = true; detectChanges()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <div class="accent-background" *ngIf="settings.compactSidebar">
                <div class="user">
                    <mat-icon *ngIf="(authState | async)?.isAnonymous">person</mat-icon>
                    <img *ngIf="!((authState | async)?.isAnonymous)" src="{{userIcon}}"
                         routerLink="/profile/{{(authState | async)?.uid}}">
                </div>
            </div>
            <mat-divider></mat-divider>
            <mat-nav-list>
                <mat-list-item *ngIf="settings.compactSidebar">
                    <button mat-icon-button matTooltip="{{'Compact_sidebar_toggle' | translate}}"
                            matTooltipPosition="right" (click)="settings.compactSidebar = false; detectChanges()">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item routerLink="/home" (click)="mobile ? sidenav.close() :  null"
                               matTooltipPosition="right"
                               matTooltip="{{'Home' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>home</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'Home' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/profile" (click)="mobile ? sidenav.close() :  null"
                               *ngIf="!(authState | async)?.isAnonymous"
                               matTooltipPosition="right"
                               matTooltip="{{'Profile' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>person</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'Profile' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/custom-links" (click)="mobile ? sidenav.close() :  null"
                               *ngIf="customLinksEnabled"
                               matTooltipPosition="right"
                               matTooltip="{{'CUSTOM_LINKS.Title' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>link</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'CUSTOM_LINKS.Title' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/recipes" (click)="mobile ? sidenav.close() :  null"
                               matTooltipPosition="right"
                               matTooltip="{{'CUSTOM_LINKS.Title' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>search</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'Recipes' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/lists" (click)="mobile ? sidenav.close() :  null"
                               matTooltipPosition="right"
                               matTooltip="{{'Lists' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>view_list</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'Lists' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/public-lists" (click)="mobile ? sidenav.close() :  null"
                               matTooltipPosition="right"
                               matTooltip="{{'Public_lists' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>public</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'Public_lists' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/alarms" (click)="mobile ? sidenav.close() :  null"
                               matTooltipPosition="right"
                               matTooltip="{{'HOME_PAGE.FEATURES.alarms_title' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>alarm</mat-icon>
                    <span matLine
                          *ngIf="!settings.compactSidebar">{{'HOME_PAGE.FEATURES.alarms_title' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/gathering-location" (click)="mobile ? sidenav.close() :  null"
                               matTooltipPosition="right"
                               matTooltip="{{'GATHERING_LOCATIONS.Title' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>location_on</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'GATHERING_LOCATIONS.Title' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/macro-translation" (click)="mobile ? sidenav.close() : null"
                               matTooltipPosition="right"
                               matTooltip="{{'MACRO_TRANSLATION.Title' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>translate</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'MACRO_TRANSLATION.Title' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/favorites" (click)="mobile ? sidenav.close() :  null"
                               matTooltipPosition="right"
                               matTooltip="{{'Favorites' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>favorite</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'Favorites' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/settings" (click)="mobile ? sidenav.close() :  null"
                               matTooltipPosition="right"
                               matTooltip="{{'SETTINGS.title' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>settings</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'SETTINGS.title' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/features" (click)="mobile ? sidenav.close() :  null"
                               matTooltipPosition="right"
                               matTooltip="{{'HOME_PAGE.features' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>help_outline</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'HOME_PAGE.features' | translate}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/about" (click)="mobile ? sidenav.close() :  null"
                               matTooltipPosition="right"
                               matTooltip="{{'ABOUT.title' | translate}}"
                               [matTooltipDisabled]="!settings.compactSidebar">
                    <mat-icon matListIcon>info_outline</mat-icon>
                    <span matLine *ngIf="!settings.compactSidebar">{{'ABOUT.title' | translate}}</span>
                </mat-list-item>
            </mat-nav-list>

            <button mat-button [matMenuTriggerFor]="langMenu" fxHide fxShow.lt-md *ngIf="!settings.compactSidebar">
                {{locale | uppercase}}
            </button>
            <div class="spacer"></div>
            <div class="sidebar-bottom">
                <button class="bottom-button" mat-raised-button color="primary" (click)="showGiveway()"
                        *ngIf="givewayRunning">
                    {{"GIVEWAY.Title" |
                    translate}}
                </button>
                <div class="social-fabs bottom-button" *ngIf="!settings.compactSidebar">
                    <div class="fab-container"><a href="https://facebook.com/ffxivteamcraft" mat-mini-fab
                                                  class="social-fab facebook" target="
                       _blank"><i class="fab fa-facebook-f"></i></a></div>
                    <div class="fab-container"><a href="https://discord.gg/r6qxt6P" mat-mini-fab
                                                  class="social-fab discord" target="_blank"><i
                        class="fab fa-discord"></i></a></div>
                    <div class="fab-container"><a href="https://github.com/supamiu/ffxiv-teamcraft" mat-mini-fab
                                                  class="social-fab github"
                                                  target="_blank"><i class="fab fa-github"></i></a></div>
                    <div class="fab-container"><a href="https://www.patreon.com/ffxivteamcraft" mat-mini-fab
                                                  class="social-fab patreon"
                                                  target="_blank"><i class="fab fa-patreon"></i></a></div>
                </div>
                <a mat-raised-button href="https://github.com/supamiu/ffxiv-teamcraft/issues" target="_blank"
                   class="bottom-button"
                   color="warn" *ngIf="!settings.compactSidebar">Report a bug
                </a>
            </div>
        </mat-sidenav>
        <div class="content">
            <div class="content-middle">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-container>
</div>
