@import "../theme.scss";

.desktop-bar {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 24px;
    display: flex;
    background-color: rgba(0, 0, 0, .2);
    align-items: center;
    -webkit-app-region: drag;
    .title {
        margin-left: 5px;
        font-weight: bold;
        opacity: .8;
    }
    .version {
        margin-right: 3px;
        opacity: .7;
        font-size: small;
    }
    .lang-button {
        padding: 0 10px;
        margin-left: 10px;
    }
    .open-url {
        width: 60px;
        text-align: center;
    }
    .desktop-bar-button {
        cursor: pointer;
        -webkit-app-region: no-drag;
        opacity: .7;
        &:hover {
            background-color: rgba(255, 255, 255, .2);
        }
    }
    .close-button {
        &:hover {
            background-color: rgba(255, 0, 0, .6);
        }
    }
}

.app-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    display: inline;
    .url-box {
        padding: 5px 25px;
        position: absolute;
        top: 50px;
        left: 45%;
        z-index: 2;
        &.hidden {
            display: none;
        }
        .box-icon {
            cursor: pointer;
        }
    }
    .app-toolbar {
        position: fixed;
        top: 0;
        display: flex;
        min-height: 64px;
        &.overlay {
            display: none;
        }
        mat-menu {
            margin-left: 20px;
        }
        .version {
            opacity: .7;
        }
    }
    .light-text {
        color: white;
    }
    .announcement {
        text-align: center;
        a {
            color: green;
        }
    }
    mat-sidenav-container {
        height: calc(100vh - 64px);
        &.desktop {
            height: calc(100vh - 24px);
            margin-top: -40px;
            -webkit-app-region: no-drag;
        }
        mat-list-item {
            touch-action: auto !important;
        }
        .mat-sidenav {
            transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
            &.overlay {
                display: none;
            }
            &.compact {
                transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
                width: 68px;
                min-width: unset;
                .mat-list-item-content {
                    padding-right: 0;
                }
                .accent-background {
                    padding: 10px;
                    .user {
                        margin-bottom: 0;
                    }
                }
            }
            width: 10%;
            min-width: 250px;
            max-width: 350px;
            display: flex;
            flex-direction: column;
            .accent-background {
                padding: 15px 16px;
                font-size: 16px;
                .user {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 10px;
                    .name {
                        margin-left: 5px;
                    }
                    img {
                        height: 48px;
                        border-radius: 48px;
                    }
                }
            }
            .sidebar-bottom {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                .bottom-button {
                    flex: 1 1 auto;
                    margin-bottom: 5px;
                }
                .social-fabs {
                    width: 100%;
                    display: flex;
                    margin-bottom: 10px;
                    .fab-container {
                        display: flex;
                        flex-grow: 1;
                        justify-content: center;
                        .social-fab {
                            font-size: 18px;
                            color: white !important;
                            &.facebook {
                                background: #3b5998;
                            }
                            &.github {
                                background: #000;
                            }
                            &.discord {
                                background: #7289da;
                            }
                            &.patreon {
                                background: #F96854;
                            }
                        }
                    }
                }
            }
        }
        .content {
            overflow: auto;
            position: relative;
            .alarms-sidebar-trigger {
                position: fixed;
                right: 25px;
                bottom: 5px;
                transition: right .4s cubic-bezier(0.25, 0.8, 0.25, 1);
                &.opened {
                    right: 275px;
                }
            }
            .content-middle {
                padding: 10px;
                width: 90%;
                margin: auto;
                min-height: 20%;

                &.overlay {
                    padding: 0;
                }

                @include client-width('large') {
                    width: 90%;
                }

                @include client-width('medium') {
                    width: 100%;
                }

                @include client-width('small') {
                    width: 100%;
                }
            }
        }
    }
}

.opacity-slider {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 0 15px;
    mat-slider {
        width: 100%;
    }
}
