<div class="step-container" fxLayout="column" fxLayoutGap="10px">
  <div class="step-content">
    {{stepKey | translate}}
  </div>
  <div class="step-footer" fxLayout="row" fxLayoutAlign="space-between center">
    @if (stepIndex < totalSteps) {
      <button nz-button nzSize="small" nzType="primary" (click)="next()">{{'TUTORIAL.Next' | translate}} ({{stepIndex}}
        / {{totalSteps}})
      </button>
    }
    @if (stepIndex >= totalSteps) {
      <button nz-button nzSize="small" nzType="primary" (click)="next()">{{'TUTORIAL.Done' | translate}}</button>
    }
  </div>
</div>
