<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2>{{'RECIPE_FINDER.Title' | translate}}</h2>
    <i>{{'RECIPE_FINDER.Description' | translate}}</i>
  </div>
  <nz-alert (nzOnClose)="closedTip()" *ngIf="showTip" [nzMessage]="extensionTip" nzCloseable nzShowIcon nzType="info">
    <ng-template #extensionTip>
      {{'RECIPE_FINDER.Extension_tip' | translate }}
      <a href="https://chrome.google.com/webstore/detail/lodestone-inventory-grabb/eepjjjjplcaiebldejkkfhlnmhpgceno"
         target="_blank">{{'RECIPE_FINDER.Extension_link' | translate}}</a>
    </ng-template>
  </nz-alert>
  <div class="inputs-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center"
       fxLayoutGap.lt-md="10px">
    <input
      #itemName
      (input)="onInput($event.target?.value)"
      [nzAutocomplete]="auto"
      [placeholder]="'RECIPE_FINDER.Placeholder' | translate"
      [style.margin-bottom]="null | ifMobile:'0'"
      class="name-input"
      fxFlex="1 1 200px"
      fxFlex.lt-md="0 0 auto"
      nz-input
    />
    <nz-autocomplete #auto nzBackfill>
      <nz-auto-option *ngFor="let option of completion$ | async" [nzValue]="option.name | i18n">
        {{ option.name | i18n }}
      </nz-auto-option>
    </nz-autocomplete>
    <nz-input-group [nzPrefix]="prefixTemplate" fxFlex="0 0 100px"
                    fxFlex.lt-md="0 0 auto">
      <input #amount [value]="0" class="amount-input" nz-input type="number"/>
    </nz-input-group>
    <ng-template #prefixTemplate>x</ng-template>
    <button (click)="addToPool(itemName.value, +amount.value)" *ngIf="true | ifMobile:false" [disabled]="isButtonDisabled(itemName.value, +amount.value)"
            class="add-to-pool"
            nz-button
            nzType="primary">
      <i nz-icon nzType="plus"></i> {{'RECIPE_FINDER.Add_item' | translate}}
    </button>
    <button (click)="addToPool(itemName.value, +amount.value)" *ngIf="false | ifMobile:true"
            [disabled]="isButtonDisabled(itemName.value, +amount.value)"
            nz-button
            nzBlock
            nzType="primary">
      <i nz-icon nzType="plus"></i> {{'RECIPE_FINDER.Add_item' | translate}}
    </button>
    <button (click)="importFromClipboard()"
            class="search-button"
            nz-button
            nzType="primary">
      <i nz-icon nzTheme="outline" nzType="snippets"></i> {{'RECIPE_FINDER.Import_from_clipboard' | translate}}
    </button>
    <button (click)="importFromInventory()"
            *ngIf="platform.isDesktop()"
            class="search-button"
            nz-button
            nzType="primary">
      <i nz-icon nzTheme="outline" nzType="snippets"></i> {{'RECIPE_FINDER.Import_from_inventory' | translate}}
    </button>
    <button (click)="search$.next()" [disabled]="pool.length === 0" class="search-button" nz-button
            nzType="primary">
      <i nz-icon nzType="search"></i> {{'RECIPE_FINDER.Search' | translate}}
    </button>
  </div>
  <div class="filters-sorters" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div>
        {{'RECIPE_FINDER.Recipe_level' | translate}}:
      </div>
      <nz-input-group class="input-range" nzCompact fxLayout="row">
        <nz-input-number mouseWheel [nzMax]="maxLevel" [nzMin]="0" [nzPrecision]="0" [ngModel]="clvlMin$ | async"
                         (ngModelChange)="clvlMin$.next($event)" (mouseWheelDown)="clvlMin$.next(clvlMin$.value - 1)"
                         (mouseWheelUp)="clvlMin$.next(clvlMin$.value + 1)"></nz-input-number>
        <input disabled nz-input placeholder="-" type="text">
        <nz-input-number mouseWheel [nzMax]="maxLevel" [nzMin]="1" [nzPrecision]="0" [ngModel]="clvlMax$ | async"
                         (ngModelChange)="clvlMax$.next($event)" (mouseWheelDown)="clvlMax$.next(clvlMax$.value - 1)"
                         (mouseWheelUp)="clvlMax$.next(clvlMax$.value + 1)"></nz-input-number>
      </nz-input-group>
    </div>
    <div>
      <label nz-checkbox [ngModel]="onlyCraftable$ | async"
             (ngModelChange)="onlyCraftable$.next($event)">{{'RECIPE_FINDER.Shown_only_craftable' | translate}}</label>
    </div>
    <div>
      <label nz-checkbox [ngModel]="onlyNotCompleted$ | async"
             (ngModelChange)="onlyNotCompleted$.next($event)">{{'RECIPE_FINDER.Shown_only_not_completed' | translate}}</label>
    </div>
    <div>
      <label nz-checkbox [ngModel]="onlyCollectables$ | async"
             (ngModelChange)="onlyCollectables$.next($event)">{{'RECIPE_FINDER.Shown_only_collectables' | translate}}</label>
    </div>
    <div>
      <label nz-checkbox [ngModel]="onlyLeveItems$ | async"
             (ngModelChange)="onlyLeveItems$.next($event)">{{'RECIPE_FINDER.Show_only_leve_items' | translate}}</label>
    </div>
    <div>
      <label nz-checkbox [(ngModel)]="settings.addResultToPoolInRecipeFinder">{{'RECIPE_FINDER.Add_results_to_pool' | translate}}</label>
    </div>
  </div>
</div>
<nz-collapse class="inventory-panel">
  <nz-collapse-panel
    [nzActive]="true"
    [nzHeader]="header"
  >
    <ng-template #header>
      <div class="panel-header" fxLayout="row" fxLayoutAlign="space-between center">
        <div>{{'RECIPE_FINDER.Inventory' | translate}} ({{pool.length}} {{'items' | translate}})</div>
        <div fxLayout="row" fxLayoutGap="10px">
          <button (click)="$event.stopPropagation();sortPool()"
                  [nzTooltipTitle]="'RECIPE_FINDER.Sort_alphabetically' | translate"
                  nz-button
                  nz-tooltip>
            <i nz-icon nzTheme="outline" nzType="sort-ascending"></i>
          </button>
          <button (click)="$event.stopPropagation()"
                  [clipboard]="getPoolJSON"
                  [clipboardSuccessMessage]="'RECIPE_FINDER.Pool_copied' | translate"
                  [nzTooltipTitle]="'RECIPE_FINDER.Copy_to_clipboard' | translate"
                  nz-button
                  nz-tooltip>
            <i nz-icon nzTheme="outline" nzType="copy"></i>
          </button>
          <button (click)="$event.stopPropagation()" (nzOnConfirm)="clearPool()"
                  [nzPopconfirmTitle]="'Confirmation' | translate"
                  nz-button
                  nz-popconfirm
                  nzDanger>
            <i nz-icon nzTheme="outline" nzType="stop"></i> {{'RECIPE_FINDER.Clear' | translate}}
          </button>
        </div>
      </div>
    </ng-template>
    <div class="inventory-container" fxLayout="row wrap" fxLayoutAlign="flex-start flex-start" fxLayoutGap="10px">
      <div *ngFor="let item of pool" [class.highlighted]="(highlight$ | async)?.indexOf(item.id) > -1" class="inventory-element"
           fxLayout="row" fxLayoutAlign="flex-start center"
           fxLayoutGap="5px">
        <i (click)="removeFromPool(item.id, item.amount, true)" class="delete-element" nz-icon nzType="close"></i>
        <app-item-icon [icon]="item.id | lazyIcon" [itemId]="item.id" [width]="32"></app-item-icon>
        <div fxLayout="column">
          <div>{{item.id | itemName | i18n}}</div>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <div *ngIf="editingAmount !== item.id">x{{item.amount}}</div>
            <div *ngIf="editingAmount === item.id">
              <input [(ngModel)]="item.amount" class="amount-editor" nz-input nzSize="small" type="number">
            </div>
            <button (click)="editAmount(item.id)" *ngIf="editingAmount !== item.id" nz-button nzShape="circle"
                    nzSize="small">
              <i nz-icon nzType="edit"></i>
            </button>
            <button (click)="saveAmount(item.id, item.amount)" *ngIf="editingAmount === item.id" nz-button nzShape="circle" nzSize="small"
                    nzType="primary">
              <i nz-icon nzType="save"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
<div class="results-container" fxLayout="row" fxLayout.lt-md="column">
  <div *ngIf="results$ | async as results" class="results" fxFlex="1 1 50%">
    <nz-divider [nzText]="'RECIPE_FINDER.Results' | translate" nzOrientation="left"></nz-divider>
    <div fxLayout="row" fxLayoutAlign="center center">
      <nz-pagination (nzPageIndexChange)="page$.next($event)" [nzPageIndex]="page$ | async" [nzPageSize]="pageSize"
                     [nzShowQuickJumper]="true" [nzShowTotal]="rangeTemplate"
                     [nzTotal]="totalItems"></nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{'RECIPE_FINDER.Pages_range_label' | translate: { range0: range[0], range1: range[1], total: total } }}
      </ng-template>
    </div>
    <br/>
    <nz-list [nzDataSource]="results" [nzRenderItem]="recipe">
      <ng-template #recipe let-index="index" let-entry>
        <nz-list-item (mouseenter)="highlight(entry)" (mouseleave)="highlight(null)"
                      [class.odd]="index % 2 === 1" [nzContent]="content"
                      class="recipe-result-row">
          <ng-template #content>
            <div fxLayout="row" fxLayoutGap="5px">
              <button (click)="addToBasket(entry, entry.yields)" [nzTooltipTitle]="'RECIPE_FINDER.Add_one_to_basket' | translate" nz-button nz-tooltip
                      nzShape="circle">
                +1
              </button>
              <button (click)="addToBasket(entry, entry.possibleAmount)" [nzTooltipTitle]="'RECIPE_FINDER.Add_to_basket' | translate" nz-button nz-tooltip
                      nzShape="circle">
                <i nz-icon nzTheme="outline" nzType="shopping-cart"></i>
              </button>
            </div>
          </ng-template>
          <nz-list-item-meta
            [nzAvatar]="avatar | ifMobile:null"
            [nzDescription]="description"
            [nzTitle]="nzTitle">
            <ng-template #description>
              <span>{{entry.job | jobAbbr | i18n}} lvl {{entry.lvl}} {{entry.stars | ingameStars}}</span>
              <span *ngIf="entry.missing.length > 0">
              {{'RECIPE_FINDER.Missing' | translate}}
                <span *ngFor="let missing of entry.missing;let last=last">{{missing.id | itemName | i18n}}
                  x{{missing.amount * entry.possibleAmount / entry.yields}} <span *ngIf="!last">, </span></span>
              </span>
            </ng-template>
            <ng-template #nzTitle>
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div>{{ entry.itemId | itemName | i18n }} x{{entry.possibleAmount}}</div>
                <app-marketboard-icon *ngIf="true | ifMobile:false" [itemId]="entry.itemId"></app-marketboard-icon>
                <img *ngFor="let leve of entry.leves"
                     src="./assets/icons/leve.png" alt="leves"
                     class="leve-icon"
                     nz-tooltip [nzTooltipTitle]="leve | leveName | i18n">
                <nz-tag *ngIf="entry.missingLevel"
                        [style.border-color]="'#f50'"
                        class="custom-tag">{{'SIMULATOR.FAIL_CAUSE.MISSING_LEVEL_REQUIREMENT' | translate }}</nz-tag>
                <nz-tag *ngIf="entry.missing.length === 0"
                        [style.border-color]="'darkgreen'"
                        class="custom-tag"
                >{{'RECIPE_FINDER.No_missing_ingredients' | translate}}</nz-tag>
                <nz-tag *ngIf="entry.missing.length === 1"
                        [style.border-color]="'#f2b10e'"
                        class="custom-tag">{{'RECIPE_FINDER.Missing_X_ingredients' | translate:{ amount: entry.missing.length } }}</nz-tag>
                <nz-tag *ngIf="entry.missing.length > 1"
                        [style.border-color]="'#f50'"
                        class="custom-tag">{{'RECIPE_FINDER.Missing_X_ingredients' | translate:{ amount: entry.missing.length } }}</nz-tag>
              </div>
            </ng-template>
            <ng-template #avatar>
              <app-item-icon [itemId]="entry.itemId" [width]="32"></app-item-icon>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
    <br/>
    <div fxLayout="row" fxLayoutAlign="center center">
      <nz-pagination (nzPageIndexChange)="page$.next($event)" [nzPageIndex]="page$ | async" [nzPageSize]="pageSize"
                     [nzShowQuickJumper]="true" [nzShowTotal]="rangeTemplate"
                     [nzTotal]="totalItems"></nz-pagination>
    </div>
  </div>
  <div *ngIf="results$ | async as results" fxFlex="1 1 50%">
    <nz-divider [nzText]="'RECIPE_FINDER.Basket' | translate" nzOrientation="left"></nz-divider>
    <nz-list [nzDataSource]="basket" [nzNoResult]="empty" [nzRenderItem]="basketRecipe">
      <ng-template #empty>
        <nz-empty [nzNotFoundContent]="'RECIPE_FINDER.Empty_basket' | translate"></nz-empty>
      </ng-template>
      <ng-template #basketRecipe let-index="index" let-row>
        <nz-list-item [class.odd]="index % 2 === 1"
                      [nzContent]="content"
                      class="recipe-result-row">
          <ng-template #content>
            <button (click)="removeFromBasket(row)" [nzTooltipTitle]="'RECIPE_FINDER.Remove_from_basket' | translate" nz-button nz-tooltip nzShape="circle"
                    nzDanger>
              <i nz-icon nzTheme="outline" nzType="delete"></i>
            </button>
          </ng-template>
          <nz-list-item-meta
            [nzAvatar]="avatar | ifMobile:null"
            [nzDescription]="description"
            [nzTitle]="nzTitle">
            <ng-template #description>
              {{row.entry.job | jobAbbr | i18n}} lvl {{row.entry.lvl}} {{row.entry.stars | ingameStars}}
            </ng-template>
            <ng-template #nzTitle>
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div>{{ row.entry.itemId | itemName | i18n }} x{{row.amount}}</div>
                <app-db-button *ngIf="true | ifMobile:false" [id]="row.entry.itemId" type="item"></app-db-button>
                <app-marketboard-icon *ngIf="true | ifMobile:false" [itemId]="row.entry.itemId"></app-marketboard-icon>
                <nz-tag *ngIf="row.entry.missing.length === 0"
                        [style.border-color]="'darkgreen'"
                        class="custom-tag"
                >{{'RECIPE_FINDER.No_missing_ingredients' | translate}}</nz-tag>
                <nz-tag *ngIf="row.entry.missing.length === 1"
                        [style.border-color]="'#f2b10e'"
                        class="custom-tag">{{'RECIPE_FINDER.Missing_X_ingredients' | translate:{ amount: row.entry.missing.length } }}</nz-tag>
                <nz-tag *ngIf="row.entry.missing.length > 1"
                        [style.border-color]="'#f50'"
                        class="custom-tag">{{'RECIPE_FINDER.Missing_X_ingredients' | translate:{ amount: row.entry.missing.length } }}</nz-tag>
              </div>
            </ng-template>
            <ng-template #avatar>
              <app-item-icon [itemId]="row.entry.itemId"
                             [width]="32"></app-item-icon>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
    <button (click)="generateList()" [disabled]="basket.length === 0" nz-button nzBlock
            nzType="primary" class="generate-list-button">{{'RECIPE_FINDER.Generate_list' | translate}}</button>
  </div>
</div>

<ng-template #notificationRef let-notification>
  <div class="ant-notification-notice-content ant-notification-notice-with-icon">
    <span class="ant-notification-notice-icon"><i class="ant-notification-notice-icon-success" nz-icon
                                                  nzType="check-circle"></i></span>
    <div>
      <div class="ant-notification-notice-message">{{'COMMON.Success' | translate}}</div>
      <div class="ant-notification-notice-description">
        <span *ngIf="itemsAdded === 1">{{'Recipe_Added' | translate: { listname: modifiedList.name } }}</span>
        <span *ngIf="itemsAdded !== 1">{{'Recipes_Added' | translate: {
          itemcount: itemsAdded,
          listname: modifiedList.name
        } }}</span>
      </div>
      <span class="ant-notification-notice-btn">
            <a (click)="notification.close();" nz-button nzType="primary" routerLink="/list/{{modifiedList.$key}}">
              <span>{{'Open' | translate}}</span>
            </a>
          </span>
    </div>
  </div>
</ng-template>
