<div class="header">
    <h3>{{list?.name}}</h3>
    <div class="spacer"></div>
    <button md-mini-fab color="accent" mdTooltip="{{'Reset_progression' | translate}}"
            (click)="resetProgression()">
        <md-icon>refresh</md-icon>
    </button>
</div>

<md-card>
    <md-card-header>
        <div md-card-title>
            {{'Filters' | translate}}
        </div>
    </md-card-header>
    <md-card-content>
        <div class="filters">
            <md-checkbox *ngFor="let filter of filters" class="filter"
                         [(ngModel)]="filter.checked"
                         (change)="triggerFilter()">
                <img src="https://www.garlandtools.org/db/images/{{filter.job}}.png"
                     alt="{{filter.job}}"
                     class="filter_icons">
            </md-checkbox>
            <button md-icon-button md-tooltip="{{'Check_all' | translate}}" mdTooltipPosition="above"
                    (click)="checkAll(true)" class="filter">
                <md-icon>done_all</md-icon>
            </button>
            <button md-icon-button md-tooltip="{{'Uncheck_all' | translate}}" mdTooltipPosition="above"
                    (click)="checkAll(false)" class="filter">
                <md-icon>clear</md-icon>
            </button>
        </div>
    </md-card-content>
</md-card>

<md-expansion-panel expanded="true">
    <md-expansion-panel-header>{{'Crystals'| translate}}</md-expansion-panel-header>
    <div class="crystal-row" *ngFor="let crystal of list?.crystals">
        <div *ngIf="crystal.amount > crystal.done">
            <img class="crystal" mdTooltip="{{getName(crystal.name)}}" mdTooltipPosition="above"
                 src="{{crystal.icon}}" alt="{{getName(crystal.name)}}">
            <div>{{crystal.amount - crystal.done}}</div>
        </div>
    </div>
</md-expansion-panel>

<md-expansion-panel expanded="true">
    <md-expansion-panel-header>{{'Gathering'| translate}}</md-expansion-panel-header>
    <md-list>
        <div *ngFor="let gather of list?.gathers">
            <app-item (update)="update()" (done)="setDone($event)" *ngIf="!gather.hidden"
                      [item]="gather"></app-item>
        </div>
    </md-list>
</md-expansion-panel>

<md-expansion-panel expanded="true">
    <md-expansion-panel-header>{{'Other'| translate}}</md-expansion-panel-header>
    <md-list>
        <div *ngFor="let other of list?.others">
            <app-item (update)="update()" (done)="setDone($event)" *ngIf="!other.hidden"
                      [item]="other"></app-item>
        </div>
    </md-list>
</md-expansion-panel>

<md-expansion-panel expanded="true">
    <md-expansion-panel-header>{{'Pre_crafts'| translate}}</md-expansion-panel-header>
    <md-list>
        <div *ngFor="let preCraft of list?.preCrafts">
            <app-item (update)="update()" (done)="setDone($event)" *ngIf="!preCraft.hidden"
                      [item]="preCraft"></app-item>
        </div>
    </md-list>
</md-expansion-panel>

<md-expansion-panel expanded="true">
    <md-expansion-panel-header>{{'Items'| translate}}</md-expansion-panel-header>
    <md-list>
        <div *ngFor="let recipe of list?.recipes">
            <app-item (update)="update()" (done)="setDone($event)" *ngIf="!recipe.hidden"
                      [item]="recipe"></app-item>
        </div>
    </md-list>
</md-expansion-panel>
