<button md-fab color="accent" class="reset" mdTooltip="Reset progression" (click)="resetProgression()">
    <md-icon>refresh</md-icon>
</button>
<h3>{{list.name}}</h3>
<md-expansion-panel expanded="true">
    <md-expansion-panel-header>Crystals</md-expansion-panel-header>
    <div class="crystal-row" *ngFor="let crystal of (listObj | async)?.crystals">
        <div *ngIf="crystal.amount > crystal.done">
            <img class="crystal" mdTooltip="{{getName(crystal.name)}}" mdTooltipPosition="above"
                 src="{{crystal.icon}}" alt="{{getName(crystal.name)}}">
            <div>{{crystal.amount - crystal.done}}</div>
        </div>
    </div>
</md-expansion-panel>

<md-expansion-panel expanded="true">
    <md-expansion-panel-header>Gathering</md-expansion-panel-header>
    <md-list>
        <app-item (update)="update()" (done)="setDone($event)" *ngFor="let gather of (listObj | async)?.gathers"
                  [item]="gather"></app-item>
    </md-list>
</md-expansion-panel>

<md-expansion-panel expanded="true">
    <md-expansion-panel-header>Other</md-expansion-panel-header>
    <md-list>
        <app-item (update)="update()" (done)="setDone($event)" *ngFor="let other of (listObj | async)?.others"
                  [item]="other"></app-item>
    </md-list>
</md-expansion-panel>

<md-expansion-panel expanded="true">
    <md-expansion-panel-header>Pre crafts</md-expansion-panel-header>
    <md-list>
        <app-item (update)="update()" (done)="setDone($event)" *ngFor="let preCraft of (listObj | async)?.preCrafts"
                  [item]="preCraft"></app-item>
    </md-list>
</md-expansion-panel>

<md-expansion-panel expanded="true">
    <md-expansion-panel-header>Items</md-expansion-panel-header>
    <md-list>
        <app-item (update)="update()" (done)="setDone($event)" *ngFor="let recipe of (listObj | async)?.recipes"
                  [item]="recipe"></app-item>
    </md-list>
</md-expansion-panel>
