<h2 md-dialog-title>{{data.item.id | itemName | i18n}}</h2>
<div md-dialog-content>
    <md-tab-group>
        <md-tab label="{{'Used_for' | translate}}" *ngIf="getRequiredBy().length > 0">
            <md-list>
                <md-list-item *ngFor="let recipe of getRequiredBy()">
                    <img md-list-avatar [src]="recipe.icon | icon"
                         alt="{{recipe.id | itemName | i18n}}">
                    <div md-line>{{recipe.id | itemName | i18n}}</div>
                </md-list-item>
            </md-list>
        </md-tab>
        <md-tab label="{{'Requires' | translate}}" *ngIf="data.item.requires !== undefined">
            <md-list>
                <md-list-item *ngFor="let requirement of data.item.requires">
                    <img md-list-avatar [src]="getRequirementDetails(requirement).icon | icon"
                         alt="{{getRequirementDetails(requirement).id | itemName | i18n}}">
                    <div md-line>{{getRequirementDetails(requirement).id | itemName | i18n}}</div>
                    <p md-line>x{{requirement.amount * (data.item.amount - data.item.done)}}</p>
                </md-list-item>
            </md-list>
        </md-tab>
    </md-tab-group>
</div>
