<h2 md-dialog-title>{{data.item.id | itemName | i18n}}</h2>
<div md-dialog-content>
    <md-list>
        <md-list-item *ngFor="let requirement of data.item.requires">
            <img md-list-avatar [src]="getRequirementDetails(requirement).icon | icon"
                 alt="{{getRequirementDetails(requirement).id | itemName | i18n}}">
            <div md-line>{{getRequirementDetails(requirement).id | itemName | i18n}}</div>
            <p md-line>x{{requirement.amount * (data.item.amount_needed - data.item.done)}}</p>
        </md-list-item>
    </md-list>
</div>
