<h3 mat-dialog-title>{{'PERMISSIONS.Title' | translate}}</h3>
<div mat-dialog-content *ngIf="!saving">
    <mat-list *ngIf="rows | async as rowsData; else loading">
        <span *ngIf="isWorkshop() && registry.freeCompanyId !== undefined && freeCompany !== undefined">
            <app-permissions-row *ngIf="freeCompany | async as fc"
                                 [name]="fc.name"
                                 [fcCrest]="fc.crest"
                                 [permissions]="registry.freeCompany"
                                 (permissionsChange)="handleFcPermissionsChange($event)"
                                 (delete)="unbindFreeCompany()"
                                 [isWorkshop]="isWorkshop()">
            </app-permissions-row>
        </span>

        <app-permissions-row *ngFor="let row of rowsData"
                             [permissions]="row.permissions"
                             (permissionsChange)="handlePermissionsChange($event, row.userId)"
                             [avatar]="row.character.avatar"
                             [name]="row.character.name"
                             [isAuthor]="row.userId === data.authorId"
                             (delete)="deleteRow(row.userId)"
                             [isWorkshop]="isWorkshop()"></app-permissions-row>

        <app-permissions-row [permissions]="registry.everyone"
                             (permissionsChange)="handlePermissionsChange($event)"
                             isEveryone="true"
                             [isWorkshop]="isWorkshop()"></app-permissions-row>
    </mat-list>
    <ng-template #loading>
        <div class="loading-container">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
    <button mat-raised-button color="accent" class="add-row" (click)="addNewRow()">
        <mat-icon>add</mat-icon>
        {{'PERMISSIONS.Add_new' | translate}}
    </button>
    <button mat-raised-button color="primary" class="add-row" (click)="bindFreeCompany()"
            *ngIf="isWorkshop() && registry.freeCompanyId === undefined">
        {{'PERMISSIONS.Bind_free_company' | translate}}
    </button>
</div>
<div mat-dialog-actions *ngIf="!saving">
    <button mat-raised-button (click)="save()" color="primary">{{'Save' | translate}}</button>
    <button mat-icon-button (click)="propagate()" color="primary" *ngIf="isWorkshop()"
            matTooltip="{{'PERMISSIONS.Propagate_changes' | translate}}"
            matTooltipPosition="above">
        <mat-icon>done_all</mat-icon>
    </button>
    <button mat-button mat-dialog-close color="warn">{{'Cancel' | translate}}</button>
</div>
<div *ngIf="saving">
    <app-random-gif></app-random-gif>
    <p>{{'PERMISSIONS.Saving' | translate}}</p>
</div>
