:host {
    .title {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        h3{
            font-size: 28px;
        }
        font-size: 28px;
    }
    .no_alarms {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
            font-size: 22px;
            opacity: .8;
        }
    }
}
