<div *ngIf="workshop$ | async as workshop; else loading">
  <nz-card *ngIf="!workshop.notFound; else notFound">
    <ng-container *ngIf="author$ | async as author">
      <nz-card-meta [nzAvatar]="author.Avatar?avatarTemplate:null" [nzDescription]="'WORKSHOP.Created_by' | translate: {name: author.Name | translate}"
                    [nzTitle]="workshopName">
      </nz-card-meta>
      <ng-template #avatarTemplate>
        <nz-avatar [nzSrc]="author.Avatar"></nz-avatar>
      </ng-template>
      <ng-template #workshopName>
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
          <div>{{workshop.name}}</div>
          <app-favorite-button [key]="workshop.$key" type="workshops"></app-favorite-button>
        </div>
      </ng-template>
    </ng-container>
    <div *ngIf="lists$ | async as lists" class="lists" fxLayout="column" fxLayoutGap="5px">
      <app-list-panel *ngFor="let list of lists;trackByKey" [list]="list"></app-list-panel>
    </div>
  </nz-card>
  <ng-template #notFound>
    <app-fullpage-message>
      {{'WORKSHOP.Not_found' | translate}}
    </app-fullpage-message>
  </ng-template>
</div>
<ng-template #loading>
  <app-page-loader></app-page-loader>
</ng-template>
