<app-overlay-container uri="/list-panel-overlay">
  @if (display$ | async; as display) {
    <div class="state-container" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row wrap" fxLayoutGap="5px">
        @for (panel of display; track trackByPanel($index, panel)) {
          <button nz-button class="panel-button"
            [nzType]="(selectedPanel$ | async) === panel.title ? 'primary' : 'default'"
            (click)="selectedPanel$.next(panel.title)">
            {{panel.title | translate}}
          </button>
        }
      </div>
      <div>
        <label nz-checkbox [ngModel]="hideCompleted$ | async" (ngModelChange)="hideCompletedChange($event)">{{'Hide_completed' | translate}}</label>
      </div>
      @if (selectedPanelDisplay$ | async; as panelDisplay) {
        <div>
          <app-list-details-panel [displayRow]="panelDisplay"
            [overlay]="true"
          [finalItems]="(selectedPanel$ | async) === 'Items'"></app-list-details-panel>
        </div>
      } @else {
        <app-fullpage-message>
          {{'LIST_DETAILS.OVERLAY.No_panel_selected' | translate}}
        </app-fullpage-message>
      }
    </div>
  } @else {
    <app-fullpage-message>
      {{'LIST_DETAILS.OVERLAY.No_display' | translate}}
    </app-fullpage-message>
  }
</app-overlay-container>
