
.icon-container {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  .hq-overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
  }
  .item-icon {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
  }
}
