<a [appXivApiTooltipDisabled]="tooltipDisabled" [appXivApiTooltip]="itemId"
  (click)="handleClick($event)" (mouseup)="handleClick($event)" class="icon-container">
  @if (icon$ | async; as icon) {
    <img [src]="icon" [style.width.px]="width" alt="{{itemName}}" class="item-icon">
  } @else {
    <nz-skeleton-element nzType="avatar" nzShape="circle" [nzActive]="true" [nzSize]="width" class="item-icon"></nz-skeleton-element>
  }
  @if (hq) {
    <img [style.width.px]="width" class="hq-overlay"
      src="./assets/icons/HQOverlay.png">
    }
    @if (collectable$ | async) {
      <img class="bottom-right-icon" src="./assets/icons/svg/collectable.svg">
    }
  </a>
