<span *ngIf="disableClick; else anchor" class="icon-container"
      [appXivApiTooltip]="itemId" [appXivApiTooltipDisabled]="tooltipDisabled">
  <img [src]="getIcon()" alt="{{itemName}}" class="item-icon"
       [style.width.px]="width">
  <img *ngIf="hq" src="https://www.garlandtools.org/db/images/HQOverlay.png" class="hq-overlay"
       [style.width.px]="width">
</span>
<ng-template #anchor>
  <a class="icon-container" [href]="disableClick?null:getLink()" target="_blank"
     [appXivApiTooltip]="itemId" [appXivApiTooltipDisabled]="tooltipDisabled">
    <img [src]="getIcon()" alt="{{itemName}}" class="item-icon"
         [style.width.px]="width">
    <img *ngIf="hq" src="https://www.garlandtools.org/db/images/HQOverlay.png" class="hq-overlay"
         [style.width.px]="width">
  </a>
</ng-template>
