:host ::ng-deep {
  .ant-form-item-label {
    line-height: 29px !important;
  }

  .ant-divider-horizontal {
    margin: 0 !important;
    color: #444 !important;
    background: #444 !important;
  }

  .category-card {
    .ant-card-body {
      padding: 10px 0 0 0 !important;
    }
  }
}

.page-title {
  margin-bottom: 20px;
}

.job-icon {
  font-size: 32px;
  line-height: 32px;
}

.gearset-name {
  font-size: 24px;
}

.filters {
  margin-bottom: 20px;
}

.category-card {
  &:not(.last) {
    padding-right: 5px;
  }

  &:not(.first) {
    padding-left: 5px;
  }
}

.item-row {
  padding: 10px;

  &.selected {
    background-color: var(--highlight-color-25);
  }
}

.materias {
  cursor: pointer;
}

.input-min-max {
  .min {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-splitter {
    width: 28px;
  }

  .max {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.item-stat-row {
  display: flex;
  justify-content: center;
  border-right: 1px solid #444;
  border-left: 1px solid #444;
  text-overflow: ellipsis;
}

.ilvl {
  opacity: .8;
  font-size: 11px;
}
