.icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    .item-icon {
        width: 96px;
        height: 96px;
    }
}

.spot-row {
    margin: 20px 0;
    .schedule {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        .schedule-icon {
            margin-right: 5px;
        }
    }
}
