<ng-container *ngIf="user$ | async as user">
  <div *ngIf="mainCharacter$ | async as mainCharacter" fxLayout="column" fxLayoutGap="10px">
    <h2>{{'Profile' | translate}}</h2>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <img *ngIf="mainCharacter.character.ID > 0" [src]="mainCharacter.character.Avatar" alt="" class="avatar">
      <nz-avatar *ngIf="mainCharacter.character.ID < 0" [nzText]="mainCharacter.character.Name[0]"></nz-avatar>
      <div fxLayout="row" fxLayoutGap="5px">
        <nz-select (ngModelChange)="setDefaultCharacter($event)" [ngModel]="mainCharacter.character.ID">
          <nz-option *ngFor="let characterEntry of characters$ | async"
                     nzLabel="{{characterEntry.character.Character.Name}} ({{characterEntry.character.Character.Server}})"
                     [nzValue]="characterEntry.character.Character.ID">
          </nz-option>
        </nz-select>
        <i *ngIf="!mainCharacter.verified && mainCharacter.character.ID > 0" [nzTooltipTitle]="'Not_verified' | translate" nz-icon
           nz-tooltip
           nzType="exclamation-circle"></i>
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
        <ng-container *ngIf="userId$ | async as userId">
          <button (click)="verifyCharacter(userId, mainCharacter.character.ID)" *ngIf="!mainCharacter.verified && mainCharacter.character.ID > 0" nz-button
                  nzSize="small"
                  nzType="primary">
            {{'PROFILE.VERIFICATION.Button' | translate}}
          </button>
        </ng-container>

        <button (click)="addCharacter()" [nzTooltipTitle]="'PROFILE.Add_character' | translate" nz-button nz-tooltip nzShape="circle"
                nzSize="small" nzType="primary">
          <i nz-icon nzType="plus"></i>
        </button>
        <button (click)="removeCharacter(mainCharacter.character.ID)" *ngIf="(characters$ | async)?.length > 1"
                [nzTooltipTitle]="'PROFILE.Remove_character' | translate" nz-button nz-tooltip
                nzShape="circle"
                nzSize="small"
                nzDanger>
          <i nz-icon nzType="delete"></i>
        </button>
        <a routerLink="/profile/{{user.$key}}">{{'PROFILE.Open_public_profile' | translate}}</a>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <nz-tag *ngIf="user.admin" [nzColor]="'magenta'">{{'COMMON.Admin' | translate}}</nz-tag>
      <nz-tag *ngIf="user.moderator" [nzColor]="'volcano'">{{'COMMON.Moderator' | translate}}</nz-tag>
      <nz-tag *ngIf="user.patron" [nzColor]="'purple'">{{'PROFILE.Patreon_supporter' | translate}}</nz-tag>
    </div>
    <div [nzGutter]="10" nz-row>
      <div [nzXXl]="12" [nzXs]="24" class="profile-card" nz-col>
        <nz-card [nzExtra]="ipc.machinaToggle?autoFill:null" [nzTitle]="'PROFILE.Jobs' | translate">
          <ng-template #autoFill>
            <button (click)="openAutoFillPopup()" [nzTooltipTitle]="'PROFILE.Autofill_from_packets' | translate" nz-button nz-tooltip nzShape="circle"
                    nzType="primary">
              <i nz-icon nzType="api"></i>
            </button>
          </ng-template>
          <nz-list [nzDataSource]="gearSets$ | async" [nzRenderItem]="setTemplate" nzSize="small">
            <ng-template #setTemplate let-set>
              <nz-list-item [nzActions]="[masterbooks, stats]"
                            [nzContent]="set.jobId <= 15 ? content : null | ifMobile: null">
                <ng-template #content>
                  <div fxLayout="column" fxLayoutGap="5px">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                      <i *ngIf="set.specialist" [nzTooltipTitle]="'SIMULATOR.CONFIGURATION.Specialist' | translate" nz-icon nz-tooltip
                         nzType="star"></i>
                      <div>
                        {{'SIMULATOR.CONFIGURATION.STATS.CP' | translate}}: {{set.cp}} -
                        {{'SIMULATOR.CONFIGURATION.STATS.Craftsmanship' | translate}}: {{set.craftsmanship}} -
                        {{'SIMULATOR.CONFIGURATION.STATS.Control' | translate}}: {{set.control}}
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                      <div nz-tooltip [nzTooltipTitle]="'PROFILE.Gearset_priority_explain' | translate">{{'PROFILE.Gearset_priority' | translate}}:</div>
                      <nz-slider [(ngModel)]="set.priority" (ngModelChange)="saveSet(set)" nzMin="0" nzMax="8" class="priority-slider"></nz-slider>
                    </div>
                  </div>
                </ng-template>
                <nz-list-item-meta
                  [nzAvatar]="'./assets/icons/classjob/'+ ((set.jobId | i18nRow:'jobName' | async)?.en)?.toLowerCase()+'.png' | ifMobile: null"
                  [nzTitle]="set.jobId | i18nRow:'jobName' | i18n"
                  nzDescription="lvl {{set.level}}"></nz-list-item-meta>
                <ng-template #masterbooks>
                  <button (click)="editMasterbooks(set.jobId)" [nzTooltipTitle]="'PROFILE.Masterbooks' | translate" nz-button nz-tooltip
                          nzShape="circle" nzType="primary">
                    <i nz-icon nzType="book"></i>
                  </button>
                </ng-template>
                <ng-template #stats>
                  <button (click)="editStats(set.jobId)" [nzTooltipTitle]="'PROFILE.Stats' | translate" nz-button nz-tooltip nzShape="circle"
                          nzType="primary">
                    <i nz-icon nzType="solution" theme="outline"></i>
                  </button>
                </ng-template>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </nz-card>
      </div>
      <ng-container *ngIf="user$ | async as user">
        <div [nzXXl]="12" [nzXs]="24" class="profile-card" nz-col>
          <nz-card [nzTitle]="'PROFILE.Contacts' | translate">
            <nz-list [nzDataSource]="user.contacts" [nzRenderItem]="contact">
              <ng-template #contact let-contact>
                <nz-list-item [nzActions]="[delete]">
                  <nz-list-item-meta [nzAvatar]="avatar" [nzDescription]="contact"
                                     [nzTitle]="contact | characterName | async">
                    <ng-template #delete>
                      <button (nzOnConfirm)="removeContact(user, contact)" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button nz-popconfirm
                              nzShape="circle"
                              nzSize="small" nzDanger>
                        <i nz-icon nzType="delete"></i>
                      </button>
                    </ng-template>
                    <ng-template #avatar>
                      <app-user-avatar [userId]="contact"></app-user-avatar>
                    </ng-template>
                  </nz-list-item-meta>
                </nz-list-item>
              </ng-template>
            </nz-list>
            <button (click)="newContact(user)" nz-button nzBlock nzType="primary">
              <i nz-icon nzType="plus"></i>
              {{'PROFILE.Add_new_contact' | translate}}
            </button>
          </nz-card>
        </div>
        <ng-container *ngIf="charactersForManagement$ | async as characters">
          <div [nzXXl]="24" [nzXs]="24" class="profile-card" nz-col *ngIf="characters.length > 0">
            <nz-card [nzTitle]="'PROFILE.Characters' | translate">
              <nz-list [nzDataSource]="characters" [nzRenderItem]="characterTpl">
                <ng-template #characterTpl let-character>
                  <nz-list-item [nzActions]="[delete]">
                    <nz-list-item-meta [nzAvatar]="character.character?.Character.Avatar" [nzDescription]="characterDetails"
                                       [nzTitle]="title">
                      <ng-template #title>
                        <ng-container *ngIf="character.character">
                          {{character.character?.Character.Name}} ({{character.character?.Character.World}})
                        </ng-container>
                        <span *ngIf="!character.character" class="missing-character">
                          {{'PROFILE.Missing_character' | translate}}
                        </span>
                      </ng-template>
                      <ng-template #characterDetails>
                        <div fxLayout="row wrap" fxLayoutGap="5px">
                          <div *ngFor="let stat of character.stats"><span [innerHTML]="stat.jobId | jobUnicode" class="companion-svg"></span>{{stat.level}}
                          </div>
                        </div>
                        <ng-container *ngIf="!character.character">
                          {{'PROFILE.Missing_character_description' | translate}}
                        </ng-container>
                      </ng-template>
                      <ng-template #delete>
                        <button (nzOnConfirm)="removeCharacter(character.id)" [nzPopconfirmTitle]="'Confirmation' | translate" nz-button nz-popconfirm
                                nzShape="circle"
                                [disabled]="character.id === user.defaultLodestoneId"
                                nzSize="small" nzDanger>
                          <i nz-icon nzType="delete"></i>
                        </button>
                      </ng-template>
                    </nz-list-item-meta>
                  </nz-list-item>
                </ng-template>
              </nz-list>
              <button (click)="addCharacter()" nz-button nzBlock nzType="primary">
                <i nz-icon nzType="plus"></i>
                {{'PROFILE.Add_character' | translate}}
              </button>
            </nz-card>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
