<ng-container *ngIf="user$ | async as user">
  <div fxLayout="column" fxLayoutGap="10px" *ngIf="mainCharacter$ | async as mainCharacter">
    <h2>{{'Profile' | translate}}</h2>
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" fxLayout.lt-md="column">
      <img [src]="mainCharacter.character.Avatar" alt="" class="avatar" *ngIf="mainCharacter.character.ID > 0">
      <nz-avatar *ngIf="mainCharacter.character.ID < 0" [nzText]="mainCharacter.character.Name[0]"></nz-avatar>
      <div fxLayout="row" fxLayoutGap="5px">
        <nz-select [ngModel]="mainCharacter.character.ID" (ngModelChange)="setDefaultCharacter($event)">
          <nz-option *ngFor="let characterEntry of characters$ | async"
                     [nzValue]="characterEntry.character.Character.ID"
                     [nzLabel]="characterEntry.character.Character.Name">
          </nz-option>
        </nz-select>
        <i nz-icon *ngIf="!mainCharacter.verified && mainCharacter.character.ID > 0" type="exclamation-circle"
           nz-tooltip
           [nzTitle]="'Not_verified' | translate"></i>
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
        <ng-container *ngIf="userId$ | async as userId">
          <button *ngIf="!mainCharacter.verified && mainCharacter.character.ID > 0" nz-button nzType="primary"
                  nzShape="circle" nzSize="small"
                  (click)="verifyCharacter(userId, mainCharacter.character.ID)" nz-tooltip
                  [nzTitle]="'PROFILE.VERIFICATION.Title' | translate">
            <i nz-icon nzType="check"></i>
          </button>
        </ng-container>

        <button nz-button nzType="primary" nzShape="circle" nzSize="small" nz-tooltip
                [nzTitle]="'PROFILE.Add_character' | translate" (click)="addCharacter()">
          <i nz-icon nzType="plus"></i>
        </button>
        <button nz-button nzType="danger" nzShape="circle" nzSize="small" nz-tooltip
                *ngIf="(characters$ | async)?.length > 1"
                [nzTitle]="'PROFILE.Remove_character' | translate"
                (click)="removeCharacter(mainCharacter.character.ID)">
          <i nz-icon nzType="delete"></i>
        </button>
        <a href="https://apkallufalls.com/character/{{mainCharacter.character.ID}}" target="_blank" nz-tooltip
           *ngIf="mainCharacter.character.ID > 0"
           [nzTitle]="'PROFILE.View_on_apkallu_falls' | translate">
          <img
            src="https://camo.githubusercontent.com/77266c191911dcb4d3f5c6d68f9629b13cde635b/68747470733a2f2f61706b616c6c7566616c6c732e636f6d2f69636f6e2f61706b616c6c752d7370656369616c2e706e67"
            alt="" class="apkallu-logo">
        </a>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
      <nz-tag [nzColor]="'magenta'" *ngIf="user.admin">{{'COMMON.Admin' | translate}}</nz-tag>
      <nz-tag [nzColor]="'volcano'" *ngIf="user.moderator">{{'COMMON.Moderator' | translate}}</nz-tag>
      <nz-tag [nzColor]="'purple'" *ngIf="user.patron">{{'PROFILE.Patreon_supporter' | translate}}</nz-tag>
      <nz-tag [nzColor]="'orange'"
              *ngIf="user.stats?.listsCreated > 100">{{'PROFILE.More_than_100_lists_created' | translate}}</nz-tag>
      <!-- Yup, this is one year in seconds-->
      <nz-tag [nzColor]="'geekblue'"
              *ngIf="now - user.createdAt.getTime()/1000 > 365.25 * 86400">{{'PROFILE.Veteran' | translate}}</nz-tag>
    </div>
    <div nz-row [nzGutter]="10">
      <div nz-col [nzXs]="24" [nzMd]="12" class="profile-card">
        <nz-card [nzTitle]="'PROFILE.Jobs' | translate" [nzExtra]="ipc.machinaToggle?autoFill:null">
          <ng-template #autoFill>
            <button nz-button nzShape="circle" nzType="primary" (click)="openAutoFillPopup()" nz-tooltip [nzTitle]="'PROFILE.Autofill_from_packets' | translate">
              <i nz-icon nzType="api"></i>
            </button>
          </ng-template>
          <nz-list [nzRenderItem]="setTemplate" [nzDataSource]="gearSets$ | async" nzSize="small">
            <ng-template #setTemplate let-set>
              <nz-list-item [nzContent]="set.jobId <= 15 ? content : null | ifMobile: null"
                            [nzActions]="[masterbooks, stats]">
                <ng-template #content>
                  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                    <i nz-icon *ngIf="set.specialist" type="star" nz-tooltip
                       [nzTitle]="'SIMULATOR.CONFIGURATION.Specialist' | translate"></i>
                    <div>
                      {{'SIMULATOR.CONFIGURATION.STATS.CP' | translate}}: {{set.cp}} -
                      {{'SIMULATOR.CONFIGURATION.STATS.Craftsmanship' | translate}}: {{set.craftsmanship}} -
                      {{'SIMULATOR.CONFIGURATION.STATS.Control' | translate}}: {{set.control}}
                    </div>
                  </div>
                </ng-template>
                <nz-list-item-meta
                  [nzAvatar]="'./assets/icons/classjob/'+(set.jobId | jobName)?.en?.toLowerCase()+'.png' | ifMobile: null"
                  [nzTitle]="set.jobId | jobName | i18n"
                  nzDescription="lvl {{set.level}}"></nz-list-item-meta>
                <ng-template #masterbooks>
                  <button nz-button nzShape="circle" nzType="primary" nz-tooltip
                          [nzTitle]="'PROFILE.Masterbooks' | translate" (click)="editMasterbooks(set.jobId)">
                    <i nz-icon nzType="book"></i>
                  </button>
                </ng-template>
                <ng-template #stats>
                  <button nz-button nzShape="circle" nzType="primary" nz-tooltip [nzTitle]="'PROFILE.Stats' | translate"
                          (click)="editStats(set.jobId)">
                    <i nz-icon nzType="solution" theme="outline"></i>
                  </button>
                </ng-template>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </nz-card>
      </div>
      <ng-container *ngIf="user$ | async as user">
        <div nz-col [nzXs]="24" [nzMd]="12" class="profile-card">
          <nz-card [nzTitle]="'PROFILE.Contacts' | translate">
            <nz-list [nzRenderItem]="contact" [nzDataSource]="user.contacts">
              <ng-template #contact let-contact>
                <nz-list-item [nzActions]="[delete]">
                  <nz-list-item-meta [nzTitle]="contact | characterName | async" [nzAvatar]="avatar"
                                     [nzDescription]="contact">
                    <ng-template #delete>
                      <button nz-button nzType="danger" nzShape="circle" nzSize="small" nz-popconfirm
                              [nzTitle]="'Confirmation' | translate" (nzOnConfirm)="removeContact(user, contact)">
                        <i nz-icon nzType="delete"></i>
                      </button>
                    </ng-template>
                    <ng-template #avatar>
                      <app-user-avatar [userId]="contact"></app-user-avatar>
                    </ng-template>
                  </nz-list-item-meta>
                </nz-list-item>
              </ng-template>
            </nz-list>
            <button nz-button nzType="primary" nzBlock (click)="newContact(user)">
              <i nz-icon nzType="plus"></i>
              {{'PROFILE.Add_new_contact' | translate}}
            </button>
          </nz-card>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
