<nz-collapse>
  <nz-collapse-panel [nzHeader]="panelHeader">
    <div class="ngx-dnd-container rotations-container" ngxDroppable="rotation" [removeOnSpill]="true"
         (remove)="removeCraftingRotation($event.value)"
         (drop)="onCraftingRotationDrop($event.value, $event.dropIndex)" fxLayout="column" fxLayoutGap="5px">
      <div class="ngx-dnd-item" *ngFor="let rotation of rotations; trackBy: trackByCraftingRotation"
           ngxDraggable="rotation"
           [model]="rotation">
        <app-rotation-panel [rotation]="rotation"></app-rotation-panel>
      </div>
    </div>
  </nz-collapse-panel>
  <ng-template #panelHeader>
    <div class="panel-header" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div>
        {{_folder.name}}
      </div>
      <div nz-col nzMd="4" fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="flex-end center">
        <button nz-button (click)="$event.stopPropagation()" [nzShape]="'circle'" [nzType]="'primary'" nz-tooltip
                [nzTitle]="'LIST.BUTTONS.Share_description' | translate"
                ngxClipboard [cbContent]="getLink()" (cbOnSuccess)="afterLinkCopy()">
          <i nz-icon type="share-alt"></i>
        </button>
        <button nz-button [nzType]="'danger'" [nzShape]="'circle'"
                [nzTitle]="'SIMULATOR.ROTATIONS.FOLDERS.Delete_message' | translate"
                [disabled]="(permissionLevel$ | async) < 30" nz-popconfirm (nzOnConfirm)="deleteFolder()"
                (click)="$event.stopPropagation()">
          <i nz-icon type="delete"></i>
        </button>
        <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
          <button nz-dropdown (click)="$event.stopPropagation()" nz-button [nzShape]="'circle'">
            <i nz-icon type="ellipsis"></i></button>
          <ul nz-menu>
            <li nz-menu-item [nzDisabled]="(permissionLevel$ | async) < 40" (click)="renameFolder()">
              {{'SIMULATOR.ROTATIONS.FOLDERS.Rename' | translate}}
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </div>
  </ng-template>
</nz-collapse>
