@if (permissionLevel$ | async; as permissionLevel) {
  <nz-collapse>
    <nz-collapse-panel [nzHeader]="panelHeader" #panel>
      @if (panel.nzActive) {
        @if (permissionLevel >= 30) {
          <div
            (cdkDropListDropped)="onCraftingRotationDrop($event)"
            (cdkDropListExited)="removeCraftingRotation($event.item.data)"
            [cdkDropListConnectedTo]="['rotations-group']"
            cdkDropList id="folder-rotations-group-{{index}}"
            class="rotations-container"
            fxLayout="column" fxLayoutGap="5px">
            @for (rotation of rotations; track trackByCraftingRotation($index, rotation)) {
              @if (rotation !== undefined) {
                <div cdkDrag [cdkDragData]="rotation">
                  <app-rotation-panel [rotation]="rotation"></app-rotation-panel>
                </div>
              }
            }
          </div>
        } @else {
          <div class="flex-column gap-5">
            @for (rotation of rotations; track trackByCraftingRotation($index, rotation)) {
              <div>
                <app-rotation-panel [rotation]="rotation"></app-rotation-panel>
              </div>
            }
          </div>
        }
      }
    </nz-collapse-panel>
    <ng-template #panelHeader>
      <div class="panel-header" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div>
          {{_folder.name}}
        </div>
        <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="2px" nz-col nzMd="4">
          <a (click)="$event.stopPropagation()" [nzShape]="'circle'"
            [nzTooltipTitle]="'SIMULATOR.ROTATIONS.FOLDERS.Open' | translate" [nzType]="'primary'"
            nz-button
            nz-tooltip
            routerLink="/rotation-folder/{{_folder.$key}}">
            <i nz-icon nzType="folder-open"></i>
          </a>
          <button (click)="$event.stopPropagation()"
            [clipboard]="getLink"
            [clipboardSuccessMessage]="'SIMULATOR.ROTATIONS.FOLDERS.Share_link_copied' | translate"
            [nzShape]="'circle'" [nzTooltipTitle]="'LIST.BUTTONS.Share_description' | translate"
            [nzType]="'primary'"
            nz-button nz-tooltip>
            <i nz-icon nzType="share-alt"></i>
          </button>
          <app-favorite-button (click)="$event.stopPropagation()" type="rotationFolders" [key]="_folder.$key"></app-favorite-button>
          @if ((permissionLevel) >= 30) {
            <button (click)="$event.stopPropagation(); addRotations()" [nzShape]="'circle'"
              [nzTooltipTitle]="'SIMULATOR.ROTATIONS.FOLDERS.Add_rotations' | translate"
              [nzType]="'primary'"
              nz-button
              nz-tooltip>
              <i nz-icon nzType="plus"></i>
            </button>
          }
          @if ((permissionLevel) >= 40) {
            <button (click)="$event.stopPropagation()" (nzOnConfirm)="deleteFolder()"
              [nzShape]="'circle'"
              [nzPopconfirmTitle]="'SIMULATOR.ROTATIONS.FOLDERS.Delete_message' | translate" nzDanger nz-button
              nz-popconfirm>
              <i nz-icon nzType="delete"></i>
            </button>
          }
          @if ((permissionLevel) >= 30) {
            <button (click)="$event.stopPropagation()" [nzDropdownMenu]="menu"
              [nzPlacement]="'bottomRight'"
              [nzShape]="'circle'" [nzTrigger]="'click'" nz-button
              nz-dropdown>
              <i nz-icon nzType="ellipsis"></i>
            </button>
          }
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li (click)="renameFolder()" [nzDisabled]="(permissionLevel) < 40" nz-menu-item>
                {{'SIMULATOR.ROTATIONS.FOLDERS.Rename' | translate}}
              </li>
              @if ((permissionLevel) >= 40) {
                @if (user$ | async; as user) {
                  @if (user.supporter || user.admin) {
                    @if ((customLink$ | async) === undefined) {
                      <li (click)="createCustomLink(_folder, user)"
                        [nzDisabled]="!user.nickname"
                        nz-menu-item>
                        {{'CUSTOM_LINKS.Add_link' | translate}}
                      </li>
                    } @else {
                      @if (customLink$ | async; as link) {
                        <li
                          [clipboard]="link.getUrl()"
                          [clipboardSuccessMessage]="'CUSTOM_LINKS.Share_link_copied' | translate"
                          nz-menu-item>
                          {{'CUSTOM_LINKS.Copy_custom_link' | translate}}
                        </li>
                      }
                    }
                  }
                }
              }
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </ng-template>
  </nz-collapse>
}
