.etime-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.no-alarm {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    opacity: 0.6;
}

.buttons {
    position: absolute;
    top: 10px;
    right: 15px;
}
