.etime-container {
    width: 100%;
    display: flex;
    justify-content: center;
    &.mobiletimer {
        justify-content: flex-start;
    }
}

mat-panel-title {
    display: flex;
    align-items: center;
    mat-button-toggle {
        margin-left: 15px;
    }
}

.drag-hint-border {
    border: 2px dashed;
}

mat-expansion-panel.disabled {
    opacity: .5;
}

.drop-zone {
    min-height: 50px;
    position: relative;
    .drop-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: .6;
        .mat-icon {
            font-size: 45px;
            height: 45px;
            width: 45px;
        }
    }
    &.drag-over-border {
        .drop-overlay {
            visibility: visible;
        }
    }
}

.compact-timer {
    text-align: right;
}

.compact-alarm {
    margin: 5px 0;
}

.map-marker {
    align-self: center;
    width: 150px;
}

.grid {
    margin-top: 15px;
}

.no-alarm {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    opacity: 0.6;
}

.buttons {
    position: absolute;
    top: 10px;
    right: 15px;
    & > * {
        margin-right: 10px;
    }
}
