<div class="etime-container" [ngClass]="{mobiletimer: isMobile()}" *ngIf="!overlay">
    <app-eorzean-time [date]="etime.getEorzeanTime() | async"></app-eorzean-time>
</div>
<div class="buttons" *ngIf="!overlay">
    <mat-checkbox [(ngModel)]="muted" (change)="saveMuted()">{{"Mute_alarms" | translate}}</mat-checkbox>
    <mat-checkbox [(ngModel)]="compact" (change)="saveCompact()">{{"Compact_display" | translate}}</mat-checkbox>
    <button mat-mini-fab (click)="openAddAlarmPopup()">
        <mat-icon>add_alert</mat-icon>
    </button>
    <button mat-mini-fab (click)="openOptionsPopup()">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-mini-fab (click)="showOverlay()" *ngIf="desktop">
        <mat-icon>screen_share</mat-icon>
    </button>
</div>
<div *ngIf="(getAlarms() | async)?.length === 0"><h4 class="no-alarm">{{'ALARMS.No_alarm' | translate}}</h4></div>
<mat-grid-list cols="{{getCols()}}" rowHeight="3:4" class="grid" *ngIf="!compact && !overlay">
    <mat-grid-tile *ngFor="let alarm of getAlarms() | async">
        <app-alarm-card [alarm]="alarm"
                        [compact]="compact"
                        [alerted]="alarmService.isAlerted(alarm.itemId) | async"
                        [spawned]="alarmService.isAlarmSpawned(alarm, time)"
                        [timer]="alarmService.getAlarmTimerString(alarm, time)"
                        (delete)="deleteAlarm(alarm)"></app-alarm-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-list *ngIf="compact || overlay" dense [class.overlay]="overlay">
    <mat-list-item *ngFor="let alarm of getAlarms() | async"
                   class="compact-alarm"
                   [ngClass]="{
                   'mat-elevation-z2': alarmService.isAlerted(alarm.itemId) | async,
                   'mat-elevation-z8': alarmService.isAlarmSpawned(alarm, time),
                   'primary-background': alarmService.isAlarmSpawned(alarm, time),
                   'accent-background': alarmService.isAlerted(alarm.itemId) | async
                   }">
        <img mat-list-avatar [appXivdbTooltip]="alarm.itemId" [src]="alarm.icon | icon" alt="">
        <span matLine>{{alarm.itemId | itemName | i18n}} <span *ngIf="alarm.slot">({{alarm.slot}})</span></span>
        <i matLine>{{alarm.zoneId | placeName | i18n}} </i>
        <span class="coords" matLine *ngIf="compact || overlay">X: {{alarm.coords[0]}} - Y: {{alarm.coords[1]}}</span>
        <app-map-position *ngIf="!overlay"
                          [zoneId]="alarm.zoneId"
                          class="map-marker"
                          [marker]="{x:alarm.coords[0], y:alarm.coords[1]}"></app-map-position>
        <div>
            <span matLine *ngIf="alarm.aetheryte$">{{(alarm.aetheryte$ | async)?.nameid | placeName | i18n}}</span>
            <span matLine class="compact-timer">{{alarmService.getAlarmTimerString(alarm, time)}}</span>
        </div>
        <button mat-icon-button (click)="deleteAlarm(alarm)" color="warn" *ngIf="!overlay">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-list-item>
</mat-list>
