<div class="etime-container" [ngClass]="{mobiletimer: isMobile()}" *ngIf="!overlay">
    <app-eorzean-time [date]="etime.getEorzeanTime() | async"></app-eorzean-time>
</div>
<div class="buttons" *ngIf="!overlay">
    <mat-checkbox [(ngModel)]="muted" (change)="saveMuted()">{{"Mute_alarms" | translate}}</mat-checkbox>
    <mat-checkbox [(ngModel)]="compact" (change)="saveCompact()">{{"Compact_display" | translate}}</mat-checkbox>
    <button mat-mini-fab (click)="addGroup()" matTooltip="{{'ALARMS.New_group' | translate}}">
        <mat-icon>create_new_folder</mat-icon>
    </button>
    <button mat-mini-fab (click)="openAddAlarmPopup()">
        <mat-icon>add_alert</mat-icon>
    </button>
    <button mat-mini-fab (click)="openOptionsPopup()">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-mini-fab (click)="showOverlay()" *ngIf="desktop">
        <mat-icon>screen_share</mat-icon>
    </button>
</div>
<div *ngIf="(alarmGroups$ | async)?.length === 0"><h4 class="no-alarm">{{'ALARMS.No_alarm' | translate}}</h4></div>

<div *ngIf="!compact && !overlay">
    <div class="drop-zone group-zone" (onDrop)="setGroupIndex($event.dragData, 0)" droppable [dropScope]="'group'">
        <div class="drop-overlay accent-background">
            <mat-icon>save_alt</mat-icon>
        </div>
    </div>
    <div *ngFor="let group of alarmGroups$ | async; trackBy: trackByGroupFn; let i = index">
        <mat-expansion-panel class="alarm-group"
                             [dragScope]="'group'"
                             [dragData]="group"
                             draggable
                             expanded="{{group.enabled}}" [class.disabled]="!group.enabled">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{group.groupName}}
                    <button mat-icon-button (click)="$event.stopPropagation();renameGroup(group)"
                            [disabled]="group.groupName === 'Default group'">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <mat-button-toggle [checked]="!group.enabled" (click)="$event.stopPropagation();"
                                       (change)="toggleGroupEnabled(group.groupName)">
                        <mat-icon>alarm_off</mat-icon>
                    </mat-button-toggle>
                </mat-panel-title>
                <button mat-icon-button color="warn" [disabled]="group.groupName === 'Default group'"
                        (click)="$event.stopPropagation();deleteGroup(group.groupName)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-expansion-panel-header>
            <div class="drop-zone" droppable (onDrop)="onGroupDrop(group, $event.dragData)" [dropScope]="'alarm'">
                <div class="drop-overlay accent-background">
                    <mat-icon>save_alt</mat-icon>
                </div>
                <mat-grid-list cols="{{getCols()}}" rowHeight="3:4" class="grid">
                    <mat-grid-tile *ngFor="let alarm of group.alarms">
                        <app-alarm-card draggable
                                        [dragScope]="'alarm'"
                                        [dragData]="alarm"
                                        [alarm]="alarm"
                                        [alerted]="alarmService.isAlerted(alarm.itemId) | async"
                                        [spawned]="alarmService.isAlarmSpawned(alarm, time)"
                                        [timer]="alarmService.getAlarmTimerString(alarm, time)"
                                        (delete)="deleteAlarm(alarm)"></app-alarm-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-expansion-panel>
        <div class="drop-zone group-zone" (onDrop)="setGroupIndex($event.dragData, i+1)" droppable
             [dropScope]="'group'">
            <div class="drop-overlay accent-background">
                <mat-icon>save_alt</mat-icon>
            </div>
        </div>
    </div>
</div>

<div *ngIf="compact && !overlay">
    <div class="drop-zone group-zone" (onDrop)="setGroupIndex($event.dragData, 0)" droppable [dropScope]="'group'">
        <div class="drop-overlay accent-background">
            <mat-icon>save_alt</mat-icon>
        </div>
    </div>
    <div *ngFor="let group of alarmGroups$ | async; trackBy: trackByGroupFn; let i = index">
        <mat-expansion-panel class="alarm-group"
                             [dragScope]="'group'"
                             [dragData]="group"
                             draggable
                             expanded="{{group.enabled}}" [class.disabled]="!group.enabled">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{group.groupName}}
                    <button mat-icon-button (click)="$event.stopPropagation();renameGroup(group)"
                            [disabled]="group.groupName === 'Default group'">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <mat-button-toggle [checked]="!group.enabled" (click)="$event.stopPropagation();"
                                       (change)="toggleGroupEnabled(group.groupName)">
                        <mat-icon>alarm_off</mat-icon>
                    </mat-button-toggle>
                </mat-panel-title>
                <button mat-icon-button color="warn" [disabled]="group.groupName === 'Default group'"
                        (click)="$event.stopPropagation();deleteGroup(group.groupName)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-expansion-panel-header>
            <div class="drop-zone" droppable (onDrop)="onGroupDrop(group, $event.dragData)" [dropScope]="'alarm'">
                <div class="drop-overlay accent-background">
                    <mat-icon>save_alt</mat-icon>
                </div>
                <mat-list dense>
                    <mat-list-item *ngFor="let alarm of group.alarms"
                                   draggable
                                   [dragData]="alarm"
                                   class="compact-alarm"
                                   [dragScope]="'alarm'"
                                   [ngClass]="{
                   'mat-elevation-z2': alarmService.isAlerted(alarm.itemId) | async,
                   'mat-elevation-z8': alarmService.isAlarmSpawned(alarm, time),
                   'primary-background': alarmService.isAlarmSpawned(alarm, time),
                   'accent-background': alarmService.isAlerted(alarm.itemId) | async
                   }">
                        <img mat-list-avatar [appXivdbTooltip]="alarm.itemId" [src]="alarm.icon | icon" alt="">
                        <span matLine>{{alarm.itemId | itemName | i18n}} <span
                            *ngIf="alarm.slot">({{alarm.slot}})</span></span>
                        <i matLine>{{alarm.zoneId | placeName | i18n}} </i>
                        <span class="coords" matLine
                              *ngIf="compact">X: {{alarm.coords[0]}} - Y: {{alarm.coords[1]}}</span>
                        <app-map-position [zoneId]="alarm.zoneId"
                                          class="map-marker"
                                          [marker]="{x:alarm.coords[0], y:alarm.coords[1]}"></app-map-position>
                        <div>
                    <span matLine
                          *ngIf="alarm.aetheryte$">{{(alarm.aetheryte$ | async)?.nameid | placeName | i18n}}</span>
                            <span matLine class="compact-timer">{{alarmService.getAlarmTimerString(alarm, time)}}</span>
                        </div>
                        <button mat-icon-button (click)="deleteAlarm(alarm)" color="warn" *ngIf="!overlay">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-expansion-panel>
        <div class="drop-zone group-zone" (onDrop)="setGroupIndex($event.dragData, i+1)" droppable
             [dropScope]="'group'">
            <div class="drop-overlay accent-background">
                <mat-icon>save_alt</mat-icon>
            </div>
        </div>
    </div>
</div>

<div *ngIf="overlay">
    <mat-list dense class="overlay">
        <mat-list-item *ngFor="let alarm of overlayAlarms$ | async; trackBy: trackByAlarmFn"
                       [ngClass]="{
                   'mat-elevation-z2': alarmService.isAlerted(alarm.itemId) | async,
                   'mat-elevation-z8': alarmService.isAlarmSpawned(alarm, time),
                   'primary-background': alarmService.isAlarmSpawned(alarm, time),
                   'accent-background': alarmService.isAlerted(alarm.itemId) | async
                   }">
            <img mat-list-avatar [appXivdbTooltip]="alarm.itemId" [src]="alarm.icon | icon" alt="">
            <span matLine>{{alarm.itemId | itemName | i18n}} <span
                *ngIf="alarm.slot">({{alarm.slot}})</span></span>
            <i matLine>{{alarm.zoneId | placeName | i18n}} </i>
            <span class="coords" matLine>X: {{alarm.coords[0]}} - Y: {{alarm.coords[1]}}</span>
            <div>
                    <span matLine
                          *ngIf="alarm.aetheryte$">{{(alarm.aetheryte$ | async)?.nameid | placeName | i18n}}</span>
                <span matLine class="compact-timer">{{alarmService.getAlarmTimerString(alarm, time)}}</span>
            </div>
            <button mat-icon-button (click)="deleteAlarm(alarm)" color="warn" *ngIf="!overlay">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>
