<h3>{{list?.name}} - {{"Pricing" | translate}}</h3>

<button md-button color="accent" (click)="close.emit()"><md-icon>arrow_back</md-icon>{{"Back_to_list" | translate}}</button>

<md-card *ngIf="list" [class]="isMobile()?'mobile':null">
    <md-card-title>
        {{"Spending" | translate}}
    </md-card-title>
    <md-card-subtitle>{{getSpendingTotal().toLocaleString()}} gils</md-card-subtitle>

    <md-expansion-panel [expanded]="true" *ngIf="list.crystals.length > 0">
        <md-expansion-panel-header>
            <md-panel-title>{{"Crystals" | translate}}</md-panel-title>
            <md-panel-description>{{getTotalPrice(list.crystals)}} gils</md-panel-description>
        </md-expansion-panel-header>
        <md-list dense>
            <app-pricing-row *ngFor="let item of list.crystals" [item]="item" [listId]="list.$key"></app-pricing-row>
        </md-list>
    </md-expansion-panel>

    <md-expansion-panel [expanded]="true" *ngIf="list.gathers.length > 0">
        <md-expansion-panel-header>
            <md-panel-title>{{"Gathering" | translate}}</md-panel-title>
            <md-panel-description>{{getTotalPrice(list.gathers).toLocaleString()}} gils</md-panel-description>
        </md-expansion-panel-header>
        <md-list dense>
            <app-pricing-row *ngFor="let item of list.gathers" [item]="item" [listId]="list.$key"></app-pricing-row>
        </md-list>
    </md-expansion-panel>

    <md-expansion-panel [expanded]="true" *ngIf="list.others.length > 0">
        <md-expansion-panel-header>
            <md-panel-title>{{"Other" | translate}}</md-panel-title>
            <md-panel-description>{{getTotalPrice(list.others).toLocaleString()}} gils</md-panel-description>
        </md-expansion-panel-header>
        <md-list dense>
            <app-pricing-row *ngFor="let item of list.others" [item]="item" [listId]="list.$key"></app-pricing-row>
        </md-list>
    </md-expansion-panel>

    <md-expansion-panel [expanded]="true" *ngIf="list.preCrafts.length > 0">
        <md-expansion-panel-header>
            <md-panel-title>{{"Pre_crafts" | translate}}</md-panel-title>
            <md-panel-description>{{getTotalPrice(list.preCrafts).toLocaleString()}} gils</md-panel-description>
        </md-expansion-panel-header>
        <md-list dense>
            <app-pricing-row *ngFor="let item of list.preCrafts" [item]="item" [listId]="list.$key"
                             [craftCost]="getCraftCost(item)"></app-pricing-row>
        </md-list>
    </md-expansion-panel>

</md-card>

<md-card *ngIf="list" [class]="isMobile()?'mobile':null">
    <md-card-title>{{"Earning" | translate}}</md-card-title>
    <md-card-subtitle>{{getTotalPrice(list.recipes).toLocaleString()}} gils</md-card-subtitle>
    <md-list dense>
        <app-pricing-row *ngFor="let item of list.recipes" [item]="item" [listId]="list.$key"
                         [craftCost]="getCraftCost(item)"></app-pricing-row>
    </md-list>
</md-card>

<md-card *ngIf="list" class="accent">
    <md-card-title>{{"Benefits" | translate}}: {{getBenefits().toLocaleString()}} gils</md-card-title>
</md-card>
