<nz-tabset nzAnimated="false" *ngIf="type$ | async as trackerType" [nzSelectedIndex]="trackerType - 1"
           (nzSelectedIndexChange)="setType($event)">
  <nz-tab [nzTitle]="'Game_Term/DoH' | translate">
    <nz-tabset nzSize="small" nzAnimated="false"
               (nzSelectedIndexChange)="dohSelectedPage = dohTabs[$event][0].id">
      <nz-tab *ngFor="let tab of dohTabs; let index = index" [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <img [src]="getDohIcon(index)" alt="" class="job-icon"
               [class.small-icon]="false | ifMobile: true">{{ tab.name }}
        </ng-template>
        <nz-tabset nzSize="small" nzAnimated="false" nzTabPosition="left"
                   (nzSelectedIndexChange)="dohSelectedPage = tab[$event].id">
          <nz-tab *ngFor="let page of tab;" [nzTitle]="titleTemplate">
            <ng-template #titleTemplate>
          <span [class.not-required]="!isRequiredForAchievement(page)">{{ getDohPageName(page) }}<span
            *ngIf="isRequiredForAchievement(page)" nz-tooltip
            [nzTitle]="'LOG_TRACKER.Required_for_achievement' | translate">*</span>
            ({{getDohPageCompletion(page)}})
          </span>
            </ng-template>
            <nz-spin [nzSpinning]="userCompletion === {}">
              <div fxLayout="column" *ngIf="dohSelectedPage === page.id">
                <div class="toolbar" fxLayout="row" fxLayoutGap="5px" fxLayout.lt-md="column">
                  <button nz-button nz-popconfirm [nzTitle]="'Confirmation' | translate"
                          (nzOnConfirm)="markDohPageAsDone(page)">
                    <i nz-icon type="check"></i> {{'LOG_TRACKER.Mark_page_as_done' | translate}}
                  </button>
                  <button nz-button (click)="createList(page)">
                    <i nz-icon type="check"></i> {{'LOG_TRACKER.Create_list' | translate}}
                  </button>
                  <button nz-button (click)="createList(page, 50)">
                    <i nz-icon type="check"></i> {{'LOG_TRACKER.Create_list_limited' | translate}}
                  </button>
                  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-end center">
                    <nz-switch [(ngModel)]="hideCompleted"></nz-switch>
                    <div>{{'LOG_TRACKER.Hide_completed' | translate}}</div>
                  </div>
                </div>
                <ng-container *ngFor="let recipe of page.recipes">
                  <div fxLayout="row" fxLayoutAlign="flex-start center"
                       *ngIf="!userCompletion[recipe.recipeId] || !hideCompleted"
                       fxLayoutGap="5px">
                    <app-item-icon *ngIf="true | ifMobile: false"
                                   [width]="32"
                                   [itemId]="recipe.itemId"
                                   [icon]="recipe.icon | xivapiIcon"></app-item-icon>
                    <div fxLayout="column">
                      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                        <div class="recipe-name"
                             [appItemRarity]="recipe.itemId">{{recipe.itemId | itemName | i18n}}</div>
                        <i nz-icon type="check" *ngIf="userCompletion[recipe.recipeId]"></i>
                      </div>
                      <div class="recipe-details">rlvl {{recipe.rlvl}}</div>
                    </div>
                    <div>
                      <button nz-button (click)="markDohAsDone(recipe.recipeId, true)" nz-tooltip
                              nzSize="small"
                              nzShape="circle"
                              *ngIf="!userCompletion[recipe.recipeId]"
                              [nzTitle]="'LOG_TRACKER.Mark_as_done' | translate">
                        <i nz-icon type="check"></i>
                      </button>
                      <button nz-button (click)="markDohAsDone(recipe.recipeId, false)" nz-tooltip
                              nzSize="small"
                              nzShape="circle"
                              nzType="danger"
                              *ngIf="userCompletion[recipe.recipeId]"
                              [nzTitle]="'LOG_TRACKER.Mark_as_not_done' | translate">
                        <i nz-icon type="close"></i>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </nz-spin>
          </nz-tab>
        </nz-tabset>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab [nzTitle]="'MIN/BTN' | translate">
    <ng-template #extraTemplate>
      <div fxLayout="row" fxLayoutGap="5px" class="dol-path-buttons">
        <button nz-button (click)="showOptimizedMap(0)" nz-tooltip
                [nzTitle]="'LOG_TRACKER.MIN_optimized_path' | translate">
          <i nz-icon iconfont="icon-map"></i>
          <img src="./assets/icons/MIN.png" alt="MIN" class="job-icon">
        </button>
        <button nz-button (click)="showOptimizedMap(2)" nz-tooltip
                [nzTitle]="'LOG_TRACKER.BTN_optimized_path' | translate">
          <i nz-icon iconfont="icon-map"></i>
          <img src="./assets/icons/BTN.png" alt="BTN" class="job-icon">
        </button>

      </div>
    </ng-template>
    <nz-tabset nzSize="small" nzAnimated="false"
               [nzTabBarExtraContent]="extraTemplate"
               (nzSelectedIndexChange)="dolSelectedPage = dolTabs[$event][0].id">
      <nz-tab *ngFor="let tab of dolTabs; let index = index" [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <img [src]="getDolIcon(index)" alt="" class="job-icon"
               [class.small-icon]="false | ifMobile: true">{{ tab.name }}
        </ng-template>
        <nz-tabset nzSize="small" nzAnimated="false" nzTabPosition="left"
                   (nzSelectedIndexChange)="dolSelectedPage = tab[$event].id">
          <nz-tab *ngFor="let page of tab;" [nzTitle]="titleTemplate">
            <ng-template #titleTemplate>
              <span>{{ getDolPageName(page) }}
                ({{getDolPageCompletion(page)}})
              </span>
            </ng-template>
            <nz-spin [nzSpinning]="userCompletion === {}">
              <div fxLayout="column" *ngIf="dolSelectedPage === page.id">
                <div class="toolbar" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="5px" fxLayout.lt-md="column">
                  <button nz-button (click)="markDolPageAsDone(page)">
                    <i nz-icon type="check"></i> {{'LOG_TRACKER.Mark_page_as_done' | translate}}
                  </button>
                </div>
                <div *ngFor="let item of page.items; let last = last">
                  <div nz-row fxLayoutAlign="flex-start center">
                    <div nz-col [nzMd]="6" fxLayout="column" fxLayoutAlign="flex-start flex-start">
                      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                        <app-item-icon *ngIf="true | ifMobile: false"
                                       [width]="32"
                                       [itemId]="item.itemId"
                                       [icon]="item.itemId | lazyIcon"></app-item-icon>
                        <div fxLayout="column" fxLayoutAlign="center flex-start" fxLayoutGap="5px">
                          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                            <div class="recipe-name" [appItemRarity]="item.itemId">{{item.itemId | itemName | i18n}}</div>
                            <i nz-icon type="check" *ngIf="userCompletion[item.itemId]"></i>
                          </div>
                          <div class="recipe-details">ilvl {{item.ilvl}} {{item.stars | ingameStars}}</div>
                        </div>
                      </div>
                    </div>
                    <div nz-col [nzMd]="12" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
                      <ng-container *ngIf="getNodeData(item.itemId, dolSelectedPage) as nodeData">
                        <div *ngFor="let node of nodeData; let last = last" fxLayout="row"
                             fxLayoutAlign="flex-start center">
                          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                            <div>
                              <app-map-position [showZoneName]="true"
                                                [mapId]="node.mapId"
                                                [zoneId]="node.zoneid"
                                                flex="row"
                                                [marker]="{x: node.x, y: node.y}"></app-map-position>
                            </div>
                            <div *ngIf="node.timed">
                              <ng-container *ngIf="getAlarm(node) as alarm">
                                <nz-button-group *ngIf="alarm | alarmDisplay | async as display">
                                  <button nz-button [nzSize]="'small'" [nzType]="display.spawned?'primary':'default'"
                                          nz-tooltip
                                          [nzGhost]="!display.registered"
                                          (click)="toggleAlarm(display)">
                                    <i nz-icon type="bell" *ngIf="!display.registered"></i>
                                    <i nz-icon type="close-circle-o" *ngIf="display.registered"></i>
                                    {{display.remainingTime | timer}}
                                    <span *ngIf="display.alarm.slot">({{display.alarm.slot}})</span>
                                    <img [src]="display.alarm.type | nodeTypeIcon" alt="" class="node-type-icon">
                                  </button>
                                  <ng-container *ngIf="alarmGroups$ | async as alarmGroups">
                                    <nz-dropdown *ngIf="!display.registered && alarmGroups.length > 0"
                                                 [nzPlacement]="'bottomCenter'">
                                      <button nz-button [nzSize]="'small'" nz-dropdown>
                                        <i nz-icon type="ellipsis"></i>
                                      </button>
                                      <ul nz-menu>
                                        <li nz-menu-item *ngFor="let group of alarmGroups"
                                            (click)="addAlarmWithGroup(alarm, group)">
                                          {{group.name}}
                                        </li>
                                      </ul>
                                    </nz-dropdown>
                                  </ng-container>
                                </nz-button-group>
                              </ng-container>
                            </div>
                          </div>
                          <nz-divider *ngIf="!last" nzType="vertical"></nz-divider>
                        </div>
                      </ng-container>
                    </div>
                    <div nz-col [nzMd]="4"></div>
                    <div nz-col [nzMd]="2">
                      <button nz-button (click)="markDolAsDone(item.itemId, true)" nz-tooltip
                              nzShape="circle"
                              nzType="primary"
                              *ngIf="!userGatheringCompletion[item.itemId]"
                              [nzTitle]="'LOG_TRACKER.Mark_as_done' | translate">
                        <i nz-icon type="check"></i>
                      </button>
                      <button nz-button (click)="markDolAsDone(item.itemId, false)" nz-tooltip
                              nzShape="circle"
                              nzType="danger"
                              *ngIf="userGatheringCompletion[item.itemId]"
                              [nzTitle]="'LOG_TRACKER.Mark_as_not_done' | translate">
                        <i nz-icon type="close"></i>
                      </button>
                    </div>
                  </div>
                  <nz-divider *ngIf="!last"></nz-divider>
                </div>
              </div>
            </nz-spin>
          </nz-tab>
        </nz-tabset>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab [nzTitle]="'Game_Term/FSH' | translate">
    <app-fishing-log-tracker></app-fishing-log-tracker>
  </nz-tab>
</nz-tabset>
<ng-template #notificationRef let-notification>
  <div class="ant-notification-notice-content ant-notification-notice-with-icon">
    <span class="ant-notification-notice-icon"><i nz-icon type="check-circle"
                                                  class="ant-notification-notice-icon-success"></i></span>
    <div>
      <div class="ant-notification-notice-message">{{'COMMON.Success' | translate}}</div>
      <div class="ant-notification-notice-description">
        <span *ngIf="itemsAdded === 1">{{'Recipe_Added' | translate: { listname: modifiedList.name } }}</span>
        <span *ngIf="itemsAdded !== 1">{{'Recipes_Added' | translate: {
          itemcount: itemsAdded,
          listname: modifiedList.name
        } }}</span>
      </div>
      <span class="ant-notification-notice-btn">
            <a nz-button nzType="primary" (click)="notification.close();" routerLink="/list/{{modifiedList.$key}}">
              <span>{{'Open' | translate}}</span>
            </a>
          </span>
    </div>
  </div>
</ng-template>
