.list-title, .alert, .note {
  margin-bottom: 5px;
}

.list-title {
  padding-top: 20px;
}

h2 {
  margin-bottom: 0;
}

.toolbar {
  margin-bottom: 10px;
}

:host ::ng-deep {
  .ant-alert-message {
    color: rgba(0, 0, 0, .65);
  }

  .anticon-close {
    color: rgba(0, 0, 0, .65);

    &:hover {
      color: rgba(0, 0, 0, .85);
    }
  }

  .alert {
    .ant-card-body {
      padding: 16px;
      background-color: var(--topbar-color);
    }
  }
}

.step-by-step-overlay-button {
  margin-right: 10px;
}

.display-mode-selector {
  margin-right: 10px;

  .selector-label {
    display: inline-block;
    padding: 4px 10px 5px 15px;
    height: 32px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #444;
    border-right: none;
    background: var(--primary-color-50);
  }

  ::ng-deep {
    .ant-radio-button-wrapper {
      background: var(--topbar-color) !important;

      &:first-child {
        border-radius: 0 !important;
      }
    }
  }
}
