<div *ngIf="list$ | async as list; else loader">
  <div *ngIf="!list.notFound; else notFound">
    <div class="toolbar" fxLayout="row wrap" fxLayoutGap="5px">
      <button nz-button nzType="primary" nzShape="circle" (click)="openLayoutOptions()" nz-tooltip
              [nzTitle]="'LIST_DETAILS.LAYOUT_DIALOG.Title' | translate">
        <i-layout></i-layout>
      </button>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip [nzTitle]="'PERMISSIONS.Title' | translate"
              (click)="openPermissionsPopup(list)" [disabled]="(permissionLevel$ | async) < 40">
        <i-shield></i-shield>
      </button>
      <button disabled nz-button nzType="primary" nzShape="circle">
        <i class="material-icons">people_outline</i>
      </button>
      <button nz-button nzType="primary" nzShape="circle" (click)="cloneList(list)" nz-tooltip
              [nzTitle]="'List_fork' | translate">
        <i-copy></i-copy>
      </button>
      <div class="spacer"></div>
      <button nz-button nzType="primary" nzShape="circle" (click)="openTagsPopup(list)" nz-tooltip
              [nzTitle]="'LIST_DETAILS.Tags_popup' | translate" [disabled]="(permissionLevel$ | async) < 40">
        <i class="anticon anticon-tags-o"></i>
      </button>
      <button nz-button nzType="primary" nzShape="circle" (click)="openInventoryPopup(list)" nz-tooltip
              [nzTitle]="'LIST_DETAILS.Inventory_breakdown' | translate">
        <i class="material-icons">apps</i>
      </button>
      <button [disabled]="list.modificationsHistory.length === 0" nz-button nzType="primary" nzShape="circle"
              (click)="openHistoryPopup(list)" nz-tooltip
              [nzTitle]="'LIST.History' | translate" [disabled]="(permissionLevel$ | async) < 20">
        <i class="material-icons">history</i>
      </button>
    </div>
    <div class="list-title" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center"
         fxLayoutAlign.lt-sm="center center">
      <h2>{{list.name}}</h2>
      <button nz-button nzShape="circle" nzSize="small" nz-tooltip [nzTitle]="'Edit' | translate"
              (click)="renameList(list)" [disabled]="(permissionLevel$ | async) < 40">
        <i class="anticon anticon-edit"></i>
      </button>
      <button nz-button nzShape="circle" nzType="primary" nzSize="small" nz-tooltip
              [nzTitle]="'LIST.Add_all_alarms' | translate" (click)="createAlarms(list)">
        <i class="anticon anticon-clock-circle-o"></i>
      </button>
      <button nz-button nzType="primary" nzSize="small" nzShape="circle" nz-tooltip
              [nzTitle]="'LIST.Regenerate' | translate" (click)="regenerateList(list)"
              [disabled]="(permissionLevel$ | async) < 30">
        <i class="material-icons">update</i>
      </button>
      <button nz-button nzType="primary" nzSize="small" nzShape="circle" nz-tooltip
              nz-popconfirm [nzTitle]="'Reset_progression' | translate" (nzOnConfirm)="resetList(list)"
              [disabled]="(permissionLevel$ | async) < 20">
        <i class="anticon anticon-reload"></i>
      </button>
    </div>
    <div class="list-display" *ngIf="display$ | async as listDisplay">
      <app-list-crystals-panel [crystals]="crystals$ | async"></app-list-crystals-panel>
      <app-list-details-panel [displayRow]="displayRow"
                              *ngFor="let displayRow of listDisplay; trackBy: trackByDisplayRow"></app-list-details-panel>
      <app-list-details-panel [displayRow]="finalItemsRow$ | async" [finalItems]="true"></app-list-details-panel>
    </div>
  </div>
</div>
<ng-template #loader>
  <app-page-loader></app-page-loader>
</ng-template>
<ng-template #notFound>
  <app-fullpage-message>
    {{'List_not_found' | translate}}
  </app-fullpage-message>
</ng-template>
