.list-title, .alert, .note {
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 0;
}

:host ::ng-deep {
  .ant-alert-message {
    color: rgba(0, 0, 0, .65);
  }

  .anticon-close {
    color: rgba(0, 0, 0, .65);

    &:hover {
      color: rgba(0, 0, 0, .85);
    }
  }
}
