<div class="tooltip-container">
  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
    <div class="icon">
      <img alt="{{fish | xivapiI18n}}" src="https://xivapi.com{{fish.Icon}}">
    </div>
    <div class="name" fxLayout="column">
      <span>{{fish | xivapiI18n}}</span>
      <span class="item-kind">{{fish.ItemKind | xivapiI18n}}</span>
    </div>
  </div>
  <div *ngIf="fish.Description !== undefined && fish.Description.length > 0" class="description">
    <span [innerHtml]="fish | xivapiI18n: 'Description' | xivUIText"></span>
  </div>
  <div *ngIf="getFshData(fish) as nodes" class="details">
    <div *ngFor="let node of nodes; let last = last">
      {{node.zoneid | placeName | i18n}}<br>
      X: {{node.x}}, Y: {{node.y}}<br>
      {{getNodeSpawns(node)}} <i *ngIf="node.ephemeral" [nzTitle]="'GATHERING_LOCATIONS.Ephemeral_node' | translate" nz-icon nz-tooltip
                                 nzType="clock-circle"></i>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <div *ngIf="node.weathersFrom !== undefined" fxLayout="row wrap" fxLayoutGap="5px">
          <div *ngFor="let weather of node.weathersFrom">
            <img [nzTitle]="weather | weatherName | i18n" [src]="weather | weatherIcon" alt="{{weather | weatherName | i18n}}"
                 nz-tooltip>
          </div>
        </div>
        <div *ngIf="node.weathersFrom !== undefined">
          <i nz-icon nzType="right" theme="outline"></i>
        </div>
        <div *ngIf="node.weathers !== undefined" fxLayout="row wrap" fxLayoutGap="5px">
          <div *ngFor="let weather of node.weathers">
            <img [nzTitle]="weather | weatherName | i18n" [src]="weather | weatherIcon" alt="{{weather | weatherName | i18n}}"
                 nz-tooltip>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <img *ngIf="node.folklore !== undefined" [nzTitle]="node.folklore.id | itemName | i18n" alt=""
               class="folklore" nz-tooltip src="{{node.folklore.icon | icon}}">
          <img *ngIf="node.fishEyes" [nzTitle]="'GATHERING_LOCATIONS.Fish_eyes' | translate" alt="" nz-tooltip
               src="./assets/icons/status/fish_eyes.png">
          <img *ngIf="node.snagging" [nzTitle]="'GATHERING_LOCATIONS.Snagging' | translate" alt="" nz-tooltip
               src="./assets/icons/status/snagging.png">
        </div>
        <div fxLayout="row" fxLayoutAlign="flex-start">
          <div *ngFor="let bait of node.baits; let index = index; let last = last" fxLayout="row" fxLayoutAlign="center center"
               fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
              <div class="icon-container">
                <img [src]="bait.icon | icon" class="item-icon small-icon">
                <img *ngIf="index > 0" class="hq-overlay small-icon"
                     src="https://www.garlandtools.org/db/images/HQOverlay.png">
              </div>
              <div>{{bait.id | itemName | i18n}}</div>
            </div>
            <i *ngIf="!last" nz-icon nzType="caret-right" theme="outline"></i>
          </div>
        </div>
        <div *ngIf="node.predators && node.predators.length > 0" fxLayout="row" fxLayoutAlign="flex-start center"
             fxLayoutGap="10px">
          <img [nzTitle]="'GATHERING_LOCATIONS.Predators' | translate" alt="" nz-tooltip
               src="./assets/icons/status/predators.png">
          <div *ngFor="let predator of node.predators" fxLayout="row" fxLayoutAlign="flex-start center"
               fxLayoutGap="5px">
            <div>{{predator.amount}}x</div>
            <img class="small-icon" src="{{predator.icon | icon}}"/>
            <div>{{predator.id | itemName | i18n}}</div>
          </div>
        </div>
      </div>
      <nz-divider *ngIf="!last"></nz-divider>
    </div>
  </div>

</div>
