<mat-expansion-panel [expanded]="customMode" #configPanel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{'SIMULATOR.Configuration' | translate}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="configuration">
        <div class="config-row">
            <h3>{{'SIMULATOR.CONFIGURATION.Job' | translate}}</h3>
            <mat-checkbox [(ngModel)]="customSet">
                {{'SIMULATOR.CONFIGURATION.Custom_set' | translate}}
            </mat-checkbox>
            <div *ngIf="gearsets$ | async as gearsets">
                <mat-select *ngIf="customMode"
                            [placeholder]="'SIMULATOR.CONFIGURATION.Select_job' | translate"
                            [(ngModel)]="selectedSet">
                    <mat-option *ngFor="let set of gearsets" [value]="set">
                        {{set.jobId | jobName | i18n}} ({{set.ilvl}}) <span *ngIf="set.specialist">({{'SIMULATOR.Specialist' | translate}})</span>
                    </mat-option>
                </mat-select>
            </div>
            <div class="set-details" *ngIf="selectedSet !== undefined">
                <div class="details-row">
                    <mat-form-field>
                        <input matInput type="number" [readonly]="!customSet"
                               [(ngModel)]="selectedSet.craftsmanship"
                               [placeholder]="'SIMULATOR.CONFIGURATION.Craftsmanship' | translate">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="number" [readonly]="!customSet" [(ngModel)]="selectedSet.control"
                               [placeholder]="'SIMULATOR.CONFIGURATION.Control' | translate">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="number" [readonly]="!customSet" [(ngModel)]="selectedSet.cp"
                               [placeholder]="'SIMULATOR.Cp' | translate">
                    </mat-form-field>
                </div>
                <div class="details-row">
                    <mat-form-field>
                        <input matInput type="number" [readonly]="!customSet" [(ngModel)]="selectedSet.level"
                               [placeholder]="'SIMULATOR.Level' | translate">
                    </mat-form-field>
                    <mat-checkbox [disabled]="!customSet" [(ngModel)]="selectedSet.specialist">
                        {{'SIMULATOR.CONFIGURATION.Specialist' | translate}}
                    </mat-checkbox>
                </div>
                <button mat-raised-button color="accent" (click)="applyStats(selectedSet)">
                    {{'SIMULATOR.CONFIGURATION.Apply_stats' | translate}}
                </button>
            </div>
        </div>
        <div class="config-row">
            <h3>{{'SIMULATOR.CONFIGURATION.Ingredients' | translate}}</h3>
            TODO HQ ingredients
        </div>
        <div class="config-row">
            <h3>{{'SIMULATOR.CONFIGURATION.Consumables' | translate}}</h3>
            TODO Food & potions
        </div>
    </div>
</mat-expansion-panel>
<div *ngIf="simulation$ | async as simulation" [class.mobile]="isMobile()">
    <div *ngIf="result$ | async as resultData">
        <mat-card *ngIf="!isMobile()">
            <mat-card-header>
                <a mat-card-avatar href="{{itemId | itemLink | i18n}}" target="_blank">
                    <img mat-card-avatar [appXivdbTooltip]="itemId" src="{{itemIcon | icon}}"
                         alt="{{itemId | itemName | i18n}}">
                </a>
                <mat-card-title>
                    {{itemId | itemName | i18n}}
                </mat-card-title>
                <mat-card-subtitle *ngIf="recipe$ | async as recipeData">
                    {{recipeData.lvl}} {{getStars(recipeData.stars)}}
                </mat-card-subtitle>
                <span class="steps">
                    {{'SIMULATOR.Step_counter' | translate}} {{resultData.simulation.steps.length}}
                </span>
            </mat-card-header>
            <mat-card-content class="result">
                <div class="durability">
                    <h3>{{'SIMULATOR.Durability' | translate}}</h3>
                    <span class="durability-value">{{resultData.simulation.durability}} / {{resultData.simulation.recipe.durability}}</span>
                </div>
                <div class="right-part">
                    <div class="progress right-row">
                        <h3>{{'SIMULATOR.Progress' | translate}}</h3>
                        <div class="value-bar">
                            <mat-progress-bar mode="determinate"
                                              [value]="100*resultData.simulation.progression/resultData.simulation.recipe.progress"
                                              color="primary"></mat-progress-bar>
                            <span
                                class="value-amount">{{resultData.simulation.progression}}/{{resultData.simulation.recipe.progress}}</span>
                        </div>
                    </div>
                    <div class="quality right-row">
                        <h3>{{'SIMULATOR.Quality' | translate}}</h3>
                        <div class="value-bar">
                            <mat-progress-bar mode="determinate"
                                              [value]="100*resultData.simulation.quality/resultData.simulation.recipe.quality"
                                              color="accent"></mat-progress-bar>
                            <span class="value-amount">{{resultData.simulation.quality}}/{{resultData.simulation.recipe.quality}}</span>
                        </div>
                    </div>
                    <div class="bottom-part">
                        <div class="hq-chances">
                            {{'SIMULATOR.Hq' | translate}}:
                            <span class="hq-chances-value">
                                {{resultData.hqPercent}}%
                            </span>
                        </div>
                        <div class="cp-progress">
                            <span>{{'SIMULATOR.Cp_amount' | translate}}</span>
                            <div class="cp-bar">
                                <mat-progress-bar mode="determinate"
                                                  [value]="100*resultData.simulation.availableCP/resultData.simulation.maxCP"
                                                  color="accent"></mat-progress-bar>
                                <span class="cp-amount">{{resultData.simulation.availableCP}}/{{resultData.simulation.maxCP}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="isMobile()">
            <mat-card-header>
                <mat-card-title>
                    {{itemId | itemName | i18n}}
                </mat-card-title>
                <mat-card-subtitle *ngIf="recipe$ | async as recipeData">
                    {{recipeData.lvl}} {{getStars(recipeData.stars)}}
                </mat-card-subtitle>
                <span class="steps">
                    {{'SIMULATOR.Step_counter' | translate}} {{resultData.simulation.steps.length}}
                </span>
            </mat-card-header>
            <mat-card-content class="mobile-result">
                <span class="durability-value">{{'SIMULATOR.Durability' | translate}} : {{resultData.simulation.durability}} / {{resultData.simulation.recipe.durability}}</span>

                <div class="progress right-row">
                    <b>{{'SIMULATOR.Progress' | translate}}</b>
                    <div class="value-bar">
                        <mat-progress-bar mode="determinate"
                                          [value]="100*resultData.simulation.progression/resultData.simulation.recipe.progress"
                                          color="primary"></mat-progress-bar>
                        <span
                            class="value-amount">{{resultData.simulation.progression}}/{{resultData.simulation.recipe.progress}}</span>
                    </div>
                </div>
                <div class="quality right-row">
                    <b>{{'SIMULATOR.Quality' | translate}}</b>
                    <div class="value-bar">
                        <mat-progress-bar mode="determinate"
                                          [value]="100*resultData.simulation.quality/resultData.simulation.recipe.quality"
                                          color="accent"></mat-progress-bar>
                        <span class="value-amount">{{resultData.simulation.quality}}/{{resultData.simulation.recipe.quality}}</span>
                    </div>
                </div>
                <div class="bottom-part">
                    <div class="hq-chances">
                        {{'SIMULATOR.Hq' | translate}}:
                        <span class="hq-chances-value">
                                {{resultData.hqPercent}}%
                            </span>
                    </div>
                    <div class="cp-progress">
                        <span>{{'SIMULATOR.Cp_amount' | translate}}</span>
                        <div class="cp-bar">
                            <mat-progress-bar mode="determinate"
                                              [value]="100*resultData.simulation.availableCP/resultData.simulation.maxCP"
                                              color="accent"></mat-progress-bar>
                            <span class="cp-amount">{{resultData.simulation.availableCP}}/{{resultData.simulation.maxCP}}</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <div class="buffs">
                <div class="buff-container" *ngFor="let buff of resultData.simulation.buffs">
                    <span class="stacks" *ngIf="buff.stacks > 0">{{buff.stacks}}</span>
                    <img [src]="getBuffIcon(buff)" class="buff-icon" alt="">
                    <span class="duration" *ngIf="buff.duration.toString() !== 'Infinity'">{{buff.duration}}</span>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <div class="actions">
                <app-action draggable
                            droppable
                            dragOverClass="drag-over"
                            (onDrop)="moveSkill($event.dragData, index)"
                            [dragData]="index"
                            *ngFor="let step of resultData.simulation.steps; let index = index"
                            (actionclick)="removeAction(index)"
                            [action]="step.action"
                            [simulation]="resultData.simulation"></app-action>
                <div class="end-drag-zone" droppable
                     dragOverClass="drag-over"
                     (onDrop)="moveSkill($event.dragData, resultData.simulation.steps.length - 1)"></div>
            </div>
        </mat-card>
        <mat-card>
            <div class="category-row">
                <div>
                    <h4>{{'SIMULATOR.CATEGORY.Progression' | translate}}</h4>
                    <div class="actions-row">
                        <app-action (actionclick)="addAction(action)" [disabled]="!action.canBeUsed(resultData.simulation, true)
                    || resultData.simulation.success !== undefined"
                                    [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                                    [action]="action" [simulation]="resultData.simulation"
                                    *ngFor="let action of getProgressActions()"></app-action>
                    </div>
                </div>
                <div>
                    <h4>{{'SIMULATOR.CATEGORY.Quality' | translate}}</h4>
                    <div class="actions-row">
                        <app-action (actionclick)="addAction(action)" [disabled]="!action.canBeUsed(resultData.simulation, true)
                    || resultData.simulation.success !== undefined"
                                    [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                                    [action]="action" [simulation]="resultData.simulation"
                                    *ngFor="let action of getQualityActions()"></app-action>
                    </div>
                </div>
            </div>
            <div class="category-row">
                <div>
                    <h4>{{'SIMULATOR.CATEGORY.Cp_recovery' | translate}}</h4>
                    <div class="actions-row">
                        <app-action (actionclick)="addAction(action)" [disabled]="!action.canBeUsed(resultData.simulation, true)
                    || resultData.simulation.success !== undefined"
                                    [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                                    [action]="action" [simulation]="resultData.simulation"
                                    *ngFor="let action of getCpRecoveryActions()"></app-action>
                    </div>
                </div>
                <div>
                    <h4>{{'SIMULATOR.CATEGORY.Buff' | translate}}</h4>
                    <div class="actions-row">
                        <app-action (actionclick)="addAction(action)" [disabled]="!action.canBeUsed(resultData.simulation, true)
                    || resultData.simulation.success !== undefined"
                                    [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                                    [action]="action" [simulation]="resultData.simulation"
                                    *ngFor="let action of getBuffActions()"></app-action>
                    </div>
                </div>
            </div>
            <div class="category-row">
                <div>
                    <h4>{{'SIMULATOR.CATEGORY.Repair' | translate}}</h4>
                    <div class="actions-row">
                        <app-action (actionclick)="addAction(action)" [disabled]="!action.canBeUsed(resultData.simulation, true)
                    || resultData.simulation.success !== undefined"
                                    [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                                    [action]="action" [simulation]="resultData.simulation"
                                    *ngFor="let action of getRepairActions()"></app-action>
                    </div>
                </div>
                <div>
                    <h4>{{'SIMULATOR.CATEGORY.Specialty' | translate}}</h4>
                    <div class="actions-row">
                        <app-action (actionclick)="addAction(action)" [disabled]="!action.canBeUsed(resultData.simulation, true)
                    || resultData.simulation.success !== undefined"
                                    [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                                    [action]="action" [simulation]="resultData.simulation"
                                    *ngFor="let action of getSpecialtyActions()"></app-action>
                    </div>
                </div>
                <div>
                    <h4>{{'SIMULATOR.CATEGORY.Other' | translate}}</h4>
                    <div class="actions-row">
                        <app-action (actionclick)="addAction(action)" [disabled]="!action.canBeUsed(resultData.simulation, true)
                    || resultData.simulation.success !== undefined"
                                    [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                                    [action]="action" [simulation]="resultData.simulation"
                                    *ngFor="let action of getOtherActions()"></app-action>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
