<nz-card [nzTitle]="'DB.FISH.Hookset_and_tug' | translate" [nzLoading]="loading$ | async" class="no-graph">
  <div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutGap="10px">
      <div>
        <nz-divider [nzText]="'DB.FISH.Hooksets' | translate" nzOrientation="left"></nz-divider>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start center" *ngFor="let row of hooksets$ | async">
        <img src="{{ row.hookset | actionIcon | xivapiIcon }}" alt="" class="round-icon" />
        <div>
          <div>{{ row.hookset | actionName | i18n }}</div>
          <div>{{ row.percent | number: '1.0-1' }}%</div>
          <div>({{ row.amount | number: '1.0-1' }})</div>
        </div>
      </div>
    </div>
    <div>
      <nz-divider [nzText]="'DB.FISH.Tugs' | translate" nzOrientation="left"></nz-divider>
      <div nz-row *ngFor="let row of tugs$ | async">
        <div nz-col nzMd="10">{{ row.tug | tugName | translate }}</div>
        <div nz-col nzMd="6" class="number-col">{{ row.percent | number: '1.0-1' }}%</div>
        <div nz-col nzMd="8" class="number-col">({{ row.amount | number: '1.0-1' }})</div>
      </div>
    </div>
  </div>
</nz-card>
