@import "../default-theme";

.app-container {
  height: 100%;
}

::ng-deep .no-panel-borders {
  .ant-collapse,
  .ant-collapse > .ant-collapse-item,
  .ant-collapse-content {
    border: 0;
  }
}

.man-attacked-by-tetris-block {
  position: relative;
  margin-right: 10px;
  width: 18px;
  height: 18px;

  .build {
    position: absolute;
    top: 0;
    left: 0;
  }

  .blur {
    position: absolute;
    filter: blur(1px);
    width: 11px;
    height: 11px;
    background-color: #001529;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    bottom: 0;
  }

  .user {
    position: absolute;
    bottom: 0;
    left: 7px;
    font-size: 11px !important;
  }
}

.ant-menu-item-selected {
  .man-attacked-by-tetris-block {
    .blur {
      background-color: var(--primary-color);
    }
  }
}

.opened-in-desktop {
  height: 100%;

  .desktop-message {
    font-size: 2em;
    opacity: .8;
  }
}

.header {
  position: fixed;
  width: 100%;

  .logo {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
  }

  .language-swap {
    margin: auto 0 auto 11px;
  }
}

.new-version-alert {
  margin-bottom: 10px;
}

.user-menu {
  min-width: 140px;
  @media @mobile {
    min-width: 0;
  }
}

:host ::ng-deep {
  .notifications-count > sup {
    right: 5px !important;
    min-width: 16px;
    height: 16px;
    line-height: 16px;
    top: -4px;

    .ant-badge-count {
      font-size: 11px;
    }
  }

  .sider {
    .ant-layout-sider-children {
      overflow: auto;
    }
  }
}

.menu-link, .menu-link:visited, .menu-link:focus {
  text-decoration: none;
  color: inherit;
}

.content-container {
  margin-top: 64px;
  height: 100%;

  &.overlay {
    margin-top: 0;
  }
}

.right-menu {
  float: right;
  line-height: 64px;
}

.right-sider {
  ::ng-deep .ant-layout-sider-zero-width-trigger {
    left: -36px;
    border-radius: 4px 0 0 4px;

    i::before {
      content: '\e64e';
    }
  }
}

.flex-container {
  min-height: 100%;
}

.social-buttons {
  width: 100%;
  padding-bottom: 64px;
  padding-top: .1vh;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%;
  background-color: @layout-header-background;
  padding: 0;
  display: flex;
  justify-content: center;
}

nz-card {
  margin: 8px 0;
}
