<nz-layout class="app-container">
  <nz-layout>
    <nz-header class="header">
      <a class="logo" routerLink="/">
        {{'FFXIV Teamcraft' | ifMobile:'TC'}} <i>v{{version}}</i>
      </a>
      <ul nz-menu [nzMode]="'horizontal'" [nzTheme]="'dark'" class="right-menu">
        <li class="clock ant-menu-item" fxShow fxHide.lt-sm fxFlex>
          {{time$ | async}}
        </li>
        <li class="ant-menu-item" nz-popover nzPlacement="bottomRight" [nzContent]="notificationsTemplate"
            *ngIf="notifications$ | async as notifications">
          <nz-badge [nzDot]="notifications.length > 0">
            <i nz-icon type="notification"></i>
          </nz-badge>
          <ng-template #notificationsTemplate>
            <nz-list [nzDataSource]="notifications" [nzRenderItem]="notificationTemplate">
              <ng-template #notificationTemplate let-notification>
                <nz-list-item [nzActions]="[actionClose]">
                </nz-list-item>
                <ng-template #actionClose>
                  <i nz-icon type="close"></i>
                </ng-template>
              </ng-template>
            </nz-list>
          </ng-template>
        </li>
        <li nz-submenu>
          <span title>
            <nz-spin *ngIf="loading$ | async; else authDetails"></nz-spin>
            <ng-template #authDetails>
              <span *ngIf="!(loggedIn$ | async); else userLoggedIn">
                <nz-avatar [nzText]="'A'">
                </nz-avatar>
                {{'COMMON.Anonymous' | translate}}
              </span>
              <ng-template #userLoggedIn>
                <app-user-avatar [userId]="userId$ | async" [width]="32" [flex]="false"></app-user-avatar>
                {{(character$ | async)?.Name | ifMobile:''}}
                </ng-template>
            </ng-template>
          </span>
          <span>
            <a nz-menu-item class="menu-link" nzDisabled *ngIf="loggedIn$ | async">
              <i nz-icon type="idcard"></i>
              {{'Profile' | translate}}
            </a>
            <a nz-menu-item class="menu-link" *ngIf="loggedIn$ | async" routerLink="/teams">
              <i nz-icon type="team"></i>
              {{'TEAMS.Title' | translate}}
            </a>
            <a nz-menu-item class="menu-link" *ngIf="loggedIn$ | async" routerLink="/favorites">
              <i nz-icon type="heart"></i>
              {{'Favorites' | translate}}
            </a>
            <a nz-menu-item class="menu-link" nzDisabled *ngIf="loggedIn$ | async">
              <i nz-icon type="link"></i>
              <!--*ngIf patreon supporter-->
              {{'CUSTOM_LINKS.Title' | translate}}
            </a>
            <a nz-menu-item class="menu-link" nzDisabled (click)="openSettings()">
              <i nz-icon type="setting"></i>
              {{'SETTINGS.title' | translate}}
            </a>
            <span nz-menu-divider></span>
            <a nz-menu-item class="menu-link" *ngIf="loggedIn$ | async" (click)="logOut()">
              <i nz-icon type="logout"></i>
              {{'Disconnect' | translate}}
            </a>
            <a nz-menu-item class="menu-link" *ngIf="!(loggedIn$ | async)" (click)="openRegisterPopup()">
              <i nz-icon type="form"></i>
              {{'Registration' | translate}}
            </a>
            <a nz-menu-item class="menu-link" *ngIf="!(loggedIn$ | async)" (click)="openLoginPopup()">
              <i nz-icon type="login"></i>
              {{'Login' | translate}}
            </a>
          </span>
        </li>
      </ul>
    </nz-header>
  </nz-layout>
  <nz-layout class="content-container">
    <nz-sider nzCollapsible
              [(nzCollapsed)]="collapsedSidebar"
              (nzCollapsedChange)="settings.compactSidebar = $event"
              [class.collapsed]="collapsedSidebar | ifMobile: false"
              [nzCollapsedWidth]="80 | ifMobile: 0"
              [nzBreakpoint]="'lg'">
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="collapsedSidebar">
        <a nz-menu-item class="menu-link" routerLinkActive="ant-menu-item-selected" routerLink="/search">
          <span>
              <i nz-icon type="search"></i>
              <span class="nav-text">{{'ITEMS.Title' | translate}}</span>
          </span>
        </a>
        <a nz-menu-item class="menu-link" routerLinkActive="ant-menu-item-selected" routerLink="/lists">
          <span>
              <i nz-icon type="profile"></i>
              <span class="nav-text">{{'Lists' | translate}}</span>
          </span>
        </a>
        <a nz-menu-item class="menu-link" routerLinkActive="ant-menu-item-selected" routerLink="/alarms">
          <span>
              <i nz-icon type="bell"></i>
              <span class="nav-text">{{'HOME_PAGE.FEATURES.alarms_title' | translate}}</span>
          </span>
        </a>
        <a nz-menu-item class="menu-link" nzDisabled routerLinkActive="ant-menu-item-selected">
          <span>
              <i nz-icon type="build"></i>
              <span class="nav-text">{{'SIMULATOR.Rotations' | translate}}</span>
          </span>
        </a>
        <a nz-menu-item class="menu-link" routerLinkActive="ant-menu-item-selected" routerLink="/community-lists">
          <span>
              <i nz-icon type="solution"></i>
              <span class="nav-text">{{'Public_lists' | translate}}</span>
          </span>
        </a>
        <a nz-menu-item class="menu-link" routerLinkActive="ant-menu-item-selected" routerLink="/gathering-location">
          <span>
              <i nz-icon type="environment-o"></i>
              <span class="nav-text">{{'GATHERING_LOCATIONS.Title' | translate}}</span>
          </span>
        </a>
        <a nz-menu-item class="menu-link" routerLinkActive="ant-menu-item-selected" routerLink="/levequests">
          <span>
              <i nz-icon type="book"></i>
              <span class="nav-text">{{'LEVEQUESTS.Title' | translate}}</span>
          </span>
        </a>
        <a nz-menu-item class="menu-link" routerLinkActive="ant-menu-item-selected" routerLink="/macro-translator">
          <span>
              <i nz-icon type="message"></i>
              <span class="nav-text">{{'MACRO_TRANSLATION.Title' | translate}}</span>
          </span>
        </a>
        <a nz-menu-item class="menu-link" nzDisabled routerLinkActive="ant-menu-item-selected">
          <span>
              <i nz-icon type="file-markdown"></i>
              <span class="nav-text">{{'WIKI.Title' | translate}}</span>
          </span>
        </a>
        <a nz-menu-item class="menu-link" nzDisabled routerLinkActive="ant-menu-item-selected">
          <span>
              <i nz-icon type="info-circle-o"></i>
              <span class="nav-text">{{'ABOUT.title' | translate}}</span>
          </span>
        </a>
      </ul>
    </nz-sider>
    <nz-content>
      <div class="page-container">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-sider nzCollapsible
              class="right-sider"
              [nzWidth]="230"
              [(nzCollapsed)]="collapsedAlarmsBar"
              [nzCollapsedWidth]="0">
      <app-alarms-sidebar *ngIf="!(loading$ | async)"></app-alarms-sidebar>
    </nz-sider>
  </nz-layout>
  <nz-footer fxHide fxShow.lt-sm class="footer">
    <span class="timer">{{time$ | async}}</span>
  </nz-footer>
</nz-layout>
