<div class="input-container compact">
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input class="filter" [(ngModel)]="query" matInput placeholder="{{'ITEMS.Item_name' | translate}}" #filter>
        <mat-hint align="end">
            <small>{{'Data_from_gt' | translate}}</small>
        </mat-hint>
        <mat-checkbox matSuffix [(ngModel)]="settings.recipesOnlySearch" (ngModelChange)="doSearch()"
                      class="only-recipes">
            {{'ITEMS.Only_recipes' | translate}}
        </mat-checkbox>
    </mat-form-field>
</div>
<mat-expansion-panel class="filters" #filtersPanel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{"Filters" | translate}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="filters">
        <div *ngFor="let filter of filters">
            <li *ngIf="filter.select" class="options">
                <div>
                    <mat-checkbox [(ngModel)]="filter.enabled"></mat-checkbox>
                    {{filter.name | translate}}
                </div>
                <mat-radio-group disabled="{{!filter.enabled}}" [(ngModel)]="filter.value">
                    <mat-radio-button *ngFor="let value of filter.values" [value]="value.id">
                        <img src="https://garlandtools.org/db/images/{{value.abbreviation}}.png" class="img-option"
                             alt="{{value.abbreviation}}">
                    </mat-radio-button>
                </mat-radio-group>
            </li>
            <li *ngIf="filter.multiple" class="options">
                <div>
                    <mat-checkbox [(ngModel)]="filter.enabled"></mat-checkbox>
                    {{filter.name | translate}}
                </div>
                <section>
                    <mat-checkbox disabled="{{!filter.enabled}}" *ngFor="let value of filter.values"
                                  (change)="checkJobCategory(value.id, $event)">
                        <img src="https://garlandtools.org/db/images/{{value.abbreviation}}.png" class="img-option"
                             alt="{{value.abbreviation}}">
                    </mat-checkbox>
                </section>
            </li>
            <li class="min-max" *ngIf="filter.minMax">
                <div>
                    <mat-checkbox [(ngModel)]="filter.enabled"></mat-checkbox>
                    <span>{{filter.name | translate}}</span>
                </div>
                <mat-form-field>
                    <input matInput type="number" min="0" max="999" disabled="{{!filter.enabled}}"
                           [(ngModel)]="filter.value.min">
                    <span matSuffix>Min</span>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" min="0" max="999" disabled="{{!filter.enabled}}"
                           [(ngModel)]="filter.value.max">
                    <span matSuffix>Max</span>
                </mat-form-field>
            </li>
        </div>
    </ul>
    <mat-action-row>
        <button mat-raised-button color="accent" (click)="filtersPanel.close();doSearch()">Filter</button>
    </mat-action-row>
</mat-expansion-panel>
<mat-divider></mat-divider>

<mat-menu #addAllMenu="matMenu" class="lists-menu">
    <button mat-menu-item (click)="addAllToNewList()">
        <mat-icon>add</mat-icon>
        <span>{{'New_List' | translate}}</span></button>
    <button mat-menu-item *ngFor="let list of lists.basicLists"
            (click)="addAllRecipes(list, list.$key)">
        <mat-icon>playlist_play</mat-icon>
        <span>{{list.name}}</span>
    </button>
    <div *ngFor="let workshop of workshops | async">
        <span mat-menu-item (click)="$event.stopPropagation();">
            <mat-icon>folder_open</mat-icon>
            {{workshop.name}}</span>
        <button mat-menu-item *ngFor="let list of lists.rows[workshop.$key]"
                class="workshop-list"
                (click)="addAllRecipes(list, list.$key)">
            <mat-icon>playlist_play</mat-icon>
            <span>{{list.name}}</span>
        </button>
    </div>
    <span mat-menu-item (click)="$event.stopPropagation();">
            <mat-icon>folder_shared</mat-icon>
            {{"LISTS.Shared_lists" | translate}}</span>
    <button mat-menu-item *ngFor="let list of sharedLists | async"
            class="workshop-list"
            (click)="addAllRecipes(list, list.$key)">
        <mat-icon>playlist_play</mat-icon>
        <span>{{list.name}}</span>
    </button>
</mat-menu>

<mat-menu #addSelectedMenu="matMenu" class="lists-menu">
    <button mat-menu-item (click)="addSelectedToNewList()">
        <mat-icon>add</mat-icon>
        <span>{{'New_List' | translate}}</span></button>
    <button mat-menu-item *ngFor="let list of lists.basicLists"
            (click)="addSelected(list, list.$key)">
        <mat-icon>playlist_play</mat-icon>
        <span>{{list.name}}</span>
    </button>
    <div *ngFor="let workshop of workshops | async">
        <span mat-menu-item (click)="$event.stopPropagation();">
            <mat-icon>folder_open</mat-icon>
            {{workshop.name}}</span>
        <button mat-menu-item *ngFor="let list of lists.rows[workshop.$key]"
                class="workshop-list"
                (click)="addSelected(list, list.$key)">
            <mat-icon>playlist_play</mat-icon>
            <span>{{list.name}}</span>
        </button>
    </div>
    <span mat-menu-item (click)="$event.stopPropagation();">
            <mat-icon>folder_shared</mat-icon>
            {{"LISTS.Shared_lists" | translate}}</span>
    <button mat-menu-item *ngFor="let list of sharedLists | async"
            class="workshop-list"
            (click)="addSelected(list, list.$key)">
        <mat-icon>playlist_play</mat-icon>
        <span>{{list.name}}</span>
    </button>
</mat-menu>

<div class="add-all-wrapper">
    <button mat-raised-button *ngIf="selectedItems.length > 0" [matMenuTriggerFor]="addSelectedMenu"
            class="add-all-recipes selection-button">
        {{"LISTS.Add_selection" | translate}}
    </button>
    <button mat-raised-button [matMenuTriggerFor]="addAllMenu" class="add-all-recipes recipes-button"
            [disabled]="results.length === 0">
        {{'Add_all_recipes' | translate}}
    </button>
</div>

<mat-list>
    <div *ngIf="(results.length === 0 || results === null) && !loading">
        <h4 class="no-recipe">{{'ITEMS.No_match' | translate}}</h4>
    </div>

    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="results.length > 0 && !loading">
        <mat-list-item *ngFor="let item of results; let even = even" class="recipes-list-row" [class.even]="even">
            <mat-checkbox [checked]="selectedItems.indexOf(item) > -1"
                          (change)="resultChecked(item, $event.checked)"
                          class="selection-box"></mat-checkbox>
            <a mat-list-avatar href="{{item.itemId | itemLink | i18n}}" target="_blank">
                <img mat-list-avatar [appXivdbTooltip]="item.itemId" src="{{item.icon | icon}}"
                     alt="{{item.itemId | itemName | i18n}}">
            </a>
            <h4 mat-line>{{item.itemId | itemName | i18n}}</h4>
            <p mat-line *ngIf="item.job !== undefined && getJob(item.job)?.abbreviation !== 'ADV'">
                <img src="https://www.garlandtools.org/db/images/{{getJob(item.job)?.abbreviation}}.png"
                     alt="getJob(item.job)?.abbreviation" class="crafted-by"> {{item.lvl}} <span
                [innerHtml]="getStars(item.stars)"></span>
            </p>
            <div class="right-side">
                <mat-checkbox #collectible [style.visibility]="item.collectible?'unset':'hidden'">
                    {{"Add_as_collectible" | translate}}
                </mat-checkbox>
                <mat-form-field class="amount with-infix">
                    <input matInput type="number" min="1" value="1" #amount>
                </mat-form-field>

                <mat-menu #appMenu="matMenu" class="lists-menu">
                    <button mat-menu-item (click)="addToNewList(item, amount.value, collectible.checked)">
                        <mat-icon>add</mat-icon>
                        <span>{{'New_List' | translate}}</span></button>
                    <button mat-menu-item *ngFor="let list of lists.basicLists"
                            (click)="addRecipe(item, list, list.$key, amount.value, collectible.checked)">
                        <mat-icon>playlist_play</mat-icon>
                        <span>{{list.name}}</span>
                    </button>
                    <div *ngFor="let workshop of workshops | async">
                        <span mat-menu-item (click)="$event.stopPropagation();">
                            <mat-icon>folder_open</mat-icon>
                            {{workshop.name}}
                        </span>
                        <button mat-menu-item *ngFor="let list of lists.rows[workshop.$key]"
                                class="workshop-list"
                                (click)="addRecipe(item, list, list.$key, amount.value, collectible.checked)">
                            <mat-icon>playlist_play</mat-icon>
                            <span>{{list.name}}</span>
                        </button>
                    </div>

                    <span mat-menu-item (click)="$event.stopPropagation();">
                        <mat-icon>folder_shared</mat-icon>
                        {{"LISTS.Shared_lists" | translate}}
                    </span>
                    <button mat-menu-item *ngFor="let list of sharedLists | async"
                            class="workshop-list"
                            (click)="addRecipe(item, list, list.$key,amount.value, collectible.checked)">
                        <mat-icon>playlist_play</mat-icon>
                        <span>{{list.name}}</span>
                    </button>
                </mat-menu>

                <mat-menu #simulatorMenu="matMenu">
                    <button mat-menu-item routerLink="/simulator/{{item.itemId}}/{{item.recipeId}}">
                        {{'SIMULATOR.New_rotation' | translate}}
                    </button>
                    <button mat-menu-item
                            *ngFor="let rotation of rotations$ | async"
                            routerLink="/simulator/{{item.itemId}}/{{item.recipeId}}/{{rotation.$key}}">
                        {{rotation.getName()}}
                    </button>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <mat-icon>playlist_add</mat-icon>
                </button>
                <button mat-icon-button (click)="quickList(item, amount.value, collectible.checked)"
                        matTooltip="{{'Quick_list_create' | translate}}"
                        matTooltipPosition="above">
                    <mat-icon>access_time</mat-icon>
                </button>
                <button mat-icon-button
                        *ngIf="item.recipeId !== undefined"
                        matTooltip="{{'SIMULATOR.Simulate_tooltip' | translate}}"
                        matTooltipPosition="above"
                        [matMenuTriggerFor]="simulatorMenu">
                    <i class="fas fa-gavel"></i>
                </button>
            </div>
        </mat-list-item>
    </div>
</mat-list>
