.input-container {
    width: 100%;
    mat-form-field {
        font-size: 20px;
        width: 60%;
        margin: auto;
        display: block;
    }
}

.even {
    background: rgba(0, 0, 0, .3);
}

.only-recipes {
    font-size: 14px;
}

.workshop-list {
    padding-left: 50px;
}

.amount {
    margin-left: 20px;
    width: 80px;
    display: inline-block;
}

.right-side {
    margin-left: auto;
}

.mat-list .mat-list-item {
    height: auto;
}

.mat-list-item-content {
    flex-wrap: wrap;
}

.filters {
    display: inline-block;
    width: 100%;
    div {
        width: 65%;
        li {
            margin-top: 20px;
            display: flex;
            align-items: baseline;
            mat-form-field {
                width: auto !important;
                margin-right: 10px;
                min-width: 60px;
            }
        }
        li *:first-child {
            flex: 1;
        }
        div {
            min-width: 170px;
        }
        mat-radio-group {
            width: 520px;
            mat-radio-button {
                margin-right: 5px;
            }
        }
    }
}

.selection-button {
    justify-self: flex-start;
    margin-right: 20px;
}

.recipes-button {
    justify-self: center;
}

.recipes-list-row {
    position: relative;
    .selection-box {
        position: absolute;
        left: -30px;
    }
}

.add-all-wrapper {
    display: flex;
    justify-content: center;
    .add-all-recipes {
        margin-top: 10px;
    }
}

.img-option {
    height: 32px;
    vertical-align: middle;
}

.add {
    cursor: pointer;
}

.no-recipe {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    opacity: 0.6;
}

.crafted-by {
    height: 25px;
    vertical-align: middle;
}

.loading {
    margin-top: 10%;
    margin-left: 45%;
    margin-right: 55%;
    align-content: center;
}
