<h3 mat-dialog-title>{{data.jobAbbr}} - {{'PROFILE.Masterbooks' | translate}}</h3>
<mat-dialog-content>
    <mat-selection-list #selectionList (selectionChange)="setMasterbook(+$event.option.value, $event.option.selected)">
        <mat-list-option *ngFor="let book of masterbookService.getBooks(data.jobAbbr)"
                         selected="{{data.user.masterbooks !== undefined && data.user.masterbooks.indexOf(book) > -1}}"
                         value="{{book}}">
            {{book | itemName | i18n}}
        </mat-list-option>
    </mat-selection-list>
    <button mat-button color="accent"
            (click)="selectionList.selectAll(); checkAll(masterbookService.getBooks(data.jobAbbr))">{{"Select_all" |
        translate}}
    </button>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="submit()">{{'COMMON.Save' | translate}}</button>
</mat-dialog-actions>
