.crafted-by {
    height: 25px;
    vertical-align: middle;
}

.loading-message {
    margin: 20px 0;
}

.end-buttons {
    margin-top: 15px;
}

.items-list {
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.choices-needed {
    margin-bottom: 10px;
}

.item-error {
    background-color: rgba(229,57,53, .3);
}
