<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="totalNeeded.length > 0">
  <label nz-checkbox *ngIf="!gearset.isCombatSet()" [(nzChecked)]="includeAllTools" (nzCheckedChange)="computeRequirements()">
    {{'GEARSETS.Include_all_tools' | translate}}
  </label>
  <table>
    <thead>
    <tr>
      <th class="table-cell">{{'GEARSETS.Materia' | translate}}</th>
      <th class="table-cell">{{'GEARSETS.Amount_needed' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of totalNeeded">
      <td class="table-cell first" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
        <app-item-icon [itemId]="row.id" width="24"></app-item-icon>
        <div>{{row.id | itemName | i18n}}</div>
      </td>
      <td class="amount table-cell">
        {{row.amount}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
