<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="totalNeeded$ | async as totalNeeded">
  <label nz-checkbox *ngIf="!gearset.isCombatSet()" [(nzChecked)]="includeAllTools">
    {{'GEARSETS.Include_all_tools' | translate}}
  </label>
  <table>
    <thead>
    <tr>
      <th>{{'GEARSETS.Materia' | translate}}</th>
      <th>{{'GEARSETS.Amount_needed' | translate}}</th>
      <th>{{'GEARSETS.Cost' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of totalNeeded">
      <td fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
        <app-item-icon [itemId]="row.id" width="24"></app-item-icon>
        <div [itemNameCopy]="row.id">{{row.id | itemName | i18n}} ({{row.baseParamId | i18nRow:'baseParams' | i18n}} +{{row.value}})</div>
      </td>
      <td class="amount">
        {{row.amount}}
      </td>
      <td class="amount">
        <div *ngIf="row.scrip; else costUnknown" fxLayout="row" fxLayoutAlign="flex-end center">
          <app-item-icon [width]="24" [itemId]="row.scrip.id"></app-item-icon>
          <div>x {{row.amount * row.scrip.amount}}</div>
        </div>
        <ng-template #costUnknown>???</ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>
