<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="totalNeeded$ | async as totalNeeded; else loader">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <nz-input-group class="confidence-input" nzAddOnBefore="{{'SETTINGS.Materia_confidence_rate' | translate}}" [nzAddOnAfter]="info">
      <ng-template #info>
        <i nz-icon nzType="info-circle" nz-tooltip [nzTooltipTitle]="'SETTINGS.Materia_confidence_rate_explain' | translate"></i>
      </ng-template>
      <nz-input-number [nzMax]="0.99" [nzMin]="0.1" [nzStep]="0.1" [(ngModel)]="settings.materiaConfidenceRate"></nz-input-number>
    </nz-input-group>
    <div>
      <label nz-checkbox *ngIf="!gearset.isCombatSet()" [(nzChecked)]="includeAllTools">
        {{'GEARSETS.Include_all_tools' | translate}}
      </label>
    </div>
  </div>
  <table>
    <thead>
    <tr>
      <th>{{'GEARSETS.Materia' | translate}}</th>
      <th>{{'GEARSETS.Amount_needed' | translate}}</th>
      <th>{{'GEARSETS.Slots_used' | translate}} <i nz-icon nzType="info-circle" nz-tooltip [nzTooltipTitle]="'GEARSETS.Slots_used_explain' | translate"></i></th>
      <th>{{'GEARSETS.Cost' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of totalNeeded">
      <td fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
        <app-item-icon [itemId]="row.id" width="24"></app-item-icon>
        <div [itemNameCopy]="row.id">{{row.id | itemName | i18n}} ({{row.baseParamId | i18nRow:'baseParams' | i18n}} +{{row.value}})</div>
      </td>
      <td class="amount">
        {{row.amount}}
      </td>
      <td class="amount">
        {{row.slots}}
      </td>
      <td class="amount">
        <div *ngIf="row.scrip; else costUnknown" fxLayout="row" fxLayoutAlign="flex-end center">
          <app-item-icon [width]="24" [itemId]="row.scrip.id"></app-item-icon>
          <div>x {{row.amount * row.scrip.amount}}</div>
        </div>
        <ng-template #costUnknown>???</ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #loader>
  <app-page-loader></app-page-loader>
</ng-template>
