<nz-collapse *ngIf="rotation$ | async as rotation">
  <nz-collapse-panel [nzHeader]="header">
    <ng-template #header>
      <div fxLayout="row" fxLayoutAlign="flex-start center" class="panel-header" fxLayoutGap="10px">
        <div (dblclick)="openRotation(rotation)" fxLayout="row" fxLayoutGap="10px"
             fxLayoutAlign="flex-start center">
          <div>{{rotation.getName()}} {{rotation.$key}}</div>
          <app-user-avatar [userId]="rotation.authorId" [width]="24" *ngIf="publicDisplay"></app-user-avatar>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center" fxFlex="1 1 auto">
          <ng-container *ngIf="rotation.public">
            <nz-tag *ngIf="rotation.public && !publicDisplay" class="custom-tag" [style.border-color]="'#108ee9'">
              {{'SIMULATOR.COMMUNITY_ROTATIONS.Community_rotation' | translate}}
            </nz-tag>
            <nz-tag
              *ngFor="let tag of rotation.tags"
              class="custom-tag">{{('SIMULATOR.COMMUNITY_ROTATIONS.TAGS.' + tag) | translate}}</nz-tag>
            <nz-tag class="custom-tag"
                    [style.border-color]="'#bd0ef2'">{{'SIMULATOR.CONFIGURATION.STATS.Craftsmanship' | translate}}
              : {{rotation.community.minCraftsmanship}}</nz-tag>
            <nz-tag class="custom-tag"
                    [style.border-color]="'#bd0ef2'">{{'SIMULATOR.CONFIGURATION.STATS.Control' | translate}}
              : {{rotation.community.minControl}}</nz-tag>
            <nz-tag class="custom-tag"
                    [style.border-color]="'#bd0ef2'">{{'SIMULATOR.CONFIGURATION.STATS.CP' | translate}}
              : {{rotation.community.minCp}}</nz-tag>
            <nz-tag
              class="custom-tag"
              [style.border-color]="'#108ee9'">{{'SIMULATOR.COMMUNITY_ROTATIONS.Steps_count' | translate: { count: rotation.rotation.length } }}</nz-tag>
            <nz-tag class="custom-tag" [style.border-color]="'#f2b10e'">{{'SIMULATOR.Durability' | translate}}
              : {{rotation.community.durability}}</nz-tag>
          </ng-container>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
          <ng-container *ngIf="publicDisplay && authFacade.loggedIn$ | async">
            <div *ngIf="simulation$ | async as result" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
              <div *ngIf="rotation.tags.indexOf('SPECIALIST') > -1 && !((simulationSet$ | async)?.specialist)">
                <i nz-icon
                   type="exclamation-circle" theme="twotone" [twoToneColor]="'#aa9400'"
                   nz-tooltip [nzTitle]="'SIMULATOR.COMMUNITY_ROTATIONS.Specialist_rotation_warning' | translate"></i>
              </div>
              <div nz-tooltip [nzTitle]="'SIMULATOR.COMMUNITY_ROTATIONS.Result_tooltip' | translate">
                <nz-tag *ngIf="result.success"
                        class="custom-tag"
                        [style.border-color]="'darkgreen'">{{'SIMULATOR.COMMUNITY_ROTATIONS.Success' | translate: { HQ: result.hqPercent } }}</nz-tag>
                <nz-tag *ngIf="!result.success"
                        class="custom-tag"
                        [style.border-color]="'#f50'">{{'SIMULATOR.COMMUNITY_ROTATIONS.Fail' | translate}}</nz-tag>
              </div>
              <button nz-button nzType="primary" nzShape="circle" nz-tooltip
                      (click)="openMacroPopup(result.simulation)"
                      [nzTitle]="'SIMULATOR.Generate_ingame_macro' | translate">
                <span class="text-icon">XIV</span>
              </button>
            </div>
          </ng-container>
          <button nz-button nzShape="circle" nz-tooltip [nzTitle]="'SIMULATOR.Rename_rotation' | translate"
                  *ngIf="(permissionLevel$ | async) >= 40"
                  (click)="$event.stopPropagation();renameRotation(rotation)">
            <i nz-icon type="edit"></i>
          </button>
          <button nz-button (click)="$event.stopPropagation()" [nzShape]="'circle'" nz-tooltip
                  [nzTitle]="'SIMULATOR.Share_button_tooltip' | translate"
                  ngxClipboard [cbContent]="getLink(rotation)" (cbOnSuccess)="afterLinkCopy()">
            <i nz-icon type="share-alt"></i>
          </button>
          <a (click)="$event.stopPropagation()" nz-tooltip [nzTitle]="'SIMULATOR.Simulate_tooltip' | translate"
             nz-button
             [nzShape]="'circle'"
             [nzType]="'primary'"
             [routerLink]="getRouterLink(rotation)">
            <i nz-icon type="folder-open"></i>
          </a>
          <button (click)="$event.stopPropagation();openOverlay(rotation)" nz-button [nzShape]="'circle'"
                  [nzType]="'primary'" nz-tooltip
                  [nzTitle]="'ALARMS.Open_overlay' | translate"
                  *ngIf="platformService.isDesktop()">
            <i nz-icon type="desktop"></i>
          </button>
          <button (click)="$event.stopPropagation()" nz-button [nzShape]="'circle'" [nzType]="'danger'" nz-popconfirm
                  [nzTitle]="'SIMULATOR.Confirm_delete' | translate" (nzOnConfirm)="delete(rotation)"
                  *ngIf="(permissionLevel$ | async) >= 40">
            <i nz-icon type="delete"></i>
          </button>
          <ng-container *ngIf="(permissionLevel$ | async) >= 40">
            <ng-container *ngIf="user$ | async as user">
              <ng-container *ngIf="user.patron || user.admin">
                <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                             *ngIf="(permissionLevel$ | async) >= 30">
                  <button nz-dropdown (click)="$event.stopPropagation()" nz-button [nzShape]="'circle'">
                    <i nz-icon type="ellipsis"></i></button>
                  <ul nz-menu>
                    <li nz-menu-item [nzDisabled]="!user.nickname"
                        (click)="createCustomLink(rotation, user)"
                        *ngIf="(customLink$ | async) === undefined; else copyLink">
                      {{'CUSTOM_LINKS.Add_link' | translate}}
                    </li>
                    <ng-template #copyLink>
                      <li nz-menu-item *ngIf="customLink$ | async as link" ngxClipboard [cbContent]="link.getUrl()"
                          (cbOnSuccess)="afterCustomLinkCopy()">
                        {{'CUSTOM_LINKS.Copy_custom_link' | translate}}
                      </li>
                    </ng-template>
                  </ul>
                </nz-dropdown>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-template>
    <div fxLayout="row wrap" fxLayoutGap="10px" *ngIf="actions$ | async as actions">
      <app-action *ngFor="let action of actions" [action]="action" [hideCost]="true"></app-action>
    </div>
  </nz-collapse-panel>
</nz-collapse>
