<nz-collapse *ngIf="rotation$ | async as rotation">
  <nz-collapse-panel [nzHeader]="header" #panel>
    <ng-template #header>
      <div class="panel-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
        <div (dblclick)="openRotation(rotation)" fxLayout="row" fxLayoutAlign="flex-start center"
             fxLayoutGap="10px">
          <div>{{rotation.getName()}}</div>
          <app-user-avatar *ngIf="publicDisplay" [userId]="rotation.authorId" [width]="24"></app-user-avatar>
        </div>
        <div fxFlex="1 1 auto" fxLayout="row wrap" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <ng-container *ngIf="rotation.public">
            <nz-tag *ngIf="rotation.public && !publicDisplay" [style.border-color]="'#108ee9'" class="custom-tag">
              {{'SIMULATOR.COMMUNITY_ROTATIONS.Community_rotation' | translate}}
            </nz-tag>
            <nz-tag
              *ngFor="let tag of rotation.tags"
              class="custom-tag">{{('SIMULATOR.COMMUNITY_ROTATIONS.TAGS.' + tag) | translate}}</nz-tag>
            <nz-tag [style.border-color]="'#bd0ef2'"
                    class="custom-tag">{{'SIMULATOR.CONFIGURATION.STATS.Craftsmanship' | translate}}
              : {{rotation.community.minCraftsmanship | number:'1.0-0':translate.currentLang}}</nz-tag>
            <nz-tag [style.border-color]="'#bd0ef2'"
                    class="custom-tag">{{'SIMULATOR.CONFIGURATION.STATS.Control' | translate}}
              : {{rotation.community.minControl | number:'1.0-0':translate.currentLang}}</nz-tag>
            <nz-tag [style.border-color]="'#bd0ef2'"
                    class="custom-tag">{{'SIMULATOR.CONFIGURATION.STATS.CP' | translate}}
              : {{rotation.community.minCp | number:'1.0-0':translate.currentLang}}</nz-tag>
            <nz-tag
              [style.border-color]="'#108ee9'"
              class="custom-tag">{{'SIMULATOR.COMMUNITY_ROTATIONS.Steps_count' | translate: { count: rotation.rotation.length } }}</nz-tag>
            <nz-tag [style.border-color]="'#f2b10e'" class="custom-tag">{{'SIMULATOR.Durability' | translate}}
              : {{rotation.community.durability | number:'1.0-0':translate.currentLang}}</nz-tag>
            <nz-tag [style.border-color]="'#f2b10e'" class="custom-tag">{{'SIMULATOR.COMMUNITY_ROTATIONS.Difficulty_filter_placeholder' | translate}}
              : {{rotation.recipe.progress | number:'1.0-0':translate.currentLang}}</nz-tag>
            <nz-tag [style.border-color]="'#f2b10e'" class="custom-tag">{{'SIMULATOR.Quality' | translate}}
              : {{rotation.recipe.quality | number:'1.0-0':translate.currentLang}}</nz-tag>
          </ng-container>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
          <ng-container *ngIf="publicDisplay && authFacade.loggedIn$ | async">
            <div *ngIf="simulation$ | async as result" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <div *ngIf="rotation.tags.indexOf('SPECIALIST') > -1 && !((simulationSet$ | async)?.specialist)">
                <i [nzTooltipTitle]="'SIMULATOR.COMMUNITY_ROTATIONS.Specialist_rotation_warning' | translate"
                   [twoToneColor]="'#aa9400'" nz-icon nz-tooltip
                   nzType="exclamation-circle" theme="twotone"></i>
              </div>
              <app-rotation-result-tag [rotation]="rotation" [simulationSet]="simulationSet$ | async"></app-rotation-result-tag>
            </div>
          </ng-container>
          <button (click)="$event.stopPropagation();openRotationMacroPopup(rotation)" [nzTooltipTitle]="'SIMULATOR.Generate_ingame_macro' | translate" nz-button nz-tooltip
                  nzShape="circle"
                  nzType="primary">
            <span class="text-icon">XIV</span>
          </button>
          <button (click)="$event.stopPropagation();renameRotation(rotation)" *ngIf="(permissionLevel$ | async) >= 40"
                  [nzTooltipTitle]="'SIMULATOR.Rename_rotation' | translate" nz-button
                  nz-tooltip
                  nzShape="circle">
            <i nz-icon nzType="edit"></i>
          </button>
          <button (click)="$event.stopPropagation()"
                  [clipboard]="getLink(rotation)"
                  [clipboardFnArgs]="[rotation]"
                  [clipboardSuccessMessage]="'SIMULATOR.Share_link_copied' | translate"
                  [nzShape]="'circle'"
                  [nzTooltipTitle]="'SIMULATOR.Share_button_tooltip' | translate"
                  nz-button nz-tooltip>
            <i nz-icon nzType="share-alt"></i>
          </button>
          <a (click)="$event.stopPropagation()" [nzShape]="'circle'" [nzTooltipTitle]="'SIMULATOR.Simulate_tooltip' | translate"
             [nzType]="'primary'"
             [routerLink]="getRouterLink(rotation)"
             nz-button
             nz-tooltip>
            <i nz-icon nzType="folder-open"></i>
          </a>
          <button (click)="$event.stopPropagation();openOverlay(rotation)" *ngIf="platformService.isDesktop()" [nzShape]="'circle'"
                  [nzTooltipTitle]="'ALARMS.Open_overlay' | translate" [nzType]="'primary'"
                  nz-button
                  nz-tooltip>
            <i nz-icon nzType="desktop"></i>
          </button>
          <button (click)="$event.stopPropagation()" (nzOnConfirm)="delete(rotation)" *ngIf="(permissionLevel$ | async) >= 40" [nzShape]="'circle'"
                  [nzPopconfirmTitle]="'SIMULATOR.Confirm_delete' | translate"
                  nzDanger nz-button
                  nz-popconfirm>
            <i nz-icon nzType="delete"></i>
          </button>
          <ng-container *ngIf="(permissionLevel$ | async) >= 40">
            <ng-container *ngIf="user$ | async as user">
              <ng-container *ngIf="user.patron || user.admin">
                <button (click)="$event.stopPropagation()" *ngIf="(permissionLevel$ | async) >= 30" [nzDropdownMenu]="menu"
                        [nzPlacement]="'bottomRight'"
                        [nzShape]="'circle'" [nzTrigger]="'click'"
                        nz-button
                        nz-dropdown>
                  <i nz-icon nzType="ellipsis"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li (click)="createCustomLink(rotation, user)" *ngIf="(customLink$ | async) === undefined; else copyLink"
                        [nzDisabled]="!user.nickname"
                        nz-menu-item>
                      {{'CUSTOM_LINKS.Add_link' | translate}}
                    </li>
                    <ng-template #copyLink>
                      <li *ngIf="customLink$ | async as link"
                          [clipboard]="link.getUrl"
                          [clipboardSuccessMessage]="'CUSTOM_LINKS.Share_link_copied' | translate"
                          nz-menu-item>
                        {{'CUSTOM_LINKS.Copy_custom_link' | translate}}
                      </li>
                    </ng-template>
                  </ul>
                </nz-dropdown-menu>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-template>
    <ng-container *ngIf="panel.nzActive">
      <div *ngIf="actions$ | async as actions" fxLayout="row wrap" fxLayoutGap="10px">
        <app-action *ngFor="let action of actions" [action]="action" [hideCost]="true"></app-action>
      </div>
    </ng-container>
  </nz-collapse-panel>
</nz-collapse>
