<mat-list-item class="auto-height">
  <img mat-list-avatar *ngIf="authorIcon !== undefined" src="{{authorIcon}}" alt="{{authorName}}"
       matTooltip="{{authorName}}" matTooltipPosition="above">
  <mat-icon mat-list-icon *ngIf="authorIcon === undefined" matTooltip="{{authorName}}" matTooltipPosition="above">
    person
  </mat-icon>
  <p mat-line class="content">{{comment.content}}</p>
  <span mat-line class="date">{{getDate()}}</span>
  <button mat-icon-button (click)="deleteComment()" *ngIf="canDelete">
    <mat-icon>delete</mat-icon>
  </button>
</mat-list-item>
