<nz-button-group *ngIf="alarm | alarmDisplay | async as display">
  <button (click)="toggleAlarm.emit(display)" [nzGhost]="!display.registered" [nzSize]="'small'"
          [nzType]="display.spawned?'primary':'default'"
          nz-button
          nz-tooltip
          [nzTooltipTitle]="tooltip">
    <ng-template #tooltip>
      <span *ngIf="display.alarm.itemId">
          <span *ngIf="display.alarm.mapId | closestAetheryte:display.alarm.coords | async as aetheryte">
            {{aetheryte.nameid | i18nRow:'places' | i18n}}
          </span> - {{display.alarm.zoneId | i18nRow:'places' | i18n}}
      </span>
      <span *ngIf="!display.alarm.itemId">{{display.alarm.name}}</span>
      <span *ngIf="display.alarm.fishEyes">{{'GATHERING_LOCATIONS.Fish_eyes' | translate}}</span>
    </ng-template>
    <i *ngIf="!display.registered" nz-icon nzType="bell"></i>
    <i *ngIf="display.registered" nz-icon nzType="close-circle-o"></i>
    {{display.remainingTime | timer}}
    <span *ngIf="display.alarm.slot">({{display.alarm.slot}})</span>
    <img *ngIf="!display.alarm.fishEyes" [src]="display.alarm.type | nodeTypeIcon: true" alt="" class="node-type-icon">
    <img *ngIf="display.alarm.fishEyes" [src]="762 | lazyRow:'statuses':'icon' | async | xivapiIcon" alt="" class="node-type-icon fish-eyes">
  </button>
  <button *ngIf="!display.registered && alarmGroups?.length > 0" [nzDropdownMenu]="menu"
          [nzPlacement]="'bottomCenter'"
          [nzSize]="'small'" nz-button
          nz-dropdown>
    <i nz-icon nzType="ellipsis"></i>
  </button>
  <button [nzSize]="'small'" *ngIf="showPosition" nz-tooltip [nzTooltipTitle]="'See_on_map' | translate"
          (click)="openMap()" nz-button>
    <i nz-icon nzType="environment" nzTheme="outline"></i>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li (click)="addAlarmWithGroup.emit({alarm: alarm, group: group})" *ngFor="let group of alarmGroups" nz-menu-item>
        {{group.name}}
      </li>
    </ul>
  </nz-dropdown-menu>
</nz-button-group>
