<div nz-popover
  [nzPopoverTitle]="voyageDetailsTitle"
  nzPopoverPlacement="topRight"
  [nzPopoverContent]="voyageDetailsContent">
  <nz-breadcrumb [nzSeparator]="iconTemplate">
    @for (sector of vessel?.destinations; track sector) {
      <nz-breadcrumb-item>
        @if (vessel.vesselType === VesselType.AIRSHIP) {
          <span>{{ sector + 1 }}</span>
        }
        @if (vessel.vesselType === VesselType.SUBMARINE) {
          <span [innerHTML]="sector | lazyRow:'submarineVoyages':'location' | async | nzSanitizer"></span>
        }
      </nz-breadcrumb-item>
    }
  </nz-breadcrumb>
  <ng-template #iconTemplate><i nz-icon nzType="arrow-right"></i></ng-template>
</div>

<ng-template #voyageDetailsTitle>
  <div style="text-align: center">{{ 'VOYAGE_TRACKER.VOYAGE_DETAILS.Title' | translate }}</div>
</ng-template>

<ng-template #voyageDetailsContent>
  <nz-breadcrumb [nzSeparator]="iconTemplate">
    @for (sector of destinationNames$ | async; track sector) {
      <nz-breadcrumb-item>
        <span [innerHtml]="sector"></span>
      </nz-breadcrumb-item>
    }
  </nz-breadcrumb>
</ng-template>
