<ng-container *ngIf="user$ | async as user">
  <ng-container *ngIf="comments$ | async as comments">
    <app-fullpage-message *ngIf="comments.length === 0" height="auto" fontSize="1.5rem">
      {{'DB.COMMENTS.No_comments' | translate}}
    </app-fullpage-message>
    <ng-template #commentTemplateRef let-comment="comment">
      <nz-comment [nzAuthor]="authorRef" [nzDatetime]="comment.date | date:'short':undefined:getLocale()"
                  *ngIf="comment.$key !== editingComment?.$key; else commentEdition">
        <ng-template #authorRef>
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
            <div>{{comment.author | characterName | async}}</div>
            <div *ngIf="comment.author | userLevel | async as userLvl">
              <nz-tag [nzColor]="'magenta'" *ngIf="userLvl === userLevels.ADMIN">
                {{'COMMON.Admin' | translate}}
              </nz-tag>
              <nz-tag [nzColor]="'volcano'" *ngIf="userLvl === userLevels.MODERATOR">
                {{'COMMON.Moderator' | translate}}
              </nz-tag>
            </div>
          </div>
        </ng-template>
        <nz-avatar nz-comment-avatar [nzSrc]="comment.author | characterAvatar | async"></nz-avatar>
        <nz-comment-content>
          <p *ngIf="!comment.deleted; else deletedComment">{{ comment.message }}</p>
          <ng-template #deletedComment>
            <p><i class="deleted">{{'DB.COMMENTS.Deleted_comment' | translate}}</i></p>
          </ng-template>
        </nz-comment-content>
        <nz-comment-action>
          <i
            nz-tooltip
            [nzTitle]="'DB.COMMENTS.Like' | translate"
            nz-icon
            type="like"
            [nzTheme]="comment.likes.length > 0 ? 'twotone' : 'outline'"
            (click)="like(comment, user.$key)"
          ></i>
          <span class="count like">{{ comment.likes.length }}</span>
        </nz-comment-action>
        <nz-comment-action>
          <i
            nz-tooltip
            [nzTitle]="'DB.COMMENTS.Dislike' | translate"
            nz-icon
            type="dislike"
            [nzTheme]="comment.dislikes.length > 0 ? 'twotone' : 'outline'"
            (click)="dislike(comment, user.$key)"
          ></i>
          <span class="count dislike">{{ comment.dislikes.length }}</span>
        </nz-comment-action>

        <nz-comment-action *ngIf="!comment.deleted">
          <span (click)="replyTo(comment)">{{'DB.COMMENTS.Reply' | translate}}</span>
        </nz-comment-action>

        <nz-comment-action *ngIf="!comment.deleted && (comment.author === user.$key || user.admin || user.moderator)">
          <span (click)="editComment(comment)">{{'Edit' | translate}}</span>
        </nz-comment-action>

        <nz-comment-action *ngIf="!comment.deleted && (comment.author === user.$key || user.admin || user.moderator)">
          <span nz-popconfirm [nzTitle]="'Confirmation' | translate"
                (nzOnConfirm)="deleteComment(comment)">{{'Delete' | translate}}</span>
        </nz-comment-action>

        <ng-container *ngIf="parentComment?.$key === comment?.$key">
          <ng-container *ngTemplateOutlet="editor;context:{parentComment: comment}"></ng-container>
        </ng-container>

        <ng-container *ngIf="comment.replies && comment.replies.length">
          <ng-template ngFor let-reply [ngForOf]="comment.replies" [ngForTrackBy]="trackByComment">
            <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: reply }">
            </ng-template>
          </ng-template>
        </ng-container>
      </nz-comment>

      <ng-template #commentEdition>
        <ng-container *ngTemplateOutlet="editor;context:{commentEdition: comment}"></ng-container>

        <ng-container *ngIf="comment.replies && comment.replies.length">
          <ng-template ngFor let-reply [ngForOf]="comment.replies" [ngForTrackBy]="trackByComment">
            <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: reply }">
            </ng-template>
          </ng-template>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: comment }"
                 *ngFor="let comment of comments; trackBy:trackByComment"></ng-template>

    <ng-template #editor let-parentComment="parentComment" let-edition="commentEdition">
      <nz-comment *ngIf="loggedIn$ | async">
        <nz-avatar nz-comment-avatar [nzSrc]="user.$key | characterAvatar | async"></nz-avatar>
        <nz-comment-content>
          <nz-form-item>
            <textarea *ngIf="!edition" [(ngModel)]="newCommentContent" nz-input rows="4"></textarea>
            <textarea *ngIf="edition" [(ngModel)]="edition.message" nz-input rows="4"></textarea>
          </nz-form-item>
          <nz-form-item>
            <div fxLayout="row" fxLayoutGap="5px" *ngIf="!edition">
              <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!newCommentContent"
                      (click)="postComment(user.$key, parentComment)">
                {{'DB.COMMENTS.Post' | translate}}
              </button>
              <button nz-button (click)="resetEditor()">
                {{'Cancel' | translate}}
              </button>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" *ngIf="edition">
              <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!edition.message"
                      (click)="saveCommentEdition()">
                {{'COMMON.Save' | translate}}
              </button>
              <button nz-button (click)="resetEditor()">
                {{'Cancel' | translate}}
              </button>
            </div>
          </nz-form-item>
        </nz-comment-content>
      </nz-comment>
    </ng-template>
    <button nz-button nzBlock (click)="addRootComment = true" *ngIf="!addRootComment && !hideRootCommentButton">
      <i nz-icon type="plus"></i>
      {{'DB.COMMENTS.Add_comment' | translate}}
    </button>
    <ng-container *ngIf="addRootComment">
      <ng-container *ngTemplateOutlet="editor"></ng-container>
    </ng-container>
  </ng-container>
</ng-container>
