:host ::ng-deep {
  .ant-card {
    height: 100%;
    max-height: 500px;

    .ant-card-body {
      max-height: calc(100% - 56px);
    }
  }

  .obtain-template-container {
    .ant-card {
      height: unset;
    }
  }
}
