<app-overlay-container uri="/mappy-overlay">
  <ng-container *ngIf="display$ | async as display">
    <div *ngIf="display.mapId; else noMap" class="mappy-overlay-container">
      <img [src]="display.map.image" alt="" class="map-background" [style.transform]="imageTransform()" (wheel)="onScroll($event)" (pan)="onPan($event)">
      <div class="layer" [style.transform]="imageTransform()">
        <img src="./assets/icons/mappy/enemy.png"
             class="marker hover"
             *ngFor="let bnpc of display.bnpcs; trackBy: trackByNpc"
             [style.width.px]="bnpcMarkerSize.x"
             [style.height.px]="bnpcMarkerSize.y"
             [style.margin-left.px]="-bnpcMarkerSize.x/2"
             [style.margin-top.px]="-bnpcMarkerSize.y/2"
             [style.top.%]="bnpc.displayPosition.y"
             [style.left.%]="bnpc.displayPosition.x"
             nz-tooltip [nzTitle]="bnpc.nameId | mobName | i18n">
      </div>
      <div class="layer" [style.transform]="imageTransform()">
        <img [src]="obj.icon || './assets/icons/mappy/unknown.png'"
             class="marker hover"
             *ngFor="let obj of display.objs; trackBy: trackByObj"
             [style.width.px]="objMarkerSize.x"
             [style.height.px]="objMarkerSize.y"
             [style.margin-left.px]="-objMarkerSize.x/2"
             [style.margin-top.px]="-objMarkerSize.y/2"
             [style.top.%]="obj.displayPosition.y"
             [style.left.%]="obj.displayPosition.x"
             nz-tooltip [nzTitle]="obj.kind">
      </div>
      <div class="layer" [style.transform]="imageTransform()">
        <img src="./assets/icons/mappy/player.png"
             alt="You"
             class="marker"
             [style.transform]="display.playerRotationTransform"
             [style.width.px]="playerMarkerSize.x"
             [style.height.px]="playerMarkerSize.y"
             [style.margin-left.px]="-playerMarkerSize.x/2"
             [style.margin-top.px]="-playerMarkerSize.y/2"
             [style.top.%]="display.player.y"
             [style.left.%]="display.player.x">
      </div>
      <div class="debug-box">
        Map: {{display.mapId}}<br>
        X: {{display.player.x | number:'1.1-1'}}<br>
        Y: {{display.player.y | number:'1.1-1'}}<br>
        Objs: {{display.objs.length}}<br>
        BNPCs: {{display.bnpcs.length}}
      </div>
    </div>
    <ng-template #noMap>
      <app-fullpage-message>
        {{'MAPPY_OVERLAY.ERRORS.No_map' | translate}}
      </app-fullpage-message>
    </ng-template>
  </ng-container>
</app-overlay-container>
