<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center">
    <app-item-caps-table [job]="job" [equipmentPiece]="equipmentPiece"></app-item-caps-table>
  </div>
  <nz-divider></nz-divider>
  <div fxLayout="column" class="materia-row" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center" *ngFor="let materia of equipmentPiece.materias; let i = index">
      <div fxLayout="column" fxLayoutAlign="center center">
        <app-item-icon [itemId]="materia" [width]="24" *ngIf="materia > 0; else noMateria"></app-item-icon>
        <ng-template #noMateria>
          <i nz-icon nzType="stop" nzTheme="outline"></i>
        </ng-template>
        <div>{{materia > 0 ? (getMeldingChances(materia, i) | async) : ' - '}}%</div>
      </div>
      <div fxLayout="column" *ngIf="materia > 0 && mobileEdit !== i; else addMateria">
        <div fxLayout="row" fxLayoutGap="5px">
          <div>{{materia | itemName | i18n}}</div>
          <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"
                  *ngIf="true | ifMobile: false"
                  nzShape="circle" nzSize="small">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
          <button nz-button
                  *ngIf="false | ifMobile: true"
                  (click)="mobileEdit = i"
                  nzShape="circle" nzSize="small">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
        </div>
        <div>
          {{(materiasService.getMateria(materia) | async)?.baseParamId | baseParamName | i18n}}
          <span *ngIf="getBonus(materia, i) | async as bonus" [class.overcapped]="bonus.overcapped">+{{bonus.value}}</span>
        </div>
      </div>
      <ng-template #addMateria>
        <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"
                *ngIf="true | ifMobile: false"
                [nzDisabled]="i > 0 && equipmentPiece.materias[i - 1] === 0">{{'GEARSETS.Add_materia' | translate}}</button>

        <nz-select *ngIf="false | ifMobile: true" [ngModel]="equipmentPiece.materias[i]" (ngModelChange)="setMateria(i, $event); mobileEdit = -1"
                   nzShowSearch [nzPlaceHolder]="'GEARSETS.Add_materia' | translate" [style.width.px]="200">
          <nz-option-group *ngFor="let row of materiaMenu$ | async" [nzLabel]="row.baseParamId | baseParamName | i18n">
            <nz-option *ngFor="let materia of row.materias" [nzValue]="materia" [nzLabel]="materia | itemName | i18n" nzCustomContent>
              {{materia | itemName | i18n}} (<span [class.overcapped]="bonus.overcapped" *ngIf="getBonus(materia, i) | async as bonus">+{{bonus.value}}</span>)
            </nz-option>
          </nz-option-group>
        </nz-select>
      </ng-template>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="resetMaterias(i)">{{'GEARSETS.No_materia' | translate}}</li>
          <li nz-submenu *ngFor="let row of materiaMenu$ | async" [nzTitle]="row.baseParamId | baseParamName | i18n">
            <ul>
              <li nz-menu-item
                  (click)="setMateria(i, materia)"
                  [nzDisabled]="getMeldingChances(materia, i) === 0"
                  [nzSelected]="equipmentPiece.materias[i] === materia"
                  *ngFor="let materia of row.materias">
                {{materia | itemName | i18n}} (<span [class.overcapped]="bonus.overcapped" *ngIf="getBonus(materia, i) | async as bonus">+{{bonus.value}}</span>)
              </li>
            </ul>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="10px">
    <button nz-button nzType="primary" (click)="optimize()">{{'GEARSETS.Optimize_materias' | translate}}</button>
    <div fxFlex="1 1 auto"></div>
    <div>
      <button nz-button nzType="primary" (click)="apply()">{{'COMMON.Apply' | translate}}</button>
    </div>
    <div>
      <button nz-button nzType="default" (click)="cancel()">{{'Cancel' | translate}}</button>
    </div>
  </div>
</div>
