.oauth {
  display: flex;
  flex-direction: column;
  button {
    margin: 5px 0;
  }
}

form {
  display: flex;
  flex-direction: column;
}

mat-divider {
  margin: 5px 0;
}

.forgot-password {
  margin: 10px 0;
}
