<div class="input-container">
    <md-input-container>
        <md-icon mdPrefix>search</md-icon>
        <input class="filter" [(ngModel)]="query" mdInput placeholder="{{'Recipe_name' | translate}}" #filter>
    </md-input-container>
</div>
<md-expansion-panel class="filters" #filtersPanel>
    <md-expansion-panel-header>
        <md-panel-title>
            {{"Filters" | translate}}
        </md-panel-title>
    </md-expansion-panel-header>
    <ul class="filters">
        <div *ngFor="let filter of filters">
            <li *ngIf="filter.select" class="options">
                <div>
                    <md-checkbox [(ngModel)]="filter.enabled"></md-checkbox>
                    {{filter.name | translate}}
                </div>
                <md-radio-group disabled="{{!filter.enabled}}" [(ngModel)]="filter.value">
                    <md-radio-button *ngFor="let value of filter.values" [value]="value.id">
                        <img src="https://garlandtools.org/db/images/{{value.abbreviation}}.png" class="img-option"
                             alt="{{value.abbreviation}}">
                    </md-radio-button>
                </md-radio-group>
            </li>
            <li class="min-max" *ngIf="filter.minMax">
                <div>
                    <md-checkbox [(ngModel)]="filter.enabled"></md-checkbox>
                    <span>{{filter.name | translate}}</span>
                </div>
                <md-input-container>
                    <input mdInput type="number" min="0" max="999" disabled="{{!filter.enabled}}"
                           [(ngModel)]="filter.value.min">
                    <span mdSuffix>Min</span>
                </md-input-container>
                <md-input-container>
                    <input mdInput type="number" min="0" max="999" disabled="{{!filter.enabled}}"
                           [(ngModel)]="filter.value.max">
                    <span mdSuffix>Max</span>
                </md-input-container>
            </li>
        </div>
    </ul>
    <md-action-row>
        <button md-raised-button color="accent" (click)="filtersPanel.close();doSearch()">Filter</button>
    </md-action-row>
</md-expansion-panel>
<md-divider></md-divider>
<md-list>
    <div *ngIf="(recipes.length === 0 || recipes === null) && !loading">
        <h4 class="no-recipe">{{'No_matching_recipe' | translate}}</h4>
    </div>
    <div *ngIf="loading" class="loading">
        <md-spinner></md-spinner>
    </div>
    <div *ngIf="recipes.length > 0 && !loading">
        <md-list-item *ngFor="let recipe of recipes">
            <a md-list-avatar target="_blank">
                <img md-list-avatar src="{{recipe.icon}}" alt="{{recipe | i18n}}">
            </a>
            <h4 md-line [innerHTML]="recipe | i18n"></h4>
            <p md-line *ngIf="getJob(recipe.job).abbreviation !== 'ADV'">
                <img src="https://www.garlandtools.org/db/images/{{getJob(recipe.job).abbreviation}}.png"
                     alt="getJob(recipe.job)?.abbreviation" class="crafted-by"> {{recipe.lvl}} <span
                [innerHtml]="getStars(recipe.stars)"></span>
            </p>
            <md-input-container>
                <input mdInput type="number" min="1" value="1" #amount>
            </md-input-container>
            <md-menu #appMenu="mdMenu">
                <button md-menu-item (click)="addToNewList(recipe, amount.value)">
                    <md-icon>add</md-icon>
                    <span>{{'New_List' | translate}}</span></button>
                <button md-menu-item *ngFor="let list of lists | async"
                        (click)="addRecipe(recipe, list, list.$key, amount.value)">
                    <md-icon>playlist_play</md-icon>
                    <span>{{list.name}}</span></button>
            </md-menu>
            <button md-icon-button [mdMenuTriggerFor]="appMenu">
                <md-icon>playlist_add</md-icon>
            </button>
        </md-list-item>
    </div>
</md-list>
