<div class="input-container">
    <md-input-container>
        <md-icon mdPrefix>search</md-icon>
        <input class="filter" mdInput placeholder="{{'Recipe_name' | translate}}" #filter>
    </md-input-container>
</div>
<md-divider></md-divider>
<md-list>
    <div *ngIf="(recipes.length === 0 || recipes === null) && !loading">
        <h4 class="no-recipe">{{'No_matching_recipe' | translate}}</h4>
    </div>
    <div *ngIf="loading" class="loading"><md-spinner></md-spinner></div>
    <div *ngIf="recipes.length > 0 && !loading">
        <md-list-item *ngFor="let recipe of recipes">
            <a md-list-avatar href="{{getName(recipe.url_xivdb)}}" target="_blank">
                <img md-list-avatar src="{{recipe.icon}}" alt="{{getName(recipe.name)}}">
            </a>
            <h4 md-line>{{getName(recipe.name)}}</h4>
            <p md-line *ngIf="getJob(recipe.job).abbreviation !== 'ADV'">
                <img src="https://www.garlandtools.org/db/images/{{getJob(recipe.job).abbreviation}}.png"
                            alt="getJob(recipe.job)?.abbreviation" class="crafted-by"> {{recipe.lvl}} <span [innerHtml]="getStars(recipe.stars)"></span>
            </p>
            <md-menu #appMenu="mdMenu">
                <button md-menu-item (click)="addToNewList(recipe)">
                    <md-icon>add</md-icon>
                    <span>{{'New_List' | translate}}</span></button>
                <button md-menu-item *ngFor="let list of lists | async"
                        (click)="addRecipe(recipe, list, list.$key)">
                    <md-icon>playlist_play</md-icon>
                    <span>{{list.name}}</span></button>
            </md-menu>
            <button md-icon-button [mdMenuTriggerFor]="appMenu">
                <md-icon>playlist_add</md-icon>
            </button>
        </md-list-item>
    </div>
</md-list>
