.input-container {
    width: 100%;
    md-input-container {
        font-size: 20px;
        width: 60%;
        margin: auto;
        display: block;
    }
}

.filters {
    display: inline-block;
    width: 100%;
    div {
        width: 65%;
        li {
            margin-top: 20px;
            display: flex;
            align-items: baseline;
            md-input-container {
                width: auto !important;
                margin-right: 10px;
            }
        }
        li *:first-child {
            flex: 1;
        }
        div {
            min-width: 250px;
        }
        md-radio-group {
            width: 520px;
            md-radio-button {
                margin-right: 5px;
            }
        }
    }
}

.add-all-wrapper {
    display: flex;
    justify-content: center;
    .add-all-recipes {
        margin-top: 10px;
    }
}

.img-option {
    height: 32px;
    vertical-align: middle;
}

.add {
    cursor: pointer;
}

.no-recipe {
    text-align: center;
    font-size: 40px;
    opacity: 0.6;
}

.crafted-by {
    height: 25px;
    vertical-align: middle;
}

.loading {
    width: 100%;
    height: 100%;
    text-align: center;
    .mat-progress-spinner {
        width: auto !important;
    }
}
