<mat-list-item [class.odd]="odd" class="list-item">
    <div mat-list-avatar class="icon" *ngIf="!isMobile()">
        <img mat-list-avatar src="{{item.icon | icon}}" alt="{{item.id | itemName | i18n}}">
    </div>
    <p mat-line class="item-name">
        {{item.id | itemName | i18n}}
        <mat-icon *ngIf="craftCost !== undefined" matTooltip="{{'Minimal_craft_cost' | translate}}: {{craftCost}} gil"
                 matTooltipPosition="above">
            attach_money
        </mat-icon>
        <mat-icon color="warn" *ngIf="craftCost > 0 && (price.nq * amount.nq + price.hq * amount.hq) > 0 && !earning"
        matTooltip="{{'PRICING.Materials_have_cost' | translate}}" matTooltipPosition="above">error_outline</mat-icon>
    </p>

    <mat-icon *ngIf="price.fromVendor" class="from-vendor" matTooltip="{{'PRICING.From_vendor' | translate}}"
              matTooltipPosition="above">group
    </mat-icon>

    <div class="amount-group">
        <div class="field-group" matLine>
            <mat-form-field class="nofix price">
                <span matPrefix>NQ &nbsp;</span>
                <input matInput type="number" lang="en-150" [(ngModel)]="price.nq" (ngModelChange)="savePrice()">
            </mat-form-field>
            <mat-form-field class="nofix amount">
                <span matPrefix>x &nbsp;</span>
                <input matInput type="number" lang="en-150" [(ngModel)]="amount.nq" (ngModelChange)="saveAmount()">
            </mat-form-field>
        </div>
        <div class="field-group" matLine *ngIf="!isCrystal()">
            <mat-form-field class="nofix price">
                <span matPrefix>HQ &nbsp;</span>
                <input matInput type="number" lang="en-150" [(ngModel)]="price.hq" (ngModelChange)="savePrice()">
            </mat-form-field>
            <mat-form-field class="nofix amount">
                <span matPrefix>x &nbsp;</span>
                <input matInput type="number" lang="en-150" [(ngModel)]="amount.hq" (ngModelChange)="saveAmount()">
            </mat-form-field>
        </div>
    </div>
</mat-list-item>
