@if (mapId$ | async; as mapId) {
  <div [style.padding]="'0 25px' | ifMobile: '0'" fxLayout="column" fxLayoutGap="10px">
    <div class="top-bar" fxFlex="1 1 auto" fxLayout="row" fxLayout.lt-md="column"
      fxLayoutAlign="flex-start flex-start" fxLayoutGap="5px" fxLayoutGap.lt-md="10px">
      <div class="top-left-block" fxFlex="0 0 300px" fxFlex.lt-md="1 1 auto" fxLayout="column"
        fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div class="icon-block" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <img [src]="'/c/PlaceName.png' | xivapiIcon" alt="{{mapId | mapName |i18n}}"
            class="img-icon" fxFlex="0 0 auto">
          <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
            <h2 class="item-name">{{mapId | mapName |i18n}}</h2>
          </div>
        </div>
        @if (links$ | async; as links) {
          <div class="links" fxLayout="row" fxLayoutAlign="flex-start center"
            fxLayoutGap="5px">
            @for (link of links; track link) {
              <a [href]="link.url" [nzTooltipTitle]="link.title" nz-tooltip target="_blank">
                <img [alt]="link.title" [src]="link.icon" class="link-icon">
              </a>
            }
          </div>
        }
      </div>
      <div fxFlex="1 1 auto">
      </div>
      <app-i18n-display fxFlex="0 0 300px" fxFlex.lt-md="1 1 auto" fxLayout="column" fxLayoutGap="5px"
      [value]="mapId | mapName | async"></app-i18n-display>
    </div>
    @if (settings.dbCommentsPosition === 'TOP') {
      <app-db-comments [id]="mapId" type="map"></app-db-comments>
    }
    <div>
      <nz-divider [nzText]="'DB.Content' | translate" nzOrientation="left"></nz-divider>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <nz-card [nzTitle]="'DB.Map' | translate" class="details-card"
        fxFlex="0 0 40%"
        nzBordered="false">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <nz-select
            (ngModelChange)="enabledTypes$.next($event)"
            [ngModel]="enabledTypes$ | async"
            [nzPlaceHolder]="'DB.Icons_shown' | translate"
            class="type-selector"
            nzAllowClear
            nzMode="multiple"
            nzShowSearch
            >
            @for (type of availableTypes; track type) {
              <nz-option [nzLabel]="('DB.DATA_TYPE.' + type) | translate" [nzValue]="type"></nz-option>
            }
          </nz-select>
          <app-map [hideDbButton]="true" [mapId]="mapId" [markers]="markers$ | async" [aetheryteZIndex]="100"></app-map>
        </div>
      </nz-card>
      @if (relatedDisplay$ | async; as relatedElements) {
        <nz-card [nzTitle]="'DB.Details' | translate"
          class="details-card"
          fxFlex="1 1 auto" nzBordered="false">
          @if (relatedElements.length === 0) {
            <app-fullpage-message fontSize="2rem"
            height="300px">{{'DB.Select_data_type' | translate}}</app-fullpage-message>
          }
          @for (row of relatedElements; track row) {
            <nz-list
              [nzDataSource]="row.elements"
              [nzHeader]="('DB.DATA_TYPE.' + row.type) | translate"
              [nzRenderItem]="elementTemplate">
              <ng-template #elementTemplate let-element let-index="index">
                <nz-list-item (mouseenter)="highlight(element, true)" (mouseleave)="highlight(element, false)"
                  [nzContent]="more">
                  <nz-list-item-meta [nzDescription]="description"
                    [nzTitle]="title">
                    <ng-template #title>
                      @if (element.type === 'node') {
                        <div fxLayout="row" fxLayoutGap="5px">
                          @for (item of element.additionalData; track item; let last = $last) {
                            <div fxLayout="row" fxLayoutGap="5px">
                              <div><app-i18n-name [id]="item.id" content="items"></app-i18n-name> @if (item.slot) {
                              <span>({{item.slot}})</span>
                            }</div>
                            <app-db-button [id]="item.id" type="item"></app-db-button>
                          </div>
                        }
                      </div>
                    } @else {
                      {{element.name | i18n}}
                    }
                  </ng-template>
                  <ng-template #description>
                    X: {{element.coords.x | number}} - Y: {{element.coords.y | number}} @if (element.type === 'node') {
                    <span
                    >{{element.name | i18n}}</span>
                  }
                </ng-template>
              </nz-list-item-meta>
              <ng-template #more>
                <app-db-button [id]="element.id" [type]="element.linkType || element.type"></app-db-button>
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      }
    </nz-card>
  }
</div>
</div>
@if (settings.dbCommentsPosition === 'BOTTOM') {
  <app-db-comments [id]="mapId" type="map"></app-db-comments>
}
} @else {
  <app-page-loader></app-page-loader>
}
