<form nz-form (ngSubmit)="login()" [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">{{'Email_enter' | translate}}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="email" formControlName="email" id="email" nz-input>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">{{'Password' | translate}}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="password" formControlName="password" id="password" nz-input>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!form.valid" type="submit">{{'Submit' | translate}}</button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button (click)="sendResetPassword()"
              type="button"
              [disabled]="form.pristine ||(form.errors && form.errors.email)">
        {{'Forgot_password' | translate}}
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-alert *ngIf="errorMessageCode !== undefined" nzType="error"
          nzMessage="{{('AUTH_ERRORS.'+errorMessageCode) | translate}}"></nz-alert>
<nz-divider [nzText]="'Or' | translate"></nz-divider>
<div class="oauth-buttons">
  <button nz-button nzType="primary" (click)="googleOauth()">{{'Google_login' | translate}}</button>
  <button nz-button nzType="primary" (click)="facebookOauth()">{{'Facebook_login' | translate}}</button>
</div>
