<nz-badge [nzColor]="getColor(state)">
  <div (click)="ignoreDisabled || (!disabled && !notEnoughCp)?actionclick.emit():null"
       (contextmenu)="showStateMenu?contextMenu($event, template):null"
       class="action-container">
    <div [appXivdbActionTooltipDisabled]="tooltipDisabled"
         [appXivdbActionTooltip]="action.getId(getJobId())"
         [ngClass]="{'wasted': wasted, 'disabled': disabled || notEnoughCp || !safe, 'not-enough-cp': notEnoughCp}"
         class="action">
      <img alt="{{getAlt()}}" src="{{action.getId(getJobId()) | actionIcon | xivapiIcon}}">
      <div *ngIf="notEnoughCp || disabled" class="red-overlay"></div>
      <i *ngIf="failed || !safe" class="material-icons failed">close</i>
      <span *ngIf="!hideCost && action.getBaseCPCost(simulation) > 0 && (cpCost === undefined || cpCost !== 0)"
            class="cost">
            {{(cpCost === undefined ? action.getBaseCPCost(simulation) : cpCost) | absolute}}
        </span>
    </div>
  </div>
</nz-badge>
<ng-template #template>
  <ul (nzClick)="close()" nz-menu nzInDropDown>
    <li (click)="setState(states.NORMAL)" [nzSelected]="!state || state === states.NORMAL"
        nz-menu-item>{{'SIMULATOR.STATE.Normal' | translate}}</li>
    <li (click)="setState(states.GOOD)" [nzSelected]="state === states.GOOD"
        nz-menu-item>{{'SIMULATOR.STATE.Good' | translate}}</li>
    <li (click)="setState(states.EXCELLENT)" [nzSelected]="state === states.EXCELLENT"
        nz-menu-item>{{'SIMULATOR.STATE.Excellent' | translate}}</li>
    <li (click)="setState(states.POOR)" [nzSelected]="state === states.POOR"
        nz-menu-item>{{'SIMULATOR.STATE.Poor' | translate}}</li>
    <li (click)="setState(states.FAILED)" [nzSelected]="state === states.FAILED"
        nz-menu-item>{{'SIMULATOR.STATE.Fail' | translate}}</li>
  </ul>
</ng-template>
