@if (action) {
  <nz-badge [nzColor]="stateColor()">
    <div (click)="ignoreDisabled || (!disabled && !notEnoughCp)?actionclick.emit():null"
      (contextmenu)="showStateMenu?contextMenu($event, template):null"
      class="action-container">
      <div [appXivdbActionTooltipDisabled]="tooltipDisabled || action.getId(getJobId()) < 0"
        [appXivdbActionTooltip]="action.getId(getJobId())"
        [appXivdbActionState]="state()"
        [appXivdbActionStateColor]="stateColor()"
        [ngClass]="{'wasted': wasted, 'disabled': disabled || notEnoughCp || !safe, 'not-enough-cp': notEnoughCp}"
        class="action">
        <img alt="{{getAlt()}}" src="{{action.getId(getJobId()) | actionIcon | xivapiIcon}}" class="action-icon">
        @if (notEnoughCp || disabled) {
          <div class="red-overlay"></div>
        }
        @if (failed || !safe) {
          <i class="material-icons failed">close</i>
        }
        @if (!hideCost && action.getBaseCPCost(simulation) > 0 && (cpCost === undefined || cpCost !== 0)) {
          <span
            class="cost">
            {{(cpCost === undefined ? action.getBaseCPCost(simulation) : cpCost) | absolute}}
          </span>
        }
      </div>
    </div>
  </nz-badge>
}
<nz-dropdown-menu #template="nzDropdownMenu">
  @if (simulation) {
    <ul (click)="close()" nz-menu>
      @for (condition of availableConditions; track condition.condition) {
        <li (click)="setState(condition.condition)" [nzSelected]="state() === condition.condition"
        nz-menu-item>{{('SIMULATOR.STATE.' + condition.name) | translate}}</li>
      }
      <li (click)="failChange.next(!failed)" [nzSelected]="failed"
      nz-menu-item>{{'SIMULATOR.STATE.Fail' | translate}}</li>
    </ul>
  }
</nz-dropdown-menu>
