<div fxLayout="row" fxLayoutAlign="space-between center">
  <h3>{{'LIST_DETAILS.SPLIT.Pick_items' | translate}}</h3>
  <button nz-button (click)="selectNotCompletedItems()">
    {{'LIST_DETAILS.SPLIT.Select_not_completed' | translate}}
  </button>
</div>

<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="column" fxLayoutGap="5px">
    <app-lazy-scroll [rowTemplate]="rowTpl" [data]="list.finalItems" [rowSize]="37">
      <ng-template #rowTpl let-item>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center" class="row">
          <div>
            <label (ngModelChange)="setSelection(item, $event)" [ngModel]="isSelected(item.id)" nz-checkbox></label>
          </div>
          <app-item-icon [itemId]="item.id" width="32"></app-item-icon>
          <div>{{item.id | itemName | i18n}}</div>
          <div fxFlex="1 1 auto"></div>
          <div>x{{item.amount}}</div>
        </div>
      </ng-template>
    </app-lazy-scroll>

  </div>

  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start center">
    <div>
      <button (click)="split()" [disabled]="selectedItems.length === 0" nz-button nzType="primary">{{'Confirm' | translate}}</button>
    </div>
    <div>
      <label [(ngModel)]="removeFromList" nz-checkbox>{{'LIST_DETAILS.SPLIT.Remove_from_list' | translate}}</label>
    </div>
  </div>

</div>
