.error-text {
  color: #f5222d;
}

.fish-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.state-container {
  padding: 10px;
}

.errors {
  padding: 10px;
  border: 1px solid #f5222d;
  border-radius: 1px;
}

.buff-container {
  position: relative;
  margin: 0 2px;

  .stacks {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  .duration {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
}
