<h2>{{'TEAMS.Title' | translate}}</h2>
<div *ngIf="user$ | async as character">
    <div *ngIf="teams$ | async as teams; else loading">
        <mat-expansion-panel *ngFor="let team of teams; trackBy: trackByTeamFn" class="team-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="team-name">
                        {{team.name}}
                        <button mat-icon-button (click)="$event.stopPropagation();rename(team)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </span>
                </mat-panel-title>
                <button mat-icon-button color="warn" *ngIf="team.leader === character.user.$key"
                        (click)="$event.stopPropagation();deleteTeam(team)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-expansion-panel-header>
            <mat-list *ngIf="getTeamMembers(team) | async as members; else loadingMembers">
                <mat-list-item *ngFor="let member of members">
                    <img src="{{member.avatar}}" alt="" mat-list-avatar>
                    <div matLine class="member-name" [class.pending]="!team.isConfirmed(member.user.$key)">
                        {{member.name}}
                        <mat-icon matTooltip="{{'TEAMS.Pending' | translate}}"
                                  matTooltipPosition="above"
                                  *ngIf="!team.isConfirmed(member.user.$key)">
                            hourglass_empty
                        </mat-icon>
                        <div matTooltip="{{'PROFILE.Patreon_supporter' | translate}}"
                             matTooltipPosition="above">
                            <i class="fab fa-patreon" *ngIf="member.user.patron || member.user.admin"></i>
                        </div>
                        <mat-icon *ngIf="member.user.$key === team.leader">stars</mat-icon>
                    </div>
                    <button mat-icon-button color="warn"
                            *ngIf="(team.leader === character.user.$key && member.user.$key !== team.leader) ||
                            member.user.$key === character.user.$key"
                            (click)="removeUser(team, member.user)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
            <ng-template #loadingMembers>
                <div class="loader-container">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
            <button mat-button (click)="addUser(team, character)" color="accent" class="large-button">
                <mat-icon class="button-icon">person_add</mat-icon>
                {{'TEAMS.Add_user' | translate}}
            </button>
        </mat-expansion-panel>

        <div *ngIf="teams.length === 0" class="no-teams">
            {{'TEAMS.No_teams' | translate}}
        </div>

        <button mat-raised-button (click)="newTeam()" color="accent" class="large-button">
            <mat-icon class="button-icon">group_add</mat-icon>
            {{'TEAMS.Create_team' | translate}}
        </button>
    </div>
</div>
<ng-template #loading>
    <div class="loader-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
