mat-expansion-panel {
    margin-bottom: 5px;
    .details-form {
        display: flex;
        flex-wrap: wrap;
    }
}
mat-form-field {
    margin-right: 20px;
}
.not-found {
    width: 100%;
    opacity: .7;
    font-size: 40px;
    text-align: center;
    height: 300px;
    padding-top: 50px;
}
