<div *ngIf="!notFound; else notFoundTemplate">
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'SIMULATOR.CUSTOM.Recipe_configuration' | translate}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="details-form">
            <mat-form-field>
                <input type="number" matInput placeholder="{{'SIMULATOR.CUSTOM.Recipe_level' | translate}}"
                       [(ngModel)]="recipe.rlvl">
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'SIMULATOR.CUSTOM.Recipe_progress' | translate}}"
                       [(ngModel)]="recipe.progress">
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'SIMULATOR.CUSTOM.Recipe_quality' | translate}}"
                       [(ngModel)]="recipe.quality">
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'SIMULATOR.CUSTOM.Recipe_durability' | translate}}"
                       [(ngModel)]="recipe.durability">
            </mat-form-field>
        </div>
    </mat-expansion-panel>

    <app-simulator [recipe]="recipe" [inputGearSet]="stats" [actions]="actions"
                   [customMode]="true" [canSave]="canSave"
                   (onsave)="save($event)" [authorId]="authorId" [rotation]="rotation"></app-simulator>

</div>
<ng-template #notFoundTemplate>
    <div class="not-found">
        {{'SIMULATOR.Rotation_not_found' | translate}}
    </div>
</ng-template>
