<ng-container *ngIf="gtData$ | async as gtData; else loader">
  <div *ngIf="xivapiNpc$ | async as xivapiNpc" [style.padding]="'0 25px' | ifMobile: '0'"
       fxLayout="column" fxLayoutGap="10px">
    <div class="top-bar" fxFlex="1 1 auto" fxLayout="row" fxLayout.lt-md="column"
         fxLayoutAlign="flex-start flex-start" fxLayoutGap="5px" fxLayoutGap.lt-md="10px">
      <div class="top-left-block" fxFlex="0 0 300px" fxFlex.lt-md="1 1 auto" fxLayout="column"
           fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div class="icon-block" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <img [src]="xivapiNpc.Icon | xivapiIcon" alt="{{xivapiNpc.ID | i18nRow:'npcs' | i18n}}"
               class="larger-img-icon">
          <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
            <h2 class="item-name">{{xivapiNpc.ID | i18nRow:'npcs' | i18n}}</h2>
            <div *ngIf="xivapiNpc.Title" class="item-kind">
              <span *ngIf="xivapiNpc.Title" [innerHTML]="xivapiNpc | xivapiL12n: 'npcTitles':'Title' | i18n | xivUIText"></span>
            </div>
            <div *ngIf="xivapiNpc.GamePatch" class="patch">
              {{xivapiNpc.GamePatch | xivapiL12n: 'patchs' | i18n}}
              <app-db-button [id]="xivapiNpc.GamePatch.ID" type="patch"></app-db-button>
            </div>
          </div>
        </div>
        <div *ngIf="links$ | async as links" class="links" fxLayout="row" fxLayoutAlign="flex-start center"
             fxLayoutGap="5px">
          <a *ngFor="let link of links" [href]="link.url" [nzTooltipTitle]="link.title" nz-tooltip target="_blank">
            <img [alt]="link.title" [src]="link.icon" class="link-icon">
          </a>
        </div>
      </div>
      <div fxFlex="1 1 auto">
      </div>
      <app-i18n-display fxFlex="0 0 300px" fxFlex.lt-md="1 1 auto" fxLayout="column" fxLayoutGap="5px"
                        [value]="xivapiNpc.ID | i18nRow:'npcs'"></app-i18n-display>
    </div>
    <app-db-comments *ngIf="settings.dbCommentsPosition === 'TOP'" [id]="xivapiNpc.ID" type="npc"></app-db-comments>

    <div>
      <nz-divider [nzText]="'DB.Details' | translate" nzOrientation="left"></nz-divider>
    </div>
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px">
      <nz-card *ngIf="(xivapiNpc.ID | i18nRow:'npcs')?.position as npcPosition" [nzTitle]="title"
               class="details-card"
               fxFlex="1 1 30%"
               nzBordered="false">
        <ng-template #title>
          <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            {{npcPosition.zoneid | i18nRow:'places' |i18n}} - X:{{npcPosition.x | number}} Y:{{npcPosition.y | number}}
          </div>
        </ng-template>
        <app-map [mapId]="npcPosition.map" [markers]="[{x: npcPosition.x, y: npcPosition.y}]"></app-map>
      </nz-card>
      <nz-card *ngIf="xivapiNpc.Quests && xivapiNpc.Quests.length > 0" [nzTitle]="title" class="details-card" fxFlex="1 1 auto"
               nzBordered="false">
        <ng-template #title>
          <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <div>
              {{'DB.NPC.Quests' | translate}}
            </div>
          </div>
        </ng-template>
        <nz-list [nzDataSource]="xivapiNpc.Quests" [nzItemLayout]="'horizontal'"
                 [nzRenderItem]="questTemplate">
          <ng-template #questTemplate let-quest>
            <nz-list-item [nzContent]="more">
              <nz-list-item-meta
                [nzAvatar]="questAvatar"
                [nzTitle]="quest.ID | i18nRow:'quests' | i18n">
                <ng-template #questAvatar>
                  <a routerLink="/db/{{translate.currentLang}}/quest/{{quest.ID}}">
                    <img [src]="quest.Icon | xivapiIcon" class="img-icon round-icon">
                  </a>
                  <a routerLink="/db/{{translate.currentLang}}/quest/{{quest.ID}}">{{quest.ID | i18nRow:'quests' | i18n}}</a>
                </ng-template>
                <ng-template #more>
                  <app-db-button [id]="quest.ID" type="quest"></app-db-button>
                </ng-template>
              </nz-list-item-meta>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-card>
      <nz-card *ngIf="leves$ | async as leves" [nzTitle]="title" class="details-card" fxFlex="1 1 auto"
               nzBordered="false">
        <ng-template #title>
          <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <div>
              {{'DB.NPC.Leves' | translate}}
            </div>
          </div>
        </ng-template>
        <nz-list [nzDataSource]="leves" [nzItemLayout]="'horizontal'"
                 [nzRenderItem]="leveTemplate">
          <ng-template #leveTemplate let-leve>
            <nz-list-item [nzContent]="more">
              <nz-list-item-meta
                [nzAvatar]="leveAvatar"
                [nzTitle]="leve | i18nRow:'leves' | i18n"
                nzDescription="{{(leve | i18nRow:'leves').job | i18n}} {{(leve | i18nRow:'leves').lvl}}">
                <ng-template #leveAvatar>
                  <a routerLink="/db/{{translate.currentLang}}/leve/{{leve}}">
                    <img class="img-icon round-icon" src="./assets/icons/leve.png">
                  </a>
                  <a routerLink="/db/{{translate.currentLang}}/leve/{{leve}}">{{leve | i18nRow:'leves' | i18n}}</a>
                </ng-template>
                <ng-template #more>
                  <app-db-button [id]="leve" type="leve"></app-db-button>
                </ng-template>
              </nz-list-item-meta>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-card>
      <nz-card *ngIf="gtData.npc.alts && gtData.npc.alts.length > 0" [nzTitle]="title" class="details-card" fxFlex="1 1 auto"
               nzBordered="false">
        <ng-template #title>
          <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <div>
              {{'DB.NPC.Other_entries' | translate}}
            </div>
          </div>
        </ng-template>
        <nz-list [nzDataSource]="gtData.npc.alts" [nzItemLayout]="'horizontal'"
                 [nzRenderItem]="npcTemplate">
          <ng-template #npcTemplate let-npc>
            <nz-list-item *ngIf="npc | i18nRow:'npcs'" [nzContent]="more">
              <nz-list-item-meta
                [nzAvatar]="npcAvatar"
                [nzDescription]="(npc | i18nRow:'npcs')?.position?.zoneid | i18nRow:'places' | i18n"
                [nzTitle]="npc | i18nRow:'npcs' | i18n">
                <ng-template #npcAvatar>
                  <a routerLink="/db/{{translate.currentLang}}/npc/{{npc}}">
                    <img class="img-icon round-icon" src="./assets/icons/npc.png">
                  </a>
                </ng-template>
                <ng-template #more>
                  <app-db-button [id]="npc" type="npc"></app-db-button>
                </ng-template>
              </nz-list-item-meta>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-card>
      <ng-container *ngIf="trades$ | async as trades">
        <nz-card *ngIf="trades?.length > 0" [nzTitle]="title" class="details-card" fxFlex="1 1 auto" nzBordered="false">
          <ng-template #title>
            <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
              <div>
                {{'DB.NPC.Trades' | translate}}
              </div>
            </div>
          </ng-template>
          <app-trades [externalTradeSources]="trades"></app-trades>
        </nz-card>
      </ng-container>

      <nz-card *ngIf="xivapiNpc.GilShop && xivapiNpc.GilShop.length > 0" [nzTitle]="title" class="details-card" fxFlex="1 1 auto"
               nzBordered="false">
        <ng-template #title>
          <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <div>
              {{'DB.NPC.Shops' | translate}}
            </div>
          </div>
        </ng-template>
        <nz-list
          *ngFor="let shop of xivapiNpc.GilShop"
          [nzDataSource]="shop.Items"
          [nzHeader]="shop.Name.length > 0 ? header : null"
          [nzRenderItem]="item">
          <ng-template #header><span [innerHTML]="shop | xivapiL12n: 'shops' | i18n"></span></ng-template>
          <ng-template #item let-item>
            <nz-list-item>
              <nz-list-item-meta [nzAvatar]="avatar" [nzDescription]="price" [nzTitle]="name">
                <ng-template #avatar>
                  <app-item-icon [icon]="item.Icon | xivapiIcon" [itemId]="item.ID" [width]="32"></app-item-icon>
                </ng-template>
                <ng-template #name><b [appItemRarity]="item.ID" [innerHTML]="item | xivapiL12n: 'items' | i18n"></b></ng-template>
                <ng-template #price>
                  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                    <img alt="Gil" class="img-icon" src="https://xivapi.com/i/065000/065002.png">
                    <div>{{item.PriceMid}}</div>
                  </div>
                </ng-template>
              </nz-list-item-meta>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-card>
    </div>

    <nz-divider [nzText]="'DB.RP_Details' | translate" nzOrientation="left"></nz-divider>
    <div fxLayout="column" fxLayoutGap="10px">
      <nz-card *ngIf="xivapiNpc.DefaultTalk && xivapiNpc.DefaultTalk.length > 0" [nzTitle]="title" class="details-card" fxFlex="1 1 100%"
               nzBordered="false">
        <ng-template #title>
          <div class="card-header" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <img alt="" class="img-icon" src="./assets/icons/journal.png">
            <div>
              {{'DB.NPC.Default_talk' | translate}}
            </div>
          </div>
        </ng-template>
        <nz-list
          *ngFor="let talk of xivapiNpc.DefaultTalk"
          [nzDataSource]="[0,1,2]"
          [nzItemLayout]="'horizontal'"
          [nzRenderItem]="talkTemplate">
          <ng-template #talkTemplate let-index>
            <nz-list-item *ngIf="talk['Text'+index]" [nzContent]="content">
              <ng-template #content>
                <p [innerHtml]="(talk | xivapiI18n: 'Text'+index) | xivUIText"></p>
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-card>
    </div>
  </div>
  <app-db-comments *ngIf="settings.dbCommentsPosition === 'BOTTOM'" [id]="xivapiNpc.ID" type="npc"></app-db-comments>
</ng-container>
<ng-template #loader>
  <app-page-loader></app-page-loader>
</ng-template>
