.search-box {
  width: 80%;
  margin: auto;
}

.results {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .ant-card {
    max-width: 475px;
    margin: 4px;
  }
  .ant-card-loading {
    width: 475px;
    @media only screen and (max-width: 600px) {
      width: 85vw;
    }
  }
}

.material-icons {
  font-size: 24px;
}
