<div *ngIf="servers$ | async as availableServers; else loading">
  <nz-alert *ngIf="localstorageUser.stats !== {} && mandatory" nzType="warning" nzShowIcon
            [nzMessage]="'COMMON.Warning' | translate" [nzDescription]="'Character_add_warning' | translate">
  </nz-alert>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="serverName">{{'Server_name' | translate}}</nz-form-label>
    <input type="text" id="serverName" nz-input [formControl]="selectedServer" [nzAutocomplete]="auto" autofocus>
    <nz-autocomplete #auto>
      <nz-auto-option *ngFor="let server of autoCompleteRows$ | async" [nzValue]="server">
        {{server}}
      </nz-auto-option>
    </nz-autocomplete>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="characterName">{{'Character_name' | translate}}
    </nz-form-label>
    <input type="text" id="characterName" nz-input [formControl]="characterName">
  </nz-form-item>
  <button nz-button nzType="primary" (click)="setKoreanCharacter()"
          *ngIf="selectedServer.value && selectedServer.value.toString().toLowerCase().indexOf('korean server') !== -1">
    {{'Add_manual_character' | translate}}
  </button>
</div>

<div *ngIf="selectedServer.value && selectedServer.value.toString().toLowerCase().indexOf('korean server') === -1">
  <div class="results">
    <nz-list [nzDataSource]="result$ | async"
             [nzItemLayout]="'horizontal'"
             [nzLoading]="loadingResults"
             [nzRenderItem]="characterTemplate">
      <ng-template #characterTemplate let-item>
        <nz-list-item [nzActions]="[selectAction]">
          <ng-template #selectAction>
            <button nz-button nzType="primary" (click)="selectCharacter(item)">{{'COMMON.Select' | translate}}</button>
          </ng-template>
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzAvatar]="item.Avatar">
            <ng-template #nzTitle>
              <span>{{item.Name}}</span>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>

  <nz-divider [nzText]="'Or' | translate"></nz-divider>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="characterName">{{'LodestoneId' | translate}}
    </nz-form-label>
    <input type="number" id="LodestoneId" nz-input [formControl]="lodestoneId">
  </nz-form-item>
  <div *ngIf="lodestoneIdCharacter$ | async as lodestoneIdCharacter">
    <nz-list-item [nzActions]="[selectAction]">
      <ng-template #selectAction>
        <button nz-button nzType="primary"
                (click)="selectCharacter(lodestoneIdCharacter)">{{'COMMON.Select' | translate}}</button>
      </ng-template>
      <nz-list-item-meta
        [nzTitle]="nzTitle"
        [nzAvatar]="lodestoneIdCharacter.Avatar">
        <ng-template #nzTitle>
          <span>{{lodestoneIdCharacter.Name}}</span>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </div>
</div>

<label nz-checkbox [(ngModel)]="useAsDefault">{{'Use_as_default_character' | translate}}</label>

<div *ngIf="mandatory">
  <nz-divider [nzText]="'Or' | translate"></nz-divider>

  <button nz-button nzBlock (click)="logOut()" nzType="danger">
    {{'Disconnect_and_anonymous' | translate}}
  </button>
</div>
<ng-template #loading>
  <nz-spin></nz-spin>
</ng-template>
