<div class="tooltip-container">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start center">
    <div class="icon">
      <img src="https://xivapi.com{{item.Icon}}" alt="{{item | xivapiI18n}}">
    </div>
    <div class="name" fxLayout="column">
      <span [appItemRarity]="item.ID">{{item | xivapiI18n}}</span>
      <span class="item-kind" *ngIf="item.ItemKind">{{item.ItemKind | xivapiI18n}} <span
        *ngIf="item.ItemSearchCategory">> {{item.ItemSearchCategory | xivapiI18n}}</span></span>
      <i class="db-tip">{{'DB.Click_to_navigate' | translate}}</i>
    </div>
  </div>
  <div class="description" *ngIf="item.Description !== undefined && item.Description.length > 0">
    <span [innerHtml]="item | xivapiI18n: 'Description' | xivUIText"></span>
  </div>
  <div nz-row class="class-jobs" *ngIf="item.ClassJobCategory !== null">
    <div nz-col [nzXs]="12">
      <p class="detail-name">
        {{'TOOLTIP.Class_job' | translate}}
      </p>
    </div>
    <div nz-col [nzXs]="12">
      <p class="detail-value">
        {{item.ClassJobCategory | xivapiI18n}}
      </p>
    </div>
  </div>
  <div class="main-attributes details">
    <div nz-row nzGutter="10" *ngFor="let row of mainAttributes">
      <div nz-col [nzXs]="12">
        <p class="detail-name" *ngIf="!row.requiresPipe">
          {{row.name | translate}}
        </p>
        <p class="detail-name" *ngIf="row.requiresPipe">
          {{row.name | xivapiI18n}}
        </p>
      </div>
      <div nz-col [nzXs]="12">
        <p class="detail-value">
          {{row.value}}
          <span class="hq-value" *ngIf="item.CanBeHq === 1 && row.valueHq && row.valueHq !== row.value">
            ({{row.valueHq}})
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="details">
    <div nz-row nzGutter="10" *ngFor="let row of stats">
      <div nz-col [nzXs]="12">
        <p class="detail-name" *ngIf="!row.requiresPipe">
          {{row.name | translate}}
        </p>
        <p class="detail-name" *ngIf="row.requiresPipe">
          {{row.name | xivapiI18n}}
        </p>
      </div>
      <div nz-col [nzXs]="12">
        <p class="detail-value">
          {{row.value}}
          <span class="hq-value" *ngIf="item.CanBeHq">
            <span *ngIf="item.ItemFood === undefined; else itemFoodHQ">({{row.valueHq}})</span>
            <ng-template #itemFoodHQ>
              {{row.valueHq}}
            </ng-template>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="xivapi">xivapi.com</div>
</div>
