<nz-collapse>
  <nz-collapse-panel [nzHeader]="panelHeader" #listContentPanel (nzActiveChange)="openStateChange()">
    <div fxLayout="column" fxLayoutGap="10px" *ngIf="listContentPanel.nzActive">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center"
           [class.odd]="odd"
           *ngFor="let item of listContent$ | async; trackBy: trackByItem; let odd = odd">
        <app-item-icon [width]="32" [itemId]="item.id" [icon]="item.icon"></app-item-icon>
        <div>{{item.id | itemName:item | i18n}}</div>
        <div class="spacer"></div>
        <nz-input-number [disabled]="(permissionLevel$ | async) < 30" class="amount-input" type="number"
                         *ngIf="(permissionLevel$ | async) > 10; else publicAmountDisplay"
                         [ngModel]="item.amount"
                         #amountModifierInput
                         (keypress.enter)="updateAmount(item, amountModifierInput.displayValue); amountModifierInput.blur()"
                         (ngModelChange)="updateAmount(item, $event)"></nz-input-number>
        <ng-template #publicAmountDisplay>x{{item.amount}}</ng-template>
        <button nz-button [nzType]="'danger'" [nzShape]="'circle'" [disabled]="(permissionLevel$ | async) < 30"
                *ngIf="(permissionLevel$ | async) > 10" (click)="updateAmount(item, 0)">
          <i nz-icon type="delete"></i>
        </button>
      </div>
    </div>
  </nz-collapse-panel>
  <ng-template #panelHeader>
    <div class="panel-header" nz-row fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="5px">
      <div nz-col nzSm="20" nzMd="4" (dblclick)="openList()" fxLayout="row" fxLayoutAlign="flex-start center"
           fxLayoutGap="5px">
        <div>
          {{_list.name}} - {{'LIST.Items_count' | translate:{ amount: _list.finalItems.length } }}
        </div>
        <div class="permission-icon" nz-tooltip
             *ngIf="(permissionLevel$ | async) === 40"
             [nzTitle]="'PERMISSIONS.List_tooltip' | translate: { level: _list.everyone | permissionLevel }">
          <div [ngSwitch]="_list.everyone">
            <i nz-icon type="eye-invisible" theme="outline" *ngSwitchCase="1"></i>
            <i nz-icon type="eye" theme="outline" *ngSwitchCase="10"></i>
            <i nz-icon type="file-done" theme="outline" *ngSwitchCase="20"></i>
          </div>
        </div>
      </div>
      <div class="author-avatar" *ngIf="!hideAvatar && _list.authorId !== undefined">
        <app-user-avatar [userId]="_list.authorId" [width]="24"></app-user-avatar>
      </div>
      <div nz-col nzSm="24" nzMd="15" class="panel-middle-content">
        <div class="tags">
          <nz-tag *ngIf="_list.ephemeral" [nzColor]="'volcano'" nz-tooltip [nzTitle]="'Ephemeral_list' | translate">
            {{'Ephemeral_tag' | translate}}
          </nz-tag>
          <nz-tag *ngIf="_list.public && !publicDisplay" [nzColor]="'geekblue'" nz-tooltip
                  [nzTitle]="'LIST_DETAILS.Public_list_description' | translate">
            {{'Public_list' | translate}}
          </nz-tag>
          <nz-tag *ngIf="_list.isOutDated()" [nzColor]="'magenta'">{{'LIST_TAGS.OUTDATED' | translate}}</nz-tag>
          <nz-tag *ngFor="let tag of getTags()">{{('LIST_TAGS.' + tag) | uppercase | translate}}</nz-tag>
        </div>
        <div class="description">
          {{_list.note}}
        </div>
      </div>
      <div nz-col nzSm="24" nzMd="4" fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="flex-end center">
        <button nz-button (click)="$event.stopPropagation()" [nzShape]="'circle'" [nzType]="'primary'" nz-tooltip
                [nzTitle]="'LIST.BUTTONS.Share_description' | translate"
                *ngIf="(permissionLevel$ | async) > 10"
                ngxClipboard [cbContent]="getLink()" (cbOnSuccess)="afterLinkCopy()">
          <i nz-icon type="share-alt"></i>
        </button>
        <nz-badge *ngIf="_list.public; else copyNoCount"
                  [nzCount]="_list.forks" [nzShowZero]="true"
                  [nzOverflowCount]="999" class="fork-count">
          <button nz-button (click)="$event.stopPropagation()" [nzShape]="'circle'" [nzType]="'primary'" nz-tooltip
                  [nzTitle]="'List_fork' | translate" (click)="cloneList(_list)">
            <i nz-icon type="copy" theme="outline"></i>
          </button>
        </nz-badge>
        <ng-template #copyNoCount>
          <button nz-button (click)="$event.stopPropagation()" [nzShape]="'circle'" [nzType]="'primary'" nz-tooltip
                  [nzTitle]="'List_fork' | translate" (click)="cloneList(_list)">
            <i nz-icon type="copy" theme="outline"></i>
          </button>
        </ng-template>
        <a (click)="$event.stopPropagation()" nz-tooltip [nzTitle]="'LIST.BUTTONS.Open' | translate" nz-button
           *ngIf="(permissionLevel$ | async) > 10"
           [nzShape]="'circle'"
           [nzType]="'primary'"
           routerLink="/list/{{_list.$key}}">
          <i nz-icon type="folder-open"></i>
        </a>
        <button (click)="$event.stopPropagation()" nz-button [nzShape]="'circle'" [nzType]="'danger'" nz-popconfirm
                [disabled]="(permissionLevel$ | async) < 40"
                *ngIf="(permissionLevel$ | async) > 10"
                [nzTitle]="'LIST.BUTTONS.Delete_warning' | translate" (nzOnConfirm)="deleteList(_list)">
          <i nz-icon type="delete"></i></button>
        <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
          <button nz-dropdown (click)="$event.stopPropagation()" nz-button [nzShape]="'circle'">
            <i nz-icon type="ellipsis"></i>
          </button>
          <ul nz-menu>
            <li nz-menu-item [nzDisabled]="(permissionLevel$ | async) < 40" (click)="renameList(_list)"
                *ngIf="!publicDisplay">
              {{'LIST.Rename' | translate}}
            </li>
            <li nz-menu-item *ngIf="authFacade.userId$ | async as userId"
                (click)="openCommentsPopup(_list, userId === _list.authorId)">
              {{'COMMENTS.Title' | translate}}
            </li>
            <li nz-menu-item [nzDisabled]="(permissionLevel$ | async) < 40" (click)="openTagsPopup(_list)"
                *ngIf="!publicDisplay">
              {{'LIST_DETAILS.Tags_popup' | translate}}
            </li>
            <li nz-menu-item [nzDisabled]="(permissionLevel$ | async) < 40" (click)="openPermissionsPopup(_list)"
                *ngIf="!publicDisplay">
              {{'PERMISSIONS.Title' | translate}}
            </li>
            <li nz-menu-item [nzDisabled]="(permissionLevel$ | async) < 40" (click)="removeEphemeral(_list)"
                *ngIf="!publicDisplay && _list.ephemeral">
              {{'Remove_ephemeral' | translate}}
            </li>
            <ng-container *ngIf="!publicDisplay">
              <ng-container *ngIf="teams$ | async as teams">
                <li nz-submenu *ngIf="_list.teamId === undefined">
                  <span title>{{'TEAMS.Assign_list' | translate}}</span>
                  <ul>
                    <li *ngFor="let team of teams" nz-menu-item (click)="assignTeam(_list, team)">{{team.name}}</li>
                  </ul>
                </li>
                <li nz-menu-item [nzDisabled]="(permissionLevel$ | async) < 30" (click)="removeTeam(_list, teams)"
                    *ngIf="!publicDisplay && _list.teamId">
                  {{'TEAMS.Detach_team' | translate}}
                </li>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="(permissionLevel$ | async) >= 40">
              <ng-container *ngIf="user$ | async as user">
                <ng-container *ngIf="!publicDisplay && (user.patron || user.admin)">
                  <li nz-menu-item [nzDisabled]="!user.nickname"
                      (click)="createTemplate(_list, user)"
                      *ngIf="(listTemplate$ | async) === undefined; else copyTemplate">
                    {{'LIST_TEMPLATE.Create_template' | translate}}
                  </li>
                  <ng-template #copyTemplate>
                    <li nz-menu-item *ngIf="listTemplate$ | async as link" ngxClipboard [cbContent]="link.getUrl()"
                        (cbOnSuccess)="afterTemplateUrlCopy()">
                      {{'LIST_TEMPLATE.Copy_template_url' | translate}}
                    </li>
                  </ng-template>
                  <li nz-menu-item [nzDisabled]="!user.nickname"
                      (click)="createCustomLink(_list, user)"
                      *ngIf="(customLink$ | async) === undefined; else copyLink">
                    {{'CUSTOM_LINKS.Add_link' | translate}}
                  </li>
                  <ng-template #copyLink>
                    <li nz-menu-item *ngIf="customLink$ | async as link" ngxClipboard [cbContent]="link.getUrl()"
                        (cbOnSuccess)="afterCustomLinkCopy()">
                      {{'CUSTOM_LINKS.Copy_custom_link' | translate}}
                    </li>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ng-container>
          </ul>
        </nz-dropdown>
      </div>
    </div>
  </ng-template>
</nz-collapse>
