<div fxLayout="row" class="planning-container">
  <div *ngFor="let day of planning; index as i;first as first, last as last" fxLayout="column" fxFlex="1 0 14%">
    <div class="day-title" [class.first]="first" [class.last]="last">{{days[i]}}</div>
    <div class="cell" [class.first-day]="first" *ngIf="day.rest" [style.height.px]="baseCellHeight * 24">
      <span nz-icon nzType="coffee" nzTheme="outline"></span>&nbsp;{{'ISLAND_SANCTUARY.WORKSHOP.Rest' | translate}}
    </div>
    <div class="cell" [class.first-day]="first" *ngIf="day.unknown" [style.height.px]="baseCellHeight * 24">UNKNOWN</div>
    <div class="cell" [class.first-day]="first" *ngFor="let object of day.planning" [style.height.px]="baseCellHeight * object.craftworksEntry.craftingTime"
         fxLayout="column">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
        <app-item-icon [itemId]="object.itemId" [width]="24"></app-item-icon>
        <app-i18n-name content="items" [id]="object.itemId"></app-i18n-name>
      </div>
      <span *ngIf="object.alternative">
      <nz-divider [nzText]="'Or' | translate"></nz-divider>
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
        <app-item-icon [itemId]="object.alternative.itemId" [width]="24"></app-item-icon>
        <app-i18n-name content="items" [id]="object.alternative.itemId"></app-i18n-name>
      </div>
      </span>
    </div>
  </div>
</div>
<div class="footer">
  {{'COMMON.Total' | translate}}: <app-item-icon [itemId]="37549" width="24"></app-item-icon> {{totalScore | number:'1.0-0':translate.currentLang}}
</div>
