:host {
    .loader-container {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 200px;
    }
    .portrait {
        height: 410px;
        width: 300px;
        margin-right: 20px;
        &.mobile {
            width: 100px;
        }
    }

    .character-name {
        display: flex;
        align-items: center;
    }

    .patreon-badge {
        height: 40px;
    }

    .card-body {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .lists {
        width: 100%;
        overflow: auto;
    }
}
