<mat-card *ngIf="ingameCharacter | async as character; else loader">
    <mat-card-header>
        <mat-card-title>
            <span class="character-name">
                {{character.name}}
                <mat-icon *ngIf="character.user.verified">verified_user</mat-icon>
                <span *ngIf="freeCompany | async as fc">«{{fc.name}}»</span> - {{character.server}}
            </span>
        </mat-card-title>
        <mat-card-subtitle>{{character.title}}</mat-card-subtitle>
        <div class="spacer"></div>
        <img src="https://c5.patreon.com/external/logo/downloads_wordmark_white_on_coral.png"
             alt="patreon supporter" matTooltip="{{'PROFILE.Patreon_supporter' | translate}}"
             class="patreon-badge" matTooltipPosition="above" *ngIf="character.patron">
    </mat-card-header>
    <div class="card-body">
        <div fxShow fxHide.lt-md><img src="{{character.portrait}}" alt="portrait" class="portrait"></div>
        <div *ngIf="publicLists | async as lists" class="lists">
            <mat-list>
                <h3>{{'Public_lists' | translate}}</h3>
                <app-list-panel *ngFor="let list of lists; let i = index" [list]="list" [odd]="i%2>0"
                                [buttons]="false" [readonly]="true" [copyButton]="true"></app-list-panel>
            </mat-list>
        </div>
    </div>
</mat-card>
<ng-template #loader>
    <div class="loader-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
