<span [class.overlay]="overlay" *ngIf="displayRow">
  <ng-container *ngIf="alarmGroups$ | async as alarmGroups">
  <nz-collapse *ngIf="permissionLevel$ | async as permissionLevel">
    <ng-template #display>
      <ng-container *ngIf="hasAlreadyBeenOpened || !collapsed">
        <div *ngIf="!displayRow.tiers && ! displayRow.zoneBreakdown && !displayRow.reverseTiers">
          <app-item-row *ngFor="let item of displayRow.rows; trackBy: trackByItem; let odd = odd"
                        [permissionLevel]="overlay ? 10 : permissionLevel"
                        [overlay]="overlay"
                        [finalItem]="finalItems"
                        [alarmGroups]="alarmGroups"
                        [item]="item"
                        [layout]="displayRow.layout"
                        [odd]="odd"></app-item-row>
        </div>
        <div *ngIf="displayRow.tiers || displayRow.reverseTiers">
          <div *ngFor="let tier of tiers; trackBy: trackByTier; let index = index">
            <ng-template #tierTitle>
              {{'Precraft_tier' | translate}} <span
              *ngIf="!displayRow.reverseTiers">{{index + 1}}</span> <span
              *ngIf="displayRow.reverseTiers">{{tiers.length - index}}</span>
            </ng-template>
            <nz-divider [nzText]="tierTitle" nzOrientation="left"></nz-divider>
            <app-item-row *ngFor="let item of tier; trackBy: trackByItem; let odd = odd"
                          [permissionLevel]="overlay ? 10 : permissionLevel"
                          [overlay]="overlay"
                          [finalItem]="finalItems"
                          [alarmGroups]="alarmGroups"
                          [item]="item"
                          [layout]="displayRow.layout"
                          [odd]="odd"></app-item-row>
          </div>
        </div>
        <div *ngIf="displayRow.zoneBreakdown">
          <div *ngFor="let row of zoneBreakdown?.rows; trackBy: trackByZone">
            <div *ngIf="row.items.length > 0">
              <ng-template #zoneTitle>
                <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                  <span class="zone-title">{{getLocation(row.zoneId) | i18n}}
                    <i *ngIf="(currentZoneId$ | async) === row.zoneId" nz-icon nzType="environment-o"
                       nz-tooltip [nzTitle]="'NAVIGATION.You_are_here' | translate"></i>
                  </span>
                  <button (click)="openNavigationMap(row)" *ngIf="hasNavigationMap && !overlay"
                          [nzTitle]="'NAVIGATION.Title' | translate" nz-button
                          nz-tooltip
                          nzShape="circle" nzSize="small">
                    <i nz-icon nzType="gateway"></i>
                  </button>
                </div>
              </ng-template>
              <nz-divider [nzText]="zoneTitle" nzOrientation="left"></nz-divider>
              <app-item-row *ngFor="let item of row.items; trackBy: trackByItem; let odd = odd"
                            [permissionLevel]="overlay ? 10 : permissionLevel"
                            [overlay]="overlay"
                            [finalItem]="finalItems"
                            [alarmGroups]="alarmGroups"
                            [item]="item"
                            [layout]="displayRow.layout"
                            [odd]="odd"></app-item-row>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <nz-collapse-panel (nzActiveChange)="activeChange($event)"
                       *ngIf="!overlay"
                       [class.panel-done]="!overlay && displayRow.collapsed && (displayRow.layoutRow && displayRow.layoutRow.collapseIfDone)"
                       [nzActive]="!(displayRow.collapsed || collapsed)"
                       [nzHeader]="panelHeader">
      <ng-container *ngTemplateOutlet="display"></ng-container>
      <button (click)="addItems()" *ngIf="!overlay && finalItems && permissionLevel >= 30" nz-button nzBlock>
        + {{'LIST_DETAILS.Add_item' | translate}}
      </button>
    </nz-collapse-panel>
    <ng-container *ngIf="overlay">
      <ng-container *ngTemplateOutlet="display"></ng-container>
    </ng-container>
    <ng-template #panelHeader>
      <div class="panel-header" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <div>{{displayRow.title | translate}}</div>
          &nbsp;({{displayRow.rows.length}} {{'items' | translate}})
          <i *ngIf="displayRow.collapsed && (displayRow.layoutRow && displayRow.layoutRow.collapseIfDone)" nz-icon
             nzType="check"></i>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <button (nzOnConfirm)="resetPanel()" *ngIf="displayRow.zoneBreakdown"
                  (click)="$event.stopPropagation()"
                  [nzTooltipTitle]="'LIST.Reset_panel' | translate"
                  nz-popconfirm
                  [nzPopconfirmTitle]="'Confirmation' | translate"
                  nz-button nz-tooltip nzShape="circle"
                  nzSize="small">
            <i nz-icon nzType="reload"></i>
          </button>
          <button (click)="$event.stopPropagation();openFullPathPopup(zoneBreakdown)" *ngIf="displayRow.zoneBreakdown"
                  [nzTitle]="'LIST.Optimized_full_path' | translate" nz-button nz-tooltip nzShape="circle"
                  nzSize="small">
            <i iconfont="icon-map" nz-icon></i>
          </button>
          <button (click)="$event.stopPropagation();openTotalPricePopup()" *ngIf="hasTrades"
                  [nzTitle]="'LIST.Total_price' | translate" nz-button nz-tooltip nzShape="circle"
                  nzSize="small">
            <i class="material-icons">local_atm</i>
          </button>
          <button (cbOnSuccess)="textCopied()" (click)="$event.stopPropagation()" [cbContent]="getTextExport()"
                  [nzTitle]="'LIST.Copy_as_text' | translate"
                  ngxClipboard
                  nz-button nz-tooltip nzShape="circle" nzSize="small">
            <i nz-icon nzType="copy"></i>
          </button>
          <span [nzTitle]="'LIST.Mark_whole_panel_done' | translate" nz-tooltip>
          <button (click)="$event.stopPropagation()" (nzOnConfirm)="markPanelAsDone()"
                  [nzTitle]="'Confirmation' | translate"
                  nz-button
                  nz-popconfirm
                  nzShape="circle" nzSize="small">
            <i nz-icon nzType="check"></i>
          </button>
        </span>
        </div>
      </div>
    </ng-template>
  </nz-collapse>
</ng-container>
</span>
