@if (displayRow) {
  <span [class.overlay]="overlay">
    @if (alarmGroups$ | async; as alarmGroups) {
      @if (permissionLevel$ | async; as permissionLevel) {
        <nz-collapse>
          <ng-template #itemsListDisplay let-items let-displayedItems="displayedItems">
            @if (canSkip$ | async; as skip) {
              @if (!compact) {
                <app-lazy-scroll [data]="items" [noScroll]="!!aggregate || overlay || noScroll" [displayedRows]="displayedItems" rowSize="36"
                                 [rowTemplate]="itemRow"
                                 [trackBy]="trackByItem">
                  <ng-template #itemRow let-item let-odd="odd">
                    @if (!aggregate) {
                      <app-item-row [permissionLevel]="overlay ? 10 : permissionLevel"
                                    [overlay]="overlay"
                                    [finalItem]="finalItems"
                                    [alarmGroups]="alarmGroups"
                                    [skip]="skip && (skip[item.id] > 0) ? skip[item.id] : 0"
                                    [item]="item"
                                    [layout]="displayRow.layout"
                                    [odd]="odd"></app-item-row>
                    }
                    @if (aggregate) {
                      <app-aggregate-item-row
                        [finalItem]="finalItems"
                        [alarmGroups]="alarmGroups"
                        [skip]="skip && (skip[item.id] > 0) ? skip[item.id] : 0"
                        [permissionLevel]="30"
                        [item]="item"
                        [aggregate]="aggregate"
                        [layout]="displayRow.layout"
                        [odd]="odd"></app-aggregate-item-row>
                    }
                  </ng-template>
                </app-lazy-scroll>
              }
              @if (compact) {
                <div nz-row [nzGutter]="[10,10]">
                  @for (item of items; track item.id) {
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="6" [nzXXl]="4">
                      <app-compact-item-row
                        [item]="item"
                        [finalItem]="finalItems"
                        [skip]="skip && (skip[item.id] > 0) ? skip[item.id] : 0"
                        [aggregate]="aggregate" [permissionLevel]="permissionLevel"
                        [alarmGroups]="alarmGroups"
                        [layoutRow]="displayRow.layoutRow"
                      ></app-compact-item-row>
                    </div>
                  }
                </div>
              }
            }
          </ng-template>
          <ng-template #display>
            @if (aggregate || hasAlreadyBeenOpened || !collapsed || overlay) {
              <ng-template #tiersTpl>
                @if (tiers$ | async; as tiers) {
                  @for (tier of tiers; track index; let index = $index) {
                    <div>
                      <ng-template #tierTitle>
                        {{ 'Precraft_tier' | translate }} @if (!displayRow.reverseTiers) {
                        <span
                        >{{ index + 1 }}</span>
                      }
                        @if (displayRow.reverseTiers) {
                          <span
                          >{{ tiers.length - index }}</span>
                        }
                    </ng-template>
                    <nz-divider [nzText]="tierTitle" nzOrientation="left"></nz-divider>
                    <ng-container *ngTemplateOutlet="itemsListDisplay;context:{$implicit: tier, displayedItems: 8}"></ng-container>
                  </div>
                  }
                } @else {
                  <nz-spin [nzSpinning]="true"></nz-spin>
                }
            </ng-template>
              <div>
              @switch (displayMode) {
                @case (LayoutRowDisplayMode.TIERS) {
                  <ng-container *ngTemplateOutlet="tiersTpl"></ng-container>
                }
                @case (LayoutRowDisplayMode.REVERSE_TIERS) {
                  <ng-container *ngTemplateOutlet="tiersTpl"></ng-container>
                }
                @case (LayoutRowDisplayMode.ZONE_BREAKDOWN) {
                  @for (row of zoneBreakdown?.rows; track row.zoneId) {
                    @if (row.items.length > 0) {
                      <nz-divider [nzText]="zoneTitle" nzOrientation="left"></nz-divider>
                      <ng-template #zoneTitle>
                              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                                <span class="zone-title">{{ getLocation(row.mapId) | i18n }}
                                  @if ((currentZoneId$ | async) === row.zoneId) {
                                    <i nz-icon nzType="environment-o"
                                       nz-tooltip [nzTooltipTitle]="'NAVIGATION.You_are_here' | translate"></i>
                                  }
                                </span>
                                @if (hasNavigationMapForZone[row.zoneId] && !overlay) {
                                  <button (click)="openZoneBreakdownRowNavigationMap(row)"
                                          [nzTooltipTitle]="'NAVIGATION.Title' | translate" nz-button
                                          nz-tooltip
                                          nzShape="circle" nzSize="small">
                                    <i nz-icon nzType="gateway"></i>
                                  </button>
                                }
                              </div>
                            </ng-template>
                      <ng-container *ngTemplateOutlet="itemsListDisplay;context:{$implicit: row.items, displayedItems: 8}"></ng-container>
                    }
                  }
                }
                @case (LayoutRowDisplayMode.NPC_BREAKDOWN) {
                  @if ((npcBreakdown$ | async); as npcBreakdown) {
                    @for (row of npcBreakdown?.rows$ | async; track row.npcId) {
                      @if (row.items.length > 0) {
                        <div>
                              <ng-template #npcTitle>
                                <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                                  <span class="zone-title">{{ getNpc(row.npcId) | i18n }}</span>@if (row.position) {
                                  <div fxLayout="row">,&nbsp;
                                    <app-map-position [hideCoords]="true" [mapId]="row.position?.map" [showZoneName]="true" flex="row"
                                                      [zoneId]="row.position?.zoneid"
                                                      [marker]="row.position"></app-map-position></div>
                                }
                                </div>
                              </ng-template>
                              <nz-divider [nzText]="npcTitle" nzOrientation="left"></nz-divider>
                              <ng-container *ngTemplateOutlet="itemsListDisplay;context:{$implicit: row.items, displayedItems: 8}"></ng-container>
                            </div>
                      }
                    }
                  }
                }
                @default {
                  <ng-container *ngTemplateOutlet="itemsListDisplay;context:{$implicit: displayRow.rows, displayedItems: 12}"></ng-container>
                }
              }
            </div>
            }
        </ng-template>
          @if (!overlay) {
            <nz-collapse-panel (nzActiveChange)="activeChange($event)"
                               [class.panel-done]="!overlay && displayRow.collapsed && (displayRow.layoutRow && displayRow.layoutRow.collapseIfDone)"
                               [nzActive]="!(displayRow.collapsed || collapsed) || !!aggregate"
                               [nzHeader]="panelHeader">
            <ng-container *ngTemplateOutlet="display"></ng-container>
              @if (!aggregate && !overlay && finalItems && permissionLevel >= 30) {
                <button (click)="addItems()" nz-button nzBlock>
                + {{ 'LIST_DETAILS.Add_item' | translate }}
              </button>
              }
          </nz-collapse-panel>
          }
          @if (overlay) {
            <ng-container *ngTemplateOutlet="display"></ng-container>
          }
          <ng-template #panelHeader>
          <div class="panel-header" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
              <div>{{ displayRow.title | translate }}</div>
              &nbsp;({{ displayRow.rows.length }} {{ 'items' | translate }}@if (displayRow.rows.length !== displayRow.crafts) {
              <span
              >, {{ displayRow.crafts }} {{ 'LIST.Crafts' | translate }}</span>
            })&nbsp;
              @if (displayRow.collapsed && (displayRow.layoutRow && displayRow.layoutRow.collapseIfDone)) {
                <i nz-icon
                   nzType="check"></i>
              }
            </div>
            @if (progression$ | async; as progression) {
              <nz-progress nz-tooltip
                           fxFlex="1 1 auto"
                           nzTooltipTitle="{{progression.progress | number:'1.0-1':translate.currentLang}}%"
                           [nzStrokeColor]="settings.theme.primary"
                           [nzPercent]="progression.progress"
                           [nzShowInfo]="false"></nz-progress>
            }
            <div fxLayout="row" fxLayoutGap="10px">
              <div>
                <button (nzOnConfirm)="resetPanel()"
                        (click)="$event.stopPropagation()"
                        [nzTooltipTitle]="'LIST.Reset_panel' | translate"
                        nz-popconfirm
                        [nzPopconfirmTitle]="'Confirmation' | translate"
                        nz-button nz-tooltip nzShape="circle"
                        nzSize="small">
                  <i nz-icon nzType="reload"></i>
                </button>
              </div>
              @if (hasNavigationMap && displayRow.zoneBreakdown) {
                <div>
                  <button (click)="$event.stopPropagation();openFullPathPopup(zoneBreakdown)"
                          [nzTooltipTitle]="'LIST.Optimized_full_path' | translate" nz-button nz-tooltip nzShape="circle"
                          nzSize="small">
                    <i nzIconfont="icon-map" nz-icon></i>
                  </button>
                </div>
              }
              @if (hasTrades) {
                <div>
                  <button (click)="$event.stopPropagation();openTotalPricePopup()"
                          [nzTooltipTitle]="'LIST.Total_price' | translate" nz-button nz-tooltip nzShape="circle"
                          nzSize="small">
                    <i class="material-icons">local_atm</i>
                  </button>
                </div>
              }
              <div>
                <button (click)="$event.stopPropagation()"
                        [clipboard]="getTextExport"
                        [clipboardFnArgs]="tiers$ | async"
                        [clipboardSuccessMessage]="'LIST.Copied_as_text' | translate"
                        [nzTooltipTitle]="'LIST.Copy_as_text' | translate"
                        nz-button nz-tooltip nzShape="circle" nzSize="small">
                  <i nz-icon nzType="copy"></i>
                </button>
              </div>
              @if (!aggregate && permissionLevel >= 20) {
                <div [nzTooltipTitle]="'LIST.Mark_whole_panel_done' | translate" nz-tooltip>
                  <button (click)="$event.stopPropagation()" (nzOnConfirm)="markPanelAsDone()"
                          [nzPopconfirmTitle]="'Confirmation' | translate"
                          nz-button
                          nz-popconfirm
                          nzShape="circle" nzSize="small">
                    <i nz-icon nzType="check"></i>
                  </button>
                </div>
              }
              @if (!aggregate && !displayRow.allHQ && permissionLevel >= 20) {
                <div [nzTooltipTitle]="'LIST.Mark_whole_panel_hq' | translate"
                     nz-tooltip>
                  <button (click)="$event.stopPropagation()" (nzOnConfirm)="markPanelAsHQ(true)"
                          [nzPopconfirmTitle]="'Confirmation' | translate"
                          nz-button
                          nz-popconfirm
                          nzShape="circle" nzSize="small">
                    <img src="./assets/icons/HQ.png" alt="" class="hq-flag">
                  </button>
                </div>
              }
            </div>
          </div>
        </ng-template>
      </nz-collapse>
      }
    }
</span>
}

