<span [class.overlay]="overlay" *ngIf="displayRow">
  <ng-container *ngIf="alarmGroups$ | async as alarmGroups">
  <nz-collapse *ngIf="permissionLevel$ | async as permissionLevel">
    <ng-template #itemsListDisplay let-items let-displayedItems="displayedItems" let-skip="skip">
    <app-lazy-scroll [data]="items" [noScroll]="overlay || noScroll" [displayedRows]="displayedItems" rowSize="36" [rowTemplate]="itemRow"
                     [trackBy]="trackByItem">
      <ng-template #itemRow let-item let-odd="odd">
        <app-item-row [permissionLevel]="overlay ? 10 : permissionLevel"
                      [overlay]="overlay"
                      [finalItem]="finalItems"
                      [alarmGroups]="alarmGroups"
                      [skip]="skip && skip[item.id]"
                      [item]="item"
                      [layout]="displayRow.layout"
                      [odd]="odd"></app-item-row>
      </ng-template>
    </app-lazy-scroll>
    </ng-template>
    <ng-template #display>
      <ng-container *ngIf="hasAlreadyBeenOpened || !collapsed || overlay">
        <ng-template #tiersTpl>
            <div *ngFor="let tier of tiers; trackBy: trackByTier; let index = index">
              <ng-template #tierTitle>
                {{'Precraft_tier' | translate}} <span
                *ngIf="!displayRow.reverseTiers">{{index + 1}}</span> <span
                *ngIf="displayRow.reverseTiers">{{tiers.length - index}}</span>
              </ng-template>
              <nz-divider [nzText]="tierTitle" nzOrientation="left"></nz-divider>
              <ng-container *ngTemplateOutlet="itemsListDisplay;context:{$implicit: tier, displayedItems: 8}"></ng-container>
            </div>
        </ng-template>
        <div [ngSwitch]="displayMode">
          <div *ngSwitchCase="LayoutRowDisplayMode.TIERS">
              <ng-container *ngTemplateOutlet="tiersTpl"></ng-container>
          </div>
          <div *ngSwitchCase="LayoutRowDisplayMode.REVERSE_TIERS">
              <ng-container *ngTemplateOutlet="tiersTpl"></ng-container>
          </div>
          <div *ngSwitchCase="LayoutRowDisplayMode.ZONE_BREAKDOWN">
            <div *ngFor="let row of zoneBreakdown?.rows; trackBy: trackByZone">
              <div *ngIf="row.items.length > 0">
                <ng-template #zoneTitle>
                  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                    <span class="zone-title">{{getLocation(row.mapId) | i18n}}
                      <i *ngIf="(currentZoneId$ | async) === row.zoneId" nz-icon nzType="environment-o"
                         nz-tooltip [nzTooltipTitle]="'NAVIGATION.You_are_here' | translate"></i>
                    </span>
                    <button (click)="openZoneBreakdownRowNavigationMap(row)" *ngIf="hasNavigationMapForZone[row.zoneId] && !overlay"
                            [nzTooltipTitle]="'NAVIGATION.Title' | translate" nz-button
                            nz-tooltip
                            nzShape="circle" nzSize="small">
                      <i nz-icon nzType="gateway"></i>
                    </button>
                  </div>
                </ng-template>
                <nz-divider [nzText]="zoneTitle" nzOrientation="left"></nz-divider>
                <ng-container *ngTemplateOutlet="itemsListDisplay;context:{$implicit: row.items, displayedItems: 8}"></ng-container>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="LayoutRowDisplayMode.NPC_BREAKDOWN">
            <div *ngFor="let row of npcBreakdown?.rows; trackBy: trackByNpc">
              <div *ngIf="row.items.length > 0">
                <ng-template #npcTitle>
                  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                    <span class="zone-title">{{getNpc(row.npcId) | i18n}}</span><div *ngIf="row.position" fxLayout="row">,&nbsp;
                    <app-map-position [hideCoords]="true" [mapId]="row.position?.map" [showZoneName]="true" flex="row" [zoneId]="row.position?.zoneid"
                                      [marker]="row.position"></app-map-position></div>
                  </div>
                </ng-template>
                <nz-divider [nzText]="npcTitle" nzOrientation="left"></nz-divider>
                <ng-container *ngTemplateOutlet="itemsListDisplay;context:{$implicit: row.items, skip: npcBreakdown.canSkip, displayedItems: 8}"></ng-container>
              </div>
            </div>
          </div>
          <div *ngSwitchDefault>
              <ng-container *ngTemplateOutlet="itemsListDisplay;context:{$implicit: displayRow.rows, displayedItems: 12}"></ng-container>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <nz-collapse-panel (nzActiveChange)="activeChange($event)"
                       *ngIf="!overlay"
                       [class.panel-done]="!overlay && displayRow.collapsed && (displayRow.layoutRow && displayRow.layoutRow.collapseIfDone)"
                       [nzActive]="!(displayRow.collapsed || collapsed)"
                       [nzHeader]="panelHeader">
      <ng-container *ngTemplateOutlet="display"></ng-container>
      <button (click)="addItems()" *ngIf="!overlay && finalItems && permissionLevel >= 30" nz-button nzBlock>
        + {{'LIST_DETAILS.Add_item' | translate}}
      </button>
    </nz-collapse-panel>
    <ng-container *ngIf="overlay">
      <ng-container *ngTemplateOutlet="display"></ng-container>
    </ng-container>
    <ng-template #panelHeader>
      <div class="panel-header" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <div>{{displayRow.title | translate}}</div>
          &nbsp;({{displayRow.rows.length}} {{'items' | translate}})
          <i *ngIf="displayRow.collapsed && (displayRow.layoutRow && displayRow.layoutRow.collapseIfDone)" nz-icon
             nzType="check"></i>
        </div>
        <nz-progress nz-tooltip
                     fxFlex="1 1 auto"
                     nzTooltipTitle="{{progression | number:'1.0-1':translate.currentLang}}%"
                     [nzStrokeColor]="settings.theme.primary"
                     [nzPercent]="progression"
                     [nzShowInfo]="false"></nz-progress>
        <div fxLayout="row" fxLayoutGap="10px">
          <button (nzOnConfirm)="resetPanel()"
                  (click)="$event.stopPropagation()"
                  [nzTooltipTitle]="'LIST.Reset_panel' | translate"
                  nz-popconfirm
                  [nzPopconfirmTitle]="'Confirmation' | translate"
                  nz-button nz-tooltip nzShape="circle"
                  nzSize="small">
            <i nz-icon nzType="reload"></i>
          </button>
          <button (click)="$event.stopPropagation();openFullPathPopup(zoneBreakdown)" *ngIf="hasNavigationMap && displayRow.zoneBreakdown"
                  [nzTooltipTitle]="'LIST.Optimized_full_path' | translate" nz-button nz-tooltip nzShape="circle"
                  nzSize="small">
            <i nzIconfont="icon-map" nz-icon></i>
          </button>
          <button (click)="$event.stopPropagation();openTotalPricePopup()" *ngIf="hasTrades"
                  [nzTooltipTitle]="'LIST.Total_price' | translate" nz-button nz-tooltip nzShape="circle"
                  nzSize="small">
            <i class="material-icons">local_atm</i>
          </button>
          <button (click)="$event.stopPropagation()"
                  [clipboard]="getTextExport"
                  [clipboardSuccessMessage]="'LIST.Copied_as_text' | translate"
                  [nzTooltipTitle]="'LIST.Copy_as_text' | translate"
                  nz-button nz-tooltip nzShape="circle" nzSize="small">
            <i nz-icon nzType="copy"></i>
          </button>
          <span [nzTooltipTitle]="'LIST.Mark_whole_panel_done' | translate" *ngIf="permissionLevel >= 20" nz-tooltip>
            <button (click)="$event.stopPropagation()" (nzOnConfirm)="markPanelAsDone()"
                    [nzPopconfirmTitle]="'Confirmation' | translate"
                    nz-button
                    nz-popconfirm
                    nzShape="circle" nzSize="small">
              <i nz-icon nzType="check"></i>
            </button>
          </span>
          <span [nzTooltipTitle]="'LIST.Mark_whole_panel_hq' | translate"
                *ngIf="!displayRow.allHQ &&  permissionLevel >= 20" nz-tooltip>
            <button (click)="$event.stopPropagation()" (nzOnConfirm)="markPanelAsHQ(true)"
                    [nzPopconfirmTitle]="'Confirmation' | translate"
                    nz-button
                    nz-popconfirm
                    nzShape="circle" nzSize="small">
              <img src="./assets/icons/HQ.png" alt="" class="hq-flag">
            </button>
          </span>
        </div>
      </div>
    </ng-template>
  </nz-collapse>
</ng-container>
</span>
