<div *ngIf="set$ | async as set" fxLayout="column">
  <div class="form-row" nz-row>
    <div [nzXs]="8" nz-col>{{'Level' | translate}}</div>
    <nz-input-number [(ngModel)]="set.level" [nzXs]="16" nz-col></nz-input-number>
  </div>
  <div *ngIf="jobId <= 15" class="form-row" nz-row>
    <div [nzXs]="8" nz-col>{{'SIMULATOR.CONFIGURATION.STATS.CP' | translate}}</div>
    <nz-input-number [(ngModel)]="set.cp" [nzXs]="16" nz-col></nz-input-number>
  </div>
  <div *ngIf="jobId <= 15" class="form-row" nz-row>
    <div [nzXs]="8" nz-col>{{'SIMULATOR.CONFIGURATION.STATS.Craftsmanship' | translate}}</div>
    <nz-input-number [(ngModel)]="set.craftsmanship" [nzXs]="16" nz-col></nz-input-number>
  </div>
  <div *ngIf="jobId <= 15" class="form-row" nz-row>
    <div [nzXs]="8" nz-col>{{'SIMULATOR.CONFIGURATION.STATS.Control' | translate}}</div>
    <nz-input-number [(ngModel)]="set.control" [nzXs]="16" nz-col></nz-input-number>
  </div>
  <label [(ngModel)]="set.specialist" *ngIf="jobId <= 15" (ngModelChange)="applySpecChange(set, $event)"
         class="spec-checkbox" nz-checkbox>{{'SIMULATOR.CONFIGURATION.Specialist' | translate}}</label>
  <div fxLayout="row" fxLayoutGap="5px">
    <div>
      <button (click)="save(set)" nz-button nzType="primary">{{'Save' | translate}}</button>
    </div>
    <div>
      <button (click)="saveForAll(set)" *ngIf="jobId <= 15" nz-button
              nzType="primary">{{'PROFILE.Save_for_all' | translate}}</button>
    </div>
    <div>
      <button (click)="cancel()" nz-button nzType="danger">{{'Cancel' | translate}}</button>
    </div>
  </div>
</div>
