<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <h2>{{'Public_lists' | translate}}</h2>
  <input (ngModelChange)="nameFilter$.next($event)" [ngModel]="nameFilter$ | async" [placeholder]="'COMMUNITY_LISTS.Name_filter_placeholder' | translate" autofocus
         class="filter-input" nz-input type="text" minlength="10" [class.has-errors]="(nameFilter$ | async)?.length < 10 && (nameFilter$ | async)?.length > 0">
  <div class="filter-input" fxLayout="row" fxLayoutGap="5px">
    <nz-select (ngModelChange)="tagsFilter$.next($event)" [ngModel]="tagsFilter$ | async"
               [nzPlaceHolder]="'COMMUNITY_LISTS.Tags_filter_placeholder' | translate"
               fxFlex="1 1 auto"
               nzMode="multiple">
      <nz-option *ngFor="let tag of tags" [nzLabel]="tag.label | translate" [nzValue]="tag.value"></nz-option>
    </nz-select>
    <button (click)="tagsFilter$.next([])" [nzTooltipTitle]="'COMMUNITY_LISTS.Tags_filter_reset' | translate" nz-button
            nz-tooltip>
      <i nz-icon nzType="reload"></i>
    </button>
  </div>
  <div class="filter-input" fxLayout="row" fxLayoutGap="5px">
    <nz-select (ngModelChange)="excludeFilter$.next($event)" [ngModel]="excludeFilter$ | async"
               [nzPlaceHolder]="'COMMUNITY_LISTS.Exclude_filter_placeholder' | translate"
               fxFlex="1 1 auto"
               nzMode="multiple">
      <nz-option *ngFor="let tag of tags" [nzLabel]="tag.label | translate" [nzValue]="tag.value"></nz-option>
    </nz-select>
    <button (click)="excludeFilter$.next([])" [nzTooltipTitle]="'COMMUNITY_LISTS.Exclude_filter_reset' | translate" nz-button
            nz-tooltip>
      <i nz-icon nzType="reload"></i>
    </button>
  </div>
  <app-page-loader [loading]="loading" class="lists-container">
    <div *ngIf="filteredLists$ | async as lists" fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="5px">
      <app-list-panel *ngFor="let list of lists; trackBy: trackByList" [list]="list"
                      [publicDisplay]="true"></app-list-panel>
      <nz-pagination (nzPageIndexChange)="page$.next($event)" *ngIf="totalLength > 0" [nzPageIndex]="page$ | async"
                     [nzPageSize]="pageSize"
                     [nzTotal]="totalLength" fxLayout="row"
                     fxLayoutAlign="center center"></nz-pagination>
      <app-fullpage-message *ngIf="lists.length === 0" height="500px">{{'COMMUNITY_LISTS.No_lists_matching' | translate}}
      </app-fullpage-message>
    </div>
  </app-page-loader>
</div>
