<h2 mat-dialog-title>Warning - Beta mode</h2>
<div mat-dialog-content>
    <p>Welcome to FFXIV Teamcraft beta app, the intent of this application is to provide you latest changes to the application
    in order to get feedback from you, bugs and ensure you have the best application in production.</p>

    <p><b>The application uses another database.</b> This means that you have to create a new account in order to use the beta application.
    Also, your lists won't be persisted in 3.0.0 release, <b>this beta app is only meant for test purpose.</b></p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Ok</button>
</div>
