<ng-container *ngIf="gtData$ | async as gtData; else loader">
  <div fxLayout="column" fxLayoutGap="10px"
       *ngIf="xivapiInstance$ | async as xivapiInstance" [style.padding]="'0 50px' | ifMobile: '0'">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px" fxLayoutAlign="flex-start flex-start"
         fxFlex="1 1 auto" fxLayoutGap="5px" class="top-bar">
      <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px" fxFlex="0 0 300px"
           fxFlex.lt-md="1 1 auto" class="top-left-block">
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px" class="icon-block">
          <img [src]="xivapiInstance.Icon | xivapiIcon" alt="{{xivapiInstance.ID | instanceName | i18n}}"
               class="item-icon">
          <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
            <h2 class="item-name">{{xivapiInstance.ID | instanceName | i18n}}</h2>
            <div class="item-kind" *ngIf="xivapiInstance.ContentType">
              {{xivapiInstance.ContentType | xivapiI18n}}
            </div>
          </div>
        </div>
        <img [src]="xivapiInstance.Banner | xivapiIcon" alt="" class="instance-banner">
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px" *ngIf="links$ | async as links">
          <a [href]="link.url" target="_blank" *ngFor="let link of links" nz-tooltip [nzTitle]="link.title">
            <img [src]="link.icon" [alt]="link.title" class="link-icon">
          </a>
        </div>
      </div>
      <div fxFlex="1 1 auto">
        <p *ngIf="xivapiInstance.Description" [innerHTML]="xivapiInstance | xivapiI18n: 'Description' | xivUIText"></p>
      </div>
      <div fxLayout="column" fxLayoutGap="5px" fxFlex.lt-md="1 1 auto" fxFlex="0 0 300px">
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
          <img src="/assets/icons/english.png" class="language-flag" alt="EN">
          <div>{{xivapiInstance.Name_en}}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
          <img src="/assets/icons/german.png" class="language-flag" alt="DE">
          <div>{{xivapiInstance.Name_de}}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
          <img src="/assets/icons/french.png" class="language-flag" alt="FR">
          <div>{{xivapiInstance.Name_fr}}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
          <img src="/assets/icons/japanese.png" class="language-flag" alt="JA">
          <div>{{xivapiInstance.Name_ja}}</div>
        </div>
      </div>
    </div>
    <div class="details-container" fxLayout="row wrap" fxLayoutGap="5px">
      <div class="details-block">
        <div class="detail-name">{{'DB.Team_size' | translate}}</div>
        <div class="detail-value">{{xivapiInstance.ContentMemberType.HealersPerParty
        + xivapiInstance.ContentMemberType.MeleesPerParty
        + xivapiInstance.ContentMemberType.RangedPerParty
        + xivapiInstance.ContentMemberType.TanksPerParty}}</div>
      </div>
      <div class="details-block">
        <div class="detail-name">{{'DB.Time' | translate}}</div>
        <div class="detail-value">{{gtData.instance.time}}</div>
      </div>
      <div class="details-block">
        <div class="detail-name">{{'DB.Min_level' | translate}}</div>
        <div class="detail-value">{{gtData.instance.min_lvl}}</div>
      </div>
      <div class="details-block">
        <div class="detail-name">{{'DB.Sync_to' | translate}}</div>
        <div class="detail-value">{{gtData.instance.max_lvl}}</div>
      </div>
      <div class="details-block" *ngIf="gtData.instance.min_ilvl">
        <div class="detail-name">{{'DB.Min_ilevel' | translate}}</div>
        <div class="detail-value">{{gtData.instance.min_ilvl}}</div>
      </div>
      <div class="details-block">
        <div class="detail-name">{{'DB.Exp' | translate}}</div>
        <div class="detail-value">{{xivapiInstance.InstanceClearExp | number}}</div>
      </div>
      <div class="details-block">
        <div class="detail-name">{{'DB.Week_restriction' | translate}}</div>
        <div class="detail-value">{{(xivapiInstance.WeekRestriction === 1 ? 'Yes' : 'No') | translate}}</div>
      </div>
    </div>
    <nz-divider [nzText]="'DB.Fights' | translate" nzOrientation="left"></nz-divider>
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-md="column">
      <nz-card fxFlex="1 1 30%" class="details-card" [nzTitle]="title" nzBordered="false"
               *ngFor="let fight of gtData.instance.fights">
        <ng-template #title>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px" class="card-header">
            <div>
              {{('DB.FIGHT_TYPE.' + fight.type) | translate}}
            </div>
          </div>
        </ng-template>
        <ng-container *ngIf="fight.mobs.length > 1">
          <div *ngFor="let mob of fight.mobs">{{mob | mobName | i18n}}</div>
        </ng-container>
        <ng-container *ngIf="fight.mobs.length === 1">
          <h2>{{fight.mobs[0] | mobName | i18n}}</h2>
        </ng-container>
        <div *ngIf="fight.currency">
          <h3>
            {{'DB.Currencies_reward' | translate}}
          </h3>
          <div fxLayout="column" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center"
                 *ngFor="let currency of fight.currency">
              <app-item-icon [width]="32" [itemId]="currency.id" [icon]="currency.id | lazyIcon"></app-item-icon>
              <div>{{currency.id | itemName | i18n}} x {{currency.amount}}</div>
            </div>
          </div>
        </div>
        <div *ngIf="fight.coffer" fxLayout="column" fxLayoutGap="10px">
          <h3>
            {{'DB.Chest_content' | translate}}
          </h3>
          <div fxLayout="column" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center"
                 *ngFor="let reward of fight.coffer.items">
              <app-item-icon [width]="32" [itemId]="reward" [icon]="reward | lazyIcon"></app-item-icon>
              <div>{{reward | itemName | i18n}}</div>
            </div>
          </div>
        </div>
      </nz-card>
    </div>
    <nz-divider [nzText]="'DB.Instance_details' | translate" nzOrientation="left"></nz-divider>
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-md="column">
      <nz-card fxFlex="1 1 30%" class="details-card" [nzTitle]="title" nzBordered="false">
        <ng-template #title>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px" class="card-header">
            <div>
              {{'DB.Map' | translate}}
            </div>
          </div>
        </ng-template>
        <app-map [mapId]="xivapiInstance.ContentFinderCondition.TerritoryType.Map.ID"></app-map>
      </nz-card>
      <nz-card fxFlex="1 1 30%" class="details-card" [nzTitle]="title" nzBordered="false"
               *ngIf="gtData.instance.rewards?.length > 0">
        <ng-template #title>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px" class="card-header">
            <div>
              {{'DB.Instance_rewards' | translate}}
            </div>
          </div>
        </ng-template>
        <div fxLayout="column" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center"
               *ngFor="let reward of gtData.instance.rewards">
            <app-item-icon [width]="32" [itemId]="reward" [icon]="reward | lazyIcon"></app-item-icon>
            <div>{{reward | itemName | i18n}}</div>
          </div>
        </div>
      </nz-card>
      <nz-card fxFlex="1 1 30%" class="details-card" [nzTitle]="title" nzBordered="false"
               *ngIf="gtData.instance.unlockedByQuest">
        <ng-template #title>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px" class="card-header">
            <div>
              {{'DB.Unlocked_by' | translate}}
            </div>
          </div>
        </ng-template>
        <div fxLayout="column" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
            <img class="img-icon round-icon"
                 src="./assets/icons/quest.png">
            <div>{{gtData.instance.unlockedByQuest | questName | i18n}}</div>
              <a nz-button nz-tooltip
                 [nzTitle]="'DB.Open_in_db' | translate"
                 nzSize="small"
                 nzShape="circle"
                 routerLink="/db/{{translate.currentLang}}/quest/{{gtData.instance.unlockedByQuest}}">
                <i nz-icon type="info"></i>
              </a>
            </div>
          </div>
      </nz-card>
      <nz-card fxFlex="1 1 30%" class="details-card" [nzTitle]="title" nzBordered="false"
               *ngIf="gtData.instance.coffers">
        <ng-template #title>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px" class="card-header">
            <div>
              {{'DB.Instance_chests' | translate}}
            </div>
          </div>
        </ng-template>
        <div fxLayout="column">
          <div *ngFor="let chest of gtData.instance.coffers; let last = last">
            <h3>{{'DB.Position' | translate}}</h3>
            <app-map-position [zoneId]="xivapiInstance.ContentFinderCondition.TerritoryType.Map.PlaceName.ID"
                              [mapId]="xivapiInstance.ContentFinderCondition.TerritoryType.Map.ID"
                              [marker]="{x: chest.coords[0], y: chest.coords[1]}"></app-map-position>
            <h3>{{'DB.Content' | translate}}</h3>
            <div fxLayout="column" fxLayoutGap="5px">
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px" *ngFor="let item of chest.items">
                <app-item-icon [width]="32" [itemId]="item" [icon]="item | lazyIcon"></app-item-icon>
                <div>{{item | itemName | i18n}}</div>
              </div>
            </div>
            <nz-divider *ngIf="!last"></nz-divider>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
</ng-container>
<ng-template #loader>
  <app-page-loader></app-page-loader>
</ng-template>
