.card {
    width: 400px;
    .map-container {
        position: relative;
        .map-image {
            width: 400px;
        }
        .marker {
            position: absolute;
            color: white;
            transform: translate(-50%, -100%);
            text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
        }
    }
    mat-card-content {
        text-align: center;
        font-weight: 600;
    }
}
