<h2 md-dialog-title>Timer options</h2>
<div md-dialog-content>
    <md-select placeholder="{{'Sound' | translate}}" [(ngModel)]="options.sound" (change)="previewSound();persist()">
        <md-option *ngFor="let sound of sounds" [value]="sound">
            {{ sound }}
        </md-option>
    </md-select>
    <md-select placeholder="{{'Early_by' | translate}}" [(ngModel)]="options.hoursBefore" (change)="persist()">
        <md-option *ngFor="let value of [0,1,2,5]" [value]="value">
            {{ value }}
        </md-option>
    </md-select>
</div>
