a.patreon {
  background-color: #F96854;
  margin-right: 10px;
  img.patreon-logo {
    width: 48px;
  }
}

app-donation-button {
  margin-left: 10px;
}

.progressbar {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}
