<ng-container *ngIf="loaded$ | async; else loading">
  <div *ngIf="!overlayMode" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <nz-switch [(ngModel)]="settings.alarmsMuted"></nz-switch>
    <div>{{'Mute_alarms' | translate}} </div>
  </div>
  <div *ngIf="alarms$ | async as alarms" [class.sidebar]="!overlayMode" class="alarms-container">
    <div *ngFor="let row of alarms; trackBy: trackByAlarm; let last = last">
      <div [class.played]="row.played && !row.spawned" [class.spawned]="row.spawned" class="alarm-row" fxLayout="row"
           fxLayoutGap="5px">
        <div class="ephemeral">
          <i *ngIf="row.alarm.ephemeral" [nzTooltipTitle]="'GATHERING_LOCATIONS.Ephemeral_node' | translate" nz-icon nz-tooltip
             nzType="clock-circle"></i>
        </div>
        <div class="item-icon">
          <app-item-icon [icon]="row.alarm.itemId | lazyIcon"
                         [itemId]="row.alarm.itemId" [itemName]="row.alarm.itemId | itemName: row.alarm | i18n" [width]="32"></app-item-icon>
          <img alt="" class="node-type" src="{{row.alarm.type | nodeTypeIcon: true}}">
        </div>
        <div class="center-content">
          <span *ngIf="row.alarm.itemId; else customName">
            <i *ngIf="row.groupNames" [nzTooltipTitle]="row.groupNames" class="folder-icon" nz-icon
               nz-tooltip nzType="folder-open"></i>
            <app-gathering-item-uses [itemId]="row.alarm.itemId" [compact]="true"></app-gathering-item-uses>
            <span [itemNameCopy]="row.alarm.itemId" [disableTooltip]="true" class="item-name">{{row.alarm.itemId | itemName: row.alarm | i18n}}</span>
            <i *ngIf="row.alarm.note" [nzTooltipTitle]="row.alarm.note" class="note-icon" nz-icon
               nz-tooltip nzType="edit"></i>
          </span>
          <ng-template #customName>
            <i *ngIf="row.groupNames" [nzTooltipTitle]="row.groupNames" class="folder-icon" nz-icon
               nz-tooltip nzType="folder-open"></i>
            <span class="item-name">{{row.alarm.name}}</span>
          </ng-template>
          <div fxLayout="row wrap" fxLayoutGap="5px">
            <div class="timer" [timerTooltip]="row.remainingTime">{{row.remainingTime | timer}}</div>
            <div class="map" *ngIf="row.alarm.mapId | closestAetheryte:row.alarm.coords | async as aetheryte">
              {{aetheryte.nameid | i18nRow:'places' | i18n}}
            </div>
            <div class="coords">X:{{row.alarm.coords.x | number: '1.0-2'}} - Y: {{row.alarm.coords.y | number: '1.0-2'}}</div>
          </div>
          <div *ngIf="row.alarm.baits">
            <app-fishing-bait [baits]="row.alarm.baits" flex="row wrap" hideNames="true" iconWidth="24"></app-fishing-bait>
          </div>
        </div>
        <img *ngIf="row.alarm.hookset" src="{{row.alarm.hookset | hooksetActionId | actionIcon | xivapiIcon}}" class="hookset-icon"/>
        <img *ngIf="row.alarm.fishEyes" [src]="762 | lazyRow:'statuses':'icon' | async | xivapiIcon" alt="" class="fish-eyes" nz-tooltip
             [nzTooltipTitle]="'GATHERING_LOCATIONS.Fish_eyes' | translate">
        <div *ngIf="!overlayMode" class="map-button">
          <button *ngIf="row.alarm.type > -1" (click)="openMap(row.alarm)" nz-button nzShape="circle" nzSize="small" nzType="primary">
            <i nz-icon nzType="environment-o"></i>
          </button>
          <button *ngIf="row.alarm.type === -5" routerLink="/db/{{translate.currentLang}}/fishing-spot/{{row.alarm.nodeId}}" nz-button nzShape="circle" nzSize="small" nzType="primary">
            <i nz-icon nzType="environment-o"></i>
          </button>
        </div>
        <div class="top-right-icons" fxLayout="row" fxLayoutGap="5px">
          <div (click)="hideAlarm(row.alarm)" class="hide-icon">
            <i nz-icon nzType="eye-invisible" nzTheme="outline"></i>
          </div>
          <div (nzOnConfirm)="deleteAlarm(row.alarm)" nz-popconfirm [nzPopconfirmTitle]="'Confirmation' | translate" class="delete-icon">
            <i nz-icon nzType="close"></i>
          </div>
        </div>
      </div>
      <nz-divider *ngIf="!last"></nz-divider>
    </div>
    <app-fullpage-message *ngIf="alarms.length === 0">
      {{'ALARMS.No_alarm' | translate}}
    </app-fullpage-message>
  </div>
</ng-container>
<ng-template #loading>
  <app-page-loader></app-page-loader>
</ng-template>
