<div *ngIf="!notFound; else notFoundTemplate">
    <div *ngIf="recipe$ | async as recipe; else loading">
        <app-simulator [recipe]="recipe" [actions]="actions" [itemId]="itemId" [itemIcon]="itemIcon" [canSave]="canSave"
                       (onsave)="save($event)" [selectedFood]="selectedFood"
                       [selectedMedicine]="selectedMedicine"
                       [authorId]="authorId" [rotation]="rotation"></app-simulator>
    </div>
</div>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
<ng-template #notFoundTemplate>
    <div class="not-found">
        {{'SIMULATOR.Rotation_not_found' | translate}}
    </div>
</ng-template>
