@if (result$ | async; as result) {
  <div fxLayout="column" fxLayoutGap="10px">
    <app-simulation-result [result]="result"
      [itemId]="(replay$ | async)?.itemId"
      [progressPer100]="progressPer100$ | async"
      [qualityPer100]="qualityPer100$ | async"
      [report]="report$ | async"
      (snapshotStepChange)="snapshotStep$.next($event)"
      [compact]="ref !== null"
    [readonly]="true"></app-simulation-result>
    <nz-card>
      <div class="buffs-container" fxLayout="row" fxLayoutAlign="flex-start center">
        @for (buff of result.simulation.buffs; track buff) {
          <div class="buff-container">
            @if (buff.stacks > 0) {
              <span class="stacks">{{buff.stacks}}</span>
            }
            <img [src]="getBuffIcon(buff)" alt="" class="buff-icon">
            @if (buff.duration.toString() !== 'Infinity') {
              <span class="duration">{{buff.duration}}</span>
            }
          </div>
        }
      </div>
    </nz-card>
    <nz-card [class.failed]="actionFailed" [class.success]="result.simulation.success" class="actions-card">
      <div class="actions-container" fxLayout="row wrap">
        @for (step of result.steps; track trackByAction(i, step); let i = $index) {
          <div class="action-container rotation-action">
            <app-action [action]="step.action"
              [state]="step.state"
              [jobId]="result.simulation.crafterStats.jobId"
              [disabled]="step.skipped"
              [failed]="!step.success && !step.skipped"
            [hideCost]="true"></app-action>
          </div>
        }
      </div>
      @if (result.failCause !== undefined) {
        <div class="fail-reason">
          @switch (result.failCause) {
            @case ('MISSING_STATS_REQUIREMENT') {
              {{('SIMULATOR.FAIL_CAUSE.' + result.failCause) | translate}} ({{result.simulation.recipe.craftsmanshipReq}}
              /{{result.simulation.recipe.controlReq}})
            }
            @default {
              {{('SIMULATOR.FAIL_CAUSE.' + result.failCause) | translate}}
            }
          }
        </div>
      }
    </nz-card>
    <div>
      <button nz-button nzBlock nzType="primary" (click)="openMacroPopup(result.simulation)">
        {{'SIMULATOR.Generate_ingame_macro' | translate}}
      </button>
    </div>
  </div>
}
