<div *ngIf="servers$ | async as availableServers; else loading">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="serverName">{{'Server_name' | translate}}</nz-form-label>
    <input type="text" id="serverName" nz-input [formControl]="selectedServer" [nzAutocomplete]="auto">
    <nz-autocomplete #auto>
      <nz-auto-option *ngFor="let server of autoCompleteRows$ | async" [nzValue]="server">
        {{server}}
      </nz-auto-option>
    </nz-autocomplete>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="characterName">{{'Character_name' | translate}}
    </nz-form-label>
    <input type="text" id="characterName" nz-input [formControl]="characterName">
  </nz-form-item>
</div>

<div class="results" *ngIf="result$ | async as results">
  <app-page-loader [loading]="loadingResults">
    <nz-list *ngIf="results.length > 0; else noResults"
             [nzDataSource]="results"
             [nzItemLayout]="'horizontal'"
             [nzRenderItem]="characterTemplate">
      <ng-template #characterTemplate let-user>
        <nz-list-item [nzActions]="[selectAction]">
          <ng-template #selectAction>
            <button nz-button nzType="primary" (click)="pickUser(user)">{{'COMMON.Select' | translate}}</button>
          </ng-template>
          <nz-list-item-meta
            [nzTitle]="user.characterName"
            [nzDescription]="user.userId"
            [nzAvatar]="avatar">
            <ng-template #avatar>
              <app-user-avatar [userId]="user.userId"></app-user-avatar>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
    <ng-template #noResults>
      <span *ngIf="!loadingResults">{{'PERMISSIONS.User_not_found' | translate}}</span>
    </ng-template>
  </app-page-loader>
</div>

<nz-divider></nz-divider>

<div *ngIf="contacts$ | async as contacts">
  <nz-list [nzDataSource]="contacts" [nzRenderItem]="contactTemplate" [nzHeader]="'PROFILE.Contacts' | translate">
    <ng-template #contactTemplate let-contact>
      <nz-list-item [nzActions]="[selectAction]">
        <ng-template #selectAction>
          <button nz-button nzType="primary" (click)="pickUser({userId: contact})">{{'COMMON.Select' | translate}}</button>
        </ng-template>
        <nz-list-item-meta
          [nzTitle]="contact | characterName | async"
          [nzDescription]="contact"
          [nzAvatar]="avatar">
          <ng-template #avatar>
            <app-user-avatar [userId]="contact"></app-user-avatar>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>

<ng-template #loading>
  <nz-spin></nz-spin>
</ng-template>
