@import './theme.scss';

html, body {
  width: 100%;
  min-height: 100%;
}

body {
  background: map-get(map-get($theme, background), background);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
