@import './theme.scss';

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: map-get(map-get($dark-theme, background), background);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Helper class
.spacer {
    flex: 1 1 auto;
}

.snack {
    background-color: mat-color(map-get($dark-theme, accent)) !important;
}

.snack-warn {
    background-color: mat-color(map-get($dark-theme, warn)) !important;
}

.auto-height {
    min-height: 54px;
    .mat-list-item-content {
        height: 100% !important;
    }
}

.strike {
    color: #00E676;
}

.craftable {
    color: #13a8ff;
}

// This has to be done here, because of an override error in component's style
.mat-mini-fab.compact {
    .mat-button-wrapper {
        padding: 1px 1px !important;
        line-height: inherit;
    }
}

.mat-icon-button.compact {
    line-height: inherit;
    .mat-button-wrapper {
        padding: 1px 1px !important;
    }
}

.compact {
    .mat-icon {
        font-size: 20px;
    }
    span.mat-button-wrapper {
        padding: 0 !important;
        line-height: 29px;
        span {
            padding: 1px 1px !important;
            mat-icon {
                font-size: 20px;
            }
        }
    }
}

// Little cheat for cards
.mat-card-header-text {
    width: 100%;
}

.mat-list-item.recipes-list-row {
    .mat-list-text {
        width: auto !important;
        margin-right: auto !important;
    }
    .mat-list-item-content{
        flex-wrap: wrap;
    }
}

// We set the max height for menus at 300 px for better UX.
.mat-menu-panel {
    max-height: 300px !important;
}

.mat-content {
    align-items: center;
}

.mat-expansion-panel-body {
    @include client-width('small') {
        padding: 0 12px 8px !important;
    }
}

.mat-expansion-panel-content {
    .mat-expansion-panel-body {
        padding: 0 24px 16px;
        margin: 0;
        overflow: inherit;
    }
}

.compact {
    .mat-input-subscript-wrapper {
        margin-top: 0 !important;
    }
}

.nofix {
    .mat-form-field-infix {
        border-top: none !important;
    }
}

mat-input-container:not(.with-infix) {
    .mat-form-field-infix {
        width: auto !important;
    }
}

// We have to set this here otherwise it doesn't apply, strange behavior
.mobile {
    .mat-list-item-content {
        .mat-list-text {
            padding: 0 !important;
        }
        padding: 0 !important;
    }
    .mat-icon-button {
        line-height: 24px;
    }
    .mat-form-field-infix {
        border-top: none;
    }
    .mat-button {
        line-height: initial;
    }
    .mat-raised-button {
        line-height: initial;
    }
}
