@import './theme.scss';

body {
    padding-top: 64px;
    background: map-get(map-get($dark-theme, background), background);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
// Let's have nicer scrollbars ! credits to angular/aio: https://github.com/angular/angular/blob/3a30f5d937e64289ad9a89a1cbc4bd66d8a8867a/aio/src/styles/2-modules/_scrollbar.scss
body::-webkit-scrollbar, mat-sidenav::-webkit-scrollbar, .mat-sidenav-content::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

body::-webkit-scrollbar-track, mat-sidenav::-webkit-scrollbar-trac, .mat-sidenav-content::-webkit-scrollbar-trac {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb, mat-sidenav::-webkit-scrollbar-thumb, .mat-sidenav-content::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: 1px solid #333;
}

//Dialog background darker opacity
.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.81);
}

// Helper class
.spacer {
    flex: 1 1 auto;
}

.snack {
    background-color: mat-color(map-get($dark-theme, accent)) !important;
}

.snack-warn {
    background-color: mat-color(map-get($dark-theme, warn)) !important;
}

.auto-height {
    min-height: 54px;
    .mat-list-item-content {
        height: 100% !important;
    }
}

.strike {
    color: #00E676;
}

.craftable {
    color: #13a8ff;
}

// This has to be done here, because of an override error in component's style
.mat-mini-fab.compact {
    .mat-button-wrapper {
        padding: 1px 1px !important;
        line-height: inherit;
    }
}

.mat-icon-button.compact {
    line-height: inherit;
    .mat-button-wrapper {
        padding: 1px 1px !important;
    }
}

.compact {
    .mat-icon {
        font-size: 20px;
    }
    span.mat-button-wrapper {
        padding: 0 !important;
        line-height: 29px;
        span {
            padding: 1px 1px !important;
            mat-icon {
                font-size: 20px;
            }
        }
    }
}

// Little cheat for cards
.mat-card-header-text {
    width: 100%;
}

.mat-list-item.recipes-list-row {
    .mat-list-text {
        width: auto !important;
        margin-right: auto !important;
    }
    .mat-list-item-content {
        flex-wrap: wrap;
    }
}

// We set the max height for menus at 300 px for better UX.
.mat-menu-panel {
    max-height: 300px !important;
}

.mat-content {
    align-items: center;
}

.mat-expansion-panel-body {
    @include client-width('small') {
        padding: 0 12px 8px !important;
    }
}

.mat-expansion-panel-content {
    .mat-expansion-panel-body {
        padding: 0 24px 16px;
        margin: 0;
        overflow: inherit;
    }
}

.compact {
    .mat-input-subscript-wrapper {
        margin-top: 0 !important;
    }
}

.nofix {
    .mat-form-field-infix {
        border-top: none !important;
    }
}

mat-form-field:not(.with-infix) {
    .mat-form-field-infix {
        width: auto !important;
    }
}

.inline-chips {
    .mat-chip-list-wrapper {
        flex-wrap: nowrap;
    }
}

// We have to set this here otherwise it doesn't apply, strange behavior
.mobile {
    .mat-list-item-content {
        .mat-list-text {
            padding: 0 !important;
        }
        padding: 0 !important;
    }
    .mat-icon-button {
        line-height: 24px;
    }
    .mat-form-field-infix {
        border-top: none;
    }
    .mat-button {
        line-height: initial;
    }
    .mat-raised-button {
        line-height: initial;
    }
}

// Loader css
@keyframes sonarWave {
    from {
        opacity: 0.4;
    }
    to {
        transform: scale(6);
        opacity: 0;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    8% {
        transform: scale(1.1);
    }
    16% {
        transform: scale(1);
    }
}

.sonar-container {
    -webkit-app-region: drag;
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    .sonar-emitter {
        position: relative;
        width: 120px;
        height: 120px;
        img {
            animation: heartbeat 1s infinite;
            width: 120px;
            height: 120px;
        }
        .sonar-wave {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 9999px;
            background-color: HSL(37, 15%, 70%);
            z-index: -1;
            pointer-events: none;
            animation: sonarWave 1s linear infinite;
        }
    }
}
