@import '../node_modules/@angular/material/_theming.scss';

@include mat-core();

// Custom mixins for theming
@mixin theme-background($theme) {
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);

    .accent-background {
        background: mat-color($accent);
        color: black;
        .mat-card-subtitle {
            color: black;
        }
    }

    .primary-background {
        background: mat-color($primary);
        color: black;
        .mat-card-subtitle {
            color: black;
        }
    }
}

@mixin expansion-panel-accent($theme) {
    mat-expansion-panel.accent {
        $accent: map-get($theme, accent);
        $foreground: map-get($theme, foreground);
        background: mat-color($accent);
        .mat-expansion-panel-header-title {
            color: black;
        }
        .mat-expansion-panel-header-description {
            color: black;
            opacity: .7;
        }
        .mat-expansion-indicator::after {
            color: black;
            opacity: .7;
        }
    }
}

@mixin card-accent($theme) {
    .mat-card.accent {
        $accent: map-get($theme, accent);
        $foreground: map-get($theme, foreground);
        background: mat-color($accent);
        color: black;
    }
}

@mixin color-fixes($theme) {
    a {
        @if map-get($theme, is-dark) {
            color: white;
        } @else {
            color: black;
        }
    }
}

$primary-orange: mat-palette($mat-orange, 700);
$accent-orange: mat-palette($mat-teal, 500);
$primary-teal: mat-palette($mat-teal, 300);
$accent-teal: mat-palette($mat-indigo, 100);
$warn: mat-palette($mat-red, 600);

$dark-theme: mat-dark-theme($primary-orange, $accent-orange, $warn);
$light-orange-theme: mat-light-theme($primary-orange, $accent-orange, $warn);
$light-teal-theme: mat-light-theme($primary-teal, $accent-teal, $warn);
$dark-teal-theme: mat-dark-theme($primary-teal, $accent-teal, $warn);

// Default theme is dark orange, we have to apply it here.
@include angular-material-theme($dark-theme);
@include theme-background($dark-theme);
@include expansion-panel-accent($dark-theme);
@include card-accent($dark-theme);
@include color-fixes($dark-theme);


.dark-orange-theme {
    @include angular-material-theme($dark-theme);
    @include theme-background($dark-theme);
    @include expansion-panel-accent($dark-theme);
    @include card-accent($dark-theme);
    @include color-fixes($dark-theme);
}

// Light theme class
.light-orange-theme {
    @include angular-material-theme($light-orange-theme);
    @include theme-background($light-orange-theme);
    @include expansion-panel-accent($light-orange-theme);
    @include card-accent($light-orange-theme);
    @include color-fixes($light-orange-theme);
}

// Light theme class
.light-teal-theme {
    @include angular-material-theme($light-teal-theme);
    @include theme-background($light-teal-theme);
    @include expansion-panel-accent($light-teal-theme);
    @include card-accent($light-teal-theme);
    @include color-fixes($light-teal-theme);
}

// Light theme class
.dark-teal-theme {
    @include angular-material-theme($dark-teal-theme);
    @include theme-background($dark-teal-theme);
    @include expansion-panel-accent($dark-teal-theme);
    @include card-accent($dark-teal-theme);
    @include color-fixes($dark-teal-theme);
}

// Responsive breakpoint mixin/definitions
$min-width-small: 767px;
$min-width-medium: 992px;
$min-width-large: 1200px;

@mixin client-width($breakpoint) {
    @if $breakpoint == 'small' {
        @media (max-width: $min-width-small) {
            @content;
        }
    } @else if $breakpoint == 'medium' {
        @media (max-width: $min-width-medium) {
            @content;
        }
    } @else if $breakpoint == 'large' {
        @media (max-width: $min-width-large) {
            @content;
        }
    }
}

// Let's not get hung up on our margin/passing definitions, yo!
* {
    box-sizing: border-box;
}
