@import '../node_modules/@angular/material/_theming.scss';

@include mat-core();

// Custom mixins for theming
@mixin theme-background($theme) {
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);

    .accent-background {
        background: mat-color($accent);
        color: black;
        .mat-card-subtitle {
            color: black;
        }
    }

    .primary-background {
        background: mat-color($primary);
        color: black;
        .mat-card-subtitle {
            color: black;
        }
    }
}

@mixin expansion-panel-accent($theme) {
    mat-expansion-panel.accent {
        $accent: map-get($theme, accent);
        $foreground: map-get($theme, foreground);
        background: mat-color($accent);
        .mat-expansion-panel-header-title {
            color: black;
        }
        .mat-expansion-panel-header-description {
            color: black;
            opacity: .7;
        }
        .mat-expansion-indicator::after {
            color: black;
            opacity: .7;
        }
    }
}

@mixin card-accent($theme) {
    .mat-card.accent {
        $accent: map-get($theme, accent);
        $foreground: map-get($theme, foreground);
        background: mat-color($accent);
        color: black;
    }
}

@mixin color-fixes($theme) {
    a {
        @if map-get($theme, is-dark) {
            color: white;
        } @else {
            color: black;
        }
    }
}

$primary: mat-palette($mat-orange, 700);
$accent: mat-palette($mat-teal, 500);
$warn: mat-palette($mat-red, 600);
$dark-theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($dark-theme);
@include theme-background($dark-theme);
@include expansion-panel-accent($dark-theme);
@include card-accent($dark-theme);
@include color-fixes($dark-theme);

$light-theme: mat-light-theme($primary, $accent, $warn);

// Light theme class
.light-theme {
    @include angular-material-theme($light-theme);
    @include theme-background($light-theme);
    @include expansion-panel-accent($light-theme);
    @include card-accent($light-theme);
    @include color-fixes($light-theme);
}

// Responsive breakpoint mixin/definitions
$min-width-small: 767px;
$min-width-medium: 992px;
$min-width-large: 1200px;

@mixin client-width($breakpoint) {
    @if $breakpoint == 'small' {
        @media (max-width: $min-width-small) {
            @content;
        }
    } @else if $breakpoint == 'medium' {
        @media (max-width: $min-width-medium) {
            @content;
        }
    } @else if $breakpoint == 'large' {
        @media (max-width: $min-width-large) {
            @content;
        }
    }
}

// Let's not get hung up on our margin/passing definitions, yo!
* {
    box-sizing: border-box;
}
