.container {
    position: relative;
    .amount {
        position: absolute;
        right: 0;
        top: 0;
    }
    .mobile-button {
        height: 20px !important;
    }
    .compact {
        height: 25px;
        width: 25px;
        line-height: 25px;
        margin-left: 5px;
    }
}
