.no-commissions {
    font-size: 40px;
    width: 100%;
    min-height: 300px;
    opacity: .7;
    align-items: center;
    display: flex;
    justify-content: center;
}

.tag-checkbox {
    margin-right: 5px;
}
