.amount {
  margin-right: 30px;
}

.compact {
  min-height: 0;
  height: 35px !important;
  .mat-list-avatar {
    width: 25px;
    height: 25px;
  }
  a {
    width: 25px;
    height: 25px;
  }
  h3 {
    font-size: 11px;
  }
  button {
    min-width: inherit;
    height: 25px;
    width: 25px;
    line-height: 29px;
  }
}
