<nz-list [nzRenderItem]="huntTemplate" [nzDataSource]="item.drops">
  <ng-template #huntTemplate let-drop>
    <nz-list-item [nzContent]="drop.position !== undefined?position:null">
      <nz-list-item-meta nzDescription="lvl{{drop.lvl}} - {{drop.zoneid | placeName | i18n}}"
                         [nzTitle]="dropTitle">
      </nz-list-item-meta>
      <ng-template #dropTitle>
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <div>{{drop.id | mobName | i18n}}</div>
          <app-db-button type="mob" [id]="drop.id % 100000"></app-db-button>
        </div>
      </ng-template>
      <ng-template #position>
        <div fxLayout="column" fxLayoutAlign="flex-end flex-end">
          <div>{{drop.zoneid | placeName | i18n}}</div>
          <app-map-position [zoneId]="drop.zoneid" [marker]="drop.position" [mapId]="drop.mapid"></app-map-position>
          <div
            *ngIf="drop.mapid | closestAetheryte: drop.position | async as aetheryte"
            class="closest-tp">
            <img src="./assets/icons/Aetheryte.png" alt=""
                 class="aetheryte-icon"> {{aetheryte.nameid | placeName | i18n}}
          </div>
        </div>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>
