:host {
    .back-to-list {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .container {
        display: flex;
        align-items: flex-start;
        .inventory-tab {
            width: 445px;
            margin-top: 30px;
            margin-right: 10px;
            .slot {
                border-radius: 5px;
                &.empty {
                    background: grey;
                    opacity: .2;
                    border-bottom: 1px solid white;
                    pointer-events: none;
                }
                .item-container {
                    position: relative;
                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 6px;
                    }
                    .amount {
                        position: absolute;
                        bottom: 1px;
                        right: 1px;
                        font-size: 11px;
                        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                    }
                }
            }
        }
    }
}
