<table *ngIf="maxValuesTable$ | async as caps">
  <thead>
  <tr>
    <th>{{'GEARSETS.Stat_name' | translate}}</th>
    <th>{{'GEARSETS.Current_value' | translate}}</th>
    <th>{{'GEARSETS.Cap_value' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of caps" [class.capped]="row[1] === row[2]" [class.melded]="row[1] !== row[2] && row[1] !== row[3]">
    <td><b>{{row[0] | baseParamName | i18n}}</b></td>
    <td>{{row[1]}}</td>
    <td>{{row[2]}}</td>
  </tr>
  </tbody>
</table>
