.page-not-found {
    margin-top: 50px !important;
    text-align: center;
    font-size: 40px !important;
    opacity: 0.6;
}

div.wiki-container {
    div.markdown {
        width: 70%;
        img {
            max-width: 100%;
        }
        blockquote {
            color: inherit;
            opacity: .7;
        }
    }

    div.toc {
        width: 18%;
        position: fixed;
        top: 72px;
        right: 0;
        ul {
            list-style-type: none;
            li {
                cursor: pointer;
                &.toc-h1 {
                    font-size: 110%;
                    &::after {
                        content: "";
                        display: block;
                        height: 1px;
                        width: 40%;
                        margin: 7px 0 4px 0;
                        background: #dbdbdb;
                        clear: both;
                    }
                }
                &.toc-h2 {
                }
                &.toc-h3 {
                    padding-left: 24px;
                }
            }
        }
    }
}
