<mat-list-item>

    <div mat-list-avatar class="icon" *ngIf="!isMobile()">
        <img mat-list-avatar src="{{item.icon | icon}}" alt="{{item.id | itemName | i18n}}">
    </div>
    <p mat-line class="item-name">
        {{item.id | itemName | i18n}}
        <mat-icon *ngIf="craftCost !== undefined" matTooltip="{{'Minimal_craft_cost' | translate}}: {{craftCost}} gils"
                 matTooltipPosition="above">
            attach_money
        </mat-icon>
    </p>


    <div>
        <div mat-line>
            <mat-form-field class="nofix price">
                <span mdPrefix>NQ &nbsp;</span>
                <input mdInput type="number" [(ngModel)]="price.nq" (ngModelChange)="savePrice()">
            </mat-form-field>
            <mat-form-field class="nofix amount">
                <span mdPrefix>x &nbsp;</span>
                <input mdInput type="number" [(ngModel)]="amount.nq" (ngModelChange)="saveAmount()">
            </mat-form-field>
        </div>
        <div mat-line *ngIf="!isCrystal()">
            <mat-form-field class="nofix price">
                <span mdPrefix>HQ &nbsp;</span>
                <input mdInput type="number" [(ngModel)]="price.hq" (ngModelChange)="savePrice()">
            </mat-form-field>
            <mat-form-field class="nofix amount">
                <span mdPrefix>x &nbsp;</span>
                <input mdInput type="number" [(ngModel)]="amount.hq" (ngModelChange)="saveAmount()">
            </mat-form-field>
        </div>
    </div>
</mat-list-item>
