.odd {
  background-color: rgba(77, 77, 77, .5);
}

.market-items {
  .market-items-gap {
    padding: 10px;
  }

  .market-item-row {
    padding: 5px;
  }
}

.task-icon {
  margin-right: 5px;

  &.complete {
    color: var(--highlight-color);
  }
}

.retainer-panel-header {
  width: 100%;
}
