:host {
    .container {
        padding: 20px 10px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        .delete-button {
            position: absolute;
            top: 5px;
            right: 5px;
        }
        .arrows {
            width: 40px;
            margin-right: 10px;
        }
        .right-part {
            display: flex;
            flex-direction: column;
            .name {
                display: block;
                margin-right: 5px;
                max-width: 300px;
            }
            .filter {
                display: inline-flex;
                .filter-name {
                    margin-right: 10px;
                    max-width: 200px;
                }
                .logic-gate {
                    max-width: 100px;
                }
            }
            mat-checkbox {
                margin-right: 15px;
            }
            .order {
                display: inline-flex;
                .order-row {
                    max-width: 120px;
                }
            }
        }
    }
}
