<div class="container">
    <div class="arrows">
        <button mat-icon-button (click)="up.emit()" [disabled]="first">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button mat-icon-button (click)="down.emit()" [disabled]="last">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <div class="right-part">
        <mat-form-field class="name">
            <input [disabled]="readonly" type="text" matInput
                   placeholder="{{'LIST_DETAILS.LAYOUT.Panel_name' | translate}}"
                   [(ngModel)]="row.name" (change)="rowChanged()">
        </mat-form-field>
        <button mat-icon-button (click)="delete.emit()" [disabled]="readonly" color="warn" class="delete-button">
            <mat-icon>delete</mat-icon>
        </button>
        <div class="filter">
            <mat-form-field *ngFor="let fragment of filter">
                <div *ngIf="!fragment.isBooleanGate" class="filter-block">
                    <mat-checkbox [disabled]="readonly" color="accent"
                                  (click)="$event.stopPropagation();"
                                  [(ngModel)]="fragment.reversed"
                                  (change)="filterChange()">
                        NOT
                    </mat-checkbox>
                    <mat-select [disabled]="readonly" class="filter-name"
                                placeholder="{{'LIST_DETAILS.LAYOUT.Filter' | translate}}" required
                                [(value)]="fragment.value"
                                (valueChange)="filterChange()">
                        <mat-option *ngFor="let filter of getAllFilters()" value="{{filter}}">{{filter}}</mat-option>
                        <mat-option *ngIf="readonly" selected>{{fragment.value}}</mat-option>
                    </mat-select>
                </div>
                <mat-select [disabled]="readonly" class="logic-gate"
                            placeholder="{{'LIST_DETAILS.LAYOUT.Logic_gate' | translate}}" required
                            [(value)]="fragment.value"
                            (valueChange)="filterChange()"
                            *ngIf="fragment.isBooleanGate">
                    <mat-option value="or">OR</mat-option>
                    <mat-option value="and">AND</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button [disabled]="readonly" (click)="addFragment()" color="accent">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button (click)="removeFragment()" color="warn" [disabled]="readonly || filter.length <= 1">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
        <div class="order">
            <mat-form-field>
                <mat-select class="order-row" placeholder="{{'LIST_DETAILS.LAYOUT.Order_by' | translate}}" required
                            [(value)]="row.orderBy" (change)="rowChanged()">
                    <mat-option value="NAME">NAME</mat-option>
                    <mat-option value="LEVEL">LEVEL</mat-option>
                    <mat-option value="JOB">JOB</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select class="order-row" placeholder="{{'LIST_DETAILS.LAYOUT.Order' | translate}}" required
                            [(value)]="row.order" (change)="rowChanged()">
                    <mat-option [value]="0">ASC</mat-option>
                    <mat-option [value]="1">DESC</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="toggles">
            <mat-checkbox [(ngModel)]="row.zoneBreakdown" [disabled]="row.tiers">{{"Zone_breakdown" | translate}}
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="row.tiers" [disabled]="row.zoneBreakdown">{{"Tier_display_toggle" | translate}}
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="row.hideIfEmpty">{{"Hide_if_empty" | translate}}
            </mat-checkbox>
        </div>
    </div>
</div>
