<nz-collapse>
  <nz-collapse-panel [nzHeader]="header">
    <ng-template #header>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start center" class="header">
        <div>{{display.folder.name}}</div>
        <button nz-button nzShape="circle" nzSize="small" (click)="$event.stopPropagation();rename()" nz-tooltip
                [nzTitle]="'GEARSETS.Rename_gearset' | translate">
          <i nz-icon nzType="edit"></i>
        </button>
        <div fxFlex="1 1 auto"></div>
        <!--        TODO folder pages -->
        <!--        <a nz-button routerLink="/gearset/{{gearset.$key}}" nzShape="circle" nz-tooltip [nzTitle]="'GEARSETS.View_gearset' | translate">-->
        <!--          <i nz-icon nzType="eye" nzTheme="outline"></i>-->
        <!--        </a>-->
        <button nz-button *ngIf="display.folder.authorId === userId" nzType="danger"
                nz-popconfirm [nzPopconfirmTitle]="'Confirmation' | translate" nzShape="circle"
                nz-tooltip [nzTitle]="'FODLERS.Delete_folder' | translate"
                (click)="$event.stopPropagation()"
                (nzOnConfirm)="deleteFolder(display.folder)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </div>
    </ng-template>
    <div cdkDropList [cdkDropListConnectedTo]="dndConnections"
         [cdkDropListEnterPredicate]="canDropGearset"
         [id]="id" [cdkDropListData]="display.folder"
         (cdkDropListExited)="exited($event)"
         (cdkDropListEntered)="entered($event)"
         (cdkDropListDropped)="drop($event)"
         fxLayout="column" fxLayoutGap="10px"
    >
      <div cdkDrag *ngFor="let element of display.content; let i = index;  trackBy: trackByKey" [cdkDragData]="element">
        <ng-container *ngTemplateOutlet="elementTemplate;context:{$implicit: element}"></ng-container>
      </div>
    </div>

    <div cdkDropList fxLayout="column" fxLayoutGap="10px"
         id="{{id}}-subfolders"
         class="folder-drop-list"
         [cdkDropListData]="getDropListData(display.subFolders)"
         [cdkDropListEnterPredicate]="canDropFolder"
         [cdkDropListConnectedTo]="dndConnections"
         (cdkDropListExited)="exited($event)"
         (cdkDropListEntered)="entered($event)"
         (cdkDropListDropped)="dropFolder($event)">
      <div *ngFor="let folder of display.subFolders; let i = index;  trackBy: trackByKey"
           cdkDrag [cdkDragData]="folder.folder">
        <app-folder [userId]="userId"
                    [display]="folder"
                    [elementTemplate]="elementTemplate"
                    [dndConnections]="dndConnections"
                    (connectDnD)="connectDnD.emit($event)"
                    id="{{id}}-{{i}}"></app-folder>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
