<nz-collapse>
  <nz-collapse-panel [nzHeader]="header" [nzActive]="expanded" (nzActiveChange)="expandedChange($event)">
    <ng-template #header>
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center" class="header">
        <div>{{display.folder.name}} ({{display.content.length}})</div>
        <button nz-button nzShape="circle" nzSize="small" (click)="$event.stopPropagation();rename()" nz-tooltip
                [nzTooltipTitle]="'FOLDERS.Rename_folder' | translate">
          <i nz-icon nzType="edit"></i>
        </button>
        <div fxFlex="1 1 auto"></div>
        <button (click)="$event.stopPropagation()"
                [clipboard]="getLink"
                [clipboardSuccessMessage]="'COMMON.Share_link_copied' | translate"
                [nzShape]="'circle'"
                [nzTooltipTitle]="'LIST.BUTTONS.Share_description' | translate"
                nz-button nz-tooltip nzType="primary">
          <i nz-icon nzType="share-alt"></i>
        </button>
        <a nz-button *ngIf="folderPath" (click)="$event.stopPropagation()" routerLink="/{{folderPath}}/{{display.folder.$key}}" nzShape="circle" nz-tooltip
           [nzTooltipTitle]="'FOLDERS.View_folder' | translate" nzType="primary">
          <i nz-icon nzType="folder-open"></i>
        </a>
        <button nz-button *ngIf="display.folder.authorId === userId" nzDanger
                nz-popconfirm [nzPopconfirmTitle]="'Confirmation' | translate" nzShape="circle"
                nz-tooltip [nzTooltipTitle]="'FOLDERS.Delete_folder' | translate"
                (click)="$event.stopPropagation()"
                (nzOnConfirm)="deleteFolder(display.folder)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </div>
    </ng-template>
    <div cdkDropList [cdkDropListConnectedTo]="dndConnections"
         [cdkDropListDisabled]="disableDnd"
         [cdkDropListEnterPredicate]="canDropElement"
         [id]="id" [cdkDropListData]="display.folder"
         (cdkDropListExited)="exited($event)"
         (cdkDropListEntered)="entered($event)"
         (cdkDropListDropped)="drop($event)"
         fxLayout="column" fxLayoutGap="10px">
      <div cdkDrag [cdkDragDisabled]="disableDnd" *ngFor="let element of display.content; let i = index;  trackBy: trackByKey" [cdkDragData]="element">
        <ng-container *ngTemplateOutlet="elementTemplate;context:{$implicit: element}"></ng-container>
      </div>
    </div>

    <div cdkDropList fxLayout="column" fxLayoutGap="10px"
         [cdkDropListDisabled]="disableDnd"
         id="{{id}}-subfolders"
         class="folder-drop-list"
         [cdkDropListData]="getDropListData(display.subFolders)"
         [cdkDropListEnterPredicate]="canDropFolder"
         [cdkDropListConnectedTo]="dndConnections"
         (cdkDropListExited)="exited($event)"
         (cdkDropListEntered)="entered($event)"
         (cdkDropListDropped)="dropFolder($event)">
      <div *ngFor="let folder of display.subFolders; let i = index;  trackBy: trackByKey"
           cdkDrag [cdkDragData]="folder.folder" [cdkDragDisabled]="disableDnd">
        <app-folder [userId]="userId"
                    [display]="folder"
                    [elementTemplate]="elementTemplate"
                    [dndConnections]="dndConnections"
                    [disableDnd]="disableDnd"
                    (connectDnD)="connectDnD.emit($event)"
                    id="{{id}}-{{i}}"></app-folder>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
