
:host ::ng-deep {
  .ant-tabs-content {
    overflow: auto;
    max-height: 100%;
  }

  .ant-card-body {
    padding: 10px;
  }
}

.custom-sound-toggle {
  margin-bottom: 5px;
}

.sound-preview {
  margin-bottom: 5px;
}

.upload-content {
  padding: 10px;
}

.clear-search {
  width: 200px;
}

.tabset {
  height: 100%;
}

.updater {
  padding-right: 50px;
}

.account-buttons {
  max-width: 250px;
}

.empty-label {
  > .ant-form-item-label {
    visibility: hidden;
  }
}

.color-picker {
  width: 60px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid black;
}

.color-container {
  position: relative;
  display: flex;
}

.custom-theme-editor {
  width: 300px;
}

.ignored-inventories {
  min-width: 200px;
}

.proxy-type {
  width: 100%;
}

.proxy-help {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.45);
}
