<nz-tabset nzTabPosition="left" [nzSelectedIndex]="selectedTab" class="tabset">
  <nz-tab [nzTitle]="'SETTINGS.General' | translate">
    <div fxLayout="column" fxLayoutGap="10px">
      <nz-form-item class="empty-label">
        <nz-form-label [nzSpan]="5"></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <button nz-button (click)="clearSearchHistory()" class="clear-search" fxFlexAlign="center center">
            {{'SETTINGS.Clear_search_history' | translate}}
          </button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">{{'COMMON.Language' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select [ngModel]="translate.currentLang" (ngModelChange)="setLanguage($event)">
            <nz-option *ngFor="let locale of availableLanguages" [nzLabel]="locale | uppercase"
                       [nzValue]="locale"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <ng-container *ngIf="user$ | async as user">
        <nz-form-item>
          <nz-form-label [nzSpan]="5">{{'SETTINGS.Theme' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select [ngModel]="settings.theme?.name" (ngModelChange)="setTheme($event)">
              <nz-option *ngFor="let theme of availableThemes" [nzLabel]="theme?.name"
                         [nzValue]="theme?.name"></nz-option>
              <nz-option *ngIf="user.patron || user.admin" [nzLabel]="'CUSTOM'"
                         [nzValue]="'CUSTOM'"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="empty-label" *ngIf="(user.patron || user.admin) && settings.theme?.name === 'CUSTOM'">
          <nz-form-label [nzSpan]="5">{{'SETTINGS.Theme' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <div fxLayout="column" fxLayoutGap="5px" class="custom-theme-editor">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                <div fxLayout="1 1 auto">{{'SETTINGS.COLORS.Background' | translate}}</div>
                <div class="color-container color-picker">
                  <div [(colorPicker)]="customTheme.background" (colorPickerChange)="saveCustomTheme()"
                       [style.background]="customTheme.background" class="color-picker"></div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                <div fxLayout="1 1 auto">{{'SETTINGS.COLORS.Primary' | translate}}</div>
                <div class="color-container color-picker">
                  <div [(colorPicker)]="customTheme.primary" (colorPickerChange)="saveCustomTheme()"
                       [style.background]="customTheme.primary" class="color-picker"></div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                <div fxLayout="1 1 auto">{{'SETTINGS.COLORS.Highlight' | translate}}</div>
                <div class="color-container color-picker">
                  <div [(colorPicker)]="customTheme.highlight" (colorPickerChange)="saveCustomTheme()"
                       [style.background]="customTheme.highlight" class="color-picker"></div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                <div fxLayout="1 1 auto">{{'SETTINGS.COLORS.Text' | translate}}</div>
                <div class="color-container color-picker">
                  <div [(colorPicker)]="customTheme.text" (colorPickerChange)="saveCustomTheme()"
                       [style.background]="customTheme.text" class="color-picker"></div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                <div fxLayout="1 1 auto">{{'SETTINGS.COLORS.Topbar' | translate}}</div>
                <div class="color-container color-picker">
                  <div [(colorPicker)]="customTheme.topbar" (colorPickerChange)="saveCustomTheme()"
                       [style.background]="customTheme.topbar" class="color-picker"></div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                <div fxLayout="1 1 auto">{{'SETTINGS.COLORS.Sidebar_trigger' | translate}}</div>
                <div class="color-container color-picker">
                  <div [(colorPicker)]="customTheme.trigger" (colorPickerChange)="saveCustomTheme()"
                       [style.background]="customTheme.trigger" class="color-picker"></div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                <div fxLayout="1 1 auto">{{'SETTINGS.COLORS.Sidebar_trigger_hover' | translate}}</div>
                <div class="color-container color-picker">
                  <div [(colorPicker)]="customTheme.triggerHover" (colorPickerChange)="saveCustomTheme()"
                       [style.background]="customTheme.triggerHover" class="color-picker"></div>
                </div>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <nz-form-item class="empty-label">
        <nz-form-label [nzSpan]="5"></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <label nz-checkbox
                 [(ngModel)]="settings.noPanelBorders">{{'SETTINGS.no_panel_borders' | translate}}</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="empty-label">
        <nz-form-label [nzSpan]="5"></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <label nz-checkbox
                 [(ngModel)]="settings.showAllAlarms">{{'SETTINGS.Show_all_alarms' | translate}}</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="empty-label">
        <nz-form-label [nzSpan]="5"></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <label nz-checkbox
                 [(ngModel)]="settings.disableCrossWorld">{{'SETTINGS.Disable_cross_world_prices' | translate}}</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="empty-label">
        <nz-form-label [nzSpan]="5"></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <label nz-checkbox
                 [(ngModel)]="settings.alwaysHQLeves">{{'SETTINGS.Always_HQ_leves' | translate}}</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="empty-label">
        <nz-form-label [nzSpan]="5"></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <label nz-checkbox
                 [(ngModel)]="settings.disableSearchHistory">{{'SETTINGS.Disable_search_history' | translate}}</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="empty-label">
        <nz-form-label [nzSpan]="5"></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <label nz-checkbox
                 [(ngModel)]="settings.disableSearchDebounce">{{'SETTINGS.Disable_search_debounce' | translate}}</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">{{'SETTINGS.Amount_display_mode' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-switch
            [(ngModel)]="settings.displayRemaining"
            [nzCheckedChildren]="checkedTemplate"
            [nzUnCheckedChildren]="unCheckedTemplate"
          ></nz-switch>
          <ng-template #checkedTemplate>{{'SETTINGS.Amount_display_mode_remaining' | translate}}</ng-template>
          <ng-template #unCheckedTemplate>{{'SETTINGS.Amount_display_mode_total' | translate}}</ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">{{'SETTINGS.Preferred_copy_type' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select [(ngModel)]="settings.preferredCopyType">
            <nz-option [nzLabel]="'SETTINGS.COPY_TYPE.Classic' | translate" [nzValue]="'classic'"></nz-option>
            <nz-option [nzLabel]="'SETTINGS.COPY_TYPE.Isearch' | translate" [nzValue]="'isearch'"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">{{'PERMISSIONS.Default_permission_level' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select [(ngModel)]="settings.defaultPermissionLevel">
            <nz-option [nzLabel]="'NONE' | translate" [nzValue]="1"></nz-option>
            <nz-option [nzLabel]="'READ' | translate" [nzValue]="10"></nz-option>
            <nz-option [nzLabel]="'PARTICIPATE' | translate" [nzValue]="20"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">{{'SETTINGS.Db_comments_position' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select [(ngModel)]="settings.dbCommentsPosition">
            <nz-option [nzLabel]="'COMMON.Top' | translate" [nzValue]="'TOP'"></nz-option>
            <nz-option [nzLabel]="'COMMON.Bottom' | translate" [nzValue]="'BOTTOM'"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="empty-label">
        <nz-form-label [nzSpan]="5"></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <label nz-checkbox
                 [(ngModel)]="settings.autoMarkAsCompleted">{{'SETTINGS.Auto_mark_as_done_in_log' | translate}}</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!platform.isDesktop()" class="empty-label">
        <nz-form-label [nzSpan]="5"></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <label nz-checkbox
                 [(ngModel)]="settings.autoOpenInDesktop">{{'SETTINGS.Auto_open_in_desktop' | translate}}</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="loggedIn$ | async" class="empty-label">
        <nz-form-label [nzSpan]="5"></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <label nz-checkbox
                 [(ngModel)]="settings.itemTagsEnabled">{{'SETTINGS.Enable_item_tags' | translate}}</label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="loggedIn$ | async" class="empty-label">
        <nz-form-label [nzSpan]="5"></nz-form-label>
        <nz-form-control [nzSpan]="12">
          <label nz-checkbox
                 [(ngModel)]="settings.showCopyOnOwnList">{{'SETTINGS.Show_copy_list_own_list' | translate}}</label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">{{'SETTINGS.Starting_place' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select [(ngModel)]="settings.startingPlace">
            <nz-option [nzLabel]="place.placenameId | placeName | i18n" [nzValue]="place.id"
                       *ngFor="let place of startingPlaces"></nz-option>
          </nz-select>
          <nz-form-explain>{{'SETTINGS.Starting_place_explain' | translate}}</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">{{'SETTINGS.Free_aetheryte' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select [(ngModel)]="settings.freeAetheryte"
                     nzAllowClear
                     nzShowSearch
                     style="width: 100%">
            <nz-option [nzLabel]="(aetheryte.id | aetheryteName | i18n) || (aetheryte.nameid | placeName | i18n)"
                       [nzValue]="aetheryte.nameid"
                       *ngFor="let aetheryte of allAetherytes"></nz-option>
          </nz-select>
          <nz-form-explain>{{'SETTINGS.Starting_place_explain' | translate}}</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">{{'SETTINGS.Favorite_aetherytes' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select
            [nzMaxMultipleCount]="4"
            nzAllowClear
            style="width: 100%"
            nzMode="multiple"
            [(ngModel)]="favoriteAetherytes"
            (ngModelChange)="settings.favoriteAetherytes = favoriteAetherytes">
            <nz-option [nzLabel]="(aetheryte.id | aetheryteName | i18n) || (aetheryte.nameid | placeName | i18n)"
                       [nzValue]="aetheryte.nameid"
                       *ngFor="let aetheryte of allAetherytes"></nz-option>
          </nz-select>
          <nz-form-explain>{{'SETTINGS.Starting_place_explain' | translate}}</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </nz-tab>
  <nz-tab [nzTitle]="'SETTINGS.Account' | translate" *ngIf="loggedIn$ | async">
    <div fxLayout="column" fxLayoutGap="10px" class="account-buttons">
      <button nz-button nz-popconfirm [nzTitle]="'SETTINGS.Reset_password_warning'" (nzOnConfirm)="resetPassword()">
        {{'SETTINGS.Reset_password' | translate}}
      </button>
      <ng-container *ngIf="user$ | async as user">
        <div>UserID: {{user.$key}}</div>
        <button nz-button nzType="primary" (click)="patreonOauth()"
                *ngIf="user.patreonToken === undefined; else connectedWithPatreon">
          {{'SETTINGS.Connect_with_patreon' | translate}}
        </button>
        <ng-template #connectedWithPatreon>
          <p>
            {{'SETTINGS.Connected_with_patreon' | translate}}
          </p>
        </ng-template>
        <div *ngIf="user.patron || user.admin" fxLayout="column" fxLayoutGap="5px">
          <nz-input-group>
            <nz-form-label>{{'SETTINGS.Nickname' | translate}}</nz-form-label>
            <nz-form-control [nzValidateStatus]="nicknameAvailable === false ? 'error' : null">
              <input type="text" nz-input placeholder="Nickname" #nickname [ngModel]="user.nickname"
                     (ngModelChange)="nicknameAvailable = undefined">
              <nz-form-explain
                *ngIf="nicknameAvailable === false">{{'SETTINGS.Nickname_used' | translate}}</nz-form-explain>
            </nz-form-control>
          </nz-input-group>
          <button nz-button *ngIf="!nicknameAvailable && nickname.value !== user.nickname" nzBlock
                  (click)="checkNicknameAvailability(nickname.value)">Verify
          </button>
          <button nz-button *ngIf="nicknameAvailable && nickname.value !== user.nickname" nzBlock
                  (click)="setNickname(user, nickname.value)" nzType="primary">Apply
          </button>
        </div>
      </ng-container>
    </div>
  </nz-tab>
  <nz-tab [nzTitle]="'SETTINGS.Desktop' | translate" *ngIf="platform.isDesktop()">
    <div fxLayout="column" fxLayoutGap="5px">
      <div>
        <label nz-checkbox [(ngModel)]="alwaysOnTop" (ngModelChange)="alwaysOnTopChange($event)">
          {{'SETTINGS.Always_on_top' | translate}}
        </label>
      </div>
      <div>
        <label nz-checkbox [(ngModel)]="settings.clickthroughOverlay">
          {{'SETTINGS.Clickthrough_overlay' | translate}}
        </label>
      </div>
      <button nz-button (click)="openDesktopConsole()">
        {{'SETTINGS.Show_devtools' | translate}}
      </button>
      <button nz-button (click)="clearCache()">
        {{'SETTINGS.Clear_cache' | translate}}
      </button>
    </div>
  </nz-tab>
</nz-tabset>
