<div class="top-part">
  <nz-select class="job" *ngIf="jobList$ | async as jobList" [ngModel]="job$.value" nzPlaceHolder="Select a job"
    (ngModelChange)="setJob($event)">
    <nz-option *ngFor="let job of jobList" [nzValue]="job.id" [nzLabel]="job.id | jobAbbr | i18n"></nz-option>
  </nz-select>

  <input class="search" type="text" placeholder="{{'LEVEQUESTS.Levequest_name' | translate}}" #searchInput
    nz-input [ngModel]="query$.value" (keyup)="query$.next(searchInput.value)" autofocus>

  <nz-input-group class="levels" nzCompact>
    <nz-input-number [ngModel]="levelMin$.value" [nzMin]="1" [nzMax]="70" [nzPrecision]="0"
      (ngModelChange)="setLevel(levelMin$, $event)"></nz-input-number>
    <input type="text" disabled nz-input placeholder="-">
    <nz-input-number [ngModel]="levelMax$.value" [nzMin]="1" [nzMax]="70" [nzPrecision]="0"
      (ngModelChange)="setLevel(levelMax$, $event)"></nz-input-number>
  </nz-input-group>
</div>
<div *ngIf="showIntro">
  TODO Intro
</div>
<div *ngIf="results$ | async as results">
  <div class="addition-buttons">
    <label nz-checkbox [(ngModel)]="allSelected" (ngModelChange)="selectAll(results, $event)">
      {{'Select_all' | translate}}
    </label>
    <button nz-button (click)="addSelectedLevesToList(results)">{{'LISTS.Add_selection' | translate}}</button>
  </div>
  <div class="results">
    <app-page-loader [loading]="loading">
      <nz-list [nzDataSource]="results" [nzRenderItem]="leve" [nzItemLayout]="'horizontal'">
        <ng-template #leve let-leve>
          <nz-list-item [nzContent]="content"
                        [nzActions]="[addToList, createQuickListAction]">
            <label nz-checkbox class="select-box" [(ngModel)]="leve.selected"
              (ngModelChange)="updateAllSelected(results)"></label>
            <nz-list-item-meta
              [nzTitle]="leve.name"
              [nzAvatar]="leve.itemIcon | xivapiIcon"
              [nzDescription]="description">
              <ng-template #description>
                  {{leve.itemId | itemName | i18n}}
                  <span *ngIf="leve.itemQuantity > 1">
                    x {{leve.itemQuantity}}
                  </span>
              </ng-template>
            </nz-list-item-meta>
            <ng-template #content>
              <div nz-row>
                <div nz-col nzSpan="4" class="list-center">
                  <b>{{leve.level}} {{leve.jobId | jobAbbr | i18n}}</b>
                </div>
                <div nz-col nzSpan="8">
                  <b>{{leve.startZoneId | placeName | i18n}}</b>
                  <app-map-position [marker]="leve.startCoordinates" [zoneId]="leve.startZoneId"></app-map-position>
                </div>
                <div nz-col nzSpan="4">
                  <b>EXP:</b> {{leve.exp | number}}<br />
                  <b>Gil:</b> {{leve.gil | number}}
                </div>
                <div nz-col nzSpan="8">
                  <nz-input-number class="amount" [nzMin]="1" [nzMax]="999" [nzPrecision]="0"
                    [(ngModel)]="leve.amount"></nz-input-number>
                  <label nz-checkbox class="all-deliveries" [(ngModel)]="leve.allDeliveries"
                    *ngIf="leve.repeats > 0">
                    {{'LEVEQUESTS.All_deliveries' | translate:({value: leve.repeats + 1})}}
                  </label>
                </div>
              </div>
            </ng-template>
            <ng-template #addToList>
              <button nz-button [nzType]="'primary'" [nzShape]="'circle'" nz-tooltip
                      [nzTitle]="'LEVEQUESTS.Add_to_list' | translate" (click)="addLevesToList([leve])">
                <i class="anticon anticon-plus"></i>
              </button>
            </ng-template>
            <ng-template #createQuickListAction>
              <button nz-button [nzType]="'primary'" [nzShape]="'circle'" nz-tooltip
                      [nzTitle]="'Quick_list_create' | translate" (click)="createQuickList(leve)">
                <i class="anticon anticon-clock-circle-o"></i>
              </button>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </app-page-loader>
  </div>
  <div *ngIf="results.length === 0">
    <app-fullpage-message>{{'LEVEQUESTS.No_results' | translate}}</app-fullpage-message>
  </div>
</div>

<ng-template #notificationRef let-notification>
  <div class="ant-notification-notice-content ant-notification-notice-with-icon">
    <i class="ant-notification-notice-icon ant-notification-notice-icon-success anticon anticon-check-circle-o"></i>
    <div>
      <div class="ant-notification-notice-message">{{'COMMON.Success' | translate}}</div>
      <div class="ant-notification-notice-description">
        <span *ngIf="itemsAdded === 1">{{'Recipe_Added' | translate: {listname: modifiedList.name} }}</span>
        <span *ngIf="itemsAdded !== 1">{{'Recipes_Added' | translate: {itemcount: itemsAdded, listname: modifiedList.name} }}</span>
      </div>
      <span class="ant-notification-notice-btn">
            <a nz-button nzType="primary" (click)="notification.close();" routerLink="/list/{{modifiedList.$key}}">
              <span>{{'Open' | translate}}</span>
            </a>
          </span>
    </div>
  </div>
</ng-template>
