<div nz-row class="top-part" fxLayout="row wrap">
  <div nz-col [nzXs]="{ span: 10, order: 1 }" [nzMd]="{ span: 4 }" [nzXXl]="{ span: 3 }">
    <nz-select class="job" [ngModel]="job$.value" [nzAllowClear]="true"
               nzShowSearch
               [nzPlaceHolder]="'SIMULATOR.CONFIGURATION.Select_job' | translate" (ngModelChange)="setJob($event)">
      <nz-option *ngFor="let job of jobList" [nzValue]="job.id" [nzLabel]="job.id | jobAbbr | i18n" nzCustomContent>
        <img src="https://garlandtools.org/db/images/{{job.abbreviation}}.png" alt="" class="job-icon">
        {{job.id | jobAbbr | i18n}}
      </nz-option>
    </nz-select>
  </div>

  <div nz-col [nzXs]="{ span: 24, order: 3 }" [nzMd]="{ span: 10, offset: 1, order: 2 }" [nzXXl]="{ span: 9 }">
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input type="text" class="search" placeholder="{{'LEVEQUESTS.Levequest_name' | translate}}" #searchInput
             nz-input [ngModel]="query$.value" (keyup)="query$.next(searchInput.value)" autofocus>
      <ng-template #suffixTemplate>
        <i
          nz-icon
          nz-tooltip
          class="ant-input-clear-icon"
          nzTheme="fill"
          nzType="close-circle"
          *ngIf="query$ | async"
          (click)="query$.next('')"
        ></i>
      </ng-template>
    </nz-input-group>
  </div>

  <div nz-col [nzXs]="{ span: 13, offset: 1, order: 2 }" [nzMd]="{ span: 5, offset: 1, order: 3 }"
       [nzXXl]="{ span: 3 }">
    <nz-input-group class="levels" nzCompact>
      <nz-input-number [ngModel]="levelMin$.value" [nzMin]="1" [nzMax]="80" [nzPrecision]="0"
                       (ngModelChange)="setLevel(levelMin$, $event)"></nz-input-number>
      <input type="text" disabled nz-input placeholder="-">
      <nz-input-number [ngModel]="levelMax$.value" [nzMin]="levelMin$.value" [nzMax]="80" [nzPrecision]="0"
                       (ngModelChange)="setLevel(levelMax$, $event)"></nz-input-number>
    </nz-input-group>
  </div>
</div>
<div *ngIf="showIntro" fxLayout="column" fxLayoutAlign="center center" class="intro">
  <h2>{{'LEVEQUESTS.INTRO.Title' | translate}}</h2>
  <p>{{'LEVEQUESTS.INTRO.First_line' | translate}}</p>
  <p>{{'LEVEQUESTS.INTRO.Second_line' | translate}}</p>
  <p>{{'LEVEQUESTS.INTRO.Third_line' | translate}}</p>
</div>
<div *ngIf="results$ | async as results">
  <div class="level-compute-params" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center"
       fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <nz-switch nzSize="small" [(ngModel)]="computeExp"></nz-switch>
        <div>{{'LEVEQUESTS.Compute_exp' | translate}}</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <nz-switch nzSize="small" [(ngModel)]="globalExp" (ngModelChange)="globalExpChange$.next($event)"
                   [nzDisabled]="!computeExp"></nz-switch>
        <div>{{'LEVEQUESTS.Global_exp' | translate}}</div>
      </div>
    </div>
    <div>Lvl</div>
    <nz-input-number [(ngModel)]="startingLevel" [nzMin]="1" [nzMax]="79"
                     [nzPrecision]="0"></nz-input-number>
    <div>Exp</div>
    <nz-input-number [(ngModel)]="startingExp" [nzMin]="0" [nzMax]="getMaxExp(startingLevel) - 1"
                     [nzPrecision]="0"></nz-input-number>
  </div>
  <div class="additional-buttons">
    <label nz-checkbox [(ngModel)]="allSelected" (ngModelChange)="selectAll(results, $event)">
      {{'Select_all' | translate}}
    </label>
    <button nz-button (click)="addSelectedLevesToList(results)">{{'LISTS.Add_selection' | translate}}</button>
  </div>
  <div class="results">
    <app-page-loader [loading]="loading">
      <div fxLayout="column" fxLayoutGap="5px">
        <div *ngFor="let leve of results;let odd=odd" class="leve-row" [class.odd]="odd">
          <div fxLayout="row wrap" fxFlex="1 1 auto" fxLayoutAlign="flex-start center" nz-row>
            <div fxLayout="row wrap" fxLayoutAlign="flex-start center" fxLayoutGap="5px" nz-col nzSm="4">
              <label nz-checkbox class="select-box" [(ngModel)]="leve.selected"
                     (ngModelChange)="updateAllSelected(results)"></label>
              <div>
                <app-item-icon [icon]="leve.itemIcon | xivapiIcon" [itemId]="leve.itemId" [width]="32"></app-item-icon>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
                  <div>{{leve.name | i18n}}</div>
                  <app-db-button type="leve" [id]="leve.id"></app-db-button>
                </div>
                <div>
                  {{leve.itemId | itemName | i18n}}
                  <span *ngIf="leve.itemQuantity > 1">
                    x {{leve.itemQuantity}}
                  </span>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxFlex="1 1 auto">
              <div nz-row>
                <div class="list-center" nz-col nzSm="2">
                  <b>{{leve.level}} {{leve.jobId | jobAbbr | i18n}}</b>
                </div>
                <div fxLayout="column" fxLayoutAlign="flex-start center" nz-col nzSm="8">
                  <b>{{'LEVEQUESTS.Deliver_to' | translate: { placename: leve.deliveryPlaceId | placeName | i18n } }}</b>
                  <div>
                    <a href="https://ffxiv.gamerescape.com/wiki/{{leve.name.en.split(' ').join('_')}}"
                       target="_blank">
                      {{'LEVEQUESTS.More_on_gamerescape' | translate}}
                    </a>
                  </div>
                </div>
                <div nz-col nzSm="4">
                  <b>EXP:</b> {{getLeveExp(leve) | number}}<br/>
                  <b>Gil:</b> {{getLeveGil(leve) | number}}
                </div>
                <div nz-col nzSm="6">
                  <label nz-checkbox class="hq-checkbox" [(ngModel)]="leve.hq">
                    {{'Hq' | translate}}
                  </label>
                  <nz-input-number class="amount" [nzMin]="0" [nzMax]="999" [nzPrecision]="0"
                                   [(ngModel)]="leve.amount"></nz-input-number>
                  <label nz-checkbox class="all-deliveries" [(ngModel)]="leve.allDeliveries"
                         *ngIf="leve.repeats > 0">
                    {{'LEVEQUESTS.All_deliveries' | translate:({ value: leve.repeats + 1 })}}
                  </label>
                </div>
                <div nz-col nzSm="4" class="actions">
                  <button nz-button nzType="primary" nzShape="circle" nz-tooltip
                          [nzTitle]="'LEVEQUESTS.Add_to_list' | translate" (click)="addLevesToList([leve])">
                    <i nz-icon nzType="plus"></i>
                  </button>
                  <button nz-button nzType="primary" nzShape="circle" nz-tooltip
                          [nzTitle]="'Quick_list_create' | translate" (click)="createQuickList(leve)">
                    <i nz-icon nzType="clock-circle-o"></i>
                  </button>
                </div>
              </div>
              <ng-container *ngIf="computeExp">
                <div *ngIf="getExp(getLeveExp(leve), results) as resultExp" fxLayout="row" fxLayoutGap="5px"
                     fxLayoutAlign="center center">
                  <div>Lvl.{{resultExp.level}}</div>
                  <nz-progress nz-tooltip
                               nzTitle="{{resultExp.exp | number}}/{{getMaxExp(resultExp.level) | number}}"
                               fxFlex="1 1 auto"
                               [nzPercent]="resultExp.expPercent"
                               [nzShowInfo]="false"></nz-progress>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button nz-button (click)="addSelectedLevesToList(results)">{{'LISTS.Add_selection' | translate}}</button>
        </div>
      </div>
    </app-page-loader>
  </div>
  <div *ngIf="results.length === 0">
    <app-fullpage-message>{{'LEVEQUESTS.No_results' | translate}}</app-fullpage-message>
  </div>
</div>

<ng-template #notificationRef let-notification>
  <div class="ant-notification-notice-content ant-notification-notice-with-icon">
    <span class="ant-notification-notice-icon"><i nz-icon nzType="circle-o"
                                                  class="ant-notification-notice-icon-success"></i></span>
    <div>
      <div class="ant-notification-notice-message">{{'COMMON.Success' | translate}}</div>
      <div class="ant-notification-notice-description">
        <span *ngIf="itemsAdded === 1">{{'Recipe_Added' | translate: { listname: modifiedList.name } }}</span>
        <span *ngIf="itemsAdded !== 1">{{'Recipes_Added' | translate: {
          itemcount: itemsAdded,
          listname: modifiedList.name
        } }}</span>
      </div>
      <span class="ant-notification-notice-btn">
            <a nz-button nzType="primary" (click)="notification.close();" routerLink="/list/{{modifiedList.$key}}">
              <span>{{'Open' | translate}}</span>
            </a>
          </span>
    </div>
  </div>
</ng-template>
