<div *ngIf="lists$ | async as lists">
  <h3>{{'LISTS.Your_lists' | translate}}</h3>
  <ng-container *ngTemplateOutlet="listsDisplay; context: {$implicit: lists}"></ng-container>
</div>

<div *ngFor="let workshopDisplay of workshops$ | async">
  <h4>{{workshopDisplay.workshop.name}}</h4>
  <ng-container *ngTemplateOutlet="listsDisplay; context: {$implicit: workshopDisplay.lists}"></ng-container>
</div>

<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start center">
  <button (nzOnConfirm)="deleteLists()" nz-popconfirm nzDanger [nzPopconfirmTitle]="'Confirmation' | translate" [disabled]="selectedLists.length < 1" nz-button>{{'Confirm' | translate}}
  </button>
</div>

<ng-template #listsDisplay let-lists>
  <ng-container *ngIf="userId$ | async as userId">
    <nz-list [nzDataSource]="lists" [nzRenderItem]="listTemplate">
      <ng-template #listTemplate let-list>
        <nz-list-item>
          <nz-list-item-meta [nzAvatar]="checkbox" [nzDescription]="description" [nzTitle]="list.name">
            <ng-template #checkbox>
              <label (ngModelChange)="setSelection(list, $event)" [ngModel]="false" [nzDisabled]="list.authorId !== userId"
                     nz-checkbox></label>
            </ng-template>
            <ng-template #description>
              <nz-tag *ngIf="list.ephemeral" [nzColor]="'volcano'" [nzTooltipTitle]="'Ephemeral_list' | translate" nz-tooltip>
                {{'Ephemeral_tag' | translate}}
              </nz-tag>
              <nz-tag *ngIf="list.public" [nzColor]="'geekblue'" [nzTooltipTitle]="'LIST_DETAILS.HELP.Public_list' | translate"
                      nz-tooltip>
                {{'Public_list' | translate}}
              </nz-tag>
              <nz-tag *ngFor="let tag of list.tags">{{('LIST_TAGS.' + tag) | uppercase | translate}}</nz-tag>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </ng-container>
</ng-template>
