<div class="tooltip-container">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start center">
    <div class="icon">
      <img src="https://xivapi.com{{action.Icon}}" alt="{{action.ID | actionName | i18n}}">
    </div>
    <div class="name">
      <p>{{action.ID | actionName | i18n}}</p>
    </div>
  </div>
  <div class="description">
    <span [innerHtml]="action | xivapiI18n: 'Description' | xivUIText"></span>
  </div>
  <div class="details">
    <div nz-row nzGutter="10" *ngFor="let row of details">
      <div nz-col [nzXs]="12">
        <p class="detail-name">
          {{row.name | translate}}
        </p>
      </div>
      <div nz-col [nzXs]="12">
        <p class="detail-value" *ngIf="!row.requiresPipe">
          {{row.value}}
        </p>
        <p class="detail-value" *ngIf="row.requiresPipe">
          {{row.value | xivapiI18n}}
        </p>
      </div>
    </div>
  </div>
  <div class="xivapi">xivapi.com</div>
</div>
