<ng-container *ngIf="rotation$ | async as rotation">
  <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column" *ngIf="!rotation.notFound; else notFound">
    <div class="buttons" fxLayout.lt-md="row wrap" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px">
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip
              *ngIf="rotation.$key !== undefined"
              [nzTitle]="'SIMULATOR.Save_as_new' | translate" (click)="saveRotationAsNew(rotation)">
        <i nz-icon type="copy"></i>
      </button>
      <button nz-button *ngIf="(permissionLevel$ | async) >= 30" nzType="primary" nzShape="circle" nz-tooltip
              [nzTitle]="'SIMULATOR.Persist' | translate" (click)="saveRotation(rotation)">
        <i nz-icon type="save"></i>
      </button>
      <button nz-button *ngIf="custom" nzType="primary" nzShape="circle" nz-tooltip
              (click)="changeRecipe(rotation)"
              [nzTitle]="'SIMULATOR.Convert_rotation' | translate">
        <i nz-icon type="redo"></i>
      </button>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip [nzTitle]="'SIMULATOR.Reset' | translate"
              nz-popconfirm
              (nzOnConfirm)="actions$.next([]);this.dirty = true;dirtyFacade.removeEntry('simulator', dirtyScope.PAGE);">
        <i nz-icon type="reload"></i>
      </button>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip
              [nzTitle]="'SIMULATOR.Import_from_crafting_optimizer' | translate"
              (click)="importFromCraftingOptimizer()">
        <i nz-icon type="download"></i>
      </button>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip
              [disabled]="actions$.value.length === 0"
              ngxClipboard [cbContent]="getCraftOptExportString()"
              (cbOnSuccess)="success('SIMULATOR.Export_copied')"
              [nzTitle]="'SIMULATOR.Export_crafting_optimizer' | translate">
        <i nz-icon type="upload"></i>
      </button>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip
              (click)="importFromXIVMacro()"
              [nzTitle]="'SIMULATOR.Import_macro' | translate">
        <i nz-icon type="select"></i>
      </button>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip
              [disabled]="actions$.value.length === 0"
              *ngIf="simulation$ | async as simulation"
              (click)="openMacroPopup(simulation)"
              [nzTitle]="'SIMULATOR.Generate_ingame_macro' | translate">
        <span class="text-icon">XIV</span>
      </button>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip
              *ngIf="simulation$ | async as simulation"
              (click)="openMinStatsPopup(simulation)"
              [nzTitle]="'SIMULATOR.Min_stats' | translate">
        <i nz-icon type="safety-certificate"></i>
      </button>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip
              *ngIf="result$ | async as resultData"
              (click)="openStepByStepReportPopup(resultData)"
              [nzTitle]="'SIMULATOR.Step_by_step_report' | translate">
        <i nz-icon type="ordered-list"></i>
      </button>
      <button nz-button (click)="$event.stopPropagation()" [nzShape]="'circle'" [nzType]="'primary'" nz-tooltip
              *ngIf="rotation.$key"
              [nzTitle]="'SIMULATOR.Share_button_tooltip' | translate"
              ngxClipboard [cbContent]="getLink(rotation)" (cbOnSuccess)="afterLinkCopy()">
        <i nz-icon type="share-alt"></i>
      </button>
      <ng-container *ngIf="tips$ | async as tips">
        <nz-badge [nzCount]="tips.length">
          <button nz-button *ngIf="result$ | async as result" (click)="showRotationTips(tips, result)"
                  [nzShape]="'circle'"
                  [nzType]="'primary'" nz-tooltip
                  [disabled]="tips?.length === 0"
                  [nzTitle]="'SIMULATOR.Rotation_tips' | translate">
            <i nz-icon type="bulb"></i>
          </button>
        </nz-badge>
      </ng-container>
      <app-favorite-button *ngIf="rotation.$key" type="rotations" [key]="rotation.$key"></app-favorite-button>
      <ng-container *ngIf="simulation$ | async as simulation">
        <ng-container *ngIf="crafterStats$ | async as stats">
          <button nz-button (click)="openCommunityRotationConfiguration(rotation, simulation, stats)"
                  [nzShape]="'circle'"
                  nzType="primary"
                  nz-tooltip
                  *ngIf="rotation.$key && ((permissionLevel$ | async) === 40)"
                  [nzTitle]="'SIMULATOR.COMMUNITY_ROTATIONS.Configuration_popup' | translate">
            <img class="man-attacked-by-tetris-block button-icon" src="./assets/icons/thing.svg"/>
          </button>
        </ng-container>
      </ng-container>
    </div>
    <div fxLayout="column" fxLayoutGap="10px" fxFlex="1 1 auto" class="simulator">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
        <nz-tag *ngIf="rotation.public" [nzColor]="'geekblue'">
          {{'SIMULATOR.COMMUNITY_ROTATIONS.Community_rotation' | translate}}
        </nz-tag>
        <div>{{rotation.getName()}}<span *ngIf="dirty">*</span></div>
        <button nz-button nzShape="circle" nzSize="small" nz-tooltip [nzTitle]="'Edit' | translate"
                (click)="renameRotation(rotation)" [disabled]="(permissionLevel$ | async) < 40">
          <i nz-icon type="edit"></i>
        </button>
        <button nz-button nzShape="circle" nzSize="small" nz-tooltip [nzTitle]="'SIMULATOR.Change_rotation' | translate"
                (click)="changeRotation()">
          <i nz-icon iconfont="icon-exchange"></i>
        </button>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center" nz-tooltip
             [nzTitle]="'SIMULATOR.Safe_mode_tooltip' | translate">
          <div>
            <nz-switch [ngModel]="safeMode$ | async"
                       (ngModelChange)="safeMode$.next($event);saveSafeMode($event)"></nz-switch>
          </div>
          <div>{{'SIMULATOR.Safe_mode' | translate}}</div>
        </div>
      </div>
      <nz-collapse>
        <nz-collapse-panel [nzHeader]="'SIMULATOR.Configuration' | translate"
                           [nzActive]="custom || (loggedIn$ | async) === false">
          <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="space-evenly" fxLayout.lt-md="column"
               fxLayoutGap.lt-md="16px" fxLayoutAlign.lt-md="center center">
            <div [fxFlex]="custom?'1 1 48%':'1 0 30%'" fxLayout="column">
              <h3>{{'SIMULATOR.CONFIGURATION.Job' | translate}}</h3>
              <nz-select [nzDisabled]="!custom" [ngModel]="(stats$ | async)?.jobId"
                         (ngModelChange)="customJob$.next($event)" class="job-selector">
                <nz-option *ngFor="let job of [8,9,10,11,12,13,14,15]" [nzValue]="job"
                           [nzLabel]="job | jobAbbr | i18n" nzCustomContent>
                  <img src="https://garlandtools.org/db/images/{{(job | jobAbbr)?.en}}.png" alt="" class="job-icon">
                  {{job | jobAbbr | i18n}}
                </nz-option>
              </nz-select>
              <nz-alert nzType="warning" nzShowIcon *ngIf="(stats$ | async)?.craftsmanship === 0"
                        [nzMessage]="((loggedIn$ | async)?'SIMULATOR.CONFIGURATION.Job_not_configured':
                      'SIMULATOR.CONFIGURATION.Job_not_configured_anonymous') | translate">
              </nz-alert>
              <form [formGroup]="statsForm" (ngSubmit)="applyStats()" *ngIf="bonuses$ | async as bonuses"
                    fxLayout="column"
                    id="ngForm"
                    fxLayoutAlign="space-between">
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutAlign.lt-md="center center"
                     fxLayoutAlign="space-evenly center">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="craftsmanship">{{'SIMULATOR.CONFIGURATION.Craftsmanship' |
                      translate}}
                    </nz-form-label>
                    <nz-form-control>
                      <nz-input-group nzAddOnAfter="+{{bonuses.craftsmanship}}">
                        <nz-input-number class="input-number-with-addon" [nzMin]="0" id="craftsmanship"
                                         formControlName="craftsmanship"></nz-input-number>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="control">{{'SIMULATOR.CONFIGURATION.Control' | translate}}
                    </nz-form-label>
                    <nz-form-control>
                      <nz-input-group nzAddOnAfter="+{{bonuses.control}}">
                        <nz-input-number class="input-number-with-addon" [nzMin]="0" id="control"
                                         formControlName="control"></nz-input-number>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="cp">{{'SIMULATOR.Cp_amount' | translate}}</nz-form-label>
                    <nz-form-control>
                      <nz-input-group nzAddOnAfter="+{{bonuses.cp}}">
                        <nz-input-number class="input-number-with-addon" [nzMin]="0" id="cp"
                                         formControlName="cp"></nz-input-number>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutAlign.lt-md="center center"
                     fxLayoutAlign="space-evenly center">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="level">{{'SIMULATOR.Level' | translate}}</nz-form-label>
                    <nz-form-control>
                      <nz-input-number [nzMin]="0" id="level" formControlName="level"></nz-input-number>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control>
                      <label nz-checkbox id="specialist"
                             formControlName="specialist"
                             (click)="toggleSpecialist()">{{'SIMULATOR.CONFIGURATION.Specialist'
                        | translate}}</label>
                      <nz-form-extra>{{'SIMULATOR.CONFIGURATION.Quest_warning' | translate}}</nz-form-extra>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </form>
              <div fxLayout="column" fxLayoutGap="5px" class="apply">
                <button nz-button nzType="primary" nzBlock type="submit" form="ngForm">
                  {{'SIMULATOR.CONFIGURATION.Apply_stats' | translate}}
                </button>
                <button nz-button nzBlock (click)="saveSet()" [disabled]="!statsForm.dirty" *ngIf="loggedIn$ | async">
                  {{'SIMULATOR.CONFIGURATION.Save_on_profile' | translate}}
                </button>
              </div>
            </div>
            <div *ngIf="!custom && hqIngredientsData$ | async as hqIngredientsData" fxFlex="1 1 30%"
                 fxLayout="column" class="ingredients">
              <h3>
                {{'SIMULATOR.CONFIGURATION.Ingredients' | translate}}
                <span *ngIf="startingQuality$ | async as startingQuality">({{startingQuality}})</span>
              </h3>
              <nz-list [nzDataSource]="hqIngredientsData"
                       [nzRenderItem]="hqIngredientTemplate">
                <ng-template #hqIngredientTemplate let-ingredient>
                  <nz-list-item [nzContent]="content">
                    <nz-list-item-meta [nzTitle]="ingredient.id | itemName | i18n"
                                       [nzDescription]="ingredient.quality | floor"></nz-list-item-meta>
                    <ng-template #content>
                      <nz-form-control>
                        <nz-input-group nzAddOnAfter="/ {{ingredient.max}}">
                          <nz-input-number class="input-number-with-addon" [nzMin]="0"
                                           [(ngModel)]="ingredient.amount"
                                           [nzMax]="ingredient.max"></nz-input-number>
                        </nz-input-group>
                      </nz-form-control>
                    </ng-template>
                  </nz-list-item>
                </ng-template>
              </nz-list>
              <div class="apply">
                <button nz-button nzType="primary" nzBlock (click)="hqIngredients = hqIngredientsData">
                  {{'SIMULATOR.CONFIGURATION.Apply_ingredients' | translate}}
                </button>
              </div>
            </div>
            <div [fxFlex]="custom?'1 1 48%':'1 0 30%'" *ngIf="crafterStats$ | async as crafterStats" fxLayout="column">

              <h3>{{'SIMULATOR.CONFIGURATION.Consumables' | translate}}</h3>
              <div>
                <div fxLayout="row" fxLayoutGap="5px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
                  <div fxLayout="column" fxFlex="1 1 auto" fxLayoutGap="10px" class="consumable-col">
                    <nz-select [(ngModel)]="selectedFood" [nzPlaceHolder]="'SIMULATOR.CONFIGURATION.Food' | translate"
                               nzAllowClear nzShowSearch>
                      <nz-option *ngFor="let food of foods" [nzValue]="food"
                                 nzLabel="{{food.itemId | itemName | i18n}} {{food.hq?'(HQ)':''}}">
                      </nz-option>
                    </nz-select>
                    <div *ngIf="selectedFood !== undefined && selectedFood !== null; else noFood">
                      <div>
                        <b>{{selectedFood.itemId | itemName | i18n}}</b>
                        <img src="./assets/icons/HQ.png" alt="(HQ)" *ngIf="selectedFood.hq">
                      </div>
                      <div *ngFor="let bonus of selectedFood.bonuses">
                        {{('SIMULATOR.CONFIGURATION.STATS.' + bonus.type) | translate}}: {{bonus.value * 100}}%
                        ({{bonus.max}})
                      </div>
                    </div>
                    <ng-template #noFood>
                      <div class="nothing-selected">
                        {{'SIMULATOR.CONFIGURATION.No_food' | translate}}
                      </div>
                    </ng-template>
                  </div>
                  <div fxLayout="column" fxFlex="1 1 auto" fxLayoutGap="10px" class="consumable-col">
                    <nz-select [(ngModel)]="selectedMedicine"
                               nzShowSearch
                               [nzPlaceHolder]="'SIMULATOR.CONFIGURATION.Medicine' | translate" nzAllowClear>
                      <nz-option *ngFor="let medicine of medicines" [nzValue]="medicine"
                                 nzLabel="{{medicine.itemId | itemName | i18n}} {{medicine.hq?'(HQ)':''}}">
                      </nz-option>
                    </nz-select>
                    <div *ngIf="selectedMedicine !== undefined && selectedMedicine !== null; else noMedicine">
                      <div>
                        <b>{{selectedMedicine.itemId | itemName | i18n}}</b>
                        <img src="./assets/icons/HQ.png" alt="(HQ)" *ngIf="selectedMedicine.hq">
                      </div>
                      <div *ngFor="let bonus of selectedMedicine.bonuses">
                        {{('SIMULATOR.CONFIGURATION.STATS.' + bonus.type) | translate}}: {{bonus.value * 100}}%
                        ({{bonus.max}})
                      </div>
                    </div>
                    <ng-template #noMedicine>
                      <div class="nothing-selected">
                        {{'SIMULATOR.CONFIGURATION.No_medicine' | translate}}
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutGap="10px" class="consumable-col">
                  <nz-select [(ngModel)]="selectedFreeCompanyActions" nzMode="multiple"
                             [nzPlaceHolder]="'SIMULATOR.CONFIGURATION.Action' | translate" nzAllowClear>
                    <nz-option-group [nzLabel]="('SIMULATOR.CONFIGURATION.'+type) | translate"
                                     *ngFor="let type of ['Control', 'Craftsmanship']">
                      <nz-option *ngFor="let action of getFreeCompanyActions(type)" [nzValue]="action"
                                 [nzLabel]="action.actionId | freeCompanyActionName | i18n"
                                 [nzDisabled]="isFreeCompanyActionOptionDisabled(type, action.actionId)"></nz-option>
                    </nz-option-group>
                  </nz-select>
                  <div *ngIf="selectedFreeCompanyActions.length > 0; else noFcBuffs">
                    <div *ngFor="let action of selectedFreeCompanyActions">
                      <div>
                        <b>{{action.actionId | freeCompanyActionName | i18n}}</b>
                      </div>
                      <div>
                        {{('SIMULATOR.CONFIGURATION.STATS.' + action.type) | translate}}: {{action.value}}
                      </div>
                    </div>
                  </div>
                  <ng-template #noFcBuffs>
                    <div class="nothing-selected">
                      {{'SIMULATOR.CONFIGURATION.No_fc_buffs' | translate}}
                    </div>
                  </ng-template>
                </div>
              </div>
              <div fxLayout="column" fxLayoutGap="5px" fxFlexAlign="flex-end flex-end" class="apply">
                <button nz-button nzType="primary" nzBlock
                        (click)="applyConsumables(crafterStats);this.dirty = true;dirtyFacade.removeEntry('simulator', dirtyScope.PAGE);">
                  {{'SIMULATOR.CONFIGURATION.Apply_foods' | translate}}
                </button>
                <button nz-button nzBlock (click)="saveDefaultConsumables()">
                  {{'SIMULATOR.CONFIGURATION.Save_consumables' | translate}}
                </button>
              </div>
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>

      <div fxLayout="column" fxLayoutGap="10px" *ngIf="result$ | async as resultData">
        <nz-card>
          <div class="card-header" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
               fxLayoutGap.lt-md="10px">
            <div fxLayout="row" fxLayoutGap="10px" *ngIf="!custom">
              <div class="avatar">
                <app-item-icon [icon]="item.icon" [itemId]="item.id" [width]="42"
                               *ngIf="true | ifMobile: false"></app-item-icon>
              </div>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="5px">
                  <div>{{item.id | itemName | i18n}}</div>
                  <div *ngIf="resultData.simulation.recipe.element">
                    <img [src]="resultData.simulation.recipe.element | elementIcon" alt="" class="affinity-icon">
                  </div>
                  <button nz-button nzSize="small" nzShape="circle" (click)="changeRecipe(rotation)" nz-tooltip
                          [nzTitle]="'SIMULATOR.Change_recipe' | translate">
                    <i nz-icon iconfont="icon-exchange"></i>
                  </button>
                </div>
                <div>{{resultData.simulation.recipe.lvl}} {{getStars(resultData.simulation.recipe.stars)}}</div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
              <div>{{resultData.simulation.crafterStats.jobId | jobName | i18n}}</div>
              <div fxLayout="column">
                <div>{{'SIMULATOR.CONFIGURATION.Craftsmanship' | translate}}:
                  {{resultData.simulation.crafterStats.craftsmanship}}
                </div>
                <div>{{'SIMULATOR.CONFIGURATION.Control' | translate}}: {{resultData.simulation.crafterStats._control}}
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
              <div>
                {{'SIMULATOR.Step_counter' | translate}}
                <nz-input-number [nzDisabled]="!snapshotMode"
                                 class="stap-counter"
                                 [ngModel]="resultData.simulation.steps.length"
                                 [nzMin]="0"
                                 [nzStep]="1"
                                 (ngModelChange)="snapshotStep$.next($event)"></nz-input-number>
                <button nz-button
                        (click)="snapshotMode = !snapshotMode; snapshotMode === false?snapshotStep$.next(9999):null"
                        [nzType]="snapshotMode?'primary':'default'"
                        nz-tooltip [nzTitle]="'SIMULATOR.Toggle_snapshot_mode' | translate">
                  <i nz-icon [iconfont]="'icon-debug'"></i>
                </button>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
            <div class="durability" fxLayout="column" fxLayoutAlign="center center">
              <h3>{{'SIMULATOR.Durability' | translate}}</h3>
              <span class="durability-value">{{resultData.simulation.durability}}
                / {{resultData.simulation.recipe.durability}}</span>
            </div>
            <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="10px">
              <div class="top-bars">
                <div fxLayout="column">
                  <h3>{{'SIMULATOR.Progress' | translate}}</h3>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                    <nz-progress
                      fxFlex="1 1 auto"
                      [nzShowInfo]="false"
                      [nzPercent]="barPercent(resultData.simulation.progression,resultData.simulation.recipe.progress)"
                      [nzFormat]="barFormat(resultData.simulation.progression, resultData.simulation.recipe.progress)"
                      class="progress-progressbar">
                    </nz-progress>
                    <div
                      class="progress-value">{{barFormat(resultData.simulation.progression,
                      resultData.simulation.recipe.progress)()}}
                    </div>
                  </div>
                </div>
                <div fxLayout="column">
                  <h3>{{'SIMULATOR.Quality' | translate}}</h3>
                  <div fxLayout="column" class="quality-display">
                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
                      <div class="quality-bar" fxFlex="1 1 auto">
                        <div *ngFor="let threshold of thresholds"
                             [ngStyle]="{left: 100 * threshold / resultData.simulation.recipe.quality + '%'}"
                             class="threshold-marker" fxLayout="row" fxLayoutAlign="flex-start flex-start">
                          <div class="marker"></div>
                          <div class="value">{{(threshold / 10) | number: '1.0-0'}}</div>
                        </div>
                        <nz-progress
                          fxFlex="1 1 auto"
                          [nzShowInfo]="false"
                          [nzPercent]="barPercent(resultData.simulation.quality, resultData.simulation.recipe.quality)"
                          [nzFormat]="barFormat(resultData.simulation.quality, resultData.simulation.recipe.quality)"></nz-progress>
                      </div>
                      <div
                        class="progress-value">{{barFormat(resultData.simulation.quality,
                        resultData.simulation.recipe.quality)()}}
                      </div>
                    </div>
                    <div>{{ 'SIMULATOR.Quality_needed' | translate: { amount: resultData.simulation.recipe.quality - resultData.simulation.quality > 0 ? resultData.simulation.recipe.quality - resultData.simulation.quality : 0 } }}</div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="1 1 auto">
                  <div class="hq-chances">
                    {{'SIMULATOR.Hq' | translate}}:
                    <span class="hq-chances-value">
                  {{resultData.hqPercent}}%
                </span>
                  </div>
                  <div class="cp-progress" fxFlex="1 1 300px" fxFlex.lt-md="1 1 auto">
                    <span>{{'SIMULATOR.Cp_amount' | translate}}</span>
                    <nz-progress
                      class="cp-amount"
                      [nzPercent]="100*resultData.simulation.availableCP/resultData.simulation.maxCP"
                      [nzFormat]="barFormat(resultData.simulation.availableCP,resultData.simulation.maxCP)"></nz-progress>
                  </div>
                </div>
                <div class="report" *ngIf="report$ | async as report" fxFlex="1 1 300px" fxFlex.lt-md="1 1 auto"
                     fxLayoutGap="10px">
                <span class="report-row">
                    {{'SIMULATOR.Reliability' | translate}}: {{report.successPercent}}%
                </span>
                  <span class="report-row">
                    {{'SIMULATOR.Average_hq' | translate}}: {{report.averageHQPercent}}%
                </span>
                </div>
              </div>
            </div>
          </div>
          <div class="simulator-footer" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center"
               fxLayoutGap="5px">
            <div>{{'SIMULATOR.Progress_action_100_potency' | translate: { value: (progressPer100$ | async) } }}</div>
            <div *ngIf="true | ifMobile: false">|</div>
            <div>{{'SIMULATOR.Quality_action_100_potency' | translate: { value: (qualityPer100$ | async) } }}</div>
            <div *ngIf="true | ifMobile: false">|</div>
            <div nz-tooltip [nzTitle]="'SIMULATOR.Current_control_bonus' | translate">
              {{'SIMULATOR.Current_control' | translate: { value: (resultData.simulation.crafterStats.getControl(resultData.simulation) | floor) } }}
              ({{resultData.simulation.crafterStats._control}} + <span
              [style.font-weight]="(resultData.simulation.crafterStats.getControl(resultData.simulation) | floor) - resultData.simulation.crafterStats._control === 3000? 'bold': 'default'">{{(resultData.simulation.crafterStats.getControl(resultData.simulation) | floor) - resultData.simulation.crafterStats._control}}</span>)
            </div>
          </div>
        </nz-card>

        <nz-card [class.mobile-buffs]="false | ifMobile: true">
          <div fxLayout="row" fxLayoutGap="px" fxLayoutAlign="flex-starts center" class="buffs-container">
            <div class="buff-container" *ngFor="let buff of resultData.simulation.buffs">
              <span class="stacks" *ngIf="buff.stacks > 0">{{buff.stacks}}</span>
              <img [src]="getBuffIcon(buff)" class="buff-icon" alt="">
              <span class="duration" *ngIf="buff.duration.toString() !== 'Infinity'">{{buff.duration}}</span>
            </div>
          </div>
        </nz-card>

        <nz-card [class.failed]="actionFailed" [class.success]="resultData.simulation.success" class="actions-card">
          <i nz-icon type="exclamation-circle" theme="twotone" [twoToneColor]="'#aa9400'" class="warning-icon"
             nz-tooltip [nzTitle]="'SIMULATOR.Unsaved_changes' | translate" *ngIf="dirty"></i>
          <div fxLayout="row wrap" ngxDroppable="action" class="actions-container ngx-dnd-container"
               (drop)="actionDrop($event)" (cancel)="dragCancel($event)">
            <div *ngFor="let step of resultData.steps;let i = index;" [ngxDraggable]="['action']"
                 class="ngx-dnd-item action-container rotation-action" [model]="step.action" (drag)="actionDrag(i)"
                 [moves]="step.action.canBeMoved()">
              <app-action [action]="step.action"
                          [simulation]="resultData.simulation"
                          (actionclick)="removeAction(i)"
                          (contextmenu)="$event.preventDefault();toggleFailAction(i)"
                          [disabled]="!step.success || step.skipped"
                          [ignoreDisabled]="true"
                          [cpCost]="step.cpDifference"
                          [failed]="!step.success"></app-action>
            </div>
          </div>
          <div *ngIf="resultData.failCause !== undefined" class="fail-reason">
            {{('SIMULATOR.FAIL_CAUSE.' + resultData.failCause) | translate}}
          </div>
        </nz-card>

        <nz-card [class.mobile-actions]="false | ifMobile: true">
          <div class="category-row">
            <div>
              <h4>{{'SIMULATOR.CATEGORY.Progression' | translate}}</h4>
              <div class="actions-row ngx-dnd-container" ngxDroppable (drop)="disableEvent($event)" [copy]="true">
                <app-action (actionclick)="addAction(action)" [ngxDraggable]="['action']"
                            [model]="action"
                            class="ngx-dnd-item"
                            [disabled]="!action.canBeUsed(resultData.simulation, true) || snapshotMode"
                            [safe]="!safeMode$.value || action.getSuccessRate(resultData.simulation) >= 100"
                            [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                            [action]="action" [simulation]="resultData.simulation"
                            *ngFor="let action of getProgressActions()"
                            (onDragStart)="tooltipsDisabled = true"
                            (onDragEnd)="tooltipsDisabled = false"
                            [tooltipDisabled]="tooltipsDisabled"></app-action>
              </div>
            </div>
            <div>
              <h4>{{'SIMULATOR.CATEGORY.Quality' | translate}}</h4>
              <div class="actions-row ngx-dnd-container" ngxDroppable (drop)="disableEvent($event)" [copy]="true">
                <app-action (actionclick)="addAction(action)" [ngxDraggable]="['action']"
                            [model]="action"
                            class="ngx-dnd-item action-from-bar"
                            [disabled]="!action.canBeUsed(resultData.simulation, true) || snapshotMode"
                            [safe]="!safeMode$.value || action.getSuccessRate(resultData.simulation) >= 100"
                            [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                            [action]="action" [simulation]="resultData.simulation"
                            *ngFor="let action of getQualityActions()"
                            (onDragStart)="tooltipsDisabled = true"
                            (onDragEnd)="tooltipsDisabled = false"
                            [tooltipDisabled]="tooltipsDisabled"></app-action>
              </div>
            </div>
          </div>
          <div class="category-row">
            <div>
              <h4>{{'SIMULATOR.CATEGORY.Cp_recovery' | translate}}</h4>
              <div class="actions-row ngx-dnd-container" ngxDroppable (drop)="disableEvent($event)" [copy]="true">
                <app-action (actionclick)="addAction(action)" [ngxDraggable]="['action']"
                            [model]="action"
                            class="ngx-dnd-item action-from-bar"
                            [disabled]="!action.canBeUsed(resultData.simulation, true) || snapshotMode"
                            [safe]="!safeMode$.value || action.getSuccessRate(resultData.simulation) >= 100"
                            [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                            [action]="action" [simulation]="resultData.simulation"
                            *ngFor="let action of getCpRecoveryActions()"
                            (onDragStart)="tooltipsDisabled = true"
                            (onDragEnd)="tooltipsDisabled = false"
                            [tooltipDisabled]="tooltipsDisabled"></app-action>
              </div>
            </div>
            <div>
              <h4>{{'SIMULATOR.CATEGORY.Buff' | translate}}</h4>
              <div class="actions-row ngx-dnd-container" ngxDroppable (drop)="disableEvent($event)" [copy]="true">
                <app-action (actionclick)="addAction(action)" [ngxDraggable]="['action']"
                            [model]="action"
                            class="ngx-dnd-item action-from-bar"
                            [disabled]="!action.canBeUsed(resultData.simulation, true) || snapshotMode"
                            [safe]="!safeMode$.value || action.getSuccessRate(resultData.simulation) >= 100"
                            [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                            [action]="action" [simulation]="resultData.simulation"
                            *ngFor="let action of getBuffActions()"
                            (onDragStart)="tooltipsDisabled = true"
                            (onDragEnd)="tooltipsDisabled = false"
                            [tooltipDisabled]="tooltipsDisabled"></app-action>
              </div>
            </div>
          </div>
          <div class="category-row">
            <div>
              <h4>{{'SIMULATOR.CATEGORY.Repair' | translate}}</h4>
              <div class="actions-row ngx-dnd-container" ngxDroppable (drop)="disableEvent($event)" [copy]="true">
                <app-action (actionclick)="addAction(action)" [ngxDraggable]="['action']"
                            [model]="action"
                            class="ngx-dnd-item action-from-bar"
                            [disabled]="!action.canBeUsed(resultData.simulation, true) || snapshotMode"
                            [safe]="!safeMode$.value || action.getSuccessRate(resultData.simulation) >= 100"
                            [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                            [action]="action" [simulation]="resultData.simulation"
                            *ngFor="let action of getRepairActions()"
                            (onDragStart)="tooltipsDisabled = true"
                            (onDragEnd)="tooltipsDisabled = false"
                            [tooltipDisabled]="tooltipsDisabled"></app-action>
              </div>
            </div>
            <div>
              <h4>{{'SIMULATOR.CATEGORY.Specialty' | translate}}</h4>
              <div class="actions-row ngx-dnd-container" ngxDroppable (drop)="disableEvent($event)" [copy]="true">
                <app-action (actionclick)="addAction(action)" [ngxDraggable]="['action']"
                            [model]="action"
                            class="ngx-dnd-item action-from-bar"
                            [disabled]="!action.canBeUsed(resultData.simulation, true) || snapshotMode"
                            [safe]="!safeMode$.value || action.getSuccessRate(resultData.simulation) >= 100"
                            [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                            [action]="action" [simulation]="resultData.simulation"
                            *ngFor="let action of getSpecialtyActions()"
                            (onDragStart)="tooltipsDisabled = true"
                            (onDragEnd)="tooltipsDisabled = false"
                            [tooltipDisabled]="tooltipsDisabled"></app-action>
              </div>
            </div>
            <div>
              <h4>{{'SIMULATOR.CATEGORY.Other' | translate}}</h4>
              <div class="actions-row ngx-dnd-container" ngxDroppable (drop)="disableEvent($event)" [copy]="true">
                <app-action (actionclick)="addAction(action)" [ngxDraggable]="['action']"
                            [model]="action"
                            class="ngx-dnd-item action-from-bar"
                            [disabled]="!action.canBeUsed(resultData.simulation, true) || snapshotMode"
                            [safe]="!safeMode$.value || action.getSuccessRate(resultData.simulation) >= 100"
                            [notEnoughCp]="action.getBaseCPCost(resultData.simulation) > resultData.simulation.availableCP"
                            [action]="action" [simulation]="resultData.simulation"
                            *ngFor="let action of getOtherActions()"
                            (onDragStart)="tooltipsDisabled = true"
                            (onDragEnd)="tooltipsDisabled = false"
                            [tooltipDisabled]="tooltipsDisabled"></app-action>
              </div>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
  <ng-template #notFound>
    <app-fullpage-message>
      {{'SIMULATOR.Rotation_not_found' | translate}}
    </app-fullpage-message>
  </ng-template>
</ng-container>
