<nz-list [nzDataSource]="lists$ | async" [nzRenderItem]="listTemplate">
  <ng-template #listTemplate let-list>
    <nz-list-item>
      <nz-list-item-meta [nzTitle]="list.name" [nzDescription]="description" [nzAvatar]="checkbox">
        <ng-template #checkbox>
          <label nz-checkbox [ngModel]="false" (ngModelChange)="setSelection(list, $event)" [nzDisabled]="list.isOutDated()"></label>
        </ng-template>
        <ng-template #description>
          <nz-tag *ngIf="list.ephemeral" [nzColor]="'volcano'" nz-tooltip [nzTitle]="'Ephemeral_list' | translate">
            {{'Ephemeral_tag' | translate}}
          </nz-tag>
          <nz-tag *ngIf="list.public" [nzColor]="'geekblue'" nz-tooltip
                  [nzTitle]="'LIST_DETAILS.HELP.Public_list' | translate">
            {{'Public_list' | translate}}
          </nz-tag>
          <nz-tag *ngIf="list.isOutDated()" [nzColor]="'magenta'" nz-tooltip
                  [nzTitle]="'LIST_TAGS.Outdated' | translate"></nz-tag>
          <nz-tag *ngFor="let tag of list.tags">{{('LIST_TAGS.'+tag) | translate}}</nz-tag>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>
  <button [disabled]="selectedLists.length < 2 || merging" nz-button (click)="merge()">{{'Confirm' | translate}}</button>
</nz-list>
