.xivdb-cf:after, .xivdb-cf:before {
  display: table;
  content: ' '
}

.xivdb-cf:after {
  clear: both
}

.xivdb-left {
  float: left;
  width: 250px
}

.xivdb-left .xivdb-cdl-left, .xivdb-left .xivdb-cdl-right {
  width: 50% !important
}

.xivdb-right {
  float: right;
  width: 260px
}

.pure, .white {
  color: #fff !important
}

.light {
  color: gray !important
}

.red {
  color: #ff3a36 !important
}

.blue {
  color: #13a8ff !important
}

.green {
  color: #31ff0c !important
}

.yellow {
  color: #f7e649 !important
}

.orange {
  color: #ff8d00 !important
}

.purple {
  color: #ff4efa !important
}

.gray {
  color: #aaa !important
}

.lime {
  color: #bfff43 !important
}

.pink {
  color: #ff3e7f !important
}

.sky {
  color: #60c4ff !important
}

.magenta {
  color: #ff9bfc !important
}

.highlight {
  color: #ffc99a !important
}

.rarity-scares {
  color: #c4f58b
}

.rarity-rare {
  color: #78d4ff
}

.rarity-relic {
  color: #e55ffc
}

.rarity-aetherial {
  color: #fe82ac
}

.rarity-scares-darken {
  color: #7bd512
}

.rarity-rare-darken {
  color: #0097de
}

.rarity-relic-darken {
  color: #a304be
}

.rarity-aetherial-darken {
  color: #e5024f
}

p a[data-xivdb-key] {
  margin: 0 5px
}

a[data-xivdb-key] img {
  margin: 0 5px 1px 0;
  vertical-align: bottom;
  border-radius: 200px
}

.xivdb {
  position: absolute;
  z-index: 999999999999 !important;
  display: none
}

.xivdb-ttfr {
  font-family: Arial;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  width: 330px;
  color: #fff;
  border: 1px solid #111;
  border-radius: 5px;
  background-color: #282828;
  box-shadow: inset 0 0 3px #444, 0 0 10px 2px #111
}

.xivdb-cb, .xivdb-msk {
  border-top: solid 1px #000
}

.xivdb-ttfr.xivdb-ttfr-recipe {
  width: 530px
}

.xivdb-ttfr.xivdb-ttfr-recipe .xivdb-ch > div:last-of-type > div:first-of-type {
  width: 430px
}

.xivdb-ttfr hr {
  height: 1px;
  margin: 5px 0;
  padding: 0;
  background-color: #000
}

.xivdb-ttfr .xivdb-dom {
  font-size: 10px;
  line-height: 14px;
  height: 14px;
  margin-top: 5px;
  padding: 0 5px;
  text-align: right;
  color: #666;
  text-shadow: none
}

.xivdb-ch {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 61px;
  border-bottom: solid 1px #111;
  background-color: rgba(0, 0, 0, .3)
}

.xivdb-ch > div:first-of-type {
  -webkit-flex: 0 1 10%;
  -ms-flex: 0 1 10%;
  flex: 0 1 10%
}

.xivdb-ch > div:first-of-type > div {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background-color: #111
}

.xivdb-cb, .xivdb-chi {
  background-color: #222
}

.xivdb-ch > div:first-of-type > div img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 64px;
  max-height: 64px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.xivdb-ch > div:last-of-type {
  padding: 13px 0 0 15px;
  -webkit-flex: 0 1 90%;
  -ms-flex: 0 1 90%;
  flex: 0 1 90%
}

.xivdb-ch > div:last-of-type > div:first-of-type {
  font-size: 16px;
  display: block;
  overflow: hidden;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis
}

.xivdb-ch > div:last-of-type > div:last-of-type {
  font-size: 10px;
  line-height: 20px;
  height: 20px;
  text-transform: uppercase;
  color: #aaa;
  text-shadow: none
}

.xivdb-cb {
  width: 328px;
  height: 100px;
  border-bottom: solid 1px #000;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 10px #000
}

.xivdb-chi {
  font-size: 11px;
  margin: 0;
  padding: 8px;
  border-bottom: solid 1px #111;
  text-shadow: none
}

.xivdb-cc {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  padding: 4px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.xivdb-cc .xivdb-cc-block {
  height: 40px;
  margin: 3px;
  text-align: right;
  border-bottom: solid 5px #333;
  border-radius: 3px;
  -webkit-flex: 0 1 100px;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px
}

.xivdb-cc .xivdb-cc-bt {
  font-family: Tahoma;
  font-size: 10px;
  margin: 0 0 5px;
  text-transform: uppercase;
  color: #ffc99a
}

.xivdb-cc .xivdb-cc-bn {
  font-family: Arial;
  font-size: 20px;
  letter-spacing: -1px;
  color: #5ea0f2
}

.xivdb-cs {
  padding: 5px 10px
}

.xivdb-cs .xivdb-csb-title {
  font-size: 11px;
  display: inline-block;
  width: 150px;
  text-transform: uppercase;
  color: #ffc99a
}

.xivdb-cs .xivdb-csb-number {
  font-size: 14px;
  display: inline-block;
  width: 50px;
  color: #5ea0f2
}

.xivdb-cs .xivdb-csb-number2 {
  font-size: 14px;
  display: inline-block;
  width: 50px;
  color: #95b153
}

.xivdb-cs .xivdb-csb-number3 {
  display: inline-block;
  width: 80px;
  color: #eab63c;
  background-color: red
}

.xivdb-cs .xivdb-ch-set-bonus {
  font-size: 10px;
  margin: 15px 0 2px;
  color: #95b153
}

.xivdb-cdl {
  font-size: 12px;
  line-height: 12px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px 0
}

.xivdb-cdl > div:first-of-type {
  color: #ffc99a;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%
}

.xivdb-cdl > div:last-of-type {
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%
}

.xivdb-cdl .xivdb-c-label {
  font-size: 10px
}

.xivdb-cdl .xivdb-c-title {
  font-size: 11px;
  display: inline-block;
  width: 100px;
  color: #948c7b
}

.xivdb-cdl .xivdb-c-context {
  font-size: 11px;
  display: inline-block;
  width: 180px;
  color: #eee
}

.xivdb-cdl .xivdb-c-info {
  font-size: 11px;
  line-height: 18px;
  max-width: 400px;
  padding: 10px;
  color: #999;
  border-bottom: solid 1px #000;
  background-color: #222
}

.xivdb-cdl .xivdb-isz em {
  font-size: 10px;
  font-style: normal;
  display: inline-block;
  margin: 5px 10px 0 0;
  text-transform: uppercase;
  color: #c39bcd;
  border-radius: 3px
}

.xivdb-lcz {
  font-size: 11px;
  padding: 8px;
  border-bottom: solid 1px #111;
  background-color: #333
}

.xivdb-ttfr-recipe .xivdb-right {
  margin-top: 8px
}

.xivdb-ttfr-recipe .xivdb-right > span {
  font-size: 10px;
  display: block;
  margin-bottom: 5px;
  color: #ffc99a
}

.xivdb-ttfr-recipe .xivdb-right .xivdb-sti {
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 5px
}

.xivdb-ttfr-recipe .xivdb-right .xivdb-sti img {
  width: 16px;
  height: 16px;
  margin: 0;
  vertical-align: top;
  border-radius: 3px
}

.xivdb-msk {
  margin-top: 10px;
  padding: 10px;
  border-bottom: solid 1px #000;
  background-color: #111
}

.xivdb-msk > div:first-of-type {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.xivdb-msk > div:first-of-type > div:first-of-type {
  font-size: 15px;
  color: #ff4efa;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%
}

.xivdb-msk > div:first-of-type > div:last-of-type {
  color: #bfff43;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%
}

.xivdb-msk > div:last-of-type {
  font-size: 12px;
  margin-top: 5px
}
