<ng-container *ngIf="xivapiFishingSpot$ | async as spot; else loader">
  <div [style.padding]="'0 25px' | ifMobile: '0'" fxLayout="column" fxLayoutGap="10px">
    <div
      class="top-bar"
      fxFlex="1 1 auto"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="flex-start flex-start"
      fxLayoutGap="5px"
      fxLayoutGap.lt-md="10px"
    >
      <div class="top-left-block" fxFlex="0 0 300px" fxFlex.lt-md="1 1 auto" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div class="icon-block" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
          <img src="./assets/icons/classjob/fisher.png" fxFlex="0 0 auto" />
          <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
            <h2 class="item-name">{{ spot.PlaceName | xivapiL12n: 'places' | i18n }}</h2>
            <div class="item-kind">{{ spot.TerritoryType.PlaceName | xivapiL12n: 'places' | i18n }}</div>
          </div>
        </div>
      </div>
      <div fxFlex="1 1 auto"></div>
      <app-i18n-display
        fxFlex="0 0 300px"
        fxFlex.lt-md="1 1 auto"
        fxLayout="column"
        fxLayoutGap="5px"
        [value]="spot.PlaceName | xivapiL12n: 'places'"
      ></app-i18n-display>
    </div>

    <div class="details-container" fxLayout="row wrap" fxLayoutGap="5px">
      <div class="details-block">
        <div class="detail-name">{{ 'DB.Level' | translate }}</div>
        <div class="detail-value">{{ spot.GatheringLevel }}</div>
      </div>
      <div fxFlex="1 1 auto"></div>
      <button nz-button (click)="showMissesPopup(spot.ID)">{{ 'DB.FISH.Show_misses' | translate }}</button>
    </div>

    <app-db-comments *ngIf="settings.dbCommentsPosition === 'TOP'" [id]="spot.ID" type="fishing-spot"></app-db-comments>

    <div>
      <nz-divider [nzText]="'DB.Details' | translate" nzOrientation="left"></nz-divider>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="24px grid" fxLayoutGap.lt-md="12px grid" fxLayoutAlign="space-between stretch" fxLayout.lt-sm="column">
      <app-fishing-spot-position fxFlex="0 0 360px" [spot]="xivapiFishingSpot$ | async" [loading]="loading$ | async"></app-fishing-spot-position>
      <app-fishing-spot-weathers fxFlex="1 1 auto" [spot]="xivapiFishingSpot$ | async"></app-fishing-spot-weathers>
      <app-fishing-spot-weather-transitions fxFlex="1 1 auto" [spot]="xivapiFishingSpot$ | async"></app-fishing-spot-weather-transitions>
      <app-fishing-spot-available-fishes fxFlex="1 1 auto"></app-fishing-spot-available-fishes>
      <app-fishing-spot-hours fxFlex="100" [activeFish]="highlightedFish$ | async" (activeFishChange)="highlightedFish$.next($event)"></app-fishing-spot-hours>
      <app-fishing-spot-bait-datagrid
        [activeFish]="highlightedFish$ | async"
        (activeFishChange)="highlightedFish$.next($event)"
      ></app-fishing-spot-bait-datagrid>
      <!-- <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="10px">
      <nz-card [nzTitle]="'DB.FISHING_SPOT.Fish_per_bait' | translate" class="card-with-list expanded">
        <ng-template #baitSider let-bait>
          <app-item-icon [itemId]="bait" width="32"></app-item-icon>
        </ng-template>
        <ng-container *ngTemplateOutlet="dataGrid; context: { $implicit: data.fishesPerBait, siderTpl: baitSider }"></ng-container>
      </nz-card>

      <nz-card [nzTitle]="'DB.FISHING_SPOT.Fish_per_weather' | translate" class="card-with-list expanded">
        <ng-template #weatherSider let-weather>
          <img [src]="weather | weatherIcon" alt="" nz-tooltip [nzTooltipTitle]="weather | weatherName | i18n" />
        </ng-template>
        <ng-container *ngTemplateOutlet="dataGrid; context: { $implicit: data.fishesPerWeather, siderTpl: weatherSider }"></ng-container>
      </nz-card>

      <nz-card [nzTitle]="'DB.FISHING_SPOT.Fish_per_tug' | translate" class="card-with-list expanded">
        <ng-template #tugSider let-tug>
          {{ 'DB.FISH.TUG.' + ['Medium', 'Big', 'Light'][tug] | translate }}
        </ng-template>
        <ng-container *ngTemplateOutlet="dataGrid; context: { $implicit: data.fishesPerTug, siderTpl: tugSider }"></ng-container>
      </nz-card>
    </div>

    <ng-template #dataGrid let-grid let-siderTpl="siderTpl" let-useGlobalTotal="globalTotal">
      <table class="grid-table">
        <thead>
          <tr class="grid-header-line">
            <th class="empty-head"></th>
            <th *ngFor="let header of grid.headers; let last = last; let i = index" class="grid-cell grid-header" [class.last]="last">
              <app-item-icon [itemId]="header" width="32"></app-item-icon>
            </th>
          </tr>
        </thead>
        <tbody class="grid-body">
          <tr *ngFor="let row of grid.data; let i = index">
            <td class="grid-cell grid-sider">
              <ng-container *ngTemplateOutlet="siderTpl; context: { $implicit: grid.siders[i] }"></ng-container>
            </td>
            <td
              *ngFor="let cell of row; let headerIndex = index; let last = last"
              class="grid-cell"
              [class.not-highlighted]="data.highlighted > -1 && data.highlightedIndex !== headerIndex"
              [class.last]="last"
              [style.background-color]="getHighlightColor(useGlobalTotal ? cell / grid.total : cell / grid.totals[i]) | async"
              (mouseenter)="highlightedFish$.next(grid.headers[headerIndex])"
              (mouseleave)="highlightedFish$.next(-1)"
            >
              <span *ngIf="cell" nz-tooltip [nzTooltipTitle]="amountTooltip">
                <ng-template #amountTooltip>
                  {{ cell | number: '1.0-2':translate.currentLang }} / {{ grid.totals[i] | number: '1.0-1':translate.currentLang }}
                </ng-template>
                {{ 100 * (useGlobalTotal ? cell / grid.total : cell / grid.totals[i]) | number: '1.0-1':translate.currentLang }}%
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template> -->

      <app-fishing-spot-bite-times
        fxFlex="100"
        [activeFish]="highlightedFish$ | async"
        (activeFishChange)="highlightedFish$.next($event)"
      ></app-fishing-spot-bite-times>
    </div>

    <app-db-comments *ngIf="settings.dbCommentsPosition === 'BOTTOM'" [id]="spot.ID" type="fishing-spot"></app-db-comments>
  </div>
</ng-container>
<ng-template #loader>
  <app-page-loader></app-page-loader>
</ng-template>
