<div fxLayout="column" fxLayoutGap="10px">
  <nz-card *ngFor="let reduction of item.reducedFrom" fxFlex="1 1 auto">
    <nz-card-meta [nzAvatar]="itemIcon" [nzTitle]="reduction.obj.i | itemName | i18n">
      <ng-template #itemIcon>
        <app-item-icon [icon]="reduction.obj.c" [itemName]="reduction.obj.i | itemName | i18n"
                       [width]="32"></app-item-icon>
      </ng-template>
    </nz-card-meta>
    <nz-list [nzDataSource]="getNodes(reduction)" [nzRenderItem]="nodeTemplate">
      <ng-template #nodeTemplate let-node>
        <nz-list-item [nzActions]="[openMap]">
          <nz-list-item-meta [nzTitle]="node.zoneid | placeName | i18n" [nzDescription]="description">
            <ng-template #description>
              <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutGap="5px">
                  <span>{{node.areaid | placeName | i18n}}</span>
                  <nz-tag *ngIf="node.limitType !== undefined" nzColor="orange">
                    {{node.limitType | i18n}}
                  </nz-tag>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="5px">
                  <span *ngIf="node.slot !== undefined">Slot {{node.slot}}</span>
                  <span *ngIf="node.time !== undefined">
                <i *ngFor="let time of node.time">
                  {{time}}:00 - {{getDespawnTime(time, node.uptime)}}:00
                </i>
              </span>
                </div>
                <ng-container *ngIf="node.time !== undefined || node.weathers !== undefined">
                  <div *ngIf="(generateAlarm(node) | alarmDisplay | async) as alarm" [class.spawned-timer]="alarm.spawned"
                       [class.played-timer]="alarm.played">
                    {{ (alarm.spawned ? 'GATHERING_LOCATIONS.Spawned_for' : 'GATHERING_LOCATIONS.Will_spawn_in') | translate : { timer: (alarm.remainingTime | timer) } }}
                  </div>
                </ng-container>
              </div>
            </ng-template>
            <ng-template #openMap>
              <div fxLayout="column" fxLayoutAlign="flex-end flex-end">
                <app-map-position [marker]="{x:node.coords[0], y: node.coords[1]}"
                                  [mapId]="node.mapid"
                                  [zoneId]="node.zoneid"></app-map-position>
                <div
                  *ngIf="node.mapid | closestAetheryte: { x: node.coords[0], y: node.coords[1] } | async as aetheryte"
                  class="closest-tp">
                  <img src="./assets/icons/Aetheryte.png" alt="" class="aetheryte-icon"> {{aetheryte.nameid | placeName
                  |
                  i18n}}
                </div>
              </div>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-card>
</div>
