<div fxLayout="column" fxLayoutGap="10px">
  <nz-card *ngFor="let reduction of item.reducedFrom" fxFlex="1 1 auto">
    <nz-card-meta [nzAvatar]="itemIcon" [nzTitle]="title">
      <ng-template #title>
        <span [appItemRarity]="reduction.obj.i">{{reduction.obj.i | itemName | i18n}}</span>
      </ng-template>
      <ng-template #itemIcon>
        <app-item-icon [icon]="reduction.obj.c" [itemName]="reduction.obj.i | itemName | i18n"
                       [width]="32" [itemId]="reduction.obj.i"></app-item-icon>
      </ng-template>
    </nz-card-meta>
    <nz-list [nzDataSource]="getNodes(reduction)" [nzRenderItem]="nodeTemplate">
      <ng-template #nodeTemplate let-node>
        <nz-list-item [nzActions]="[openMap]">
          <nz-list-item-meta [nzTitle]="node.zoneid | placeName | i18n" [nzDescription]="description">
            <ng-template #description>
              <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
                  <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                    <div>lvl {{node.level}}</div>
                    <img [src]="node.type | nodeTypeIcon" alt="" class="node-type-icon">
                  </div>
                  <nz-tag *ngIf="node.limitType !== undefined" nzColor="orange">
                    {{node.limitType | i18n}}
                  </nz-tag>
                  <div *ngIf="node.fishEyes" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="flex-start center">
                    <img src="./assets/icons/status/fish_eyes.png" alt="" nz-tooltip
                         [nzTitle]="'GATHERING_LOCATIONS.Fish_eyes' | translate">
                    <div
                      *ngIf="node.itemId | fishEyesDuration as duration" nz-tooltip
                      [nzTitle]="'GATHERING_LOCATIONS.Fish_eyes_duration' | translate">{{'COMMON.Minutes_duration' | translate: { amount: duration } }}</div>
                  </div>
                  <img *ngIf="node.snagging" src="./assets/icons/status/snagging.png" alt="" nz-tooltip
                       [nzTitle]="'GATHERING_LOCATIONS.Snagging' | translate">
                </div>

                <div fxLayout="row wrap" fxLayoutGap="5px">
                  <span *ngIf="node.slot !== undefined">Slot {{node.slot}}</span>
                  <span *ngIf="node.timed !== undefined">
                    <i *ngFor="let time of node.time">
                      {{time}}:00 - {{getDespawnTime(time, node.uptime)}}:00
                    </i>
                  </span>
                </div>
                <ng-container *ngIf="(generateAlarm(node) | alarmDisplay | async) as alarm">
                  <div [class.spawned-timer]="alarm.spawned"
                       [class.played-timer]="alarm.played"
                       *ngIf="alarm.remainingTime"
                       fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                    <div>{{ (alarm.spawned ? 'GATHERING_LOCATIONS.Spawned_for' : 'GATHERING_LOCATIONS.Will_spawn_in') | translate : { timer: (alarm.remainingTime | timer) } }}</div>
                    <ng-container>
                      <div *ngIf="canCreateAlarm(alarm.alarm) | async; else alarmCreated" fxLayout="row"
                           fxLayoutGap="5px">
                        <button nz-button nzShape="circle" nzSize="small" (click)="addAlarm(alarm.alarm)" nz-tooltip
                                [nzTitle]="'ALARMS.Add_alarm' | translate">
                          <i nz-icon nzType="clock-circle"> </i>
                        </button>
                        <ng-container *ngIf="alarmGroups$ | async as groups">
                          <ng-container *ngIf="groups.length > 0">
                            <nz-dropdown *ngIf="alarmsLoaded$ | async" [nzPlacement]="'bottomCenter'">
                              <button nz-button nzShape="circle" nzSize="small" nz-dropdown>
                                <i nz-icon nzType="folder-open"></i>
                              </button>
                              <ul nz-menu>
                                <li nz-menu-item *ngFor="let group of groups" (click)="addAlarm(alarm.alarm, group)">
                                  {{group.name}}
                                </li>
                              </ul>
                            </nz-dropdown>
                          </ng-container>
                        </ng-container>
                      </div>
                      <ng-template #alarmCreated>
                        {{'ALARMS.Alarm_already_created' | translate}}
                      </ng-template>
                    </ng-container>
                  </div>
                </ng-container>
                <div *ngIf="node.weathersFrom !== undefined" fxLayout="row wrap" fxLayoutGap="5px">
                  <div *ngFor="let weather of node.weathersFrom">
                    <img [src]="weather | weatherIcon" alt="{{weather | weatherName | i18n}}" nz-tooltip
                         [nzTitle]="weather | weatherName | i18n">
                  </div>
                </div>
                <div *ngIf="node.weathersFrom !== undefined">
                  <i nz-icon nzType="right" theme="outline"></i>
                </div>
                <div *ngIf="node.weathers !== undefined" fxLayout="row wrap" fxLayoutGap="5px">
                  <div *ngFor="let weather of node.weathers">
                    <img [src]="weather | weatherIcon" alt="{{weather | weatherName | i18n}}" nz-tooltip
                         [nzTitle]="weather | weatherName | i18n">
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #openMap>
              <div fxLayout="column" fxLayoutAlign="flex-end flex-end">
                <app-map-position [marker]="{x:node.x, y: node.y}"
                                  [mapId]="node.mapId"
                                  [zoneId]="node.zoneid"></app-map-position>
                <div
                  *ngIf="node.mapId | closestAetheryte: { x: node.x, y: node.y } | async as aetheryte"
                  class="closest-tp">
                  <img src="./assets/icons/Aetheryte.png" alt="" class="aetheryte-icon">
                  {{aetheryte.nameid | placeName | i18n}}
                </div>
                <ng-container *ngIf="node.baits !== undefined">
                  <app-fishing-bait [baits]="node.baits"></app-fishing-bait>
                </ng-container>
                <div *ngIf="node.gig">
                  <img src="./assets/icons/gig/{{node.gig}}.png" nz-tooltip class="gig-icon"
                       [nzTitle]="('GATHERING_LOCATIONS.GIG_HEAD.' + node.gig) | translate">
                  <img *ngIf="node.hookset" src="./assets/icons/hookset/{{node.hookset}}.png" nz-tooltip class="gig-icon"
                       [nzTitle]="(node.hookset === 'precision'? 4179 : 4103) | actionName | i18n">
                </div>
                <div *ngIf="node.predators && node.predators.length > 0" fxLayout="row" fxLayoutGap="10px"
                     fxLayoutAlign="flex-start center">
                  <img src="./assets/icons/status/predators.png" alt="" nz-tooltip
                       [nzTitle]="'GATHERING_LOCATIONS.Predators' | translate">
                  <div *ngFor="let predator of node.predators" fxLayout="row" fxLayoutGap="5px"
                       fxLayoutAlign="flex-start center">
                    <div>{{predator.amount}}x</div>
                    <app-item-icon [width]="32" [icon]="predator.icon" [itemId]="predator.id"
                                   [tooltipDisabled]="true" [appFishTooltip]="predator.id"></app-item-icon>
                  </div>
                </div>
              </div>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-card>
</div>
