.send-button {
    height: 100%;
}

.chat-container {
    display: flex;
    height: calc(80vh - 100px);
    // The rest of the style is inde theme.scss file because it uses dynamic colors based on current theme.
}

.chat-warning {
    width: 100%;
    font-weight: bold;
    opacity: .8;
}

.textarea-form {
    display: flex;
    flex: 1 1 auto;
    mat-form-field {
        width: 100%;
        .textarea-input {
            resize: none;
            border: none;
            flex: 1 1 auto;
        }
    }
}
