:host {
    .loader-container {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 200px;
    }

    .portrait-container {
        width: 100%;
        .change-character {
            position: absolute;
            top: 5px;
            right: 32px;
        }
        .portrait {
            top: 0;
            width: 100%;
        }
    }

    .profile-card {
        width: 100%;
        height: 100%;
    }

    .patreon-badge {
        height: 40px;
    }

    .patreon-button {
        width: auto;
    }

    .job-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        .job-icon {
            height: 40px;
            width: 40px;
        }
    }

    .patreon-card-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .user-id {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}
