<h2 mat-dialog-title>{{data.id | itemName | i18n}}</h2>
<div mat-dialog-content>
    <mat-list *ngFor="let tradeSource of data.tradeSources">
        <h3 mat-subheader>{{tradeSource.npcId | npcName | i18n}} - {{tradeSource.zoneId | placeName | i18n}}</h3>
        <mat-list-item *ngFor="let trade of tradeSource.trades">
            <div class="trade-part">
                <app-item-icon [item]="{icon: trade.currencyIcon, id: trade.currencyId}"></app-item-icon>
                {{trade.currencyAmount}}
            </div>
            <mat-icon>arrow_forward</mat-icon>
            <div class="trade-part">
                <app-item-icon [item]="{icon: trade.itemIcon, HQ: trade.itemHQ, id: trade.itemId}"></app-item-icon>
                {{trade.itemAmount}}
            </div>
            <div class="trade-part">
                ({{'X_for_total' | translate: {amount: getTotal(trade)} }})
            </div>
        </mat-list-item>
    </mat-list>
</div>
