.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.crystal-row {
    display: inline-block;
    text-align: center;
    .crystal {
        margin: 0 5px;
        width: 40px;
        border-radius: 40px;
    }
}

md-expansion-panel {
    margin: 10px 0;
}

.filters {
    display: flex;
    flex-direction: column;
    md-input-container {
        width: auto !important;
    }
    .class-filters {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;

        // Wrapper around each individual filter
        .class-filter {
            min-width: 96px;
        }

        // Checkbox
        .filter {
            margin: 0 5px;
        }
        .filter_icons {
            height: 30px;
            vertical-align: middle;
        }
    }
}
