@if (mapData$ | async; as map) {
  <div class="map-container">
    @if (!hideDbButton) {
      <app-db-button [id]="mapId" class="db-button" type="map"></app-db-button>
    }
    <img (load)="loaded.emit()" alt="" class="map-image" src="{{map.image}}">
    @for (aetheryte of map.aetherytes; track aetheryte) {
      <img [ngStyle]="getMarkerStyle(map, aetheryte, true)"
        [src]="getIcon(aetheryte.type)" alt="" class="aetheryte" [class.small]="small"
        nz-tooltip nzTooltipTitle="{{(aetheryte.id | aetheryteName | i18n) || (aetheryte?.nameid | i18nRow:'places' | i18n)}}">
    }
    @if (unknownPosition) {
      <div class="unknown-position">
        {{emptyMessage | translate}}
      </div>
    }
    @for (marker of markers; track trackByMarker($index, marker)) {
      @if (marker.x || marker.y) {
        @if (!marker.iconType || (marker.iconType === 'img' && !marker.iconImg)) {
          <i
            [ngStyle]="getMarkerStyle(map, marker)"
            [nzTooltipTitle]="marker.tooltip || 'X: ' + (marker.x | number: '1.0-1') + ' - Y: ' + (marker.y | number: '1.0-1')"
            [routerLink]="marker.link"
            class="marker material-icons default-marker"
            [class.small]="small" nz-tooltip>
            location_on
          </i>
        }
        @if (marker.radius) {
          <img src="./assets/icons/map/circle.png" alt=""
            [ngStyle]="getRadiusStyle(map, marker)"
            class="radius">
        }
        @if (marker.iconType === 'img') {
          <img [ngStyle]="getMarkerStyle(map, marker)"
            [nzTooltipTitle]="marker.tooltip || 'X: ' + (marker.x | number: '1.0-1') + ' - Y: ' + (marker.y | number: '1.0-1')"
            [routerLink]="marker.link"
            [src]="marker.iconImg"
            alt=""
            class="marker" nz-tooltip>
        }
        @if (marker.iconType === 'ant') {
          <i [ngStyle]="getMarkerStyle(map, marker)"
            [nzTooltipTitle]="marker.tooltip || 'X: ' + (marker.x | number: '1.0-1') + ' - Y: ' + (marker.y | number: '1.0-1')"
            [routerLink]="marker.link"
            [type]="marker.nzIcon"
            class="marker"
          nz-icon nz-tooltip></i>
        }
        @if (marker.iconType === 'material') {
          <i
            [ngStyle]="getMarkerStyle(map, marker)"
            [nzTooltipTitle]="marker.tooltip || 'X: ' + (marker.x | number: '1.0-1') + ' - Y: ' + (marker.y | number: '1.0-1')"
            [routerLink]="marker.link"
            class="marker material-icons" nz-tooltip>
            {{marker.materialIcon}}
          </i>
        }
        @if (marker.subtitle) {
          <div class="marker subtitle" [ngStyle]="getSubtitleStyle(map, marker)">{{marker.subtitle}}</div>
        }
      }
    }
  </div>
}
