<div class="map-container" *ngIf="mapData | async as map">
  <img src="{{map.image}}" alt="" class="map-image">
  <mat-icon
    *ngFor="let marker of markers"
    class="marker"
    [ngStyle]="getPosition(map, marker)">
    location_on
  </mat-icon>
  <img *ngFor="let aetheryte of map.aetherytes" [src]="getIcon(aetheryte.type)"
       alt="" class="aetheryte" [ngStyle]="getPosition(map, aetheryte, {x:-2,y:-2})"
       matTooltip="{{aetheryte.nameid | placeName | i18n}}" matTooltipPosition="above">
</div>
