<div class="map-container" *ngIf="mapData | async as map">
  <img src="{{map.image}}" alt="" class="map-image" (load)="loaded.emit()">
  <i
    *ngFor="let marker of markers"
    class="marker material-icons"
    [ngStyle]="getMarkerPosition(map, marker)">
    location_on
  </i>
  <img *ngFor="let aetheryte of map.aetherytes" [src]="getIcon(aetheryte.type)"
       alt="" class="aetheryte" [ngStyle]="getMarkerPosition(map, aetheryte, {x:-2,y:-2})"
       nz-tooltip nzTitle="{{aetheryte.nameid | placeName | i18n}}">
</div>
