<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2>{{'CURRENCY_SPENDING.Title' | translate}}</h2>
    <i>{{'CURRENCY_SPENDING.Description' | translate}}</i>
  </div>
  <div fxLayout="row" fxLayoutGap="5px" class="currency-select">
    <nz-select
      (ngModelChange)="currency$.next($event)"
      [ngModel]="null"
      [nzPlaceHolder]="'CURRENCY_SPENDING.Pick_currency' | translate"
      class="currency-picker"
      nzShowSearch>
      @for (currency of currencies$ | async; track currency) {
        <nz-option [nzLabel]="currency | itemName | i18n"
          [nzValue]="currency"
          nzCustomContent>
          <div [title]="currency | itemName | i18n" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
            <img [src]="currency | lazyIcon" alt="" class="currency-icon">
            <div>
              <app-i18n-name [id]="currency" content="items"></app-i18n-name>
            </div>
          </div>
        </nz-option>
      }
    </nz-select>
    <nz-input-number (ngModelChange)="amount$.next($event)" [ngModel]="amount$ | async" [nzPlaceHolder]="'COMMON.Amount' | translate"
    [nzStep]="1" [nzMin]="0"></nz-input-number>
    <nz-select
      (ngModelChange)="server$.next($event)"
      [ngModel]="server$ | async"
      [nzPlaceHolder]="'Server_name' | translate"
      class="server-picker"
      nzShowSearch
      >
      @for (server of servers$ | async; track server) {
        <nz-option [nzLabel]="server"
          [nzValue]="server">
        </nz-option>
      }
    </nz-select>
  </div>
</div>


@if (loading) {
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" class="loader">
    <div>{{loadedPrices}} / {{tradesCount}}</div>
    <div>
      @if (tradesCount === 0) {
        <span>{{'CURRENCY_SPENDING.Loading_data' | translate}}</span>
      }
      @if (tradesCount > 0) {
        <span>{{'CURRENCY_SPENDING.Loading_universalis' | translate:{ amount: tradesCount } }}</span>
      }
    </div>
    <nz-progress nzStatus="active" [nzPercent]="(100 * loadedPrices / tradesCount) | floor"></nz-progress>
  </div>
}

@if (results$ | async; as results) {
  @if (!loading) {
    <nz-table #currencySpendingTable [nzData]="results" [nzNoResult]="noTrades" class="spending-table" nzSize="small">
      <ng-template #noTrades>
        <nz-empty [nzNotFoundContent]="'CURRENCY_SPENDING.No_trades' | translate"></nz-empty>
      </ng-template>
      <thead (nzSortOrderChange)="sort($event)">
        <tr>
          <th>Name</th>
          <th nzShowSort [nzSortFn]="true" nzColumnKey="amount">{{ 'CURRENCY_SPENDING.You_can_buy' | translate }}</th>
          <th nzShowSort [nzSortFn]="true" nzColumnKey="exchangeRate">{{ 'CURRENCY_SPENDING.Exchange_rate' | translate }}</th>
          <th nzShowSort [nzSortFn]="true" nzColumnKey="price">
            {{ 'CURRENCY_SPENDING.Price' | translate }}
            <app-item-icon [icon]="1 | lazyIcon" [itemId]="1" [width]="32"></app-item-icon>
          </th>
          <th nzShowSort [nzSortFn]="true" nzColumnKey="total">
            {{ 'CURRENCY_SPENDING.Total_earnings' | translate }}
            <app-item-icon [icon]="1 | lazyIcon" [itemId]="1" [width]="32"></app-item-icon>
          </th>
          <th nzShowSort [nzSortFn]="true" nzColumnKey="amountSoldLastWeek">{{ 'CURRENCY_SPENDING.Sold_last_week' | translate }}</th>
          <th>{{ 'CURRENCY_SPENDING.Npc' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (item of currencySpendingTable.data; track item) {
          <tr>
            <td fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
              <app-item-icon [hq]="item.HQ" [icon]="item.item | lazyIcon" [itemId]="item.item"
              [width]="32"></app-item-icon>
              <app-i18n-name [id]="item.item" content="items"></app-i18n-name>
              <app-db-button [id]="item.item" type="item"></app-db-button>
              <app-marketboard-icon [itemId]="item.item" [showHistory]="true"></app-marketboard-icon>
            </td>
            <td>{{ item.amount | number }}</td>
            <td>{{ item.exchangeRate | number }}</td>
            <td>{{ item.price | number }}</td>
            <td>{{ item.total | number }}</td>
            <td>{{ item.amountSoldLastWeek }}</td>
            <td>
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <div>{{item.npcs[0] | i18nRow:'npcs' | i18n}}</div>
                <app-db-button [id]="item.npcs[0]" type="npc"></app-db-button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  }
}
