.map-container {
    position: relative;
    max-width: 700px;
    .map-image {
        width: 100%;
    }
    .marker {
        position: absolute;
        color: white;
        transform: translate(-50%, -100%);
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }
    .aetheryte {
        position: absolute;
    }
}
