.not-found {
    width: 100%;
    text-align: center;
    h3 {
        font-size: 40px;
        opacity: .7;
    }
}

.list-row {
    margin: 10px 0;
    .link-row {
        display: flex !important;
        align-items: center;
        > * {
            margin: 0 10px;
        }
    }
}

.add-link {
    margin-top: 20px;
}
